.d_1_Inner-2_1
{
position:absolute;
overflow:hidden;
left:0px;
top:0px;
transform:translate(0.00px,0.00px);
-webkit-transform:translate(0.00px,0.00px);
-ms-transform:translate(0.00px,0.00px);
-o-transform:translate(0.00px,0.00px);
-moz-transform:translate(0.00px,0.00px);
width:612.28px;
height:841.89px
}
.d_1_Inner-2_2
{
position:absolute;
overflow:hidden;
left:0px;
top:0px;
transform:translate(612px,0.00px);
-webkit-transform:translate(612px,0.00px);
-ms-transform:translate(612px,0.00px);
-o-transform:translate(612px,0.00px);
-moz-transform:translate(612px,0.00px);
width:595.28px;
height:841.89px
}
.d_1_Inner-2_3
{
width:10465.92px;
height:13462.16px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.45px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.45px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.45px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.45px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.45px) rotate(0deg) scale(0.05);
}
.s_1_Inner-2_4
{
position:absolute;
top:-16.5px;
left:0px;
letter-spacing:-0.44px;
}
.s_1_Inner-2_5
{
position:absolute;
top:-16.5px;
left:906.83px;
letter-spacing:-0.9px;
}
.s_1_Inner-2_6
{
position:absolute;
top:-16.5px;
left:1834.34px;
letter-spacing:-0.81px;
}
.s_1_Inner-2_7
{
position:absolute;
top:-16.5px;
left:2762.28px;
letter-spacing:-1.19px;
}
.s_1_Inner-2_8
{
position:absolute;
top:-16.5px;
left:3427.78px;
letter-spacing:-1.58px;
}
.s_1_Inner-2_9
{
position:absolute;
top:-16.5px;
left:4044.21px;
}
.s_1_Inner-2_10
{
position:absolute;
top:-16.5px;
left:4676.7px;
letter-spacing:-1.35px;
}
.s_1_Inner-2_11
{
position:absolute;
top:-16.5px;
left:5402.46px;
}
.s_1_Inner-2_12
{
position:absolute;
top:-16.5px;
left:5462.3px;
letter-spacing:0px;
}
.s_1_Inner-2_13
{
position:absolute;
top:-16.5px;
left:5766.99px;
letter-spacing:0px;
}
.s_1_Inner-2_14
{
position:absolute;
top:-16.5px;
left:7016.79px;
letter-spacing:0px;
}
.s_1_Inner-2_15
{
position:absolute;
top:-16.5px;
left:7672.16px;
letter-spacing:-2.27px;
}
.s_1_Inner-2_16
{
position:absolute;
top:-16.5px;
left:7929.34px;
letter-spacing:0px;
}
.s_1_Inner-2_17
{
position:absolute;
top:-16.5px;
left:8743.11px;
letter-spacing:-0.26px;
}
.s_1_Inner-2_18
{
position:absolute;
top:363.5px;
left:0px;
}
.s_1_Inner-2_19
{
position:absolute;
top:363.5px;
left:1040.14px;
letter-spacing:-2.2px;
}
.s_1_Inner-2_20
{
position:absolute;
top:363.5px;
left:1383.11px;
}
.s_1_Inner-2_21
{
position:absolute;
top:363.5px;
left:2168.94px;
}
.s_1_Inner-2_22
{
position:absolute;
top:363.5px;
left:2275.85px;
}
.s_1_Inner-2_23
{
position:absolute;
top:363.5px;
left:2541.17px;
}
.s_1_Inner-2_24
{
position:absolute;
top:363.5px;
left:2727.06px;
letter-spacing:-0.64px;
}
.s_1_Inner-2_25
{
position:absolute;
top:363.5px;
left:3692.19px;
}
.s_1_Inner-2_26
{
position:absolute;
top:363.5px;
left:3996.88px;
letter-spacing:-0.66px;
}
.s_1_Inner-2_27
{
position:absolute;
top:363.5px;
left:4994.13px;
}
.s_1_Inner-2_28
{
position:absolute;
top:363.5px;
left:5255.7px;
letter-spacing:0px;
}
.s_1_Inner-2_29
{
position:absolute;
top:363.5px;
left:6174.63px;
letter-spacing:0px;
}
.s_1_Inner-2_30
{
position:absolute;
top:363.5px;
left:6607.14px;
}
.s_1_Inner-2_31
{
position:absolute;
top:363.5px;
left:7469.75px;
letter-spacing:0px;
}
.s_1_Inner-2_32
{
position:absolute;
top:363.5px;
left:7932.84px;
letter-spacing:0px;
}
.s_1_Inner-2_33
{
position:absolute;
top:363.5px;
left:8146.45px;
letter-spacing:-0.88px;
}
.s_1_Inner-2_34
{
position:absolute;
top:363.5px;
left:8660.8px;
}
.s_1_Inner-2_35
{
position:absolute;
top:363.5px;
left:9392.07px;
letter-spacing:0px;
}
.s_1_Inner-2_36
{
position:absolute;
top:743.5px;
left:0px;
text-rendering:optimizeLegibility;
letter-spacing:-0.69px;
}
.s_1_Inner-2_37
{
position:absolute;
top:1180.19px;
left:0px;
letter-spacing:-0.38px;
}
.s_1_Inner-2_38
{
position:absolute;
top:1180.19px;
left:425.7px;
}
.s_1_Inner-2_39
{
position:absolute;
top:1180.19px;
left:847.43px;
}
.s_1_Inner-2_40
{
position:absolute;
top:1180.19px;
left:1061.05px;
}
.s_1_Inner-2_41
{
position:absolute;
top:1180.19px;
left:1326.36px;
letter-spacing:-0.75px;
}
.s_1_Inner-2_42
{
position:absolute;
top:1180.19px;
left:1932.89px;
letter-spacing:-3.3px;
}
.s_1_Inner-2_43
{
position:absolute;
top:1180.19px;
left:2512.15px;
letter-spacing:-1.19px;
}
.s_1_Inner-2_44
{
position:absolute;
top:1180.19px;
left:3044.32px;
}
.s_1_Inner-2_45
{
position:absolute;
top:1180.19px;
left:3424.91px;
}
.s_1_Inner-2_46
{
position:absolute;
top:1180.19px;
left:4502.89px;
letter-spacing:0px;
}
.s_1_Inner-2_47
{
position:absolute;
top:1180.19px;
left:5331.4px;
letter-spacing:-2.27px;
}
.s_1_Inner-2_48
{
position:absolute;
top:1180.19px;
left:5588.58px;
letter-spacing:-1.58px;
}
.s_1_Inner-2_49
{
position:absolute;
top:1180.19px;
left:6055.41px;
}
.s_1_Inner-2_50
{
position:absolute;
top:1180.19px;
left:6918.02px;
letter-spacing:0px;
}
.s_1_Inner-2_51
{
position:absolute;
top:1180.19px;
left:7183.33px;
letter-spacing:-0.44px;
}
.s_1_Inner-2_52
{
position:absolute;
top:1180.19px;
left:8392.64px;
}
.s_1_Inner-2_53
{
position:absolute;
top:1180.19px;
left:9258.99px;
letter-spacing:-0.66px;
}
.s_1_Inner-2_54
{
position:absolute;
top:1560.19px;
left:0px;
}
.s_1_Inner-2_55
{
position:absolute;
top:1560.19px;
left:463.09px;
letter-spacing:-0.22px;
}
.s_1_Inner-2_56
{
position:absolute;
top:1560.19px;
left:1689.14px;
}
.s_1_Inner-2_57
{
position:absolute;
top:1560.19px;
left:2073.47px;
letter-spacing:-0.63px;
}
.s_1_Inner-2_58
{
position:absolute;
top:1560.19px;
left:2838.83px;
}
.s_1_Inner-2_59
{
position:absolute;
top:1560.19px;
left:3100.41px;
}
.s_1_Inner-2_60
{
position:absolute;
top:1560.19px;
left:3645.78px;
}
.s_1_Inner-2_61
{
position:absolute;
top:1560.19px;
left:4035.17px;
letter-spacing:-2.27px;
}
.s_1_Inner-2_62
{
position:absolute;
top:1560.19px;
left:4288.61px;
}
.s_1_Inner-2_63
{
position:absolute;
top:1560.19px;
left:4672.94px;
}
.s_1_Inner-2_64
{
position:absolute;
top:1560.19px;
left:5094.45px;
}
.s_1_Inner-2_65
{
position:absolute;
top:1560.19px;
left:5526.96px;
letter-spacing:-1.04px;
}
.s_1_Inner-2_66
{
position:absolute;
top:1560.19px;
left:6234.69px;
letter-spacing:0px;
}
.s_1_Inner-2_67
{
position:absolute;
top:1560.19px;
left:6697.78px;
letter-spacing:0px;
}
.s_1_Inner-2_68
{
position:absolute;
top:1560.19px;
left:7635.63px;
}
.s_1_Inner-2_69
{
position:absolute;
top:1560.19px;
left:8283.52px;
letter-spacing:-1.48px;
}
.s_1_Inner-2_70
{
position:absolute;
top:1560.19px;
left:8668.07px;
letter-spacing:-0.2px;
}
.s_1_Inner-2_71
{
position:absolute;
top:1560.19px;
left:9718.34px;
letter-spacing:-0.19px;
}
.s_1_Inner-2_72
{
position:absolute;
top:1940.19px;
left:0px;
}
.s_1_Inner-2_73
{
position:absolute;
top:1940.19px;
left:234.08px;
}
.s_1_Inner-2_74
{
position:absolute;
top:1940.19px;
left:789.12px;
letter-spacing:-1.72px;
}
.s_1_Inner-2_75
{
position:absolute;
top:1940.19px;
left:1319.32px;
}
.s_1_Inner-2_76
{
position:absolute;
top:1940.19px;
left:1624.01px;
}
.s_1_Inner-2_77
{
position:absolute;
top:1940.19px;
left:2739.18px;
letter-spacing:-0.91px;
}
.s_1_Inner-2_78
{
position:absolute;
top:1940.19px;
left:4126.7px;
letter-spacing:-0.59px;
}
.s_1_Inner-2_79
{
position:absolute;
top:1940.19px;
left:4323.59px;
letter-spacing:0px;
}
.s_1_Inner-2_80
{
position:absolute;
top:1940.19px;
left:5775.79px;
letter-spacing:-2.75px;
}
.s_1_Inner-2_81
{
position:absolute;
top:1940.19px;
left:5951.35px;
letter-spacing:-0.99px;
}
.s_1_Inner-2_82
{
position:absolute;
top:1940.19px;
left:6544.9px;
letter-spacing:-0.55px;
}
.s_1_Inner-2_83
{
position:absolute;
top:1940.19px;
left:7468.88px;
letter-spacing:-0.66px;
}
.s_1_Inner-2_84
{
position:absolute;
top:1940.19px;
left:8469.87px;
letter-spacing:-3.01px;
}
.s_1_Inner-2_85
{
position:absolute;
top:1940.19px;
left:8786.88px;
letter-spacing:-0.38px;
}
.s_1_Inner-2_86
{
position:absolute;
top:1940.19px;
left:9517.71px;
letter-spacing:0px;
}
.s_1_Inner-2_87
{
position:absolute;
top:1940.19px;
left:10183.64px;
letter-spacing:-2.75px;
}
.s_1_Inner-2_88
{
position:absolute;
top:2320.19px;
left:0px;
letter-spacing:-0.53px;
}
.s_1_Inner-2_89
{
position:absolute;
top:2320.19px;
left:568.25px;
}
.s_1_Inner-2_90
{
position:absolute;
top:2756.88px;
left:0px;
}
.s_1_Inner-2_91
{
position:absolute;
top:2756.88px;
left:535.25px;
}
.s_1_Inner-2_92
{
position:absolute;
top:2756.88px;
left:1090.52px;
}
.s_1_Inner-2_93
{
position:absolute;
top:2756.88px;
left:1307.87px;
letter-spacing:-1.1px;
}
.s_1_Inner-2_94
{
position:absolute;
top:2756.88px;
left:1939.05px;
}
.s_1_Inner-2_95
{
position:absolute;
top:2756.88px;
left:2199.08px;
letter-spacing:-0.41px;
}
.s_1_Inner-2_96
{
position:absolute;
top:2756.88px;
left:2984.91px;
}
.s_1_Inner-2_97
{
position:absolute;
top:2756.88px;
left:3873.03px;
letter-spacing:-1.54px;
}
.s_1_Inner-2_98
{
position:absolute;
top:2756.88px;
left:4256.49px;
letter-spacing:-0.49px;
}
.s_1_Inner-2_99
{
position:absolute;
top:2756.88px;
left:5288.05px;
letter-spacing:0px;
}
.s_1_Inner-2_100
{
position:absolute;
top:2756.88px;
left:6697.35px;
letter-spacing:-1.05px;
}
.s_1_Inner-2_101
{
position:absolute;
top:2756.88px;
left:7494.17px;
letter-spacing:-1.08px;
}
.s_1_Inner-2_102
{
position:absolute;
top:2756.88px;
left:8677.09px;
letter-spacing:-0.75px;
}
.s_1_Inner-2_103
{
position:absolute;
top:2756.88px;
left:9033.92px;
}
.s_1_Inner-2_104
{
position:absolute;
top:2756.88px;
left:9616.48px;
letter-spacing:-0.55px;
}
.s_1_Inner-2_105
{
position:absolute;
top:3136.88px;
left:0px;
}
.s_1_Inner-2_106
{
position:absolute;
top:3136.88px;
left:1099.98px;
}
.s_1_Inner-2_107
{
position:absolute;
top:3136.88px;
left:1448.01px;
}
.s_1_Inner-2_108
{
position:absolute;
top:3136.88px;
left:1647.11px;
letter-spacing:-0.74px;
}
.s_1_Inner-2_109
{
position:absolute;
top:3136.88px;
left:2400.16px;
}
.s_1_Inner-2_110
{
position:absolute;
top:3136.88px;
left:2824.31px;
}
.s_1_Inner-2_111
{
position:absolute;
top:3136.88px;
left:3611.46px;
letter-spacing:-1.19px;
}
.s_1_Inner-2_112
{
position:absolute;
top:3136.88px;
left:4147.37px;
}
.s_1_Inner-2_113
{
position:absolute;
top:3136.88px;
left:4806.7px;
}
.s_1_Inner-2_114
{
position:absolute;
top:3136.88px;
left:5072.01px;
letter-spacing:-0.92px;
}
.s_1_Inner-2_115
{
position:absolute;
top:3136.88px;
left:5609.24px;
text-rendering:optimizeLegibility;
letter-spacing:0px;
}
.s_1_Inner-2_116
{
position:absolute;
top:3136.88px;
left:6423.23px;
letter-spacing:-0.56px;
}
.s_1_Inner-2_117
{
position:absolute;
top:3136.88px;
left:7288.91px;
letter-spacing:-0.38px;
}
.s_1_Inner-2_118
{
position:absolute;
top:3136.88px;
left:7714.61px;
letter-spacing:-1.17px;
}
.s_1_Inner-2_119
{
position:absolute;
top:3136.88px;
left:8224.34px;
letter-spacing:-2.27px;
}
.s_1_Inner-2_120
{
position:absolute;
top:3136.88px;
left:8481.52px;
letter-spacing:-0.63px;
}
.s_1_Inner-2_121
{
position:absolute;
top:3136.88px;
left:9301.67px;
letter-spacing:0px;
}
.s_1_Inner-2_122
{
position:absolute;
top:3136.88px;
left:9519.02px;
letter-spacing:-0.74px;
}
.s_1_Inner-2_123
{
position:absolute;
top:3516.88px;
left:0px;
}
.s_1_Inner-2_124
{
position:absolute;
top:3516.88px;
left:261.57px;
}
.s_1_Inner-2_125
{
position:absolute;
top:3516.88px;
left:645.9px;
letter-spacing:-0.55px;
}
.s_1_Inner-2_126
{
position:absolute;
top:3516.88px;
left:1566.15px;
letter-spacing:-0.19px;
}
.s_1_Inner-2_127
{
position:absolute;
top:3516.88px;
left:2279.38px;
}
.s_1_Inner-2_128
{
position:absolute;
top:3516.88px;
left:2509.71px;
}
.s_1_Inner-2_129
{
position:absolute;
top:3516.88px;
left:2894.05px;
}
.s_1_Inner-2_130
{
position:absolute;
top:3516.88px;
left:3502.99px;
letter-spacing:-0.64px;
}
.s_1_Inner-2_131
{
position:absolute;
top:3516.88px;
left:4586.47px;
letter-spacing:0px;
}
.s_1_Inner-2_132
{
position:absolute;
top:3516.88px;
left:5648.83px;
letter-spacing:-1.72px;
}
.s_1_Inner-2_133
{
position:absolute;
top:3516.88px;
left:6179.03px;
}
.s_1_Inner-2_134
{
position:absolute;
top:3516.88px;
left:6732.98px;
letter-spacing:-0.78px;
}
.s_1_Inner-2_135
{
position:absolute;
top:3516.88px;
left:7765.87px;
letter-spacing:0px;
}
.s_1_Inner-2_136
{
position:absolute;
top:3516.88px;
left:8031.18px;
letter-spacing:-1.54px;
}
.s_1_Inner-2_137
{
position:absolute;
top:3516.88px;
left:8624.73px;
}
.s_1_Inner-2_138
{
position:absolute;
top:3516.88px;
left:9488px;
}
.s_1_Inner-2_139
{
position:absolute;
top:3516.88px;
left:9873.44px;
letter-spacing:0px;
}
.s_1_Inner-2_140
{
position:absolute;
top:3896.88px;
left:0px;
}
.s_1_Inner-2_141
{
position:absolute;
top:4333.58px;
left:0px;
letter-spacing:-0.38px;
}
.s_1_Inner-2_142
{
position:absolute;
top:4333.58px;
left:425.7px;
letter-spacing:-1.19px;
}
.s_1_Inner-2_143
{
position:absolute;
top:4333.58px;
left:1091.19px;
letter-spacing:-1.58px;
}
.s_1_Inner-2_144
{
position:absolute;
top:4333.58px;
left:1707.62px;
}
.s_1_Inner-2_145
{
position:absolute;
top:4333.58px;
left:2340.11px;
letter-spacing:-1.58px;
}
.s_1_Inner-2_146
{
position:absolute;
top:4333.58px;
left:3013.29px;
}
.s_1_Inner-2_147
{
position:absolute;
top:4333.58px;
left:3073.13px;
}
.s_1_Inner-2_148
{
position:absolute;
top:4333.58px;
left:3728.5px;
letter-spacing:-0.62px;
}
.s_1_Inner-2_149
{
position:absolute;
top:4333.58px;
left:4441.95px;
letter-spacing:-3.3px;
}
.s_1_Inner-2_150
{
position:absolute;
top:4333.58px;
left:5021.21px;
letter-spacing:-1.19px;
}
.s_1_Inner-2_151
{
position:absolute;
top:4333.58px;
left:5557.12px;
letter-spacing:0px;
}
.s_1_Inner-2_152
{
position:absolute;
top:4333.58px;
left:5974.01px;
}
.s_1_Inner-2_153
{
position:absolute;
top:4333.58px;
left:7253.29px;
letter-spacing:-0.26px;
}
.s_1_Inner-2_154
{
position:absolute;
top:4333.58px;
left:8392.65px;
letter-spacing:0px;
}
.s_1_Inner-2_155
{
position:absolute;
top:4333.58px;
left:8654.89px;
letter-spacing:0px;
}
.s_1_Inner-2_156
{
position:absolute;
top:4713.58px;
left:0px;
letter-spacing:-0.51px;
}
.s_1_Inner-2_157
{
position:absolute;
top:4713.58px;
left:978.76px;
}
.s_1_Inner-2_158
{
position:absolute;
top:4713.58px;
left:2286.65px;
}
.s_1_Inner-2_159
{
position:absolute;
top:4713.58px;
left:3152.99px;
}
.s_1_Inner-2_160
{
position:absolute;
top:4713.58px;
left:3585.51px;
letter-spacing:-0.76px;
}
.s_1_Inner-2_161
{
position:absolute;
top:4713.58px;
left:5219.42px;
letter-spacing:-0.59px;
}
.s_1_Inner-2_162
{
position:absolute;
top:4713.58px;
left:5416.31px;
letter-spacing:-0.66px;
}
.s_1_Inner-2_163
{
position:absolute;
top:4713.58px;
left:6308.18px;
}
.s_1_Inner-2_164
{
position:absolute;
top:4713.58px;
left:6869.61px;
letter-spacing:-0.87px;
}
.s_1_Inner-2_165
{
position:absolute;
top:4713.58px;
left:8252.72px;
letter-spacing:-0.12px;
}
.s_1_Inner-2_166
{
position:absolute;
top:4713.58px;
left:9351.38px;
}
.s_1_Inner-2_167
{
position:absolute;
top:5093.58px;
left:0px;
letter-spacing:-0.99px;
}
.s_1_Inner-2_168
{
position:absolute;
top:5093.58px;
left:683.31px;
}
.s_1_Inner-2_169
{
position:absolute;
top:5093.58px;
left:1067.64px;
letter-spacing:-0.66px;
}
.s_1_Inner-2_170
{
position:absolute;
top:5093.58px;
left:2068.63px;
}
.s_1_Inner-2_171
{
position:absolute;
top:5093.58px;
left:2282.9px;
text-rendering:optimizeLegibility;
}
.s_1_Inner-2_172
{
position:absolute;
top:5093.58px;
left:3054.65px;
}
.s_1_Inner-2_173
{
position:absolute;
top:5093.58px;
left:3483.42px;
}
.s_1_Inner-2_174
{
position:absolute;
top:5093.58px;
left:3867.75px;
letter-spacing:-0.15px;
}
.s_1_Inner-2_175
{
position:absolute;
top:5093.58px;
left:4795.7px;
letter-spacing:-1.48px;
}
.s_1_Inner-2_176
{
position:absolute;
top:5093.58px;
left:5180.25px;
letter-spacing:-0.53px;
}
.s_1_Inner-2_177
{
position:absolute;
top:5093.58px;
left:5833.2px;
letter-spacing:-0.1px;
}
.s_1_Inner-2_178
{
position:absolute;
top:5093.58px;
left:7079.03px;
}
.s_1_Inner-2_179
{
position:absolute;
top:5093.58px;
left:7309.37px;
}
.s_1_Inner-2_180
{
position:absolute;
top:5093.58px;
left:7693.7px;
}
.s_1_Inner-2_181
{
position:absolute;
top:5093.58px;
left:8560.05px;
letter-spacing:-1.04px;
}
.s_1_Inner-2_182
{
position:absolute;
top:5530.27px;
left:0px;
letter-spacing:-0.38px;
}
.s_1_Inner-2_183
{
position:absolute;
top:5530.27px;
left:425.7px;
}
.s_1_Inner-2_184
{
position:absolute;
top:5530.27px;
left:1081.06px;
letter-spacing:-0.24px;
}
.s_1_Inner-2_185
{
position:absolute;
top:5530.27px;
left:2168.07px;
letter-spacing:-2.27px;
}
.s_1_Inner-2_186
{
position:absolute;
top:5530.27px;
left:2421.51px;
}
.s_1_Inner-2_187
{
position:absolute;
top:5530.27px;
left:3514.44px;
}
.s_1_Inner-2_188
{
position:absolute;
top:5530.27px;
left:4162.34px;
}
.s_1_Inner-2_189
{
position:absolute;
top:5530.27px;
left:4932.33px;
letter-spacing:-0.66px;
}
.s_1_Inner-2_190
{
position:absolute;
top:5530.27px;
left:5798.01px;
letter-spacing:0px;
}
.s_1_Inner-2_191
{
position:absolute;
top:5530.27px;
left:6226.78px;
letter-spacing:0px;
}
.s_1_Inner-2_192
{
position:absolute;
top:5530.27px;
left:6673.59px;
letter-spacing:-0.16px;
}
.s_1_Inner-2_193
{
position:absolute;
top:5530.27px;
left:7478.77px;
letter-spacing:0px;
}
.s_1_Inner-2_194
{
position:absolute;
top:5530.27px;
left:8146.02px;
letter-spacing:0px;
}
.s_1_Inner-2_195
{
position:absolute;
top:5530.27px;
left:8927.01px;
letter-spacing:0px;
}
.s_1_Inner-2_196
{
position:absolute;
top:5530.27px;
left:9359.53px;
letter-spacing:-0.91px;
}
.s_1_Inner-2_197
{
position:absolute;
top:5910.27px;
left:0px;
text-rendering:optimizeLegibility;
letter-spacing:-0.16px;
}
.s_1_Inner-2_198
{
position:absolute;
top:5910.27px;
left:686.61px;
letter-spacing:-1.07px;
}
.s_1_Inner-2_199
{
position:absolute;
top:5910.27px;
left:1411.72px;
}
.s_1_Inner-2_200
{
position:absolute;
top:5910.27px;
left:1844.23px;
}
.s_1_Inner-2_201
{
position:absolute;
top:5910.27px;
left:2360.78px;
}
.s_1_Inner-2_202
{
position:absolute;
top:5910.27px;
left:2823.87px;
letter-spacing:-1.48px;
}
.s_1_Inner-2_203
{
position:absolute;
top:5910.27px;
left:3208.43px;
letter-spacing:-0.41px;
}
.s_1_Inner-2_204
{
position:absolute;
top:5910.27px;
left:4407.63px;
}
.s_1_Inner-2_205
{
position:absolute;
top:6346.96px;
left:0px;
letter-spacing:-0.84px;
}
.s_1_Inner-2_206
{
position:absolute;
top:6346.96px;
left:622.37px;
letter-spacing:-0.44px;
}
.s_1_Inner-2_207
{
position:absolute;
top:6346.96px;
left:1283.68px;
letter-spacing:-1.48px;
}
.s_1_Inner-2_208
{
position:absolute;
top:6346.96px;
left:1668.23px;
}
.s_1_Inner-2_209
{
position:absolute;
top:6346.96px;
left:2273.01px;
letter-spacing:-0.13px;
}
.s_1_Inner-2_210
{
position:absolute;
top:6346.96px;
left:3314.03px;
letter-spacing:-1.08px;
}
.s_1_Inner-2_211
{
position:absolute;
top:6346.96px;
left:4204.57px;
letter-spacing:-2.27px;
}
.s_1_Inner-2_212
{
position:absolute;
top:6346.96px;
left:4458.01px;
}
.s_1_Inner-2_213
{
position:absolute;
top:6346.96px;
left:4842.34px;
letter-spacing:0px;
}
.s_1_Inner-2_214
{
position:absolute;
top:6783.66px;
left:396.85px;
letter-spacing:-0.85px;
}
.s_1_Inner-2_215
{
position:absolute;
top:6783.66px;
left:1244.5px;
}
.s_1_Inner-2_216
{
position:absolute;
top:6783.66px;
left:1461.85px;
letter-spacing:-0.74px;
}
.s_1_Inner-2_217
{
position:absolute;
top:6783.66px;
left:2221.94px;
}
.s_1_Inner-2_218
{
position:absolute;
top:6783.66px;
left:2487.25px;
}
.s_1_Inner-2_219
{
position:absolute;
top:6783.66px;
left:3044.5px;
}
.s_1_Inner-2_220
{
position:absolute;
top:6783.66px;
left:4162.75px;
}
.s_1_Inner-2_221
{
position:absolute;
top:6783.66px;
left:4654.44px;
letter-spacing:-1.17px;
}
.s_1_Inner-2_222
{
position:absolute;
top:6783.66px;
left:5164.17px;
letter-spacing:-0.49px;
}
.s_1_Inner-2_223
{
position:absolute;
top:6783.66px;
left:6396.58px;
letter-spacing:0px;
}
.s_1_Inner-2_224
{
position:absolute;
top:7220.35px;
left:396.85px;
}
.s_1_Inner-2_225
{
position:absolute;
top:7220.35px;
left:935.84px;
letter-spacing:-0.82px;
}
.s_1_Inner-2_226
{
position:absolute;
top:7220.35px;
left:1761.93px;
}
.s_1_Inner-2_227
{
position:absolute;
top:7220.35px;
left:1979.29px;
letter-spacing:-1.1px;
}
.s_1_Inner-2_228
{
position:absolute;
top:7220.35px;
left:2610.46px;
}
.s_1_Inner-2_229
{
position:absolute;
top:7220.35px;
left:2875.77px;
}
.s_1_Inner-2_230
{
position:absolute;
top:7220.35px;
left:3730.02px;
}
.s_1_Inner-2_231
{
position:absolute;
top:7657.04px;
left:396.85px;
letter-spacing:-0.29px;
}
.s_1_Inner-2_232
{
position:absolute;
top:7657.04px;
left:1697.25px;
letter-spacing:-1.48px;
}
.s_1_Inner-2_233
{
position:absolute;
top:7657.04px;
left:2081.8px;
letter-spacing:-0.73px;
}
.s_1_Inner-2_234
{
position:absolute;
top:7657.04px;
left:3149.23px;
letter-spacing:-2.2px;
}
.s_1_Inner-2_235
{
position:absolute;
top:7657.04px;
left:3492.2px;
letter-spacing:-0.09px;
}
.s_1_Inner-2_236
{
position:absolute;
top:7657.04px;
left:4996.1px;
letter-spacing:-0.63px;
}
.s_1_Inner-2_237
{
position:absolute;
top:7657.04px;
left:5816.25px;
letter-spacing:-0.33px;
}
.s_1_Inner-2_238
{
position:absolute;
top:7657.04px;
left:6402.76px;
letter-spacing:0px;
}
.s_1_Inner-2_239
{
position:absolute;
top:7657.04px;
left:7447.08px;
letter-spacing:0px;
}
.s_1_Inner-2_240
{
position:absolute;
top:7657.04px;
left:7837.35px;
letter-spacing:-0.49px;
}
.s_1_Inner-2_241
{
position:absolute;
top:7657.04px;
left:8224.33px;
}
.s_1_Inner-2_242
{
position:absolute;
top:8093.74px;
left:396.85px;
letter-spacing:-2.35px;
}
.s_1_Inner-2_243
{
position:absolute;
top:8093.74px;
left:665.9px;
letter-spacing:-2.75px;
}
.s_1_Inner-2_244
{
position:absolute;
top:8093.74px;
left:841.46px;
letter-spacing:-0.35px;
}
.s_1_Inner-2_245
{
position:absolute;
top:8093.74px;
left:1555.13px;
letter-spacing:-0.66px;
}
.s_1_Inner-2_246
{
position:absolute;
top:8093.74px;
left:2470.1px;
letter-spacing:-2.75px;
}
.s_1_Inner-2_247
{
position:absolute;
top:8093.74px;
left:2645.65px;
letter-spacing:-2.16px;
}
.s_1_Inner-2_248
{
position:absolute;
top:8093.74px;
left:3689.76px;
letter-spacing:-0.48px;
}
.s_1_Inner-2_249
{
position:absolute;
top:8093.74px;
left:4210.27px;
}
.s_1_Inner-2_250
{
position:absolute;
top:8093.74px;
left:4516.29px;
}
.s_1_Inner-2_251
{
position:absolute;
top:8093.74px;
left:4900.62px;
letter-spacing:0px;
}
.s_1_Inner-2_252
{
position:absolute;
top:8093.74px;
left:5788.74px;
letter-spacing:-1.51px;
}
.s_1_Inner-2_253
{
position:absolute;
top:8093.74px;
left:6645.85px;
}
.s_1_Inner-2_254
{
position:absolute;
top:8093.74px;
left:6879.93px;
}
.s_1_Inner-2_255
{
position:absolute;
top:8093.74px;
left:7418.04px;
letter-spacing:-0.94px;
}
.s_1_Inner-2_256
{
position:absolute;
top:8530.43px;
left:396.85px;
letter-spacing:-6.84px;
}
.s_1_Inner-2_257
{
position:absolute;
top:8530.43px;
left:1260.56px;
}
.s_1_Inner-2_258
{
position:absolute;
top:8530.43px;
left:1693.07px;
letter-spacing:-0.6px;
}
.s_1_Inner-2_259
{
position:absolute;
top:8530.43px;
left:2817.91px;
}
.s_1_Inner-2_260
{
position:absolute;
top:8530.43px;
left:3241.62px;
letter-spacing:-2.27px;
}
.s_1_Inner-2_261
{
position:absolute;
top:8530.43px;
left:3498.8px;
letter-spacing:-0.31px;
}
.s_1_Inner-2_262
{
position:absolute;
top:8530.43px;
left:4712.08px;
letter-spacing:-0.62px;
}
.s_1_Inner-2_263
{
position:absolute;
top:8530.43px;
left:5303.87px;
}
.s_1_Inner-2_264
{
position:absolute;
top:8530.43px;
left:5537.95px;
letter-spacing:-0.33px;
}
.s_1_Inner-2_265
{
position:absolute;
top:8530.43px;
left:5921.84px;
letter-spacing:-4.84px;
}
.s_1_Inner-2_266
{
position:absolute;
top:8530.43px;
left:6341.38px;
letter-spacing:-0.66px;
}
.s_1_Inner-2_267
{
position:absolute;
top:8530.43px;
left:6907.43px;
}
.s_1_Inner-2_268
{
position:absolute;
top:8530.43px;
left:7071.55px;
letter-spacing:0px;
}
.s_1_Inner-2_269
{
position:absolute;
top:8530.43px;
left:7508.24px;
letter-spacing:-0.6px;
}
.s_1_Inner-2_270
{
position:absolute;
top:8530.43px;
left:7989.37px;
letter-spacing:0px;
}
.s_1_Inner-2_271
{
position:absolute;
top:8530.43px;
left:9173.62px;
letter-spacing:0px;
}
.s_1_Inner-2_272
{
position:absolute;
top:8530.43px;
left:9435.19px;
}
.s_1_Inner-2_273
{
position:absolute;
top:8530.43px;
left:9815.79px;
letter-spacing:0px;
}
.s_1_Inner-2_274
{
position:absolute;
top:8967.12px;
left:396.85px;
letter-spacing:-1.1px;
}
.s_1_Inner-2_275
{
position:absolute;
top:8967.12px;
left:1383.76px;
}
.s_1_Inner-2_276
{
position:absolute;
top:8967.12px;
left:1617.83px;
letter-spacing:-4px;
}
.s_1_Inner-2_277
{
position:absolute;
top:8967.12px;
left:2153.75px;
letter-spacing:-1.72px;
}
.s_1_Inner-2_278
{
position:absolute;
top:8967.12px;
left:2661.28px;
letter-spacing:-0.26px;
}
.s_1_Inner-2_279
{
position:absolute;
top:8967.12px;
left:3179.59px;
}
.s_1_Inner-2_280
{
position:absolute;
top:8967.12px;
left:3239.43px;
}
.s_1_Inner-2_281
{
position:absolute;
top:8967.12px;
left:3722.76px;
}
.s_1_Inner-2_282
{
position:absolute;
top:8967.12px;
left:3956.83px;
}
.s_1_Inner-2_283
{
position:absolute;
top:8967.12px;
left:5127px;
}
.s_1_Inner-2_284
{
position:absolute;
top:8967.12px;
left:5511.33px;
letter-spacing:-0.51px;
}
.s_1_Inner-2_285
{
position:absolute;
top:8967.12px;
left:6490.09px;
letter-spacing:0px;
}
.s_1_Inner-2_286
{
position:absolute;
top:8967.12px;
left:7531.34px;
letter-spacing:0px;
}
.s_1_Inner-2_287
{
position:absolute;
top:8967.12px;
left:7963.86px;
}
.s_1_Inner-2_288
{
position:absolute;
top:8967.12px;
left:8899.06px;
}
.s_1_Inner-2_289
{
position:absolute;
top:9403.81px;
left:396.85px;
letter-spacing:-0.4px;
}
.s_1_Inner-2_290
{
position:absolute;
top:9403.81px;
left:864.57px;
letter-spacing:-2.2px;
}
.s_1_Inner-2_291
{
position:absolute;
top:9403.81px;
left:1207.54px;
letter-spacing:-3.81px;
}
.s_1_Inner-2_292
{
position:absolute;
top:9403.81px;
left:1560.86px;
}
.s_1_Inner-2_293
{
position:absolute;
top:9403.81px;
left:1620.69px;
}
.s_1_Inner-2_294
{
position:absolute;
top:9403.81px;
left:2032.31px;
letter-spacing:-0.66px;
}
.s_1_Inner-2_295
{
position:absolute;
top:9403.81px;
left:3095.33px;
letter-spacing:-0.46px;
}
.s_1_Inner-2_296
{
position:absolute;
top:9403.81px;
left:4190.7px;
letter-spacing:-1.69px;
}
.s_1_Inner-2_297
{
position:absolute;
top:9403.81px;
left:4459.54px;
}
.s_1_Inner-2_298
{
position:absolute;
top:9840.51px;
left:396.85px;
letter-spacing:-0.34px;
}
.s_1_Inner-2_299
{
position:absolute;
top:9840.51px;
left:1544.79px;
}
.s_1_Inner-2_300
{
position:absolute;
top:9840.51px;
left:1604.63px;
letter-spacing:-1.48px;
}
.s_1_Inner-2_301
{
position:absolute;
top:9840.51px;
left:1989.18px;
letter-spacing:-0.91px;
}
.s_1_Inner-2_302
{
position:absolute;
top:9840.51px;
left:2777.65px;
text-rendering:optimizeLegibility;
letter-spacing:-0.16px;
}
.s_1_Inner-2_303
{
position:absolute;
top:9840.51px;
left:3464.26px;
letter-spacing:-2.27px;
}
.s_1_Inner-2_304
{
position:absolute;
top:9840.51px;
left:3717.26px;
}
.s_1_Inner-2_305
{
position:absolute;
top:9840.51px;
left:4279.57px;
}
.s_1_Inner-2_306
{
position:absolute;
top:9840.51px;
left:4496.92px;
}
.s_1_Inner-2_307
{
position:absolute;
top:9840.51px;
left:5603.73px;
letter-spacing:0px;
}
.s_1_Inner-2_308
{
position:absolute;
top:9840.51px;
left:6036.24px;
letter-spacing:0px;
}
.s_1_Inner-2_309
{
position:absolute;
top:9840.51px;
left:6925.46px;
letter-spacing:-0.44px;
}
.s_1_Inner-2_310
{
position:absolute;
top:10277.2px;
left:396.85px;
letter-spacing:-0.16px;
}
.s_1_Inner-2_311
{
position:absolute;
top:10277.2px;
left:1089.84px;
}
.s_1_Inner-2_312
{
position:absolute;
top:10277.2px;
left:1816.93px;
letter-spacing:-1.48px;
}
.s_1_Inner-2_313
{
position:absolute;
top:10277.2px;
left:2201.48px;
letter-spacing:-0.66px;
}
.s_1_Inner-2_314
{
position:absolute;
top:10277.2px;
left:3133.61px;
}
.s_1_Inner-2_315
{
position:absolute;
top:10277.2px;
left:3398.92px;
}
.s_1_Inner-2_316
{
position:absolute;
top:10277.2px;
left:4303.11px;
letter-spacing:-2.75px;
}
.s_1_Inner-2_317
{
position:absolute;
top:10277.2px;
left:4478.66px;
letter-spacing:-1.19px;
}
.s_1_Inner-2_318
{
position:absolute;
top:10277.2px;
left:4913.82px;
}
.s_1_Inner-2_319
{
position:absolute;
top:10277.2px;
left:5713.95px;
letter-spacing:-0.24px;
}
.s_1_Inner-2_320
{
position:absolute;
top:10713.89px;
left:396.85px;
letter-spacing:-0.66px;
}
.s_1_Inner-2_321
{
position:absolute;
top:10713.89px;
left:1801.75px;
}
.s_1_Inner-2_322
{
position:absolute;
top:10713.89px;
left:1861.59px;
}
.s_1_Inner-2_323
{
position:absolute;
top:10713.89px;
left:2802.51px;
letter-spacing:-2.2px;
}
.s_1_Inner-2_324
{
position:absolute;
top:10713.89px;
left:3145.48px;
}
.s_1_Inner-2_325
{
position:absolute;
top:10713.89px;
left:3931.31px;
}
.s_1_Inner-2_326
{
position:absolute;
top:10713.89px;
left:4038.22px;
}
.s_1_Inner-2_327
{
position:absolute;
top:10713.89px;
left:4303.54px;
}
.s_1_Inner-2_328
{
position:absolute;
top:10713.89px;
left:4473.59px;
}
.s_1_Inner-2_329
{
position:absolute;
top:10713.89px;
left:4936.68px;
letter-spacing:-1.48px;
}
.s_1_Inner-2_330
{
position:absolute;
top:10713.89px;
left:5318.16px;
}
.s_1_Inner-2_331
{
position:absolute;
top:10713.89px;
left:5757.49px;
letter-spacing:0px;
}
.s_1_Inner-2_332
{
position:absolute;
top:10713.89px;
left:6794.11px;
letter-spacing:0px;
}
.s_1_Inner-2_333
{
position:absolute;
top:10713.89px;
left:7226.63px;
letter-spacing:-1.21px;
}
.s_1_Inner-2_334
{
position:absolute;
top:11150.59px;
left:396.85px;
letter-spacing:-0.28px;
}
.s_1_Inner-2_335
{
position:absolute;
top:11150.59px;
left:1165.96px;
letter-spacing:-0.74px;
}
.s_1_Inner-2_336
{
position:absolute;
top:11150.59px;
left:1971.81px;
}
.s_1_Inner-2_337
{
position:absolute;
top:11150.59px;
left:2028.57px;
letter-spacing:-2.2px;
}
.s_1_Inner-2_338
{
position:absolute;
top:11150.59px;
left:2371.54px;
}
.s_1_Inner-2_339
{
position:absolute;
top:11150.59px;
left:3157.37px;
}
.s_1_Inner-2_340
{
position:absolute;
top:11150.59px;
left:3326.54px;
}
.s_1_Inner-2_341
{
position:absolute;
top:11150.59px;
left:3591.86px;
}
.s_1_Inner-2_342
{
position:absolute;
top:11150.59px;
left:3777.09px;
}
.s_1_Inner-2_343
{
position:absolute;
top:11150.59px;
left:4042.4px;
letter-spacing:-0.24px;
}
.s_1_Inner-2_344
{
position:absolute;
top:11150.59px;
left:5165.27px;
}
.s_1_Inner-2_345
{
position:absolute;
top:11150.59px;
left:5597.78px;
letter-spacing:0px;
}
.s_1_Inner-2_346
{
position:absolute;
top:11150.59px;
left:6552.13px;
letter-spacing:-0.99px;
}
.s_1_Inner-2_347
{
position:absolute;
top:11150.59px;
left:7784.11px;
}
.s_1_Inner-2_348
{
position:absolute;
top:11587.28px;
left:396.85px;
letter-spacing:-5.02px;
}
.s_1_Inner-2_349
{
position:absolute;
top:11587.28px;
left:861.48px;
letter-spacing:-0.19px;
}
.s_1_Inner-2_350
{
position:absolute;
top:11587.28px;
left:1612.77px;
}
.s_1_Inner-2_351
{
position:absolute;
top:11587.28px;
left:1869.28px;
}
.s_1_Inner-2_352
{
position:absolute;
top:11587.28px;
left:2253.61px;
}
.s_1_Inner-2_353
{
position:absolute;
top:11587.28px;
left:2686.56px;
letter-spacing:-2.27px;
}
.s_1_Inner-2_354
{
position:absolute;
top:11587.28px;
left:2943.74px;
}
.s_1_Inner-2_355
{
position:absolute;
top:11587.28px;
left:3481.86px;
}
.s_1_Inner-2_356
{
position:absolute;
top:11587.28px;
left:4026.13px;
}
.s_1_Inner-2_357
{
position:absolute;
top:11587.28px;
left:4291.44px;
}
.s_1_Inner-2_358
{
position:absolute;
top:11587.28px;
left:4774.77px;
letter-spacing:-1.8px;
}
.s_1_Inner-2_359
{
position:absolute;
top:11587.28px;
left:5725.6px;
}
.s_1_Inner-2_360
{
position:absolute;
top:12023.97px;
left:396.85px;
letter-spacing:-0.38px;
}
.s_1_Inner-2_361
{
position:absolute;
top:12023.97px;
left:818.81px;
letter-spacing:-0.63px;
}
.s_1_Inner-2_362
{
position:absolute;
top:12023.97px;
left:1640.49px;
letter-spacing:-1.59px;
}
.s_1_Inner-2_363
{
position:absolute;
top:12023.97px;
left:2573.94px;
}
.s_1_Inner-2_364
{
position:absolute;
top:12023.97px;
left:3102.81px;
letter-spacing:-0.42px;
}
.s_1_Inner-2_365
{
position:absolute;
top:12023.97px;
left:4002.16px;
letter-spacing:-1.38px;
}
.s_1_Inner-2_366
{
position:absolute;
top:12023.97px;
left:4791.96px;
letter-spacing:-2.82px;
}
.s_1_Inner-2_367
{
position:absolute;
top:12023.97px;
left:5292.89px;
letter-spacing:0px;
}
.s_1_Inner-2_368
{
position:absolute;
top:12023.97px;
left:5725.41px;
letter-spacing:0px;
}
.s_1_Inner-2_369
{
position:absolute;
top:12023.97px;
left:6764.23px;
letter-spacing:0px;
}
.s_1_Inner-2_370
{
position:absolute;
top:12460.66px;
left:0px;
letter-spacing:-3.01px;
}
.s_1_Inner-2_371
{
position:absolute;
top:12460.66px;
left:371.36px;
}
.s_1_Inner-2_372
{
position:absolute;
top:12460.66px;
left:925.09px;
letter-spacing:-0.88px;
}
.s_1_Inner-2_373
{
position:absolute;
top:12460.66px;
left:1346.83px;
text-rendering:optimizeLegibility;
}
.s_1_Inner-2_374
{
position:absolute;
top:12460.66px;
left:1778.24px;
}
.s_1_Inner-2_375
{
position:absolute;
top:12460.66px;
left:2198.43px;
letter-spacing:-0.11px;
}
.s_1_Inner-2_376
{
position:absolute;
top:12460.66px;
left:3350.99px;
}
.s_1_Inner-2_377
{
position:absolute;
top:12460.66px;
left:3782.4px;
letter-spacing:-2.27px;
}
.s_1_Inner-2_378
{
position:absolute;
top:12460.66px;
left:4039.58px;
letter-spacing:-2.75px;
}
.s_1_Inner-2_379
{
position:absolute;
top:12460.66px;
left:4215.14px;
}
.s_1_Inner-2_380
{
position:absolute;
top:12460.66px;
left:4685.49px;
}
.s_1_Inner-2_381
{
position:absolute;
top:12460.66px;
left:5340.86px;
letter-spacing:0px;
}
.s_1_Inner-2_382
{
position:absolute;
top:12460.66px;
left:6374.41px;
}
.s_1_Inner-2_383
{
position:absolute;
top:12460.66px;
left:6813.74px;
letter-spacing:0px;
}
.s_1_Inner-2_384
{
position:absolute;
top:12460.66px;
left:7246.25px;
letter-spacing:-2.75px;
}
.s_1_Inner-2_385
{
position:absolute;
top:12460.66px;
left:7417.63px;
letter-spacing:0px;
}
.s_1_Inner-2_386
{
position:absolute;
top:12460.66px;
left:8078.06px;
letter-spacing:-0.6px;
}
.s_1_Inner-2_387
{
position:absolute;
top:12460.66px;
left:8559.2px;
letter-spacing:-0.22px;
}
.s_1_Inner-2_388
{
position:absolute;
top:12460.66px;
left:9712.86px;
}
.s_1_Inner-2_389
{
position:absolute;
top:12840.66px;
left:0px;
}
.s_1_Inner-2_390
{
position:absolute;
top:13277.36px;
left:0px;
}
.s_1_Inner-2_391
{
position:absolute;
top:13277.36px;
left:8785.8px;
letter-spacing:-0.22px;
}
.s_1_Inner-2_392
{
position:absolute;
top:13277.36px;
left:9635.87px;
letter-spacing:-0.49px;
}
