.d_1_Chapter_10-1_1
{position:absolute;overflow:hidden;left: -297.36px;top:0px;transform:translate(595.28px,0.00px);-webkit-transform:translate(595.28px,0.00px);-ms-transform:translate(595.28px,0.00px);-o-transform:translate(595.28px,0.00px);-moz-transform:translate(595.28px,0.00px);width:595.28px;height:841.89px;}
.d_1_Chapter_10-1_2
{
width:560.18px;
height:401.47px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_10-1_3
{
width:8108.1px;
height:997.12px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_10-1_4
{
width:9088.08px;
height:432px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_10-1_5
{
width:2640.06px;
height:998.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_10-1_6
{
width:3319.94px;
height:1398.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_10-1_7
{
width:2489.42px;
height:1398.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_10-1_8
{
width:1884.76px;
height:288px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_10-1_9
{
width:3569.14px;
height:1060.51px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_10-1_10
{
width:560.18px;
height:401.47px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,1.09px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,1.09px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,1.09px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,1.09px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,1.09px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_10-1_11
{
width:3561.81px;
height:2067.3px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_10-1_12
{
width:2489.42px;
height:1398.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_10-1_13
{
width:2480.89px;
height:998.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_10-1_14
{
width:2489.42px;
height:998.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_10-1_15
{
width:2489.42px;
height:998.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_10-1_16
{
width:2539.45px;
height:1427.02px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_10-1_17
{
width:2313.7px;
height:998.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_10-1_18
{
width:2808.63px;
height:855.59px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_10-1_19
{
width:430.87px;
height:216.85px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_10-1_20
{
width:430.87px;
height:216.85px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_10-1_21
{
width:430.87px;
height:216.85px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_10-1_22
{
width:430.87px;
height:216.85px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_10-1_23
{
width:430.87px;
height:216.85px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_10-1_24
{
width:430.87px;
height:216.85px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_10-1_25
{
width:430.87px;
height:216.85px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_10-1_26
{
width:430.87px;
height:216.85px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_10-1_27
{
width:430.87px;
height:216.85px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
}
.s_1_Chapter_10-1_28
{
position:absolute;
top:41.44px;
left:134.15px;
}
.s_1_Chapter_10-1_29
{
position:absolute;
top:-26.96px;
left:1312.98px;
letter-spacing:20.63px;
transform-origin: 0% 759.55px;
-webkit-transform-origin: 0% 759.55px;
-ms-transform-origin: 0% 759.55px;
-o-transform-origin: 0% 759.55px;
-moz-transform-origin: 0% 759.55px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Chapter_10-1_30
{
position:absolute;
top:-26.96px;
left:2502.94px;
letter-spacing:22.92px;
transform-origin: 0% 759.55px;
-webkit-transform-origin: 0% 759.55px;
-ms-transform-origin: 0% 759.55px;
-o-transform-origin: 0% 759.55px;
-moz-transform-origin: 0% 759.55px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Chapter_10-1_31
{
position:absolute;
top:-26.96px;
left:5144.77px;
letter-spacing:20.63px;
transform-origin: 0% 759.55px;
-webkit-transform-origin: 0% 759.55px;
-ms-transform-origin: 0% 759.55px;
-o-transform-origin: 0% 759.55px;
-moz-transform-origin: 0% 759.55px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Chapter_10-1_32
{
position:absolute;
top:-26.96px;
left:6795.12px;
transform-origin: 0% 759.55px;
-webkit-transform-origin: 0% 759.55px;
-ms-transform-origin: 0% 759.55px;
-o-transform-origin: 0% 759.55px;
-moz-transform-origin: 0% 759.55px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Chapter_10-1_33
{
position:absolute;
top:58.88px;
left:0px;
}
.s_1_Chapter_10-1_34
{
position:absolute;
top:213.6px;
left:380.63px;
}
.s_1_Chapter_10-1_35
{
position:absolute;
top:213.6px;
left:453.54px;
letter-spacing:-0.69px;
}
.s_1_Chapter_10-1_36
{
position:absolute;
top:213.6px;
left:1101.2px;
letter-spacing:-0.68px;
}
.s_1_Chapter_10-1_37
{
position:absolute;
top:213.6px;
left:2088.93px;
}
.s_1_Chapter_10-1_38
{
position:absolute;
top:213.6px;
left:2510.65px;
letter-spacing:-0.74px;
}
.s_1_Chapter_10-1_39
{
position:absolute;
top:213.6px;
left:3165.58px;
letter-spacing:-0.12px;
}
.s_1_Chapter_10-1_40
{
position:absolute;
top:213.6px;
left:4495.98px;
}
.s_1_Chapter_10-1_41
{
position:absolute;
top:213.6px;
left:5205.77px;
letter-spacing:0px;
}
.s_1_Chapter_10-1_42
{
position:absolute;
top:213.6px;
left:5627.49px;
letter-spacing:-0.49px;
}
.s_1_Chapter_10-1_43
{
position:absolute;
top:213.6px;
left:6636.53px;
letter-spacing:-0.78px;
}
.s_1_Chapter_10-1_44
{
position:absolute;
top:213.6px;
left:7057.2px;
letter-spacing:0px;
}
.s_1_Chapter_10-1_45
{
position:absolute;
top:213.6px;
left:7583.17px;
letter-spacing:-1.82px;
}
.s_1_Chapter_10-1_46
{
position:absolute;
top:213.6px;
left:7874.63px;
letter-spacing:-0.22px;
}
.s_1_Chapter_10-1_47
{
position:absolute;
top:-19.5px;
left:625.97px;
letter-spacing:-0.45px;
}
.s_1_Chapter_10-1_48
{
position:absolute;
top:-19.5px;
left:1129.06px;
letter-spacing:-0.36px;
}
.s_1_Chapter_10-1_49
{
position:absolute;
top:380.5px;
left:201.01px;
letter-spacing:-0.58px;
}
.s_1_Chapter_10-1_50
{
position:absolute;
top:380.5px;
left:1756.04px;
letter-spacing:-2.68px;
}
.s_1_Chapter_10-1_51
{
position:absolute;
top:380.5px;
left:2055.56px;
}
.s_1_Chapter_10-1_52
{
position:absolute;
top:780.5px;
left:43.45px;
letter-spacing:-0.39px;
}
.s_1_Chapter_10-1_53
{
position:absolute;
top:780.5px;
left:549.93px;
}
.s_1_Chapter_10-1_54
{
position:absolute;
top:780.5px;
left:806.8px;
}
.s_1_Chapter_10-1_55
{
position:absolute;
top:780.5px;
left:1560.53px;
letter-spacing:-1.53px;
}
.s_1_Chapter_10-1_56
{
position:absolute;
top:-19.5px;
left:165.51px;
letter-spacing:-0.45px;
}
.s_1_Chapter_10-1_57
{
position:absolute;
top:-19.5px;
left:668.61px;
}
.s_1_Chapter_10-1_58
{
position:absolute;
top:-19.5px;
left:1158.44px;
}
.s_1_Chapter_10-1_59
{
position:absolute;
top:-19.5px;
left:1789.19px;
}
.s_1_Chapter_10-1_60
{
position:absolute;
top:-19.5px;
left:2061.4px;
}
.s_1_Chapter_10-1_61
{
position:absolute;
top:-19.5px;
left:2515.61px;
}
.s_1_Chapter_10-1_62
{
position:absolute;
top:380.5px;
left:492.46px;
}
.s_1_Chapter_10-1_63
{
position:absolute;
top:380.5px;
left:850.47px;
letter-spacing:-2.38px;
}
.s_1_Chapter_10-1_64
{
position:absolute;
top:380.5px;
left:1627.09px;
}
.s_1_Chapter_10-1_65
{
position:absolute;
top:380.5px;
left:1967.42px;
}
.s_1_Chapter_10-1_66
{
position:absolute;
top:380.5px;
left:2191.53px;
}
.s_1_Chapter_10-1_67
{
position:absolute;
top:380.5px;
left:2443.99px;
}
.s_1_Chapter_10-1_68
{
position:absolute;
top:780.5px;
left:400.16px;
letter-spacing:-1.25px;
}
.s_1_Chapter_10-1_69
{
position:absolute;
top:780.5px;
left:959.41px;
}
.s_1_Chapter_10-1_70
{
position:absolute;
top:780.5px;
left:1763.06px;
}
.s_1_Chapter_10-1_71
{
position:absolute;
top:780.5px;
left:2310.35px;
}
.s_1_Chapter_10-1_72
{
position:absolute;
top:1180.5px;
left:990.22px;
letter-spacing:-1.07px;
}
.s_1_Chapter_10-1_73
{
position:absolute;
top:-19.5px;
left:354.61px;
letter-spacing:-1.73px;
}
.s_1_Chapter_10-1_74
{
position:absolute;
top:-19.5px;
left:1293.2px;
}
.s_1_Chapter_10-1_75
{
position:absolute;
top:380.5px;
left:27.4px;
letter-spacing:-0.3px;
}
.s_1_Chapter_10-1_76
{
position:absolute;
top:380.5px;
left:945.45px;
}
.s_1_Chapter_10-1_77
{
position:absolute;
top:380.5px;
left:1456.6px;
letter-spacing:-0.58px;
}
.s_1_Chapter_10-1_78
{
position:absolute;
top:780.5px;
left:340.44px;
letter-spacing:-1.75px;
}
.s_1_Chapter_10-1_79
{
position:absolute;
top:780.5px;
left:794.91px;
}
.s_1_Chapter_10-1_80
{
position:absolute;
top:780.5px;
left:1555.4px;
letter-spacing:-1px;
}
.s_1_Chapter_10-1_81
{
position:absolute;
top:1180.5px;
left:782.31px;
}
.s_1_Chapter_10-1_82
{
position:absolute;
top:-12.32px;
left:0px;
}
.s_1_Chapter_10-1_83
{
position:absolute;
top:-12.32px;
left:420.83px;
letter-spacing:-5.11px;
}
.s_1_Chapter_10-1_84
{
position:absolute;
top:-12.32px;
left:971.57px;
letter-spacing:-6.86px;
}
.s_1_Chapter_10-1_85
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.45px;
}
.s_1_Chapter_10-1_86
{
position:absolute;
top:-19.5px;
left:499.46px;
text-rendering:optimizeLegibility;
letter-spacing:-0.26px;
}
.s_1_Chapter_10-1_87
{
position:absolute;
top:-19.5px;
left:1038.68px;
}
.s_1_Chapter_10-1_88
{
position:absolute;
top:-19.5px;
left:1846.75px;
letter-spacing:-1.3px;
}
.s_1_Chapter_10-1_89
{
position:absolute;
top:380.5px;
left:0px;
}
.s_1_Chapter_10-1_90
{
position:absolute;
top:380.5px;
left:576.67px;
}
.s_1_Chapter_10-1_91
{
position:absolute;
top:380.5px;
left:1030.88px;
}
.s_1_Chapter_10-1_92
{
position:absolute;
top:380.5px;
left:1518.37px;
letter-spacing:-2.68px;
}
.s_1_Chapter_10-1_93
{
position:absolute;
top:380.5px;
left:1822.31px;
letter-spacing:-3.25px;
}
.s_1_Chapter_10-1_94
{
position:absolute;
top:380.5px;
left:2025.37px;
letter-spacing:-0.29px;
}
.s_1_Chapter_10-1_95
{
position:absolute;
top:780.5px;
left:0px;
letter-spacing:-0.71px;
}
.s_1_Chapter_10-1_96
{
position:absolute;
top:780.5px;
left:548.33px;
letter-spacing:-0.3px;
}
.s_1_Chapter_10-1_97
{
position:absolute;
top:54.33px;
left:128.09px;
}
.s_1_Chapter_10-1_98
{
position:absolute;
top:-19.5px;
left:167.37px;
letter-spacing:-6.36px;
}
.s_1_Chapter_10-1_99
{
position:absolute;
top:-19.5px;
left:1059.15px;
letter-spacing:-5.14px;
}
.s_1_Chapter_10-1_100
{
position:absolute;
top:-19.5px;
left:2152.18px;
letter-spacing:-4.46px;
}
.s_1_Chapter_10-1_101
{
position:absolute;
top:-19.5px;
left:2964.4px;
letter-spacing:-2.6px;
}
.s_1_Chapter_10-1_102
{
position:absolute;
top:380.5px;
left:342.48px;
letter-spacing:-4.75px;
}
.s_1_Chapter_10-1_103
{
position:absolute;
top:380.5px;
left:1224.12px;
letter-spacing:-5.65px;
}
.s_1_Chapter_10-1_104
{
position:absolute;
top:380.5px;
left:1653.38px;
letter-spacing:-3.9px;
}
.s_1_Chapter_10-1_105
{
position:absolute;
top:380.5px;
left:2083.15px;
letter-spacing:-6.24px;
}
.s_1_Chapter_10-1_106
{
position:absolute;
top:380.5px;
left:2609.12px;
letter-spacing:-4.46px;
}
.s_1_Chapter_10-1_107
{
position:absolute;
top:780.5px;
left:52.05px;
letter-spacing:-4.55px;
}
.s_1_Chapter_10-1_108
{
position:absolute;
top:780.5px;
left:944.88px;
letter-spacing:-4.16px;
}
.s_1_Chapter_10-1_109
{
position:absolute;
top:780.5px;
left:1652.33px;
letter-spacing:-6.15px;
}
.s_1_Chapter_10-1_110
{
position:absolute;
top:780.5px;
left:1940.67px;
letter-spacing:-6.3px;
}
.s_1_Chapter_10-1_111
{
position:absolute;
top:780.5px;
left:3079.72px;
letter-spacing:-2.6px;
}
.s_1_Chapter_10-1_112
{
position:absolute;
top:1180.5px;
left:370.68px;
letter-spacing:-4.46px;
}
.s_1_Chapter_10-1_113
{
position:absolute;
top:1180.5px;
left:1185.77px;
letter-spacing:-3.9px;
}
.s_1_Chapter_10-1_114
{
position:absolute;
top:1180.5px;
left:1676.13px;
letter-spacing:-5.65px;
}
.s_1_Chapter_10-1_115
{
position:absolute;
top:1180.5px;
left:2109.8px;
letter-spacing:-4.85px;
}
.s_1_Chapter_10-1_116
{
position:absolute;
top:1180.5px;
left:2926.71px;
letter-spacing:-1.73px;
}
.s_1_Chapter_10-1_117
{
position:absolute;
top:1580.5px;
left:1171.86px;
letter-spacing:-3.9px;
}
.s_1_Chapter_10-1_118
{
position:absolute;
top:1580.5px;
left:1641.94px;
letter-spacing:-4.68px;
}
.s_1_Chapter_10-1_119
{
position:absolute;
top:-19.5px;
left:104.49px;
letter-spacing:-0.45px;
}
.s_1_Chapter_10-1_120
{
position:absolute;
top:-19.5px;
left:607.58px;
letter-spacing:-0.19px;
}
.s_1_Chapter_10-1_121
{
position:absolute;
top:-19.5px;
left:1734.15px;
letter-spacing:-0.57px;
}
.s_1_Chapter_10-1_122
{
position:absolute;
top:380.5px;
left:72.52px;
}
.s_1_Chapter_10-1_123
{
position:absolute;
top:380.5px;
left:1016.04px;
}
.s_1_Chapter_10-1_124
{
position:absolute;
top:380.5px;
left:1382.12px;
}
.s_1_Chapter_10-1_125
{
position:absolute;
top:380.5px;
left:2230.74px;
}
.s_1_Chapter_10-1_126
{
position:absolute;
top:780.5px;
left:0px;
}
.s_1_Chapter_10-1_127
{
position:absolute;
top:780.5px;
left:449.38px;
letter-spacing:0px;
}
.s_1_Chapter_10-1_128
{
position:absolute;
top:780.5px;
left:1381.57px;
letter-spacing:-0.17px;
}
.s_1_Chapter_10-1_129
{
position:absolute;
top:1180.5px;
left:378.53px;
letter-spacing:-0.52px;
}
.s_1_Chapter_10-1_130
{
position:absolute;
top:1180.5px;
left:1222.22px;
}
.s_1_Chapter_10-1_131
{
position:absolute;
top:1180.5px;
left:1535.77px;
}
.s_1_Chapter_10-1_132
{
position:absolute;
top:-19.5px;
left:619.31px;
letter-spacing:-2.01px;
}
.s_1_Chapter_10-1_133
{
position:absolute;
top:-19.5px;
left:1675.42px;
}
.s_1_Chapter_10-1_134
{
position:absolute;
top:380.5px;
left:193.96px;
letter-spacing:-0.52px;
}
.s_1_Chapter_10-1_135
{
position:absolute;
top:380.5px;
left:1042.07px;
}
.s_1_Chapter_10-1_136
{
position:absolute;
top:380.5px;
left:1377.99px;
}
.s_1_Chapter_10-1_137
{
position:absolute;
top:380.5px;
left:1832.2px;
letter-spacing:-1.1px;
}
.s_1_Chapter_10-1_138
{
position:absolute;
top:780.5px;
left:840.83px;
}
.s_1_Chapter_10-1_139
{
position:absolute;
top:-19.5px;
left:112.16px;
letter-spacing:-2.01px;
}
.s_1_Chapter_10-1_140
{
position:absolute;
top:-19.5px;
left:1168.27px;
}
.s_1_Chapter_10-1_141
{
position:absolute;
top:-19.5px;
left:1671.36px;
letter-spacing:-2.38px;
}
.s_1_Chapter_10-1_142
{
position:absolute;
top:380.5px;
left:81.1px;
letter-spacing:-1.75px;
}
.s_1_Chapter_10-1_143
{
position:absolute;
top:380.5px;
left:531.15px;
}
.s_1_Chapter_10-1_144
{
position:absolute;
top:380.5px;
left:985.36px;
letter-spacing:-1.25px;
}
.s_1_Chapter_10-1_145
{
position:absolute;
top:380.5px;
left:1544.61px;
}
.s_1_Chapter_10-1_146
{
position:absolute;
top:780.5px;
left:331.08px;
}
.s_1_Chapter_10-1_147
{
position:absolute;
top:780.5px;
left:1301.65px;
}
.s_1_Chapter_10-1_148
{
position:absolute;
top:-19.5px;
left:254px;
letter-spacing:-0.45px;
}
.s_1_Chapter_10-1_149
{
position:absolute;
top:-19.5px;
left:757.09px;
}
.s_1_Chapter_10-1_150
{
position:absolute;
top:-19.5px;
left:1459.34px;
}
.s_1_Chapter_10-1_151
{
position:absolute;
top:-19.5px;
left:1716.21px;
letter-spacing:-2.08px;
}
.s_1_Chapter_10-1_152
{
position:absolute;
top:380.5px;
left:21.04px;
letter-spacing:-1.53px;
}
.s_1_Chapter_10-1_153
{
position:absolute;
top:380.5px;
left:1058.42px;
}
.s_1_Chapter_10-1_154
{
position:absolute;
top:380.5px;
left:1777.31px;
letter-spacing:-1.97px;
}
.s_1_Chapter_10-1_155
{
position:absolute;
top:780.5px;
left:471.48px;
}
.s_1_Chapter_10-1_156
{
position:absolute;
top:780.5px;
left:1066.87px;
}
.s_1_Chapter_10-1_157
{
position:absolute;
top:780.5px;
left:1521.08px;
letter-spacing:-0.39px;
}
.s_1_Chapter_10-1_158
{
position:absolute;
top:-19.89px;
left:77.16px;
letter-spacing:-1.02px;
}
.s_1_Chapter_10-1_159
{
position:absolute;
top:-19.89px;
left:755.86px;
}
.s_1_Chapter_10-1_160
{
position:absolute;
top:-19.89px;
left:1660.79px;
letter-spacing:-0.64px;
}
.s_1_Chapter_10-1_161
{
position:absolute;
top:388.15px;
left:48.11px;
}
.s_1_Chapter_10-1_162
{
position:absolute;
top:388.15px;
left:775.62px;
}
.s_1_Chapter_10-1_163
{
position:absolute;
top:388.15px;
left:1238.96px;
letter-spacing:-0.45px;
}
.s_1_Chapter_10-1_164
{
position:absolute;
top:388.15px;
left:2253.43px;
letter-spacing:-2.74px;
}
.s_1_Chapter_10-1_165
{
position:absolute;
top:796.19px;
left:20.67px;
}
.s_1_Chapter_10-1_166
{
position:absolute;
top:796.19px;
left:484.01px;
}
.s_1_Chapter_10-1_167
{
position:absolute;
top:796.19px;
left:1195.6px;
}
.s_1_Chapter_10-1_168
{
position:absolute;
top:796.19px;
left:1758.66px;
}
.s_1_Chapter_10-1_169
{
position:absolute;
top:796.19px;
left:2127.58px;
}
.s_1_Chapter_10-1_170
{
position:absolute;
top:1204.23px;
left:897.22px;
}
.s_1_Chapter_10-1_171
{
position:absolute;
top:-19.5px;
left:104.51px;
letter-spacing:-0.42px;
}
.s_1_Chapter_10-1_172
{
position:absolute;
top:-19.5px;
left:791.16px;
letter-spacing:-0.48px;
}
.s_1_Chapter_10-1_173
{
position:absolute;
top:-19.5px;
left:1575.32px;
}
.s_1_Chapter_10-1_174
{
position:absolute;
top:-19.5px;
left:1946.33px;
}
.s_1_Chapter_10-1_175
{
position:absolute;
top:280.5px;
left:111.66px;
letter-spacing:-0.64px;
}
.s_1_Chapter_10-1_176
{
position:absolute;
top:280.5px;
left:1447.52px;
letter-spacing:-0.52px;
}
.s_1_Chapter_10-1_177
{
position:absolute;
top:637.19px;
left:270.52px;
letter-spacing:-0.45px;
}
.s_1_Chapter_10-1_178
{
position:absolute;
top:637.19px;
left:773.61px;
letter-spacing:-0.32px;
}
.s_1_Chapter_10-1_179
{
position:absolute;
top:-19.5px;
left:220.55px;
letter-spacing:-1.49px;
}
.s_1_Chapter_10-1_180
{
position:absolute;
top:-19.5px;
left:824.79px;
}
.s_1_Chapter_10-1_181
{
position:absolute;
top:-19.5px;
left:1189.56px;
letter-spacing:-1.04px;
}
.s_1_Chapter_10-1_182
{
position:absolute;
top:-19.5px;
left:1687.19px;
letter-spacing:-1.69px;
}
.s_1_Chapter_10-1_183
{
position:absolute;
top:-19.5px;
left:2451.32px;
letter-spacing:-3.25px;
}
.s_1_Chapter_10-1_184
{
position:absolute;
top:280.5px;
left:44.67px;
letter-spacing:-1.04px;
}
.s_1_Chapter_10-1_185
{
position:absolute;
top:280.5px;
left:736.52px;
letter-spacing:-2.6px;
}
.s_1_Chapter_10-1_186
{
position:absolute;
top:280.5px;
left:1141.85px;
}
.s_1_Chapter_10-1_187
{
position:absolute;
top:280.5px;
left:1501.94px;
letter-spacing:-0.64px;
}
.s_1_Chapter_10-1_188
{
position:absolute;
top:637.19px;
left:230.96px;
letter-spacing:-5.72px;
}
.s_1_Chapter_10-1_189
{
position:absolute;
top:637.19px;
left:726.77px;
letter-spacing:-2.03px;
}
.s_1_Chapter_10-1_190
{
position:absolute;
top:637.19px;
left:1348.94px;
}
.s_1_Chapter_10-1_191
{
position:absolute;
top:637.19px;
left:1662.49px;
}
.s_1_Chapter_10-1_192
{
position:absolute;
top:-19.89px;
left:155.36px;
letter-spacing:-1.72px;
}
.s_1_Chapter_10-1_193
{
position:absolute;
top:-19.89px;
left:116.64px;
}
.s_1_Chapter_10-1_194
{
position:absolute;
top:-19.89px;
left:114.65px;
letter-spacing:-2.12px;
}
.s_1_Chapter_10-1_195
{
position:absolute;
top:-19.89px;
left:116.9px;
letter-spacing:-1.33px;
}
.s_1_Chapter_10-1_196
{
position:absolute;
top:-19.89px;
left:118.23px;
letter-spacing:-2.12px;
}
.s_1_Chapter_10-1_197
{
position:absolute;
top:-19.89px;
left:112.13px;
letter-spacing:-2.12px;
}
.s_1_Chapter_10-1_198
{
position:absolute;
top:-19.89px;
left:112.93px;
letter-spacing:-4.11px;
}
.s_1_Chapter_10-1_199
{
position:absolute;
top:-19.89px;
left:108.42px;
letter-spacing:-1.99px;
}
.s_1_Chapter_10-1_200
{
position:absolute;
top:-19.89px;
left:133.75px;
letter-spacing:-11.14px;
}

.page37_position1 {
	position:absolute;
	top: 199px;
	left: 112px;
	border: 1px solid #0c6570;
	border-radius: 25px;
}
.page37_position2 {
	position:absolute;
	top: 215px;
	left: 275px;
	border: 1px solid #0c6570;
	border-radius: 25px;
}
.page37_position3 {
	position:absolute;
	top: 208px;
	left: 454px;
	border: 1px solid #0c6570;
	border-radius: 25px;
}
.page37_position4 {
	position:absolute;
	top: 318px;
	left: 117px;
	border: 1px solid #0c6570;
	border-radius: 25px;
}
.page37_position5 {
	position:absolute;
	top: 341px;
	left: 279px;
	border: 1px solid #0c6570;
	border-radius: 25px;
}
.page37_position6 {
	position:absolute;
	top: 345px;
	left: 452px;
	border: 1px solid #0c6570;
	border-radius: 25px;
}
.page37_position7 {
	position:absolute;
	top: 443px;
	left: 147px;
	border: 1px solid #0c6570;
	border-radius: 25px;
}
.page37_position8 {
	position:absolute;
	top: 516px;
	left: 317px;
	border: 1px solid #0c6570;
	border-radius: 25px;
}
.page37_position9 {
	position:absolute;
	top: 470px;
	left: 492px;
	border: 1px solid #0c6570;
	border-radius: 25px;
}
.page37_btn1 {
	position:absolute;
	top: 785px;
	left: 332px;
}
.page37_btn2 {
	position:absolute;
	top: 785px;
	left: 275px;
}

.position_37 {
	position:absolute;
	top: 138px;
	left: 12px;
}
