.d_1_Chapter_10-2_1
{
position:absolute;
overflow:hidden;
left:0px;
top:0px;
transform:translate(0.00px,0.00px);
-webkit-transform:translate(0.00px,0.00px);
-ms-transform:translate(0.00px,0.00px);
-o-transform:translate(0.00px,0.00px);
-moz-transform:translate(0.00px,0.00px);
width:595.28px;
height:841.89px
}
span.CharOverride-4{
    color: #ffffff;
    font-family: "DK_Jalebi";
    font-size: 480px;
    font-style: normal;
    font-weight: normal;
}
.d_1_Chapter_10-2_2
{
width:9807.34px;
height:832px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_10-2_3
{
width:3144.98px;
height:3014.2px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_10-2_4
{
width:3064.84px;
height:288px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_10-2_5
{
width:560.18px;
height:401.47px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_10-2_6
{
width:280.1px;
height:223.78px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_10-2_7
{
width:6080.31px;
height:1028.35px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_10-2_8
{
width:280.1px;
height:223.78px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_10-2_9
{
width:6080.31px;
height:1028.35px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_10-2_10
{
width:280.1px;
height:223.78px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_10-2_11
{
width:6080.31px;
height:672.03px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_10-2_12
{
width:280.1px;
height:223.78px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_10-2_13
{
width:6080.31px;
height:598.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_10-2_14
{
width:280.1px;
height:223.78px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_10-2_15
{
width:6080.31px;
height:598.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_10-2_16
{
width:280.1px;
height:223.78px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_10-2_17
{
width:7704.57px;
height:998.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_10-2_18
{
position:absolute;
overflow:hidden;
left:0px;
top:0px;
transform:translate(595.28px,0.00px);
-webkit-transform:translate(595.28px,0.00px);
-ms-transform:translate(595.28px,0.00px);
-o-transform:translate(595.28px,0.00px);
-moz-transform:translate(595.28px,0.00px);
width:595.28px;
height:841.89px
}
.d_1_Chapter_10-2_19
{
width:5613.91px;
height:9616.54px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_10-2_20
{
width:9671.47px;
height:1232px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_10-2_21
{
width:1884.76px;
height:288px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_10-2_22
{
width:3309.14px;
height:1820.51px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_10-2_23
{
width:560.18px;
height:401.47px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_10-2_24
{
width:3064.84px;
height:288px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_10-2_25
{
width:5613.91px;
height:2598.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.s_1_Chapter_10-2_26
{
position:absolute;
top:58.88px;
left:0px;
letter-spacing:-7.92px;
}
.s_1_Chapter_10-2_27
{
position:absolute;
top:213.6px;
left:305.76px;
}
.s_1_Chapter_10-2_28
{
position:absolute;
top:213.6px;
left:453.54px;
letter-spacing:-0.57px;
}
.s_1_Chapter_10-2_29
{
position:absolute;
top:213.6px;
left:1075.46px;
letter-spacing:0px;
}
.s_1_Chapter_10-2_30
{
position:absolute;
top:213.6px;
left:1497.17px;
}
.s_1_Chapter_10-2_31
{
position:absolute;
top:213.6px;
left:2121.94px;
}
.s_1_Chapter_10-2_32
{
position:absolute;
top:213.6px;
left:2449.8px;
letter-spacing:-0.49px;
}
.s_1_Chapter_10-2_33
{
position:absolute;
top:213.6px;
left:3331.7px;
}
.s_1_Chapter_10-2_34
{
position:absolute;
top:213.6px;
left:4032.65px;
letter-spacing:-0.34px;
}
.s_1_Chapter_10-2_35
{
position:absolute;
top:213.6px;
left:5482.9px;
letter-spacing:0px;
}
.s_1_Chapter_10-2_36
{
position:absolute;
top:213.6px;
left:5952.45px;
letter-spacing:0px;
}
.s_1_Chapter_10-2_37
{
position:absolute;
top:213.6px;
left:6410.31px;
letter-spacing:0px;
}
.s_1_Chapter_10-2_38
{
position:absolute;
top:213.6px;
left:6832.02px;
letter-spacing:-0.39px;
}
.s_1_Chapter_10-2_39
{
position:absolute;
top:213.6px;
left:7691.57px;
letter-spacing:-2.56px;
}
.s_1_Chapter_10-2_40
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.45px;
}
.s_1_Chapter_10-2_41
{
position:absolute;
top:-19.5px;
left:498.68px;
}
.s_1_Chapter_10-2_42
{
position:absolute;
top:-19.5px;
left:1289.58px;
letter-spacing:-0.17px;
}
.s_1_Chapter_10-2_43
{
position:absolute;
top:-19.5px;
left:2468.14px;
}
.s_1_Chapter_10-2_44
{
position:absolute;
top:-19.5px;
left:2744.78px;
letter-spacing:-1.49px;
}
.s_1_Chapter_10-2_45
{
position:absolute;
top:380.5px;
left:0px;
letter-spacing:-1px;
}
.s_1_Chapter_10-2_46
{
position:absolute;
top:380.5px;
left:647.13px;
letter-spacing:-0.97px;
}
.s_1_Chapter_10-2_47
{
position:absolute;
top:380.5px;
left:1565.44px;
}
.s_1_Chapter_10-2_48
{
position:absolute;
top:380.5px;
left:1822.31px;
letter-spacing:-0.19px;
}
.s_1_Chapter_10-2_49
{
position:absolute;
top:780.5px;
left:0px;
letter-spacing:-0.48px;
}
.s_1_Chapter_10-2_50
{
position:absolute;
top:780.5px;
left:780.25px;
}
.s_1_Chapter_10-2_51
{
position:absolute;
top:780.5px;
left:1545.94px;
}
.s_1_Chapter_10-2_52
{
position:absolute;
top:780.5px;
left:2032.4px;
}
.s_1_Chapter_10-2_53
{
position:absolute;
top:1180.5px;
left:0px;
letter-spacing:-0.78px;
}
.s_1_Chapter_10-2_54
{
position:absolute;
top:1180.5px;
left:1135.14px;
letter-spacing:-2.68px;
}
.s_1_Chapter_10-2_55
{
position:absolute;
top:1180.5px;
left:1439.08px;
letter-spacing:-0.48px;
}
.s_1_Chapter_10-2_56
{
position:absolute;
top:1180.5px;
left:2201.9px;
}
.s_1_Chapter_10-2_57
{
position:absolute;
top:1580.5px;
left:0px;
letter-spacing:-2.6px;
}
.s_1_Chapter_10-2_58
{
position:absolute;
top:1580.5px;
left:225.42px;
}
.s_1_Chapter_10-2_59
{
position:absolute;
top:1580.5px;
left:356.19px;
}
.s_1_Chapter_10-2_60
{
position:absolute;
top:1580.5px;
left:651.55px;
}
.s_1_Chapter_10-2_61
{
position:absolute;
top:1580.5px;
left:859.02px;
letter-spacing:-0.83px;
}
.s_1_Chapter_10-2_62
{
position:absolute;
top:1580.5px;
left:1408.91px;
letter-spacing:-0.74px;
}
.s_1_Chapter_10-2_63
{
position:absolute;
top:1580.5px;
left:2008.46px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_10-2_64
{
position:absolute;
top:1580.5px;
left:2522.73px;
}
.s_1_Chapter_10-2_65
{
position:absolute;
top:1980.5px;
left:0px;
}
.s_1_Chapter_10-2_66
{
position:absolute;
top:1980.5px;
left:454.21px;
letter-spacing:-0.22px;
}
.s_1_Chapter_10-2_67
{
position:absolute;
top:1980.5px;
left:1263.32px;
letter-spacing:-2.68px;
}
.s_1_Chapter_10-2_68
{
position:absolute;
top:1980.5px;
left:1567.26px;
letter-spacing:-0.19px;
}
.s_1_Chapter_10-2_69
{
position:absolute;
top:2380.5px;
left:0px;
letter-spacing:-0.57px;
}
.s_1_Chapter_10-2_70
{
position:absolute;
top:2380.5px;
left:721.49px;
}
.s_1_Chapter_10-2_71
{
position:absolute;
top:2380.5px;
left:994.49px;
letter-spacing:-0.88px;
}
.s_1_Chapter_10-2_72
{
position:absolute;
top:-14.08px;
left:0px;
letter-spacing:-3.89px;
}
.s_1_Chapter_10-2_73
{
position:absolute;
top:-14.08px;
left:843.18px;
letter-spacing:-4.67px;
}
.s_1_Chapter_10-2_74
{
position:absolute;
top:-14.08px;
left:1635.81px;
letter-spacing:-3.89px;
}
.s_1_Chapter_10-2_75
{
position:absolute;
top:41.44px;
left:134.15px;
}
.s_1_Chapter_10-2_76
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-1.69px;
}
.s_1_Chapter_10-2_77
{
position:absolute;
top:-19.5px;
left:0px;
}
.s_1_Chapter_10-2_78
{
position:absolute;
top:-19.5px;
left:287.29px;
letter-spacing:-1.34px;
}
.s_1_Chapter_10-2_79
{
position:absolute;
top:-19.5px;
left:915.18px;
letter-spacing:-0.52px;
}
.s_1_Chapter_10-2_80
{
position:absolute;
top:-19.5px;
left:1796.05px;
letter-spacing:-1.66px;
}
.s_1_Chapter_10-2_81
{
position:absolute;
top:-19.5px;
left:2812.36px;
letter-spacing:-2.17px;
}
.s_1_Chapter_10-2_82
{
position:absolute;
top:-19.5px;
left:3112.66px;
}
.s_1_Chapter_10-2_83
{
position:absolute;
top:-19.5px;
left:4116.76px;
}
.s_1_Chapter_10-2_84
{
position:absolute;
top:-19.5px;
left:4567.34px;
text-rendering:optimizeLegibility;
letter-spacing:-0.26px;
}
.s_1_Chapter_10-2_85
{
position:absolute;
top:-19.5px;
left:5106.56px;
letter-spacing:0px;
}
.s_1_Chapter_10-2_86
{
position:absolute;
top:380.5px;
left:0px;
text-rendering:optimizeLegibility;
letter-spacing:-0.22px;
}
.s_1_Chapter_10-2_87
{
position:absolute;
top:380.5px;
left:670.79px;
}
.s_1_Chapter_10-2_88
{
position:absolute;
top:380.5px;
left:979.92px;
}
.s_1_Chapter_10-2_89
{
position:absolute;
top:380.5px;
left:1434.13px;
}
.s_1_Chapter_10-2_90
{
position:absolute;
top:380.5px;
left:2169.14px;
}
.s_1_Chapter_10-2_91
{
position:absolute;
top:380.5px;
left:2750.23px;
letter-spacing:-0.57px;
}
.s_1_Chapter_10-2_92
{
position:absolute;
top:380.5px;
left:3259.05px;
letter-spacing:-3.9px;
}
.s_1_Chapter_10-2_93
{
position:absolute;
top:380.5px;
left:3476.14px;
letter-spacing:-0.64px;
}
.s_1_Chapter_10-2_94
{
position:absolute;
top:380.5px;
left:4863.48px;
letter-spacing:-0.74px;
}
.s_1_Chapter_10-2_95
{
position:absolute;
top:380.5px;
left:5642.42px;
letter-spacing:0px;
}
.s_1_Chapter_10-2_96
{
position:absolute;
top:780.5px;
left:0px;
}
.s_1_Chapter_10-2_97
{
position:absolute;
top:780.5px;
left:746.45px;
letter-spacing:-3.31px;
}
.s_1_Chapter_10-2_98
{
position:absolute;
top:780.5px;
left:1092.76px;
}
.s_1_Chapter_10-2_99
{
position:absolute;
top:780.5px;
left:1603.91px;
}
.s_1_Chapter_10-2_100
{
position:absolute;
top:780.5px;
left:2591.38px;
letter-spacing:-0.62px;
}
.s_1_Chapter_10-2_101
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-2.08px;
}
.s_1_Chapter_10-2_102
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.45px;
}
.s_1_Chapter_10-2_103
{
position:absolute;
top:-19.5px;
left:499.46px;
text-rendering:optimizeLegibility;
letter-spacing:-0.26px;
}
.s_1_Chapter_10-2_104
{
position:absolute;
top:-19.5px;
left:1038.68px;
}
.s_1_Chapter_10-2_105
{
position:absolute;
top:-19.5px;
left:1881.85px;
}
.s_1_Chapter_10-2_106
{
position:absolute;
top:-19.5px;
left:2195.4px;
}
.s_1_Chapter_10-2_107
{
position:absolute;
top:-19.5px;
left:2818.35px;
}
.s_1_Chapter_10-2_108
{
position:absolute;
top:-19.5px;
left:3272.56px;
}
.s_1_Chapter_10-2_109
{
position:absolute;
top:-19.5px;
left:3973.76px;
}
.s_1_Chapter_10-2_110
{
position:absolute;
top:-19.5px;
left:4250.4px;
}
.s_1_Chapter_10-2_111
{
position:absolute;
top:-19.5px;
left:4778.71px;
letter-spacing:-0.71px;
}
.s_1_Chapter_10-2_112
{
position:absolute;
top:-19.5px;
left:5327.04px;
letter-spacing:-3.25px;
}
.s_1_Chapter_10-2_113
{
position:absolute;
top:380.5px;
left:0px;
letter-spacing:-0.63px;
}
.s_1_Chapter_10-2_114
{
position:absolute;
top:380.5px;
left:873.59px;
}
.s_1_Chapter_10-2_115
{
position:absolute;
top:380.5px;
left:1395.14px;
}
.s_1_Chapter_10-2_116
{
position:absolute;
top:380.5px;
left:2274.71px;
letter-spacing:-0.72px;
}
.s_1_Chapter_10-2_117
{
position:absolute;
top:380.5px;
left:3868.5px;
}
.s_1_Chapter_10-2_118
{
position:absolute;
top:380.5px;
left:4140.71px;
}
.s_1_Chapter_10-2_119
{
position:absolute;
top:380.5px;
left:4594.92px;
letter-spacing:-0.26px;
}
.s_1_Chapter_10-2_120
{
position:absolute;
top:780.5px;
left:0px;
letter-spacing:-0.19px;
}
.s_1_Chapter_10-2_121
{
position:absolute;
top:780.5px;
left:938.85px;
}
.s_1_Chapter_10-2_122
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-2.08px;
}
.s_1_Chapter_10-2_123
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-1.98px;
}
.s_1_Chapter_10-2_124
{
position:absolute;
top:-19.5px;
left:816.39px;
}
.s_1_Chapter_10-2_125
{
position:absolute;
top:-19.5px;
left:1547.49px;
letter-spacing:-0.2px;
}
.s_1_Chapter_10-2_126
{
position:absolute;
top:-19.5px;
left:3422.59px;
}
.s_1_Chapter_10-2_127
{
position:absolute;
top:-19.5px;
left:4417.07px;
letter-spacing:-1.01px;
}
.s_1_Chapter_10-2_128
{
position:absolute;
top:-19.5px;
left:5656.48px;
letter-spacing:0px;
}
.s_1_Chapter_10-2_129
{
position:absolute;
top:380.5px;
left:0px;
letter-spacing:-4.16px;
}
.s_1_Chapter_10-2_130
{
position:absolute;
top:380.5px;
left:1039.74px;
letter-spacing:-0.71px;
}
.s_1_Chapter_10-2_131
{
position:absolute;
top:380.5px;
left:1588.07px;
}
.s_1_Chapter_10-2_132
{
position:absolute;
top:380.5px;
left:2727.64px;
}
.s_1_Chapter_10-2_133
{
position:absolute;
top:380.5px;
left:2997.52px;
letter-spacing:-0.47px;
}
.s_1_Chapter_10-2_134
{
position:absolute;
top:380.5px;
left:3623.85px;
letter-spacing:-4.37px;
}
.s_1_Chapter_10-2_135
{
position:absolute;
top:-19.5px;
left:0px;
}
.s_1_Chapter_10-2_136
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.45px;
}
.s_1_Chapter_10-2_137
{
position:absolute;
top:-19.5px;
left:499.46px;
text-rendering:optimizeLegibility;
letter-spacing:-0.26px;
}
.s_1_Chapter_10-2_138
{
position:absolute;
top:-19.5px;
left:1033.74px;
letter-spacing:-0.52px;
}
.s_1_Chapter_10-2_139
{
position:absolute;
top:-19.5px;
left:1975.45px;
letter-spacing:-0.29px;
}
.s_1_Chapter_10-2_140
{
position:absolute;
top:-19.5px;
left:3350.06px;
}
.s_1_Chapter_10-2_141
{
position:absolute;
top:-19.5px;
left:3663.61px;
}
.s_1_Chapter_10-2_142
{
position:absolute;
top:-19.5px;
left:4034.1px;
letter-spacing:-0.31px;
}
.s_1_Chapter_10-2_143
{
position:absolute;
top:-19.5px;
left:4552.01px;
letter-spacing:-0.48px;
}
.s_1_Chapter_10-2_144
{
position:absolute;
top:-19.5px;
left:5311.2px;
letter-spacing:-0.71px;
}
.s_1_Chapter_10-2_145
{
position:absolute;
top:380.5px;
left:0px;
letter-spacing:-1.96px;
}
.s_1_Chapter_10-2_146
{
position:absolute;
top:380.5px;
left:1218.35px;
letter-spacing:-2.6px;
}
.s_1_Chapter_10-2_147
{
position:absolute;
top:380.5px;
left:3854.19px;
letter-spacing:-1.36px;
}
.s_1_Chapter_10-2_148
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-1.3px;
}
.s_1_Chapter_10-2_149
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.17px;
}
.s_1_Chapter_10-2_150
{
position:absolute;
top:-19.5px;
left:1022.31px;
}
.s_1_Chapter_10-2_151
{
position:absolute;
top:-19.5px;
left:1944.26px;
letter-spacing:-0.71px;
}
.s_1_Chapter_10-2_152
{
position:absolute;
top:-19.5px;
left:2488.17px;
}
.s_1_Chapter_10-2_153
{
position:absolute;
top:-19.5px;
left:2938.74px;
text-rendering:optimizeLegibility;
letter-spacing:-0.26px;
}
.s_1_Chapter_10-2_154
{
position:absolute;
top:-19.5px;
left:3477.97px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_10-2_155
{
position:absolute;
top:-19.5px;
left:4490.39px;
letter-spacing:0px;
}
.s_1_Chapter_10-2_156
{
position:absolute;
top:380.5px;
left:0px;
}
.s_1_Chapter_10-2_157
{
position:absolute;
top:380.5px;
left:1139.57px;
letter-spacing:-3.38px;
}
.s_1_Chapter_10-2_158
{
position:absolute;
top:380.5px;
left:1485.62px;
}
.s_1_Chapter_10-2_159
{
position:absolute;
top:380.5px;
left:1939.83px;
}
.s_1_Chapter_10-2_160
{
position:absolute;
top:380.5px;
left:2734.38px;
letter-spacing:-0.35px;
}
.s_1_Chapter_10-2_161
{
position:absolute;
top:380.5px;
left:3487.58px;
letter-spacing:-0.31px;
}
.s_1_Chapter_10-2_162
{
position:absolute;
top:380.5px;
left:4001.07px;
}
.s_1_Chapter_10-2_163
{
position:absolute;
top:380.5px;
left:4455.29px;
letter-spacing:-1.56px;
}
.s_1_Chapter_10-2_164
{
position:absolute;
top:380.5px;
left:5334.85px;
letter-spacing:0px;
}
.s_1_Chapter_10-2_165
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-2.08px;
}
.s_1_Chapter_10-2_166
{
position:absolute;
top:-19.5px;
left:0px;
}
.s_1_Chapter_10-2_167
{
position:absolute;
top:-19.5px;
left:287.29px;
letter-spacing:-0.56px;
}
.s_1_Chapter_10-2_168
{
position:absolute;
top:-19.5px;
left:827.56px;
}
.s_1_Chapter_10-2_169
{
position:absolute;
top:-19.5px;
left:1281.77px;
letter-spacing:-0.19px;
}
.s_1_Chapter_10-2_170
{
position:absolute;
top:-19.5px;
left:2263.78px;
}
.s_1_Chapter_10-2_171
{
position:absolute;
top:-19.5px;
left:3058.32px;
letter-spacing:-0.39px;
}
.s_1_Chapter_10-2_172
{
position:absolute;
top:-19.5px;
left:3639.93px;
}
.s_1_Chapter_10-2_173
{
position:absolute;
top:-19.5px;
left:4151.09px;
letter-spacing:-0.29px;
}
.s_1_Chapter_10-2_174
{
position:absolute;
top:-19.5px;
left:5530.11px;
letter-spacing:-0.48px;
}
.s_1_Chapter_10-2_175
{
position:absolute;
top:-19.5px;
left:6122.39px;
letter-spacing:-0.7px;
}
.s_1_Chapter_10-2_176
{
position:absolute;
top:380.5px;
left:0px;
letter-spacing:-3.74px;
}
.s_1_Chapter_10-2_177
{
position:absolute;
top:380.5px;
left:514.27px;
letter-spacing:-0.81px;
}
.s_1_Chapter_10-2_178
{
position:absolute;
top:380.5px;
left:1596.12px;
}
.s_1_Chapter_10-2_179
{
position:absolute;
top:380.5px;
left:2600.23px;
}
.s_1_Chapter_10-2_180
{
position:absolute;
top:380.5px;
left:3050.8px;
text-rendering:optimizeLegibility;
letter-spacing:-0.26px;
}
.s_1_Chapter_10-2_181
{
position:absolute;
top:380.5px;
left:3590.02px;
}
.s_1_Chapter_10-2_182
{
position:absolute;
top:380.5px;
left:4463.1px;
}
.s_1_Chapter_10-2_183
{
position:absolute;
top:380.5px;
left:4772.23px;
letter-spacing:-1.45px;
}
.s_1_Chapter_10-2_184
{
position:absolute;
top:380.5px;
left:5509.83px;
letter-spacing:-0.31px;
}
.s_1_Chapter_10-2_185
{
position:absolute;
top:380.5px;
left:6027.74px;
letter-spacing:-0.48px;
}
.s_1_Chapter_10-2_186
{
position:absolute;
top:-19.5px;
left:396.85px;
letter-spacing:-0.88px;
}
.s_1_Chapter_10-2_187
{
position:absolute;
top:-19.5px;
left:1047.1px;
letter-spacing:-0.71px;
}
.s_1_Chapter_10-2_188
{
position:absolute;
top:-19.5px;
left:1591.8px;
letter-spacing:-0.63px;
}
.s_1_Chapter_10-2_189
{
position:absolute;
top:-19.5px;
left:2522.59px;
}
.s_1_Chapter_10-2_190
{
position:absolute;
top:-19.5px;
left:2888.66px;
}
.s_1_Chapter_10-2_191
{
position:absolute;
top:-19.5px;
left:3384.99px;
letter-spacing:-0.45px;
}
.s_1_Chapter_10-2_192
{
position:absolute;
top:-19.5px;
left:4278.33px;
}
.s_1_Chapter_10-2_193
{
position:absolute;
top:440.5px;
left:396.85px;
letter-spacing:-3.38px;
}
.s_1_Chapter_10-2_194
{
position:absolute;
top:440.5px;
left:746.71px;
}
.s_1_Chapter_10-2_195
{
position:absolute;
top:440.5px;
left:2306.71px;
}
.s_1_Chapter_10-2_196
{
position:absolute;
top:440.5px;
left:2437.91px;
letter-spacing:-0.95px;
}
.s_1_Chapter_10-2_197
{
position:absolute;
top:440.5px;
left:2828.33px;
letter-spacing:0px;
}
.s_1_Chapter_10-2_198
{
position:absolute;
top:440.5px;
left:3084.59px;
letter-spacing:-0.9px;
}
.s_1_Chapter_10-2_199
{
position:absolute;
top:440.5px;
left:4447.41px;
}
.s_1_Chapter_10-2_200
{
position:absolute;
top:440.5px;
left:4897.37px;
letter-spacing:-0.85px;
}
.s_1_Chapter_10-2_201
{
position:absolute;
top:900.5px;
left:396.85px;
letter-spacing:-2.68px;
}
.s_1_Chapter_10-2_202
{
position:absolute;
top:900.5px;
left:696.37px;
}
.s_1_Chapter_10-2_203
{
position:absolute;
top:900.5px;
left:1150.58px;
}
.s_1_Chapter_10-2_204
{
position:absolute;
top:900.5px;
left:1938.11px;
letter-spacing:-0.48px;
}
.s_1_Chapter_10-2_205
{
position:absolute;
top:900.5px;
left:2702.24px;
letter-spacing:-0.78px;
}
.s_1_Chapter_10-2_206
{
position:absolute;
top:1473.88px;
left:396.85px;
letter-spacing:-0.45px;
}
.s_1_Chapter_10-2_207
{
position:absolute;
top:1473.88px;
left:896.31px;
text-rendering:optimizeLegibility;
letter-spacing:-0.26px;
}
.s_1_Chapter_10-2_208
{
position:absolute;
top:1473.88px;
left:1435.53px;
}
.s_1_Chapter_10-2_209
{
position:absolute;
top:1473.88px;
left:2223.06px;
}
.s_1_Chapter_10-2_210
{
position:absolute;
top:1473.88px;
left:3217.54px;
}
.s_1_Chapter_10-2_211
{
position:absolute;
top:1473.88px;
left:4056.04px;
letter-spacing:-0.55px;
}
.s_1_Chapter_10-2_212
{
position:absolute;
top:1933.88px;
left:396.85px;
letter-spacing:-0.71px;
}
.s_1_Chapter_10-2_213
{
position:absolute;
top:1933.88px;
left:945.18px;
}
.s_1_Chapter_10-2_214
{
position:absolute;
top:1933.88px;
left:2505.18px;
}
.s_1_Chapter_10-2_215
{
position:absolute;
top:2507.27px;
left:396.85px;
letter-spacing:-0.45px;
}
.s_1_Chapter_10-2_216
{
position:absolute;
top:2507.27px;
left:899.95px;
letter-spacing:-0.5px;
}
.s_1_Chapter_10-2_217
{
position:absolute;
top:2507.27px;
left:2434.18px;
letter-spacing:-2.68px;
}
.s_1_Chapter_10-2_218
{
position:absolute;
top:2507.27px;
left:2738.12px;
letter-spacing:-0.88px;
}
.s_1_Chapter_10-2_219
{
position:absolute;
top:2507.27px;
left:3393.31px;
}
.s_1_Chapter_10-2_220
{
position:absolute;
top:2507.27px;
left:3650.19px;
}
.s_1_Chapter_10-2_221
{
position:absolute;
top:2507.27px;
left:3926.82px;
}
.s_1_Chapter_10-2_222
{
position:absolute;
top:2507.27px;
left:5486.82px;
}
.s_1_Chapter_10-2_223
{
position:absolute;
top:3080.66px;
left:396.85px;
}
.s_1_Chapter_10-2_224
{
position:absolute;
top:3080.66px;
left:1618.32px;
}
.s_1_Chapter_10-2_225
{
position:absolute;
top:3080.66px;
left:1894.95px;
letter-spacing:-0.75px;
}
.s_1_Chapter_10-2_226
{
position:absolute;
top:3080.66px;
left:2941.96px;
}
.s_1_Chapter_10-2_227
{
position:absolute;
top:3080.66px;
left:3629.64px;
letter-spacing:-3.38px;
}
.s_1_Chapter_10-2_228
{
position:absolute;
top:3080.66px;
left:3980.11px;
letter-spacing:-2.69px;
}
.s_1_Chapter_10-2_229
{
position:absolute;
top:3540.66px;
left:396.85px;
}
.s_1_Chapter_10-2_230
{
position:absolute;
top:3540.66px;
left:1956.85px;
}
.s_1_Chapter_10-2_231
{
position:absolute;
top:3540.66px;
left:2022.63px;
letter-spacing:-0.71px;
}
.s_1_Chapter_10-2_232
{
position:absolute;
top:3540.66px;
left:2566.54px;
}
.s_1_Chapter_10-2_233
{
position:absolute;
top:3540.66px;
left:3017.12px;
text-rendering:optimizeLegibility;
letter-spacing:-0.26px;
}
.s_1_Chapter_10-2_234
{
position:absolute;
top:3540.66px;
left:3556.34px;
letter-spacing:-1px;
}
.s_1_Chapter_10-2_235
{
position:absolute;
top:3540.66px;
left:4220.63px;
letter-spacing:-1.17px;
}
.s_1_Chapter_10-2_236
{
position:absolute;
top:3540.66px;
left:4977.74px;
}
.s_1_Chapter_10-2_237
{
position:absolute;
top:4000.66px;
left:396.85px;
}
.s_1_Chapter_10-2_238
{
position:absolute;
top:4000.66px;
left:1136.8px;
letter-spacing:-0.31px;
}
.s_1_Chapter_10-2_239
{
position:absolute;
top:4000.66px;
left:1715.81px;
letter-spacing:-3.38px;
}
.s_1_Chapter_10-2_240
{
position:absolute;
top:4000.66px;
left:2066.28px;
}
.s_1_Chapter_10-2_241
{
position:absolute;
top:4574.04px;
left:396.85px;
letter-spacing:-1.82px;
}
.s_1_Chapter_10-2_242
{
position:absolute;
top:4574.04px;
left:1202.58px;
text-rendering:optimizeLegibility;
letter-spacing:-0.26px;
}
.s_1_Chapter_10-2_243
{
position:absolute;
top:4574.04px;
left:1741.81px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_10-2_244
{
position:absolute;
top:4574.04px;
left:2754.23px;
}
.s_1_Chapter_10-2_245
{
position:absolute;
top:4574.04px;
left:3812.41px;
}
.s_1_Chapter_10-2_246
{
position:absolute;
top:4574.04px;
left:4951.97px;
}
.s_1_Chapter_10-2_247
{
position:absolute;
top:5034.04px;
left:396.85px;
}
.s_1_Chapter_10-2_248
{
position:absolute;
top:5034.04px;
left:1003.67px;
letter-spacing:-1.17px;
}
.s_1_Chapter_10-2_249
{
position:absolute;
top:5034.04px;
left:1588.67px;
letter-spacing:-0.71px;
}
.s_1_Chapter_10-2_250
{
position:absolute;
top:5034.04px;
left:2137px;
}
.s_1_Chapter_10-2_251
{
position:absolute;
top:5034.04px;
left:3697px;
}
.s_1_Chapter_10-2_252
{
position:absolute;
top:5607.43px;
left:396.85px;
letter-spacing:-3.27px;
}
.s_1_Chapter_10-2_253
{
position:absolute;
top:5607.43px;
left:1308.14px;
}
.s_1_Chapter_10-2_254
{
position:absolute;
top:5607.43px;
left:2087.87px;
letter-spacing:-1.49px;
}
.s_1_Chapter_10-2_255
{
position:absolute;
top:5607.43px;
left:2478.12px;
letter-spacing:-4.46px;
}
.s_1_Chapter_10-2_256
{
position:absolute;
top:5607.43px;
left:3189.22px;
letter-spacing:-0.33px;
}
.s_1_Chapter_10-2_257
{
position:absolute;
top:5607.43px;
left:3834.52px;
}
.s_1_Chapter_10-2_258
{
position:absolute;
top:5607.43px;
left:5394.52px;
}
.s_1_Chapter_10-2_259
{
position:absolute;
top:6067.43px;
left:396.85px;
letter-spacing:-0.71px;
}
.s_1_Chapter_10-2_260
{
position:absolute;
top:6067.43px;
left:940.77px;
}
.s_1_Chapter_10-2_261
{
position:absolute;
top:6067.43px;
left:1391.34px;
text-rendering:optimizeLegibility;
letter-spacing:-0.26px;
}
.s_1_Chapter_10-2_262
{
position:absolute;
top:6067.43px;
left:1930.56px;
}
.s_1_Chapter_10-2_263
{
position:absolute;
top:6067.43px;
left:2713.67px;
}
.s_1_Chapter_10-2_264
{
position:absolute;
top:6067.43px;
left:3027.22px;
}
.s_1_Chapter_10-2_265
{
position:absolute;
top:6067.43px;
left:3397.72px;
letter-spacing:-0.31px;
}
.s_1_Chapter_10-2_266
{
position:absolute;
top:6067.43px;
left:3915.63px;
letter-spacing:-0.48px;
}
.s_1_Chapter_10-2_267
{
position:absolute;
top:6067.43px;
left:4679.76px;
}
.s_1_Chapter_10-2_268
{
position:absolute;
top:6067.43px;
left:4956.39px;
}
.s_1_Chapter_10-2_269
{
position:absolute;
top:6527.43px;
left:396.85px;
}
.s_1_Chapter_10-2_270
{
position:absolute;
top:6527.43px;
left:762.92px;
letter-spacing:-1.3px;
}
.s_1_Chapter_10-2_271
{
position:absolute;
top:6527.43px;
left:1518.99px;
}
.s_1_Chapter_10-2_272
{
position:absolute;
top:6527.43px;
left:1973.2px;
letter-spacing:-0.69px;
}
.s_1_Chapter_10-2_273
{
position:absolute;
top:6527.43px;
left:2738.37px;
letter-spacing:-3.22px;
}
.s_1_Chapter_10-2_274
{
position:absolute;
top:6527.43px;
left:3165.28px;
letter-spacing:-0.24px;
}
.s_1_Chapter_10-2_275
{
position:absolute;
top:6527.43px;
left:4552.88px;
}
.s_1_Chapter_10-2_276
{
position:absolute;
top:6987.43px;
left:396.85px;
}
.s_1_Chapter_10-2_277
{
position:absolute;
top:6987.43px;
left:1335.69px;
text-rendering:optimizeLegibility;
letter-spacing:-2.01px;
}
.s_1_Chapter_10-2_278
{
position:absolute;
top:6987.43px;
left:1713.47px;
}
.s_1_Chapter_10-2_279
{
position:absolute;
top:6987.43px;
left:2079.54px;
}
.s_1_Chapter_10-2_280
{
position:absolute;
top:6987.43px;
left:2275.06px;
}
.s_1_Chapter_10-2_281
{
position:absolute;
top:6987.43px;
left:2881.88px;
letter-spacing:-0.52px;
}
.s_1_Chapter_10-2_282
{
position:absolute;
top:7560.81px;
left:396.85px;
letter-spacing:-1.08px;
}
.s_1_Chapter_10-2_283
{
position:absolute;
top:7560.81px;
left:1031.76px;
}
.s_1_Chapter_10-2_284
{
position:absolute;
top:7560.81px;
left:2171.33px;
}
.s_1_Chapter_10-2_285
{
position:absolute;
top:7560.81px;
left:2518.16px;
text-rendering:optimizeLegibility;
letter-spacing:-0.26px;
}
.s_1_Chapter_10-2_286
{
position:absolute;
top:7560.81px;
left:3057.39px;
}
.s_1_Chapter_10-2_287
{
position:absolute;
top:7560.81px;
left:4375.84px;
letter-spacing:-2.01px;
}
.s_1_Chapter_10-2_288
{
position:absolute;
top:8020.81px;
left:396.85px;
letter-spacing:-0.56px;
}
.s_1_Chapter_10-2_289
{
position:absolute;
top:8020.81px;
left:1967.24px;
}
.s_1_Chapter_10-2_290
{
position:absolute;
top:8020.81px;
left:2280.79px;
}
.s_1_Chapter_10-2_291
{
position:absolute;
top:8020.81px;
left:2908.15px;
letter-spacing:-0.88px;
}
.s_1_Chapter_10-2_292
{
position:absolute;
top:8020.81px;
left:3579.72px;
}
.s_1_Chapter_10-2_293
{
position:absolute;
top:8020.81px;
left:3856.36px;
}
.s_1_Chapter_10-2_294
{
position:absolute;
top:8020.81px;
left:5416.36px;
}
.s_1_Chapter_10-2_295
{
position:absolute;
top:58.88px;
left:0px;
letter-spacing:-7.92px;
}
.s_1_Chapter_10-2_296
{
position:absolute;
top:213.6px;
left:329.76px;
}
.s_1_Chapter_10-2_297
{
position:absolute;
top:213.6px;
left:453.54px;
letter-spacing:-0.39px;
}
.s_1_Chapter_10-2_298
{
position:absolute;
top:213.6px;
left:918.94px;
letter-spacing:0px;
}
.s_1_Chapter_10-2_299
{
position:absolute;
top:213.6px;
left:1659.92px;
}
.s_1_Chapter_10-2_300
{
position:absolute;
top:213.6px;
left:2379.33px;
letter-spacing:-0.66px;
}
.s_1_Chapter_10-2_301
{
position:absolute;
top:213.6px;
left:3466.91px;
letter-spacing:-0.34px;
}
.s_1_Chapter_10-2_302
{
position:absolute;
top:213.6px;
left:4982.69px;
letter-spacing:-1.34px;
}
.s_1_Chapter_10-2_303
{
position:absolute;
top:213.6px;
left:5751.24px;
letter-spacing:0px;
}
.s_1_Chapter_10-2_304
{
position:absolute;
top:213.6px;
left:5983.15px;
letter-spacing:0px;
}
.s_1_Chapter_10-2_305
{
position:absolute;
top:213.6px;
left:6404.87px;
letter-spacing:0px;
}
.s_1_Chapter_10-2_306
{
position:absolute;
top:213.6px;
left:7145.85px;
letter-spacing:-0.78px;
}
.s_1_Chapter_10-2_307
{
position:absolute;
top:213.6px;
left:8735.74px;
letter-spacing:0px;
}
.s_1_Chapter_10-2_308
{
position:absolute;
top:613.6px;
left:453.54px;
letter-spacing:-0.89px;
}
.s_1_Chapter_10-2_309
{
position:absolute;
top:613.6px;
left:1307.12px;
letter-spacing:-1.95px;
}
.s_1_Chapter_10-2_310
{
position:absolute;
top:613.6px;
left:1688.01px;
}
.s_1_Chapter_10-2_311
{
position:absolute;
top:613.6px;
left:2388.96px;
letter-spacing:-0.43px;
}
.s_1_Chapter_10-2_312
{
position:absolute;
top:613.6px;
left:3874.84px;
}
.s_1_Chapter_10-2_313
{
position:absolute;
top:613.6px;
left:4345.43px;
letter-spacing:-0.62px;
}
.s_1_Chapter_10-2_314
{
position:absolute;
top:613.6px;
left:5435.08px;
letter-spacing:0px;
}
.s_1_Chapter_10-2_315
{
position:absolute;
top:613.6px;
left:5802.19px;
}
.s_1_Chapter_10-2_316
{
position:absolute;
top:613.6px;
left:6054.12px;
letter-spacing:0px;
}
.s_1_Chapter_10-2_317
{
position:absolute;
top:613.6px;
left:6475.84px;
letter-spacing:0px;
}
.s_1_Chapter_10-2_318
{
position:absolute;
top:613.6px;
left:7255.56px;
}
.s_1_Chapter_10-2_319
{
position:absolute;
top:613.6px;
left:7802.86px;
letter-spacing:-0.39px;
}
.s_1_Chapter_10-2_320
{
position:absolute;
top:613.6px;
left:8662.4px;
letter-spacing:-0.49px;
}
.s_1_Chapter_10-2_321
{
position:absolute;
top:-12.32px;
left:0px;
}
.s_1_Chapter_10-2_322
{
position:absolute;
top:-12.32px;
left:420.83px;
letter-spacing:-5.11px;
}
.s_1_Chapter_10-2_323
{
position:absolute;
top:-12.32px;
left:971.57px;
letter-spacing:-6.86px;
}
.s_1_Chapter_10-2_324
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.45px;
}
.s_1_Chapter_10-2_325
{
position:absolute;
top:-19.5px;
left:503.1px;
letter-spacing:-0.88px;
}
.s_1_Chapter_10-2_326
{
position:absolute;
top:-19.5px;
left:1158.29px;
}
.s_1_Chapter_10-2_327
{
position:absolute;
top:-19.5px;
left:1891.74px;
letter-spacing:-3.25px;
}
.s_1_Chapter_10-2_328
{
position:absolute;
top:-19.5px;
left:2094.28px;
letter-spacing:-0.52px;
}
.s_1_Chapter_10-2_329
{
position:absolute;
top:380.5px;
left:0px;
letter-spacing:-2.52px;
}
.s_1_Chapter_10-2_330
{
position:absolute;
top:380.5px;
left:836.67px;
letter-spacing:-3.38px;
}
.s_1_Chapter_10-2_331
{
position:absolute;
top:380.5px;
left:1187.14px;
}
.s_1_Chapter_10-2_332
{
position:absolute;
top:380.5px;
left:2388.33px;
}
.s_1_Chapter_10-2_333
{
position:absolute;
top:780.5px;
left:0px;
}
.s_1_Chapter_10-2_334
{
position:absolute;
top:780.5px;
left:1116.42px;
letter-spacing:-0.88px;
}
.s_1_Chapter_10-2_335
{
position:absolute;
top:780.5px;
left:2116.1px;
letter-spacing:-3.25px;
}
.s_1_Chapter_10-2_336
{
position:absolute;
top:780.5px;
left:2323.58px;
}
.s_1_Chapter_10-2_337
{
position:absolute;
top:1180.5px;
left:0px;
letter-spacing:-2.3px;
}
.s_1_Chapter_10-2_338
{
position:absolute;
top:1180.5px;
left:805.21px;
}
.s_1_Chapter_10-2_339
{
position:absolute;
top:1180.5px;
left:1081.84px;
letter-spacing:-2.57px;
}
.s_1_Chapter_10-2_340
{
position:absolute;
top:1180.5px;
left:2198.79px;
letter-spacing:-3.64px;
}
.s_1_Chapter_10-2_341
{
position:absolute;
top:41.44px;
left:134.15px;
}
.s_1_Chapter_10-2_342
{
position:absolute;
top:-14.08px;
left:0px;
letter-spacing:-3.68px;
}
.s_1_Chapter_10-2_343
{
position:absolute;
top:-14.08px;
left:727.67px;
}
.s_1_Chapter_10-2_344
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.36px;
}
.s_1_Chapter_10-2_345
{
position:absolute;
top:-19.5px;
left:537.67px;
}
.s_1_Chapter_10-2_346
{
position:absolute;
top:-19.5px;
left:1723.78px;
letter-spacing:-0.36px;
}
.s_1_Chapter_10-2_347
{
position:absolute;
top:-19.5px;
left:2671.99px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_10-2_348
{
position:absolute;
top:-19.5px;
left:3466.28px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_10-2_349
{
position:absolute;
top:-19.5px;
left:3962.87px;
letter-spacing:-0.71px;
}
.s_1_Chapter_10-2_350
{
position:absolute;
top:-19.5px;
left:4511.2px;
letter-spacing:-0.78px;
}
.s_1_Chapter_10-2_351
{
position:absolute;
top:380.5px;
left:0px;
}
.s_1_Chapter_10-2_352
{
position:absolute;
top:380.5px;
left:276.63px;
letter-spacing:-0.69px;
}
.s_1_Chapter_10-2_353
{
position:absolute;
top:380.5px;
left:896.46px;
letter-spacing:-0.95px;
}
.s_1_Chapter_10-2_354
{
position:absolute;
top:380.5px;
left:1969.46px;
letter-spacing:-3.38px;
}
.s_1_Chapter_10-2_355
{
position:absolute;
top:380.5px;
left:2319.94px;
letter-spacing:-1.41px;
}
.s_1_Chapter_10-2_356
{
position:absolute;
top:380.5px;
left:3099.15px;
letter-spacing:-0.74px;
}
.s_1_Chapter_10-2_357
{
position:absolute;
top:380.5px;
left:3841.44px;
}
.s_1_Chapter_10-2_358
{
position:absolute;
top:380.5px;
left:4065.55px;
}
.s_1_Chapter_10-2_359
{
position:absolute;
top:380.5px;
left:4322.42px;
}
.s_1_Chapter_10-2_360
{
position:absolute;
top:380.5px;
left:5107.87px;
letter-spacing:0px;
}
.s_1_Chapter_10-2_361
{
position:absolute;
top:780.5px;
left:0px;
letter-spacing:-1.25px;
}
.s_1_Chapter_10-2_362
{
position:absolute;
top:780.5px;
left:663.25px;
letter-spacing:-2.26px;
}
.s_1_Chapter_10-2_363
{
position:absolute;
top:780.5px;
left:1442.98px;
letter-spacing:-0.74px;
}
.s_1_Chapter_10-2_364
{
position:absolute;
top:780.5px;
left:2141.07px;
letter-spacing:-3.38px;
}
.s_1_Chapter_10-2_365
{
position:absolute;
top:780.5px;
left:2487.12px;
}
.s_1_Chapter_10-2_366
{
position:absolute;
top:780.5px;
left:2941.33px;
}
.s_1_Chapter_10-2_367
{
position:absolute;
top:780.5px;
left:3650.08px;
}
.s_1_Chapter_10-2_368
{
position:absolute;
top:780.5px;
left:4439.69px;
letter-spacing:-0.69px;
}
.s_1_Chapter_10-2_369
{
position:absolute;
top:780.5px;
left:4667.97px;
letter-spacing:-0.41px;
}
.s_1_Chapter_10-2_370
{
position:absolute;
top:1180.5px;
left:0px;
}
.s_1_Chapter_10-2_371
{
position:absolute;
top:1180.5px;
left:454.21px;
letter-spacing:-1.23px;
}
.s_1_Chapter_10-2_372
{
position:absolute;
top:1180.5px;
left:1403.98px;
letter-spacing:-2.68px;
}
.s_1_Chapter_10-2_373
{
position:absolute;
top:1180.5px;
left:1707.92px;
letter-spacing:-0.7px;
}
.s_1_Chapter_10-2_374
{
position:absolute;
top:1180.5px;
left:2917.41px;
letter-spacing:-0.57px;
}
.s_1_Chapter_10-2_375
{
position:absolute;
top:1180.5px;
left:3592.37px;
letter-spacing:-3.15px;
}
.s_1_Chapter_10-2_376
{
position:absolute;
top:1180.5px;
left:4602.98px;
letter-spacing:-1.45px;
}
.s_1_Chapter_10-2_377
{
position:absolute;
top:1580.5px;
left:0px;
letter-spacing:-3.38px;
}
.s_1_Chapter_10-2_378
{
position:absolute;
top:1580.5px;
left:350.47px;
letter-spacing:-0.57px;
}
.s_1_Chapter_10-2_379
{
position:absolute;
top:1580.5px;
left:980.7px;
letter-spacing:-0.37px;
}
.s_1_Chapter_10-2_380
{
position:absolute;
top:1580.5px;
left:1953.88px;
}
.s_1_Chapter_10-2_381
{
position:absolute;
top:1580.5px;
left:2530.81px;
}
.s_1_Chapter_10-2_382
{
position:absolute;
top:1580.5px;
left:2787.68px;
}
.s_1_Chapter_10-2_383
{
position:absolute;
top:1580.5px;
left:3247.61px;
}
.s_1_Chapter_10-2_384
{
position:absolute;
top:1580.5px;
left:4377.29px;
}
.s_1_Chapter_10-2_385
{
position:absolute;
top:1580.5px;
left:4743.36px;
letter-spacing:-0.88px;
}
.s_1_Chapter_10-2_386
{
position:absolute;
top:1980.5px;
left:0px;
}
.s_1_Chapter_10-2_387
{
position:absolute;
top:1980.5px;
left:511.15px;
}
.s_1_Chapter_10-2_388
{
position:absolute;
top:1980.5px;
left:1678.79px;
}
.s_1_Chapter_10-2_389
{
position:absolute;
top:1980.5px;
left:1992.34px;
letter-spacing:-0.55px;
}
.s_1_Chapter_10-2_390
{
position:absolute;
top:1980.5px;
left:2904.66px;
}
.s_1_Chapter_10-2_391
{
position:absolute;
top:1980.5px;
left:3415.82px;
letter-spacing:-1px;
}
.s_1_Chapter_10-2_392
{
position:absolute;
top:1980.5px;
left:4212.7px;
}
.s_1_Chapter_10-2_393
{
position:absolute;
top:1980.5px;
left:4526.25px;
}
.s_1_Chapter_10-2_394
{
position:absolute;
top:2380.5px;
left:0px;
}
.s_1_Chapter_10-2_395
{
position:absolute;
top:2380.5px;
left:566.01px;
}
.s_1_Chapter_10-2_396
{
position:absolute;
top:2380.5px;
left:1021.78px;
}
.s_1_Chapter_10-2_397
{
position:absolute;
top:2380.5px;
left:1475.99px;
}
.s_1_Chapter_10-2_398
{
position:absolute;
top:2380.5px;
left:2204.51px;
letter-spacing:-2.68px;
}
.s_1_Chapter_10-2_399
{
position:absolute;
top:2380.5px;
left:2504.02px;
}
.s_1_Chapter_10-2_400
{
position:absolute;
top:2380.5px;
left:2954.6px;
text-rendering:optimizeLegibility;
}

.page38_btn1 {
	position:absolute;
	top: 808px;
	left: 261px;
}
.page38_btn2 {
	position:absolute;
	top: 808px;
	left: 207px;
}

.page39_position1 {
	position:absolute;
	top: 128px;
	left: 107px;
	/*border: 1px solid red;*/
}
.page39_position2 {
	position:absolute;
	top: 204px;
	left: 118px;
	/*border: 1px solid red;*/
}
.page39_position3 {
	position:absolute;
	top: 232px;
	left: 268px;
	/*border: 1px solid red;*/
}
.page39_position4 {
	position:absolute;
	top: 284px;
	left: 92px;
	/*border: 1px solid red;*/
}
.page39_position5 {
	position:absolute;
	top: 359px;
	left: 179px;
	/*border: 1px solid red;*/
}
.page39_position6 {
	position:absolute;
	top: 387px;
	left: 263px;
	/*border: 1px solid red;*/
}
.page39_position7 {
	position:absolute;
	top: 508px;
	left: 263px;
	/*border: 1px solid red;*/
}
.page39_btn1 {
	position:absolute;
	top: 805px;
	left: 332px;
}
.page39_btn2 {
	position:absolute;
	top: 805px;
	left: 275px;
}
