.d_1_Chapter_4-1_1
{position:absolute;overflow:hidden;left: -297.36px;top:0px;transform:translate(595.28px,0.00px);-webkit-transform:translate(595.28px,0.00px);-ms-transform:translate(595.28px,0.00px);-o-transform:translate(595.28px,0.00px);-moz-transform:translate(595.28px,0.00px);width:595.28px;height:841.89px;}
.d_1_Chapter_4-1_2
{
width:7429.28px;
height:598.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_4-1_3
{
width:9246.32px;
height:997.12px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_4-1_4
{
width:560.18px;
height:401.47px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_4-1_5
{
width:6755.22px;
height:1398.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_4-1_6
{
width:7000.69px;
height:1398.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_4-1_7
{
width:6919.58px;
height:1798.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_4-1_8
{
width:6919.58px;
height:958.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_4-1_9
{
width:1884.76px;
height:288px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_4-1_10
{
width:5658.16px;
height:1338.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.s_1_Chapter_4-1_11
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.89px;
}
.s_1_Chapter_4-1_12
{
position:absolute;
top:-19.5px;
left:829.65px;
}
.s_1_Chapter_4-1_13
{
position:absolute;
top:-19.5px;
left:1062.61px;
letter-spacing:-0.26px;
}
.s_1_Chapter_4-1_14
{
position:absolute;
top:-19.5px;
left:2259.11px;
letter-spacing:-0.78px;
}
.s_1_Chapter_4-1_15
{
position:absolute;
top:-19.5px;
left:2956.94px;
letter-spacing:-0.78px;
}
.s_1_Chapter_4-1_16
{
position:absolute;
top:-19.5px;
left:3378.66px;
letter-spacing:-1.66px;
}
.s_1_Chapter_4-1_17
{
position:absolute;
top:-19.5px;
left:4047.11px;
}
.s_1_Chapter_4-1_18
{
position:absolute;
top:-19.5px;
left:4858.3px;
letter-spacing:-0.1px;
}
.s_1_Chapter_4-1_19
{
position:absolute;
top:-19.5px;
left:6562.31px;
letter-spacing:-2.51px;
}
.s_1_Chapter_4-1_20
{
position:absolute;
top:380.5px;
left:0px;
letter-spacing:-0.63px;
}
.s_1_Chapter_4-1_21
{
position:absolute;
top:380.5px;
left:795.85px;
letter-spacing:-0.26px;
}
.s_1_Chapter_4-1_22
{
position:absolute;
top:380.5px;
left:1315.07px;
letter-spacing:-0.78px;
}
.s_1_Chapter_4-1_23
{
position:absolute;
top:380.5px;
left:1736.78px;
letter-spacing:-0.62px;
}
.s_1_Chapter_4-1_24
{
position:absolute;
top:380.5px;
left:2304.87px;
}
.s_1_Chapter_4-1_25
{
position:absolute;
top:380.5px;
left:2596.33px;
letter-spacing:-0.9px;
}
.s_1_Chapter_4-1_26
{
position:absolute;
top:380.5px;
left:3497.99px;
letter-spacing:-1.73px;
}
.s_1_Chapter_4-1_27
{
position:absolute;
top:380.5px;
left:4082.73px;
letter-spacing:-0.62px;
}
.s_1_Chapter_4-1_28
{
position:absolute;
top:380.5px;
left:4646.92px;
letter-spacing:0px;
}
.s_1_Chapter_4-1_29
{
position:absolute;
top:380.5px;
left:5357.74px;
letter-spacing:0px;
}
.s_1_Chapter_4-1_30
{
position:absolute;
top:380.5px;
left:6015.27px;
letter-spacing:-2.51px;
}
.s_1_Chapter_4-1_31
{
position:absolute;
top:380.5px;
left:6293.73px;
}
.s_1_Chapter_4-1_32
{
position:absolute;
top:-26.96px;
left:0px;
letter-spacing:18.33px;
transform-origin: 0% 759.55px;
-webkit-transform-origin: 0% 759.55px;
-ms-transform-origin: 0% 759.55px;
-o-transform-origin: 0% 759.55px;
-moz-transform-origin: 0% 759.55px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Chapter_4-1_33
{
position:absolute;
top:-26.96px;
left:1043.86px;
letter-spacing:22.92px;
transform-origin: 0% 759.55px;
-webkit-transform-origin: 0% 759.55px;
-ms-transform-origin: 0% 759.55px;
-o-transform-origin: 0% 759.55px;
-moz-transform-origin: 0% 759.55px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Chapter_4-1_34
{
position:absolute;
top:-26.96px;
left:3378.79px;
letter-spacing:18.33px;
transform-origin: 0% 759.55px;
-webkit-transform-origin: 0% 759.55px;
-ms-transform-origin: 0% 759.55px;
-o-transform-origin: 0% 759.55px;
-moz-transform-origin: 0% 759.55px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Chapter_4-1_35
{
position:absolute;
top:-26.96px;
left:4471.37px;
letter-spacing:22.92px;
transform-origin: 0% 759.55px;
-webkit-transform-origin: 0% 759.55px;
-ms-transform-origin: 0% 759.55px;
-o-transform-origin: 0% 759.55px;
-moz-transform-origin: 0% 759.55px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Chapter_4-1_36
{
position:absolute;
top:41.44px;
left:134.15px;
}
.s_1_Chapter_4-1_37
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-2.7px;
}
.s_1_Chapter_4-1_38
{
position:absolute;
top:-19.5px;
left:1520.2px;
}
.s_1_Chapter_4-1_39
{
position:absolute;
top:-19.5px;
left:2069.57px;
letter-spacing:-0.52px;
}
.s_1_Chapter_4-1_40
{
position:absolute;
top:-19.5px;
left:2917.68px;
}
.s_1_Chapter_4-1_41
{
position:absolute;
top:-19.5px;
left:3253.07px;
letter-spacing:-1.47px;
}
.s_1_Chapter_4-1_42
{
position:absolute;
top:-19.5px;
left:4010.18px;
letter-spacing:-0.22px;
}
.s_1_Chapter_4-1_43
{
position:absolute;
top:-19.5px;
left:4810.44px;
letter-spacing:-1.75px;
}
.s_1_Chapter_4-1_44
{
position:absolute;
top:-19.5px;
left:5264.92px;
letter-spacing:-0.82px;
}
.s_1_Chapter_4-1_45
{
position:absolute;
top:380.5px;
left:0px;
}
.s_1_Chapter_4-1_46
{
position:absolute;
top:380.5px;
left:1027.76px;
letter-spacing:-2.34px;
}
.s_1_Chapter_4-1_47
{
position:absolute;
top:380.5px;
left:1660.6px;
}
.s_1_Chapter_4-1_48
{
position:absolute;
top:380.5px;
left:2152.78px;
letter-spacing:-0.55px;
}
.s_1_Chapter_4-1_49
{
position:absolute;
top:380.5px;
left:3065.1px;
letter-spacing:-0.88px;
}
.s_1_Chapter_4-1_50
{
position:absolute;
top:380.5px;
left:4105.6px;
letter-spacing:-0.54px;
}
.s_1_Chapter_4-1_51
{
position:absolute;
top:380.5px;
left:5786.99px;
letter-spacing:0px;
}
.s_1_Chapter_4-1_52
{
position:absolute;
top:380.5px;
left:6298.14px;
letter-spacing:0px;
}
.s_1_Chapter_4-1_53
{
position:absolute;
top:780.5px;
left:0px;
letter-spacing:-1px;
}
.s_1_Chapter_4-1_54
{
position:absolute;
top:780.5px;
left:880.09px;
}
.s_1_Chapter_4-1_55
{
position:absolute;
top:780.5px;
left:1845.71px;
letter-spacing:-1.47px;
}
.s_1_Chapter_4-1_56
{
position:absolute;
top:780.5px;
left:2599.18px;
letter-spacing:-2.6px;
}
.s_1_Chapter_4-1_57
{
position:absolute;
top:780.5px;
left:3004.51px;
}
.s_1_Chapter_4-1_58
{
position:absolute;
top:780.5px;
left:3368.24px;
}
.s_1_Chapter_4-1_59
{
position:absolute;
top:780.5px;
left:3681.8px;
}
.s_1_Chapter_4-1_60
{
position:absolute;
top:780.5px;
left:3972.21px;
letter-spacing:-0.82px;
}
.s_1_Chapter_4-1_61
{
position:absolute;
top:780.5px;
left:4747.77px;
letter-spacing:-2.34px;
}
.s_1_Chapter_4-1_62
{
position:absolute;
top:780.5px;
left:5380.61px;
letter-spacing:0px;
}
.s_1_Chapter_4-1_63
{
position:absolute;
top:780.5px;
left:5872.78px;
letter-spacing:-1.66px;
}
.s_1_Chapter_4-1_64
{
position:absolute;
top:1180.5px;
left:0px;
letter-spacing:-0.55px;
}
.s_1_Chapter_4-1_65
{
position:absolute;
top:1180.5px;
left:912.32px;
}
.s_1_Chapter_4-1_66
{
position:absolute;
top:1180.5px;
left:1188.96px;
letter-spacing:-1px;
}
.s_1_Chapter_4-1_67
{
position:absolute;
top:1180.5px;
left:1890.68px;
letter-spacing:-0.48px;
}
.s_1_Chapter_4-1_68
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.52px;
}
.s_1_Chapter_4-1_69
{
position:absolute;
top:-19.5px;
left:885.81px;
}
.s_1_Chapter_4-1_70
{
position:absolute;
top:-19.5px;
left:1221.72px;
}
.s_1_Chapter_4-1_71
{
position:absolute;
top:-19.5px;
left:1675.93px;
letter-spacing:-1.23px;
}
.s_1_Chapter_4-1_72
{
position:absolute;
top:-19.5px;
left:2593.46px;
letter-spacing:-0.48px;
}
.s_1_Chapter_4-1_73
{
position:absolute;
top:-19.5px;
left:3274.13px;
letter-spacing:-2.68px;
}
.s_1_Chapter_4-1_74
{
position:absolute;
top:-19.5px;
left:3578.07px;
letter-spacing:-4.68px;
}
.s_1_Chapter_4-1_75
{
position:absolute;
top:-19.5px;
left:4297.48px;
}
.s_1_Chapter_4-1_76
{
position:absolute;
top:-19.5px;
left:5376.2px;
letter-spacing:0px;
}
.s_1_Chapter_4-1_77
{
position:absolute;
top:-19.5px;
left:5633.07px;
letter-spacing:-0.39px;
}
.s_1_Chapter_4-1_78
{
position:absolute;
top:-19.5px;
left:6326.22px;
letter-spacing:0px;
}
.s_1_Chapter_4-1_79
{
position:absolute;
top:360.5px;
left:0px;
}
.s_1_Chapter_4-1_80
{
position:absolute;
top:360.5px;
left:340.33px;
letter-spacing:-3.25px;
}
.s_1_Chapter_4-1_81
{
position:absolute;
top:360.5px;
left:547.81px;
}
.s_1_Chapter_4-1_82
{
position:absolute;
top:360.5px;
left:1675.16px;
}
.s_1_Chapter_4-1_83
{
position:absolute;
top:360.5px;
left:1984.29px;
letter-spacing:-1.17px;
}
.s_1_Chapter_4-1_84
{
position:absolute;
top:360.5px;
left:2621.01px;
letter-spacing:-0.45px;
}
.s_1_Chapter_4-1_85
{
position:absolute;
top:360.5px;
left:3618.88px;
}
.s_1_Chapter_4-1_86
{
position:absolute;
top:360.5px;
left:4130.04px;
letter-spacing:-0.4px;
}
.s_1_Chapter_4-1_87
{
position:absolute;
top:360.5px;
left:5345.25px;
letter-spacing:0px;
}
.s_1_Chapter_4-1_88
{
position:absolute;
top:740.5px;
left:0px;
letter-spacing:-2.68px;
}
.s_1_Chapter_4-1_89
{
position:absolute;
top:740.5px;
left:303.94px;
}
.s_1_Chapter_4-1_90
{
position:absolute;
top:740.5px;
left:654.41px;
letter-spacing:-0.69px;
}
.s_1_Chapter_4-1_91
{
position:absolute;
top:740.5px;
left:1775.77px;
text-rendering:optimizeLegibility;
letter-spacing:-0.43px;
}
.s_1_Chapter_4-1_92
{
position:absolute;
top:740.5px;
left:3980.02px;
}
.s_1_Chapter_4-1_93
{
position:absolute;
top:740.5px;
left:4491.17px;
letter-spacing:-0.5px;
}
.s_1_Chapter_4-1_94
{
position:absolute;
top:1120.5px;
left:0px;
}
.s_1_Chapter_4-1_95
{
position:absolute;
top:-19.5px;
left:0px;
text-rendering:optimizeLegibility;
letter-spacing:-0.65px;
}
.s_1_Chapter_4-1_96
{
position:absolute;
top:-19.5px;
left:1063.65px;
}
.s_1_Chapter_4-1_97
{
position:absolute;
top:-19.5px;
left:1936.45px;
}
.s_1_Chapter_4-1_98
{
position:absolute;
top:-19.5px;
left:2070.87px;
letter-spacing:-0.62px;
}
.s_1_Chapter_4-1_99
{
position:absolute;
top:-19.5px;
left:3239.03px;
letter-spacing:-0.52px;
}
.s_1_Chapter_4-1_100
{
position:absolute;
top:-19.5px;
left:4087.14px;
}
.s_1_Chapter_4-1_101
{
position:absolute;
top:-19.5px;
left:4423.05px;
}
.s_1_Chapter_4-1_102
{
position:absolute;
top:-19.5px;
left:4877.26px;
letter-spacing:-0.41px;
}
.s_1_Chapter_4-1_103
{
position:absolute;
top:-19.5px;
left:5747.47px;
text-rendering:optimizeLegibility;
letter-spacing:-2.44px;
}
.s_1_Chapter_4-1_104
{
position:absolute;
top:-19.5px;
left:6626px;
letter-spacing:0px;
}
.s_1_Chapter_4-1_105
{
position:absolute;
top:380.5px;
left:0px;
}
.s_1_Chapter_4-1_106
{
position:absolute;
top:380.5px;
left:449.27px;
letter-spacing:-1.33px;
}
.s_1_Chapter_4-1_107
{
position:absolute;
top:380.5px;
left:1374.85px;
letter-spacing:-0.97px;
}
.s_1_Chapter_4-1_108
{
position:absolute;
top:380.5px;
left:2255.2px;
text-rendering:optimizeLegibility;
letter-spacing:-2.44px;
}
.s_1_Chapter_4-1_109
{
position:absolute;
top:380.5px;
left:3131.12px;
letter-spacing:-0.69px;
}
.s_1_Chapter_4-1_110
{
position:absolute;
top:380.5px;
left:3363.82px;
}
.s_1_Chapter_4-1_111
{
position:absolute;
top:380.5px;
left:4175.27px;
letter-spacing:-2.68px;
}
.s_1_Chapter_4-1_112
{
position:absolute;
top:380.5px;
left:4479.2px;
letter-spacing:-1.17px;
}
.s_1_Chapter_4-1_113
{
position:absolute;
top:380.5px;
left:5333.55px;
text-rendering:optimizeLegibility;
letter-spacing:0px;
}
.s_1_Chapter_4-1_114
{
position:absolute;
top:380.5px;
left:5976.52px;
letter-spacing:0px;
}
.s_1_Chapter_4-1_115
{
position:absolute;
top:380.5px;
left:6487.67px;
letter-spacing:0px;
}
.s_1_Chapter_4-1_116
{
position:absolute;
top:780.5px;
left:0px;
letter-spacing:-0.52px;
}
.s_1_Chapter_4-1_117
{
position:absolute;
top:780.5px;
left:778.69px;
}
.s_1_Chapter_4-1_118
{
position:absolute;
top:780.5px;
left:1142.42px;
}
.s_1_Chapter_4-1_119
{
position:absolute;
top:780.5px;
left:1455.97px;
letter-spacing:-1.47px;
}
.s_1_Chapter_4-1_120
{
position:absolute;
top:780.5px;
left:1977.78px;
letter-spacing:-0.69px;
}
.s_1_Chapter_4-1_121
{
position:absolute;
top:780.5px;
left:2210.47px;
}
.s_1_Chapter_4-1_122
{
position:absolute;
top:780.5px;
left:2696.92px;
}
.s_1_Chapter_4-1_123
{
position:absolute;
top:780.5px;
left:3063px;
letter-spacing:-1.27px;
}
.s_1_Chapter_4-1_124
{
position:absolute;
top:780.5px;
left:3937.11px;
}
.s_1_Chapter_4-1_125
{
position:absolute;
top:780.5px;
left:4303.18px;
letter-spacing:-1.34px;
}
.s_1_Chapter_4-1_126
{
position:absolute;
top:780.5px;
left:5050.41px;
letter-spacing:0px;
}
.s_1_Chapter_4-1_127
{
position:absolute;
top:780.5px;
left:5561.56px;
}
.s_1_Chapter_4-1_128
{
position:absolute;
top:780.5px;
left:5927.63px;
letter-spacing:0px;
}
.s_1_Chapter_4-1_129
{
position:absolute;
top:1180.5px;
left:0px;
letter-spacing:-0.69px;
}
.s_1_Chapter_4-1_130
{
position:absolute;
top:1180.5px;
left:232.69px;
}
.s_1_Chapter_4-1_131
{
position:absolute;
top:1180.5px;
left:485.93px;
letter-spacing:-0.74px;
}
.s_1_Chapter_4-1_132
{
position:absolute;
top:1180.5px;
left:1237.32px;
}
.s_1_Chapter_4-1_133
{
position:absolute;
top:1180.5px;
left:1509.53px;
}
.s_1_Chapter_4-1_134
{
position:absolute;
top:1180.5px;
left:1963.74px;
}
.s_1_Chapter_4-1_135
{
position:absolute;
top:1180.5px;
left:3213.8px;
}
.s_1_Chapter_4-1_136
{
position:absolute;
top:1180.5px;
left:3922.03px;
}
.s_1_Chapter_4-1_137
{
position:absolute;
top:1180.5px;
left:4805.5px;
letter-spacing:-2.68px;
}
.s_1_Chapter_4-1_138
{
position:absolute;
top:1180.5px;
left:5109.43px;
letter-spacing:-1.01px;
}
.s_1_Chapter_4-1_139
{
position:absolute;
top:1180.5px;
left:6171.78px;
letter-spacing:0px;
}
.s_1_Chapter_4-1_140
{
position:absolute;
top:1580.5px;
left:0px;
letter-spacing:-0.41px;
}
.s_1_Chapter_4-1_141
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.45px;
}
.s_1_Chapter_4-1_142
{
position:absolute;
top:-19.5px;
left:496.34px;
letter-spacing:-1.63px;
}
.s_1_Chapter_4-1_143
{
position:absolute;
top:-19.5px;
left:1936.21px;
letter-spacing:-0.94px;
}
.s_1_Chapter_4-1_144
{
position:absolute;
top:-19.5px;
left:2830.07px;
}
.s_1_Chapter_4-1_145
{
position:absolute;
top:-19.5px;
left:3106.71px;
letter-spacing:-0.91px;
}
.s_1_Chapter_4-1_146
{
position:absolute;
top:-19.5px;
left:4394.22px;
}
.s_1_Chapter_4-1_147
{
position:absolute;
top:-19.5px;
left:4880.67px;
}
.s_1_Chapter_4-1_148
{
position:absolute;
top:-19.5px;
left:5315.12px;
letter-spacing:-3.25px;
}
.s_1_Chapter_4-1_149
{
position:absolute;
top:-19.5px;
left:5522.6px;
letter-spacing:-2.52px;
}
.s_1_Chapter_4-1_150
{
position:absolute;
top:-19.5px;
left:6359.26px;
letter-spacing:-3.38px;
}
.s_1_Chapter_4-1_151
{
position:absolute;
top:360.5px;
left:0px;
letter-spacing:-0.92px;
}
.s_1_Chapter_4-1_152
{
position:absolute;
top:360.5px;
left:1153.86px;
}
.s_1_Chapter_4-1_153
{
position:absolute;
top:360.5px;
left:1580.51px;
letter-spacing:-0.88px;
}
.s_1_Chapter_4-1_154
{
position:absolute;
top:360.5px;
left:2120px;
letter-spacing:-1.49px;
}
.s_1_Chapter_4-1_155
{
position:absolute;
top:360.5px;
left:2583.05px;
letter-spacing:-3.43px;
}
.s_1_Chapter_4-1_156
{
position:absolute;
top:360.5px;
left:3131.64px;
letter-spacing:-0.69px;
}
.s_1_Chapter_4-1_157
{
position:absolute;
top:360.5px;
left:3364.33px;
}
.s_1_Chapter_4-1_158
{
position:absolute;
top:360.5px;
left:3616.78px;
}
.s_1_Chapter_4-1_159
{
position:absolute;
top:360.5px;
left:4067.36px;
}
.s_1_Chapter_4-1_160
{
position:absolute;
top:360.5px;
left:4957.06px;
}
.s_1_Chapter_4-1_161
{
position:absolute;
top:360.5px;
left:5890.96px;
letter-spacing:-0.75px;
}
.s_1_Chapter_4-1_162
{
position:absolute;
top:740.5px;
left:0px;
}
.s_1_Chapter_4-1_163
{
position:absolute;
top:740.5px;
left:272.22px;
}
.s_1_Chapter_4-1_164
{
position:absolute;
top:740.5px;
left:721.49px;
letter-spacing:-0.52px;
}
.s_1_Chapter_4-1_165
{
position:absolute;
top:-12.32px;
left:0px;
}
.s_1_Chapter_4-1_166
{
position:absolute;
top:-12.32px;
left:420.83px;
letter-spacing:-5.11px;
}
.s_1_Chapter_4-1_167
{
position:absolute;
top:-12.32px;
left:971.57px;
letter-spacing:-6.86px;
}
.s_1_Chapter_4-1_168
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.45px;
}
.s_1_Chapter_4-1_169
{
position:absolute;
top:-19.5px;
left:503.1px;
}
.s_1_Chapter_4-1_170
{
position:absolute;
top:-19.5px;
left:1099.26px;
letter-spacing:-2.68px;
}
.s_1_Chapter_4-1_171
{
position:absolute;
top:-19.5px;
left:1398.78px;
}
.s_1_Chapter_4-1_172
{
position:absolute;
top:-19.5px;
left:1848.05px;
letter-spacing:-0.45px;
}
.s_1_Chapter_4-1_173
{
position:absolute;
top:-19.5px;
left:2661.58px;
letter-spacing:-1.4px;
}
.s_1_Chapter_4-1_174
{
position:absolute;
top:-19.5px;
left:3210.17px;
}
.s_1_Chapter_4-1_175
{
position:absolute;
top:-19.5px;
left:3696.62px;
letter-spacing:-3.25px;
}
.s_1_Chapter_4-1_176
{
position:absolute;
top:-19.5px;
left:3904.1px;
}
.s_1_Chapter_4-1_177
{
position:absolute;
top:360.5px;
left:0px;
}
.s_1_Chapter_4-1_178
{
position:absolute;
top:360.5px;
left:760.49px;
}
.s_1_Chapter_4-1_179
{
position:absolute;
top:360.5px;
left:1553.48px;
}
.s_1_Chapter_4-1_180
{
position:absolute;
top:360.5px;
left:2319.17px;
}
.s_1_Chapter_4-1_181
{
position:absolute;
top:360.5px;
left:2576.04px;
}
.s_1_Chapter_4-1_182
{
position:absolute;
top:360.5px;
left:3210.17px;
}
.s_1_Chapter_4-1_183
{
position:absolute;
top:360.5px;
left:3523.72px;
letter-spacing:-1.82px;
}
.s_1_Chapter_4-1_184
{
position:absolute;
top:360.5px;
left:4225.2px;
}
.s_1_Chapter_4-1_185
{
position:absolute;
top:740.5px;
left:0px;
letter-spacing:-0.19px;
}
.s_1_Chapter_4-1_186
{
position:absolute;
top:740.5px;
left:952.62px;
letter-spacing:-0.62px;
}
.s_1_Chapter_4-1_187
{
position:absolute;
top:740.5px;
left:2172.01px;
}
.s_1_Chapter_4-1_188
{
position:absolute;
top:740.5px;
left:2806.14px;
}
.s_1_Chapter_4-1_189
{
position:absolute;
top:740.5px;
left:3260.35px;
}
.s_1_Chapter_4-1_190
{
position:absolute;
top:740.5px;
left:3856.51px;
letter-spacing:-2.68px;
}
.s_1_Chapter_4-1_191
{
position:absolute;
top:740.5px;
left:4156.03px;
}
.s_1_Chapter_4-1_192
{
position:absolute;
top:740.5px;
left:4605.82px;
letter-spacing:-1.4px;
}
.s_1_Chapter_4-1_193
{
position:absolute;
top:740.5px;
left:5149.99px;
letter-spacing:0px;
}
.s_1_Chapter_4-1_194
{
position:absolute;
top:1120.5px;
left:0px;
letter-spacing:-1.41px;
}
.s_1_Chapter_4-1_195
{
position:absolute;
top:1120.5px;
left:881.91px;
}
.s_1_Chapter_4-1_196
{
position:absolute;
top:1120.5px;
left:1452.6px;
}
.s_1_Chapter_4-1_197
{
position:absolute;
top:1120.5px;
left:1963.75px;
}
