.d_1_Chapter_3-1_1
{position:absolute;overflow:hidden;left: -297.36px;top:0px;transform:translate(595.28px,0.00px);-webkit-transform:translate(595.28px,0.00px);-ms-transform:translate(595.28px,0.00px);-o-transform:translate(595.28px,0.00px);-moz-transform:translate(595.28px,0.00px);width:595.28px;height:841.89px;}
.d_1_Chapter_3-1_2
{
width:9858.56px;
height:872px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_3-1_3
{
width:9246.32px;
height:997.12px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_3-1_4
{
width:560.18px;
height:401.47px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_3-1_5
{
width:6764px;
height:1054.2px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_3-1_6
{
width:280.86px;
height:234.25px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_3-1_7
{
width:6764px;
height:1054.2px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_3-1_8
{
width:280.86px;
height:234.25px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_3-1_9
{
width:6476px;
height:1458.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_3-1_10
{
width:280.86px;
height:234.25px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_3-1_11
{
width:6476px;
height:1054.2px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_3-1_12
{
width:280.86px;
height:234.25px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_3-1_13
{
width:6756.53px;
height:1054.2px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_3-1_14
{
width:280.86px;
height:234.25px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_3-1_15
{
width:6458.27px;
height:1331.36px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_3-1_16
{
width:280.86px;
height:234.25px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_3-1_17
{
width:1884.76px;
height:288px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_3-1_18
{
width:4814.97px;
height:998.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.s_1_Chapter_3-1_19
{
position:absolute;
top:58.88px;
left:0px;
}
.s_1_Chapter_3-1_20
{
position:absolute;
top:213.6px;
left:380.63px;
}
.s_1_Chapter_3-1_21
{
position:absolute;
top:213.6px;
left:453.54px;
}
.s_1_Chapter_3-1_22
{
position:absolute;
top:213.6px;
left:1192.19px;
letter-spacing:1.73px;
}
.s_1_Chapter_3-1_23
{
position:absolute;
top:213.6px;
left:1458.94px;
letter-spacing:-1.36px;
}
.s_1_Chapter_3-1_24
{
position:absolute;
top:213.6px;
left:1883.77px;
}
.s_1_Chapter_3-1_25
{
position:absolute;
top:213.6px;
left:2422.49px;
letter-spacing:-2.51px;
}
.s_1_Chapter_3-1_26
{
position:absolute;
top:213.6px;
left:2700.95px;
}
.s_1_Chapter_3-1_27
{
position:absolute;
top:213.6px;
left:3122.66px;
letter-spacing:-0.84px;
}
.s_1_Chapter_3-1_28
{
position:absolute;
top:213.6px;
left:3955.17px;
letter-spacing:-0.16px;
}
.s_1_Chapter_3-1_29
{
position:absolute;
top:213.6px;
left:4847.74px;
}
.s_1_Chapter_3-1_30
{
position:absolute;
top:213.6px;
left:5080.69px;
letter-spacing:-0.94px;
}
.s_1_Chapter_3-1_31
{
position:absolute;
top:213.6px;
left:6027.08px;
}
.s_1_Chapter_3-1_32
{
position:absolute;
top:213.6px;
left:6573.33px;
letter-spacing:-2.52px;
}
.s_1_Chapter_3-1_33
{
position:absolute;
top:213.6px;
left:7335.64px;
letter-spacing:-0.95px;
}
.s_1_Chapter_3-1_34
{
position:absolute;
top:213.6px;
left:8252.65px;
letter-spacing:0px;
}
.s_1_Chapter_3-1_35
{
position:absolute;
top:213.6px;
left:8674.37px;
letter-spacing:-0.49px;
}
.s_1_Chapter_3-1_36
{
position:absolute;
top:613.6px;
left:453.54px;
letter-spacing:-1.52px;
}
.s_1_Chapter_3-1_37
{
position:absolute;
top:613.6px;
left:1163.6px;
}
.s_1_Chapter_3-1_38
{
position:absolute;
top:613.6px;
left:2010.92px;
}
.s_1_Chapter_3-1_39
{
position:absolute;
top:613.6px;
left:2959.68px;
}
.s_1_Chapter_3-1_40
{
position:absolute;
top:613.6px;
left:3064.2px;
}
.s_1_Chapter_3-1_41
{
position:absolute;
top:613.6px;
left:3485.91px;
letter-spacing:-0.39px;
}
.s_1_Chapter_3-1_42
{
position:absolute;
top:613.6px;
left:4345.46px;
letter-spacing:-1.34px;
}
.s_1_Chapter_3-1_43
{
position:absolute;
top:613.6px;
left:5216.71px;
letter-spacing:-0.16px;
}
.s_1_Chapter_3-1_44
{
position:absolute;
top:-26.96px;
left:0px;
letter-spacing:18.33px;
transform-origin: 0% 759.55px;
-webkit-transform-origin: 0% 759.55px;
-ms-transform-origin: 0% 759.55px;
-o-transform-origin: 0% 759.55px;
-moz-transform-origin: 0% 759.55px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Chapter_3-1_45
{
position:absolute;
top:-26.96px;
left:971.26px;
letter-spacing:23.57px;
transform-origin: 0% 759.55px;
-webkit-transform-origin: 0% 759.55px;
-ms-transform-origin: 0% 759.55px;
-o-transform-origin: 0% 759.55px;
-moz-transform-origin: 0% 759.55px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Chapter_3-1_46
{
position:absolute;
top:-26.96px;
left:3889.69px;
letter-spacing:18.33px;
transform-origin: 0% 759.55px;
-webkit-transform-origin: 0% 759.55px;
-ms-transform-origin: 0% 759.55px;
-o-transform-origin: 0% 759.55px;
-moz-transform-origin: 0% 759.55px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Chapter_3-1_47
{
position:absolute;
top:-26.96px;
left:4982.27px;
letter-spacing:22px;
transform-origin: 0% 759.55px;
-webkit-transform-origin: 0% 759.55px;
-ms-transform-origin: 0% 759.55px;
-o-transform-origin: 0% 759.55px;
-moz-transform-origin: 0% 759.55px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Chapter_3-1_48
{
position:absolute;
top:41.44px;
left:143.76px;
}
.s_1_Chapter_3-1_49
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.35px;
}
.s_1_Chapter_3-1_50
{
position:absolute;
top:-19.5px;
left:787.79px;
}
.s_1_Chapter_3-1_51
{
position:absolute;
top:-19.5px;
left:1040.25px;
}
.s_1_Chapter_3-1_52
{
position:absolute;
top:-19.5px;
left:1494.46px;
}
.s_1_Chapter_3-1_53
{
position:absolute;
top:-19.5px;
left:2542.76px;
letter-spacing:-0.48px;
}
.s_1_Chapter_3-1_54
{
position:absolute;
top:-19.5px;
left:3325.09px;
}
.s_1_Chapter_3-1_55
{
position:absolute;
top:-19.5px;
left:3597.31px;
}
.s_1_Chapter_3-1_56
{
position:absolute;
top:-19.5px;
left:4046.58px;
letter-spacing:-0.45px;
}
.s_1_Chapter_3-1_57
{
position:absolute;
top:-19.5px;
left:4912.11px;
letter-spacing:-0.69px;
}
.s_1_Chapter_3-1_58
{
position:absolute;
top:-19.5px;
left:5144.8px;
letter-spacing:0px;
}
.s_1_Chapter_3-1_59
{
position:absolute;
top:-19.5px;
left:5401.67px;
letter-spacing:0px;
}
.s_1_Chapter_3-1_60
{
position:absolute;
top:400.5px;
left:0px;
letter-spacing:-1px;
}
.s_1_Chapter_3-1_61
{
position:absolute;
top:400.5px;
left:899.33px;
}
.s_1_Chapter_3-1_62
{
position:absolute;
top:400.5px;
left:1353.54px;
letter-spacing:-0.48px;
}
.s_1_Chapter_3-1_63
{
position:absolute;
top:400.5px;
left:2099.47px;
letter-spacing:-1.04px;
}
.s_1_Chapter_3-1_64
{
position:absolute;
top:820.5px;
left:0px;
letter-spacing:-1.99px;
}
.s_1_Chapter_3-1_65
{
position:absolute;
top:820.5px;
left:350.74px;
text-rendering:optimizeLegibility;
letter-spacing:-0.39px;
}
.s_1_Chapter_3-1_66
{
position:absolute;
top:820.5px;
left:1183.51px;
letter-spacing:-0.48px;
}
.s_1_Chapter_3-1_67
{
position:absolute;
top:820.5px;
left:2215.45px;
letter-spacing:-3.21px;
}
.s_1_Chapter_3-1_68
{
position:absolute;
top:820.5px;
left:2569.57px;
}
.s_1_Chapter_3-1_69
{
position:absolute;
top:820.5px;
left:3357.1px;
letter-spacing:-0.48px;
}
.s_1_Chapter_3-1_70
{
position:absolute;
top:820.5px;
left:4389.04px;
letter-spacing:-1.47px;
}
.s_1_Chapter_3-1_71
{
position:absolute;
top:820.5px;
left:4722.35px;
letter-spacing:-1px;
}
.s_1_Chapter_3-1_72
{
position:absolute;
top:820.5px;
left:5469.32px;
letter-spacing:-0.57px;
}
.s_1_Chapter_3-1_73
{
position:absolute;
top:-19.5px;
left:81.54px;
letter-spacing:-1.69px;
}
.s_1_Chapter_3-1_74
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.35px;
}
.s_1_Chapter_3-1_75
{
position:absolute;
top:-19.5px;
left:787.79px;
}
.s_1_Chapter_3-1_76
{
position:absolute;
top:-19.5px;
left:1040.25px;
}
.s_1_Chapter_3-1_77
{
position:absolute;
top:-19.5px;
left:1494.46px;
}
.s_1_Chapter_3-1_78
{
position:absolute;
top:-19.5px;
left:2434.6px;
letter-spacing:-1.73px;
}
.s_1_Chapter_3-1_79
{
position:absolute;
top:-19.5px;
left:3038.83px;
}
.s_1_Chapter_3-1_80
{
position:absolute;
top:-19.5px;
left:3311.04px;
}
.s_1_Chapter_3-1_81
{
position:absolute;
top:-19.5px;
left:3760.31px;
letter-spacing:-0.45px;
}
.s_1_Chapter_3-1_82
{
position:absolute;
top:-19.5px;
left:4625.84px;
letter-spacing:-0.69px;
}
.s_1_Chapter_3-1_83
{
position:absolute;
top:-19.5px;
left:4858.53px;
}
.s_1_Chapter_3-1_84
{
position:absolute;
top:-19.5px;
left:5115.41px;
letter-spacing:-3.25px;
}
.s_1_Chapter_3-1_85
{
position:absolute;
top:-19.5px;
left:5322.88px;
letter-spacing:0px;
}
.s_1_Chapter_3-1_86
{
position:absolute;
top:400.5px;
left:0px;
text-rendering:optimizeLegibility;
letter-spacing:-0.39px;
}
.s_1_Chapter_3-1_87
{
position:absolute;
top:400.5px;
left:940.15px;
letter-spacing:-1.73px;
}
.s_1_Chapter_3-1_88
{
position:absolute;
top:400.5px;
left:1544.37px;
}
.s_1_Chapter_3-1_89
{
position:absolute;
top:400.5px;
left:1813.21px;
letter-spacing:-1.04px;
}
.s_1_Chapter_3-1_90
{
position:absolute;
top:820.5px;
left:0px;
letter-spacing:-1.99px;
}
.s_1_Chapter_3-1_91
{
position:absolute;
top:820.5px;
left:342.94px;
letter-spacing:-0.41px;
}
.s_1_Chapter_3-1_92
{
position:absolute;
top:820.5px;
left:1811.15px;
letter-spacing:-3.21px;
}
.s_1_Chapter_3-1_93
{
position:absolute;
top:820.5px;
left:2165.27px;
}
.s_1_Chapter_3-1_94
{
position:absolute;
top:820.5px;
left:3134.03px;
letter-spacing:-1.47px;
}
.s_1_Chapter_3-1_95
{
position:absolute;
top:820.5px;
left:3475.15px;
}
.s_1_Chapter_3-1_96
{
position:absolute;
top:-19.5px;
left:43.58px;
}
.s_1_Chapter_3-1_97
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.35px;
}
.s_1_Chapter_3-1_98
{
position:absolute;
top:-19.5px;
left:787.79px;
letter-spacing:-1.73px;
}
.s_1_Chapter_3-1_99
{
position:absolute;
top:-19.5px;
left:1392.02px;
}
.s_1_Chapter_3-1_100
{
position:absolute;
top:-19.5px;
left:1664.23px;
}
.s_1_Chapter_3-1_101
{
position:absolute;
top:-19.5px;
left:2113.5px;
letter-spacing:-0.52px;
}
.s_1_Chapter_3-1_102
{
position:absolute;
top:-19.5px;
left:2855.79px;
}
.s_1_Chapter_3-1_103
{
position:absolute;
top:-19.5px;
left:3734.83px;
}
.s_1_Chapter_3-1_104
{
position:absolute;
top:-19.5px;
left:4189.04px;
}
.s_1_Chapter_3-1_105
{
position:absolute;
top:-19.5px;
left:4848.65px;
letter-spacing:-0.41px;
}
.s_1_Chapter_3-1_106
{
position:absolute;
top:-19.5px;
left:5734.98px;
letter-spacing:-0.69px;
}
.s_1_Chapter_3-1_107
{
position:absolute;
top:-19.5px;
left:5967.67px;
letter-spacing:0px;
}
.s_1_Chapter_3-1_108
{
position:absolute;
top:400.5px;
left:0px;
}
.s_1_Chapter_3-1_109
{
position:absolute;
top:400.5px;
left:454.21px;
}
.s_1_Chapter_3-1_110
{
position:absolute;
top:400.5px;
left:1098.74px;
letter-spacing:-1.73px;
}
.s_1_Chapter_3-1_111
{
position:absolute;
top:400.5px;
left:1702.97px;
letter-spacing:-2.68px;
}
.s_1_Chapter_3-1_112
{
position:absolute;
top:400.5px;
left:2006.91px;
}
.s_1_Chapter_3-1_113
{
position:absolute;
top:400.5px;
left:2749.98px;
}
.s_1_Chapter_3-1_114
{
position:absolute;
top:820.5px;
left:0px;
letter-spacing:-1.99px;
}
.s_1_Chapter_3-1_115
{
position:absolute;
top:820.5px;
left:342.94px;
letter-spacing:-0.41px;
}
.s_1_Chapter_3-1_116
{
position:absolute;
top:820.5px;
left:1811.15px;
letter-spacing:-3.21px;
}
.s_1_Chapter_3-1_117
{
position:absolute;
top:820.5px;
left:2155.91px;
letter-spacing:-2.86px;
}
.s_1_Chapter_3-1_118
{
position:absolute;
top:820.5px;
left:3608.27px;
letter-spacing:-1.47px;
}
.s_1_Chapter_3-1_119
{
position:absolute;
top:820.5px;
left:3949.38px;
}
.s_1_Chapter_3-1_120
{
position:absolute;
top:-19.5px;
left:41.63px;
letter-spacing:-2.08px;
}
.s_1_Chapter_3-1_121
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.35px;
}
.s_1_Chapter_3-1_122
{
position:absolute;
top:-19.5px;
left:787.79px;
}
.s_1_Chapter_3-1_123
{
position:absolute;
top:-19.5px;
left:1040.25px;
}
.s_1_Chapter_3-1_124
{
position:absolute;
top:-19.5px;
left:1494.46px;
letter-spacing:-0.97px;
}
.s_1_Chapter_3-1_125
{
position:absolute;
top:-19.5px;
left:2378.44px;
}
.s_1_Chapter_3-1_126
{
position:absolute;
top:-19.5px;
left:2889.59px;
}
.s_1_Chapter_3-1_127
{
position:absolute;
top:-19.5px;
left:3913.45px;
letter-spacing:-0.48px;
}
.s_1_Chapter_3-1_128
{
position:absolute;
top:-19.5px;
left:4695.79px;
}
.s_1_Chapter_3-1_129
{
position:absolute;
top:-19.5px;
left:4968px;
}
.s_1_Chapter_3-1_130
{
position:absolute;
top:-19.5px;
left:5417.27px;
letter-spacing:-0.45px;
}
.s_1_Chapter_3-1_131
{
position:absolute;
top:400.5px;
left:0px;
}
.s_1_Chapter_3-1_132
{
position:absolute;
top:400.5px;
left:347.87px;
}
.s_1_Chapter_3-1_133
{
position:absolute;
top:400.5px;
left:802.08px;
letter-spacing:-0.54px;
}
.s_1_Chapter_3-1_134
{
position:absolute;
top:400.5px;
left:2103.63px;
}
.s_1_Chapter_3-1_135
{
position:absolute;
top:400.5px;
left:2375.84px;
}
.s_1_Chapter_3-1_136
{
position:absolute;
top:400.5px;
left:2825.11px;
letter-spacing:-0.52px;
}
.s_1_Chapter_3-1_137
{
position:absolute;
top:400.5px;
left:3567.4px;
letter-spacing:-0.48px;
}
.s_1_Chapter_3-1_138
{
position:absolute;
top:400.5px;
left:4270.43px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_3-1_139
{
position:absolute;
top:400.5px;
left:4581.12px;
letter-spacing:-0.31px;
}
.s_1_Chapter_3-1_140
{
position:absolute;
top:400.5px;
left:5099.03px;
letter-spacing:0px;
}
.s_1_Chapter_3-1_141
{
position:absolute;
top:820.5px;
left:0px;
letter-spacing:-1.99px;
}
.s_1_Chapter_3-1_142
{
position:absolute;
top:820.5px;
left:342.94px;
letter-spacing:-1.1px;
}
.s_1_Chapter_3-1_143
{
position:absolute;
top:820.5px;
left:1294px;
letter-spacing:-0.48px;
}
.s_1_Chapter_3-1_144
{
position:absolute;
top:820.5px;
left:2325.94px;
letter-spacing:-3.21px;
}
.s_1_Chapter_3-1_145
{
position:absolute;
top:820.5px;
left:2680.06px;
}
.s_1_Chapter_3-1_146
{
position:absolute;
top:820.5px;
left:3467.59px;
letter-spacing:-0.48px;
}
.s_1_Chapter_3-1_147
{
position:absolute;
top:820.5px;
left:4499.53px;
letter-spacing:-1.47px;
}
.s_1_Chapter_3-1_148
{
position:absolute;
top:820.5px;
left:4840.65px;
text-rendering:optimizeLegibility;
letter-spacing:-0.39px;
}
.s_1_Chapter_3-1_149
{
position:absolute;
top:820.5px;
left:5673.42px;
letter-spacing:-0.57px;
}
.s_1_Chapter_3-1_150
{
position:absolute;
top:-19.5px;
left:43.84px;
letter-spacing:-1.3px;
}
.s_1_Chapter_3-1_151
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.35px;
}
.s_1_Chapter_3-1_152
{
position:absolute;
top:-19.5px;
left:787.79px;
}
.s_1_Chapter_3-1_153
{
position:absolute;
top:-19.5px;
left:1040.25px;
}
.s_1_Chapter_3-1_154
{
position:absolute;
top:-19.5px;
left:1494.46px;
}
.s_1_Chapter_3-1_155
{
position:absolute;
top:-19.5px;
left:2514.68px;
letter-spacing:-1.44px;
}
.s_1_Chapter_3-1_156
{
position:absolute;
top:-19.5px;
left:3876.8px;
letter-spacing:-1.82px;
}
.s_1_Chapter_3-1_157
{
position:absolute;
top:-19.5px;
left:4413.43px;
}
.s_1_Chapter_3-1_158
{
position:absolute;
top:-19.5px;
left:4685.65px;
}
.s_1_Chapter_3-1_159
{
position:absolute;
top:-19.5px;
left:5134.92px;
letter-spacing:-0.45px;
}
.s_1_Chapter_3-1_160
{
position:absolute;
top:-19.5px;
left:6000.45px;
letter-spacing:-0.69px;
}
.s_1_Chapter_3-1_161
{
position:absolute;
top:-19.5px;
left:6233.14px;
letter-spacing:0px;
}
.s_1_Chapter_3-1_162
{
position:absolute;
top:-19.5px;
left:6490.01px;
}
.s_1_Chapter_3-1_163
{
position:absolute;
top:400.5px;
left:0px;
}
.s_1_Chapter_3-1_164
{
position:absolute;
top:400.5px;
left:1354.32px;
}
.s_1_Chapter_3-1_165
{
position:absolute;
top:820.5px;
left:0px;
letter-spacing:-1.99px;
}
.s_1_Chapter_3-1_166
{
position:absolute;
top:820.5px;
left:350.74px;
letter-spacing:-1.82px;
}
.s_1_Chapter_3-1_167
{
position:absolute;
top:820.5px;
left:969.28px;
letter-spacing:-0.3px;
}
.s_1_Chapter_3-1_168
{
position:absolute;
top:820.5px;
left:1922.69px;
letter-spacing:-3.21px;
}
.s_1_Chapter_3-1_169
{
position:absolute;
top:820.5px;
left:2276.81px;
letter-spacing:-1.82px;
}
.s_1_Chapter_3-1_170
{
position:absolute;
top:820.5px;
left:2895.34px;
letter-spacing:-0.84px;
}
.s_1_Chapter_3-1_171
{
position:absolute;
top:820.5px;
left:4150.09px;
letter-spacing:-1.47px;
}
.s_1_Chapter_3-1_172
{
position:absolute;
top:820.5px;
left:4491.21px;
letter-spacing:-1.82px;
}
.s_1_Chapter_3-1_173
{
position:absolute;
top:820.5px;
left:5109.74px;
letter-spacing:-1.4px;
}
.s_1_Chapter_3-1_174
{
position:absolute;
top:-19.5px;
left:45.14px;
letter-spacing:-2.08px;
}
.s_1_Chapter_3-1_175
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.35px;
}
.s_1_Chapter_3-1_176
{
position:absolute;
top:-19.5px;
left:787.79px;
}
.s_1_Chapter_3-1_177
{
position:absolute;
top:-19.5px;
left:1040.25px;
}
.s_1_Chapter_3-1_178
{
position:absolute;
top:-19.5px;
left:1494.46px;
}
.s_1_Chapter_3-1_179
{
position:absolute;
top:-19.5px;
left:2426.54px;
letter-spacing:-0.29px;
}
.s_1_Chapter_3-1_180
{
position:absolute;
top:-19.5px;
left:3544.52px;
}
.s_1_Chapter_3-1_181
{
position:absolute;
top:-19.5px;
left:3816.74px;
}
.s_1_Chapter_3-1_182
{
position:absolute;
top:-19.5px;
left:4266.01px;
letter-spacing:-0.45px;
}
.s_1_Chapter_3-1_183
{
position:absolute;
top:-19.5px;
left:5131.54px;
letter-spacing:-0.69px;
}
.s_1_Chapter_3-1_184
{
position:absolute;
top:-19.5px;
left:5364.23px;
letter-spacing:0px;
}
.s_1_Chapter_3-1_185
{
position:absolute;
top:400.5px;
left:0px;
}
.s_1_Chapter_3-1_186
{
position:absolute;
top:400.5px;
left:943.52px;
}
.s_1_Chapter_3-1_187
{
position:absolute;
top:400.5px;
left:1309.6px;
letter-spacing:-3.25px;
}
.s_1_Chapter_3-1_188
{
position:absolute;
top:400.5px;
left:1512.65px;
letter-spacing:-0.62px;
}
.s_1_Chapter_3-1_189
{
position:absolute;
top:400.5px;
left:2611.39px;
letter-spacing:-2.68px;
}
.s_1_Chapter_3-1_190
{
position:absolute;
top:400.5px;
left:2910.91px;
}
.s_1_Chapter_3-1_191
{
position:absolute;
top:400.5px;
left:3365.12px;
}
.s_1_Chapter_3-1_192
{
position:absolute;
top:400.5px;
left:3809.19px;
letter-spacing:-1px;
}
.s_1_Chapter_3-1_193
{
position:absolute;
top:400.5px;
left:4641.7px;
}
.s_1_Chapter_3-1_194
{
position:absolute;
top:400.5px;
left:4910.27px;
letter-spacing:-1.43px;
}
.s_1_Chapter_3-1_195
{
position:absolute;
top:820.5px;
left:0px;
letter-spacing:-1.99px;
}
.s_1_Chapter_3-1_196
{
position:absolute;
top:820.5px;
left:342.68px;
letter-spacing:-0.72px;
}
.s_1_Chapter_3-1_197
{
position:absolute;
top:820.5px;
left:1305.7px;
letter-spacing:-3.29px;
}
.s_1_Chapter_3-1_198
{
position:absolute;
top:820.5px;
left:2073.48px;
letter-spacing:-3.21px;
}
.s_1_Chapter_3-1_199
{
position:absolute;
top:820.5px;
left:2420.85px;
letter-spacing:-0.91px;
}
.s_1_Chapter_3-1_200
{
position:absolute;
top:820.5px;
left:2909.12px;
letter-spacing:-3.29px;
}
.s_1_Chapter_3-1_201
{
position:absolute;
top:820.5px;
left:3676.9px;
letter-spacing:-1.47px;
}
.s_1_Chapter_3-1_202
{
position:absolute;
top:820.5px;
left:4010.22px;
}
.s_1_Chapter_3-1_203
{
position:absolute;
top:820.5px;
left:4743.14px;
letter-spacing:-3.95px;
}
.s_1_Chapter_3-1_204
{
position:absolute;
top:-19.5px;
left:39.16px;
letter-spacing:-2.08px;
}
.s_1_Chapter_3-1_205
{
position:absolute;
top:-12.32px;
left:0px;
}
.s_1_Chapter_3-1_206
{
position:absolute;
top:-12.32px;
left:420.83px;
letter-spacing:-5.11px;
}
.s_1_Chapter_3-1_207
{
position:absolute;
top:-12.32px;
left:971.57px;
letter-spacing:-6.86px;
}
.s_1_Chapter_3-1_208
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.45px;
}
.s_1_Chapter_3-1_209
{
position:absolute;
top:-19.5px;
left:503.1px;
letter-spacing:-0.97px;
}
.s_1_Chapter_3-1_210
{
position:absolute;
top:-19.5px;
left:1387.08px;
letter-spacing:-3.05px;
}
.s_1_Chapter_3-1_211
{
position:absolute;
top:-19.5px;
left:1878.73px;
}
.s_1_Chapter_3-1_212
{
position:absolute;
top:-19.5px;
left:2150.95px;
}
.s_1_Chapter_3-1_213
{
position:absolute;
top:-19.5px;
left:2600.22px;
letter-spacing:-0.52px;
}
.s_1_Chapter_3-1_214
{
position:absolute;
top:-19.5px;
left:3342.51px;
}
.s_1_Chapter_3-1_215
{
position:absolute;
top:-19.5px;
left:3594.96px;
}
.s_1_Chapter_3-1_216
{
position:absolute;
top:380.5px;
left:0px;
letter-spacing:-3.05px;
}
.s_1_Chapter_3-1_217
{
position:absolute;
top:380.5px;
left:502.58px;
letter-spacing:-2.68px;
}
.s_1_Chapter_3-1_218
{
position:absolute;
top:380.5px;
left:806.51px;
}
.s_1_Chapter_3-1_219
{
position:absolute;
top:380.5px;
left:1743.02px;
letter-spacing:-0.69px;
}
.s_1_Chapter_3-1_220
{
position:absolute;
top:380.5px;
left:1975.71px;
}
.s_1_Chapter_3-1_221
{
position:absolute;
top:380.5px;
left:2232.59px;
letter-spacing:-1.65px;
}
.s_1_Chapter_3-1_222
{
position:absolute;
top:380.5px;
left:3385.15px;
letter-spacing:-3.38px;
}
.s_1_Chapter_3-1_223
{
position:absolute;
top:380.5px;
left:3735.62px;
}
.s_1_Chapter_3-1_224
{
position:absolute;
top:780.5px;
left:0px;
}
.s_1_Chapter_3-1_225
{
position:absolute;
top:780.5px;
left:1505.9px;
letter-spacing:-0.39px;
}
.s_1_Chapter_3-1_226
{
position:absolute;
top:780.5px;
left:1883.16px;
letter-spacing:-0.3px;
}
.s_1_Chapter_3-1_227
{
position:absolute;
top:780.5px;
left:2718.01px;
}
.s_1_Chapter_3-1_228
{
position:absolute;
top:780.5px;
left:3229.16px;
letter-spacing:-1.86px;
}

.page11_pos1 {
	position:absolute;
	top: 248px;
	left: 84px;
}
.page11_pos2 {
	position:absolute;
	top: 248px;
	left: 197px;
}
.page11_pos3 {
	position:absolute;
	top: 249px;
	left: 306px;
}
.page11_pos4 {
	position:absolute;
	top: 326px;
	left: 85px;
}
.page11_pos5 {
	position:absolute;
	top: 326px;
	left: 175px;
}
.page11_pos6 {
	position:absolute;
	top: 326px;
	left: 243px;
}
.page11_pos7 {
	position:absolute;
	top: 404px;
	left: 194px;
}
.page11_pos8 {
	position:absolute;
	top: 404px;
	left: 284px;
}
.page11_pos9 {
	position:absolute;
	top: 404px;
	left: 375px;
}
.page11_pos10 {
	position:absolute;
	top: 482px;
	left: 193px;
}
.page11_pos11 {
	position:absolute;
	top: 482px;
	left: 311px;
}
.page11_pos12 {
	position:absolute;
	top: 482px;
	left: 420px;
}
.page11_pos13 {
	position:absolute;
	top: 558px;
	left: 87px;
}
.page11_pos14 {
	position:absolute;
	top: 557px;
	left: 184px;
}
.page11_pos15 {
	position:absolute;
	top: 558px;
	left: 295px;
}
.page11_pos16 {
	position:absolute;
	top: 641px;
	left: 195px;
}
.page11_pos17 {
	position:absolute;
	top: 641px;
	left: 299px;
}
.page11_pos18 {
	position:absolute;
	top: 641px;
	left: 380px;
}
.page11_btn1 {
	position:absolute;
	top: 804px;
	left: 273px;
}
.page11_btn2 {
	position:absolute;
	top: 804px;
	left: 214px;
}
