.d_1_Chapter_3-3_1
{position:absolute;overflow:hidden;left: 297.36px;top:0px;transform:translate(0.00px,0.00px);-webkit-transform:translate(0.00px,0.00px);-ms-transform:translate(0.00px,0.00px);-o-transform:translate(0.00px,0.00px);-moz-transform:translate(0.00px,0.00px);width:595.28px;height:841.89px;}
.d_1_Chapter_3-3_2
{
width:560.18px;
height:401.47px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_3-3_3
{
width:9145.47px;
height:492.09px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_3-3_4
{
width:2077.51px;
height:2217.87px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_3-3_5
{
width:3064.84px;
height:288px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_3-3_6
{
width:1607.2px;
height:1928.18px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_3-3_7
{
width:6615.51px;
height:432px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_3-3_8
{
width:2192.08px;
height:214.2px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_3-3_9
{
width:3249.29px;
height:269.94px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_3-3_10
{
width:3034.05px;
height:266.2px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_3-3_11
{
width:3034.05px;
height:214.2px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_3-3_12
{
width:424.52px;
height:424.52px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(1px,1px) rotate(0deg) scale(0.05);
-webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);
-ms-transform: translate(1px,1px) rotate(0deg) scale(0.05);
-o-transform: translate(1px,1px) rotate(0deg) scale(0.05);
-moz-transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_3-3_13
{
width:424.52px;
height:424.52px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(1px,1px) rotate(0deg) scale(0.05);
-webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);
-ms-transform: translate(1px,1px) rotate(0deg) scale(0.05);
-o-transform: translate(1px,1px) rotate(0deg) scale(0.05);
-moz-transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_3-3_14
{
width:424.52px;
height:424.52px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(1px,1px) rotate(0deg) scale(0.05);
-webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);
-ms-transform: translate(1px,1px) rotate(0deg) scale(0.05);
-o-transform: translate(1px,1px) rotate(0deg) scale(0.05);
-moz-transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_3-3_15
{
width:424.52px;
height:424.52px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(1px,1px) rotate(0deg) scale(0.05);
-webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);
-ms-transform: translate(1px,1px) rotate(0deg) scale(0.05);
-o-transform: translate(1px,1px) rotate(0deg) scale(0.05);
-moz-transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_3-3_16
{
width:424.52px;
height:424.52px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(1px,1px) rotate(0deg) scale(0.05);
-webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);
-ms-transform: translate(1px,1px) rotate(0deg) scale(0.05);
-o-transform: translate(1px,1px) rotate(0deg) scale(0.05);
-moz-transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_3-3_17
{
width:424.52px;
height:424.52px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(1px,1px) rotate(0deg) scale(0.05);
-webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);
-ms-transform: translate(1px,1px) rotate(0deg) scale(0.05);
-o-transform: translate(1px,1px) rotate(0deg) scale(0.05);
-moz-transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_3-3_18
{
width:1975.83px;
height:1880.23px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_3-3_19
{
width:7408.85px;
height:998.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_3-3_20
{
width:9176.91px;
height:321.58px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.s_1_Chapter_3-3_21
{
position:absolute;
top:41.44px;
left:134.15px;
}
.s_1_Chapter_3-3_22
{
position:absolute;
top:58.88px;
left:0px;
}
.s_1_Chapter_3-3_23
{
position:absolute;
top:213.6px;
left:289.43px;
}
.s_1_Chapter_3-3_24
{
position:absolute;
top:213.6px;
left:453.54px;
letter-spacing:-0.95px;
}
.s_1_Chapter_3-3_25
{
position:absolute;
top:213.6px;
left:1370.55px;
}
.s_1_Chapter_3-3_26
{
position:absolute;
top:213.6px;
left:2043.94px;
letter-spacing:-1.52px;
}
.s_1_Chapter_3-3_27
{
position:absolute;
top:213.6px;
left:2754px;
}
.s_1_Chapter_3-3_28
{
position:absolute;
top:213.6px;
left:3587.54px;
letter-spacing:-1.47px;
}
.s_1_Chapter_3-3_29
{
position:absolute;
top:213.6px;
left:4264.05px;
}
.s_1_Chapter_3-3_30
{
position:absolute;
top:213.6px;
left:4685.76px;
letter-spacing:-0.39px;
}
.s_1_Chapter_3-3_31
{
position:absolute;
top:213.6px;
left:5545.31px;
letter-spacing:-1.34px;
}
.s_1_Chapter_3-3_32
{
position:absolute;
top:213.6px;
left:6416.56px;
letter-spacing:0px;
}
.s_1_Chapter_3-3_33
{
position:absolute;
top:213.6px;
left:6668.5px;
letter-spacing:0px;
}
.s_1_Chapter_3-3_34
{
position:absolute;
top:213.6px;
left:7090.21px;
letter-spacing:0px;
}
.s_1_Chapter_3-3_35
{
position:absolute;
top:213.6px;
left:7791.16px;
letter-spacing:-0.35px;
}
.s_1_Chapter_3-3_36
{
position:absolute;
top:-19.5px;
left:396.85px;
letter-spacing:-0.26px;
}
.s_1_Chapter_3-3_37
{
position:absolute;
top:617.19px;
left:396.85px;
letter-spacing:-2.69px;
}
.s_1_Chapter_3-3_38
{
position:absolute;
top:1253.88px;
left:396.85px;
}
.s_1_Chapter_3-3_39
{
position:absolute;
top:1890.58px;
left:396.85px;
letter-spacing:-1.45px;
}
.s_1_Chapter_3-3_40
{
position:absolute;
top:-14.08px;
left:0px;
letter-spacing:-3.89px;
}
.s_1_Chapter_3-3_41
{
position:absolute;
top:-14.08px;
left:843.18px;
letter-spacing:-4.67px;
}
.s_1_Chapter_3-3_42
{
position:absolute;
top:-14.08px;
left:1635.81px;
letter-spacing:-3.89px;
}
.s_1_Chapter_3-3_43
{
position:absolute;
top:-19.5px;
left:396.85px;
letter-spacing:-0.78px;
}
.s_1_Chapter_3-3_44
{
position:absolute;
top:437.19px;
left:396.85px;
letter-spacing:-0.48px;
}
.s_1_Chapter_3-3_45
{
position:absolute;
top:893.88px;
left:396.85px;
}
.s_1_Chapter_3-3_46
{
position:absolute;
top:1350.58px;
left:396.85px;
letter-spacing:-1px;
}
.s_1_Chapter_3-3_47
{
position:absolute;
top:58.88px;
left:0px;
letter-spacing:-30.96px;
}
.s_1_Chapter_3-3_48
{
position:absolute;
top:213.6px;
left:219.83px;
}
.s_1_Chapter_3-3_49
{
position:absolute;
top:213.6px;
left:453.54px;
letter-spacing:-0.52px;
}
.s_1_Chapter_3-3_50
{
position:absolute;
top:213.6px;
left:1218.66px;
letter-spacing:0px;
}
.s_1_Chapter_3-3_51
{
position:absolute;
top:213.6px;
left:1891.74px;
letter-spacing:0px;
}
.s_1_Chapter_3-3_52
{
position:absolute;
top:213.6px;
left:2631.37px;
letter-spacing:-0.19px;
}
.s_1_Chapter_3-3_53
{
position:absolute;
top:213.6px;
left:3381.92px;
}
.s_1_Chapter_3-3_54
{
position:absolute;
top:213.6px;
left:3851.15px;
}
.s_1_Chapter_3-3_55
{
position:absolute;
top:213.6px;
left:4490.16px;
}
.s_1_Chapter_3-3_56
{
position:absolute;
top:213.6px;
left:4779.22px;
letter-spacing:-0.91px;
}
.s_1_Chapter_3-3_57
{
position:absolute;
top:213.6px;
left:5357.13px;
}
.s_1_Chapter_3-3_58
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-1.99px;
}
.s_1_Chapter_3-3_59
{
position:absolute;
top:-19.5px;
left:291.46px;
letter-spacing:-1.25px;
}
.s_1_Chapter_3-3_60
{
position:absolute;
top:-19.5px;
left:815.61px;
letter-spacing:-2.68px;
}
.s_1_Chapter_3-3_61
{
position:absolute;
top:-19.5px;
left:1119.54px;
letter-spacing:-1.82px;
}
.s_1_Chapter_3-3_62
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-1.47px;
}
.s_1_Chapter_3-3_63
{
position:absolute;
top:-19.5px;
left:281.84px;
letter-spacing:-1.25px;
}
.s_1_Chapter_3-3_64
{
position:absolute;
top:-19.5px;
left:805.99px;
letter-spacing:-2.68px;
}
.s_1_Chapter_3-3_65
{
position:absolute;
top:-19.5px;
left:1109.92px;
letter-spacing:-1.39px;
}
.s_1_Chapter_3-3_66
{
position:absolute;
top:-19.5px;
left:1883.41px;
letter-spacing:-0.42px;
}
.s_1_Chapter_3-3_67
{
position:absolute;
top:-19.5px;
left:0px;
}
.s_1_Chapter_3-3_68
{
position:absolute;
top:-19.5px;
left:305.23px;
letter-spacing:-0.87px;
}
.s_1_Chapter_3-3_69
{
position:absolute;
top:-19.5px;
left:972.91px;
letter-spacing:-2.68px;
}
.s_1_Chapter_3-3_70
{
position:absolute;
top:-19.5px;
left:1272.42px;
}
.s_1_Chapter_3-3_71
{
position:absolute;
top:-19.5px;
left:1726.63px;
letter-spacing:-0.45px;
}
.s_1_Chapter_3-3_72
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-3.21px;
}
.s_1_Chapter_3-3_73
{
position:absolute;
top:-19.5px;
left:294.84px;
}
.s_1_Chapter_3-3_74
{
position:absolute;
top:-19.5px;
left:947.69px;
letter-spacing:-2.68px;
}
.s_1_Chapter_3-3_75
{
position:absolute;
top:-19.5px;
left:1251.63px;
letter-spacing:-0.88px;
}
.s_1_Chapter_3-3_76
{
position:absolute;
top:-19.5px;
left:1792.68px;
letter-spacing:-1px;
}
.s_1_Chapter_3-3_77
{
position:absolute;
top:93.31px;
left:166.75px;
letter-spacing:-1.69px;
}
.s_1_Chapter_3-3_78
{
position:absolute;
top:93.31px;
left:129.05px;
letter-spacing:-1.3px;
}
.s_1_Chapter_3-3_79
{
position:absolute;
top:93.31px;
left:128.79px;
}
.s_1_Chapter_3-3_80
{
position:absolute;
top:93.31px;
left:130.35px;
letter-spacing:-2.08px;
}
.s_1_Chapter_3-3_81
{
position:absolute;
top:93.31px;
left:126.84px;
letter-spacing:-2.08px;
}
.s_1_Chapter_3-3_82
{
position:absolute;
top:93.31px;
left:124.37px;
letter-spacing:-2.08px;
}
.s_1_Chapter_3-3_83
{
position:absolute;
top:-18px;
left:192.69px;
}
.s_1_Chapter_3-3_84
{
position:absolute;
top:-18px;
left:1428.9px;
letter-spacing:-1.62px;
}
.s_1_Chapter_3-3_85
{
position:absolute;
top:282px;
left:216.8px;
}
.s_1_Chapter_3-3_86
{
position:absolute;
top:282px;
left:1035.19px;
}
.s_1_Chapter_3-3_87
{
position:absolute;
top:582px;
left:124.65px;
letter-spacing:-0.68px;
}
.s_1_Chapter_3-3_88
{
position:absolute;
top:582px;
left:766.16px;
}
.s_1_Chapter_3-3_89
{
position:absolute;
top:582px;
left:1055.59px;
}
.s_1_Chapter_3-3_90
{
position:absolute;
top:882px;
left:96.81px;
letter-spacing:-0.33px;
}
.s_1_Chapter_3-3_91
{
position:absolute;
top:882px;
left:916.16px;
letter-spacing:-1.84px;
}
.s_1_Chapter_3-3_92
{
position:absolute;
top:882px;
left:1209.43px;
letter-spacing:-0.69px;
}
.s_1_Chapter_3-3_93
{
position:absolute;
top:1182px;
left:489.68px;
letter-spacing:-0.64px;
}
.s_1_Chapter_3-3_94
{
position:absolute;
top:1182px;
left:704.48px;
}
.s_1_Chapter_3-3_95
{
position:absolute;
top:1182px;
left:941.59px;
letter-spacing:-1.68px;
}
.s_1_Chapter_3-3_96
{
position:absolute;
top:1182px;
left:1359.9px;
letter-spacing:-3px;
}
.s_1_Chapter_3-3_97
{
position:absolute;
top:1482px;
left:440.96px;
}
.s_1_Chapter_3-3_98
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-1.99px;
}
.s_1_Chapter_3-3_99
{
position:absolute;
top:-19.5px;
left:291.46px;
}
.s_1_Chapter_3-3_100
{
position:absolute;
top:-19.5px;
left:2240px;
letter-spacing:-3.21px;
}
.s_1_Chapter_3-3_101
{
position:absolute;
top:-19.5px;
left:2534.84px;
letter-spacing:-0.52px;
}
.s_1_Chapter_3-3_102
{
position:absolute;
top:-19.5px;
left:5220px;
letter-spacing:-1.47px;
}
.s_1_Chapter_3-3_103
{
position:absolute;
top:-19.5px;
left:5501.84px;
letter-spacing:0px;
}
.s_1_Chapter_3-3_104
{
position:absolute;
top:380.5px;
left:0px;
}
.s_1_Chapter_3-3_105
{
position:absolute;
top:380.5px;
left:305.23px;
letter-spacing:-0.76px;
}
.s_1_Chapter_3-3_106
{
position:absolute;
top:380.5px;
left:2240px;
letter-spacing:-2.17px;
}
.s_1_Chapter_3-3_107
{
position:absolute;
top:380.5px;
left:2526.52px;
}
.s_1_Chapter_3-3_108
{
position:absolute;
top:380.5px;
left:3246.44px;
letter-spacing:-1.47px;
}
.s_1_Chapter_3-3_109
{
position:absolute;
top:380.5px;
left:4003.55px;
}
.s_1_Chapter_3-3_110
{
position:absolute;
top:380.5px;
left:5220px;
}
.s_1_Chapter_3-3_111
{
position:absolute;
top:380.5px;
left:5466.21px;
letter-spacing:-1.08px;
}
.s_1_Chapter_3-3_112
{
position:absolute;
top:380.5px;
left:6229.04px;
letter-spacing:0px;
}
.s_1_Chapter_3-3_113
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.48px;
}
.s_1_Chapter_3-3_114
{
position:absolute;
top:-19.5px;
left:810.41px;
}
.s_1_Chapter_3-3_115
{
position:absolute;
top:-19.5px;
left:1259.68px;
letter-spacing:-1.82px;
}
.s_1_Chapter_3-3_116
{
position:absolute;
top:-19.5px;
left:2056.31px;
}
.s_1_Chapter_3-3_117
{
position:absolute;
top:-19.5px;
left:2365.44px;
}
.s_1_Chapter_3-3_118
{
position:absolute;
top:-19.5px;
left:2819.65px;
letter-spacing:-0.78px;
}
.s_1_Chapter_3-3_119
{
position:absolute;
top:-19.5px;
left:3840.13px;
letter-spacing:-3.38px;
}
.s_1_Chapter_3-3_120
{
position:absolute;
top:-19.5px;
left:4185.67px;
}
.s_1_Chapter_3-3_121
{
position:absolute;
top:-19.5px;
left:5076.41px;
}
.s_1_Chapter_3-3_122
{
position:absolute;
top:-19.5px;
left:5530.62px;
letter-spacing:-1.23px;
}
.s_1_Chapter_3-3_123
{
position:absolute;
top:-19.5px;
left:6449.71px;
letter-spacing:-0.85px;
}
.s_1_Chapter_3-3_124
{
position:absolute;
top:-19.5px;
left:7429.63px;
}
.s_1_Chapter_3-3_125
{
position:absolute;
top:-19.5px;
left:7701.85px;
}
.s_1_Chapter_3-3_126
{
position:absolute;
top:-19.5px;
left:8156.06px;
letter-spacing:-0.78px;
}

.page14_position1 {
	position:absolute;
	top: 181px;
	left: 203px;
}
.page14_position2 {
	position:absolute;
	top: 181px;
	left: 366px;
}
.page14_position3 {
	position:absolute;
	top: 180px;
	left: 531px;
}
.page14_position4 {
	position:absolute;
	top: 309px;
	left: 205px;
}
.page14_position5 {
	position:absolute;
	top: 310px;
	left: 368px;
}
.page14_position6 {
	position:absolute;
	top: 309px;
	left: 532px;
}
.page14_position7 {
	position:absolute;
	top: 581px;
	left: 167px;
}
.page14_position8 {
	position:absolute;
	top: 590px;
	left: 256px;
}
.page14_position9 {
	position:absolute;
	top: 580px;
	left: 358px;
}
.page14_position10 {
	position:absolute;
	top: 586px;
	left: 457px;
}

.page14_btn1 {
	position:absolute;
	top: 337px;
	left: 290px;
}
.page14_btn2 {
	position:absolute;
	top: 338px;
	left: 233px;
}
.page14_btn3 {
	position:absolute;
	top: 617px;
	left: 440px;
}
.page14_btn4 {
	position:absolute;
	top: 617px;
	left: 385px;
}
.page14_btn5 {
	position:absolute;
	top: 780px;
	left: 233px;
}


.match14 {
	height: 113px;
	display:none;
	width: 67px;
}
.match_image1_p14_14{
	position: absolute;
	top: 651px;
	left: 143px;
}

#l1{
	position: absolute;
	top: 651px;
	left: 143px;
}
#l2{
	position: absolute;
	top: 682px;
	left: 143px;
}
#l3{
	position: absolute;
	top: 715px;
	left: 143px;
}
#l4{
	position: absolute;
	top: 748px;
	left: 143px;
}

#r1{
	position: absolute;
	top: 652px;
	left: 192px;
}
#r2{
	position: absolute;
	top: 682px;
	left: 192px;
}
#r3{
	position: absolute;
	top: 714px;
	left: 192px;
}
#r4{
	position: absolute;
	top: 746px;
	left: 192px;
}
