.d_1_Chapter_17-1_1
{
position:absolute;
overflow:hidden;
left:0px;
top:0px;
transform:translate(0.00px,0.00px);
-webkit-transform:translate(0.00px,0.00px);
-ms-transform:translate(0.00px,0.00px);
-o-transform:translate(0.00px,0.00px);
-moz-transform:translate(0.00px,0.00px);
width:595.28px;
height:841.89px
}
.d_1_Chapter_17-1_2
{
width:560.18px;
height:401.47px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_17-1_3
{
width:9671.47px;
height:1312px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_17-1_4
{
width:6072.09px;
height:732.58px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_17-1_5
{
width:1884.76px;
height:288px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_17-1_6
{
width:8539.31px;
height:214.2px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.65px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.65px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.65px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.65px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.65px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_17-1_7
{
width:185.51px;
height:255.12px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_17-1_8
{
width:283.46px;
height:255.12px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_17-1_9
{
width:283.46px;
height:328.62px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_17-1_10
{
width:283.46px;
height:255.12px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_17-1_11
{
width:403.23px;
height:425.2px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_17-1_12
{
width:403.23px;
height:425.2px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_17-1_13
{
width:185.51px;
height:255.12px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_17-1_14
{
width:335.2px;
height:328.62px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_17-1_15
{
width:335.2px;
height:328.62px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_17-1_16
{
width:2731.47px;
height:670.89px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_17-1_17
{
width:2742.82px;
height:670.89px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_17-1_18
{
width:2742.82px;
height:670.89px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_17-1_19
{
width:2749.62px;
height:670.89px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_17-1_20
{
width:2720.97px;
height:670.89px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_17-1_21
{
width:2740.97px;
height:670.89px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_17-1_22
{
width:2762.06px;
height:670.89px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_17-1_23
{
width:2720.97px;
height:670.89px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_17-1_24
{
width:2720.97px;
height:670.89px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_17-1_25
{
width:9390.33px;
height:1455.59px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_17-1_26
{
position:absolute;
overflow:hidden;
left:0px;
top:0px;
transform:translate(595.28px,0.00px);
-webkit-transform:translate(595.28px,0.00px);
-ms-transform:translate(595.28px,0.00px);
-o-transform:translate(595.28px,0.00px);
-moz-transform:translate(595.28px,0.00px);
width:595.28px;
height:841.89px
}
.d_1_Chapter_17-1_27
{
width:560.18px;
height:401.47px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_17-1_28
{
width:9733.22px;
height:432px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_17-1_29
{
width:1884.76px;
height:288px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_17-1_30
{
width:4262.54px;
height:3424.32px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_17-1_31
{
width:3064.84px;
height:288px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_17-1_32
{
width:4432.1px;
height:2768.98px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_17-1_33
{
width:526.14px;
height:215.43px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_17-1_34
{
width:4432.1px;
height:2368.98px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_17-1_35
{
width:526.14px;
height:215.43px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_17-1_36
{
width:4432.1px;
height:2768.98px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_17-1_37
{
width:526.14px;
height:215.43px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_17-1_38
{
width:4432.1px;
height:2129.62px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_17-1_39
{
width:526.14px;
height:215.43px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_17-1_40
{
width:4432.1px;
height:2553px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_17-1_41
{
width:526.14px;
height:215.43px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_17-1_42
{
width:4432.1px;
height:2186.31px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_17-1_43
{
width:526.14px;
height:215.43px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_17-1_44
{
width:4216.64px;
height:2370.55px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.s_1_Chapter_17-1_45
{
position:absolute;
top:41.44px;
left:134.15px;
}
.s_1_Chapter_17-1_46
{
position:absolute;
top:58.88px;
left:0px;
}
.s_1_Chapter_17-1_47
{
position:absolute;
top:213.6px;
left:380.63px;
}
.s_1_Chapter_17-1_48
{
position:absolute;
top:213.6px;
left:453.54px;
letter-spacing:-0.58px;
}
.s_1_Chapter_17-1_49
{
position:absolute;
top:213.6px;
left:1444.13px;
letter-spacing:-0.78px;
}
.s_1_Chapter_17-1_50
{
position:absolute;
top:213.6px;
left:1865.85px;
letter-spacing:-0.52px;
}
.s_1_Chapter_17-1_51
{
position:absolute;
top:213.6px;
left:2294.06px;
letter-spacing:0px;
}
.s_1_Chapter_17-1_52
{
position:absolute;
top:213.6px;
left:2937.81px;
letter-spacing:-1.92px;
}
.s_1_Chapter_17-1_53
{
position:absolute;
top:213.6px;
left:3489px;
}
.s_1_Chapter_17-1_54
{
position:absolute;
top:213.6px;
left:4420.05px;
}
.s_1_Chapter_17-1_55
{
position:absolute;
top:213.6px;
left:4887.01px;
letter-spacing:-0.39px;
}
.s_1_Chapter_17-1_56
{
position:absolute;
top:213.6px;
left:5836.78px;
letter-spacing:-0.91px;
}
.s_1_Chapter_17-1_57
{
position:absolute;
top:213.6px;
left:6416.05px;
letter-spacing:-0.12px;
}
.s_1_Chapter_17-1_58
{
position:absolute;
top:213.6px;
left:7640.11px;
letter-spacing:0px;
}
.s_1_Chapter_17-1_59
{
position:absolute;
top:213.6px;
left:8110.7px;
letter-spacing:-0.62px;
}
.s_1_Chapter_17-1_60
{
position:absolute;
top:213.6px;
left:8678.79px;
letter-spacing:-0.43px;
}
.s_1_Chapter_17-1_61
{
position:absolute;
top:613.6px;
left:453.54px;
letter-spacing:-0.95px;
}
.s_1_Chapter_17-1_62
{
position:absolute;
top:613.6px;
left:1370.55px;
}
.s_1_Chapter_17-1_63
{
position:absolute;
top:613.6px;
left:2044.98px;
letter-spacing:-0.62px;
}
.s_1_Chapter_17-1_64
{
position:absolute;
top:613.6px;
left:3220.43px;
}
.s_1_Chapter_17-1_65
{
position:absolute;
top:613.6px;
left:3961.42px;
letter-spacing:0px;
}
.s_1_Chapter_17-1_66
{
position:absolute;
top:613.6px;
left:5630.58px;
letter-spacing:0px;
}
.s_1_Chapter_17-1_67
{
position:absolute;
top:613.6px;
left:6100.13px;
letter-spacing:0px;
}
.s_1_Chapter_17-1_68
{
position:absolute;
top:613.6px;
left:6743.1px;
letter-spacing:-0.91px;
}
.s_1_Chapter_17-1_69
{
position:absolute;
top:613.6px;
left:7322.37px;
letter-spacing:0px;
}
.s_1_Chapter_17-1_70
{
position:absolute;
top:613.6px;
left:7993.95px;
letter-spacing:0px;
}
.s_1_Chapter_17-1_71
{
position:absolute;
top:613.6px;
left:8245.88px;
letter-spacing:0px;
}
.s_1_Chapter_17-1_72
{
position:absolute;
top:613.6px;
left:8667.6px;
letter-spacing:0px;
}
.s_1_Chapter_17-1_73
{
position:absolute;
top:1013.6px;
left:453.54px;
letter-spacing:-0.35px;
}
.s_1_Chapter_17-1_74
{
position:absolute;
top:-26.96px;
left:0px;
letter-spacing:20.63px;
transform-origin: 0% 759.55px;
-webkit-transform-origin: 0% 759.55px;
-ms-transform-origin: 0% 759.55px;
-o-transform-origin: 0% 759.55px;
-moz-transform-origin: 0% 759.55px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Chapter_17-1_75
{
position:absolute;
top:-26.96px;
left:1169.74px;
letter-spacing:23.57px;
transform-origin: 0% 759.55px;
-webkit-transform-origin: 0% 759.55px;
-ms-transform-origin: 0% 759.55px;
-o-transform-origin: 0% 759.55px;
-moz-transform-origin: 0% 759.55px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Chapter_17-1_76
{
position:absolute;
top:-26.96px;
left:4171.81px;
letter-spacing:18.33px;
transform-origin: 0% 759.55px;
-webkit-transform-origin: 0% 759.55px;
-ms-transform-origin: 0% 759.55px;
-o-transform-origin: 0% 759.55px;
-moz-transform-origin: 0% 759.55px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Chapter_17-1_77
{
position:absolute;
top:-12.32px;
left:0px;
}
.s_1_Chapter_17-1_78
{
position:absolute;
top:-12.32px;
left:420.83px;
letter-spacing:-5.11px;
}
.s_1_Chapter_17-1_79
{
position:absolute;
top:-12.32px;
left:971.57px;
letter-spacing:-6.86px;
}
.s_1_Chapter_17-1_80
{
position:absolute;
top:-21px;
left:0px;
letter-spacing:-4.2px;
}
.s_1_Chapter_17-1_81
{
position:absolute;
top:-21px;
left:242.19px;
}
.s_1_Chapter_17-1_82
{
position:absolute;
top:-21px;
left:1556.77px;
}
.s_1_Chapter_17-1_83
{
position:absolute;
top:-21px;
left:1833.41px;
letter-spacing:-3.5px;
}
.s_1_Chapter_17-1_84
{
position:absolute;
top:-21px;
left:2052.93px;
letter-spacing:-1.15px;
}
.s_1_Chapter_17-1_85
{
position:absolute;
top:-21px;
left:3197.83px;
}
.s_1_Chapter_17-1_86
{
position:absolute;
top:-21px;
left:3823.62px;
}
.s_1_Chapter_17-1_87
{
position:absolute;
top:-21px;
left:4211.41px;
text-rendering:optimizeLegibility;
letter-spacing:-0.28px;
}
.s_1_Chapter_17-1_88
{
position:absolute;
top:-21px;
left:5107.68px;
letter-spacing:-0.34px;
}
.s_1_Chapter_17-1_89
{
position:absolute;
top:-21px;
left:6253.43px;
letter-spacing:-2.89px;
}
.s_1_Chapter_17-1_90
{
position:absolute;
top:-21px;
left:6580.74px;
}
.s_1_Chapter_17-1_91
{
position:absolute;
top:-21px;
left:7153.33px;
letter-spacing:-0.63px;
}
.s_1_Chapter_17-1_92
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-1.69px;
}
.s_1_Chapter_17-1_93
{
position:absolute;
top:-19.5px;
left:0px;
}
.s_1_Chapter_17-1_94
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-2.08px;
}
.s_1_Chapter_17-1_95
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-1.3px;
}
.s_1_Chapter_17-1_96
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-2.08px;
}
.s_1_Chapter_17-1_97
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-2.08px;
}
.s_1_Chapter_17-1_98
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-10.92px;
}
.s_1_Chapter_17-1_99
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-1.95px;
}
.s_1_Chapter_17-1_100
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-4.03px;
}
.s_1_Chapter_17-1_101
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.48px;
}
.s_1_Chapter_17-1_102
{
position:absolute;
top:-19.5px;
left:831.48px;
}
.s_1_Chapter_17-1_103
{
position:absolute;
top:437.19px;
left:0px;
letter-spacing:-0.22px;
}
.s_1_Chapter_17-1_104
{
position:absolute;
top:437.19px;
left:777.64px;
}
.s_1_Chapter_17-1_105
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.48px;
}
.s_1_Chapter_17-1_106
{
position:absolute;
top:-19.5px;
left:831.48px;
}
.s_1_Chapter_17-1_107
{
position:absolute;
top:437.19px;
left:0px;
letter-spacing:-0.22px;
}
.s_1_Chapter_17-1_108
{
position:absolute;
top:437.19px;
left:777.64px;
}
.s_1_Chapter_17-1_109
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.48px;
}
.s_1_Chapter_17-1_110
{
position:absolute;
top:-19.5px;
left:831.48px;
}
.s_1_Chapter_17-1_111
{
position:absolute;
top:437.19px;
left:0px;
letter-spacing:-0.22px;
}
.s_1_Chapter_17-1_112
{
position:absolute;
top:437.19px;
left:777.64px;
}
.s_1_Chapter_17-1_113
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.48px;
}
.s_1_Chapter_17-1_114
{
position:absolute;
top:-19.5px;
left:831.48px;
}
.s_1_Chapter_17-1_115
{
position:absolute;
top:437.19px;
left:0px;
letter-spacing:-0.22px;
}
.s_1_Chapter_17-1_116
{
position:absolute;
top:437.19px;
left:777.64px;
}
.s_1_Chapter_17-1_117
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.48px;
}
.s_1_Chapter_17-1_118
{
position:absolute;
top:-19.5px;
left:831.48px;
}
.s_1_Chapter_17-1_119
{
position:absolute;
top:437.19px;
left:0px;
letter-spacing:-0.22px;
}
.s_1_Chapter_17-1_120
{
position:absolute;
top:437.19px;
left:777.64px;
}
.s_1_Chapter_17-1_121
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.48px;
}
.s_1_Chapter_17-1_122
{
position:absolute;
top:-19.5px;
left:831.48px;
}
.s_1_Chapter_17-1_123
{
position:absolute;
top:437.19px;
left:0px;
letter-spacing:-0.22px;
}
.s_1_Chapter_17-1_124
{
position:absolute;
top:437.19px;
left:777.64px;
}
.s_1_Chapter_17-1_125
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.48px;
}
.s_1_Chapter_17-1_126
{
position:absolute;
top:-19.5px;
left:831.48px;
}
.s_1_Chapter_17-1_127
{
position:absolute;
top:437.19px;
left:0px;
letter-spacing:-0.22px;
}
.s_1_Chapter_17-1_128
{
position:absolute;
top:437.19px;
left:777.64px;
}
.s_1_Chapter_17-1_129
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.48px;
}
.s_1_Chapter_17-1_130
{
position:absolute;
top:-19.5px;
left:831.48px;
}
.s_1_Chapter_17-1_131
{
position:absolute;
top:437.19px;
left:0px;
letter-spacing:-0.22px;
}
.s_1_Chapter_17-1_132
{
position:absolute;
top:437.19px;
left:777.64px;
}
.s_1_Chapter_17-1_133
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.48px;
}
.s_1_Chapter_17-1_134
{
position:absolute;
top:-19.5px;
left:831.48px;
}
.s_1_Chapter_17-1_135
{
position:absolute;
top:437.19px;
left:0px;
letter-spacing:-0.22px;
}
.s_1_Chapter_17-1_136
{
position:absolute;
top:437.19px;
left:777.64px;
}
.s_1_Chapter_17-1_137
{
position:absolute;
top:-19.5px;
left:0px;
}
.s_1_Chapter_17-1_138
{
position:absolute;
top:-19.5px;
left:288.33px;
}
.s_1_Chapter_17-1_139
{
position:absolute;
top:-19.5px;
left:1273.97px;
letter-spacing:-1.14px;
}
.s_1_Chapter_17-1_140
{
position:absolute;
top:-19.5px;
left:2578.12px;
}
.s_1_Chapter_17-1_141
{
position:absolute;
top:-19.5px;
left:3734.59px;
letter-spacing:-0.19px;
}
.s_1_Chapter_17-1_142
{
position:absolute;
top:-19.5px;
left:4614.42px;
letter-spacing:-0.75px;
}
.s_1_Chapter_17-1_143
{
position:absolute;
top:-19.5px;
left:5835.62px;
letter-spacing:-1.08px;
}
.s_1_Chapter_17-1_144
{
position:absolute;
top:-19.5px;
left:6536.84px;
}
.s_1_Chapter_17-1_145
{
position:absolute;
top:-19.5px;
left:7335.8px;
letter-spacing:-0.88px;
}
.s_1_Chapter_17-1_146
{
position:absolute;
top:-19.5px;
left:7957.72px;
letter-spacing:0px;
}
.s_1_Chapter_17-1_147
{
position:absolute;
top:380.5px;
left:0px;
letter-spacing:-0.41px;
}
.s_1_Chapter_17-1_148
{
position:absolute;
top:380.5px;
left:849.41px;
letter-spacing:-1.28px;
}
.s_1_Chapter_17-1_149
{
position:absolute;
top:380.5px;
left:2380.53px;
letter-spacing:-1.49px;
}
.s_1_Chapter_17-1_150
{
position:absolute;
top:380.5px;
left:2824.34px;
}
.s_1_Chapter_17-1_151
{
position:absolute;
top:380.5px;
left:4150.59px;
}
.s_1_Chapter_17-1_152
{
position:absolute;
top:380.5px;
left:5148.2px;
letter-spacing:-0.44px;
}
.s_1_Chapter_17-1_153
{
position:absolute;
top:380.5px;
left:6700.64px;
letter-spacing:-0.36px;
}
.s_1_Chapter_17-1_154
{
position:absolute;
top:837.19px;
left:0px;
letter-spacing:-1.08px;
}
.s_1_Chapter_17-1_155
{
position:absolute;
top:837.19px;
left:701.21px;
letter-spacing:-0.71px;
}
.s_1_Chapter_17-1_156
{
position:absolute;
top:837.19px;
left:1719.11px;
letter-spacing:-0.16px;
}
.s_1_Chapter_17-1_157
{
position:absolute;
top:837.19px;
left:3493.85px;
letter-spacing:-1.49px;
}
.s_1_Chapter_17-1_158
{
position:absolute;
top:837.19px;
left:4493.02px;
letter-spacing:-0.19px;
}
.s_1_Chapter_17-1_159
{
position:absolute;
top:837.19px;
left:5391.05px;
letter-spacing:-0.26px;
}
.s_1_Chapter_17-1_160
{
position:absolute;
top:1237.19px;
left:0px;
letter-spacing:-0.19px;
}
.s_1_Chapter_17-1_161
{
position:absolute;
top:1237.19px;
left:994.49px;
letter-spacing:-2.14px;
}
.s_1_Chapter_17-1_162
{
position:absolute;
top:1237.19px;
left:1725.59px;
letter-spacing:-2.71px;
}
.s_1_Chapter_17-1_163
{
position:absolute;
top:1237.19px;
left:3128.29px;
letter-spacing:-0.43px;
}
.s_1_Chapter_17-1_164
{
position:absolute;
top:1237.19px;
left:4702.06px;
}
.s_1_Chapter_17-1_165
{
position:absolute;
top:1237.19px;
left:5655.72px;
}
.s_1_Chapter_17-1_166
{
position:absolute;
top:41.44px;
left:134.15px;
}
.s_1_Chapter_17-1_167
{
position:absolute;
top:58.88px;
left:0px;
letter-spacing:-7.92px;
}
.s_1_Chapter_17-1_168
{
position:absolute;
top:213.6px;
left:305.76px;
}
.s_1_Chapter_17-1_169
{
position:absolute;
top:213.6px;
left:453.54px;
letter-spacing:0px;
}
.s_1_Chapter_17-1_170
{
position:absolute;
top:213.6px;
left:1337.01px;
}
.s_1_Chapter_17-1_171
{
position:absolute;
top:213.6px;
left:1758.72px;
letter-spacing:-0.39px;
}
.s_1_Chapter_17-1_172
{
position:absolute;
top:213.6px;
left:2618.27px;
letter-spacing:-1.34px;
}
.s_1_Chapter_17-1_173
{
position:absolute;
top:213.6px;
left:3488.48px;
}
.s_1_Chapter_17-1_174
{
position:absolute;
top:213.6px;
left:3778.89px;
}
.s_1_Chapter_17-1_175
{
position:absolute;
top:213.6px;
left:4270.55px;
letter-spacing:-1.98px;
}
.s_1_Chapter_17-1_176
{
position:absolute;
top:213.6px;
left:4838.12px;
letter-spacing:-0.26px;
}
.s_1_Chapter_17-1_177
{
position:absolute;
top:213.6px;
left:6112.1px;
letter-spacing:0px;
}
.s_1_Chapter_17-1_178
{
position:absolute;
top:213.6px;
left:6821.89px;
letter-spacing:0px;
}
.s_1_Chapter_17-1_179
{
position:absolute;
top:213.6px;
left:7496.32px;
letter-spacing:0px;
}
.s_1_Chapter_17-1_180
{
position:absolute;
top:213.6px;
left:8269.02px;
letter-spacing:-1.15px;
}
.s_1_Chapter_17-1_181
{
position:absolute;
top:-12.32px;
left:0px;
}
.s_1_Chapter_17-1_182
{
position:absolute;
top:-12.32px;
left:420.83px;
letter-spacing:-5.11px;
}
.s_1_Chapter_17-1_183
{
position:absolute;
top:-12.32px;
left:971.57px;
letter-spacing:-6.86px;
}
.s_1_Chapter_17-1_184
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-1.72px;
}
.s_1_Chapter_17-1_185
{
position:absolute;
top:-19.5px;
left:1128.9px;
letter-spacing:-0.9px;
}
.s_1_Chapter_17-1_186
{
position:absolute;
top:-19.5px;
left:2020.95px;
}
.s_1_Chapter_17-1_187
{
position:absolute;
top:-19.5px;
left:2373.24px;
}
.s_1_Chapter_17-1_188
{
position:absolute;
top:-19.5px;
left:3045.33px;
letter-spacing:-0.35px;
}
.s_1_Chapter_17-1_189
{
position:absolute;
top:380.5px;
left:0px;
}
.s_1_Chapter_17-1_190
{
position:absolute;
top:380.5px;
left:454.21px;
letter-spacing:-0.22px;
}
.s_1_Chapter_17-1_191
{
position:absolute;
top:380.5px;
left:1263.32px;
letter-spacing:-1.69px;
}
.s_1_Chapter_17-1_192
{
position:absolute;
top:380.5px;
left:2156.93px;
letter-spacing:-2.68px;
}
.s_1_Chapter_17-1_193
{
position:absolute;
top:380.5px;
left:2460.87px;
letter-spacing:-0.35px;
}
.s_1_Chapter_17-1_194
{
position:absolute;
top:380.5px;
left:3476.42px;
letter-spacing:-0.71px;
}
.s_1_Chapter_17-1_195
{
position:absolute;
top:780.5px;
left:0px;
}
.s_1_Chapter_17-1_196
{
position:absolute;
top:780.5px;
left:454.21px;
letter-spacing:-0.5px;
}
.s_1_Chapter_17-1_197
{
position:absolute;
top:780.5px;
left:1936.19px;
letter-spacing:-2.68px;
}
.s_1_Chapter_17-1_198
{
position:absolute;
top:780.5px;
left:2240.12px;
letter-spacing:-1.14px;
}
.s_1_Chapter_17-1_199
{
position:absolute;
top:780.5px;
left:2736.98px;
}
.s_1_Chapter_17-1_200
{
position:absolute;
top:780.5px;
left:3089.27px;
}
.s_1_Chapter_17-1_201
{
position:absolute;
top:1180.5px;
left:0px;
letter-spacing:-0.95px;
}
.s_1_Chapter_17-1_202
{
position:absolute;
top:1180.5px;
left:386.1px;
letter-spacing:-0.71px;
}
.s_1_Chapter_17-1_203
{
position:absolute;
top:1180.5px;
left:930.01px;
}
.s_1_Chapter_17-1_204
{
position:absolute;
top:1180.5px;
left:1384.22px;
letter-spacing:-1.25px;
}
.s_1_Chapter_17-1_205
{
position:absolute;
top:1580.5px;
left:0px;
letter-spacing:-1.51px;
}
.s_1_Chapter_17-1_206
{
position:absolute;
top:1580.5px;
left:1091.98px;
}
.s_1_Chapter_17-1_207
{
position:absolute;
top:1580.5px;
left:1405.53px;
letter-spacing:-2.44px;
}
.s_1_Chapter_17-1_208
{
position:absolute;
top:1980.5px;
left:0px;
letter-spacing:-5.93px;
}
.s_1_Chapter_17-1_209
{
position:absolute;
top:1980.5px;
left:549.11px;
letter-spacing:-1.14px;
}
.s_1_Chapter_17-1_210
{
position:absolute;
top:1980.5px;
left:1400.34px;
letter-spacing:-2.6px;
}
.s_1_Chapter_17-1_211
{
position:absolute;
top:2380.5px;
left:0px;
letter-spacing:-0.47px;
}
.s_1_Chapter_17-1_212
{
position:absolute;
top:2380.5px;
left:607.61px;
letter-spacing:-1.08px;
}
.s_1_Chapter_17-1_213
{
position:absolute;
top:2380.5px;
left:1242.52px;
}
.s_1_Chapter_17-1_214
{
position:absolute;
top:2780.5px;
left:0px;
letter-spacing:-0.17px;
}
.s_1_Chapter_17-1_215
{
position:absolute;
top:-14.08px;
left:0px;
letter-spacing:-3.89px;
}
.s_1_Chapter_17-1_216
{
position:absolute;
top:-14.08px;
left:843.18px;
letter-spacing:-4.67px;
}
.s_1_Chapter_17-1_217
{
position:absolute;
top:-14.08px;
left:1635.81px;
letter-spacing:-3.89px;
}
.s_1_Chapter_17-1_218
{
position:absolute;
top:-19.5px;
left:0px;
}
.s_1_Chapter_17-1_219
{
position:absolute;
top:-19.5px;
left:396.85px;
letter-spacing:-0.52px;
}
.s_1_Chapter_17-1_220
{
position:absolute;
top:-19.5px;
left:995.88px;
letter-spacing:0px;
}
.s_1_Chapter_17-1_221
{
position:absolute;
top:-19.5px;
left:1477.4px;
letter-spacing:-0.78px;
}
.s_1_Chapter_17-1_222
{
position:absolute;
top:-19.5px;
left:2046.79px;
}
.s_1_Chapter_17-1_223
{
position:absolute;
top:-19.5px;
left:2501px;
letter-spacing:0px;
}
.s_1_Chapter_17-1_224
{
position:absolute;
top:-19.5px;
left:3051.15px;
letter-spacing:-2.56px;
}
.s_1_Chapter_17-1_225
{
position:absolute;
top:380.5px;
left:396.85px;
}
.s_1_Chapter_17-1_226
{
position:absolute;
top:380.5px;
left:1298.52px;
}
.s_1_Chapter_17-1_227
{
position:absolute;
top:380.5px;
left:2688.98px;
}
.s_1_Chapter_17-1_228
{
position:absolute;
top:780.5px;
left:396.85px;
letter-spacing:-2.6px;
}
.s_1_Chapter_17-1_229
{
position:absolute;
top:780.5px;
left:802.18px;
letter-spacing:-3.25px;
}
.s_1_Chapter_17-1_230
{
position:absolute;
top:780.5px;
left:1009.66px;
letter-spacing:-2.52px;
}
.s_1_Chapter_17-1_231
{
position:absolute;
top:780.5px;
left:1846.33px;
letter-spacing:-0.22px;
}
.s_1_Chapter_17-1_232
{
position:absolute;
top:780.5px;
left:2651.01px;
letter-spacing:-1.35px;
}
.s_1_Chapter_17-1_233
{
position:absolute;
top:1237.19px;
left:793.7px;
letter-spacing:-1.73px;
}
.s_1_Chapter_17-1_234
{
position:absolute;
top:1237.19px;
left:1565.63px;
letter-spacing:-4.27px;
}
.s_1_Chapter_17-1_235
{
position:absolute;
top:1693.88px;
left:793.7px;
letter-spacing:-0.84px;
}
.s_1_Chapter_17-1_236
{
position:absolute;
top:1693.88px;
left:1304.08px;
letter-spacing:-2.34px;
}
.s_1_Chapter_17-1_237
{
position:absolute;
top:2150.58px;
left:793.7px;
letter-spacing:-1.95px;
}
.s_1_Chapter_17-1_238
{
position:absolute;
top:2150.58px;
left:1822.25px;
letter-spacing:-0.78px;
}
.s_1_Chapter_17-1_239
{
position:absolute;
top:-19.5px;
left:204.18px;
letter-spacing:-1.69px;
}
.s_1_Chapter_17-1_240
{
position:absolute;
top:-19.5px;
left:0px;
}
.s_1_Chapter_17-1_241
{
position:absolute;
top:-19.5px;
left:396.85px;
letter-spacing:-0.52px;
}
.s_1_Chapter_17-1_242
{
position:absolute;
top:-19.5px;
left:990.94px;
letter-spacing:-0.71px;
}
.s_1_Chapter_17-1_243
{
position:absolute;
top:-19.5px;
left:1534.86px;
}
.s_1_Chapter_17-1_244
{
position:absolute;
top:-19.5px;
left:1989.07px;
letter-spacing:0px;
}
.s_1_Chapter_17-1_245
{
position:absolute;
top:380.5px;
left:396.85px;
letter-spacing:-0.54px;
}
.s_1_Chapter_17-1_246
{
position:absolute;
top:380.5px;
left:1919.39px;
letter-spacing:-2.6px;
}
.s_1_Chapter_17-1_247
{
position:absolute;
top:380.5px;
left:2320.3px;
}
.s_1_Chapter_17-1_248
{
position:absolute;
top:380.5px;
left:2774.51px;
}
.s_1_Chapter_17-1_249
{
position:absolute;
top:384.99px;
left:3048.81px;
}
.s_1_Chapter_17-1_250
{
position:absolute;
top:380.5px;
left:3188.56px;
}
.s_1_Chapter_17-1_251
{
position:absolute;
top:380.5px;
left:3259.28px;
letter-spacing:-0.32px;
}
.s_1_Chapter_17-1_252
{
position:absolute;
top:780.5px;
left:396.85px;
}
.s_1_Chapter_17-1_253
{
position:absolute;
top:780.5px;
left:1293.84px;
letter-spacing:-2.68px;
}
.s_1_Chapter_17-1_254
{
position:absolute;
top:780.5px;
left:1597.78px;
letter-spacing:-1.6px;
}
.s_1_Chapter_17-1_255
{
position:absolute;
top:1237.19px;
left:793.7px;
letter-spacing:-1.08px;
}
.s_1_Chapter_17-1_256
{
position:absolute;
top:1237.19px;
left:1494.91px;
letter-spacing:-1.08px;
}
.s_1_Chapter_17-1_257
{
position:absolute;
top:1693.88px;
left:793.7px;
letter-spacing:-1.08px;
}
.s_1_Chapter_17-1_258
{
position:absolute;
top:1693.88px;
left:1494.91px;
letter-spacing:-0.82px;
}
.s_1_Chapter_17-1_259
{
position:absolute;
top:2150.58px;
left:793.7px;
}
.s_1_Chapter_17-1_260
{
position:absolute;
top:2150.58px;
left:1629.07px;
letter-spacing:-4.19px;
}
.s_1_Chapter_17-1_261
{
position:absolute;
top:-19.5px;
left:166.22px;
}
.s_1_Chapter_17-1_262
{
position:absolute;
top:-19.5px;
left:0px;
}
.s_1_Chapter_17-1_263
{
position:absolute;
top:-19.5px;
left:396.85px;
letter-spacing:-0.52px;
}
.s_1_Chapter_17-1_264
{
position:absolute;
top:-19.5px;
left:990.94px;
letter-spacing:-0.71px;
}
.s_1_Chapter_17-1_265
{
position:absolute;
top:-19.5px;
left:1534.86px;
}
.s_1_Chapter_17-1_266
{
position:absolute;
top:-19.5px;
left:1985.43px;
text-rendering:optimizeLegibility;
letter-spacing:-0.26px;
}
.s_1_Chapter_17-1_267
{
position:absolute;
top:-19.5px;
left:2524.66px;
letter-spacing:-0.22px;
}
.s_1_Chapter_17-1_268
{
position:absolute;
top:-19.5px;
left:3409.42px;
}
.s_1_Chapter_17-1_269
{
position:absolute;
top:-19.5px;
left:3722.97px;
letter-spacing:-1.82px;
}
.s_1_Chapter_17-1_270
{
position:absolute;
top:380.5px;
left:396.85px;
letter-spacing:-1.17px;
}
.s_1_Chapter_17-1_271
{
position:absolute;
top:380.5px;
left:1087.14px;
}
.s_1_Chapter_17-1_272
{
position:absolute;
top:380.5px;
left:1615.18px;
letter-spacing:-0.44px;
}
.s_1_Chapter_17-1_273
{
position:absolute;
top:380.5px;
left:2777.37px;
}
.s_1_Chapter_17-1_274
{
position:absolute;
top:380.5px;
left:3054px;
}
.s_1_Chapter_17-1_275
{
position:absolute;
top:380.5px;
left:3453.36px;
text-rendering:optimizeLegibility;
letter-spacing:-0.26px;
}
.s_1_Chapter_17-1_276
{
position:absolute;
top:780.5px;
left:396.85px;
}
.s_1_Chapter_17-1_277
{
position:absolute;
top:780.5px;
left:1302.42px;
}
.s_1_Chapter_17-1_278
{
position:absolute;
top:780.5px;
left:1642.75px;
letter-spacing:-3.25px;
}
.s_1_Chapter_17-1_279
{
position:absolute;
top:780.5px;
left:1850.23px;
letter-spacing:-1.2px;
}
.s_1_Chapter_17-1_280
{
position:absolute;
top:1237.19px;
left:793.7px;
}
.s_1_Chapter_17-1_281
{
position:absolute;
top:1237.19px;
left:1240.9px;
letter-spacing:-0.26px;
}
.s_1_Chapter_17-1_282
{
position:absolute;
top:1693.88px;
left:793.7px;
}
.s_1_Chapter_17-1_283
{
position:absolute;
top:1693.88px;
left:1422.11px;
letter-spacing:-1px;
}
.s_1_Chapter_17-1_284
{
position:absolute;
top:2150.58px;
left:793.7px;
letter-spacing:-2.04px;
}
.s_1_Chapter_17-1_285
{
position:absolute;
top:2150.58px;
left:1510.77px;
letter-spacing:-0.31px;
}
.s_1_Chapter_17-1_286
{
position:absolute;
top:-19.5px;
left:164.27px;
letter-spacing:-2.08px;
}
.s_1_Chapter_17-1_287
{
position:absolute;
top:-19.5px;
left:0px;
}
.s_1_Chapter_17-1_288
{
position:absolute;
top:-19.5px;
left:396.85px;
letter-spacing:-0.35px;
}
.s_1_Chapter_17-1_289
{
position:absolute;
top:-19.5px;
left:1184.64px;
letter-spacing:-1.33px;
}
.s_1_Chapter_17-1_290
{
position:absolute;
top:-19.5px;
left:2155.73px;
letter-spacing:0px;
}
.s_1_Chapter_17-1_291
{
position:absolute;
top:-19.5px;
left:3032.17px;
}
.s_1_Chapter_17-1_292
{
position:absolute;
top:-19.5px;
left:3486.39px;
}
.s_1_Chapter_17-1_293
{
position:absolute;
top:380.5px;
left:396.85px;
letter-spacing:-4.68px;
}
.s_1_Chapter_17-1_294
{
position:absolute;
top:380.5px;
left:953.24px;
letter-spacing:-0.36px;
}
.s_1_Chapter_17-1_295
{
position:absolute;
top:380.5px;
left:1494.3px;
letter-spacing:-1.78px;
}
.s_1_Chapter_17-1_296
{
position:absolute;
top:380.5px;
left:2253.23px;
letter-spacing:-3.18px;
}
.s_1_Chapter_17-1_297
{
position:absolute;
top:837.19px;
left:793.7px;
letter-spacing:-2.3px;
}
.s_1_Chapter_17-1_298
{
position:absolute;
top:1293.88px;
left:793.7px;
letter-spacing:-1.08px;
}
.s_1_Chapter_17-1_299
{
position:absolute;
top:1750.58px;
left:793.7px;
letter-spacing:-0.39px;
}
.s_1_Chapter_17-1_300
{
position:absolute;
top:1750.58px;
left:1170.95px;
letter-spacing:-1.72px;
}
.s_1_Chapter_17-1_301
{
position:absolute;
top:-19.5px;
left:167.78px;
letter-spacing:-2.08px;
}
.s_1_Chapter_17-1_302
{
position:absolute;
top:-19.5px;
left:0px;
}
.s_1_Chapter_17-1_303
{
position:absolute;
top:-19.5px;
left:396.85px;
}
.s_1_Chapter_17-1_304
{
position:absolute;
top:-19.5px;
left:679.21px;
letter-spacing:0px;
}
.s_1_Chapter_17-1_305
{
position:absolute;
top:-19.5px;
left:1444.9px;
}
.s_1_Chapter_17-1_306
{
position:absolute;
top:-19.5px;
left:2232.43px;
letter-spacing:-1.25px;
}
.s_1_Chapter_17-1_307
{
position:absolute;
top:-19.5px;
left:2717.06px;
letter-spacing:-2.03px;
}
.s_1_Chapter_17-1_308
{
position:absolute;
top:-19.5px;
left:3375.37px;
}
.s_1_Chapter_17-1_309
{
position:absolute;
top:-19.5px;
left:3829.58px;
}
.s_1_Chapter_17-1_310
{
position:absolute;
top:380.5px;
left:396.85px;
}
.s_1_Chapter_17-1_311
{
position:absolute;
top:380.5px;
left:1097.28px;
letter-spacing:-0.83px;
}
.s_1_Chapter_17-1_312
{
position:absolute;
top:380.5px;
left:2176.78px;
}
.s_1_Chapter_17-1_313
{
position:absolute;
top:780.5px;
left:396.85px;
}
.s_1_Chapter_17-1_314
{
position:absolute;
top:1237.19px;
left:793.7px;
}
.s_1_Chapter_17-1_315
{
position:absolute;
top:1693.88px;
left:793.7px;
letter-spacing:-1.06px;
}
.s_1_Chapter_17-1_316
{
position:absolute;
top:2150.58px;
left:793.7px;
letter-spacing:-1.43px;
}
.s_1_Chapter_17-1_317
{
position:absolute;
top:2150.58px;
left:1398.72px;
}
.s_1_Chapter_17-1_318
{
position:absolute;
top:-19.5px;
left:166.48px;
letter-spacing:-1.3px;
}
.s_1_Chapter_17-1_319
{
position:absolute;
top:-19.5px;
left:0px;
}
.s_1_Chapter_17-1_320
{
position:absolute;
top:-19.5px;
left:396.85px;
letter-spacing:-0.52px;
}
.s_1_Chapter_17-1_321
{
position:absolute;
top:-19.5px;
left:990.94px;
letter-spacing:-0.78px;
}
.s_1_Chapter_17-1_322
{
position:absolute;
top:-19.5px;
left:1560.34px;
}
.s_1_Chapter_17-1_323
{
position:absolute;
top:-19.5px;
left:2014.55px;
}
.s_1_Chapter_17-1_324
{
position:absolute;
top:-19.5px;
left:2564.69px;
letter-spacing:-2.76px;
}
.s_1_Chapter_17-1_325
{
position:absolute;
top:-19.5px;
left:3694.65px;
letter-spacing:-1.78px;
}
.s_1_Chapter_17-1_326
{
position:absolute;
top:380.5px;
left:396.85px;
}
.s_1_Chapter_17-1_327
{
position:absolute;
top:380.5px;
left:1176.84px;
letter-spacing:-0.68px;
}
.s_1_Chapter_17-1_328
{
position:absolute;
top:837.19px;
left:793.7px;
letter-spacing:-1.89px;
}
.s_1_Chapter_17-1_329
{
position:absolute;
top:837.19px;
left:1672.75px;
letter-spacing:-0.46px;
}
.s_1_Chapter_17-1_330
{
position:absolute;
top:1293.88px;
left:793.7px;
letter-spacing:-0.71px;
}
.s_1_Chapter_17-1_331
{
position:absolute;
top:1293.88px;
left:1327.48px;
}
.s_1_Chapter_17-1_332
{
position:absolute;
top:1750.58px;
left:793.7px;
letter-spacing:-6.82px;
}
.s_1_Chapter_17-1_333
{
position:absolute;
top:1750.58px;
left:1270.79px;
}
.s_1_Chapter_17-1_334
{
position:absolute;
top:-19.5px;
left:161.8px;
letter-spacing:-2.08px;
}
.s_1_Chapter_17-1_335
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-2.6px;
}
.s_1_Chapter_17-1_336
{
position:absolute;
top:-19.5px;
left:225.42px;
letter-spacing:-1.14px;
}
.s_1_Chapter_17-1_337
{
position:absolute;
top:-19.5px;
left:782.85px;
}
.s_1_Chapter_17-1_338
{
position:absolute;
top:-19.5px;
left:1704.79px;
letter-spacing:-1.45px;
}
.s_1_Chapter_17-1_339
{
position:absolute;
top:-19.5px;
left:2550.04px;
letter-spacing:-2.08px;
}
.s_1_Chapter_17-1_340
{
position:absolute;
top:-19.5px;
left:3102.01px;
}
.s_1_Chapter_17-1_341
{
position:absolute;
top:380.5px;
left:0px;
}
.s_1_Chapter_17-1_342
{
position:absolute;
top:380.5px;
left:271.7px;
}
.s_1_Chapter_17-1_343
{
position:absolute;
top:380.5px;
left:1037.39px;
}
.s_1_Chapter_17-1_344
{
position:absolute;
top:380.5px;
left:1398px;
}
.s_1_Chapter_17-1_345
{
position:absolute;
top:380.5px;
left:2131.45px;
letter-spacing:-1.61px;
}
.s_1_Chapter_17-1_346
{
position:absolute;
top:380.5px;
left:2649.62px;
letter-spacing:-2.01px;
}
.s_1_Chapter_17-1_347
{
position:absolute;
top:380.5px;
left:3087.45px;
letter-spacing:-0.84px;
}
.s_1_Chapter_17-1_348
{
position:absolute;
top:380.5px;
left:3431.17px;
}
.s_1_Chapter_17-1_349
{
position:absolute;
top:837.19px;
left:0px;
}
.s_1_Chapter_17-1_350
{
position:absolute;
top:837.19px;
left:353.33px;
}
.s_1_Chapter_17-1_351
{
position:absolute;
top:837.19px;
left:946.9px;
letter-spacing:-1.62px;
}
.s_1_Chapter_17-1_352
{
position:absolute;
top:837.19px;
left:2488.67px;
letter-spacing:-0.78px;
}
.s_1_Chapter_17-1_353
{
position:absolute;
top:837.19px;
left:3062.48px;
letter-spacing:-1.82px;
}
.s_1_Chapter_17-1_354
{
position:absolute;
top:1237.19px;
left:0px;
}
.s_1_Chapter_17-1_355
{
position:absolute;
top:1237.19px;
left:593.57px;
}
.s_1_Chapter_17-1_356
{
position:absolute;
top:1237.19px;
left:1443.5px;
}
.s_1_Chapter_17-1_357
{
position:absolute;
top:1237.19px;
left:1804.11px;
letter-spacing:-1.82px;
}
.s_1_Chapter_17-1_358
{
position:absolute;
top:1237.19px;
left:2505.59px;
}
.s_1_Chapter_17-1_359
{
position:absolute;
top:1237.19px;
left:2777.8px;
}
.s_1_Chapter_17-1_360
{
position:absolute;
top:1237.19px;
left:3228.37px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_17-1_361
{
position:absolute;
top:1637.19px;
left:0px;
}
.s_1_Chapter_17-1_362
{
position:absolute;
top:1637.19px;
left:805.99px;
}
.s_1_Chapter_17-1_363
{
position:absolute;
top:1637.19px;
left:1119.54px;
}
.s_1_Chapter_17-1_364
{
position:absolute;
top:1637.19px;
left:1578.17px;
}
.s_1_Chapter_17-1_365
{
position:absolute;
top:1637.19px;
left:1938.26px;
letter-spacing:-1.27px;
}
.s_1_Chapter_17-1_366
{
position:absolute;
top:1637.19px;
left:2960.05px;
letter-spacing:-2.68px;
}
.s_1_Chapter_17-1_367
{
position:absolute;
top:1637.19px;
left:3263.99px;
}
.s_1_Chapter_17-1_368
{
position:absolute;
top:2037.19px;
left:0px;
}

#text1 {
	position:absolute;
	top: 611px;
	left: 76px;
}
#text2 {
	position:absolute;
	top: 611px;
	left: 145px;
}
#text3 {
	position:absolute;
	top: 611px;
	left: 149px;
}
#text4 {
	position:absolute;
	top: 611px;
	left: 205px;
}
#text5 {
	position:absolute;
	top: 612px;
	left: 300px;
}
#text6 {
	position:absolute;
	top: 612px;
	left: 307px;
}
#text7 {
	position:absolute;
	top: 611px;
	left: 368px;
}
#text8 {
	position:absolute;
	top: 611px;
	left: 436px;
}
#text9 {
	position:absolute;
	top: 611px;
	left: 443px;
}
#text10 {
	position:absolute;
	top: 631px;
	left: 76px;
}
#text11 {
	position:absolute;
	top: 631px;
	left: 187px;
}
#text12 {
	position:absolute;
	top: 631px;
	left: 195px;
}
#text13 {
	position:absolute;
	top: 631px;
	left: 284px;
}
#text14 {
	position:absolute;
	top: 631px;
	left: 405px;
}
#text15 {
	position:absolute;
	top: 631px;
	left: 411px;
}
#text16 {
	position:absolute;
	top: 654px;
	left: 76px;
}
#text17 {
	position:absolute;
	top: 653px;
	left: 156px;
}
#text18 {
	position:absolute;
	top: 654px;
	left: 162px;
}
#text19 {
	position:absolute;
	top: 654px;
	left: 251px;
}
#text20 {
	position:absolute;
	top: 654px;
	left: 339px;
}
#text21 {
	position:absolute;
	top: 654px;
	left: 346px;
}
#text22 {
	position:absolute;
	top: 674px;
	left: 76px;
}
#text23 {
	position:absolute;
	top: 674px;
	left: 156px;
}
#text24 {
	position:absolute;
	top: 674px;
	left: 162px;
}
#text25 {
	position:absolute;
	top: 674px;
	left: 232px;
}
#text26 {
	position:absolute;
	top: 674px;
	left: 349px;
}
#text27 {
	position:absolute;
	top: 674px;
	left: 359px;
}



#box1 {
	position:absolute;
	top: 406px;
	left: 284px;
	width: 87px;
	/*border: 1px solid red;*/
}
#box3 {
	position:absolute;
	top: 429px;
	left: 284px;
	width: 87px;
	/*border: 1px solid red;*/
}
#box4 {
	position:absolute;
	top: 529px;
	left: 121px;
	width: 97px;
	/*border: 1px solid red;*/
}
#box6 {
	position:absolute;
	top: 551px;
	left: 120px;
	width: 87px;
	/*border: 1px solid red;*/
}
#box7 {
	position:absolute;
	top: 282px;
	left: 120px;
	width: 87px;
	/*border: 1px solid red;*/
}
#box9 {
	position:absolute;
	top: 305px;
	left: 120px;
	width: 87px;
	/*border: 1px solid red;*/
}
#box10 {
	position:absolute;
	top: 529px;
	left: 283px;
	width: 118px;
	/*border: 1px solid red;*/
}
#box12 {
	position:absolute;
	top: 551px;
	left: 282px;
	width: 87px;
	/*border: 1px solid red;*/
}
#box13 {
	position:absolute;
	top: 407px;
	left: 117px;
	width: 127px;
	/*border: 1px solid red;*/
}
#box15 {
	position:absolute;
	top: 429px;
	left: 118px;
	width: 87px;
	/*border: 1px solid red;*/
}
#box16 {
	position:absolute;
	top: 528px;
	left: 447px;
	width: 87px;
	/*border: 1px solid red;*/
}
#box18 {
	position:absolute;
	top: 551px;
	left: 446px;
	width: 87px;
	/*border: 1px solid red;*/
}
#box19 {
	position:absolute;
	top: 282px;
	left: 446px;
	width: 100px;
	/*border: 1px solid red;*/
}
#box21 {
	position:absolute;
	top: 304px;
	left: 446px;
	width: 87px;
	/*border: 1px solid red;*/
}
#box22 {
	position:absolute;
	top: 407px;
	left: 446px;
	width: 87px;
	/*border: 1px solid red;*/
}
#box24 {
	position:absolute;
	top: 429px;
	left: 445px;
	width: 87px;
	/*border: 1px solid red;*/
}

#box25 {
	position:absolute;
	top: 282px;
	left: 282px;
	width: 118px;
	/*border: 1px solid red;*/
}
#box27 {
	position:absolute;
	top: 304px;
	left: 282px;
	width: 87px;
	/*border: 1px solid red;*/
}

.p60_input_text1 {
	display: none;
	text-align: center;
	font-family: "Cabrito_Sans_Norm_Book";
	font-size: 13px;
	margin-top: 2px;
	line-height: 15px;
}
.page60_btn1 {
	position:absolute;
	top: 801px;
	left: 290px;
}
.text_p60 {
    font-family: "Cabrito_Sans_Norm_Book";
    font-weight: normal;
    font-style: normal;
    font-size: 13px;
    cursor: pointer;
    white-space : nowrap;
    line-height: 27px;
}

.page61_pos1 {
	position:absolute;
	top: 151px;
	left: 79px;
}
.page61_pos2 {
	position:absolute;
	top: 173px;
	left: 79px;
}
.page61_pos3 {
	position:absolute;
	top: 196px;
	left: 79px;
}
.page61_pos4 {
	position:absolute;
	top: 150px;
	left: 327px;
}
.page61_pos5 {
	position:absolute;
	top: 172px;
	left: 327px;
}
.page61_pos6 {
	position:absolute;
	top: 195px;
	left: 327px;
}
.page61_pos7 {
	position:absolute;
	top: 329px;
	left: 79px;
}
.page61_pos8 {
	position:absolute;
	top: 350px;
	left: 79px;
}
.page61_pos9 {
	position:absolute;
	top: 374px;
	left: 79px;
}
.page61_pos10 {
	position:absolute;
	top: 329px;
	left: 327px;
}
.page61_pos11 {
	position:absolute;
	top: 351px;
	left: 327px;
}
.page61_pos12 {
	position:absolute;
	top: 374px;
	left: 327px;
}
.page61_pos13 {
	position:absolute;
	top: 487px;
	left: 79px;
}
.page61_pos14 {
	position:absolute;
	top: 510px;
	left: 79px;
}
.page61_pos15 {
	position:absolute;
	top: 533px;
	left: 79px;
}
.page61_pos16 {
	position:absolute;
	top: 488px;
	left: 327px;
}
.page61_pos17 {
	position:absolute;
	top: 510px;
	left: 327px;
}
.page61_pos18 {
	position:absolute;
	top: 533px;
	left: 327px;
}
.page61_btn1 {
	position:absolute;
	top: 802px;
	left: 282px;
}
.page61_btn2 {
	position:absolute;
	top: 802px;
	left: 227px;
}
