.d_page52-53_1
{
position:absolute;overflow:hidden;left:0px;top:0px;-webkit-transform:translate(0.00px,0.00px);-ms-transform:translate(0.00px,0.00px);transform:translate(0.00px,0.00px);width:612.28px;height:841.89px
}
.d_page52-53_2
{
width:560.18px;height:401.47px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
}
.d_page52-53_3
{
width:9830.04px;height:872px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_page52-53_4
{
width:8257.72px;height:432px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_page52-53_5
{
width:346.79px;height:274.17px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.26px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.26px) rotate(0deg) scale(0.05);
}
.d_page52-53_6
{
width:346.79px;height:274.17px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.26px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.26px) rotate(0deg) scale(0.05);
}
.d_page52-53_7
{
width:346.79px;height:274.17px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.26px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.26px) rotate(0deg) scale(0.05);
}
.d_page52-53_8
{
width:346.79px;height:274.17px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.26px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.26px) rotate(0deg) scale(0.05);
}
.d_page52-53_9
{
width:346.79px;height:274.17px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.26px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.26px) rotate(0deg) scale(0.05);
}
.d_page52-53_10
{
width:1884.76px;height:288px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
}
.d_page52-53_11
{
width:6704.72px;height:2278.9px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page52-53_12
{
width:289.2px;height:459px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
}
.d_page52-53_13
{
width:289.2px;height:459px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
}
.d_page52-53_14
{
width:289.2px;height:459px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
}
.d_page52-53_15
{
width:289.2px;height:459px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
}
.d_page52-53_16
{
width:289.2px;height:459px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
}
.d_page52-53_17
{
width:289.2px;height:459px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
}
.d_page52-53_18
{
width:289.2px;height:459px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
}
.d_page52-53_19
{
width:289.2px;height:459px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
}
.d_page52-53_20
{
width:289.2px;height:459px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
}
.d_page52-53_21
{
width:289.2px;height:459px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
}
.d_page52-53_22
{
width:289.2px;height:459px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
}
.d_page52-53_23
{
width:289.2px;height:459px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
}
.d_page52-53_24
{
width:289.2px;height:459px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
}
.d_page52-53_25
{
width:289.2px;height:459px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
}
.d_page52-53_26
{
width:289.2px;height:459px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
}
.d_page52-53_27
{
width:310.51px;height:214.2px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page52-53_28
{
width:166.04px;height:214.2px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page52-53_29
{
width:200.48px;height:214.2px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page52-53_30
{
width:872.75px;height:214.2px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page52-53_31
{
width:715.43px;height:231.78px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page52-53_32
{
width:147.28px;height:214.2px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page52-53_33
{
width:290.36px;height:214.2px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page52-53_34
{
width:549.63px;height:214.2px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page52-53_35
{
width:1935.34px;height:214.2px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page52-53_36
{
width:346.79px;height:274.17px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.26px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.26px) rotate(0deg) scale(0.05);
}
.d_page52-53_37
{
width:2276.97px;height:286.45px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page52-53_38
{
width:2607.06px;height:214.2px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page52-53_39
{
width:346.79px;height:274.17px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.26px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.26px) rotate(0deg) scale(0.05);
}
.d_page52-53_40
{
width:2072.82px;height:214.2px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page52-53_41
{
width:2433.46px;height:214.2px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page52-53_42
{
width:346.79px;height:274.17px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.26px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.26px) rotate(0deg) scale(0.05);
}
.d_page52-53_43
{
width:2492.65px;height:317.85px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page52-53_44
{
width:2742.86px;height:214.2px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page52-53_45
{
width:346.79px;height:274.17px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.26px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.26px) rotate(0deg) scale(0.05);
}
.d_page52-53_46
{
width:1378.42px;height:214.2px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page52-53_47
{
position:absolute;overflow:hidden;left:0px;top:0px;-webkit-transform:translate(612.28px,0.00px);-ms-transform:translate(612.28px,0.00px);transform:translate(612.28px,0.00px);width:595.28px;height:841.89px
}
.d_page52-53_48
{
width:560.18px;height:401.47px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
}
.d_page52-53_49
{
width:9671.47px;height:832px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_page52-53_50
{
width:8108.1px;height:997.12px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,10.86px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
}
.d_page52-53_51
{
width:4320.94px;height:1867.98px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page52-53_52
{
width:3834.89px;height:2598.9px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page52-53_53
{
width:6479.69px;height:1478.35px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page52-53_54
{
width:4320.94px;height:1798.9px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page52-53_55
{
width:3576.85px;height:2602.2px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page52-53_56
{
width:4320.94px;height:1398.9px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page52-53_57
{
width:9245.69px;height:897.67px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page52-53_58
{
width:524.41px;height:253.2px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page52-53_59
{
width:3718.46px;height:3228.75px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page52-53_60
{
width:524.41px;height:253.2px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page52-53_61
{
width:524.41px;height:253.2px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page52-53_62
{
width:524.41px;height:253.2px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page52-53_63
{
width:524.41px;height:253.2px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page52-53_64
{
width:524.41px;height:253.2px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page52-53_65
{
width:524.41px;height:253.2px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.s_page52-53_66
{
position:absolute;top:41.44px;left:134.15px;
}
.s_page52-53_67
{
position:absolute;top:58.88px;left:0px;letter-spacing:-7.92px;
}
.s_page52-53_68
{
position:absolute;top:213.6px;left:329.76px;
}
.s_page52-53_69
{
position:absolute;top:196.8px;left:453.54px;letter-spacing:-1.03px;
}
.s_page52-53_70
{
position:absolute;top:196.8px;left:1441.09px;
}
.s_page52-53_71
{
position:absolute;top:196.8px;left:2167.4px;letter-spacing:0px;
}
.s_page52-53_72
{
position:absolute;top:196.8px;left:3016.9px;
}
.s_page52-53_73
{
position:absolute;top:196.8px;left:3376.7px;
}
.s_page52-53_74
{
position:absolute;top:196.8px;left:4321.68px;
}
.s_page52-53_75
{
position:absolute;top:196.8px;left:4828.47px;letter-spacing:0px;
}
.s_page52-53_76
{
position:absolute;top:196.8px;left:5631.21px;
}
.s_page52-53_77
{
position:absolute;top:196.8px;left:6219.48px;letter-spacing:0px;
}
.s_page52-53_78
{
position:absolute;top:196.8px;left:6673.64px;
}
.s_page52-53_79
{
position:absolute;top:196.8px;left:7242.59px;letter-spacing:-2.7px;
}
.s_page52-53_80
{
position:absolute;top:196.8px;left:7542.47px;letter-spacing:0px;
}
.s_page52-53_81
{
position:absolute;top:196.8px;left:7996.62px;letter-spacing:0px;
}
.s_page52-53_82
{
position:absolute;top:196.8px;left:9043.52px;
}
.s_page52-53_83
{
position:absolute;top:58.88px;left:0px;letter-spacing:-23.28px;
}
.s_page52-53_84
{
position:absolute;top:213.6px;left:286.08px;
}
.s_page52-53_85
{
position:absolute;top:196.8px;left:453.54px;letter-spacing:-0.56px;
}
.s_page52-53_86
{
position:absolute;top:196.8px;left:1278.98px;letter-spacing:0px;
}
.s_page52-53_87
{
position:absolute;top:196.8px;left:2005.29px;letter-spacing:-0.2px;
}
.s_page52-53_88
{
position:absolute;top:196.8px;left:2965.96px;
}
.s_page52-53_89
{
position:absolute;top:196.8px;left:4136.9px;
}
.s_page52-53_90
{
position:absolute;top:196.8px;left:4449.65px;
}
.s_page52-53_91
{
position:absolute;top:196.8px;left:4903.8px;letter-spacing:0px;
}
.s_page52-53_92
{
position:absolute;top:196.8px;left:5745.18px;letter-spacing:0px;
}
.s_page52-53_93
{
position:absolute;top:196.8px;left:6318.33px;
}
.s_page52-53_94
{
position:absolute;top:196.8px;left:7290.76px;
}
.s_page52-53_95
{
position:absolute;top:-17.9px;left:145.82px;
}
.s_page52-53_96
{
position:absolute;top:-17.9px;left:108.82px;
}
.s_page52-53_97
{
position:absolute;top:-17.9px;left:112.52px;
}
.s_page52-53_98
{
position:absolute;top:-17.9px;left:111.57px;
}
.s_page52-53_99
{
position:absolute;top:-17.9px;left:112.05px;
}
.s_page52-53_100
{
position:absolute;top:-12.32px;left:0px;
}
.s_page52-53_101
{
position:absolute;top:-12.32px;left:420.83px;letter-spacing:-5.11px;
}
.s_page52-53_102
{
position:absolute;top:-12.32px;left:971.57px;letter-spacing:-6.86px;
}
.s_page52-53_103
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-0.45px;
}
.s_page52-53_104
{
position:absolute;top:-19.5px;left:499.46px;
}
.s_page52-53_105
{
position:absolute;top:-19.5px;left:1452.34px;
}
.s_page52-53_106
{
position:absolute;top:-19.5px;left:2143.41px;letter-spacing:-1.94px;
}
.s_page52-53_107
{
position:absolute;top:-19.5px;left:3324.83px;letter-spacing:-2.17px;
}
.s_page52-53_108
{
position:absolute;top:-19.5px;left:3675.31px;
}
.s_page52-53_109
{
position:absolute;top:-19.5px;left:4296.18px;letter-spacing:-0.71px;
}
.s_page52-53_110
{
position:absolute;top:-19.5px;left:4844.52px;letter-spacing:0px;
}
.s_page52-53_111
{
position:absolute;top:-19.5px;left:5204.61px;
}
.s_page52-53_112
{
position:absolute;top:380.5px;left:0px;letter-spacing:-0.22px;
}
.s_page52-53_113
{
position:absolute;top:380.5px;left:749.31px;
}
.s_page52-53_114
{
position:absolute;top:380.5px;left:1722.46px;letter-spacing:-0.95px;
}
.s_page52-53_115
{
position:absolute;top:380.5px;left:2108.56px;letter-spacing:-0.52px;
}
.s_page52-53_116
{
position:absolute;top:380.5px;left:2893.75px;letter-spacing:-1.56px;
}
.s_page52-53_117
{
position:absolute;top:380.5px;left:3394.76px;
}
.s_page52-53_118
{
position:absolute;top:380.5px;left:4186.19px;letter-spacing:-1.3px;
}
.s_page52-53_119
{
position:absolute;top:380.5px;left:4840.33px;letter-spacing:0px;
}
.s_page52-53_120
{
position:absolute;top:380.5px;left:5351.49px;letter-spacing:0px;
}
.s_page52-53_121
{
position:absolute;top:380.5px;left:5781.52px;letter-spacing:0px;
}
.s_page52-53_122
{
position:absolute;top:780.5px;left:0px;letter-spacing:-1.17px;
}
.s_page52-53_123
{
position:absolute;top:780.5px;left:608.13px;letter-spacing:-0.95px;
}
.s_page52-53_124
{
position:absolute;top:780.5px;left:999.16px;
}
.s_page52-53_125
{
position:absolute;top:780.5px;left:1256.03px;letter-spacing:-0.92px;
}
.s_page52-53_126
{
position:absolute;top:780.5px;left:2299.14px;
}
.s_page52-53_127
{
position:absolute;top:780.5px;left:2612.69px;letter-spacing:-2.03px;
}
.s_page52-53_128
{
position:absolute;top:780.5px;left:3239.28px;
}
.s_page52-53_129
{
position:absolute;top:780.5px;left:3968.31px;
}
.s_page52-53_130
{
position:absolute;top:780.5px;left:4418.89px;text-rendering:optimizeLegibility;letter-spacing:-0.26px;
}
.s_page52-53_131
{
position:absolute;top:780.5px;left:4958.11px;letter-spacing:-0.49px;
}
.s_page52-53_132
{
position:absolute;top:780.5px;left:6116.13px;letter-spacing:-2.68px;
}
.s_page52-53_133
{
position:absolute;top:1180.5px;left:0px;
}
.s_page52-53_134
{
position:absolute;top:1180.5px;left:360.09px;letter-spacing:-1.49px;
}
.s_page52-53_135
{
position:absolute;top:1180.5px;left:725.39px;letter-spacing:-0.55px;
}
.s_page52-53_136
{
position:absolute;top:1180.5px;left:1604.96px;
}
.s_page52-53_137
{
position:absolute;top:1180.5px;left:2186.05px;letter-spacing:-2.56px;
}
.s_page52-53_138
{
position:absolute;top:1180.5px;left:2840.97px;letter-spacing:-0.78px;
}
.s_page52-53_139
{
position:absolute;top:1180.5px;left:4289.67px;letter-spacing:-1.63px;
}
.s_page52-53_140
{
position:absolute;top:-45px;left:0px;
}
.s_page52-53_141
{
position:absolute;top:-45px;left:0px;
}
.s_page52-53_142
{
position:absolute;top:-45px;left:0px;
}
.s_page52-53_143
{
position:absolute;top:-45px;left:0px;
}
.s_page52-53_144
{
position:absolute;top:-45px;left:0px;
}
.s_page52-53_145
{
position:absolute;top:-45px;left:0px;
}
.s_page52-53_146
{
position:absolute;top:-45px;left:0px;
}
.s_page52-53_147
{
position:absolute;top:-45px;left:0px;
}
.s_page52-53_148
{
position:absolute;top:-45px;left:0px;
}
.s_page52-53_149
{
position:absolute;top:-45px;left:0px;
}
.s_page52-53_150
{
position:absolute;top:-45px;left:0px;
}
.s_page52-53_151
{
position:absolute;top:-45px;left:0px;
}
.s_page52-53_152
{
position:absolute;top:-45px;left:0px;
}
.s_page52-53_153
{
position:absolute;top:-45px;left:0px;
}
.s_page52-53_154
{
position:absolute;top:-45px;left:0px;
}
.s_page52-53_155
{
position:absolute;top:-19.5px;left:0px;
}
.s_page52-53_156
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-7.8px;
}
.s_page52-53_157
{
position:absolute;top:-19.5px;left:0px;
}
.s_page52-53_158
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-2.12px;
}
.s_page52-53_159
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-0.62px;
}
.s_page52-53_160
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-6.5px;
}
.s_page52-53_161
{
position:absolute;top:-19.5px;left:0px;
}
.s_page52-53_162
{
position:absolute;top:-19.5px;left:0px;
}
.s_page52-53_163
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-1.99px;
}
.s_page52-53_164
{
position:absolute;top:-19.5px;left:291.46px;letter-spacing:-3.29px;
}
.s_page52-53_165
{
position:absolute;top:-19.5px;left:938.59px;
}
.s_page52-53_166
{
position:absolute;top:-17.9px;left:119.33px;letter-spacing:-1.55px;
}
.s_page52-53_167
{
position:absolute;top:-19.5px;left:0px;
}
.s_page52-53_168
{
position:absolute;top:-19.5px;left:1116.69px;letter-spacing:-0.82px;
}
.s_page52-53_169
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-3.21px;
}
.s_page52-53_170
{
position:absolute;top:-19.5px;left:294.84px;letter-spacing:-1.45px;
}
.s_page52-53_171
{
position:absolute;top:-19.5px;left:1170.25px;letter-spacing:-1.82px;
}
.s_page52-53_172
{
position:absolute;top:-17.9px;left:84.48px;
}
.s_page52-53_173
{
position:absolute;top:-19.5px;left:0px;
}
.s_page52-53_174
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-1.47px;
}
.s_page52-53_175
{
position:absolute;top:-19.5px;left:274.04px;letter-spacing:-0.93px;
}
.s_page52-53_176
{
position:absolute;top:-19.5px;left:1125.26px;letter-spacing:-1.95px;
}
.s_page52-53_177
{
position:absolute;top:-17.9px;left:82.69px;letter-spacing:-1.91px;
}
.s_page52-53_178
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-0.95px;
}
.s_page52-53_179
{
position:absolute;top:-19.5px;left:443.56px;
}
.s_page52-53_180
{
position:absolute;top:-19.5px;left:954.71px;letter-spacing:-3.12px;
}
.s_page52-53_181
{
position:absolute;top:-19.5px;left:1387.61px;letter-spacing:-1.78px;
}
.s_page52-53_182
{
position:absolute;top:-19.5px;left:0px;
}
.s_page52-53_183
{
position:absolute;top:-19.5px;left:297.18px;letter-spacing:-0.55px;
}
.s_page52-53_184
{
position:absolute;top:-19.5px;left:1236.03px;letter-spacing:-0.97px;
}
.s_page52-53_185
{
position:absolute;top:-19.5px;left:1725.08px;letter-spacing:-0.39px;
}
.s_page52-53_186
{
position:absolute;top:-17.9px;left:84.72px;letter-spacing:-1.19px;
}
.s_page52-53_187
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-1.47px;
}
.s_page52-53_188
{
position:absolute;top:-19.5px;left:743.59px;letter-spacing:-0.31px;
}
.s_page52-53_189
{
position:absolute;top:41.44px;left:134.15px;
}
.s_page52-53_190
{
position:absolute;top:58.88px;left:0px;
}
.s_page52-53_191
{
position:absolute;top:213.6px;left:380.63px;
}
.s_page52-53_192
{
position:absolute;top:213.6px;left:453.54px;letter-spacing:-0.57px;
}
.s_page52-53_193
{
position:absolute;top:213.6px;left:1075.46px;letter-spacing:0px;
}
.s_page52-53_194
{
position:absolute;top:213.6px;left:1497.17px;
}
.s_page52-53_195
{
position:absolute;top:213.6px;left:2120.9px;
}
.s_page52-53_196
{
position:absolute;top:213.6px;left:2412.35px;letter-spacing:-0.69px;
}
.s_page52-53_197
{
position:absolute;top:213.6px;left:3323.9px;
}
.s_page52-53_198
{
position:absolute;top:213.6px;left:3981.43px;letter-spacing:-0.19px;
}
.s_page52-53_199
{
position:absolute;top:213.6px;left:4873.48px;letter-spacing:0px;
}
.s_page52-53_200
{
position:absolute;top:213.6px;left:5613.43px;letter-spacing:0px;
}
.s_page52-53_201
{
position:absolute;top:213.6px;left:6538.75px;letter-spacing:-1.47px;
}
.s_page52-53_202
{
position:absolute;top:213.6px;left:7215.26px;letter-spacing:0px;
}
.s_page52-53_203
{
position:absolute;top:213.6px;left:7636.97px;letter-spacing:-0.39px;
}
.s_page52-53_204
{
position:absolute;top:213.6px;left:8496.52px;letter-spacing:-1.34px;
}
.s_page52-53_205
{
position:absolute;top:213.6px;left:9367.77px;letter-spacing:0px;
}
.s_page52-53_206
{
position:absolute;top:613.6px;left:453.54px;
}
.s_page52-53_207
{
position:absolute;top:613.6px;left:875.26px;
}
.s_page52-53_208
{
position:absolute;top:613.6px;left:1576.21px;letter-spacing:-0.35px;
}
.s_page52-53_209
{
position:absolute;top:-26.96px;left:0px;letter-spacing:20.63px;-webkit-transform-origin: 0% 759.55px;-webkit-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 759.55px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page52-53_210
{
position:absolute;top:-26.96px;left:1207.42px;letter-spacing:24.06px;-webkit-transform-origin: 0% 759.55px;-webkit-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 759.55px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page52-53_211
{
position:absolute;top:-19.5px;left:1084.97px;letter-spacing:-0.95px;
}
.s_page52-53_212
{
position:absolute;top:-19.5px;left:1476.01px;
}
.s_page52-53_213
{
position:absolute;top:-19.5px;left:1728.46px;
}
.s_page52-53_214
{
position:absolute;top:-19.5px;left:2182.67px;letter-spacing:-0.85px;
}
.s_page52-53_215
{
position:absolute;top:-19.5px;left:3030px;letter-spacing:-2.68px;
}
.s_page52-53_216
{
position:absolute;top:380.5px;left:1084.97px;letter-spacing:-0.13px;
}
.s_page52-53_217
{
position:absolute;top:380.5px;left:2431.75px;letter-spacing:-1.82px;
}
.s_page52-53_218
{
position:absolute;top:380.5px;left:2884.92px;letter-spacing:-0.88px;
}
.s_page52-53_219
{
position:absolute;top:380.5px;left:3425.97px;letter-spacing:-1.13px;
}
.s_page52-53_220
{
position:absolute;top:780.5px;left:1084.97px;
}
.s_page52-53_221
{
position:absolute;top:780.5px;left:2320.74px;letter-spacing:-0.39px;
}
.s_page52-53_222
{
position:absolute;top:780.5px;left:2889.35px;letter-spacing:-0.26px;
}
.s_page52-53_223
{
position:absolute;top:780.5px;left:3593.94px;
}
.s_page52-53_224
{
position:absolute;top:1180.5px;left:1084.97px;
}
.s_page52-53_225
{
position:absolute;top:1180.5px;left:1539.18px;
}
.s_page52-53_226
{
position:absolute;top:1180.5px;left:2039.41px;letter-spacing:-2.25px;
}
.s_page52-53_227
{
position:absolute;top:1180.5px;left:2823.56px;
}
.s_page52-53_228
{
position:absolute;top:1180.5px;left:2957.98px;
}
.s_page52-53_229
{
position:absolute;top:1180.5px;left:3469.13px;letter-spacing:-1.71px;
}
.s_page52-53_230
{
position:absolute;top:1580.5px;left:1084.97px;letter-spacing:-0.16px;
}
.s_page52-53_231
{
position:absolute;top:1580.5px;left:2191.52px;
}
.s_page52-53_232
{
position:absolute;top:-19.5px;left:794.68px;letter-spacing:-0.52px;
}
.s_page52-53_233
{
position:absolute;top:-19.5px;left:1676.85px;letter-spacing:-2.6px;
}
.s_page52-53_234
{
position:absolute;top:-19.5px;left:2082.18px;
}
.s_page52-53_235
{
position:absolute;top:-19.5px;left:2480.23px;letter-spacing:-0.62px;
}
.s_page52-53_236
{
position:absolute;top:-19.5px;left:3139.84px;
}
.s_page52-53_237
{
position:absolute;top:380.5px;left:794.68px;letter-spacing:-0.19px;
}
.s_page52-53_238
{
position:absolute;top:380.5px;left:1728.58px;
}
.s_page52-53_239
{
position:absolute;top:380.5px;left:2516.11px;letter-spacing:-0.74px;
}
.s_page52-53_240
{
position:absolute;top:780.5px;left:794.68px;
}
.s_page52-53_241
{
position:absolute;top:780.5px;left:1155.29px;
}
.s_page52-53_242
{
position:absolute;top:780.5px;left:1636.8px;
}
.s_page52-53_243
{
position:absolute;top:780.5px;left:2559px;letter-spacing:-1px;
}
.s_page52-53_244
{
position:absolute;top:780.5px;left:3462.75px;
}
.s_page52-53_245
{
position:absolute;top:1180.5px;left:794.68px;letter-spacing:-0.63px;
}
.s_page52-53_246
{
position:absolute;top:1180.5px;left:1619.12px;
}
.s_page52-53_247
{
position:absolute;top:1180.5px;left:2404.57px;
}
.s_page52-53_248
{
position:absolute;top:1180.5px;left:2770.64px;letter-spacing:-0.78px;
}
.s_page52-53_249
{
position:absolute;top:1580.5px;left:794.68px;
}
.s_page52-53_250
{
position:absolute;top:1580.5px;left:1305.83px;letter-spacing:-1.28px;
}
.s_page52-53_251
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-0.95px;
}
.s_page52-53_252
{
position:absolute;top:-19.5px;left:391.04px;
}
.s_page52-53_253
{
position:absolute;top:-19.5px;left:647.91px;
}
.s_page52-53_254
{
position:absolute;top:-19.5px;left:1008px;
}
.s_page52-53_255
{
position:absolute;top:-19.5px;left:1795.53px;
}
.s_page52-53_256
{
position:absolute;top:-19.5px;left:2920.53px;
}
.s_page52-53_257
{
position:absolute;top:-19.5px;left:3427.27px;
}
.s_page52-53_258
{
position:absolute;top:-19.5px;left:3881.48px;letter-spacing:-0.85px;
}
.s_page52-53_259
{
position:absolute;top:-19.5px;left:4728.8px;letter-spacing:-2.68px;
}
.s_page52-53_260
{
position:absolute;top:380.5px;left:0px;letter-spacing:-0.45px;
}
.s_page52-53_261
{
position:absolute;top:380.5px;left:503.1px;letter-spacing:-1.52px;
}
.s_page52-53_262
{
position:absolute;top:380.5px;left:1237.32px;
}
.s_page52-53_263
{
position:absolute;top:380.5px;left:2024.85px;letter-spacing:-1.21px;
}
.s_page52-53_264
{
position:absolute;top:380.5px;left:2759.35px;
}
.s_page52-53_265
{
position:absolute;top:380.5px;left:3306.63px;
}
.s_page52-53_266
{
position:absolute;top:380.5px;left:4230.4px;
}
.s_page52-53_267
{
position:absolute;top:380.5px;left:4684.61px;letter-spacing:-0.26px;
}
.s_page52-53_268
{
position:absolute;top:380.5px;left:6269.81px;
}
.s_page52-53_269
{
position:absolute;top:780.5px;left:0px;
}
.s_page52-53_270
{
position:absolute;top:780.5px;left:272.22px;
}
.s_page52-53_271
{
position:absolute;top:780.5px;left:726.43px;letter-spacing:-0.55px;
}
.s_page52-53_272
{
position:absolute;top:780.5px;left:1679.05px;letter-spacing:-2.68px;
}
.s_page52-53_273
{
position:absolute;top:780.5px;left:1978.57px;
}
.s_page52-53_274
{
position:absolute;top:780.5px;left:2432.78px;
}
.s_page52-53_275
{
position:absolute;top:780.5px;left:3220.31px;letter-spacing:-0.22px;
}
.s_page52-53_276
{
position:absolute;top:780.5px;left:4946.43px;letter-spacing:-0.66px;
}
.s_page52-53_277
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-0.95px;
}
.s_page52-53_278
{
position:absolute;top:-19.5px;left:391.04px;
}
.s_page52-53_279
{
position:absolute;top:-19.5px;left:644.27px;
}
.s_page52-53_280
{
position:absolute;top:-19.5px;left:1593.52px;letter-spacing:-2.6px;
}
.s_page52-53_281
{
position:absolute;top:-19.5px;left:1998.85px;
}
.s_page52-53_282
{
position:absolute;top:380.5px;left:0px;letter-spacing:-0.74px;
}
.s_page52-53_283
{
position:absolute;top:380.5px;left:698.09px;letter-spacing:-3.9px;
}
.s_page52-53_284
{
position:absolute;top:380.5px;left:922.98px;letter-spacing:-0.17px;
}
.s_page52-53_285
{
position:absolute;top:380.5px;left:1933.85px;letter-spacing:-1.39px;
}
.s_page52-53_286
{
position:absolute;top:380.5px;left:2379.74px;
}
.s_page52-53_287
{
position:absolute;top:380.5px;left:2511.55px;letter-spacing:-0.95px;
}
.s_page52-53_288
{
position:absolute;top:780.5px;left:0px;
}
.s_page52-53_289
{
position:absolute;top:780.5px;left:486.45px;
}
.s_page52-53_290
{
position:absolute;top:780.5px;left:1035.82px;
}
.s_page52-53_291
{
position:absolute;top:780.5px;left:1690.49px;letter-spacing:-1.88px;
}
.s_page52-53_292
{
position:absolute;top:1180.5px;left:0px;
}
.s_page52-53_293
{
position:absolute;top:1180.5px;left:454.21px;letter-spacing:-1.6px;
}
.s_page52-53_294
{
position:absolute;top:1180.5px;left:1329.1px;letter-spacing:-0.31px;
}
.s_page52-53_295
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-0.39px;
}
.s_page52-53_296
{
position:absolute;top:-19.5px;left:503.62px;
}
.s_page52-53_297
{
position:absolute;top:-19.5px;left:760.49px;
}
.s_page52-53_298
{
position:absolute;top:-19.5px;left:1345.22px;letter-spacing:-0.52px;
}
.s_page52-53_299
{
position:absolute;top:380.5px;left:0px;letter-spacing:-2.6px;
}
.s_page52-53_300
{
position:absolute;top:380.5px;left:405.33px;letter-spacing:-1.49px;
}
.s_page52-53_301
{
position:absolute;top:380.5px;left:863.7px;letter-spacing:-0.63px;
}
.s_page52-53_302
{
position:absolute;top:780.5px;left:0px;letter-spacing:-0.45px;
}
.s_page52-53_303
{
position:absolute;top:780.5px;left:503.1px;letter-spacing:-0.39px;
}
.s_page52-53_304
{
position:absolute;top:780.5px;left:1060.79px;letter-spacing:-2.68px;
}
.s_page52-53_305
{
position:absolute;top:780.5px;left:1364.73px;letter-spacing:-0.26px;
}
.s_page52-53_306
{
position:absolute;top:1180.5px;left:0px;letter-spacing:-0.3px;
}
.s_page52-53_307
{
position:absolute;top:1180.5px;left:771.41px;
}
.s_page52-53_308
{
position:absolute;top:1180.5px;left:838.49px;letter-spacing:-2.6px;
}
.s_page52-53_309
{
position:absolute;top:1180.5px;left:1238.88px;
}
.s_page52-53_310
{
position:absolute;top:1580.5px;left:0px;
}
.s_page52-53_311
{
position:absolute;top:1580.5px;left:482.03px;letter-spacing:-0.78px;
}
.s_page52-53_312
{
position:absolute;top:1580.5px;left:1051.43px;
}
.s_page52-53_313
{
position:absolute;top:1580.5px;left:1505.64px;letter-spacing:-0.71px;
}
.s_page52-53_314
{
position:absolute;top:1980.5px;left:0px;letter-spacing:-2.15px;
}
.s_page52-53_315
{
position:absolute;top:1980.5px;left:891.01px;letter-spacing:-0.71px;
}
.s_page52-53_316
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-0.95px;
}
.s_page52-53_317
{
position:absolute;top:-19.5px;left:391.04px;
}
.s_page52-53_318
{
position:absolute;top:-19.5px;left:877.49px;
}
.s_page52-53_319
{
position:absolute;top:-19.5px;left:1532.16px;letter-spacing:-1.88px;
}
.s_page52-53_320
{
position:absolute;top:380.5px;left:0px;
}
.s_page52-53_321
{
position:absolute;top:380.5px;left:454.21px;letter-spacing:-0.71px;
}
.s_page52-53_322
{
position:absolute;top:380.5px;left:1043.37px;letter-spacing:-2.15px;
}
.s_page52-53_323
{
position:absolute;top:380.5px;left:1934.38px;letter-spacing:-0.82px;
}
.s_page52-53_324
{
position:absolute;top:780.5px;left:0px;letter-spacing:-2.6px;
}
.s_page52-53_325
{
position:absolute;top:780.5px;left:405.33px;
}
.s_page52-53_326
{
position:absolute;top:780.5px;left:804.68px;text-rendering:optimizeLegibility;letter-spacing:-0.26px;
}
.s_page52-53_327
{
position:absolute;top:780.5px;left:1343.91px;letter-spacing:-0.63px;
}
.s_page52-53_328
{
position:absolute;top:780.5px;left:2105.7px;letter-spacing:-0.45px;
}
.s_page52-53_329
{
position:absolute;top:1180.5px;left:0px;letter-spacing:-0.35px;
}
.s_page52-53_330
{
position:absolute;top:1180.5px;left:739.69px;letter-spacing:-1px;
}
.s_page52-53_331
{
position:absolute;top:1180.5px;left:1406.58px;
}
.s_page52-53_332
{
position:absolute;top:1180.5px;left:1683.21px;letter-spacing:-0.65px;
}
.s_page52-53_333
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-1.99px;
}
.s_page52-53_334
{
position:absolute;top:-19.5px;left:291.46px;letter-spacing:-1.1px;
}
.s_page52-53_335
{
position:absolute;top:-19.5px;left:1297.9px;letter-spacing:-0.31px;
}
.s_page52-53_336
{
position:absolute;top:-19.5px;left:2869.57px;letter-spacing:-3.21px;
}
.s_page52-53_337
{
position:absolute;top:-19.5px;left:3164.41px;
}
.s_page52-53_338
{
position:absolute;top:-19.5px;left:4074.66px;letter-spacing:-0.22px;
}
.s_page52-53_339
{
position:absolute;top:-19.5px;left:5691.07px;letter-spacing:-1.47px;
}
.s_page52-53_340
{
position:absolute;top:-19.5px;left:5965.1px;letter-spacing:-0.71px;
}
.s_page52-53_341
{
position:absolute;top:-19.5px;left:6921.11px;letter-spacing:-1.97px;
}
.s_page52-53_342
{
position:absolute;top:437.19px;left:0px;
}
.s_page52-53_343
{
position:absolute;top:437.19px;left:305.23px;letter-spacing:-0.22px;
}
.s_page52-53_344
{
position:absolute;top:437.19px;left:1133.33px;letter-spacing:-1.85px;
}
.s_page52-53_345
{
position:absolute;top:437.19px;left:2318.14px;letter-spacing:-2.17px;
}
.s_page52-53_346
{
position:absolute;top:437.19px;left:2601.54px;
}
.s_page52-53_347
{
position:absolute;top:437.19px;left:3489.16px;
}
.s_page52-53_348
{
position:absolute;top:437.19px;left:4273.58px;
}
.s_page52-53_349
{
position:absolute;top:437.19px;left:4511.99px;letter-spacing:0px;
}
.s_page52-53_350
{
position:absolute;top:437.19px;left:5735.01px;letter-spacing:-3.7px;
}
.s_page52-53_351
{
position:absolute;top:437.19px;left:6433.37px;letter-spacing:0px;
}
.s_page52-53_352
{
position:absolute;top:437.19px;left:6730.29px;letter-spacing:-1.71px;
}
.s_page52-53_353
{
position:absolute;top:437.19px;left:7605.17px;letter-spacing:-0.31px;
}
.s_page52-53_354
{
position:absolute;top:-19.5px;left:203.32px;letter-spacing:-1.69px;
}
.s_page52-53_355
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-0.95px;
}
.s_page52-53_356
{
position:absolute;top:-19.5px;left:391.04px;
}
.s_page52-53_357
{
position:absolute;top:-19.5px;left:643.49px;
}
.s_page52-53_358
{
position:absolute;top:-19.5px;left:1097.7px;letter-spacing:-0.85px;
}
.s_page52-53_359
{
position:absolute;top:-19.5px;left:1945.03px;letter-spacing:-2.68px;
}
.s_page52-53_360
{
position:absolute;top:-19.5px;left:2248.96px;letter-spacing:-1.04px;
}
.s_page52-53_361
{
position:absolute;top:320.5px;left:0px;
}
.s_page52-53_362
{
position:absolute;top:320.5px;left:1631.74px;
}
.s_page52-53_363
{
position:absolute;top:320.5px;left:2405.74px;letter-spacing:-1.82px;
}
.s_page52-53_364
{
position:absolute;top:320.5px;left:2858.92px;letter-spacing:-0.45px;
}
.s_page52-53_365
{
position:absolute;top:660.5px;left:0px;letter-spacing:-0.72px;
}
.s_page52-53_366
{
position:absolute;top:660.5px;left:1043.1px;letter-spacing:-0.58px;
}
.s_page52-53_367
{
position:absolute;top:660.5px;left:2746.86px;letter-spacing:-0.45px;
}
.s_page52-53_368
{
position:absolute;top:1000.5px;left:0px;letter-spacing:-0.67px;
}
.s_page52-53_369
{
position:absolute;top:1000.5px;left:1011.13px;
}
.s_page52-53_370
{
position:absolute;top:1000.5px;left:1628.88px;
}
.s_page52-53_371
{
position:absolute;top:1000.5px;left:1763.3px;
}
.s_page52-53_372
{
position:absolute;top:1000.5px;left:2274.45px;letter-spacing:-1.17px;
}
.s_page52-53_373
{
position:absolute;top:1000.5px;left:3020.64px;
}
.s_page52-53_374
{
position:absolute;top:1340.5px;left:0px;letter-spacing:-0.63px;
}
.s_page52-53_375
{
position:absolute;top:1340.5px;left:761.79px;letter-spacing:-0.45px;
}
.s_page52-53_376
{
position:absolute;top:1340.5px;left:1264.88px;letter-spacing:-1.62px;
}
.s_page52-53_377
{
position:absolute;top:1340.5px;left:1760.7px;letter-spacing:-2.68px;
}
.s_page52-53_378
{
position:absolute;top:1340.5px;left:2064.63px;letter-spacing:-0.65px;
}
.s_page52-53_379
{
position:absolute;top:1680.5px;left:0px;letter-spacing:-0.71px;
}
.s_page52-53_380
{
position:absolute;top:1680.5px;left:548.33px;
}
.s_page52-53_381
{
position:absolute;top:1680.5px;left:1873.02px;letter-spacing:-2.6px;
}
.s_page52-53_382
{
position:absolute;top:1680.5px;left:2273.93px;
}
.s_page52-53_383
{
position:absolute;top:2020.5px;left:0px;letter-spacing:-0.71px;
}
.s_page52-53_384
{
position:absolute;top:2020.5px;left:589.16px;letter-spacing:-2.15px;
}
.s_page52-53_385
{
position:absolute;top:2020.5px;left:1480.17px;letter-spacing:-0.82px;
}
.s_page52-53_386
{
position:absolute;top:2020.5px;left:2130.68px;
}
.s_page52-53_387
{
position:absolute;top:2020.5px;left:2407.31px;letter-spacing:-0.78px;
}
.s_page52-53_388
{
position:absolute;top:-19.5px;left:163.41px;letter-spacing:-2.08px;
}
.s_page52-53_389
{
position:absolute;top:-19.5px;left:166.92px;letter-spacing:-2.08px;
}
.s_page52-53_390
{
position:absolute;top:-19.5px;left:165.36px;
}
.s_page52-53_391
{
position:absolute;top:-19.5px;left:165.62px;letter-spacing:-1.3px;
}
.s_page52-53_392
{
position:absolute;top:-19.5px;left:160.94px;letter-spacing:-2.08px;
}
.s_page52-53_393
{
position:absolute;top:-19.5px;left:182.13px;letter-spacing:-10.92px;
}

.page52_position1 {
	position:absolute;
	top: 93px;
	left: 389px;
	/*border: 1px solid red;*/
}
.page52_position2 {
	position:absolute;
	top: 147px;
	left: 391px;
	/*border: 1px solid red;*/
}
.page52_position3 {
	position:absolute;
	top: 201px;
	left: 389px;
	/*border: 1px solid red;*/
}
.page52_position4 {
	position:absolute;
	top: 255px;
	left: 389px;
	/*border: 1px solid red;*/
}
.page52_position5 {
	position:absolute;
	top: 311px;
	left: 424px;
	/*border: 1px solid red;*/
}
.page52_position6 {
	position:absolute;
	top: 237px;
	left: 532px;
	/*border: 1px solid red;*/
}
.page52_btn1 {
	position:absolute;
	top: 346px;
	right: 10px;
}
.page52_btn2 {
	position:absolute;
	top: 345px;
	right: 93px;
}

#r1{
	position: absolute;
	top: 406px;
	left: 310px;
}
#r2{
	position: absolute;
	top: 447px;
	left: 310px;
}
#r3{
	position: absolute;
	top: 490px;
	left: 310px;
}
#r4{
	position: absolute;
	top: 531px;
	left: 310px;
}

#l1{
	position: absolute;
	top: 406px;
	left: 230px;
}
#l2{
	position: absolute;
	top: 447px;
	left: 230px;
}
#l3{
	position: absolute;
	top: 490px;
	left: 230px;
}
#l4{
	position: absolute;
	top: 531px;
	left: 230px;
}
.match52 {
	height: 143px;
	display:none;
	width: 95px;
}
.match_image1_p52{
	position: absolute;
	top: 405px;
	left: 230px;
	z-index: 9999;
}
.page52_btn3 {
	position:absolute;
	top: 780px;
	left: 273px;
}

.page53_position1 {
	position:absolute;
	top: 283px;
	left: 258px;
	/*border: 1px solid red;*/
}
.page53_position2 {
	position:absolute;
	top: 278px;
	left: 470px;
	/*border: 1px solid red;*/
}
.page53_position3 {
	position:absolute;
	top: 423px;
	left: 302px;
	/*border: 1px solid red;*/
}
.page53_position4 {
	position:absolute;
	top: 438px;
	left: 463px;
	/*border: 1px solid red;*/
}
.page53_position5 {
	position:absolute;
	top: 574px;
	left: 258px;
	/*border: 1px solid red;*/
}
.page53_position6 {
	position:absolute;
	top: 568px;
	left: 461px;
	/*border: 1px solid red;*/
}
.page53_position7 {
	position:absolute;
	top: 677px;
	left: 431px;
	/*border: 1px solid red;*/
}
.page53_btn1 {
	position:absolute;
	top: 780px;
	left: 332px;
}
.page53_btn2 {
	position:absolute;
	top: 780px;
	left: 275px;
}
