.uppercase {
    text-transform: uppercase;
}

.inputline_69a {
	font-size: 15px;
	height: 15px;
	border-bottom: solid 0px black;
	outline: none;
	background-color: transparent;
	display: inline-block;
	vertical-align: bottom;
	overflow: hidden;
	position: relative;
	margin: 0px;
	text-align: left;
	white-space: nowrap;
	padding: 6px 2px 2px 6px;
	line-height: 14px;
	font-family: "Cabrito_Sans_Norm_Book";
	    z-index: 99;
}

.inputline_69 {
	font-size: 13px;
	height: 14px;
	border-bottom: solid 0px black;
	outline: none;
	background-color: transparent;
	display: inline-block;
	vertical-align: bottom;
	overflow: hidden;
	position: relative;
	margin: 0px;
	text-align: left;
	white-space: nowrap;
	padding: 2px 2px 2px 2px;
	line-height: 14px;
	font-family: "Cabrito_Sans_Norm_Book";
}

.page69_position1 {
	position:absolute;
	top: 502px;
    left: 364px;
	/*border: 1px solid red;*/
}
.page69_position2 {
	position:absolute;
	top: 564px;
    left: 361px;
	/*border: 1px solid red;*/
}
.page69_position3 {
	position:absolute;
	top: 522px;
    left: 100px;
	/*border: 1px solid red;*/
}
.page69_position4 {
	position:absolute;
	top: 583px;
    left: 114px;
	/*border: 1px solid red;*/
}
.page69_position5 {
	position:absolute;
	top: 628px;
    left: 330px;
	/*border: 1px solid red;*/
}
.page69_btn1 {
	position:absolute;
	bottom: 5px;
	left: 332px;
}
.page69_btn2 {
	position:absolute;
	bottom: 5px;
	left: 275px;
}

.page69_item1 {
	position: absolute;
	top: 260px;
    left: 377px;
	/*border: 1px solid red;*/
}
.page69_item2 {
	position: absolute;
    top: 279px;
    left: 377px;
	/*border: 1px solid red;*/
}
.page69_item3 {
	position: absolute;
	top: 299px;
    left: 377px;
	/*border: 1px solid red;*/
}
.page69_item4 {
	position: absolute;
	top: 318px;
	left: 377px;
	/*border: 1px solid red;*/
}
.page69_item5 {
	position: absolute;
	top: 342px;
	left: 377px;
	/*border: 1px solid red;*/
}
.page69_item6 {
	position: absolute;
	top: 362px;
	left: 377px;
	/*border: 1px solid red;*/
}
.page69_item7 {
	position: absolute;
	top: 322px;
    left: 169px;
	/*border: 1px solid red;*/
}
.page69_item8 {
	position: absolute;
	top: 341px;
    left: 169px;
	/*border: 1px solid red;*/
}
.page69_item9 {
	position: absolute;
	top: 360px;
    left: 169px;
	/*border: 1px solid red;*/
}
.page69_item10 {
	position: absolute;
	top: 381px;
    left: 169px;
	/*border: 1px solid red;*/
}
.page69_item11 {
	position: absolute;
	top: 403px;
    left: 169px;
	/*border: 1px solid red;*/
}
.page69_item12 {
	position: absolute;
	top: 423px;
    left: 169px;
	/*border: 1px solid red;*/
}
.page69_item13 {
	position: absolute;
	top: 444px;
    left: 169px;
	/*border: 1px solid red;*/
}
.page69_item14 {
	position: absolute;
	top: 319px;
    left: 316px;
	/*border: 1px solid red;*/
}
.page69_item15 {
	position: absolute;
	top: 319px;
    left: 334px;
	/*border: 1px solid red;*/
}
.page69_item16 {
	position: absolute;
	top: 319px;
    left: 355px;
	/*border: 1px solid red;*/
}
.page69_item17 {
	position: absolute;
	top: 319px;
    left: 397px;
	/*border: 1px solid red;*/
}
.page69_item18 {
	position: absolute;
	top: 362px;
    left: 109px;
	/*border: 1px solid red;*/
}
.page69_item19 {
	position: absolute;
	top: 362px;
    left: 127px;
	/*border: 1px solid red;*/
}
.page69_item20 {
	position: absolute;
	top: 362px;
    left: 149px;
	/*border: 1px solid red;*/
}
.page69_item21 {
	position: absolute;
	top: 362px;
    left: 190px;
	/*border: 1px solid red;*/
}
.page69_item22 {
	position: absolute;
	top: 362px;
    left: 210px;
	/*border: 1px solid red;*/
}
.page69_item23 {
	position: absolute;
	top: 362px;
    left: 234px;
	/*border: 1px solid red;*/
}
.page69_item24 {
	position: absolute;
	top: 362px;
    left: 252px;
	/*border: 1px solid red;*/
}
.page69_item25 {
	position: absolute;
	top: 362px;
    left: 275px;
	/*border: 1px solid red;*/
}
.page69_item26 {
	position: absolute;
	top: 362px;
    left: 292px;
	/*border: 1px solid red;*/
}
.page69_item27 {
	position: absolute;
	top: 362px;
    left: 314px;
	/*border: 1px solid red;*/
}
.page69_item28 {
	position: absolute;
	top: 362px;
    left: 334px;
	/*border: 1px solid red;*/
}
.page69_item29 {
	position: absolute;
	top: 362px;
    left: 356px;
	/*border: 1px solid red;*/
}
.page69_item30 {
	position: absolute;
	top: 362px;
    left: 397px;
	/*border: 1px solid red;*/
}
.page69_item31 {
	position: absolute;
	top: 362px;
    left: 418px;
	/*border: 1px solid red;*/
}
.page69_item32 {
	position: absolute;
	top: 362px;
    left: 439px;
	/*border: 1px solid red;*/
}
.page69_item33 {
	position: absolute;
	top: 362px;
    left: 459px;
	/*border: 1px solid red;*/
}
.page69_item34 {
	position: absolute;
	top: 383px;
    left: 275px;
	/*border: 1px solid red;*/
}
.page69_item35 {
	position: absolute;
	top: 403px;
    left: 275px;
	/*border: 1px solid red;*/
}
.page69_item36 {
	position: absolute;
	top: 423px;
    left: 275px;
	/*border: 1px solid red;*/
}
.page69_item37 {
	position: absolute;
	top: 445px;
    left: 275px;
	/*border: 1px solid red;*/
}
.page69_item38 {
	position: absolute;
	top: 465px;
    left: 275px;
	/*border: 1px solid red;*/
}
.page69_item39 {
	position: absolute;
	top: 486px;
    left: 275px;
	/*border: 1px solid red;*/
}
.page69_item40 {
	position: absolute;
	top: 507px;
    left: 275px;
	/*border: 1px solid red;*/
}
.page69_item41 {
	position: absolute;
	top: 528px;
    left: 275px;
	/*border: 1px solid red;*/
}
.page69_item42 {
	position: absolute;
	top: 548px;
    left: 275px;
	/*border: 1px solid red;*/
}