.d_1_Chapter_5-1_1
{
position:absolute;
overflow:hidden;
left:0px;
top:0px;
transform:translate(0.00px,0.00px);
-webkit-transform:translate(0.00px,0.00px);
-ms-transform:translate(0.00px,0.00px);
-o-transform:translate(0.00px,0.00px);
-moz-transform:translate(0.00px,0.00px);
width:612px;
height:841.89px
}
.d_1_Chapter_5-1_2
{
width:560.18px;
height:401.47px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_5-1_3
{
width:9858.56px;
height:872px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_5-1_4
{
width:9246.32px;
height:997.12px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_5-1_5
{
width:6000.6px;
height:998.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_5-1_6
{
width:5613.43px;
height:1205.89px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_5-1_7
{
width:277.92px;
height:237px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_5-1_8
{
width:277.92px;
height:237px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_5-1_9
{
width:277.92px;
height:237px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_5-1_10
{
width:2564.89px;
height:1909.45px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_5-1_11
{
width:2564.89px;
height:1455.59px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_5-1_12
{
width:3367.66px;
height:1798.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_5-1_13
{
width:3437.27px;
height:2598.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_5-1_14
{
width:277.92px;
height:237px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_5-1_15
{
width:277.92px;
height:237px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_5-1_16
{
width:277.92px;
height:237px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_5-1_17
{
position:absolute;
overflow:hidden;
left:-16px;
top:0px;
transform:translate(612px,0.00px);
-webkit-transform:translate(612px,0.00px);
-ms-transform:translate(612px,0.00px);
-o-transform:translate(612px,0.00px);
-moz-transform:translate(612px,0.00px);
width:612px;
height:841.89px
}
.d_1_Chapter_5-1_18
{
width:560.18px;
height:401.47px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_5-1_19
{
width:6000.6px;
height:998.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_5-1_20
{
width:6613.43px;
height:1205.89px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_5-1_21
{
width:1810.53px;
height:288px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_5-1_22
{
width:3883.82px;
height:198.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_5-1_23
{
width:9858.56px;
height:792px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_5-1_24
{
width:9360.33px;
height:4295.05px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,9px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,9px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,9px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,9px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,9px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_5-1_25
{
width:1884.76px;
height:288px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_5-1_26
{
width:4048.04px;
height:1502.46px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_5-1_27
{
width:3064.84px;
height:288px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_5-1_28
{
width:4643.56px;
height:1588.14px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_5-1_29
{
width:277.92px;
height:237px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_5-1_30
{
width:277.92px;
height:237px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_5-1_31
{
width:927.15px;
height:198.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
}
.s_1_Chapter_5-1_32
{
position:absolute;
top:41.44px;
left:134.15px;
}
.s_1_Chapter_5-1_33
{
position:absolute;
top:58.88px;
left:0px;
}
.s_1_Chapter_5-1_34
{
position:absolute;
top:213.6px;
left:380.63px;
}
.s_1_Chapter_5-1_35
{
position:absolute;
top:213.6px;
left:453.54px;
letter-spacing:-2.6px;
}
.s_1_Chapter_5-1_36
{
position:absolute;
top:213.6px;
left:1133.69px;
letter-spacing:0px;
}
.s_1_Chapter_5-1_37
{
position:absolute;
top:213.6px;
left:1930.06px;
}
.s_1_Chapter_5-1_38
{
position:absolute;
top:213.6px;
left:2376.99px;
letter-spacing:-1.82px;
}
.s_1_Chapter_5-1_39
{
position:absolute;
top:213.6px;
left:2562.63px;
}
.s_1_Chapter_5-1_40
{
position:absolute;
top:213.6px;
left:3447.65px;
letter-spacing:-0.78px;
}
.s_1_Chapter_5-1_41
{
position:absolute;
top:213.6px;
left:4270.02px;
letter-spacing:-0.26px;
}
.s_1_Chapter_5-1_42
{
position:absolute;
top:213.6px;
left:4789.23px;
letter-spacing:-1.3px;
}
.s_1_Chapter_5-1_43
{
position:absolute;
top:213.6px;
left:5564.54px;
letter-spacing:0px;
}
.s_1_Chapter_5-1_44
{
position:absolute;
top:213.6px;
left:5774.88px;
text-rendering:optimizeLegibility;
letter-spacing:-0.55px;
}
.s_1_Chapter_5-1_45
{
position:absolute;
top:213.6px;
left:6802.39px;
letter-spacing:-0.62px;
}
.s_1_Chapter_5-1_46
{
position:absolute;
top:213.6px;
left:7397.52px;
letter-spacing:-1.26px;
}
.s_1_Chapter_5-1_47
{
position:absolute;
top:213.6px;
left:8055.83px;
letter-spacing:0px;
}
.s_1_Chapter_5-1_48
{
position:absolute;
top:613.6px;
left:453.54px;
letter-spacing:-0.95px;
}
.s_1_Chapter_5-1_49
{
position:absolute;
top:613.6px;
left:1370.55px;
}
.s_1_Chapter_5-1_50
{
position:absolute;
top:613.6px;
left:2044.98px;
}
.s_1_Chapter_5-1_51
{
position:absolute;
top:613.6px;
left:2960.17px;
}
.s_1_Chapter_5-1_52
{
position:absolute;
top:613.6px;
left:3430.76px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_5-1_53
{
position:absolute;
top:613.6px;
left:3751.07px;
}
.s_1_Chapter_5-1_54
{
position:absolute;
top:613.6px;
left:4003.01px;
}
.s_1_Chapter_5-1_55
{
position:absolute;
top:613.6px;
left:4424.72px;
}
.s_1_Chapter_5-1_56
{
position:absolute;
top:613.6px;
left:5204.45px;
}
.s_1_Chapter_5-1_57
{
position:absolute;
top:613.6px;
left:5750.7px;
letter-spacing:0px;
}
.s_1_Chapter_5-1_58
{
position:absolute;
top:613.6px;
left:6172.41px;
letter-spacing:-0.39px;
}
.s_1_Chapter_5-1_59
{
position:absolute;
top:613.6px;
left:7031.96px;
letter-spacing:-0.49px;
}
.s_1_Chapter_5-1_60
{
position:absolute;
top:-26.96px;
left:0px;
letter-spacing:18.33px;
transform-origin: 0% 759.55px;
-webkit-transform-origin: 0% 759.55px;
-ms-transform-origin: 0% 759.55px;
-o-transform-origin: 0% 759.55px;
-moz-transform-origin: 0% 759.55px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Chapter_5-1_61
{
position:absolute;
top:-26.96px;
left:963.91px;
letter-spacing:20.63px;
transform-origin: 0% 759.55px;
-webkit-transform-origin: 0% 759.55px;
-ms-transform-origin: 0% 759.55px;
-o-transform-origin: 0% 759.55px;
-moz-transform-origin: 0% 759.55px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Chapter_5-1_62
{
position:absolute;
top:-26.96px;
left:2152.96px;
letter-spacing:22.92px;
transform-origin: 0% 759.55px;
-webkit-transform-origin: 0% 759.55px;
-ms-transform-origin: 0% 759.55px;
-o-transform-origin: 0% 759.55px;
-moz-transform-origin: 0% 759.55px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Chapter_5-1_63
{
position:absolute;
top:-26.96px;
left:4676.26px;
letter-spacing:23.57px;
transform-origin: 0% 759.55px;
-webkit-transform-origin: 0% 759.55px;
-ms-transform-origin: 0% 759.55px;
-o-transform-origin: 0% 759.55px;
-moz-transform-origin: 0% 759.55px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Chapter_5-1_64
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-9.88px;
}
.s_1_Chapter_5-1_65
{
position:absolute;
top:-19.5px;
left:334.61px;
letter-spacing:-0.24px;
}
.s_1_Chapter_5-1_66
{
position:absolute;
top:-19.5px;
left:1993.4px;
}
.s_1_Chapter_5-1_67
{
position:absolute;
top:-19.5px;
left:2570.07px;
}
.s_1_Chapter_5-1_68
{
position:absolute;
top:-19.5px;
left:3024.28px;
letter-spacing:-1.39px;
}
.s_1_Chapter_5-1_69
{
position:absolute;
top:-19.5px;
left:3723.15px;
letter-spacing:-2.68px;
}
.s_1_Chapter_5-1_70
{
position:absolute;
top:-19.5px;
left:4027.08px;
}
.s_1_Chapter_5-1_71
{
position:absolute;
top:-19.5px;
left:4377.55px;
}
.s_1_Chapter_5-1_72
{
position:absolute;
top:380.5px;
left:0px;
}
.s_1_Chapter_5-1_73
{
position:absolute;
top:380.5px;
left:454.21px;
}
.s_1_Chapter_5-1_74
{
position:absolute;
top:380.5px;
left:2534.21px;
}
.s_1_Chapter_5-1_75
{
position:absolute;
top:380.5px;
left:2604.93px;
text-rendering:optimizeLegibility;
letter-spacing:-0.61px;
}
.s_1_Chapter_5-1_76
{
position:absolute;
top:380.5px;
left:4214.05px;
text-rendering:optimizeLegibility;
letter-spacing:-1.21px;
}
.s_1_Chapter_5-1_77
{
position:absolute;
top:380.5px;
left:4779.8px;
}
.s_1_Chapter_5-1_78
{
position:absolute;
top:380.5px;
left:5474.51px;
letter-spacing:0px;
}
.s_1_Chapter_5-1_79
{
position:absolute;
top:780.5px;
left:0px;
letter-spacing:-2.68px;
}
.s_1_Chapter_5-1_80
{
position:absolute;
top:780.5px;
left:299px;
letter-spacing:-2.3px;
}
.s_1_Chapter_5-1_81
{
position:absolute;
top:780.5px;
left:1102.64px;
letter-spacing:-0.3px;
}
.s_1_Chapter_5-1_82
{
position:absolute;
top:780.5px;
left:1875.88px;
}
.s_1_Chapter_5-1_83
{
position:absolute;
top:780.5px;
left:2570.58px;
letter-spacing:-1.75px;
}
.s_1_Chapter_5-1_84
{
position:absolute;
top:780.5px;
left:3025.05px;
letter-spacing:-0.52px;
}
.s_1_Chapter_5-1_85
{
position:absolute;
top:780.5px;
left:3873.17px;
}
.s_1_Chapter_5-1_86
{
position:absolute;
top:780.5px;
left:4213.5px;
letter-spacing:-0.78px;
}
.s_1_Chapter_5-1_87
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-3.9px;
}
.s_1_Chapter_5-1_88
{
position:absolute;
top:-19.5px;
left:224.89px;
}
.s_1_Chapter_5-1_89
{
position:absolute;
top:-19.5px;
left:2564.89px;
}
.s_1_Chapter_5-1_90
{
position:absolute;
top:-19.5px;
left:2635.61px;
letter-spacing:-0.66px;
}
.s_1_Chapter_5-1_91
{
position:absolute;
top:-19.5px;
left:4151.13px;
}
.s_1_Chapter_5-1_92
{
position:absolute;
top:-19.5px;
left:4403.58px;
}
.s_1_Chapter_5-1_93
{
position:absolute;
top:380.5px;
left:0px;
letter-spacing:-0.78px;
}
.s_1_Chapter_5-1_94
{
position:absolute;
top:380.5px;
left:974.46px;
}
.s_1_Chapter_5-1_95
{
position:absolute;
top:380.5px;
left:1545.42px;
}
.s_1_Chapter_5-1_96
{
position:absolute;
top:380.5px;
left:2454.1px;
letter-spacing:-0.69px;
}
.s_1_Chapter_5-1_97
{
position:absolute;
top:380.5px;
left:2682.38px;
letter-spacing:-1.52px;
}
.s_1_Chapter_5-1_98
{
position:absolute;
top:380.5px;
left:3379.17px;
}
.s_1_Chapter_5-1_99
{
position:absolute;
top:380.5px;
left:4132.89px;
}
.s_1_Chapter_5-1_100
{
position:absolute;
top:380.5px;
left:4510.14px;
letter-spacing:-0.26px;
}
.s_1_Chapter_5-1_101
{
position:absolute;
top:380.5px;
left:5246.97px;
letter-spacing:0px;
}
.s_1_Chapter_5-1_102
{
position:absolute;
top:780.5px;
left:0px;
letter-spacing:-2.21px;
}
.s_1_Chapter_5-1_103
{
position:absolute;
top:780.5px;
left:719.15px;
letter-spacing:-3.25px;
}
.s_1_Chapter_5-1_104
{
position:absolute;
top:780.5px;
left:926.63px;
}
.s_1_Chapter_5-1_105
{
position:absolute;
top:-19.5px;
left:80.07px;
letter-spacing:-1.69px;
}
.s_1_Chapter_5-1_106
{
position:absolute;
top:-19.5px;
left:42.11px;
}
.s_1_Chapter_5-1_107
{
position:absolute;
top:-19.5px;
left:40.16px;
letter-spacing:-2.08px;
}
.s_1_Chapter_5-1_108
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.45px;
}
.s_1_Chapter_5-1_109
{
position:absolute;
top:-19.5px;
left:503.1px;
letter-spacing:-2.03px;
}
.s_1_Chapter_5-1_110
{
position:absolute;
top:-19.5px;
left:1147.1px;
letter-spacing:-2.68px;
}
.s_1_Chapter_5-1_111
{
position:absolute;
top:-19.5px;
left:1451.04px;
letter-spacing:-3.25px;
}
.s_1_Chapter_5-1_112
{
position:absolute;
top:380.5px;
left:0px;
}
.s_1_Chapter_5-1_113
{
position:absolute;
top:380.5px;
left:2340px;
}
.s_1_Chapter_5-1_114
{
position:absolute;
top:780.5px;
left:0px;
letter-spacing:-1.63px;
}
.s_1_Chapter_5-1_115
{
position:absolute;
top:780.5px;
left:1740.68px;
}
.s_1_Chapter_5-1_116
{
position:absolute;
top:1180.5px;
left:0px;
letter-spacing:-0.45px;
}
.s_1_Chapter_5-1_117
{
position:absolute;
top:1180.5px;
left:905.05px;
}
.s_1_Chapter_5-1_118
{
position:absolute;
top:1180.5px;
left:1427.64px;
}
.s_1_Chapter_5-1_119
{
position:absolute;
top:1180.5px;
left:2027.45px;
}
.s_1_Chapter_5-1_120
{
position:absolute;
top:1580.5px;
left:0px;
}
.s_1_Chapter_5-1_121
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-3.9px;
}
.s_1_Chapter_5-1_122
{
position:absolute;
top:-19.5px;
left:224.89px;
letter-spacing:-1.17px;
}
.s_1_Chapter_5-1_123
{
position:absolute;
top:-19.5px;
left:989.54px;
letter-spacing:-2.68px;
}
.s_1_Chapter_5-1_124
{
position:absolute;
top:437.19px;
left:0px;
}
.s_1_Chapter_5-1_125
{
position:absolute;
top:437.19px;
left:2340px;
}
.s_1_Chapter_5-1_126
{
position:absolute;
top:837.19px;
left:0px;
letter-spacing:-0.51px;
}
.s_1_Chapter_5-1_127
{
position:absolute;
top:837.19px;
left:2121.05px;
}
.s_1_Chapter_5-1_128
{
position:absolute;
top:1237.19px;
left:0px;
letter-spacing:-0.52px;
}
.s_1_Chapter_5-1_129
{
position:absolute;
top:1237.19px;
left:848.11px;
}
.s_1_Chapter_5-1_130
{
position:absolute;
top:1237.19px;
left:1188.44px;
letter-spacing:-3.25px;
}
.s_1_Chapter_5-1_131
{
position:absolute;
top:1237.19px;
left:1395.92px;
}
.s_1_Chapter_5-1_132
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.45px;
}
.s_1_Chapter_5-1_133
{
position:absolute;
top:-19.5px;
left:503.1px;
}
.s_1_Chapter_5-1_134
{
position:absolute;
top:-19.5px;
left:2583.1px;
}
.s_1_Chapter_5-1_135
{
position:absolute;
top:380.5px;
left:0px;
letter-spacing:-1.3px;
}
.s_1_Chapter_5-1_136
{
position:absolute;
top:380.5px;
left:2527.43px;
}
.s_1_Chapter_5-1_137
{
position:absolute;
top:380.5px;
left:2784.31px;
}
.s_1_Chapter_5-1_138
{
position:absolute;
top:780.5px;
left:0px;
letter-spacing:-2.68px;
}
.s_1_Chapter_5-1_139
{
position:absolute;
top:780.5px;
left:299.52px;
}
.s_1_Chapter_5-1_140
{
position:absolute;
top:780.5px;
left:753.73px;
}
.s_1_Chapter_5-1_141
{
position:absolute;
top:780.5px;
left:1802.03px;
letter-spacing:-1.11px;
}
.s_1_Chapter_5-1_142
{
position:absolute;
top:780.5px;
left:2517.27px;
letter-spacing:-0.69px;
}
.s_1_Chapter_5-1_143
{
position:absolute;
top:780.5px;
left:2749.97px;
}
.s_1_Chapter_5-1_144
{
position:absolute;
top:1180.5px;
left:0px;
text-rendering:optimizeLegibility;
letter-spacing:-2.47px;
}
.s_1_Chapter_5-1_145
{
position:absolute;
top:1180.5px;
left:356.46px;
letter-spacing:-0.17px;
}
.s_1_Chapter_5-1_146
{
position:absolute;
top:1180.5px;
left:1342.62px;
letter-spacing:-0.71px;
}
.s_1_Chapter_5-1_147
{
position:absolute;
top:1180.5px;
left:1771.61px;
letter-spacing:-0.52px;
}
.s_1_Chapter_5-1_148
{
position:absolute;
top:1180.5px;
left:2560.18px;
}
.s_1_Chapter_5-1_149
{
position:absolute;
top:1580.5px;
left:0px;
letter-spacing:-1.66px;
}
.s_1_Chapter_5-1_150
{
position:absolute;
top:1580.5px;
left:628.93px;
letter-spacing:-0.97px;
}
.s_1_Chapter_5-1_151
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.45px;
}
.s_1_Chapter_5-1_152
{
position:absolute;
top:-19.5px;
left:503.1px;
}
.s_1_Chapter_5-1_153
{
position:absolute;
top:-19.5px;
left:2583.1px;
}
.s_1_Chapter_5-1_154
{
position:absolute;
top:380.5px;
left:0px;
letter-spacing:-1.4px;
}
.s_1_Chapter_5-1_155
{
position:absolute;
top:380.5px;
left:2269.51px;
}
.s_1_Chapter_5-1_156
{
position:absolute;
top:380.5px;
left:2521.97px;
}
.s_1_Chapter_5-1_157
{
position:absolute;
top:780.5px;
left:0px;
}
.s_1_Chapter_5-1_158
{
position:absolute;
top:780.5px;
left:945.6px;
letter-spacing:-2.68px;
}
.s_1_Chapter_5-1_159
{
position:absolute;
top:780.5px;
left:1245.12px;
}
.s_1_Chapter_5-1_160
{
position:absolute;
top:780.5px;
left:1699.33px;
letter-spacing:-1.17px;
}
.s_1_Chapter_5-1_161
{
position:absolute;
top:780.5px;
left:2397.94px;
}
.s_1_Chapter_5-1_162
{
position:absolute;
top:1180.5px;
left:0px;
letter-spacing:-0.45px;
}
.s_1_Chapter_5-1_163
{
position:absolute;
top:1180.5px;
left:503.1px;
}
.s_1_Chapter_5-1_164
{
position:absolute;
top:1180.5px;
left:1145.29px;
}
.s_1_Chapter_5-1_165
{
position:absolute;
top:1180.5px;
left:1931.77px;
letter-spacing:-0.52px;
}
.s_1_Chapter_5-1_166
{
position:absolute;
top:1180.5px;
left:2710.47px;
}
.s_1_Chapter_5-1_167
{
position:absolute;
top:1580.5px;
left:0px;
}
.s_1_Chapter_5-1_168
{
position:absolute;
top:1580.5px;
left:537.15px;
}
.s_1_Chapter_5-1_169
{
position:absolute;
top:1580.5px;
left:1478.07px;
}
.s_1_Chapter_5-1_170
{
position:absolute;
top:1580.5px;
left:1989.22px;
letter-spacing:-1.75px;
}
.s_1_Chapter_5-1_171
{
position:absolute;
top:1580.5px;
left:2443.7px;
}
.s_1_Chapter_5-1_172
{
position:absolute;
top:1580.5px;
left:2824.85px;
letter-spacing:-0.88px;
}
.s_1_Chapter_5-1_173
{
position:absolute;
top:1980.5px;
left:0px;
}
.s_1_Chapter_5-1_174
{
position:absolute;
top:1980.5px;
left:422.23px;
}
.s_1_Chapter_5-1_175
{
position:absolute;
top:1980.5px;
left:1113.3px;
}
.s_1_Chapter_5-1_176
{
position:absolute;
top:-19.5px;
left:42.37px;
letter-spacing:-1.3px;
}
.s_1_Chapter_5-1_177
{
position:absolute;
top:-19.5px;
left:37.69px;
letter-spacing:-2.08px;
}
.s_1_Chapter_5-1_178
{
position:absolute;
top:-19.5px;
left:43.67px;
letter-spacing:-2.08px;
}
.s_1_Chapter_5-1_179
{
position:absolute;
top:41.44px;
left:134.15px;
}
.s_1_Chapter_5-1_180
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.45px;
}
.s_1_Chapter_5-1_181
{
position:absolute;
top:-19.5px;
left:503.1px;
}
.s_1_Chapter_5-1_182
{
position:absolute;
top:-19.5px;
left:2583.1px;
}
.s_1_Chapter_5-1_183
{
position:absolute;
top:-19.5px;
left:2653.81px;
text-rendering:optimizeLegibility;
letter-spacing:-0.3px;
}
.s_1_Chapter_5-1_184
{
position:absolute;
top:-19.5px;
left:3954.83px;
letter-spacing:-0.7px;
}
.s_1_Chapter_5-1_185
{
position:absolute;
top:-19.5px;
left:4996.38px;
letter-spacing:0px;
}
.s_1_Chapter_5-1_186
{
position:absolute;
top:-19.5px;
left:5248.83px;
}
.s_1_Chapter_5-1_187
{
position:absolute;
top:380.5px;
left:0px;
letter-spacing:-1.25px;
}
.s_1_Chapter_5-1_188
{
position:absolute;
top:380.5px;
left:555.61px;
text-rendering:optimizeLegibility;
letter-spacing:-0.52px;
}
.s_1_Chapter_5-1_189
{
position:absolute;
top:380.5px;
left:1274.76px;
}
.s_1_Chapter_5-1_190
{
position:absolute;
top:380.5px;
left:2419.53px;
letter-spacing:-0.45px;
}
.s_1_Chapter_5-1_191
{
position:absolute;
top:380.5px;
left:2922.63px;
}
.s_1_Chapter_5-1_192
{
position:absolute;
top:380.5px;
left:3582.76px;
}
.s_1_Chapter_5-1_193
{
position:absolute;
top:380.5px;
left:3859.39px;
}
.s_1_Chapter_5-1_194
{
position:absolute;
top:380.5px;
left:4204.92px;
}
.s_1_Chapter_5-1_195
{
position:absolute;
top:380.5px;
left:4842.95px;
}
.s_1_Chapter_5-1_196
{
position:absolute;
top:380.5px;
left:5099.83px;
letter-spacing:-1.82px;
}
.s_1_Chapter_5-1_197
{
position:absolute;
top:780.5px;
left:0px;
}
.s_1_Chapter_5-1_198
{
position:absolute;
top:780.5px;
left:547.29px;
letter-spacing:-2.68px;
}
.s_1_Chapter_5-1_199
{
position:absolute;
top:780.5px;
left:851.22px;
letter-spacing:-3.25px;
}
.s_1_Chapter_5-1_200
{
position:absolute;
top:780.5px;
left:1058.7px;
}
.s_1_Chapter_5-1_201
{
position:absolute;
top:780.5px;
left:1936.19px;
}
.s_1_Chapter_5-1_202
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.45px;
}
.s_1_Chapter_5-1_203
{
position:absolute;
top:-19.5px;
left:498.68px;
}
.s_1_Chapter_5-1_204
{
position:absolute;
top:-19.5px;
left:1190.26px;
letter-spacing:-2.68px;
}
.s_1_Chapter_5-1_205
{
position:absolute;
top:-19.5px;
left:1494.2px;
letter-spacing:-3.25px;
}
.s_1_Chapter_5-1_206
{
position:absolute;
top:-19.5px;
left:1701.68px;
}
.s_1_Chapter_5-1_207
{
position:absolute;
top:-19.5px;
left:3781.68px;
}
.s_1_Chapter_5-1_208
{
position:absolute;
top:-19.5px;
left:3852.39px;
letter-spacing:-0.08px;
}
.s_1_Chapter_5-1_209
{
position:absolute;
top:-19.5px;
left:6099.79px;
letter-spacing:-1.75px;
}
.s_1_Chapter_5-1_210
{
position:absolute;
top:380.5px;
left:0px;
letter-spacing:-1.07px;
}
.s_1_Chapter_5-1_211
{
position:absolute;
top:380.5px;
left:970.3px;
}
.s_1_Chapter_5-1_212
{
position:absolute;
top:380.5px;
left:1246.94px;
}
.s_1_Chapter_5-1_213
{
position:absolute;
top:380.5px;
left:1597.41px;
}
.s_1_Chapter_5-1_214
{
position:absolute;
top:380.5px;
left:2744.51px;
letter-spacing:-0.69px;
}
.s_1_Chapter_5-1_215
{
position:absolute;
top:380.5px;
left:2977.2px;
letter-spacing:-0.95px;
}
.s_1_Chapter_5-1_216
{
position:absolute;
top:380.5px;
left:3801.4px;
}
.s_1_Chapter_5-1_217
{
position:absolute;
top:380.5px;
left:4148.23px;
letter-spacing:-0.88px;
}
.s_1_Chapter_5-1_218
{
position:absolute;
top:380.5px;
left:4756.1px;
}
.s_1_Chapter_5-1_219
{
position:absolute;
top:380.5px;
left:5028.31px;
}
.s_1_Chapter_5-1_220
{
position:absolute;
top:380.5px;
left:5482.52px;
letter-spacing:0px;
}
.s_1_Chapter_5-1_221
{
position:absolute;
top:780.5px;
left:0px;
}
.s_1_Chapter_5-1_222
{
position:absolute;
top:780.5px;
left:765.69px;
}
.s_1_Chapter_5-1_223
{
position:absolute;
top:780.5px;
left:1022.56px;
letter-spacing:-0.41px;
}
.s_1_Chapter_5-1_224
{
position:absolute;
top:780.5px;
left:1871.19px;
}
.s_1_Chapter_5-1_225
{
position:absolute;
top:780.5px;
left:2178.77px;
letter-spacing:-3.25px;
}
.s_1_Chapter_5-1_226
{
position:absolute;
top:780.5px;
left:2380.01px;
letter-spacing:-2.13px;
}
.s_1_Chapter_5-1_227
{
position:absolute;
top:780.5px;
left:2960.05px;
}
.s_1_Chapter_5-1_228
{
position:absolute;
top:780.5px;
left:3649.82px;
letter-spacing:-0.32px;
}
.s_1_Chapter_5-1_229
{
position:absolute;
top:780.5px;
left:4710.09px;
letter-spacing:-1.4px;
}
.s_1_Chapter_5-1_230
{
position:absolute;
top:780.5px;
left:5343.44px;
letter-spacing:0px;
}
.s_1_Chapter_5-1_231
{
position:absolute;
top:780.5px;
left:5693.91px;
letter-spacing:0px;
}
.s_1_Chapter_5-1_232
{
position:absolute;
top:-14.08px;
left:0px;
letter-spacing:-4.03px;
}
.s_1_Chapter_5-1_233
{
position:absolute;
top:-14.08px;
left:714.87px;
letter-spacing:-3.28px;
}
.s_1_Chapter_5-1_234
{
position:absolute;
top:-14.08px;
left:1266.86px;
letter-spacing:-1.68px;
}
.s_1_Chapter_5-1_235
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.42px;
}
.s_1_Chapter_5-1_236
{
position:absolute;
top:-19.5px;
left:686.65px;
}
.s_1_Chapter_5-1_237
{
position:absolute;
top:-19.5px;
left:1114.86px;
}
.s_1_Chapter_5-1_238
{
position:absolute;
top:-19.5px;
left:1569.07px;
}
.s_1_Chapter_5-1_239
{
position:absolute;
top:-19.5px;
left:2008.72px;
letter-spacing:-3.05px;
}
.s_1_Chapter_5-1_240
{
position:absolute;
top:-19.5px;
left:2471.52px;
}
.s_1_Chapter_5-1_241
{
position:absolute;
top:-19.5px;
left:3189.11px;
}
.s_1_Chapter_5-1_242
{
position:absolute;
top:-19.5px;
left:3409.58px;
letter-spacing:-0.74px;
}
.s_1_Chapter_5-1_243
{
position:absolute;
top:58.88px;
left:0px;
letter-spacing:-7.92px;
}
.s_1_Chapter_5-1_244
{
position:absolute;
top:213.6px;
left:305.76px;
}
.s_1_Chapter_5-1_245
{
position:absolute;
top:213.6px;
left:453.54px;
letter-spacing:-0.69px;
}
.s_1_Chapter_5-1_246
{
position:absolute;
top:213.6px;
left:1102.24px;
letter-spacing:-1.73px;
}
.s_1_Chapter_5-1_247
{
position:absolute;
top:213.6px;
left:1301.92px;
}
.s_1_Chapter_5-1_248
{
position:absolute;
top:213.6px;
left:1723.63px;
letter-spacing:-0.74px;
}
.s_1_Chapter_5-1_249
{
position:absolute;
top:213.6px;
left:2378.57px;
letter-spacing:-0.12px;
}
.s_1_Chapter_5-1_250
{
position:absolute;
top:213.6px;
left:3708.97px;
letter-spacing:-0.78px;
}
.s_1_Chapter_5-1_251
{
position:absolute;
top:213.6px;
left:4129.65px;
}
.s_1_Chapter_5-1_252
{
position:absolute;
top:213.6px;
left:4655.62px;
letter-spacing:-1.82px;
}
.s_1_Chapter_5-1_253
{
position:absolute;
top:213.6px;
left:4947.07px;
letter-spacing:-0.19px;
}
.s_1_Chapter_5-1_254
{
position:absolute;
top:63px;
left:396.85px;
letter-spacing:-0.42px;
}
.s_1_Chapter_5-1_255
{
position:absolute;
top:63px;
left:1027.12px;
}
.s_1_Chapter_5-1_256
{
position:absolute;
top:63px;
left:1299px;
}
.s_1_Chapter_5-1_257
{
position:absolute;
top:63px;
left:1788.15px;
letter-spacing:-1.05px;
}
.s_1_Chapter_5-1_258
{
position:absolute;
top:63px;
left:2740.13px;
}
.s_1_Chapter_5-1_259
{
position:absolute;
top:63px;
left:3472.04px;
letter-spacing:-1.68px;
}
.s_1_Chapter_5-1_260
{
position:absolute;
top:63px;
left:4040.42px;
}
.s_1_Chapter_5-1_261
{
position:absolute;
top:63px;
left:4434.65px;
}
.s_1_Chapter_5-1_262
{
position:absolute;
top:519.69px;
left:396.85px;
letter-spacing:-0.7px;
}
.s_1_Chapter_5-1_263
{
position:absolute;
top:519.69px;
left:1885.31px;
}
.s_1_Chapter_5-1_264
{
position:absolute;
top:519.69px;
left:2602.94px;
}
.s_1_Chapter_5-1_265
{
position:absolute;
top:519.69px;
left:3223.96px;
letter-spacing:-1.07px;
}
.s_1_Chapter_5-1_266
{
position:absolute;
top:519.69px;
left:3878.87px;
letter-spacing:-0.79px;
}
.s_1_Chapter_5-1_267
{
position:absolute;
top:976.38px;
left:396.85px;
}
.s_1_Chapter_5-1_268
{
position:absolute;
top:976.38px;
left:804.8px;
letter-spacing:-0.19px;
}
.s_1_Chapter_5-1_269
{
position:absolute;
top:976.38px;
left:1985.54px;
}
.s_1_Chapter_5-1_270
{
position:absolute;
top:976.38px;
left:2826.65px;
}
.s_1_Chapter_5-1_271
{
position:absolute;
top:976.38px;
left:3452.44px;
}
.s_1_Chapter_5-1_272
{
position:absolute;
top:976.38px;
left:3825.11px;
}
.s_1_Chapter_5-1_273
{
position:absolute;
top:1433.08px;
left:396.85px;
letter-spacing:-0.49px;
}
.s_1_Chapter_5-1_274
{
position:absolute;
top:1433.08px;
left:938.65px;
letter-spacing:-1.87px;
}
.s_1_Chapter_5-1_275
{
position:absolute;
top:1433.08px;
left:1654.59px;
letter-spacing:-1.17px;
}
.s_1_Chapter_5-1_276
{
position:absolute;
top:1433.08px;
left:2554.5px;
}
.s_1_Chapter_5-1_277
{
position:absolute;
top:1433.08px;
left:3559.97px;
}
.s_1_Chapter_5-1_278
{
position:absolute;
top:1433.08px;
left:3831.84px;
}
.s_1_Chapter_5-1_279
{
position:absolute;
top:1433.08px;
left:4320.99px;
}
.s_1_Chapter_5-1_280
{
position:absolute;
top:1433.08px;
left:5410.73px;
}
.s_1_Chapter_5-1_281
{
position:absolute;
top:1833.08px;
left:396.85px;
}
.s_1_Chapter_5-1_282
{
position:absolute;
top:1833.08px;
left:1309.64px;
letter-spacing:-2.89px;
}
.s_1_Chapter_5-1_283
{
position:absolute;
top:1833.08px;
left:1636.96px;
}
.s_1_Chapter_5-1_284
{
position:absolute;
top:2289.77px;
left:396.85px;
letter-spacing:-1.15px;
}
.s_1_Chapter_5-1_285
{
position:absolute;
top:2289.77px;
left:1691.56px;
letter-spacing:-0.79px;
}
.s_1_Chapter_5-1_286
{
position:absolute;
top:2289.77px;
left:2502.15px;
}
.s_1_Chapter_5-1_287
{
position:absolute;
top:2289.77px;
left:2778.78px;
}
.s_1_Chapter_5-1_288
{
position:absolute;
top:2289.77px;
left:3564.73px;
letter-spacing:-1.51px;
}
.s_1_Chapter_5-1_289
{
position:absolute;
top:2289.77px;
left:4242.04px;
}
.s_1_Chapter_5-1_290
{
position:absolute;
top:2289.77px;
left:4731.19px;
letter-spacing:-1.29px;
}
.s_1_Chapter_5-1_291
{
position:absolute;
top:2289.77px;
left:5288.66px;
letter-spacing:-2.89px;
}
.s_1_Chapter_5-1_292
{
position:absolute;
top:2289.77px;
left:5615.98px;
letter-spacing:-0.44px;
}
.s_1_Chapter_5-1_293
{
position:absolute;
top:2746.46px;
left:396.85px;
letter-spacing:-0.32px;
}
.s_1_Chapter_5-1_294
{
position:absolute;
top:2746.46px;
left:1214.44px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_5-1_295
{
position:absolute;
top:2746.46px;
left:1741.67px;
letter-spacing:-0.94px;
}
.s_1_Chapter_5-1_296
{
position:absolute;
top:2746.46px;
left:2801.17px;
letter-spacing:-0.94px;
}
.s_1_Chapter_5-1_297
{
position:absolute;
top:2746.46px;
left:3873px;
letter-spacing:-1.07px;
}
.s_1_Chapter_5-1_298
{
position:absolute;
top:2746.46px;
left:4531.82px;
}
.s_1_Chapter_5-1_299
{
position:absolute;
top:3203.16px;
left:396.85px;
letter-spacing:-0.49px;
}
.s_1_Chapter_5-1_300
{
position:absolute;
top:3203.16px;
left:938.65px;
letter-spacing:-1.26px;
}
.s_1_Chapter_5-1_301
{
position:absolute;
top:3203.16px;
left:1690.99px;
}
.s_1_Chapter_5-1_302
{
position:absolute;
top:3203.16px;
left:2709.33px;
}
.s_1_Chapter_5-1_303
{
position:absolute;
top:3203.16px;
left:2981.21px;
}
.s_1_Chapter_5-1_304
{
position:absolute;
top:3203.16px;
left:3470.36px;
}
.s_1_Chapter_5-1_305
{
position:absolute;
top:3203.16px;
left:4193.3px;
letter-spacing:-1.68px;
}
.s_1_Chapter_5-1_306
{
position:absolute;
top:3203.16px;
left:4761.69px;
letter-spacing:-2.89px;
}
.s_1_Chapter_5-1_307
{
position:absolute;
top:3203.16px;
left:5084.24px;
letter-spacing:-1.26px;
}
.s_1_Chapter_5-1_308
{
position:absolute;
top:3203.16px;
left:5832.39px;
}
.s_1_Chapter_5-1_309
{
position:absolute;
top:3203.16px;
left:6680.5px;
}
.s_1_Chapter_5-1_310
{
position:absolute;
top:3659.85px;
left:396.85px;
letter-spacing:-0.76px;
}
.s_1_Chapter_5-1_311
{
position:absolute;
top:3659.85px;
left:1609.8px;
letter-spacing:-0.31px;
}
.s_1_Chapter_5-1_312
{
position:absolute;
top:3659.85px;
left:3239.09px;
letter-spacing:-2.18px;
}
.s_1_Chapter_5-1_313
{
position:absolute;
top:3659.85px;
left:3913.88px;
letter-spacing:-3.5px;
}
.s_1_Chapter_5-1_314
{
position:absolute;
top:3659.85px;
left:4137.32px;
}
.s_1_Chapter_5-1_315
{
position:absolute;
top:3659.85px;
left:4935.31px;
}
.s_1_Chapter_5-1_316
{
position:absolute;
top:3659.85px;
left:5750.65px;
letter-spacing:-2.89px;
}
.s_1_Chapter_5-1_317
{
position:absolute;
top:3659.85px;
left:6073.21px;
}
.s_1_Chapter_5-1_318
{
position:absolute;
top:3659.85px;
left:6868.4px;
}
.s_1_Chapter_5-1_319
{
position:absolute;
top:3659.85px;
left:7365.11px;
letter-spacing:-0.36px;
}
.s_1_Chapter_5-1_320
{
position:absolute;
top:4059.85px;
left:396.85px;
}
.s_1_Chapter_5-1_321
{
position:absolute;
top:4059.85px;
left:987.36px;
letter-spacing:-2.38px;
}
.s_1_Chapter_5-1_322
{
position:absolute;
top:4059.85px;
left:1696.03px;
letter-spacing:-2.15px;
}
.s_1_Chapter_5-1_323
{
position:absolute;
top:4059.85px;
left:2038.18px;
}
.s_1_Chapter_5-1_324
{
position:absolute;
top:-12.32px;
left:0px;
}
.s_1_Chapter_5-1_325
{
position:absolute;
top:-12.32px;
left:420.83px;
letter-spacing:-5.11px;
}
.s_1_Chapter_5-1_326
{
position:absolute;
top:-12.32px;
left:971.57px;
letter-spacing:-6.86px;
}
.s_1_Chapter_5-1_327
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.16px;
}
.s_1_Chapter_5-1_328
{
position:absolute;
top:-19.5px;
left:1223.8px;
letter-spacing:-1.75px;
}
.s_1_Chapter_5-1_329
{
position:absolute;
top:-19.5px;
left:1678.27px;
letter-spacing:-1.17px;
}
.s_1_Chapter_5-1_330
{
position:absolute;
top:-19.5px;
left:2376.88px;
letter-spacing:-0.43px;
}
.s_1_Chapter_5-1_331
{
position:absolute;
top:380.5px;
left:0px;
}
.s_1_Chapter_5-1_332
{
position:absolute;
top:380.5px;
left:461.23px;
}
.s_1_Chapter_5-1_333
{
position:absolute;
top:380.5px;
left:953.4px;
letter-spacing:-0.75px;
}
.s_1_Chapter_5-1_334
{
position:absolute;
top:380.5px;
left:1855.07px;
}
.s_1_Chapter_5-1_335
{
position:absolute;
top:380.5px;
left:2507.66px;
letter-spacing:-1.49px;
}
.s_1_Chapter_5-1_336
{
position:absolute;
top:380.5px;
left:2971.49px;
}
.s_1_Chapter_5-1_337
{
position:absolute;
top:780.5px;
left:0px;
letter-spacing:-3.09px;
}
.s_1_Chapter_5-1_338
{
position:absolute;
top:780.5px;
left:1132.54px;
letter-spacing:-1.97px;
}
.s_1_Chapter_5-1_339
{
position:absolute;
top:780.5px;
left:1716.5px;
}
.s_1_Chapter_5-1_340
{
position:absolute;
top:780.5px;
left:2208.67px;
letter-spacing:-2.21px;
}
.s_1_Chapter_5-1_341
{
position:absolute;
top:780.5px;
left:2927.82px;
}
.s_1_Chapter_5-1_342
{
position:absolute;
top:1180.5px;
left:0px;
letter-spacing:-0.64px;
}
.s_1_Chapter_5-1_343
{
position:absolute;
top:1180.5px;
left:1296.6px;
}
.s_1_Chapter_5-1_344
{
position:absolute;
top:1180.5px;
left:1573.23px;
}
.s_1_Chapter_5-1_345
{
position:absolute;
top:1180.5px;
left:1933.33px;
letter-spacing:-2.21px;
}
.s_1_Chapter_5-1_346
{
position:absolute;
top:-14.08px;
left:0px;
letter-spacing:-3.89px;
}
.s_1_Chapter_5-1_347
{
position:absolute;
top:-14.08px;
left:843.18px;
letter-spacing:-4.67px;
}
.s_1_Chapter_5-1_348
{
position:absolute;
top:-14.08px;
left:1635.81px;
letter-spacing:-3.89px;
}
.s_1_Chapter_5-1_349
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-2.6px;
}
.s_1_Chapter_5-1_350
{
position:absolute;
top:-19.5px;
left:225.42px;
letter-spacing:-3.25px;
}
.s_1_Chapter_5-1_351
{
position:absolute;
top:-19.5px;
left:432.89px;
letter-spacing:-1.17px;
}
.s_1_Chapter_5-1_352
{
position:absolute;
top:-19.5px;
left:1197.54px;
letter-spacing:-2.68px;
}
.s_1_Chapter_5-1_353
{
position:absolute;
top:-19.5px;
left:1501.48px;
letter-spacing:-0.16px;
}
.s_1_Chapter_5-1_354
{
position:absolute;
top:-19.5px;
left:2719.82px;
letter-spacing:-1.82px;
}
.s_1_Chapter_5-1_355
{
position:absolute;
top:380.5px;
left:0px;
text-rendering:optimizeLegibility;
letter-spacing:-0.88px;
}
.s_1_Chapter_5-1_356
{
position:absolute;
top:380.5px;
left:489.31px;
letter-spacing:-0.26px;
}
.s_1_Chapter_5-1_357
{
position:absolute;
top:380.5px;
left:1226.14px;
}
.s_1_Chapter_5-1_358
{
position:absolute;
top:380.5px;
left:1539.69px;
letter-spacing:-1.17px;
}
.s_1_Chapter_5-1_359
{
position:absolute;
top:380.5px;
left:2241.16px;
letter-spacing:-3.25px;
}
.s_1_Chapter_5-1_360
{
position:absolute;
top:380.5px;
left:2448.63px;
letter-spacing:-0.32px;
}
.s_1_Chapter_5-1_361
{
position:absolute;
top:380.5px;
left:3512.54px;
letter-spacing:-2.68px;
}
.s_1_Chapter_5-1_362
{
position:absolute;
top:780.5px;
left:0px;
}
.s_1_Chapter_5-1_363
{
position:absolute;
top:780.5px;
left:535.07px;
}
.s_1_Chapter_5-1_364
{
position:absolute;
top:780.5px;
left:1022.3px;
letter-spacing:-0.78px;
}
.s_1_Chapter_5-1_365
{
position:absolute;
top:780.5px;
left:1596.11px;
}
.s_1_Chapter_5-1_366
{
position:absolute;
top:780.5px;
left:2316.31px;
letter-spacing:-0.32px;
}
.s_1_Chapter_5-1_367
{
position:absolute;
top:780.5px;
left:3375.27px;
}
.s_1_Chapter_5-1_368
{
position:absolute;
top:780.5px;
left:3831.83px;
letter-spacing:-1.97px;
}
.s_1_Chapter_5-1_369
{
position:absolute;
top:1180.5px;
left:0px;
letter-spacing:-2.21px;
}
.s_1_Chapter_5-1_370
{
position:absolute;
top:1180.5px;
left:719.15px;
}
.s_1_Chapter_5-1_371
{
position:absolute;
top:1180.5px;
left:995.78px;
}
.s_1_Chapter_5-1_372
{
position:absolute;
top:1180.5px;
left:1453.89px;
letter-spacing:-0.26px;
}
.s_1_Chapter_5-1_373
{
position:absolute;
top:-19.5px;
left:58.88px;
letter-spacing:-10.92px;
}
.s_1_Chapter_5-1_374
{
position:absolute;
top:-19.5px;
left:34.05px;
letter-spacing:-1.95px;
}
.s_1_Chapter_5-1_375
{
position:absolute;
top:-16.5px;
left:0px;
letter-spacing:-0.4px;
}


.page18_btn1 {
	position:absolute;
	top: 276px;
	left: 333px;
}
.page18_btn2 {
	position:absolute;
	top: 276px;
	left: 272px;
}
.page18_item1 {
	position: absolute;
	top: 231px;
	left: 117px;
}
.page18_item2 {
	position: absolute;
	top: 329px;
	left: 231px;
}
.page18_item3 {
	position: absolute;
	top: 480px;
	left: 167px;
}
.page18_item4 {
	position: absolute;
	top: 470px;
	left: 324px;
}
.page18_item5 {
	position: absolute;
	top: 637px;
	left: 95px;
}
.page18_item6 {
	position: absolute;
	top: 588px;
	left: 403px;
}
.page18_item7 {
	position: absolute;
	top: 77px;
	left: 100px;
}
.page18_item8 {
	position: absolute;
	top: 195px;
	left: 273px;
}

.page18_position1 {
	position: absolute;
	top: 435px;
	left: 346px;
}
.page18_position2 {
	position: absolute;
	top: 458px;
	left: 310px;
}
.page18_position3 {
	position: absolute;
	top: 481px;
	left: 315px;
}
.page18_position4 {
	position: absolute;
	top: 524px;
	left: 204px;
}
.page18_position5 {
	position: absolute;
	top: 546px;
	left: 410px;
}
.page18_position6 {
	position: absolute;
	top: 570px;
	left: 341px;
}
.page18_position7 {
	position: absolute;
	top: 592px;
	left: 465px;
}
.page18_position8 {
	position: absolute;
	top: 635px;
	left: 227px;
}
.page18_btn3 {
	position:absolute;
	top: 643px;
	left: 363px;
}
.page18_btn4 {
	position:absolute;
	top: 643px;
	left: 307px;
}
