.d_1_Chapter_6-1_1
{
position:absolute;
overflow:hidden;
left:0px;
top:0px;
transform:translate(0.00px,0.00px);
-webkit-transform:translate(0.00px,0.00px);
-ms-transform:translate(0.00px,0.00px);
-o-transform:translate(0.00px,0.00px);
-moz-transform:translate(0.00px,0.00px);
width:595.28px;
height:841.89px
}
.d_1_Chapter_6-1_2
{
width:560.18px;
height:401.47px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-1_3
{
width:9675.17px;
height:665.99px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,10.05px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,10.05px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,10.05px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,10.05px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,10.05px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-1_4
{
width:9807.87px;
height:598.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-1_5
{
width:1884.76px;
height:288px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-1_6
{
width:5666.15px;
height:934.2px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.36px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-1_7
{
width:7085.98px;
height:1477.1px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-1_8
{
width:7085.98px;
height:1263.6px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-1_9
{
width:6971.88px;
height:1263.6px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-1_10
{
width:6779.29px;
height:1029.2px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,1px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,1px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,1px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,1px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,1px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-1_11
{
width:7398.43px;
height:1623.6px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,1px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,1px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,1px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,1px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,1px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-1_12
{
width:1097.99px;
height:183.6px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.17px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.17px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.17px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.17px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.17px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-1_13
{
width:1097.99px;
height:183.6px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.17px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.17px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.17px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.17px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.17px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-1_14
{
width:1097.99px;
height:183.6px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.17px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.17px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.17px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.17px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.17px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-1_15
{
position:absolute;
overflow:hidden;
left:0px;
top:0px;
transform:translate(595.28px,0.00px);
-webkit-transform:translate(595.28px,0.00px);
-ms-transform:translate(595.28px,0.00px);
-o-transform:translate(595.28px,0.00px);
-moz-transform:translate(595.28px,0.00px);
width:595.28px;
height:841.89px
}
.d_1_Chapter_6-1_16
{
width:560.18px;
height:401.47px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-1_17
{
width:2992.2px;
height:288px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-1_18
{
width:8849.78px;
height:903.6px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-1_19
{
width:7085.98px;
height:1496.59px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-1_20
{
width:7085.98px;
height:1263.6px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,1px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,1px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,1px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,1px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,1px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-1_21
{
width:7215.45px;
height:1263.6px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,1px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,1px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,1px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,1px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,1px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-1_22
{
width:7141.43px;
height:1623.6px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,1px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,1px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,1px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,1px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,1px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-1_23
{
width:7205.98px;
height:1983.6px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-1_24
{
width:6405.12px;
height:1263.6px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,1px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,1px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,1px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,1px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,1px) rotate(0deg) scale(0.05);
}
.s_1_Chapter_6-1_25
{
position:absolute;
top:41.44px;
left:134.15px;
}
.s_1_Chapter_6-1_26
{
position:absolute;
top:-24.51px;
left:0px;
letter-spacing:16.67px;
transform-origin: 0% 690.50px;
-webkit-transform-origin: 0% 690.50px;
-ms-transform-origin: 0% 690.50px;
-o-transform-origin: 0% 690.50px;
-moz-transform-origin: 0% 690.50px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Chapter_6-1_27
{
position:absolute;
top:-24.51px;
left:906.36px;
letter-spacing:18.75px;
transform-origin: 0% 690.50px;
-webkit-transform-origin: 0% 690.50px;
-ms-transform-origin: 0% 690.50px;
-o-transform-origin: 0% 690.50px;
-moz-transform-origin: 0% 690.50px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Chapter_6-1_28
{
position:absolute;
top:-24.51px;
left:2364.9px;
letter-spacing:20.83px;
transform-origin: 0% 690.50px;
-webkit-transform-origin: 0% 690.50px;
-ms-transform-origin: 0% 690.50px;
-o-transform-origin: 0% 690.50px;
-moz-transform-origin: 0% 690.50px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Chapter_6-1_29
{
position:absolute;
top:-24.51px;
left:4479.21px;
letter-spacing:21.43px;
transform-origin: 0% 690.50px;
-webkit-transform-origin: 0% 690.50px;
-ms-transform-origin: 0% 690.50px;
-o-transform-origin: 0% 690.50px;
-moz-transform-origin: 0% 690.50px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Chapter_6-1_30
{
position:absolute;
top:-24.51px;
left:7186.63px;
letter-spacing:12.5px;
transform-origin: 0% 690.50px;
-webkit-transform-origin: 0% 690.50px;
-ms-transform-origin: 0% 690.50px;
-o-transform-origin: 0% 690.50px;
-moz-transform-origin: 0% 690.50px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Chapter_6-1_31
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-3.9px;
}
.s_1_Chapter_6-1_32
{
position:absolute;
top:-19.5px;
left:209.29px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_6-1_33
{
position:absolute;
top:-19.5px;
left:695.75px;
}
.s_1_Chapter_6-1_34
{
position:absolute;
top:-19.5px;
left:928.7px;
letter-spacing:-1.82px;
}
.s_1_Chapter_6-1_35
{
position:absolute;
top:-19.5px;
left:1114.34px;
letter-spacing:-0.33px;
}
.s_1_Chapter_6-1_36
{
position:absolute;
top:-19.5px;
left:1975.96px;
letter-spacing:-0.26px;
}
.s_1_Chapter_6-1_37
{
position:absolute;
top:-19.5px;
left:2495.18px;
letter-spacing:-0.57px;
}
.s_1_Chapter_6-1_38
{
position:absolute;
top:-19.5px;
left:3761.36px;
}
.s_1_Chapter_6-1_39
{
position:absolute;
top:-19.5px;
left:4090.51px;
letter-spacing:-0.16px;
}
.s_1_Chapter_6-1_40
{
position:absolute;
top:-19.5px;
left:4917.04px;
letter-spacing:-2.6px;
}
.s_1_Chapter_6-1_41
{
position:absolute;
top:-19.5px;
left:5597.19px;
letter-spacing:-0.78px;
}
.s_1_Chapter_6-1_42
{
position:absolute;
top:-19.5px;
left:6520.44px;
letter-spacing:0px;
}
.s_1_Chapter_6-1_43
{
position:absolute;
top:-19.5px;
left:6967.37px;
letter-spacing:-1.82px;
}
.s_1_Chapter_6-1_44
{
position:absolute;
top:-19.5px;
left:7153px;
text-rendering:optimizeLegibility;
letter-spacing:-0.55px;
}
.s_1_Chapter_6-1_45
{
position:absolute;
top:-19.5px;
left:8180.51px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_6-1_46
{
position:absolute;
top:-19.5px;
left:8727.81px;
letter-spacing:-1.17px;
}
.s_1_Chapter_6-1_47
{
position:absolute;
top:-19.5px;
left:9138.86px;
}
.s_1_Chapter_6-1_48
{
position:absolute;
top:380.5px;
left:0px;
letter-spacing:-0.62px;
}
.s_1_Chapter_6-1_49
{
position:absolute;
top:380.5px;
left:616.97px;
}
.s_1_Chapter_6-1_50
{
position:absolute;
top:380.5px;
left:1326.76px;
}
.s_1_Chapter_6-1_51
{
position:absolute;
top:380.5px;
left:1748.47px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_6-1_52
{
position:absolute;
top:380.5px;
left:3112.41px;
letter-spacing:-2.51px;
}
.s_1_Chapter_6-1_53
{
position:absolute;
top:380.5px;
left:3391.91px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_6-1_54
{
position:absolute;
top:380.5px;
left:3997.18px;
letter-spacing:-2.51px;
}
.s_1_Chapter_6-1_55
{
position:absolute;
top:380.5px;
left:4276.68px;
text-rendering:optimizeLegibility;
letter-spacing:-0.55px;
}
.s_1_Chapter_6-1_56
{
position:absolute;
top:380.5px;
left:5356.97px;
}
.s_1_Chapter_6-1_57
{
position:absolute;
top:-12.32px;
left:0px;
}
.s_1_Chapter_6-1_58
{
position:absolute;
top:-12.32px;
left:420.83px;
letter-spacing:-5.11px;
}
.s_1_Chapter_6-1_59
{
position:absolute;
top:-12.32px;
left:971.57px;
letter-spacing:-6.86px;
}
.s_1_Chapter_6-1_60
{
position:absolute;
top:-18.75px;
left:0px;
letter-spacing:-0.44px;
}
.s_1_Chapter_6-1_61
{
position:absolute;
top:-18.75px;
left:480.25px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_6-1_62
{
position:absolute;
top:-18.75px;
left:1102.24px;
letter-spacing:-2.58px;
}
.s_1_Chapter_6-1_63
{
position:absolute;
top:-18.75px;
left:1386.74px;
letter-spacing:-1.25px;
}
.s_1_Chapter_6-1_64
{
position:absolute;
top:-18.75px;
left:2665.97px;
letter-spacing:-1.94px;
}
.s_1_Chapter_6-1_65
{
position:absolute;
top:-18.75px;
left:3711.2px;
}
.s_1_Chapter_6-1_66
{
position:absolute;
top:-18.75px;
left:4202.7px;
letter-spacing:-1.22px;
}
.s_1_Chapter_6-1_67
{
position:absolute;
top:341.25px;
left:0px;
letter-spacing:-1.95px;
}
.s_1_Chapter_6-1_68
{
position:absolute;
top:341.25px;
left:598.24px;
}
.s_1_Chapter_6-1_69
{
position:absolute;
top:341.25px;
left:1034.98px;
}
.s_1_Chapter_6-1_70
{
position:absolute;
top:341.25px;
left:1716.47px;
letter-spacing:-1.21px;
}
.s_1_Chapter_6-1_71
{
position:absolute;
top:341.25px;
left:2488.21px;
}
.s_1_Chapter_6-1_72
{
position:absolute;
top:341.25px;
left:3448.69px;
}
.s_1_Chapter_6-1_73
{
position:absolute;
top:341.25px;
left:3783.18px;
}
.s_1_Chapter_6-1_74
{
position:absolute;
top:341.25px;
left:4215.67px;
letter-spacing:-1.12px;
}
.s_1_Chapter_6-1_75
{
position:absolute;
top:341.25px;
left:4880.16px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_6-1_76
{
position:absolute;
top:701.25px;
left:0px;
letter-spacing:-1.95px;
}
.s_1_Chapter_6-1_77
{
position:absolute;
top:701.25px;
left:598.24px;
letter-spacing:-1.12px;
}
.s_1_Chapter_6-1_78
{
position:absolute;
top:701.25px;
left:1266.23px;
}
.s_1_Chapter_6-1_79
{
position:absolute;
top:701.25px;
left:2107.71px;
letter-spacing:-2.58px;
}
.s_1_Chapter_6-1_80
{
position:absolute;
top:701.25px;
left:2393.96px;
letter-spacing:-1.94px;
}
.s_1_Chapter_6-1_81
{
position:absolute;
top:701.25px;
left:3241.45px;
}
.s_1_Chapter_6-1_82
{
position:absolute;
top:701.25px;
left:3851.94px;
}
.s_1_Chapter_6-1_83
{
position:absolute;
top:701.25px;
left:4343.43px;
letter-spacing:-1.69px;
}
.s_1_Chapter_6-1_84
{
position:absolute;
top:-18px;
left:0px;
letter-spacing:-0.42px;
}
.s_1_Chapter_6-1_85
{
position:absolute;
top:-18px;
left:464.4px;
}
.s_1_Chapter_6-1_86
{
position:absolute;
top:-18px;
left:1252.06px;
letter-spacing:-2.48px;
}
.s_1_Chapter_6-1_87
{
position:absolute;
top:-18px;
left:1532.62px;
letter-spacing:-1px;
}
.s_1_Chapter_6-1_88
{
position:absolute;
top:-18px;
left:2202.93px;
}
.s_1_Chapter_6-1_89
{
position:absolute;
top:-18px;
left:2440.05px;
}
.s_1_Chapter_6-1_90
{
position:absolute;
top:-18px;
left:3275.95px;
letter-spacing:-0.42px;
}
.s_1_Chapter_6-1_91
{
position:absolute;
top:-18px;
left:3740.35px;
letter-spacing:-1.62px;
}
.s_1_Chapter_6-1_92
{
position:absolute;
top:-18px;
left:4167.06px;
}
.s_1_Chapter_6-1_93
{
position:absolute;
top:-18px;
left:4418.33px;
}
.s_1_Chapter_6-1_94
{
position:absolute;
top:-18px;
left:4834.25px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_6-1_95
{
position:absolute;
top:-18px;
left:5314.72px;
letter-spacing:-1.31px;
}
.s_1_Chapter_6-1_96
{
position:absolute;
top:-18px;
left:6544.94px;
}
.s_1_Chapter_6-1_97
{
position:absolute;
top:342px;
left:0px;
letter-spacing:-0.46px;
}
.s_1_Chapter_6-1_98
{
position:absolute;
top:342px;
left:1295.5px;
letter-spacing:-1.07px;
}
.s_1_Chapter_6-1_99
{
position:absolute;
top:342px;
left:2494.52px;
}
.s_1_Chapter_6-1_100
{
position:absolute;
top:342px;
left:2995.63px;
}
.s_1_Chapter_6-1_101
{
position:absolute;
top:342px;
left:3541.14px;
letter-spacing:-0.44px;
}
.s_1_Chapter_6-1_102
{
position:absolute;
top:342px;
left:4185.05px;
}
.s_1_Chapter_6-1_103
{
position:absolute;
top:342px;
left:4440.41px;
}
.s_1_Chapter_6-1_104
{
position:absolute;
top:342px;
left:5166.39px;
letter-spacing:-0.42px;
}
.s_1_Chapter_6-1_105
{
position:absolute;
top:342px;
left:5630.79px;
}
.s_1_Chapter_6-1_106
{
position:absolute;
top:342px;
left:6237.98px;
}
.s_1_Chapter_6-1_107
{
position:absolute;
top:702px;
left:0px;
letter-spacing:-1.1px;
}
.s_1_Chapter_6-1_108
{
position:absolute;
top:702px;
left:490.79px;
letter-spacing:-1.31px;
}
.s_1_Chapter_6-1_109
{
position:absolute;
top:702px;
left:1725.09px;
letter-spacing:-0.26px;
}
.s_1_Chapter_6-1_110
{
position:absolute;
top:702px;
left:3111.56px;
}
.s_1_Chapter_6-1_111
{
position:absolute;
top:702px;
left:3425.71px;
letter-spacing:-0.21px;
}
.s_1_Chapter_6-1_112
{
position:absolute;
top:702px;
left:4396.5px;
}
.s_1_Chapter_6-1_113
{
position:absolute;
top:702px;
left:4651.85px;
letter-spacing:-1px;
}
.s_1_Chapter_6-1_114
{
position:absolute;
top:702px;
left:5322.17px;
}
.s_1_Chapter_6-1_115
{
position:absolute;
top:702px;
left:5789.92px;
}
.s_1_Chapter_6-1_116
{
position:absolute;
top:702px;
left:6209.19px;
letter-spacing:-1.28px;
}
.s_1_Chapter_6-1_117
{
position:absolute;
top:1062px;
left:0px;
letter-spacing:-1.92px;
}
.s_1_Chapter_6-1_118
{
position:absolute;
top:1062px;
left:509.51px;
letter-spacing:-0.24px;
}
.s_1_Chapter_6-1_119
{
position:absolute;
top:1062px;
left:1121.02px;
letter-spacing:-1.44px;
}
.s_1_Chapter_6-1_120
{
position:absolute;
top:1062px;
left:2234.6px;
}
.s_1_Chapter_6-1_121
{
position:absolute;
top:1062px;
left:2653.87px;
}
.s_1_Chapter_6-1_122
{
position:absolute;
top:1062px;
left:3338.1px;
}
.s_1_Chapter_6-1_123
{
position:absolute;
top:1062px;
left:4195.36px;
letter-spacing:-2.48px;
}
.s_1_Chapter_6-1_124
{
position:absolute;
top:1062px;
left:4475.92px;
}
.s_1_Chapter_6-1_125
{
position:absolute;
top:-18px;
left:0px;
letter-spacing:-0.42px;
}
.s_1_Chapter_6-1_126
{
position:absolute;
top:-18px;
left:464.4px;
}
.s_1_Chapter_6-1_127
{
position:absolute;
top:-18px;
left:1252.06px;
letter-spacing:-2.48px;
}
.s_1_Chapter_6-1_128
{
position:absolute;
top:-18px;
left:1532.62px;
}
.s_1_Chapter_6-1_129
{
position:absolute;
top:-18px;
left:2863.88px;
}
.s_1_Chapter_6-1_130
{
position:absolute;
top:-18px;
left:3101px;
letter-spacing:-0.48px;
}
.s_1_Chapter_6-1_131
{
position:absolute;
top:-18px;
left:3899.23px;
letter-spacing:-0.42px;
}
.s_1_Chapter_6-1_132
{
position:absolute;
top:-18px;
left:4363.62px;
letter-spacing:-1.08px;
}
.s_1_Chapter_6-1_133
{
position:absolute;
top:-18px;
left:5057.45px;
letter-spacing:-1.17px;
}
.s_1_Chapter_6-1_134
{
position:absolute;
top:-18px;
left:5798.32px;
letter-spacing:-2.48px;
}
.s_1_Chapter_6-1_135
{
position:absolute;
top:-18px;
left:6074.8px;
}
.s_1_Chapter_6-1_136
{
position:absolute;
top:-18px;
left:6490.72px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_6-1_137
{
position:absolute;
top:342px;
left:0px;
letter-spacing:-1.31px;
}
.s_1_Chapter_6-1_138
{
position:absolute;
top:342px;
left:1230.22px;
}
.s_1_Chapter_6-1_139
{
position:absolute;
top:342px;
left:1649.49px;
}
.s_1_Chapter_6-1_140
{
position:absolute;
top:342px;
left:2156.84px;
letter-spacing:-1.36px;
}
.s_1_Chapter_6-1_141
{
position:absolute;
top:342px;
left:3198.19px;
}
.s_1_Chapter_6-1_142
{
position:absolute;
top:342px;
left:3699.3px;
}
.s_1_Chapter_6-1_143
{
position:absolute;
top:342px;
left:4118.57px;
letter-spacing:-1.23px;
}
.s_1_Chapter_6-1_144
{
position:absolute;
top:342px;
left:5014.96px;
}
.s_1_Chapter_6-1_145
{
position:absolute;
top:342px;
left:5463.99px;
}
.s_1_Chapter_6-1_146
{
position:absolute;
top:342px;
left:5931.75px;
}
.s_1_Chapter_6-1_147
{
position:absolute;
top:342px;
left:6351.02px;
letter-spacing:-1.62px;
}
.s_1_Chapter_6-1_148
{
position:absolute;
top:702px;
left:0px;
}
.s_1_Chapter_6-1_149
{
position:absolute;
top:702px;
left:498.47px;
}
.s_1_Chapter_6-1_150
{
position:absolute;
top:702px;
left:749.75px;
}
.s_1_Chapter_6-1_151
{
position:absolute;
top:702px;
left:1169.02px;
letter-spacing:-1.51px;
}
.s_1_Chapter_6-1_152
{
position:absolute;
top:702px;
left:1928.13px;
letter-spacing:-0.24px;
}
.s_1_Chapter_6-1_153
{
position:absolute;
top:702px;
left:3192.43px;
}
.s_1_Chapter_6-1_154
{
position:absolute;
top:702px;
left:3611.7px;
}
.s_1_Chapter_6-1_155
{
position:absolute;
top:702px;
left:4273.61px;
}
.s_1_Chapter_6-1_156
{
position:absolute;
top:702px;
left:4725.77px;
}
.s_1_Chapter_6-1_157
{
position:absolute;
top:702px;
left:5035.36px;
letter-spacing:-0.58px;
}
.s_1_Chapter_6-1_158
{
position:absolute;
top:702px;
left:5535.51px;
}
.s_1_Chapter_6-1_159
{
position:absolute;
top:702px;
left:5845.59px;
}
.s_1_Chapter_6-1_160
{
position:absolute;
top:702px;
left:6264.86px;
}
.s_1_Chapter_6-1_161
{
position:absolute;
top:1062px;
left:0px;
}
.s_1_Chapter_6-1_162
{
position:absolute;
top:1062px;
left:532.55px;
}
.s_1_Chapter_6-1_163
{
position:absolute;
top:1062px;
left:1064.62px;
}
.s_1_Chapter_6-1_164
{
position:absolute;
top:1062px;
left:1315.9px;
}
.s_1_Chapter_6-1_165
{
position:absolute;
top:1062px;
left:1735.17px;
}
.s_1_Chapter_6-1_166
{
position:absolute;
top:1062px;
left:2697.07px;
letter-spacing:-2.4px;
}
.s_1_Chapter_6-1_167
{
position:absolute;
top:1062px;
left:3071.22px;
}
.s_1_Chapter_6-1_168
{
position:absolute;
top:1062px;
left:3394.74px;
letter-spacing:-0.2px;
}
.s_1_Chapter_6-1_169
{
position:absolute;
top:-18px;
left:0px;
}
.s_1_Chapter_6-1_170
{
position:absolute;
top:-18px;
left:1321.18px;
}
.s_1_Chapter_6-1_171
{
position:absolute;
top:-18px;
left:1554.22px;
}
.s_1_Chapter_6-1_172
{
position:absolute;
top:-18px;
left:1973.49px;
}
.s_1_Chapter_6-1_173
{
position:absolute;
top:-18px;
left:2761.15px;
letter-spacing:-2.48px;
}
.s_1_Chapter_6-1_174
{
position:absolute;
top:-18px;
left:3041.71px;
letter-spacing:-0.38px;
}
.s_1_Chapter_6-1_175
{
position:absolute;
top:-18px;
left:3784.5px;
letter-spacing:-0.34px;
}
.s_1_Chapter_6-1_176
{
position:absolute;
top:-18px;
left:4288.02px;
}
.s_1_Chapter_6-1_177
{
position:absolute;
top:-18px;
left:4521.05px;
}
.s_1_Chapter_6-1_178
{
position:absolute;
top:-18px;
left:4940.32px;
letter-spacing:-1.15px;
}
.s_1_Chapter_6-1_179
{
position:absolute;
top:-18px;
left:5453.2px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_6-1_180
{
position:absolute;
top:-18px;
left:5933.67px;
}
.s_1_Chapter_6-1_181
{
position:absolute;
top:-18px;
left:6184.94px;
}
.s_1_Chapter_6-1_182
{
position:absolute;
top:342px;
left:0px;
letter-spacing:-0.48px;
}
.s_1_Chapter_6-1_183
{
position:absolute;
top:342px;
left:680.63px;
}
.s_1_Chapter_6-1_184
{
position:absolute;
top:342px;
left:1387.42px;
}
.s_1_Chapter_6-1_185
{
position:absolute;
top:342px;
left:1624.53px;
letter-spacing:-0.54px;
}
.s_1_Chapter_6-1_186
{
position:absolute;
top:342px;
left:2046.69px;
letter-spacing:-1.44px;
}
.s_1_Chapter_6-1_187
{
position:absolute;
top:342px;
left:3404.34px;
letter-spacing:-0.42px;
}
.s_1_Chapter_6-1_188
{
position:absolute;
top:342px;
left:3864.66px;
letter-spacing:-0.72px;
}
.s_1_Chapter_6-1_189
{
position:absolute;
top:342px;
left:4341.77px;
letter-spacing:-0.5px;
}
.s_1_Chapter_6-1_190
{
position:absolute;
top:342px;
left:5463.51px;
}
.s_1_Chapter_6-1_191
{
position:absolute;
top:342px;
left:6432.37px;
letter-spacing:-2.48px;
}
.s_1_Chapter_6-1_192
{
position:absolute;
top:702px;
left:0px;
}
.s_1_Chapter_6-1_193
{
position:absolute;
top:702px;
left:415.91px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_6-1_194
{
position:absolute;
top:702px;
left:896.39px;
letter-spacing:-1.44px;
}
.s_1_Chapter_6-1_195
{
position:absolute;
top:702px;
left:2009.97px;
}
.s_1_Chapter_6-1_196
{
position:absolute;
top:702px;
left:2425.16px;
letter-spacing:-0.72px;
}
.s_1_Chapter_6-1_197
{
position:absolute;
top:702px;
left:2906.35px;
}
.s_1_Chapter_6-1_198
{
position:absolute;
top:702px;
left:3501.3px;
letter-spacing:-0.65px;
}
.s_1_Chapter_6-1_199
{
position:absolute;
top:702px;
left:4478.33px;
}
.s_1_Chapter_6-1_200
{
position:absolute;
top:702px;
left:4983.52px;
letter-spacing:-1.62px;
}
.s_1_Chapter_6-1_201
{
position:absolute;
top:702px;
left:5399.67px;
letter-spacing:-1.09px;
}
.s_1_Chapter_6-1_202
{
position:absolute;
top:702px;
left:6392.78px;
}
.s_1_Chapter_6-1_203
{
position:absolute;
top:1062px;
left:0px;
letter-spacing:-0.38px;
}
.s_1_Chapter_6-1_204
{
position:absolute;
top:1062px;
left:751.91px;
letter-spacing:-0.16px;
}
.s_1_Chapter_6-1_205
{
position:absolute;
top:1062px;
left:1892.86px;
}
.s_1_Chapter_6-1_206
{
position:absolute;
top:1062px;
left:2364.69px;
}
.s_1_Chapter_6-1_207
{
position:absolute;
top:224.8px;
left:0px;
letter-spacing:-0.42px;
}
.s_1_Chapter_6-1_208
{
position:absolute;
top:224.8px;
left:464.4px;
}
.s_1_Chapter_6-1_209
{
position:absolute;
top:224.8px;
left:1252.06px;
letter-spacing:-2.48px;
}
.s_1_Chapter_6-1_210
{
position:absolute;
top:224.8px;
left:1532.62px;
letter-spacing:-0.96px;
}
.s_1_Chapter_6-1_211
{
position:absolute;
top:224.8px;
left:2219.25px;
}
.s_1_Chapter_6-1_212
{
position:absolute;
top:224.8px;
left:2456.36px;
letter-spacing:-1.3px;
}
.s_1_Chapter_6-1_213
{
position:absolute;
top:224.8px;
left:3136.99px;
letter-spacing:-0.42px;
}
.s_1_Chapter_6-1_214
{
position:absolute;
top:224.8px;
left:3598.03px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_6-1_215
{
position:absolute;
top:224.8px;
left:4078.5px;
letter-spacing:-2.48px;
}
.s_1_Chapter_6-1_216
{
position:absolute;
top:224.8px;
left:4359.06px;
letter-spacing:-0.96px;
}
.s_1_Chapter_6-1_217
{
position:absolute;
top:224.8px;
left:5045.68px;
}
.s_1_Chapter_6-1_218
{
position:absolute;
top:224.8px;
left:5494.72px;
}
.s_1_Chapter_6-1_219
{
position:absolute;
top:224.8px;
left:5818.23px;
}
.s_1_Chapter_6-1_220
{
position:absolute;
top:584.8px;
left:0px;
}
.s_1_Chapter_6-1_221
{
position:absolute;
top:584.8px;
left:994.07px;
}
.s_1_Chapter_6-1_222
{
position:absolute;
top:584.8px;
left:1413.34px;
}
.s_1_Chapter_6-1_223
{
position:absolute;
top:584.8px;
left:2071.41px;
letter-spacing:-2.48px;
}
.s_1_Chapter_6-1_224
{
position:absolute;
top:584.8px;
left:2351.97px;
}
.s_1_Chapter_6-1_225
{
position:absolute;
top:584.8px;
left:3199.88px;
}
.s_1_Chapter_6-1_226
{
position:absolute;
top:584.8px;
left:3479.71px;
}
.s_1_Chapter_6-1_227
{
position:absolute;
top:584.8px;
left:3898.98px;
letter-spacing:-1.51px;
}
.s_1_Chapter_6-1_228
{
position:absolute;
top:584.8px;
left:4658.09px;
letter-spacing:-2.48px;
}
.s_1_Chapter_6-1_229
{
position:absolute;
top:584.8px;
left:4934.57px;
}
.s_1_Chapter_6-1_230
{
position:absolute;
top:584.8px;
left:5349.28px;
}
.s_1_Chapter_6-1_231
{
position:absolute;
top:584.8px;
left:6018.39px;
}
.s_1_Chapter_6-1_232
{
position:absolute;
top:192px;
left:0px;
letter-spacing:-0.42px;
}
.s_1_Chapter_6-1_233
{
position:absolute;
top:192px;
left:464.4px;
}
.s_1_Chapter_6-1_234
{
position:absolute;
top:192px;
left:1252.06px;
letter-spacing:-2.48px;
}
.s_1_Chapter_6-1_235
{
position:absolute;
top:192px;
left:1532.62px;
letter-spacing:-0.21px;
}
.s_1_Chapter_6-1_236
{
position:absolute;
top:192px;
left:2369.01px;
}
.s_1_Chapter_6-1_237
{
position:absolute;
top:192px;
left:2599.4px;
letter-spacing:-0.21px;
}
.s_1_Chapter_6-1_238
{
position:absolute;
top:192px;
left:3517.87px;
letter-spacing:-0.42px;
}
.s_1_Chapter_6-1_239
{
position:absolute;
top:192px;
left:3982.27px;
}
.s_1_Chapter_6-1_240
{
position:absolute;
top:192px;
left:4826.57px;
}
.s_1_Chapter_6-1_241
{
position:absolute;
top:192px;
left:5160.41px;
}
.s_1_Chapter_6-1_242
{
position:absolute;
top:192px;
left:5576.32px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_6-1_243
{
position:absolute;
top:192px;
left:6056.79px;
letter-spacing:-1.31px;
}
.s_1_Chapter_6-1_244
{
position:absolute;
top:532px;
left:0px;
}
.s_1_Chapter_6-1_245
{
position:absolute;
top:532px;
left:419.27px;
letter-spacing:-1.1px;
}
.s_1_Chapter_6-1_246
{
position:absolute;
top:532px;
left:1490.61px;
letter-spacing:-1.29px;
}
.s_1_Chapter_6-1_247
{
position:absolute;
top:532px;
left:2236.03px;
letter-spacing:-0.42px;
}
.s_1_Chapter_6-1_248
{
position:absolute;
top:532px;
left:2700.43px;
letter-spacing:-0.79px;
}
.s_1_Chapter_6-1_249
{
position:absolute;
top:532px;
left:3447.3px;
}
.s_1_Chapter_6-1_250
{
position:absolute;
top:532px;
left:3781.14px;
}
.s_1_Chapter_6-1_251
{
position:absolute;
top:532px;
left:4200.41px;
letter-spacing:-1.28px;
}
.s_1_Chapter_6-1_252
{
position:absolute;
top:532px;
left:5209.35px;
letter-spacing:-0.82px;
}
.s_1_Chapter_6-1_253
{
position:absolute;
top:532px;
left:5774.54px;
letter-spacing:-0.53px;
}
.s_1_Chapter_6-1_254
{
position:absolute;
top:532px;
left:6923.17px;
}
.s_1_Chapter_6-1_255
{
position:absolute;
top:872px;
left:0px;
letter-spacing:-0.36px;
}
.s_1_Chapter_6-1_256
{
position:absolute;
top:872px;
left:848.14px;
letter-spacing:-0.42px;
}
.s_1_Chapter_6-1_257
{
position:absolute;
top:872px;
left:1312.54px;
}
.s_1_Chapter_6-1_258
{
position:absolute;
top:872px;
left:2150.13px;
letter-spacing:-1.17px;
}
.s_1_Chapter_6-1_259
{
position:absolute;
top:872px;
left:2891px;
letter-spacing:-2.48px;
}
.s_1_Chapter_6-1_260
{
position:absolute;
top:872px;
left:3167.48px;
}
.s_1_Chapter_6-1_261
{
position:absolute;
top:872px;
left:3583.39px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_6-1_262
{
position:absolute;
top:872px;
left:4063.86px;
}
.s_1_Chapter_6-1_263
{
position:absolute;
top:872px;
left:4920.64px;
letter-spacing:-0.16px;
}
.s_1_Chapter_6-1_264
{
position:absolute;
top:872px;
left:6061.59px;
}
.s_1_Chapter_6-1_265
{
position:absolute;
top:872px;
left:6529.35px;
}
.s_1_Chapter_6-1_266
{
position:absolute;
top:1212px;
left:0px;
letter-spacing:-0.96px;
}
.s_1_Chapter_6-1_267
{
position:absolute;
top:1212px;
left:762.95px;
letter-spacing:-1.31px;
}
.s_1_Chapter_6-1_268
{
position:absolute;
top:1212px;
left:1993.17px;
}
.s_1_Chapter_6-1_269
{
position:absolute;
top:1212px;
left:2412.44px;
letter-spacing:-0.58px;
}
.s_1_Chapter_6-1_270
{
position:absolute;
top:1212px;
left:3464.82px;
letter-spacing:-2.48px;
}
.s_1_Chapter_6-1_271
{
position:absolute;
top:1212px;
left:3741.3px;
}
.s_1_Chapter_6-1_272
{
position:absolute;
top:1212px;
left:4160.57px;
}
.s_1_Chapter_6-1_273
{
position:absolute;
top:-17.25px;
left:22.88px;
letter-spacing:-2.04px;
}
.s_1_Chapter_6-1_274
{
position:absolute;
top:-17.25px;
left:124.42px;
letter-spacing:-1.38px;
}
.s_1_Chapter_6-1_275
{
position:absolute;
top:-17.25px;
left:66.23px;
letter-spacing:-1.26px;
}
.s_1_Chapter_6-1_276
{
position:absolute;
top:41.44px;
left:134.15px;
}
.s_1_Chapter_6-1_277
{
position:absolute;
top:-14.08px;
left:0px;
letter-spacing:-3.89px;
}
.s_1_Chapter_6-1_278
{
position:absolute;
top:-14.08px;
left:843.18px;
letter-spacing:-4.67px;
}
.s_1_Chapter_6-1_279
{
position:absolute;
top:-14.08px;
left:1635.81px;
letter-spacing:-3.89px;
}
.s_1_Chapter_6-1_280
{
position:absolute;
top:-18px;
left:0px;
letter-spacing:-1.36px;
}
.s_1_Chapter_6-1_281
{
position:absolute;
top:-18px;
left:686.39px;
letter-spacing:-1.62px;
}
.s_1_Chapter_6-1_282
{
position:absolute;
top:-18px;
left:1105.91px;
letter-spacing:-0.72px;
}
.s_1_Chapter_6-1_283
{
position:absolute;
top:-18px;
left:2260.53px;
letter-spacing:-0.41px;
}
.s_1_Chapter_6-1_284
{
position:absolute;
top:-18px;
left:3333.8px;
}
.s_1_Chapter_6-1_285
{
position:absolute;
top:-18px;
left:4112.35px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_6-1_286
{
position:absolute;
top:-18px;
left:4709.46px;
letter-spacing:-0.33px;
}
.s_1_Chapter_6-1_287
{
position:absolute;
top:-18px;
left:5541.53px;
letter-spacing:-2.48px;
}
.s_1_Chapter_6-1_288
{
position:absolute;
top:-18px;
left:5822.08px;
letter-spacing:-1.15px;
}
.s_1_Chapter_6-1_289
{
position:absolute;
top:-18px;
left:6334.24px;
letter-spacing:-0.72px;
}
.s_1_Chapter_6-1_290
{
position:absolute;
top:-18px;
left:6815.43px;
letter-spacing:-0.45px;
}
.s_1_Chapter_6-1_291
{
position:absolute;
top:342px;
left:0px;
}
.s_1_Chapter_6-1_292
{
position:absolute;
top:342px;
left:480.48px;
letter-spacing:-0.96px;
}
.s_1_Chapter_6-1_293
{
position:absolute;
top:342px;
left:943.91px;
}
.s_1_Chapter_6-1_294
{
position:absolute;
top:342px;
left:1612.3px;
}
.s_1_Chapter_6-1_295
{
position:absolute;
top:342px;
left:2027.49px;
letter-spacing:-1.08px;
}
.s_1_Chapter_6-1_296
{
position:absolute;
top:342px;
left:2668.76px;
letter-spacing:-0.41px;
}
.s_1_Chapter_6-1_297
{
position:absolute;
top:342px;
left:3742.51px;
}
.s_1_Chapter_6-1_298
{
position:absolute;
top:342px;
left:4247.7px;
}
.s_1_Chapter_6-1_299
{
position:absolute;
top:342px;
left:4908.89px;
}
.s_1_Chapter_6-1_300
{
position:absolute;
top:342px;
left:5441.2px;
}
.s_1_Chapter_6-1_301
{
position:absolute;
top:342px;
left:5860.47px;
letter-spacing:-0.79px;
}
.s_1_Chapter_6-1_302
{
position:absolute;
top:342px;
left:6509.41px;
letter-spacing:-0.54px;
}
.s_1_Chapter_6-1_303
{
position:absolute;
top:342px;
left:6824.52px;
}
.s_1_Chapter_6-1_304
{
position:absolute;
top:342px;
left:7296.36px;
letter-spacing:-1.87px;
}
.s_1_Chapter_6-1_305
{
position:absolute;
top:342px;
left:7871.39px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_6-1_306
{
position:absolute;
top:702px;
left:0px;
}
.s_1_Chapter_6-1_307
{
position:absolute;
top:702px;
left:536.39px;
letter-spacing:-3px;
}
.s_1_Chapter_6-1_308
{
position:absolute;
top:702px;
left:727.91px;
letter-spacing:-0.22px;
}
.s_1_Chapter_6-1_309
{
position:absolute;
top:702px;
left:2132.85px;
letter-spacing:-2.48px;
}
.s_1_Chapter_6-1_310
{
position:absolute;
top:702px;
left:2413.41px;
letter-spacing:-1.62px;
}
.s_1_Chapter_6-1_311
{
position:absolute;
top:702px;
left:2840.12px;
}
.s_1_Chapter_6-1_312
{
position:absolute;
top:702px;
left:3307.39px;
}
.s_1_Chapter_6-1_313
{
position:absolute;
top:702px;
left:3976.5px;
letter-spacing:-0.38px;
}
.s_1_Chapter_6-1_314
{
position:absolute;
top:-18px;
left:0px;
letter-spacing:-0.42px;
}
.s_1_Chapter_6-1_315
{
position:absolute;
top:-18px;
left:464.4px;
}
.s_1_Chapter_6-1_316
{
position:absolute;
top:-18px;
left:1252.06px;
letter-spacing:-2.48px;
}
.s_1_Chapter_6-1_317
{
position:absolute;
top:-18px;
left:1528.54px;
}
.s_1_Chapter_6-1_318
{
position:absolute;
top:-18px;
left:1947.81px;
letter-spacing:-0.27px;
}
.s_1_Chapter_6-1_319
{
position:absolute;
top:-18px;
left:2729px;
letter-spacing:-0.51px;
}
.s_1_Chapter_6-1_320
{
position:absolute;
top:-18px;
left:3478.5px;
letter-spacing:-2.48px;
}
.s_1_Chapter_6-1_321
{
position:absolute;
top:-18px;
left:3751.86px;
letter-spacing:-0.75px;
}
.s_1_Chapter_6-1_322
{
position:absolute;
top:-18px;
left:4705.85px;
}
.s_1_Chapter_6-1_323
{
position:absolute;
top:-18px;
left:4942.96px;
letter-spacing:-0.8px;
}
.s_1_Chapter_6-1_324
{
position:absolute;
top:-18px;
left:6346.22px;
}
.s_1_Chapter_6-1_325
{
position:absolute;
top:342px;
left:0px;
letter-spacing:-0.42px;
}
.s_1_Chapter_6-1_326
{
position:absolute;
top:342px;
left:464.4px;
}
.s_1_Chapter_6-1_327
{
position:absolute;
top:342px;
left:806.15px;
letter-spacing:-0.24px;
}
.s_1_Chapter_6-1_328
{
position:absolute;
top:342px;
left:1417.65px;
}
.s_1_Chapter_6-1_329
{
position:absolute;
top:342px;
left:1668.93px;
}
.s_1_Chapter_6-1_330
{
position:absolute;
top:342px;
left:2084.84px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_6-1_331
{
position:absolute;
top:342px;
left:2565.31px;
letter-spacing:-1.44px;
}
.s_1_Chapter_6-1_332
{
position:absolute;
top:342px;
left:3678.9px;
}
.s_1_Chapter_6-1_333
{
position:absolute;
top:342px;
left:4098.17px;
}
.s_1_Chapter_6-1_334
{
position:absolute;
top:342px;
left:4439.92px;
}
.s_1_Chapter_6-1_335
{
position:absolute;
top:342px;
left:5176.22px;
letter-spacing:-2.48px;
}
.s_1_Chapter_6-1_336
{
position:absolute;
top:342px;
left:5452.7px;
}
.s_1_Chapter_6-1_337
{
position:absolute;
top:342px;
left:5871.97px;
letter-spacing:-1.6px;
}
.s_1_Chapter_6-1_338
{
position:absolute;
top:702px;
left:0px;
}
.s_1_Chapter_6-1_339
{
position:absolute;
top:702px;
left:467.75px;
}
.s_1_Chapter_6-1_340
{
position:absolute;
top:702px;
left:887.03px;
}
.s_1_Chapter_6-1_341
{
position:absolute;
top:702px;
left:1137.58px;
}
.s_1_Chapter_6-1_342
{
position:absolute;
top:702px;
left:1945.4px;
letter-spacing:-1.44px;
}
.s_1_Chapter_6-1_343
{
position:absolute;
top:702px;
left:3058.98px;
}
.s_1_Chapter_6-1_344
{
position:absolute;
top:702px;
left:3478.25px;
}
.s_1_Chapter_6-1_345
{
position:absolute;
top:702px;
left:4348.71px;
}
.s_1_Chapter_6-1_346
{
position:absolute;
top:702px;
left:4599.27px;
letter-spacing:-0.29px;
}
.s_1_Chapter_6-1_347
{
position:absolute;
top:702px;
left:5549.89px;
}
.s_1_Chapter_6-1_348
{
position:absolute;
top:702px;
left:6055.08px;
}
.s_1_Chapter_6-1_349
{
position:absolute;
top:1062px;
left:0px;
letter-spacing:-0.92px;
}
.s_1_Chapter_6-1_350
{
position:absolute;
top:1062px;
left:564.71px;
letter-spacing:-0.2px;
}
.s_1_Chapter_6-1_351
{
position:absolute;
top:1062px;
left:2154.69px;
letter-spacing:-1.3px;
}
.s_1_Chapter_6-1_352
{
position:absolute;
top:1062px;
left:2739.32px;
letter-spacing:-1.4px;
}
.s_1_Chapter_6-1_353
{
position:absolute;
top:1062px;
left:3417.07px;
letter-spacing:-0.18px;
}
.s_1_Chapter_6-1_354
{
position:absolute;
top:162px;
left:0px;
letter-spacing:-0.42px;
}
.s_1_Chapter_6-1_355
{
position:absolute;
top:162px;
left:461.04px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_6-1_356
{
position:absolute;
top:162px;
left:941.51px;
letter-spacing:-2.48px;
}
.s_1_Chapter_6-1_357
{
position:absolute;
top:162px;
left:1222.07px;
letter-spacing:-0.36px;
}
.s_1_Chapter_6-1_358
{
position:absolute;
top:162px;
left:1570.3px;
letter-spacing:-1.32px;
}
.s_1_Chapter_6-1_359
{
position:absolute;
top:162px;
left:2276.14px;
}
.s_1_Chapter_6-1_360
{
position:absolute;
top:162px;
left:2513.25px;
}
.s_1_Chapter_6-1_361
{
position:absolute;
top:162px;
left:2983.88px;
letter-spacing:-2.48px;
}
.s_1_Chapter_6-1_362
{
position:absolute;
top:162px;
left:3260.36px;
}
.s_1_Chapter_6-1_363
{
position:absolute;
top:162px;
left:3675.07px;
letter-spacing:-1.23px;
}
.s_1_Chapter_6-1_364
{
position:absolute;
top:162px;
left:4529.46px;
}
.s_1_Chapter_6-1_365
{
position:absolute;
top:162px;
left:5259.53px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_6-1_366
{
position:absolute;
top:162px;
left:5913.03px;
letter-spacing:-0.64px;
}
.s_1_Chapter_6-1_367
{
position:absolute;
top:162px;
left:6127.83px;
}
.s_1_Chapter_6-1_368
{
position:absolute;
top:162px;
left:6364.94px;
}
.s_1_Chapter_6-1_369
{
position:absolute;
top:522px;
left:0px;
letter-spacing:-0.48px;
}
.s_1_Chapter_6-1_370
{
position:absolute;
top:522px;
left:782.87px;
}
.s_1_Chapter_6-1_371
{
position:absolute;
top:522px;
left:1092.95px;
}
.s_1_Chapter_6-1_372
{
position:absolute;
top:522px;
left:1512.22px;
}
.s_1_Chapter_6-1_373
{
position:absolute;
top:522px;
left:2095.41px;
letter-spacing:-4.49px;
}
.s_1_Chapter_6-1_374
{
position:absolute;
top:522px;
left:2699.24px;
letter-spacing:-0.36px;
}
.s_1_Chapter_6-1_375
{
position:absolute;
top:522px;
left:3047.47px;
letter-spacing:-1.32px;
}
.s_1_Chapter_6-1_376
{
position:absolute;
top:522px;
left:3753.31px;
}
.s_1_Chapter_6-1_377
{
position:absolute;
top:522px;
left:3990.42px;
}
.s_1_Chapter_6-1_378
{
position:absolute;
top:522px;
left:4322.82px;
}
.s_1_Chapter_6-1_379
{
position:absolute;
top:522px;
left:5021.69px;
letter-spacing:-1.6px;
}
.s_1_Chapter_6-1_380
{
position:absolute;
top:522px;
left:5972.31px;
letter-spacing:-0.69px;
}
.s_1_Chapter_6-1_381
{
position:absolute;
top:882px;
left:0px;
letter-spacing:-0.48px;
}
.s_1_Chapter_6-1_382
{
position:absolute;
top:882px;
left:782.87px;
}
.s_1_Chapter_6-1_383
{
position:absolute;
top:882px;
left:1097.03px;
letter-spacing:-0.99px;
}
.s_1_Chapter_6-1_384
{
position:absolute;
top:882px;
left:1947.33px;
letter-spacing:-0.42px;
}
.s_1_Chapter_6-1_385
{
position:absolute;
top:882px;
left:2411.73px;
}
.s_1_Chapter_6-1_386
{
position:absolute;
top:882px;
left:3264.67px;
letter-spacing:-2.48px;
}
.s_1_Chapter_6-1_387
{
position:absolute;
top:882px;
left:3545.23px;
letter-spacing:-0.36px;
}
.s_1_Chapter_6-1_388
{
position:absolute;
top:882px;
left:3893.46px;
letter-spacing:-1.32px;
}
.s_1_Chapter_6-1_389
{
position:absolute;
top:882px;
left:4599.29px;
}
.s_1_Chapter_6-1_390
{
position:absolute;
top:882px;
left:4836.41px;
letter-spacing:-0.9px;
}
.s_1_Chapter_6-1_391
{
position:absolute;
top:162px;
left:0px;
letter-spacing:-0.42px;
}
.s_1_Chapter_6-1_392
{
position:absolute;
top:162px;
left:464.4px;
}
.s_1_Chapter_6-1_393
{
position:absolute;
top:162px;
left:1252.06px;
letter-spacing:-2.48px;
}
.s_1_Chapter_6-1_394
{
position:absolute;
top:162px;
left:1532.62px;
letter-spacing:-0.21px;
}
.s_1_Chapter_6-1_395
{
position:absolute;
top:162px;
left:2199.81px;
}
.s_1_Chapter_6-1_396
{
position:absolute;
top:162px;
left:2436.92px;
letter-spacing:-0.14px;
}
.s_1_Chapter_6-1_397
{
position:absolute;
top:162px;
left:3348.66px;
letter-spacing:-0.48px;
}
.s_1_Chapter_6-1_398
{
position:absolute;
top:162px;
left:3676.74px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_6-1_399
{
position:absolute;
top:162px;
left:4157.21px;
}
.s_1_Chapter_6-1_400
{
position:absolute;
top:162px;
left:4606.24px;
letter-spacing:-3px;
}
.s_1_Chapter_6-1_401
{
position:absolute;
top:162px;
left:4793.2px;
}
.s_1_Chapter_6-1_402
{
position:absolute;
top:162px;
left:5462.31px;
letter-spacing:-0.79px;
}
.s_1_Chapter_6-1_403
{
position:absolute;
top:162px;
left:6291.25px;
}
.s_1_Chapter_6-1_404
{
position:absolute;
top:522px;
left:0px;
letter-spacing:-3px;
}
.s_1_Chapter_6-1_405
{
position:absolute;
top:522px;
left:191.52px;
}
.s_1_Chapter_6-1_406
{
position:absolute;
top:522px;
left:718.79px;
letter-spacing:-0.26px;
}
.s_1_Chapter_6-1_407
{
position:absolute;
top:522px;
left:1669.65px;
}
.s_1_Chapter_6-1_408
{
position:absolute;
top:522px;
left:2387.96px;
letter-spacing:-0.42px;
}
.s_1_Chapter_6-1_409
{
position:absolute;
top:522px;
left:2849px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_6-1_410
{
position:absolute;
top:522px;
left:3329.47px;
letter-spacing:-0.45px;
}
.s_1_Chapter_6-1_411
{
position:absolute;
top:522px;
left:4310.58px;
}
.s_1_Chapter_6-1_412
{
position:absolute;
top:522px;
left:4605.29px;
}
.s_1_Chapter_6-1_413
{
position:absolute;
top:522px;
left:5274.4px;
letter-spacing:-0.24px;
}
.s_1_Chapter_6-1_414
{
position:absolute;
top:522px;
left:5881.83px;
}
.s_1_Chapter_6-1_415
{
position:absolute;
top:882px;
left:0px;
letter-spacing:-1.44px;
}
.s_1_Chapter_6-1_416
{
position:absolute;
top:882px;
left:1113.58px;
}
.s_1_Chapter_6-1_417
{
position:absolute;
top:882px;
left:1532.85px;
}
.s_1_Chapter_6-1_418
{
position:absolute;
top:882px;
left:1854.93px;
}
.s_1_Chapter_6-1_419
{
position:absolute;
top:882px;
left:2591.23px;
letter-spacing:-2.48px;
}
.s_1_Chapter_6-1_420
{
position:absolute;
top:882px;
left:2867.71px;
}
.s_1_Chapter_6-1_421
{
position:absolute;
top:882px;
left:3286.98px;
letter-spacing:-1.23px;
}
.s_1_Chapter_6-1_422
{
position:absolute;
top:882px;
left:4183.37px;
}
.s_1_Chapter_6-1_423
{
position:absolute;
top:882px;
left:4651.12px;
}
.s_1_Chapter_6-1_424
{
position:absolute;
top:882px;
left:5070.4px;
letter-spacing:-1.95px;
}
.s_1_Chapter_6-1_425
{
position:absolute;
top:882px;
left:5935.83px;
letter-spacing:-0.14px;
}
.s_1_Chapter_6-1_426
{
position:absolute;
top:192px;
left:0px;
letter-spacing:-0.42px;
}
.s_1_Chapter_6-1_427
{
position:absolute;
top:192px;
left:464.4px;
}
.s_1_Chapter_6-1_428
{
position:absolute;
top:192px;
left:1252.06px;
letter-spacing:-2.48px;
}
.s_1_Chapter_6-1_429
{
position:absolute;
top:192px;
left:1525.42px;
letter-spacing:-0.89px;
}
.s_1_Chapter_6-1_430
{
position:absolute;
top:192px;
left:2540.36px;
}
.s_1_Chapter_6-1_431
{
position:absolute;
top:192px;
left:2777.48px;
}
.s_1_Chapter_6-1_432
{
position:absolute;
top:192px;
left:3915.29px;
letter-spacing:-0.48px;
}
.s_1_Chapter_6-1_433
{
position:absolute;
top:192px;
left:4243.37px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_6-1_434
{
position:absolute;
top:192px;
left:4723.84px;
}
.s_1_Chapter_6-1_435
{
position:absolute;
top:192px;
left:5172.87px;
letter-spacing:-3px;
}
.s_1_Chapter_6-1_436
{
position:absolute;
top:192px;
left:5364.39px;
}
.s_1_Chapter_6-1_437
{
position:absolute;
top:532px;
left:0px;
letter-spacing:-1.33px;
}
.s_1_Chapter_6-1_438
{
position:absolute;
top:532px;
left:1343.98px;
}
.s_1_Chapter_6-1_439
{
position:absolute;
top:532px;
left:2237.73px;
}
.s_1_Chapter_6-1_440
{
position:absolute;
top:532px;
left:2592.92px;
letter-spacing:-0.24px;
}
.s_1_Chapter_6-1_441
{
position:absolute;
top:532px;
left:3204.43px;
}
.s_1_Chapter_6-1_442
{
position:absolute;
top:532px;
left:3629.22px;
letter-spacing:-2.48px;
}
.s_1_Chapter_6-1_443
{
position:absolute;
top:532px;
left:3905.21px;
}
.s_1_Chapter_6-1_444
{
position:absolute;
top:532px;
left:4608.65px;
text-rendering:optimizeLegibility;
letter-spacing:-0.82px;
}
.s_1_Chapter_6-1_445
{
position:absolute;
top:532px;
left:5060.32px;
letter-spacing:-0.24px;
}
.s_1_Chapter_6-1_446
{
position:absolute;
top:532px;
left:5671.82px;
letter-spacing:-0.58px;
}
.s_1_Chapter_6-1_447
{
position:absolute;
top:872px;
left:0px;
}
.s_1_Chapter_6-1_448
{
position:absolute;
top:872px;
left:419.27px;
letter-spacing:-0.19px;
}
.s_1_Chapter_6-1_449
{
position:absolute;
top:872px;
left:1869.09px;
letter-spacing:-2.48px;
}
.s_1_Chapter_6-1_450
{
position:absolute;
top:872px;
left:2145.57px;
}
.s_1_Chapter_6-1_451
{
position:absolute;
top:872px;
left:2564.84px;
}
.s_1_Chapter_6-1_452
{
position:absolute;
top:872px;
left:3621.3px;
letter-spacing:-1.4px;
}
.s_1_Chapter_6-1_453
{
position:absolute;
top:872px;
left:4298.81px;
}
.s_1_Chapter_6-1_454
{
position:absolute;
top:872px;
left:4766.56px;
}
.s_1_Chapter_6-1_455
{
position:absolute;
top:872px;
left:5185.84px;
}
.s_1_Chapter_6-1_456
{
position:absolute;
top:872px;
left:5762.3px;
}
.s_1_Chapter_6-1_457
{
position:absolute;
top:872px;
left:5995.34px;
}
.s_1_Chapter_6-1_458
{
position:absolute;
top:1212px;
left:0px;
letter-spacing:-0.57px;
}
.s_1_Chapter_6-1_459
{
position:absolute;
top:1212px;
left:1772.86px;
letter-spacing:-2.64px;
}
.s_1_Chapter_6-1_460
{
position:absolute;
top:-18px;
left:0px;
letter-spacing:-1.32px;
}
.s_1_Chapter_6-1_461
{
position:absolute;
top:-18px;
left:558.48px;
}
.s_1_Chapter_6-1_462
{
position:absolute;
top:-18px;
left:1170.71px;
}
.s_1_Chapter_6-1_463
{
position:absolute;
top:-18px;
left:1403.75px;
}
.s_1_Chapter_6-1_464
{
position:absolute;
top:-18px;
left:1823.02px;
}
.s_1_Chapter_6-1_465
{
position:absolute;
top:-18px;
left:2610.68px;
letter-spacing:-2.48px;
}
.s_1_Chapter_6-1_466
{
position:absolute;
top:-18px;
left:2891.24px;
}
.s_1_Chapter_6-1_467
{
position:absolute;
top:-18px;
left:3532.99px;
letter-spacing:-0.42px;
}
.s_1_Chapter_6-1_468
{
position:absolute;
top:-18px;
left:3997.38px;
}
.s_1_Chapter_6-1_469
{
position:absolute;
top:-18px;
left:4720.98px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_6-1_470
{
position:absolute;
top:-18px;
left:5201.45px;
}
.s_1_Chapter_6-1_471
{
position:absolute;
top:-18px;
left:5650.48px;
letter-spacing:-3px;
}
.s_1_Chapter_6-1_472
{
position:absolute;
top:-18px;
left:5842px;
text-rendering:optimizeLegibility;
letter-spacing:-0.81px;
}
.s_1_Chapter_6-1_473
{
position:absolute;
top:322px;
left:0px;
}
.s_1_Chapter_6-1_474
{
position:absolute;
top:322px;
left:610.55px;
}
.s_1_Chapter_6-1_475
{
position:absolute;
top:322px;
left:944.38px;
}
.s_1_Chapter_6-1_476
{
position:absolute;
top:322px;
left:1359.58px;
}
.s_1_Chapter_6-1_477
{
position:absolute;
top:322px;
left:1784.12px;
}
.s_1_Chapter_6-1_478
{
position:absolute;
top:322px;
left:2289.31px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_6-1_479
{
position:absolute;
top:322px;
left:3239.94px;
letter-spacing:-0.72px;
}
.s_1_Chapter_6-1_480
{
position:absolute;
top:322px;
left:4225.36px;
}
.s_1_Chapter_6-1_481
{
position:absolute;
top:322px;
left:4697.19px;
letter-spacing:-0.33px;
}
.s_1_Chapter_6-1_482
{
position:absolute;
top:322px;
left:5654.54px;
letter-spacing:-2.48px;
}
.s_1_Chapter_6-1_483
{
position:absolute;
top:322px;
left:5935.1px;
}
.s_1_Chapter_6-1_484
{
position:absolute;
top:322px;
left:6258.61px;
}
.s_1_Chapter_6-1_485
{
position:absolute;
top:662px;
left:0px;
letter-spacing:-0.42px;
}
.s_1_Chapter_6-1_486
{
position:absolute;
top:662px;
left:459.84px;
}
.s_1_Chapter_6-1_487
{
position:absolute;
top:662px;
left:1128.94px;
}
.s_1_Chapter_6-1_488
{
position:absolute;
top:662px;
left:1739.49px;
}
.s_1_Chapter_6-1_489
{
position:absolute;
top:662px;
left:1990.77px;
}
.s_1_Chapter_6-1_490
{
position:absolute;
top:662px;
left:2410.04px;
}
.s_1_Chapter_6-1_491
{
position:absolute;
top:662px;
left:3204.67px;
}
.s_1_Chapter_6-1_492
{
position:absolute;
top:662px;
left:4244.58px;
letter-spacing:-0.44px;
}
.s_1_Chapter_6-1_493
{
position:absolute;
top:662px;
left:4966.01px;
}
.s_1_Chapter_6-1_494
{
position:absolute;
top:662px;
left:5433.76px;
}
.s_1_Chapter_6-1_495
{
position:absolute;
top:662px;
left:6033.75px;
}
.s_1_Chapter_6-1_496
{
position:absolute;
top:662px;
left:6538.93px;
}
.s_1_Chapter_6-1_497
{
position:absolute;
top:1002px;
left:0px;
}
.s_1_Chapter_6-1_498
{
position:absolute;
top:1002px;
left:796.31px;
letter-spacing:-0.51px;
}
.s_1_Chapter_6-1_499
{
position:absolute;
top:1002px;
left:1485.81px;
letter-spacing:-0.34px;
}
.s_1_Chapter_6-1_500
{
position:absolute;
top:1002px;
left:1989.33px;
}
.s_1_Chapter_6-1_501
{
position:absolute;
top:1002px;
left:2599.88px;
}
.s_1_Chapter_6-1_502
{
position:absolute;
top:1002px;
left:3044.83px;
}
.s_1_Chapter_6-1_503
{
position:absolute;
top:1002px;
left:3456.9px;
letter-spacing:-1.13px;
}
.s_1_Chapter_6-1_504
{
position:absolute;
top:1002px;
left:4303.61px;
}
.s_1_Chapter_6-1_505
{
position:absolute;
top:1002px;
left:5194.96px;
letter-spacing:-3px;
}
.s_1_Chapter_6-1_506
{
position:absolute;
top:1002px;
left:5386.48px;
letter-spacing:-1.87px;
}
.s_1_Chapter_6-1_507
{
position:absolute;
top:1002px;
left:6425.19px;
}
.s_1_Chapter_6-1_508
{
position:absolute;
top:1342px;
left:0px;
}
.s_1_Chapter_6-1_509
{
position:absolute;
top:1342px;
left:255.36px;
letter-spacing:-2.21px;
}
.s_1_Chapter_6-1_510
{
position:absolute;
top:1342px;
left:828.23px;
}
.s_1_Chapter_6-1_511
{
position:absolute;
top:1342px;
left:1355.5px;
}
.s_1_Chapter_6-1_512
{
position:absolute;
top:1342px;
left:1639.41px;
}
.s_1_Chapter_6-1_513
{
position:absolute;
top:1342px;
left:1962.92px;
letter-spacing:-1.32px;
}
.s_1_Chapter_6-1_514
{
position:absolute;
top:1342px;
left:2771.71px;
letter-spacing:-0.42px;
}
.s_1_Chapter_6-1_515
{
position:absolute;
top:1342px;
left:3236.11px;
letter-spacing:-1.08px;
}
.s_1_Chapter_6-1_516
{
position:absolute;
top:1342px;
left:3929.94px;
}
.s_1_Chapter_6-1_517
{
position:absolute;
top:1342px;
left:4540.49px;
letter-spacing:-0.48px;
}
.s_1_Chapter_6-1_518
{
position:absolute;
top:1342px;
left:5261.92px;
letter-spacing:-1.31px;
}
.s_1_Chapter_6-1_519
{
position:absolute;
top:1342px;
left:6492.14px;
}
.s_1_Chapter_6-1_520
{
position:absolute;
top:1682px;
left:0px;
letter-spacing:-0.98px;
}
.s_1_Chapter_6-1_521
{
position:absolute;
top:1682px;
left:836.14px;
}
.s_1_Chapter_6-1_522
{
position:absolute;
top:1682px;
left:1307.97px;
letter-spacing:-1.34px;
}
.s_1_Chapter_6-1_523
{
position:absolute;
top:1682px;
left:2152.28px;
letter-spacing:-2.48px;
}
.s_1_Chapter_6-1_524
{
position:absolute;
top:1682px;
left:2428.76px;
}
.s_1_Chapter_6-1_525
{
position:absolute;
top:1682px;
left:2848.03px;
letter-spacing:-1.6px;
}
.s_1_Chapter_6-1_526
{
position:absolute;
top:162px;
left:0px;
letter-spacing:-0.42px;
}
.s_1_Chapter_6-1_527
{
position:absolute;
top:162px;
left:464.4px;
}
.s_1_Chapter_6-1_528
{
position:absolute;
top:162px;
left:1252.06px;
letter-spacing:-2.48px;
}
.s_1_Chapter_6-1_529
{
position:absolute;
top:162px;
left:1526.38px;
letter-spacing:-0.48px;
}
.s_1_Chapter_6-1_530
{
position:absolute;
top:162px;
left:2239.41px;
}
.s_1_Chapter_6-1_531
{
position:absolute;
top:162px;
left:2469.81px;
letter-spacing:-4.83px;
}
.s_1_Chapter_6-1_532
{
position:absolute;
top:162px;
left:3206.84px;
letter-spacing:-0.42px;
}
.s_1_Chapter_6-1_533
{
position:absolute;
top:162px;
left:3667.87px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_6-1_534
{
position:absolute;
top:162px;
left:4148.35px;
letter-spacing:-2.48px;
}
.s_1_Chapter_6-1_535
{
position:absolute;
top:162px;
left:4422.67px;
letter-spacing:-0.48px;
}
.s_1_Chapter_6-1_536
{
position:absolute;
top:162px;
left:5135.7px;
}
.s_1_Chapter_6-1_537
{
position:absolute;
top:162px;
left:5372.81px;
letter-spacing:-3px;
}
.s_1_Chapter_6-1_538
{
position:absolute;
top:162px;
left:5559.77px;
}
.s_1_Chapter_6-1_539
{
position:absolute;
top:522px;
left:0px;
letter-spacing:-0.65px;
}
.s_1_Chapter_6-1_540
{
position:absolute;
top:522px;
left:1085.02px;
}
.s_1_Chapter_6-1_541
{
position:absolute;
top:522px;
left:1621.41px;
letter-spacing:-3px;
}
.s_1_Chapter_6-1_542
{
position:absolute;
top:522px;
left:1812.93px;
letter-spacing:-1.62px;
}
.s_1_Chapter_6-1_543
{
position:absolute;
top:522px;
left:2239.64px;
}
.s_1_Chapter_6-1_544
{
position:absolute;
top:522px;
left:2738.12px;
}
.s_1_Chapter_6-1_545
{
position:absolute;
top:522px;
left:2989.39px;
}
.s_1_Chapter_6-1_546
{
position:absolute;
top:522px;
left:3408.66px;
letter-spacing:-1.51px;
}
.s_1_Chapter_6-1_547
{
position:absolute;
top:522px;
left:4167.77px;
letter-spacing:-1.11px;
}
.s_1_Chapter_6-1_548
{
position:absolute;
top:522px;
left:5614.47px;
}
.s_1_Chapter_6-1_549
{
position:absolute;
top:882px;
left:0px;
letter-spacing:-0.93px;
}
.s_1_Chapter_6-1_550
{
position:absolute;
top:882px;
left:641.51px;
letter-spacing:-2.48px;
}
.s_1_Chapter_6-1_551
{
position:absolute;
top:882px;
left:917.99px;
}
.s_1_Chapter_6-1_552
{
position:absolute;
top:882px;
left:1337.26px;
letter-spacing:-5.16px;
}
