.d_1_Chapter_6-3_1
{position:absolute;overflow:hidden;left: 297.36px;top:0px;transform:translate(0.00px,0.00px);-webkit-transform:translate(0.00px,0.00px);-ms-transform:translate(0.00px,0.00px);-o-transform:translate(0.00px,0.00px);-moz-transform:translate(0.00px,0.00px);width:595.28px;height:841.89px;}
.d_1_Chapter_6-3_2
{
width:560.18px;
height:401.47px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-3_3
{
width:9671.47px;
height:908.44px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-3_4
{
width:2517.87px;
height:400.96px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-3_5
{
width:1791.46px;
height:187.11px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,5.45px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,5.45px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,5.45px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,5.45px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,5.45px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-3_6
{
width:320.64px;
height:253.5px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-3_7
{
width:2518.88px;
height:400.96px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-3_8
{
width:1305.41px;
height:187.11px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,5.45px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,5.45px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,5.45px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,5.45px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,5.45px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-3_9
{
width:320.64px;
height:253.5px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-3_10
{
width:2516.57px;
height:400.96px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-3_11
{
width:2300.28px;
height:187.11px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,5.45px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,5.45px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,5.45px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,5.45px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,5.45px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-3_12
{
width:320.64px;
height:253.5px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-3_13
{
width:2517.87px;
height:400.96px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-3_14
{
width:2663.37px;
height:313.03px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,5.45px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,5.45px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,5.45px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,5.45px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,5.45px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-3_15
{
width:320.64px;
height:253.5px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-3_16
{
width:2477.47px;
height:394.37px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.05px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.05px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.05px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.05px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.05px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-3_17
{
width:2405.89px;
height:201.24px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,5.45px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,5.45px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,5.45px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,5.45px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,5.45px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-3_18
{
width:315.37px;
height:249.33px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.05px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.05px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.05px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.05px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.05px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-3_19
{
width:2475.19px;
height:394.37px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.05px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.05px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.05px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.05px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.05px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-3_20
{
width:2494.49px;
height:282.99px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,5.49px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,5.49px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,5.49px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,5.49px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,5.49px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-3_21
{
width:315.37px;
height:249.33px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.05px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.05px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.05px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.05px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.05px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-3_22
{
width:2517.87px;
height:400.96px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-3_23
{
width:2300.28px;
height:371.62px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,5.45px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,5.45px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,5.45px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,5.45px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,5.45px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-3_24
{
width:320.64px;
height:253.5px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-3_25
{
width:2477.47px;
height:394.37px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.05px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.05px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.05px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.05px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.05px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-3_26
{
width:2873.9px;
height:380.74px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,5.45px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,5.45px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,5.45px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,5.45px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,5.45px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-3_27
{
width:315.37px;
height:249.33px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.05px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.05px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.05px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.05px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.05px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-3_28
{
width:2475.19px;
height:394.37px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.05px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.05px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.05px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.05px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.05px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-3_29
{
width:1051.67px;
height:189.48px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,5.49px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,5.49px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,5.49px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,5.49px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,5.49px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-3_30
{
width:315.37px;
height:249.33px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.05px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.05px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.05px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.05px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.05px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-3_31
{
width:2551.18px;
height:406.1px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.11px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.11px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.11px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.11px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.11px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-3_32
{
width:2300.28px;
height:189.51px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,5.49px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,5.49px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,5.49px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,5.49px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,5.49px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-3_33
{
width:324.75px;
height:256.75px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.11px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.11px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.11px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.11px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.11px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-3_34
{
width:2548.84px;
height:406.1px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.11px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.11px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.11px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.11px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.11px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-3_35
{
width:1804.19px;
height:189.51px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,5.49px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,5.49px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,5.49px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,5.49px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,5.49px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-3_36
{
width:324.75px;
height:256.75px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.11px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.11px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.11px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.11px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.11px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-3_37
{
width:2550.15px;
height:406.1px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.11px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.11px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.11px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.11px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.11px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-3_38
{
width:1840.34px;
height:189.51px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,5.49px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,5.49px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,5.49px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,5.49px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,5.49px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-3_39
{
width:324.75px;
height:256.75px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.11px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.11px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.11px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.11px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.11px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-3_40
{
width:3064.84px;
height:288px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-3_41
{
width:4105.2px;
height:2044.81px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_6-3_42
{
width:5501.75px;
height:1429.99px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.s_1_Chapter_6-3_43
{
position:absolute;
top:41.44px;
left:134.15px;
}
.s_1_Chapter_6-3_44
{
position:absolute;
top:58.88px;
left:0px;
letter-spacing:-7.92px;
}
.s_1_Chapter_6-3_45
{
position:absolute;
top:213.6px;
left:305.76px;
}
.s_1_Chapter_6-3_46
{
position:absolute;
top:196.8px;
left:453.54px;
letter-spacing:-1.03px;
}
.s_1_Chapter_6-3_47
{
position:absolute;
top:196.8px;
left:1441.09px;
}
.s_1_Chapter_6-3_48
{
position:absolute;
top:196.8px;
left:2167.4px;
letter-spacing:0px;
}
.s_1_Chapter_6-3_49
{
position:absolute;
top:196.8px;
left:3356.82px;
letter-spacing:-1.96px;
}
.s_1_Chapter_6-3_50
{
position:absolute;
top:196.8px;
left:3670.69px;
}
.s_1_Chapter_6-3_51
{
position:absolute;
top:196.8px;
left:4361.44px;
letter-spacing:-0.67px;
}
.s_1_Chapter_6-3_52
{
position:absolute;
top:196.8px;
left:5001.23px;
letter-spacing:-0.98px;
}
.s_1_Chapter_6-3_53
{
position:absolute;
top:196.8px;
left:5625.06px;
letter-spacing:0px;
}
.s_1_Chapter_6-3_54
{
position:absolute;
top:196.8px;
left:6971.55px;
letter-spacing:0px;
}
.s_1_Chapter_6-3_55
{
position:absolute;
top:196.8px;
left:7477.23px;
letter-spacing:0px;
}
.s_1_Chapter_6-3_56
{
position:absolute;
top:196.8px;
left:8169.66px;
letter-spacing:-0.98px;
}
.s_1_Chapter_6-3_57
{
position:absolute;
top:196.8px;
left:8793.49px;
}
.s_1_Chapter_6-3_58
{
position:absolute;
top:596.8px;
left:453.54px;
}
.s_1_Chapter_6-3_59
{
position:absolute;
top:596.8px;
left:724.86px;
}
.s_1_Chapter_6-3_60
{
position:absolute;
top:596.8px;
left:1179.01px;
}
.s_1_Chapter_6-3_61
{
position:absolute;
top:596.8px;
left:1933.88px;
letter-spacing:-0.37px;
}
.s_1_Chapter_6-3_62
{
position:absolute;
top:-16.55px;
left:0px;
}
.s_1_Chapter_6-3_63
{
position:absolute;
top:0px;
left:314.78px;
}
.s_1_Chapter_6-3_64
{
position:absolute;
top:-16.55px;
left:110.33px;
letter-spacing:-1.43px;
}
.s_1_Chapter_6-3_65
{
position:absolute;
top:-16.55px;
left:0px;
}
.s_1_Chapter_6-3_66
{
position:absolute;
top:0px;
left:0px;
}
.s_1_Chapter_6-3_67
{
position:absolute;
top:-16.55px;
left:78.11px;
}
.s_1_Chapter_6-3_68
{
position:absolute;
top:-16.55px;
left:0px;
}
.s_1_Chapter_6-3_69
{
position:absolute;
top:0px;
left:34.41px;
}
.s_1_Chapter_6-3_70
{
position:absolute;
top:-16.55px;
left:76.45px;
letter-spacing:-1.76px;
}
.s_1_Chapter_6-3_71
{
position:absolute;
top:-16.55px;
left:0px;
}
.s_1_Chapter_6-3_72
{
position:absolute;
top:0px;
left:0px;
}
.s_1_Chapter_6-3_73
{
position:absolute;
top:-16.55px;
left:92.34px;
letter-spacing:-9.27px;
}
.s_1_Chapter_6-3_74
{
position:absolute;
top:-16.28px;
left:0px;
}
.s_1_Chapter_6-3_75
{
position:absolute;
top:0px;
left:263.51px;
}
.s_1_Chapter_6-3_76
{
position:absolute;
top:-16.28px;
left:70.09px;
letter-spacing:-1.63px;
}
.s_1_Chapter_6-3_77
{
position:absolute;
top:-16.28px;
left:0px;
}
.s_1_Chapter_6-3_78
{
position:absolute;
top:0px;
left:585.71px;
}
.s_1_Chapter_6-3_79
{
position:absolute;
top:-16.28px;
left:73.78px;
letter-spacing:-3.36px;
}
.s_1_Chapter_6-3_80
{
position:absolute;
top:-16.55px;
left:0px;
}
.s_1_Chapter_6-3_81
{
position:absolute;
top:0px;
left:0px;
}
.s_1_Chapter_6-3_82
{
position:absolute;
top:-16.55px;
left:41.91px;
letter-spacing:-2.28px;
}
.s_1_Chapter_6-3_83
{
position:absolute;
top:-16.28px;
left:0px;
}
.s_1_Chapter_6-3_84
{
position:absolute;
top:0px;
left:230.85px;
}
.s_1_Chapter_6-3_85
{
position:absolute;
top:-16.28px;
left:83.44px;
letter-spacing:-0.94px;
}
.s_1_Chapter_6-3_86
{
position:absolute;
top:-16.28px;
left:0px;
}
.s_1_Chapter_6-3_87
{
position:absolute;
top:0px;
left:0px;
}
.s_1_Chapter_6-3_88
{
position:absolute;
top:-16.28px;
left:51.75px;
}
.s_1_Chapter_6-3_89
{
position:absolute;
top:-16.77px;
left:0px;
}
.s_1_Chapter_6-3_90
{
position:absolute;
top:0px;
left:629.58px;
}
.s_1_Chapter_6-3_91
{
position:absolute;
top:-16.77px;
left:80.45px;
letter-spacing:-1.79px;
}
.s_1_Chapter_6-3_92
{
position:absolute;
top:-16.77px;
left:0px;
}
.s_1_Chapter_6-3_93
{
position:absolute;
top:0px;
left:81.92px;
}
.s_1_Chapter_6-3_94
{
position:absolute;
top:-16.77px;
left:75.31px;
letter-spacing:-1.79px;
}
.s_1_Chapter_6-3_95
{
position:absolute;
top:-16.77px;
left:0px;
}
.s_1_Chapter_6-3_96
{
position:absolute;
top:0px;
left:106.85px;
}
.s_1_Chapter_6-3_97
{
position:absolute;
top:-16.77px;
left:79.33px;
letter-spacing:-1.12px;
}
.s_1_Chapter_6-3_98
{
position:absolute;
top:-14.08px;
left:0px;
letter-spacing:-3.89px;
}
.s_1_Chapter_6-3_99
{
position:absolute;
top:-14.08px;
left:843.18px;
letter-spacing:-4.67px;
}
.s_1_Chapter_6-3_100
{
position:absolute;
top:-14.08px;
left:1635.81px;
letter-spacing:-3.89px;
}
.s_1_Chapter_6-3_101
{
position:absolute;
top:-18px;
left:0px;
letter-spacing:-0.42px;
}
.s_1_Chapter_6-3_102
{
position:absolute;
top:-18px;
left:464.4px;
letter-spacing:-1.36px;
}
.s_1_Chapter_6-3_103
{
position:absolute;
top:-18px;
left:1484.62px;
letter-spacing:-2.48px;
}
.s_1_Chapter_6-3_104
{
position:absolute;
top:-18px;
left:1761.1px;
}
.s_1_Chapter_6-3_105
{
position:absolute;
top:-18px;
left:2180.37px;
letter-spacing:-1.15px;
}
.s_1_Chapter_6-3_106
{
position:absolute;
top:342px;
left:0px;
letter-spacing:-0.32px;
}
.s_1_Chapter_6-3_107
{
position:absolute;
top:342px;
left:695.27px;
}
.s_1_Chapter_6-3_108
{
position:absolute;
top:342px;
left:928.3px;
}
.s_1_Chapter_6-3_109
{
position:absolute;
top:342px;
left:1347.58px;
letter-spacing:-2.06px;
}
.s_1_Chapter_6-3_110
{
position:absolute;
top:342px;
left:1905.09px;
}
.s_1_Chapter_6-3_111
{
position:absolute;
top:342px;
left:2293.64px;
}
.s_1_Chapter_6-3_112
{
position:absolute;
top:342px;
left:2765.47px;
}
.s_1_Chapter_6-3_113
{
position:absolute;
top:360.2px;
left:3181.62px;
}
.s_1_Chapter_6-3_114
{
position:absolute;
top:342px;
left:3354.36px;
letter-spacing:-2px;
}
.s_1_Chapter_6-3_115
{
position:absolute;
top:758.69px;
left:0px;
letter-spacing:-2.4px;
}
.s_1_Chapter_6-3_116
{
position:absolute;
top:758.69px;
left:208.08px;
letter-spacing:-1.49px;
}
.s_1_Chapter_6-3_117
{
position:absolute;
top:758.69px;
left:748.79px;
letter-spacing:-0.24px;
}
.s_1_Chapter_6-3_118
{
position:absolute;
top:758.69px;
left:1422.45px;
}
.s_1_Chapter_6-3_119
{
position:absolute;
top:758.69px;
left:1656.93px;
}
.s_1_Chapter_6-3_120
{
position:absolute;
top:758.69px;
left:1967.96px;
}
.s_1_Chapter_6-3_121
{
position:absolute;
top:758.69px;
left:2223.32px;
letter-spacing:-0.14px;
}
.s_1_Chapter_6-3_122
{
position:absolute;
top:758.69px;
left:3263.7px;
}
.s_1_Chapter_6-3_123
{
position:absolute;
top:758.69px;
left:3498.18px;
}
.s_1_Chapter_6-3_124
{
position:absolute;
top:1118.69px;
left:0px;
}
.s_1_Chapter_6-3_125
{
position:absolute;
top:1118.69px;
left:255.36px;
letter-spacing:-0.68px;
}
.s_1_Chapter_6-3_126
{
position:absolute;
top:1118.69px;
left:1004.86px;
}
.s_1_Chapter_6-3_127
{
position:absolute;
top:1118.69px;
left:1476.7px;
}
.s_1_Chapter_6-3_128
{
position:absolute;
top:1118.69px;
left:1711.17px;
letter-spacing:4.8px;
}
.s_1_Chapter_6-3_129
{
position:absolute;
top:1118.69px;
left:2029.88px;
}
.s_1_Chapter_6-3_130
{
position:absolute;
top:1118.69px;
left:2285.24px;
letter-spacing:-0.41px;
}
.s_1_Chapter_6-3_131
{
position:absolute;
top:1118.69px;
left:2946.18px;
}
.s_1_Chapter_6-3_132
{
position:absolute;
top:1478.69px;
left:0px;
letter-spacing:-0.72px;
}
.s_1_Chapter_6-3_133
{
position:absolute;
top:1478.69px;
left:529.67px;
}
.s_1_Chapter_6-3_134
{
position:absolute;
top:1478.69px;
left:1194.47px;
letter-spacing:-1.52px;
}
.s_1_Chapter_6-3_135
{
position:absolute;
top:1478.69px;
left:1992.22px;
letter-spacing:-1.49px;
}
.s_1_Chapter_6-3_136
{
position:absolute;
top:1478.69px;
left:2532.93px;
letter-spacing:-0.24px;
}
.s_1_Chapter_6-3_137
{
position:absolute;
top:1478.69px;
left:3206.6px;
}
.s_1_Chapter_6-3_138
{
position:absolute;
top:1838.69px;
left:0px;
}
.s_1_Chapter_6-3_139
{
position:absolute;
top:1838.69px;
left:726.95px;
}
.s_1_Chapter_6-3_140
{
position:absolute;
top:-18px;
left:0px;
letter-spacing:-0.36px;
}
.s_1_Chapter_6-3_141
{
position:absolute;
top:-18px;
left:348.23px;
letter-spacing:-1.32px;
}
.s_1_Chapter_6-3_142
{
position:absolute;
top:-18px;
left:1300px;
letter-spacing:-0.89px;
}
.s_1_Chapter_6-3_143
{
position:absolute;
top:-18px;
left:2580px;
letter-spacing:-0.86px;
}
.s_1_Chapter_6-3_144
{
position:absolute;
top:-18px;
left:4100px;
}
.s_1_Chapter_6-3_145
{
position:absolute;
top:398.69px;
left:0px;
letter-spacing:-2.58px;
}
.s_1_Chapter_6-3_146
{
position:absolute;
top:398.69px;
left:1300px;
letter-spacing:-0.96px;
}
.s_1_Chapter_6-3_147
{
position:absolute;
top:398.69px;
left:2580px;
}
.s_1_Chapter_6-3_148
{
position:absolute;
top:398.69px;
left:3273.11px;
letter-spacing:-3px;
}
.s_1_Chapter_6-3_149
{
position:absolute;
top:398.69px;
left:4100px;
letter-spacing:-0.82px;
}
.s_1_Chapter_6-3_150
{
position:absolute;
top:815.38px;
left:0px;
letter-spacing:-0.66px;
}
.s_1_Chapter_6-3_151
{
position:absolute;
top:815.38px;
left:1300px;
letter-spacing:-0.48px;
}
.s_1_Chapter_6-3_152
{
position:absolute;
top:815.38px;
left:2580px;
letter-spacing:-0.21px;
}
.s_1_Chapter_6-3_153
{
position:absolute;
top:815.38px;
left:4100px;
}
.s_1_Chapter_6-3_154
{
position:absolute;
top:815.38px;
left:4785.91px;
letter-spacing:-2.12px;
}

#text1 {
	position:absolute;
	top: 716px;
	left: 253px;
}
#text2 {
	position:absolute;
	top: 695px;
	left: 177px;
}
#text3 {
	position:absolute;
	top: 737px;
	left: 113px;
}
#text4 {
	position:absolute;
	top: 695px;
	left: 48px;
}
#text5 {
	position:absolute;
	top: 716px;
	left: 48px;
}
#text6 {
	position:absolute;
	top: 737px;
	left: 253px;
}
#text7 {
	position:absolute;
	top: 716px;
	left: 177px;
}
#text8 {
	position:absolute;
	top: 737px;
	left: 48px;
}
#text9 {
	position:absolute;
	top: 695px;
	left: 254px;
}
#text10 {
	position:absolute;
	top: 695px;
	left: 113px;
}
#text11 {
	position:absolute;
	top: 737px;
	left: 177px;
}
#text12 {
	position:absolute;
	top: 716px;
	left: 114px;
}
#box1 {
	position:absolute;
	top: 199px;
	left: 79px;
	width: 127px;
	z-index: 100 !important;
}
#box2 {
	position:absolute;
	top: 199px;
	left: 248px;
	width: 124px;
	z-index: 100 !important;
}
#box3 {
	position:absolute;
	top: 199px;
	left: 413px;
	width: 126px;
	z-index: 100 !important;
}
#box4 {
	position:absolute;
	top: 334px;
	left: 80px;
	width: 126px;
}
#box5 {
	position:absolute;
	top: 335px;
	left: 246px;
	width: 128px;
}
#box6 {
	position:absolute;
	top: 335px;
	left: 414px;
	width: 125px;
}
#box7 {
	position:absolute;
	top: 474px;
	left: 79px;
	width: 125px;
}
#box8 {
	position:absolute;
	top: 472px;
	left: 247px;
	width: 123px;
}
#box9 {
	position:absolute;
	top: 472px;
	left: 413px;
	width: 124px;
}
#box10 {
	position:absolute;
	top: 612px;
	left: 79px;
	width: 127px;
}
#box11 {
	position:absolute;
	top: 611px;
	left: 245px;
	width: 125px;
}
#box12 {
	position:absolute;
	top: 610px;
	left: 413px;
	width: 123px;
}
.p26_input_text1 {
	display: none;
	text-align: center;
	font-family: "Cabrito_Sans_Norm_Book";
	font-size: 13px;
	margin-top: 2px;
	line-height: 15px;
}
.page26_btn1 {
	position:absolute;
	top: 801px;
	left: 290px;
}
.text_p26 {
    font-family: "Cabrito_Sans_Norm_Book";
    font-weight: normal;
    font-style: normal;
    font-size: 13px;
    cursor: pointer;
    white-space : nowrap;
    line-height: 27px;
}
