.d_1_Chapter_14-3_1
{position:absolute;overflow:hidden;left: 297.36px;top:0px;transform:translate(0.00px,0.00px);-webkit-transform:translate(0.00px,0.00px);-ms-transform:translate(0.00px,0.00px);-o-transform:translate(0.00px,0.00px);-moz-transform:translate(0.00px,0.00px);width:595.28px;height:841.89px;}
.d_1_Chapter_14-3_2
{
width:560.18px;
height:401.47px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-3_3
{
width:9830.04px;
height:872px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-3_4
{
width:8257.72px;
height:432px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-3_5
{
width:346.79px;
height:274.17px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.26px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.26px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.26px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.26px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.26px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-3_6
{
width:346.79px;
height:274.17px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.26px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.26px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.26px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.26px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.26px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-3_7
{
width:346.79px;
height:274.17px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.26px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.26px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.26px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.26px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.26px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-3_8
{
width:346.79px;
height:274.17px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.26px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.26px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.26px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.26px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.26px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-3_9
{
width:346.79px;
height:274.17px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.26px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.26px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.26px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.26px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.26px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-3_10
{
width:1884.76px;
height:288px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-3_11
{
width:6704.72px;
height:2278.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-3_12
{
width:289.2px;
height:459px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-3_13
{
width:289.2px;
height:459px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-3_14
{
width:289.2px;
height:459px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-3_15
{
width:289.2px;
height:459px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-3_16
{
width:289.2px;
height:459px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-3_17
{
width:289.2px;
height:459px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-3_18
{
width:289.2px;
height:459px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-3_19
{
width:289.2px;
height:459px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-3_20
{
width:289.2px;
height:459px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-3_21
{
width:289.2px;
height:459px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-3_22
{
width:289.2px;
height:459px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-3_23
{
width:289.2px;
height:459px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-3_24
{
width:289.2px;
height:459px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-3_25
{
width:289.2px;
height:459px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-3_26
{
width:289.2px;
height:459px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,7.67px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-3_27
{
width:310.51px;
height:214.2px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-3_28
{
width:166.04px;
height:214.2px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-3_29
{
width:200.48px;
height:214.2px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-3_30
{
width:872.75px;
height:214.2px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-3_31
{
width:715.43px;
height:231.78px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-3_32
{
width:147.28px;
height:214.2px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-3_33
{
width:290.36px;
height:214.2px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-3_34
{
width:549.63px;
height:214.2px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-3_35
{
width:1935.34px;
height:214.2px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-3_36
{
width:346.79px;
height:274.17px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.26px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.26px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.26px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.26px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.26px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-3_37
{
width:2276.97px;
height:286.45px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-3_38
{
width:2607.06px;
height:214.2px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-3_39
{
width:346.79px;
height:274.17px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.26px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.26px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.26px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.26px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.26px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-3_40
{
width:2072.82px;
height:214.2px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-3_41
{
width:2433.46px;
height:214.2px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-3_42
{
width:346.79px;
height:274.17px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.26px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.26px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.26px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.26px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.26px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-3_43
{
width:2492.65px;
height:317.85px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-3_44
{
width:2742.86px;
height:214.2px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-3_45
{
width:346.79px;
height:274.17px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.26px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.26px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.26px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.26px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.26px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-3_46
{
width:1378.42px;
height:214.2px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.s_1_Chapter_14-3_47
{
position:absolute;
top:41.44px;
left:134.15px;
}
.s_1_Chapter_14-3_48
{
position:absolute;
top:58.88px;
left:0px;
letter-spacing:-7.92px;
}
.s_1_Chapter_14-3_49
{
position:absolute;
top:213.6px;
left:329.76px;
}
.s_1_Chapter_14-3_50
{
position:absolute;
top:196.8px;
left:453.54px;
letter-spacing:-1.03px;
}
.s_1_Chapter_14-3_51
{
position:absolute;
top:196.8px;
left:1441.09px;
}
.s_1_Chapter_14-3_52
{
position:absolute;
top:196.8px;
left:2167.4px;
letter-spacing:0px;
}
.s_1_Chapter_14-3_53
{
position:absolute;
top:196.8px;
left:3016.9px;
}
.s_1_Chapter_14-3_54
{
position:absolute;
top:196.8px;
left:3376.7px;
}
.s_1_Chapter_14-3_55
{
position:absolute;
top:196.8px;
left:4321.68px;
}
.s_1_Chapter_14-3_56
{
position:absolute;
top:196.8px;
left:4828.47px;
letter-spacing:0px;
}
.s_1_Chapter_14-3_57
{
position:absolute;
top:196.8px;
left:5631.21px;
}
.s_1_Chapter_14-3_58
{
position:absolute;
top:196.8px;
left:6219.48px;
letter-spacing:0px;
}
.s_1_Chapter_14-3_59
{
position:absolute;
top:196.8px;
left:6673.64px;
}
.s_1_Chapter_14-3_60
{
position:absolute;
top:196.8px;
left:7242.59px;
letter-spacing:-2.7px;
}
.s_1_Chapter_14-3_61
{
position:absolute;
top:196.8px;
left:7542.47px;
letter-spacing:0px;
}
.s_1_Chapter_14-3_62
{
position:absolute;
top:196.8px;
left:7996.62px;
letter-spacing:0px;
}
.s_1_Chapter_14-3_63
{
position:absolute;
top:196.8px;
left:9043.52px;
}
.s_1_Chapter_14-3_64
{
position:absolute;
top:58.88px;
left:0px;
letter-spacing:-23.28px;
}
.s_1_Chapter_14-3_65
{
position:absolute;
top:213.6px;
left:286.08px;
}
.s_1_Chapter_14-3_66
{
position:absolute;
top:196.8px;
left:453.54px;
letter-spacing:-0.56px;
}
.s_1_Chapter_14-3_67
{
position:absolute;
top:196.8px;
left:1278.98px;
letter-spacing:0px;
}
.s_1_Chapter_14-3_68
{
position:absolute;
top:196.8px;
left:2005.29px;
letter-spacing:-0.2px;
}
.s_1_Chapter_14-3_69
{
position:absolute;
top:196.8px;
left:2965.96px;
}
.s_1_Chapter_14-3_70
{
position:absolute;
top:196.8px;
left:4136.9px;
}
.s_1_Chapter_14-3_71
{
position:absolute;
top:196.8px;
left:4449.65px;
}
.s_1_Chapter_14-3_72
{
position:absolute;
top:196.8px;
left:4903.8px;
letter-spacing:0px;
}
.s_1_Chapter_14-3_73
{
position:absolute;
top:196.8px;
left:5745.18px;
letter-spacing:0px;
}
.s_1_Chapter_14-3_74
{
position:absolute;
top:196.8px;
left:6318.33px;
}
.s_1_Chapter_14-3_75
{
position:absolute;
top:196.8px;
left:7290.76px;
}
.s_1_Chapter_14-3_76
{
position:absolute;
top:-17.9px;
left:145.82px;
}
.s_1_Chapter_14-3_77
{
position:absolute;
top:-17.9px;
left:108.82px;
}
.s_1_Chapter_14-3_78
{
position:absolute;
top:-17.9px;
left:112.52px;
}
.s_1_Chapter_14-3_79
{
position:absolute;
top:-17.9px;
left:111.57px;
}
.s_1_Chapter_14-3_80
{
position:absolute;
top:-17.9px;
left:112.05px;
}
.s_1_Chapter_14-3_81
{
position:absolute;
top:-12.32px;
left:0px;
}
.s_1_Chapter_14-3_82
{
position:absolute;
top:-12.32px;
left:420.83px;
letter-spacing:-5.11px;
}
.s_1_Chapter_14-3_83
{
position:absolute;
top:-12.32px;
left:971.57px;
letter-spacing:-6.86px;
}
.s_1_Chapter_14-3_84
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.45px;
}
.s_1_Chapter_14-3_85
{
position:absolute;
top:-19.5px;
left:499.46px;
}
.s_1_Chapter_14-3_86
{
position:absolute;
top:-19.5px;
left:1452.34px;
}
.s_1_Chapter_14-3_87
{
position:absolute;
top:-19.5px;
left:2143.41px;
letter-spacing:-1.94px;
}
.s_1_Chapter_14-3_88
{
position:absolute;
top:-19.5px;
left:3324.83px;
letter-spacing:-2.17px;
}
.s_1_Chapter_14-3_89
{
position:absolute;
top:-19.5px;
left:3675.31px;
}
.s_1_Chapter_14-3_90
{
position:absolute;
top:-19.5px;
left:4296.18px;
letter-spacing:-0.71px;
}
.s_1_Chapter_14-3_91
{
position:absolute;
top:-19.5px;
left:4844.52px;
letter-spacing:0px;
}
.s_1_Chapter_14-3_92
{
position:absolute;
top:-19.5px;
left:5204.61px;
}
.s_1_Chapter_14-3_93
{
position:absolute;
top:380.5px;
left:0px;
letter-spacing:-0.22px;
}
.s_1_Chapter_14-3_94
{
position:absolute;
top:380.5px;
left:749.31px;
}
.s_1_Chapter_14-3_95
{
position:absolute;
top:380.5px;
left:1722.46px;
letter-spacing:-0.95px;
}
.s_1_Chapter_14-3_96
{
position:absolute;
top:380.5px;
left:2108.56px;
letter-spacing:-0.52px;
}
.s_1_Chapter_14-3_97
{
position:absolute;
top:380.5px;
left:2893.75px;
letter-spacing:-1.56px;
}
.s_1_Chapter_14-3_98
{
position:absolute;
top:380.5px;
left:3394.76px;
}
.s_1_Chapter_14-3_99
{
position:absolute;
top:380.5px;
left:4186.19px;
letter-spacing:-1.3px;
}
.s_1_Chapter_14-3_100
{
position:absolute;
top:380.5px;
left:4840.33px;
letter-spacing:0px;
}
.s_1_Chapter_14-3_101
{
position:absolute;
top:380.5px;
left:5351.49px;
letter-spacing:0px;
}
.s_1_Chapter_14-3_102
{
position:absolute;
top:380.5px;
left:5781.52px;
letter-spacing:0px;
}
.s_1_Chapter_14-3_103
{
position:absolute;
top:780.5px;
left:0px;
letter-spacing:-1.17px;
}
.s_1_Chapter_14-3_104
{
position:absolute;
top:780.5px;
left:608.13px;
letter-spacing:-0.95px;
}
.s_1_Chapter_14-3_105
{
position:absolute;
top:780.5px;
left:999.16px;
}
.s_1_Chapter_14-3_106
{
position:absolute;
top:780.5px;
left:1256.03px;
letter-spacing:-0.92px;
}
.s_1_Chapter_14-3_107
{
position:absolute;
top:780.5px;
left:2299.14px;
}
.s_1_Chapter_14-3_108
{
position:absolute;
top:780.5px;
left:2612.69px;
letter-spacing:-2.03px;
}
.s_1_Chapter_14-3_109
{
position:absolute;
top:780.5px;
left:3239.28px;
}
.s_1_Chapter_14-3_110
{
position:absolute;
top:780.5px;
left:3968.31px;
}
.s_1_Chapter_14-3_111
{
position:absolute;
top:780.5px;
left:4418.89px;
text-rendering:optimizeLegibility;
letter-spacing:-0.26px;
}
.s_1_Chapter_14-3_112
{
position:absolute;
top:780.5px;
left:4958.11px;
letter-spacing:-0.49px;
}
.s_1_Chapter_14-3_113
{
position:absolute;
top:780.5px;
left:6116.13px;
letter-spacing:-2.68px;
}
.s_1_Chapter_14-3_114
{
position:absolute;
top:1180.5px;
left:0px;
}
.s_1_Chapter_14-3_115
{
position:absolute;
top:1180.5px;
left:360.09px;
letter-spacing:-1.49px;
}
.s_1_Chapter_14-3_116
{
position:absolute;
top:1180.5px;
left:725.39px;
letter-spacing:-0.55px;
}
.s_1_Chapter_14-3_117
{
position:absolute;
top:1180.5px;
left:1604.96px;
}
.s_1_Chapter_14-3_118
{
position:absolute;
top:1180.5px;
left:2186.05px;
letter-spacing:-2.56px;
}
.s_1_Chapter_14-3_119
{
position:absolute;
top:1180.5px;
left:2840.97px;
letter-spacing:-0.78px;
}
.s_1_Chapter_14-3_120
{
position:absolute;
top:1180.5px;
left:4289.67px;
letter-spacing:-1.63px;
}
.s_1_Chapter_14-3_121
{
position:absolute;
top:-45px;
left:0px;
}
.s_1_Chapter_14-3_122
{
position:absolute;
top:-45px;
left:0px;
}
.s_1_Chapter_14-3_123
{
position:absolute;
top:-45px;
left:0px;
}
.s_1_Chapter_14-3_124
{
position:absolute;
top:-45px;
left:0px;
}
.s_1_Chapter_14-3_125
{
position:absolute;
top:-45px;
left:0px;
}
.s_1_Chapter_14-3_126
{
position:absolute;
top:-45px;
left:0px;
}
.s_1_Chapter_14-3_127
{
position:absolute;
top:-45px;
left:0px;
}
.s_1_Chapter_14-3_128
{
position:absolute;
top:-45px;
left:0px;
}
.s_1_Chapter_14-3_129
{
position:absolute;
top:-45px;
left:0px;
}
.s_1_Chapter_14-3_130
{
position:absolute;
top:-45px;
left:0px;
}
.s_1_Chapter_14-3_131
{
position:absolute;
top:-45px;
left:0px;
}
.s_1_Chapter_14-3_132
{
position:absolute;
top:-45px;
left:0px;
}
.s_1_Chapter_14-3_133
{
position:absolute;
top:-45px;
left:0px;
}
.s_1_Chapter_14-3_134
{
position:absolute;
top:-45px;
left:0px;
}
.s_1_Chapter_14-3_135
{
position:absolute;
top:-45px;
left:0px;
}
.s_1_Chapter_14-3_136
{
position:absolute;
top:-19.5px;
left:0px;
}
.s_1_Chapter_14-3_137
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-7.8px;
}
.s_1_Chapter_14-3_138
{
position:absolute;
top:-19.5px;
left:0px;
}
.s_1_Chapter_14-3_139
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-2.12px;
}
.s_1_Chapter_14-3_140
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.62px;
}
.s_1_Chapter_14-3_141
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-6.5px;
}
.s_1_Chapter_14-3_142
{
position:absolute;
top:-19.5px;
left:0px;
}
.s_1_Chapter_14-3_143
{
position:absolute;
top:-19.5px;
left:0px;
}
.s_1_Chapter_14-3_144
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-1.99px;
}
.s_1_Chapter_14-3_145
{
position:absolute;
top:-19.5px;
left:291.46px;
letter-spacing:-3.29px;
}
.s_1_Chapter_14-3_146
{
position:absolute;
top:-19.5px;
left:938.59px;
}
.s_1_Chapter_14-3_147
{
position:absolute;
top:-17.9px;
left:119.33px;
letter-spacing:-1.55px;
}
.s_1_Chapter_14-3_148
{
position:absolute;
top:-19.5px;
left:0px;
}
.s_1_Chapter_14-3_149
{
position:absolute;
top:-19.5px;
left:1116.69px;
letter-spacing:-0.82px;
}
.s_1_Chapter_14-3_150
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-3.21px;
}
.s_1_Chapter_14-3_151
{
position:absolute;
top:-19.5px;
left:294.84px;
letter-spacing:-1.45px;
}
.s_1_Chapter_14-3_152
{
position:absolute;
top:-19.5px;
left:1170.25px;
letter-spacing:-1.82px;
}
.s_1_Chapter_14-3_153
{
position:absolute;
top:-17.9px;
left:84.48px;
}
.s_1_Chapter_14-3_154
{
position:absolute;
top:-19.5px;
left:0px;
}
.s_1_Chapter_14-3_155
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-1.47px;
}
.s_1_Chapter_14-3_156
{
position:absolute;
top:-19.5px;
left:274.04px;
letter-spacing:-0.93px;
}
.s_1_Chapter_14-3_157
{
position:absolute;
top:-19.5px;
left:1125.26px;
letter-spacing:-1.95px;
}
.s_1_Chapter_14-3_158
{
position:absolute;
top:-17.9px;
left:82.69px;
letter-spacing:-1.91px;
}
.s_1_Chapter_14-3_159
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.95px;
}
.s_1_Chapter_14-3_160
{
position:absolute;
top:-19.5px;
left:443.56px;
}
.s_1_Chapter_14-3_161
{
position:absolute;
top:-19.5px;
left:954.71px;
letter-spacing:-3.12px;
}
.s_1_Chapter_14-3_162
{
position:absolute;
top:-19.5px;
left:1387.61px;
letter-spacing:-1.78px;
}
.s_1_Chapter_14-3_163
{
position:absolute;
top:-19.5px;
left:0px;
}
.s_1_Chapter_14-3_164
{
position:absolute;
top:-19.5px;
left:297.18px;
letter-spacing:-0.55px;
}
.s_1_Chapter_14-3_165
{
position:absolute;
top:-19.5px;
left:1236.03px;
letter-spacing:-0.97px;
}
.s_1_Chapter_14-3_166
{
position:absolute;
top:-19.5px;
left:1725.08px;
letter-spacing:-0.39px;
}
.s_1_Chapter_14-3_167
{
position:absolute;
top:-17.9px;
left:84.72px;
letter-spacing:-1.19px;
}
.s_1_Chapter_14-3_168
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-1.47px;
}
.s_1_Chapter_14-3_169
{
position:absolute;
top:-19.5px;
left:743.59px;
letter-spacing:-0.31px;
}

.page52_position1 {
	position:absolute;
	top: 93px;
	left: 389px;
	/*border: 1px solid red;*/
}
.page52_position2 {
	position:absolute;
	top: 147px;
	left: 391px;
	/*border: 1px solid red;*/
}
.page52_position3 {
	position:absolute;
	top: 201px;
	left: 389px;
	/*border: 1px solid red;*/
}
.page52_position4 {
	position:absolute;
	top: 255px;
	left: 389px;
	/*border: 1px solid red;*/
}
.page52_position5 {
	position:absolute;
	top: 311px;
	left: 424px;
	/*border: 1px solid red;*/
}
.page52_position6 {
	position:absolute;
	top: 237px;
	left: 532px;
	/*border: 1px solid red;*/
}
.page52_btn1 {
	position:absolute;
	top: 346px;
	right: 10px;
}
.page52_btn2 {
	position:absolute;
	top: 345px;
	right: 93px;
}

#r1{
	position: absolute;
	top: 406px;
	left: 310px;
}
#r2{
	position: absolute;
	top: 447px;
	left: 310px;
}
#r3{
	position: absolute;
	top: 490px;
	left: 310px;
}
#r4{
	position: absolute;
	top: 531px;
	left: 310px;
}

#l1{
	position: absolute;
	top: 406px;
	left: 230px;
}
#l2{
	position: absolute;
	top: 447px;
	left: 230px;
}
#l3{
	position: absolute;
	top: 490px;
	left: 230px;
}
#l4{
	position: absolute;
	top: 531px;
	left: 230px;
}
.match52 {
	height: 143px;
	display:none;
	width: 95px;
}
.match_image1_p52{
	position: absolute;
	top: 405px;
	left: 230px;
}
.page52_btn3 {
	position:absolute;
	top: 780px;
	left: 273px;
}
