.d_1_Chapter_14-1_1
{position:absolute;overflow:hidden;left: -297.36px;top:0px;transform:translate(595.28px,0.00px);-webkit-transform:translate(595.28px,0.00px);-ms-transform:translate(595.28px,0.00px);-o-transform:translate(595.28px,0.00px);-moz-transform:translate(595.28px,0.00px);width:595.28px;height:841.89px;}
.d_1_Chapter_14-1_2
{
width:9671.47px;
height:1285.2px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-1_3
{
width:9422.07px;
height:851.2px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-1_4
{
width:2881.53px;
height:359px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-1_5
{
width:2828.93px;
height:359px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-1_6
{
width:2831.14px;
height:359px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-1_7
{
width:2828.93px;
height:359px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-1_8
{
width:2715.33px;
height:359px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-1_9
{
width:2850.09px;
height:198.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-1_10
{
width:318.51px;
height:251.81px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.07px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.07px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.07px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.07px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.07px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-1_11
{
width:2621.66px;
height:598.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-1_12
{
width:318.51px;
height:251.81px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.07px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.07px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.07px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.07px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.07px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-1_13
{
width:2513.68px;
height:272.78px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-1_14
{
width:318.51px;
height:251.81px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.07px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.07px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.07px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.07px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.07px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-1_15
{
width:2845.21px;
height:619.36px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-1_16
{
width:318.51px;
height:251.81px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.07px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.07px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.07px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.07px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.07px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-1_17
{
width:2514.23px;
height:598.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-1_18
{
width:318.51px;
height:251.81px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.07px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.07px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.07px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.07px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.07px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-1_19
{
width:2715.33px;
height:359px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-1_20
{
width:2414.46px;
height:614.8px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-1_21
{
width:318.51px;
height:251.81px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.07px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.07px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.07px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.07px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.07px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-1_22
{
width:560.18px;
height:401.47px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-1_23
{
width:8571.09px;
height:340.31px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-1_24
{
width:3064.84px;
height:288px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-1_25
{
width:8387.15px;
height:598.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.s_1_Chapter_14-1_26
{
position:absolute;
top:58.88px;
left:0px;
}
.s_1_Chapter_14-1_27
{
position:absolute;
top:213.6px;
left:380.63px;
}
.s_1_Chapter_14-1_28
{
position:absolute;
top:213.6px;
left:453.54px;
letter-spacing:-3.9px;
}
.s_1_Chapter_14-1_29
{
position:absolute;
top:213.6px;
left:662.84px;
letter-spacing:-0.44px;
}
.s_1_Chapter_14-1_30
{
position:absolute;
top:213.6px;
left:1764.44px;
}
.s_1_Chapter_14-1_31
{
position:absolute;
top:213.6px;
left:1997.39px;
letter-spacing:-1.82px;
}
.s_1_Chapter_14-1_32
{
position:absolute;
top:213.6px;
left:2181.99px;
letter-spacing:-0.17px;
}
.s_1_Chapter_14-1_33
{
position:absolute;
top:213.6px;
left:4283.28px;
}
.s_1_Chapter_14-1_34
{
position:absolute;
top:213.6px;
left:4924.17px;
letter-spacing:-2.51px;
}
.s_1_Chapter_14-1_35
{
position:absolute;
top:213.6px;
left:5203.67px;
letter-spacing:0px;
}
.s_1_Chapter_14-1_36
{
position:absolute;
top:213.6px;
left:5590.8px;
}
.s_1_Chapter_14-1_37
{
position:absolute;
top:213.6px;
left:6266.02px;
letter-spacing:-0.62px;
}
.s_1_Chapter_14-1_38
{
position:absolute;
top:213.6px;
left:6861.15px;
}
.s_1_Chapter_14-1_39
{
position:absolute;
top:213.6px;
left:7741.76px;
}
.s_1_Chapter_14-1_40
{
position:absolute;
top:213.6px;
left:8485.86px;
letter-spacing:-0.43px;
}
.s_1_Chapter_14-1_41
{
position:absolute;
top:213.6px;
left:9223.73px;
letter-spacing:-1.82px;
}
.s_1_Chapter_14-1_42
{
position:absolute;
top:613.6px;
left:453.54px;
}
.s_1_Chapter_14-1_43
{
position:absolute;
top:613.6px;
left:1204.15px;
letter-spacing:-0.95px;
}
.s_1_Chapter_14-1_44
{
position:absolute;
top:613.6px;
left:2121.16px;
}
.s_1_Chapter_14-1_45
{
position:absolute;
top:613.6px;
left:2542.88px;
}
.s_1_Chapter_14-1_46
{
position:absolute;
top:613.6px;
left:3646.3px;
letter-spacing:-0.52px;
}
.s_1_Chapter_14-1_47
{
position:absolute;
top:613.6px;
left:4401.33px;
}
.s_1_Chapter_14-1_48
{
position:absolute;
top:613.6px;
left:5075.76px;
letter-spacing:-0.19px;
}
.s_1_Chapter_14-1_49
{
position:absolute;
top:613.6px;
left:5967.81px;
letter-spacing:0px;
}
.s_1_Chapter_14-1_50
{
position:absolute;
top:613.6px;
left:6889.5px;
letter-spacing:-0.4px;
}
.s_1_Chapter_14-1_51
{
position:absolute;
top:613.6px;
left:8109.92px;
letter-spacing:-0.78px;
}
.s_1_Chapter_14-1_52
{
position:absolute;
top:613.6px;
left:8531.63px;
letter-spacing:-0.16px;
}
.s_1_Chapter_14-1_53
{
position:absolute;
top:-26.96px;
left:0px;
letter-spacing:20.63px;
transform-origin: 0% 759.55px;
-webkit-transform-origin: 0% 759.55px;
-ms-transform-origin: 0% 759.55px;
-o-transform-origin: 0% 759.55px;
-moz-transform-origin: 0% 759.55px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Chapter_14-1_54
{
position:absolute;
top:-26.96px;
left:1287.37px;
letter-spacing:24.06px;
transform-origin: 0% 759.55px;
-webkit-transform-origin: 0% 759.55px;
-ms-transform-origin: 0% 759.55px;
-o-transform-origin: 0% 759.55px;
-moz-transform-origin: 0% 759.55px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Chapter_14-1_55
{
position:absolute;
top:-26.96px;
left:4366.62px;
letter-spacing:20.62px;
transform-origin: 0% 759.55px;
-webkit-transform-origin: 0% 759.55px;
-ms-transform-origin: 0% 759.55px;
-o-transform-origin: 0% 759.55px;
-moz-transform-origin: 0% 759.55px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Chapter_14-1_56
{
position:absolute;
top:-26.96px;
left:6067.49px;
letter-spacing:22.92px;
transform-origin: 0% 759.55px;
-webkit-transform-origin: 0% 759.55px;
-ms-transform-origin: 0% 759.55px;
-o-transform-origin: 0% 759.55px;
-moz-transform-origin: 0% 759.55px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Chapter_14-1_57
{
position:absolute;
top:-26.96px;
left:8147.88px;
letter-spacing:13.75px;
transform-origin: 0% 759.55px;
-webkit-transform-origin: 0% 759.55px;
-ms-transform-origin: 0% 759.55px;
-o-transform-origin: 0% 759.55px;
-moz-transform-origin: 0% 759.55px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Chapter_14-1_58
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.45px;
}
.s_1_Chapter_14-1_59
{
position:absolute;
top:-19.5px;
left:932.61px;
}
.s_1_Chapter_14-1_60
{
position:absolute;
top:-19.5px;
left:1003.33px;
}
.s_1_Chapter_14-1_61
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.45px;
}
.s_1_Chapter_14-1_62
{
position:absolute;
top:-19.5px;
left:932.61px;
}
.s_1_Chapter_14-1_63
{
position:absolute;
top:-19.5px;
left:1003.33px;
}
.s_1_Chapter_14-1_64
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.45px;
}
.s_1_Chapter_14-1_65
{
position:absolute;
top:-19.5px;
left:932.61px;
}
.s_1_Chapter_14-1_66
{
position:absolute;
top:-19.5px;
left:1003.33px;
}
.s_1_Chapter_14-1_67
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.45px;
}
.s_1_Chapter_14-1_68
{
position:absolute;
top:-19.5px;
left:932.61px;
}
.s_1_Chapter_14-1_69
{
position:absolute;
top:-19.5px;
left:1003.33px;
}
.s_1_Chapter_14-1_70
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.45px;
}
.s_1_Chapter_14-1_71
{
position:absolute;
top:-19.5px;
left:932.61px;
}
.s_1_Chapter_14-1_72
{
position:absolute;
top:-19.5px;
left:1003.33px;
}
.s_1_Chapter_14-1_73
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-2.4px;
}
.s_1_Chapter_14-1_74
{
position:absolute;
top:-19.5px;
left:464.88px;
letter-spacing:-2.66px;
}
.s_1_Chapter_14-1_75
{
position:absolute;
top:-16.44px;
left:75.94px;
letter-spacing:-1.75px;
}
.s_1_Chapter_14-1_76
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.74px;
}
.s_1_Chapter_14-1_77
{
position:absolute;
top:-19.5px;
left:864.49px;
letter-spacing:-2.68px;
}
.s_1_Chapter_14-1_78
{
position:absolute;
top:-19.5px;
left:1161.15px;
letter-spacing:-0.45px;
}
.s_1_Chapter_14-1_79
{
position:absolute;
top:-19.5px;
left:1664.24px;
letter-spacing:-2.08px;
}
.s_1_Chapter_14-1_80
{
position:absolute;
top:-16.44px;
left:77.59px;
}
.s_1_Chapter_14-1_81
{
position:absolute;
top:-19.5px;
left:0px;
}
.s_1_Chapter_14-1_82
{
position:absolute;
top:-16.44px;
left:109.6px;
letter-spacing:-1.42px;
}
.s_1_Chapter_14-1_83
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.41px;
}
.s_1_Chapter_14-1_84
{
position:absolute;
top:-19.5px;
left:878.53px;
letter-spacing:-1.34px;
}
.s_1_Chapter_14-1_85
{
position:absolute;
top:-16.44px;
left:77.81px;
letter-spacing:-1.1px;
}
.s_1_Chapter_14-1_86
{
position:absolute;
top:-19.5px;
left:0px;
}
.s_1_Chapter_14-1_87
{
position:absolute;
top:-19.5px;
left:760.74px;
letter-spacing:-0.88px;
}
.s_1_Chapter_14-1_88
{
position:absolute;
top:-16.44px;
left:78.9px;
letter-spacing:-1.75px;
}
.s_1_Chapter_14-1_89
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.45px;
}
.s_1_Chapter_14-1_90
{
position:absolute;
top:-19.5px;
left:932.61px;
}
.s_1_Chapter_14-1_91
{
position:absolute;
top:-19.5px;
left:1003.33px;
}
.s_1_Chapter_14-1_92
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.71px;
}
.s_1_Chapter_14-1_93
{
position:absolute;
top:-19.5px;
left:581.36px;
letter-spacing:-2.77px;
}
.s_1_Chapter_14-1_94
{
position:absolute;
top:-19.5px;
left:899.33px;
letter-spacing:-2.66px;
}
.s_1_Chapter_14-1_95
{
position:absolute;
top:-16.44px;
left:73.86px;
letter-spacing:-1.75px;
}
.s_1_Chapter_14-1_96
{
position:absolute;
top:41.44px;
left:134.15px;
}
.s_1_Chapter_14-1_97
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-2.3px;
}
.s_1_Chapter_14-1_98
{
position:absolute;
top:-19.5px;
left:1311.18px;
}
.s_1_Chapter_14-1_99
{
position:absolute;
top:-19.5px;
left:2054.24px;
letter-spacing:-1.97px;
}
.s_1_Chapter_14-1_100
{
position:absolute;
top:-19.5px;
left:3253.35px;
letter-spacing:-2.79px;
}
.s_1_Chapter_14-1_101
{
position:absolute;
top:-19.5px;
left:4244.73px;
letter-spacing:-4.31px;
}
.s_1_Chapter_14-1_102
{
position:absolute;
top:-19.5px;
left:5582.16px;
letter-spacing:-1.33px;
}
.s_1_Chapter_14-1_103
{
position:absolute;
top:-19.5px;
left:7051.16px;
letter-spacing:-0.78px;
}
.s_1_Chapter_14-1_104
{
position:absolute;
top:-14.08px;
left:0px;
letter-spacing:-3.89px;
}
.s_1_Chapter_14-1_105
{
position:absolute;
top:-14.08px;
left:843.18px;
letter-spacing:-4.67px;
}
.s_1_Chapter_14-1_106
{
position:absolute;
top:-14.08px;
left:1635.81px;
letter-spacing:-3.89px;
}
.s_1_Chapter_14-1_107
{
position:absolute;
top:-19.5px;
left:0px;
}
.s_1_Chapter_14-1_108
{
position:absolute;
top:-19.5px;
left:378.81px;
}
.s_1_Chapter_14-1_109
{
position:absolute;
top:-19.5px;
left:790.12px;
}
.s_1_Chapter_14-1_110
{
position:absolute;
top:-19.5px;
left:1997.28px;
}
.s_1_Chapter_14-1_111
{
position:absolute;
top:-19.5px;
left:2508.43px;
}
.s_1_Chapter_14-1_112
{
position:absolute;
top:-19.5px;
left:2920.78px;
letter-spacing:-0.41px;
}
.s_1_Chapter_14-1_113
{
position:absolute;
top:-19.5px;
left:3745.23px;
letter-spacing:-2.68px;
}
.s_1_Chapter_14-1_114
{
position:absolute;
top:-19.5px;
left:4049.17px;
}
.s_1_Chapter_14-1_115
{
position:absolute;
top:-19.5px;
left:4460.47px;
}
.s_1_Chapter_14-1_116
{
position:absolute;
top:-19.5px;
left:4826.55px;
letter-spacing:-1.99px;
}
.s_1_Chapter_14-1_117
{
position:absolute;
top:-19.5px;
left:5578.97px;
letter-spacing:0px;
}
.s_1_Chapter_14-1_118
{
position:absolute;
top:-19.5px;
left:6311.91px;
letter-spacing:-2.68px;
}
.s_1_Chapter_14-1_119
{
position:absolute;
top:-19.5px;
left:6611.43px;
letter-spacing:0px;
}
.s_1_Chapter_14-1_120
{
position:absolute;
top:-19.5px;
left:7290.28px;
letter-spacing:-0.58px;
}
.s_1_Chapter_14-1_121
{
position:absolute;
top:-19.5px;
left:7752.03px;
}
.s_1_Chapter_14-1_122
{
position:absolute;
top:380.5px;
left:0px;
}
.s_1_Chapter_14-1_123
{
position:absolute;
top:380.5px;
left:456.81px;
letter-spacing:-1.17px;
}
.s_1_Chapter_14-1_124
{
position:absolute;
top:380.5px;
left:1146.58px;
letter-spacing:-2.03px;
}
.s_1_Chapter_14-1_125
{
position:absolute;
top:380.5px;
left:1809.31px;
}
.s_1_Chapter_14-1_126
{
position:absolute;
top:380.5px;
left:2132.74px;
}
.s_1_Chapter_14-1_127
{
position:absolute;
top:380.5px;
left:2982.66px;
letter-spacing:-0.36px;
}
.s_1_Chapter_14-1_128
{
position:absolute;
top:380.5px;
left:3868.21px;
letter-spacing:-1.49px;
}
.s_1_Chapter_14-1_129
{
position:absolute;
top:380.5px;
left:4472.44px;
letter-spacing:-1.82px;
}
.s_1_Chapter_14-1_130
{
position:absolute;
top:380.5px;
left:5182.76px;
letter-spacing:-2.03px;
}
.s_1_Chapter_14-1_131
{
position:absolute;
top:380.5px;
left:5845.49px;
}

#text1 {
	position:absolute;
	top: 629px;
	left: 242px;
}
#text2 {
	position:absolute;
	top: 629px;
	left: 432px;
}
#text3 {
	position:absolute;
	top: 629px;
	left: 79px;
}
#text4 {
	position:absolute;
	top: 629px;
	left: 144px;
}
#text5 {
	position:absolute;
	top: 629px;
	left: 291px;
}
#text6 {
	position:absolute;
	top: 629px;
	left: 358px;
}
#box1 {
	position:absolute;
	top: 372px;
	left: 134px;
	width: 94px;
}
#box2 {
	position:absolute;
	top: 372px;
	left: 297px;
	width: 93px;
}
#box3 {
	position:absolute;
	top: 372px;
	left: 464px;
	width: 83px;
}
#box4 {
	position:absolute;
	top: 571px;
	left: 130px;
	width: 89px;
}
#box5 {
	position:absolute;
	top: 571px;
	left: 294px;
	width: 90px;
}
#box6 {
	position:absolute;
	top: 571px;
	left: 464px;
	width: 83px;
}
.p49_input_text1 {
	display: none;
	text-align: center;
	font-family: "Cabrito_Sans_Norm_Book";
	font-size: 13px;
	margin-top: 2px;
	line-height: 15px;
}
.page49_btn1 {
	position:absolute;
	top: 781px;
	left: 290px;
}
.text_p49 {
    font-family: "Cabrito_Sans_Norm_Book";
    font-weight: normal;
    font-style: normal;
    font-size: 13px;
    cursor: pointer;
    white-space : nowrap;
    line-height: 27px;
}
