.d_1_Chapter_14-2_1
{
position:absolute;
overflow:hidden;
left:0px;
top:0px;
transform:translate(0.00px,0.00px);
-webkit-transform:translate(0.00px,0.00px);
-ms-transform:translate(0.00px,0.00px);
-o-transform:translate(0.00px,0.00px);
-moz-transform:translate(0.00px,0.00px);
width:595.28px;
height:841.89px
}
.d_1_Chapter_14-2_2
{
width:9873.68px;
height:1014.2px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-2_3
{
width:7635.12px;
height:1537.85px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-2_4
{
width:7843.62px;
height:1263.6px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-2_5
{
width:7795.12px;
height:1154.02px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-2_6
{
width:7380px;
height:1179.84px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-2_7
{
width:7268.19px;
height:1901.57px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-2_8
{
width:7020px;
height:1557.64px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-2_9
{
width:560.18px;
height:401.47px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-2_10
{
position:absolute;
overflow:hidden;
left:0px;
top:0px;
transform:translate(595.28px,0.00px);
-webkit-transform:translate(595.28px,0.00px);
-ms-transform:translate(595.28px,0.00px);
-o-transform:translate(595.28px,0.00px);
-moz-transform:translate(595.28px,0.00px);
width:595.28px;
height:841.89px
}
.d_1_Chapter_14-2_11
{
width:560.18px;
height:401.47px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-2_12
{
width:9671.47px;
height:832px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-2_13
{
width:352.67px;
height:230.78px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-2_14
{
width:7019.71px;
height:1805.17px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-2_15
{
width:352.67px;
height:230.78px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-2_16
{
width:6842.52px;
height:1398.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-2_17
{
width:352.67px;
height:230.78px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-2_18
{
width:6576.38px;
height:1553.36px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-2_19
{
width:352.67px;
height:230.78px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-2_20
{
width:6563.62px;
height:1213.34px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-2_21
{
width:6962.79px;
height:1228.06px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-2_22
{
width:352.67px;
height:230.78px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-2_23
{
width:352.67px;
height:230.78px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-2_24
{
width:6620.74px;
height:1451.09px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_14-2_25
{
width:9274.17px;
height:598.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.s_1_Chapter_14-2_26
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-2.03px;
}
.s_1_Chapter_14-2_27
{
position:absolute;
top:-19.5px;
left:599.03px;
}
.s_1_Chapter_14-2_28
{
position:absolute;
top:-19.5px;
left:1687.37px;
letter-spacing:-2.51px;
}
.s_1_Chapter_14-2_29
{
position:absolute;
top:-19.5px;
left:1959.07px;
letter-spacing:-0.52px;
}
.s_1_Chapter_14-2_30
{
position:absolute;
top:-19.5px;
left:2741.66px;
}
.s_1_Chapter_14-2_31
{
position:absolute;
top:-19.5px;
left:3212.25px;
letter-spacing:-0.74px;
}
.s_1_Chapter_14-2_32
{
position:absolute;
top:-19.5px;
left:3899.68px;
letter-spacing:-0.78px;
}
.s_1_Chapter_14-2_33
{
position:absolute;
top:-19.5px;
left:4321.39px;
letter-spacing:-0.4px;
}
.s_1_Chapter_14-2_34
{
position:absolute;
top:-19.5px;
left:5361.64px;
letter-spacing:-0.26px;
}
.s_1_Chapter_14-2_35
{
position:absolute;
top:-19.5px;
left:5879.82px;
letter-spacing:0px;
}
.s_1_Chapter_14-2_36
{
position:absolute;
top:-19.5px;
left:6301.53px;
letter-spacing:0px;
}
.s_1_Chapter_14-2_37
{
position:absolute;
top:-19.5px;
left:6688.66px;
letter-spacing:-2.51px;
}
.s_1_Chapter_14-2_38
{
position:absolute;
top:-19.5px;
left:6968.16px;
letter-spacing:0px;
}
.s_1_Chapter_14-2_39
{
position:absolute;
top:-19.5px;
left:7936.65px;
letter-spacing:-0.58px;
}
.s_1_Chapter_14-2_40
{
position:absolute;
top:-19.5px;
left:8440.52px;
letter-spacing:-0.39px;
}
.s_1_Chapter_14-2_41
{
position:absolute;
top:-19.5px;
left:9355.45px;
letter-spacing:0px;
}
.s_1_Chapter_14-2_42
{
position:absolute;
top:380.5px;
left:0px;
letter-spacing:-0.61px;
}
.s_1_Chapter_14-2_43
{
position:absolute;
top:380.5px;
left:598.51px;
letter-spacing:-0.62px;
}
.s_1_Chapter_14-2_44
{
position:absolute;
top:380.5px;
left:1192.6px;
}
.s_1_Chapter_14-2_45
{
position:absolute;
top:380.5px;
left:1614.32px;
}
.s_1_Chapter_14-2_46
{
position:absolute;
top:380.5px;
left:2488.69px;
}
.s_1_Chapter_14-2_47
{
position:absolute;
top:380.5px;
left:3215.38px;
letter-spacing:-0.78px;
}
.s_1_Chapter_14-2_48
{
position:absolute;
top:380.5px;
left:3913.21px;
letter-spacing:-0.78px;
}
.s_1_Chapter_14-2_49
{
position:absolute;
top:380.5px;
left:4334.93px;
letter-spacing:-1.66px;
}
.s_1_Chapter_14-2_50
{
position:absolute;
top:380.5px;
left:5003.38px;
letter-spacing:0px;
}
.s_1_Chapter_14-2_51
{
position:absolute;
top:380.5px;
left:5744.37px;
letter-spacing:0px;
}
.s_1_Chapter_14-2_52
{
position:absolute;
top:380.5px;
left:6725.33px;
letter-spacing:0px;
}
.s_1_Chapter_14-2_53
{
position:absolute;
top:380.5px;
left:7257.54px;
letter-spacing:-2.03px;
}
.s_1_Chapter_14-2_54
{
position:absolute;
top:380.5px;
left:7840.2px;
letter-spacing:-0.84px;
}
.s_1_Chapter_14-2_55
{
position:absolute;
top:380.5px;
left:8840.4px;
letter-spacing:0px;
}
.s_1_Chapter_14-2_56
{
position:absolute;
top:780.5px;
left:0px;
letter-spacing:-0.24px;
}
.s_1_Chapter_14-2_57
{
position:absolute;
top:780.5px;
left:1386.3px;
letter-spacing:-1.17px;
}
.s_1_Chapter_14-2_58
{
position:absolute;
top:780.5px;
left:1797.35px;
}
.s_1_Chapter_14-2_59
{
position:absolute;
top:780.5px;
left:2110.39px;
letter-spacing:-0.62px;
}
.s_1_Chapter_14-2_60
{
position:absolute;
top:780.5px;
left:2674.58px;
}
.s_1_Chapter_14-2_61
{
position:absolute;
top:780.5px;
left:3145.17px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_14-2_62
{
position:absolute;
top:780.5px;
left:3625.12px;
}
.s_1_Chapter_14-2_63
{
position:absolute;
top:780.5px;
left:4058.01px;
letter-spacing:-0.62px;
}
.s_1_Chapter_14-2_64
{
position:absolute;
top:780.5px;
left:4695.26px;
}
.s_1_Chapter_14-2_65
{
position:absolute;
top:780.5px;
left:5405.05px;
}
.s_1_Chapter_14-2_66
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-1.3px;
}
.s_1_Chapter_14-2_67
{
position:absolute;
top:-19.5px;
left:574.85px;
letter-spacing:-1.14px;
}
.s_1_Chapter_14-2_68
{
position:absolute;
top:-19.5px;
left:1132.03px;
letter-spacing:-3.34px;
}
.s_1_Chapter_14-2_69
{
position:absolute;
top:-19.5px;
left:1949.98px;
letter-spacing:-0.71px;
}
.s_1_Chapter_14-2_70
{
position:absolute;
top:-19.5px;
left:2498.31px;
letter-spacing:-3.25px;
}
.s_1_Chapter_14-2_71
{
position:absolute;
top:-19.5px;
left:2705.79px;
letter-spacing:-1.13px;
}
.s_1_Chapter_14-2_72
{
position:absolute;
top:-19.5px;
left:3961.06px;
letter-spacing:-0.94px;
}
.s_1_Chapter_14-2_73
{
position:absolute;
top:-19.5px;
left:4865.32px;
letter-spacing:-0.52px;
}
.s_1_Chapter_14-2_74
{
position:absolute;
top:-19.5px;
left:5709.79px;
letter-spacing:-2.6px;
}
.s_1_Chapter_14-2_75
{
position:absolute;
top:-19.5px;
left:6115.12px;
letter-spacing:0px;
}
.s_1_Chapter_14-2_76
{
position:absolute;
top:380.5px;
left:0px;
letter-spacing:-0.41px;
}
.s_1_Chapter_14-2_77
{
position:absolute;
top:380.5px;
left:882.69px;
letter-spacing:-1.4px;
}
.s_1_Chapter_14-2_78
{
position:absolute;
top:380.5px;
left:1516.04px;
}
.s_1_Chapter_14-2_79
{
position:absolute;
top:380.5px;
left:2199.57px;
}
.s_1_Chapter_14-2_80
{
position:absolute;
top:380.5px;
left:2821.48px;
}
.s_1_Chapter_14-2_81
{
position:absolute;
top:380.5px;
left:3161.82px;
letter-spacing:-0.26px;
}
.s_1_Chapter_14-2_82
{
position:absolute;
top:380.5px;
left:4747.02px;
}
.s_1_Chapter_14-2_83
{
position:absolute;
top:380.5px;
left:4817.74px;
letter-spacing:0px;
}
.s_1_Chapter_14-2_84
{
position:absolute;
top:380.5px;
left:5328.89px;
letter-spacing:-1.23px;
}
.s_1_Chapter_14-2_85
{
position:absolute;
top:380.5px;
left:6566.74px;
}
.s_1_Chapter_14-2_86
{
position:absolute;
top:380.5px;
left:6698.55px;
letter-spacing:0px;
}
.s_1_Chapter_14-2_87
{
position:absolute;
top:780.5px;
left:0px;
letter-spacing:-2.68px;
}
.s_1_Chapter_14-2_88
{
position:absolute;
top:780.5px;
left:303.94px;
}
.s_1_Chapter_14-2_89
{
position:absolute;
top:780.5px;
left:706.93px;
letter-spacing:-0.16px;
}
.s_1_Chapter_14-2_90
{
position:absolute;
top:780.5px;
left:1852.47px;
letter-spacing:-1.75px;
}
.s_1_Chapter_14-2_91
{
position:absolute;
top:780.5px;
left:2306.94px;
letter-spacing:-0.39px;
}
.s_1_Chapter_14-2_92
{
position:absolute;
top:780.5px;
left:3413.5px;
}
.s_1_Chapter_14-2_93
{
position:absolute;
top:780.5px;
left:3484.21px;
}
.s_1_Chapter_14-2_94
{
position:absolute;
top:780.5px;
left:3995.37px;
letter-spacing:-0.8px;
}
.s_1_Chapter_14-2_95
{
position:absolute;
top:780.5px;
left:5744.11px;
}
.s_1_Chapter_14-2_96
{
position:absolute;
top:780.5px;
left:5814.83px;
letter-spacing:0px;
}
.s_1_Chapter_14-2_97
{
position:absolute;
top:780.5px;
left:6325.98px;
letter-spacing:-0.58px;
}
.s_1_Chapter_14-2_98
{
position:absolute;
top:780.5px;
left:7290.04px;
letter-spacing:-2.68px;
}
.s_1_Chapter_14-2_99
{
position:absolute;
top:1180.5px;
left:0px;
letter-spacing:-3.25px;
}
.s_1_Chapter_14-2_100
{
position:absolute;
top:1180.5px;
left:207.48px;
}
.s_1_Chapter_14-2_101
{
position:absolute;
top:1180.5px;
left:783.11px;
}
.s_1_Chapter_14-2_102
{
position:absolute;
top:-19.5px;
left:0px;
}
.s_1_Chapter_14-2_103
{
position:absolute;
top:-19.5px;
left:784.41px;
letter-spacing:-0.33px;
}
.s_1_Chapter_14-2_104
{
position:absolute;
top:-19.5px;
left:1554.26px;
}
.s_1_Chapter_14-2_105
{
position:absolute;
top:-19.5px;
left:1811.13px;
letter-spacing:-3.25px;
}
.s_1_Chapter_14-2_106
{
position:absolute;
top:-19.5px;
left:2018.61px;
letter-spacing:-1.65px;
}
.s_1_Chapter_14-2_107
{
position:absolute;
top:-19.5px;
left:2979.29px;
}
.s_1_Chapter_14-2_108
{
position:absolute;
top:-19.5px;
left:3936.34px;
letter-spacing:-1.33px;
}
.s_1_Chapter_14-2_109
{
position:absolute;
top:-19.5px;
left:5082.66px;
}
.s_1_Chapter_14-2_110
{
position:absolute;
top:-19.5px;
left:6174.9px;
letter-spacing:0px;
}
.s_1_Chapter_14-2_111
{
position:absolute;
top:-19.5px;
left:6681.11px;
letter-spacing:-0.85px;
}
.s_1_Chapter_14-2_112
{
position:absolute;
top:-19.5px;
left:7461.36px;
letter-spacing:-2.68px;
}
.s_1_Chapter_14-2_113
{
position:absolute;
top:380.5px;
left:0px;
}
.s_1_Chapter_14-2_114
{
position:absolute;
top:380.5px;
left:454.21px;
}
.s_1_Chapter_14-2_115
{
position:absolute;
top:380.5px;
left:1044.92px;
letter-spacing:-0.13px;
}
.s_1_Chapter_14-2_116
{
position:absolute;
top:380.5px;
left:2590.07px;
}
.s_1_Chapter_14-2_117
{
position:absolute;
top:380.5px;
left:3112.66px;
}
.s_1_Chapter_14-2_118
{
position:absolute;
top:380.5px;
left:3845.59px;
letter-spacing:-2.68px;
}
.s_1_Chapter_14-2_119
{
position:absolute;
top:380.5px;
left:4149.53px;
}
.s_1_Chapter_14-2_120
{
position:absolute;
top:380.5px;
left:4552.52px;
letter-spacing:-0.16px;
}
.s_1_Chapter_14-2_121
{
position:absolute;
top:380.5px;
left:5698.07px;
letter-spacing:-1.75px;
}
.s_1_Chapter_14-2_122
{
position:absolute;
top:380.5px;
left:6152.54px;
letter-spacing:-0.32px;
}
.s_1_Chapter_14-2_123
{
position:absolute;
top:380.5px;
left:7354.51px;
}
.s_1_Chapter_14-2_124
{
position:absolute;
top:780.5px;
left:0px;
}
.s_1_Chapter_14-2_125
{
position:absolute;
top:780.5px;
left:764.39px;
}
.s_1_Chapter_14-2_126
{
position:absolute;
top:780.5px;
left:835.11px;
}
.s_1_Chapter_14-2_127
{
position:absolute;
top:780.5px;
left:1346.26px;
letter-spacing:-2.5px;
}
.s_1_Chapter_14-2_128
{
position:absolute;
top:780.5px;
left:1996.77px;
letter-spacing:-2.68px;
}
.s_1_Chapter_14-2_129
{
position:absolute;
top:780.5px;
left:2300.71px;
letter-spacing:-0.31px;
}
.s_1_Chapter_14-2_130
{
position:absolute;
top:780.5px;
left:2939.78px;
}
.s_1_Chapter_14-2_131
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-1.99px;
}
.s_1_Chapter_14-2_132
{
position:absolute;
top:-19.5px;
left:434.98px;
}
.s_1_Chapter_14-2_133
{
position:absolute;
top:-19.5px;
left:1497.32px;
}
.s_1_Chapter_14-2_134
{
position:absolute;
top:-19.5px;
left:2046.69px;
letter-spacing:-0.52px;
}
.s_1_Chapter_14-2_135
{
position:absolute;
top:-19.5px;
left:2894.8px;
}
.s_1_Chapter_14-2_136
{
position:absolute;
top:-19.5px;
left:3230.72px;
}
.s_1_Chapter_14-2_137
{
position:absolute;
top:-19.5px;
left:3684.93px;
}
.s_1_Chapter_14-2_138
{
position:absolute;
top:-19.5px;
left:4708.53px;
letter-spacing:-2.68px;
}
.s_1_Chapter_14-2_139
{
position:absolute;
top:-19.5px;
left:5012.47px;
letter-spacing:-5.04px;
}
.s_1_Chapter_14-2_140
{
position:absolute;
top:-19.5px;
left:5736.82px;
letter-spacing:-0.71px;
}
.s_1_Chapter_14-2_141
{
position:absolute;
top:-19.5px;
left:6285.15px;
letter-spacing:0px;
}
.s_1_Chapter_14-2_142
{
position:absolute;
top:380.5px;
left:0px;
letter-spacing:-0.49px;
}
.s_1_Chapter_14-2_143
{
position:absolute;
top:380.5px;
left:1750.55px;
letter-spacing:-1.16px;
}
.s_1_Chapter_14-2_144
{
position:absolute;
top:380.5px;
left:3114.5px;
}
.s_1_Chapter_14-2_145
{
position:absolute;
top:380.5px;
left:3902.03px;
letter-spacing:-0.94px;
}
.s_1_Chapter_14-2_146
{
position:absolute;
top:380.5px;
left:4806.29px;
letter-spacing:-2.68px;
}
.s_1_Chapter_14-2_147
{
position:absolute;
top:380.5px;
left:5105.81px;
}
.s_1_Chapter_14-2_148
{
position:absolute;
top:380.5px;
left:5560.02px;
}
.s_1_Chapter_14-2_149
{
position:absolute;
top:384.99px;
left:5858.5px;
}
.s_1_Chapter_14-2_150
{
position:absolute;
top:380.5px;
left:5998.25px;
}
.s_1_Chapter_14-2_151
{
position:absolute;
top:380.5px;
left:6068.97px;
letter-spacing:-1.73px;
}
.s_1_Chapter_14-2_152
{
position:absolute;
top:380.5px;
left:7090.75px;
letter-spacing:0px;
}
.s_1_Chapter_14-2_153
{
position:absolute;
top:780.5px;
left:0px;
letter-spacing:-2.68px;
}
.s_1_Chapter_14-2_154
{
position:absolute;
top:780.5px;
left:303.94px;
}
.s_1_Chapter_14-2_155
{
position:absolute;
top:780.5px;
left:706.93px;
letter-spacing:-0.16px;
}
.s_1_Chapter_14-2_156
{
position:absolute;
top:780.5px;
left:1852.47px;
letter-spacing:-1.75px;
}
.s_1_Chapter_14-2_157
{
position:absolute;
top:780.5px;
left:2306.94px;
letter-spacing:-1.3px;
}
.s_1_Chapter_14-2_158
{
position:absolute;
top:780.5px;
left:2905.72px;
}
.s_1_Chapter_14-2_159
{
position:absolute;
top:780.5px;
left:3798.29px;
}
.s_1_Chapter_14-2_160
{
position:absolute;
top:780.5px;
left:4309.44px;
letter-spacing:-0.74px;
}
.s_1_Chapter_14-2_161
{
position:absolute;
top:780.5px;
left:5133.89px;
}
.s_1_Chapter_14-2_162
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.45px;
}
.s_1_Chapter_14-2_163
{
position:absolute;
top:-19.5px;
left:822.63px;
letter-spacing:-3.7px;
}
.s_1_Chapter_14-2_164
{
position:absolute;
top:-19.5px;
left:1326.77px;
letter-spacing:-0.71px;
}
.s_1_Chapter_14-2_165
{
position:absolute;
top:-19.5px;
left:1875.1px;
letter-spacing:-1.16px;
}
.s_1_Chapter_14-2_166
{
position:absolute;
top:-19.5px;
left:3239.05px;
letter-spacing:-3.38px;
}
.s_1_Chapter_14-2_167
{
position:absolute;
top:-19.5px;
left:3585.1px;
}
.s_1_Chapter_14-2_168
{
position:absolute;
top:-19.5px;
left:4039.32px;
}
.s_1_Chapter_14-2_169
{
position:absolute;
top:-19.5px;
left:4826.85px;
letter-spacing:-0.54px;
}
.s_1_Chapter_14-2_170
{
position:absolute;
top:-19.5px;
left:6325.98px;
letter-spacing:0px;
}
.s_1_Chapter_14-2_171
{
position:absolute;
top:380.5px;
left:0px;
letter-spacing:-2.68px;
}
.s_1_Chapter_14-2_172
{
position:absolute;
top:380.5px;
left:303.94px;
}
.s_1_Chapter_14-2_173
{
position:absolute;
top:380.5px;
left:706.93px;
letter-spacing:-0.34px;
}
.s_1_Chapter_14-2_174
{
position:absolute;
top:380.5px;
left:2199.05px;
}
.s_1_Chapter_14-2_175
{
position:absolute;
top:380.5px;
left:2512.6px;
}
.s_1_Chapter_14-2_176
{
position:absolute;
top:380.5px;
left:3111.36px;
}
.s_1_Chapter_14-2_177
{
position:absolute;
top:380.5px;
left:3547.63px;
}
.s_1_Chapter_14-2_178
{
position:absolute;
top:380.5px;
left:4208.54px;
}
.s_1_Chapter_14-2_179
{
position:absolute;
top:380.5px;
left:5156.49px;
letter-spacing:-0.52px;
}
.s_1_Chapter_14-2_180
{
position:absolute;
top:380.5px;
left:5942.45px;
}
.s_1_Chapter_14-2_181
{
position:absolute;
top:780.5px;
left:0px;
letter-spacing:-0.26px;
}
.s_1_Chapter_14-2_182
{
position:absolute;
top:780.5px;
left:688.73px;
}
.s_1_Chapter_14-2_183
{
position:absolute;
top:780.5px;
left:1195.46px;
letter-spacing:-0.78px;
}
.s_1_Chapter_14-2_184
{
position:absolute;
top:780.5px;
left:1716.75px;
letter-spacing:-0.26px;
}
.s_1_Chapter_14-2_185
{
position:absolute;
top:780.5px;
left:3212.26px;
}
.s_1_Chapter_14-2_186
{
position:absolute;
top:780.5px;
left:3652.69px;
}
.s_1_Chapter_14-2_187
{
position:absolute;
top:780.5px;
left:3723.41px;
letter-spacing:-0.26px;
}
.s_1_Chapter_14-2_188
{
position:absolute;
top:780.5px;
left:4475.84px;
}
.s_1_Chapter_14-2_189
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.93px;
}
.s_1_Chapter_14-2_190
{
position:absolute;
top:-19.5px;
left:851.22px;
letter-spacing:-1.73px;
}
.s_1_Chapter_14-2_191
{
position:absolute;
top:-19.5px;
left:1867.04px;
}
.s_1_Chapter_14-2_192
{
position:absolute;
top:-19.5px;
left:2119.49px;
}
.s_1_Chapter_14-2_193
{
position:absolute;
top:-19.5px;
left:2573.7px;
letter-spacing:-1.25px;
}
.s_1_Chapter_14-2_194
{
position:absolute;
top:-19.5px;
left:3132.95px;
}
.s_1_Chapter_14-2_195
{
position:absolute;
top:-19.5px;
left:3915.54px;
}
.s_1_Chapter_14-2_196
{
position:absolute;
top:-19.5px;
left:4487.54px;
letter-spacing:-0.71px;
}
.s_1_Chapter_14-2_197
{
position:absolute;
top:-19.5px;
left:5035.87px;
letter-spacing:0px;
}
.s_1_Chapter_14-2_198
{
position:absolute;
top:-19.5px;
left:5974.45px;
}
.s_1_Chapter_14-2_199
{
position:absolute;
top:-19.5px;
left:6314.79px;
letter-spacing:0px;
}
.s_1_Chapter_14-2_200
{
position:absolute;
top:380.5px;
left:0px;
}
.s_1_Chapter_14-2_201
{
position:absolute;
top:380.5px;
left:1188.44px;
letter-spacing:-2.68px;
}
.s_1_Chapter_14-2_202
{
position:absolute;
top:380.5px;
left:1487.96px;
}
.s_1_Chapter_14-2_203
{
position:absolute;
top:380.5px;
left:1942.17px;
letter-spacing:-0.35px;
}
.s_1_Chapter_14-2_204
{
position:absolute;
top:380.5px;
left:2743.22px;
}
.s_1_Chapter_14-2_205
{
position:absolute;
top:380.5px;
left:3456.91px;
}
.s_1_Chapter_14-2_206
{
position:absolute;
top:380.5px;
left:3733.54px;
letter-spacing:-0.52px;
}
.s_1_Chapter_14-2_207
{
position:absolute;
top:380.5px;
left:4385.87px;
}
.s_1_Chapter_14-2_208
{
position:absolute;
top:380.5px;
left:4662.51px;
letter-spacing:-1.17px;
}
.s_1_Chapter_14-2_209
{
position:absolute;
top:380.5px;
left:5276.61px;
letter-spacing:-2.21px;
}
.s_1_Chapter_14-2_210
{
position:absolute;
top:380.5px;
left:5765.41px;
letter-spacing:-0.16px;
}
.s_1_Chapter_14-2_211
{
position:absolute;
top:780.5px;
left:0px;
letter-spacing:-2.03px;
}
.s_1_Chapter_14-2_212
{
position:absolute;
top:780.5px;
left:626.59px;
}
.s_1_Chapter_14-2_213
{
position:absolute;
top:780.5px;
left:1281.26px;
letter-spacing:-0.78px;
}
.s_1_Chapter_14-2_214
{
position:absolute;
top:780.5px;
left:2373.51px;
}
.s_1_Chapter_14-2_215
{
position:absolute;
top:780.5px;
left:2713.84px;
letter-spacing:-0.32px;
}
.s_1_Chapter_14-2_216
{
position:absolute;
top:780.5px;
left:3754.35px;
}
.s_1_Chapter_14-2_217
{
position:absolute;
top:780.5px;
left:4177.1px;
letter-spacing:-4.24px;
}
.s_1_Chapter_14-2_218
{
position:absolute;
top:780.5px;
left:5387.38px;
letter-spacing:-3.38px;
}
.s_1_Chapter_14-2_219
{
position:absolute;
top:780.5px;
left:5733.43px;
}
.s_1_Chapter_14-2_220
{
position:absolute;
top:1180.5px;
left:0px;
letter-spacing:-0.69px;
}
.s_1_Chapter_14-2_221
{
position:absolute;
top:1180.5px;
left:1535.28px;
letter-spacing:-2.68px;
}
.s_1_Chapter_14-2_222
{
position:absolute;
top:1180.5px;
left:1839.22px;
}
.s_1_Chapter_14-2_223
{
position:absolute;
top:1180.5px;
left:2541.72px;
}
.s_1_Chapter_14-2_224
{
position:absolute;
top:1180.5px;
left:3274.66px;
letter-spacing:-2.68px;
}
.s_1_Chapter_14-2_225
{
position:absolute;
top:1180.5px;
left:3578.59px;
letter-spacing:-1.49px;
}
.s_1_Chapter_14-2_226
{
position:absolute;
top:1180.5px;
left:4036.97px;
letter-spacing:-0.16px;
}
.s_1_Chapter_14-2_227
{
position:absolute;
top:1180.5px;
left:5182.51px;
}
.s_1_Chapter_14-2_228
{
position:absolute;
top:1180.5px;
left:6092.5px;
letter-spacing:-3.81px;
}
.s_1_Chapter_14-2_229
{
position:absolute;
top:1580.5px;
left:0px;
letter-spacing:-0.31px;
}
.s_1_Chapter_14-2_230
{
position:absolute;
top:1580.5px;
left:536.37px;
}
.s_1_Chapter_14-2_231
{
position:absolute;
top:1580.5px;
left:607.09px;
}
.s_1_Chapter_14-2_232
{
position:absolute;
top:1580.5px;
left:1118.24px;
}
.s_1_Chapter_14-2_233
{
position:absolute;
top:1580.5px;
left:1547.75px;
letter-spacing:-2.13px;
}
.s_1_Chapter_14-2_234
{
position:absolute;
top:1580.5px;
left:2435.91px;
}
.s_1_Chapter_14-2_235
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.52px;
}
.s_1_Chapter_14-2_236
{
position:absolute;
top:-19.5px;
left:631.79px;
letter-spacing:-0.65px;
}
.s_1_Chapter_14-2_237
{
position:absolute;
top:-19.5px;
left:1152.56px;
}
.s_1_Chapter_14-2_238
{
position:absolute;
top:-19.5px;
left:1409.44px;
letter-spacing:-1.65px;
}
.s_1_Chapter_14-2_239
{
position:absolute;
top:-19.5px;
left:2556.28px;
}
.s_1_Chapter_14-2_240
{
position:absolute;
top:-19.5px;
left:2896.61px;
}
.s_1_Chapter_14-2_241
{
position:absolute;
top:-19.5px;
left:3406.47px;
letter-spacing:-2.68px;
}
.s_1_Chapter_14-2_242
{
position:absolute;
top:-19.5px;
left:3705.98px;
}
.s_1_Chapter_14-2_243
{
position:absolute;
top:-19.5px;
left:4160.19px;
}
.s_1_Chapter_14-2_244
{
position:absolute;
top:-19.5px;
left:4824.74px;
letter-spacing:-1.27px;
}
.s_1_Chapter_14-2_245
{
position:absolute;
top:-19.5px;
left:5836.9px;
letter-spacing:0px;
}
.s_1_Chapter_14-2_246
{
position:absolute;
top:380.5px;
left:0px;
letter-spacing:-2.68px;
}
.s_1_Chapter_14-2_247
{
position:absolute;
top:380.5px;
left:303.94px;
}
.s_1_Chapter_14-2_248
{
position:absolute;
top:380.5px;
left:1006.44px;
}
.s_1_Chapter_14-2_249
{
position:absolute;
top:380.5px;
left:1442.72px;
letter-spacing:-0.16px;
}
.s_1_Chapter_14-2_250
{
position:absolute;
top:380.5px;
left:2588.26px;
letter-spacing:-0.89px;
}
.s_1_Chapter_14-2_251
{
position:absolute;
top:380.5px;
left:3425.97px;
letter-spacing:-2.47px;
}
.s_1_Chapter_14-2_252
{
position:absolute;
top:380.5px;
left:4342.97px;
letter-spacing:-1px;
}
.s_1_Chapter_14-2_253
{
position:absolute;
top:380.5px;
left:5246.72px;
text-rendering:optimizeLegibility;
letter-spacing:-1.3px;
}
.s_1_Chapter_14-2_254
{
position:absolute;
top:780.5px;
left:0px;
}
.s_1_Chapter_14-2_255
{
position:absolute;
top:780.5px;
left:1316.88px;
letter-spacing:-2.68px;
}
.s_1_Chapter_14-2_256
{
position:absolute;
top:780.5px;
left:1620.81px;
letter-spacing:-0.31px;
}
.s_1_Chapter_14-2_257
{
position:absolute;
top:780.5px;
left:3187.82px;
letter-spacing:-0.47px;
}
.s_1_Chapter_14-2_258
{
position:absolute;
top:780.5px;
left:4821.37px;
}
.s_1_Chapter_14-2_259
{
position:absolute;
top:780.5px;
left:5554.31px;
letter-spacing:-2.68px;
}
.s_1_Chapter_14-2_260
{
position:absolute;
top:780.5px;
left:5858.24px;
}
.s_1_Chapter_14-2_261
{
position:absolute;
top:1180.5px;
left:0px;
letter-spacing:-0.16px;
}
.s_1_Chapter_14-2_262
{
position:absolute;
top:1180.5px;
left:1145.54px;
}
.s_1_Chapter_14-2_263
{
position:absolute;
top:1180.5px;
left:2055.53px;
letter-spacing:-1.08px;
}
.s_1_Chapter_14-2_264
{
position:absolute;
top:1180.5px;
left:2867.76px;
}
.s_1_Chapter_14-2_265
{
position:absolute;
top:1180.5px;
left:3759.03px;
}
.s_1_Chapter_14-2_266
{
position:absolute;
top:1180.5px;
left:3829.74px;
}
.s_1_Chapter_14-2_267
{
position:absolute;
top:1180.5px;
left:4340.9px;
letter-spacing:0px;
}
.s_1_Chapter_14-2_268
{
position:absolute;
top:1180.5px;
left:5265.96px;
}
.s_1_Chapter_14-2_269
{
position:absolute;
top:41.44px;
left:134.15px;
}
.s_1_Chapter_14-2_270
{
position:absolute;
top:41.44px;
left:134.15px;
}
.s_1_Chapter_14-2_271
{
position:absolute;
top:58.88px;
left:0px;
letter-spacing:-7.92px;
}
.s_1_Chapter_14-2_272
{
position:absolute;
top:213.6px;
left:305.76px;
}
.s_1_Chapter_14-2_273
{
position:absolute;
top:213.6px;
left:453.54px;
letter-spacing:-0.78px;
}
.s_1_Chapter_14-2_274
{
position:absolute;
top:213.6px;
left:1151.38px;
letter-spacing:-0.78px;
}
.s_1_Chapter_14-2_275
{
position:absolute;
top:213.6px;
left:1573.09px;
letter-spacing:-1.66px;
}
.s_1_Chapter_14-2_276
{
position:absolute;
top:213.6px;
left:2241.55px;
letter-spacing:0px;
}
.s_1_Chapter_14-2_277
{
position:absolute;
top:213.6px;
left:2628.68px;
}
.s_1_Chapter_14-2_278
{
position:absolute;
top:213.6px;
left:3754.98px;
}
.s_1_Chapter_14-2_279
{
position:absolute;
top:213.6px;
left:4007.96px;
letter-spacing:-0.61px;
}
.s_1_Chapter_14-2_280
{
position:absolute;
top:213.6px;
left:4605.43px;
letter-spacing:-0.26px;
}
.s_1_Chapter_14-2_281
{
position:absolute;
top:213.6px;
left:5124.64px;
letter-spacing:-0.78px;
}
.s_1_Chapter_14-2_282
{
position:absolute;
top:213.6px;
left:5546.36px;
letter-spacing:-0.19px;
}
.s_1_Chapter_14-2_283
{
position:absolute;
top:213.6px;
left:6438.4px;
letter-spacing:-1.95px;
}
.s_1_Chapter_14-2_284
{
position:absolute;
top:213.6px;
left:6818.26px;
letter-spacing:-0.91px;
}
.s_1_Chapter_14-2_285
{
position:absolute;
top:213.6px;
left:7397.53px;
letter-spacing:0px;
}
.s_1_Chapter_14-2_286
{
position:absolute;
top:213.6px;
left:7784.66px;
letter-spacing:0px;
}
.s_1_Chapter_14-2_287
{
position:absolute;
top:613.6px;
left:453.54px;
letter-spacing:-0.95px;
}
.s_1_Chapter_14-2_288
{
position:absolute;
top:613.6px;
left:1371.59px;
}
.s_1_Chapter_14-2_289
{
position:absolute;
top:613.6px;
left:2029.12px;
letter-spacing:-2.51px;
}
.s_1_Chapter_14-2_290
{
position:absolute;
top:613.6px;
left:2307.58px;
}
.s_1_Chapter_14-2_291
{
position:absolute;
top:613.6px;
left:2982.01px;
}
.s_1_Chapter_14-2_292
{
position:absolute;
top:613.6px;
left:4169.16px;
}
.s_1_Chapter_14-2_293
{
position:absolute;
top:613.6px;
left:4677.19px;
letter-spacing:-1.98px;
}
.s_1_Chapter_14-2_294
{
position:absolute;
top:613.6px;
left:5244.76px;
letter-spacing:-0.49px;
}
.s_1_Chapter_14-2_295
{
position:absolute;
top:613.6px;
left:6240.28px;
letter-spacing:-0.62px;
}
.s_1_Chapter_14-2_296
{
position:absolute;
top:613.6px;
left:6834.38px;
letter-spacing:0px;
}
.s_1_Chapter_14-2_297
{
position:absolute;
top:613.6px;
left:7256.09px;
}
.s_1_Chapter_14-2_298
{
position:absolute;
top:613.6px;
left:7784.4px;
}
.s_1_Chapter_14-2_299
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-2.08px;
}
.s_1_Chapter_14-2_300
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.39px;
}
.s_1_Chapter_14-2_301
{
position:absolute;
top:-19.5px;
left:568.62px;
letter-spacing:-2.68px;
}
.s_1_Chapter_14-2_302
{
position:absolute;
top:-19.5px;
left:868.13px;
}
.s_1_Chapter_14-2_303
{
position:absolute;
top:-19.5px;
left:1322.34px;
}
.s_1_Chapter_14-2_304
{
position:absolute;
top:-19.5px;
left:2247.41px;
}
.s_1_Chapter_14-2_305
{
position:absolute;
top:-19.5px;
left:3457.18px;
}
.s_1_Chapter_14-2_306
{
position:absolute;
top:-19.5px;
left:3733.81px;
}
.s_1_Chapter_14-2_307
{
position:absolute;
top:-19.5px;
left:4476.88px;
}
.s_1_Chapter_14-2_308
{
position:absolute;
top:-19.5px;
left:5098.27px;
letter-spacing:0px;
}
.s_1_Chapter_14-2_309
{
position:absolute;
top:-19.5px;
left:5594.86px;
letter-spacing:0px;
}
.s_1_Chapter_14-2_310
{
position:absolute;
top:380.5px;
left:0px;
}
.s_1_Chapter_14-2_311
{
position:absolute;
top:380.5px;
left:276.63px;
}
.s_1_Chapter_14-2_312
{
position:absolute;
top:380.5px;
left:1299.2px;
}
.s_1_Chapter_14-2_313
{
position:absolute;
top:380.5px;
left:1781.24px;
}
.s_1_Chapter_14-2_314
{
position:absolute;
top:380.5px;
left:2235.45px;
letter-spacing:-0.97px;
}
.s_1_Chapter_14-2_315
{
position:absolute;
top:380.5px;
left:3119.43px;
letter-spacing:-0.26px;
}
.s_1_Chapter_14-2_316
{
position:absolute;
top:380.5px;
left:4312.81px;
letter-spacing:-2.68px;
}
.s_1_Chapter_14-2_317
{
position:absolute;
top:380.5px;
left:4616.75px;
letter-spacing:-0.74px;
}
.s_1_Chapter_14-2_318
{
position:absolute;
top:380.5px;
left:5510.62px;
letter-spacing:-0.12px;
}
.s_1_Chapter_14-2_319
{
position:absolute;
top:780.5px;
left:0px;
letter-spacing:-0.69px;
}
.s_1_Chapter_14-2_320
{
position:absolute;
top:780.5px;
left:232.69px;
letter-spacing:-1.1px;
}
.s_1_Chapter_14-2_321
{
position:absolute;
top:780.5px;
left:1250.58px;
}
.s_1_Chapter_14-2_322
{
position:absolute;
top:780.5px;
left:2456.69px;
letter-spacing:-0.57px;
}
.s_1_Chapter_14-2_323
{
position:absolute;
top:780.5px;
left:3653.71px;
letter-spacing:-0.14px;
}
.s_1_Chapter_14-2_324
{
position:absolute;
top:780.5px;
left:5239.69px;
letter-spacing:0px;
}
.s_1_Chapter_14-2_325
{
position:absolute;
top:780.5px;
left:5750.85px;
letter-spacing:-1.39px;
}
.s_1_Chapter_14-2_326
{
position:absolute;
top:1180.5px;
left:0px;
}
.s_1_Chapter_14-2_327
{
position:absolute;
top:1180.5px;
left:986.94px;
}
.s_1_Chapter_14-2_328
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-1.3px;
}
.s_1_Chapter_14-2_329
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-1.2px;
}
.s_1_Chapter_14-2_330
{
position:absolute;
top:-19.5px;
left:1015.81px;
}
.s_1_Chapter_14-2_331
{
position:absolute;
top:-19.5px;
left:1292.44px;
letter-spacing:-0.9px;
}
.s_1_Chapter_14-2_332
{
position:absolute;
top:-19.5px;
left:2302.01px;
}
.s_1_Chapter_14-2_333
{
position:absolute;
top:-19.5px;
left:2526.12px;
}
.s_1_Chapter_14-2_334
{
position:absolute;
top:-19.5px;
left:2778.57px;
}
.s_1_Chapter_14-2_335
{
position:absolute;
top:-19.5px;
left:3232.78px;
letter-spacing:-0.97px;
}
.s_1_Chapter_14-2_336
{
position:absolute;
top:-19.5px;
left:4116.76px;
}
.s_1_Chapter_14-2_337
{
position:absolute;
top:-19.5px;
left:4623.5px;
}
.s_1_Chapter_14-2_338
{
position:absolute;
top:-19.5px;
left:5077.71px;
}
.s_1_Chapter_14-2_339
{
position:absolute;
top:380.5px;
left:0px;
}
.s_1_Chapter_14-2_340
{
position:absolute;
top:380.5px;
left:1083.41px;
}
.s_1_Chapter_14-2_341
{
position:absolute;
top:380.5px;
left:1360.04px;
}
.s_1_Chapter_14-2_342
{
position:absolute;
top:380.5px;
left:2062.55px;
letter-spacing:-0.69px;
}
.s_1_Chapter_14-2_343
{
position:absolute;
top:380.5px;
left:2295.25px;
}
.s_1_Chapter_14-2_344
{
position:absolute;
top:380.5px;
left:3273.61px;
letter-spacing:-1.4px;
}
.s_1_Chapter_14-2_345
{
position:absolute;
top:380.5px;
left:3831.81px;
letter-spacing:-0.26px;
}
.s_1_Chapter_14-2_346
{
position:absolute;
top:380.5px;
left:5025.2px;
letter-spacing:-2.68px;
}
.s_1_Chapter_14-2_347
{
position:absolute;
top:380.5px;
left:5329.13px;
letter-spacing:-0.16px;
}
.s_1_Chapter_14-2_348
{
position:absolute;
top:780.5px;
left:0px;
letter-spacing:-1.66px;
}
.s_1_Chapter_14-2_349
{
position:absolute;
top:780.5px;
left:992.4px;
letter-spacing:-0.14px;
}
.s_1_Chapter_14-2_350
{
position:absolute;
top:780.5px;
left:2402.1px;
}
.s_1_Chapter_14-2_351
{
position:absolute;
top:780.5px;
left:3687.01px;
}
.s_1_Chapter_14-2_352
{
position:absolute;
top:780.5px;
left:4636px;
letter-spacing:-0.14px;
}
.s_1_Chapter_14-2_353
{
position:absolute;
top:780.5px;
left:5845.24px;
letter-spacing:0px;
}
.s_1_Chapter_14-2_354
{
position:absolute;
top:1180.5px;
left:0px;
letter-spacing:-1.17px;
}
.s_1_Chapter_14-2_355
{
position:absolute;
top:1180.5px;
left:746.19px;
}
.s_1_Chapter_14-2_356
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-1.69px;
}
.s_1_Chapter_14-2_357
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-1.2px;
}
.s_1_Chapter_14-2_358
{
position:absolute;
top:-19.5px;
left:1015.81px;
}
.s_1_Chapter_14-2_359
{
position:absolute;
top:-19.5px;
left:1377.46px;
}
.s_1_Chapter_14-2_360
{
position:absolute;
top:-19.5px;
left:1831.67px;
}
.s_1_Chapter_14-2_361
{
position:absolute;
top:-19.5px;
left:2467.1px;
letter-spacing:-1.73px;
}
.s_1_Chapter_14-2_362
{
position:absolute;
top:-19.5px;
left:3131.91px;
}
.s_1_Chapter_14-2_363
{
position:absolute;
top:-19.5px;
left:3408.54px;
letter-spacing:-0.76px;
}
.s_1_Chapter_14-2_364
{
position:absolute;
top:-19.5px;
left:4840.08px;
}
.s_1_Chapter_14-2_365
{
position:absolute;
top:-19.5px;
left:5064.2px;
}
.s_1_Chapter_14-2_366
{
position:absolute;
top:-19.5px;
left:5321.07px;
letter-spacing:0px;
}
.s_1_Chapter_14-2_367
{
position:absolute;
top:-19.5px;
left:5830.92px;
letter-spacing:-2.68px;
}
.s_1_Chapter_14-2_368
{
position:absolute;
top:380.5px;
left:0px;
}
.s_1_Chapter_14-2_369
{
position:absolute;
top:380.5px;
left:449.79px;
letter-spacing:-1.17px;
}
.s_1_Chapter_14-2_370
{
position:absolute;
top:380.5px;
left:1144.5px;
letter-spacing:-0.32px;
}
.s_1_Chapter_14-2_371
{
position:absolute;
top:380.5px;
left:2192.81px;
}
.s_1_Chapter_14-2_372
{
position:absolute;
top:380.5px;
left:3409.85px;
letter-spacing:-2.68px;
}
.s_1_Chapter_14-2_373
{
position:absolute;
top:380.5px;
left:3713.79px;
}
.s_1_Chapter_14-2_374
{
position:absolute;
top:380.5px;
left:4416.3px;
letter-spacing:-0.69px;
}
.s_1_Chapter_14-2_375
{
position:absolute;
top:380.5px;
left:4648.99px;
}
.s_1_Chapter_14-2_376
{
position:absolute;
top:380.5px;
left:5135.44px;
letter-spacing:-3.25px;
}
.s_1_Chapter_14-2_377
{
position:absolute;
top:380.5px;
left:5342.92px;
letter-spacing:-0.26px;
}
.s_1_Chapter_14-2_378
{
position:absolute;
top:780.5px;
left:0px;
letter-spacing:-2.68px;
}
.s_1_Chapter_14-2_379
{
position:absolute;
top:780.5px;
left:303.94px;
letter-spacing:-0.74px;
}
.s_1_Chapter_14-2_380
{
position:absolute;
top:780.5px;
left:1659.3px;
letter-spacing:-0.14px;
}
.s_1_Chapter_14-2_381
{
position:absolute;
top:780.5px;
left:2868.54px;
}
.s_1_Chapter_14-2_382
{
position:absolute;
top:780.5px;
left:3993.28px;
}
.s_1_Chapter_14-2_383
{
position:absolute;
top:780.5px;
left:4976.32px;
letter-spacing:0px;
}
.s_1_Chapter_14-2_384
{
position:absolute;
top:1180.5px;
left:0px;
letter-spacing:-0.15px;
}
.s_1_Chapter_14-2_385
{
position:absolute;
top:1180.5px;
left:1518.64px;
letter-spacing:-1.4px;
}
.s_1_Chapter_14-2_386
{
position:absolute;
top:1180.5px;
left:2151.99px;
letter-spacing:-1.04px;
}
.s_1_Chapter_14-2_387
{
position:absolute;
top:1180.5px;
left:3067.95px;
letter-spacing:-0.4px;
}
.s_1_Chapter_14-2_388
{
position:absolute;
top:1180.5px;
left:4296.69px;
}
.s_1_Chapter_14-2_389
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-2.08px;
}
.s_1_Chapter_14-2_390
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-1.2px;
}
.s_1_Chapter_14-2_391
{
position:absolute;
top:-19.5px;
left:1015.81px;
}
.s_1_Chapter_14-2_392
{
position:absolute;
top:-19.5px;
left:1285.16px;
letter-spacing:-0.38px;
}
.s_1_Chapter_14-2_393
{
position:absolute;
top:-19.5px;
left:3768.39px;
}
.s_1_Chapter_14-2_394
{
position:absolute;
top:-19.5px;
left:4264.98px;
letter-spacing:0px;
}
.s_1_Chapter_14-2_395
{
position:absolute;
top:-19.5px;
left:5343.97px;
letter-spacing:-0.41px;
}
.s_1_Chapter_14-2_396
{
position:absolute;
top:-19.5px;
left:6150.22px;
}
.s_1_Chapter_14-2_397
{
position:absolute;
top:380.5px;
left:0px;
letter-spacing:-0.78px;
}
.s_1_Chapter_14-2_398
{
position:absolute;
top:380.5px;
left:882.94px;
letter-spacing:-2.68px;
}
.s_1_Chapter_14-2_399
{
position:absolute;
top:380.5px;
left:1186.88px;
letter-spacing:-1.78px;
}
.s_1_Chapter_14-2_400
{
position:absolute;
top:380.5px;
left:2004.83px;
}
.s_1_Chapter_14-2_401
{
position:absolute;
top:380.5px;
left:2515.98px;
letter-spacing:-0.78px;
}
.s_1_Chapter_14-2_402
{
position:absolute;
top:380.5px;
left:3597.3px;
letter-spacing:-3.25px;
}
.s_1_Chapter_14-2_403
{
position:absolute;
top:380.5px;
left:3804.78px;
}
.s_1_Chapter_14-2_404
{
position:absolute;
top:380.5px;
left:4791.2px;
letter-spacing:-2.68px;
}
.s_1_Chapter_14-2_405
{
position:absolute;
top:380.5px;
left:5095.14px;
letter-spacing:-2.28px;
}
.s_1_Chapter_14-2_406
{
position:absolute;
top:380.5px;
left:6087.55px;
}
.s_1_Chapter_14-2_407
{
position:absolute;
top:780.5px;
left:0px;
}
.s_1_Chapter_14-2_408
{
position:absolute;
top:780.5px;
left:956.26px;
}
.s_1_Chapter_14-2_409
{
position:absolute;
top:780.5px;
left:2072.68px;
}
.s_1_Chapter_14-2_410
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.36px;
}
.s_1_Chapter_14-2_411
{
position:absolute;
top:-19.5px;
left:545.47px;
}
.s_1_Chapter_14-2_412
{
position:absolute;
top:-19.5px;
left:1628.88px;
}
.s_1_Chapter_14-2_413
{
position:absolute;
top:-19.5px;
left:1905.52px;
}
.s_1_Chapter_14-2_414
{
position:absolute;
top:-19.5px;
left:2932.77px;
}
.s_1_Chapter_14-2_415
{
position:absolute;
top:-19.5px;
left:3189.64px;
}
.s_1_Chapter_14-2_416
{
position:absolute;
top:-19.5px;
left:4069.21px;
letter-spacing:-1px;
}
.s_1_Chapter_14-2_417
{
position:absolute;
top:-19.5px;
left:4705.94px;
}
.s_1_Chapter_14-2_418
{
position:absolute;
top:-19.5px;
left:5156.51px;
letter-spacing:-1.3px;
}
.s_1_Chapter_14-2_419
{
position:absolute;
top:-19.5px;
left:6149.43px;
letter-spacing:-2.68px;
}
.s_1_Chapter_14-2_420
{
position:absolute;
top:-19.5px;
left:6448.95px;
}
.s_1_Chapter_14-2_421
{
position:absolute;
top:380.5px;
left:0px;
letter-spacing:-1.17px;
}
.s_1_Chapter_14-2_422
{
position:absolute;
top:380.5px;
left:1066.51px;
letter-spacing:-1.07px;
}
.s_1_Chapter_14-2_423
{
position:absolute;
top:380.5px;
left:2019.92px;
letter-spacing:-0.61px;
}
.s_1_Chapter_14-2_424
{
position:absolute;
top:380.5px;
left:2892.46px;
letter-spacing:-0.69px;
}
.s_1_Chapter_14-2_425
{
position:absolute;
top:380.5px;
left:3125.15px;
}
.s_1_Chapter_14-2_426
{
position:absolute;
top:380.5px;
left:4103.51px;
letter-spacing:-1.04px;
}
.s_1_Chapter_14-2_427
{
position:absolute;
top:380.5px;
left:5236.84px;
letter-spacing:-1.08px;
}
.s_1_Chapter_14-2_428
{
position:absolute;
top:780.5px;
left:0px;
letter-spacing:-2.68px;
}
.s_1_Chapter_14-2_429
{
position:absolute;
top:780.5px;
left:303.94px;
letter-spacing:-0.97px;
}
.s_1_Chapter_14-2_430
{
position:absolute;
top:780.5px;
left:1978.84px;
}
.s_1_Chapter_14-2_431
{
position:absolute;
top:780.5px;
left:2490px;
}
.s_1_Chapter_14-2_432
{
position:absolute;
top:780.5px;
left:3193.29px;
letter-spacing:-3.34px;
}
.s_1_Chapter_14-2_433
{
position:absolute;
top:780.5px;
left:3944.16px;
}
.s_1_Chapter_14-2_434
{
position:absolute;
top:780.5px;
left:5332.54px;
}
.s_1_Chapter_14-2_435
{
position:absolute;
top:780.5px;
left:6962.79px;
}
.s_1_Chapter_14-2_436
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-2.08px;
}
.s_1_Chapter_14-2_437
{
position:absolute;
top:-19.5px;
left:0px;
}
.s_1_Chapter_14-2_438
{
position:absolute;
top:-19.5px;
left:0px;
}
.s_1_Chapter_14-2_439
{
position:absolute;
top:-19.5px;
left:1509.8px;
}
.s_1_Chapter_14-2_440
{
position:absolute;
top:-19.5px;
left:1786.43px;
}
.s_1_Chapter_14-2_441
{
position:absolute;
top:-19.5px;
left:2347.76px;
}
.s_1_Chapter_14-2_442
{
position:absolute;
top:-19.5px;
left:2624.39px;
}
.s_1_Chapter_14-2_443
{
position:absolute;
top:-19.5px;
left:3346.92px;
}
.s_1_Chapter_14-2_444
{
position:absolute;
top:-19.5px;
left:3797.49px;
letter-spacing:-0.4px;
}
.s_1_Chapter_14-2_445
{
position:absolute;
top:-19.5px;
left:5140.89px;
letter-spacing:-2.68px;
}
.s_1_Chapter_14-2_446
{
position:absolute;
top:-19.5px;
left:5440.41px;
}
.s_1_Chapter_14-2_447
{
position:absolute;
top:380.5px;
left:0px;
letter-spacing:-1.07px;
}
.s_1_Chapter_14-2_448
{
position:absolute;
top:380.5px;
left:970.3px;
}
.s_1_Chapter_14-2_449
{
position:absolute;
top:380.5px;
left:1960.11px;
letter-spacing:-0.71px;
}
.s_1_Chapter_14-2_450
{
position:absolute;
top:380.5px;
left:2508.44px;
}
.s_1_Chapter_14-2_451
{
position:absolute;
top:380.5px;
left:2993.07px;
letter-spacing:-3.38px;
}
.s_1_Chapter_14-2_452
{
position:absolute;
top:380.5px;
left:3343.55px;
}
.s_1_Chapter_14-2_453
{
position:absolute;
top:380.5px;
left:3652.68px;
letter-spacing:-0.94px;
}
.s_1_Chapter_14-2_454
{
position:absolute;
top:380.5px;
left:4987.77px;
letter-spacing:-0.41px;
}
.s_1_Chapter_14-2_455
{
position:absolute;
top:380.5px;
left:5835.1px;
letter-spacing:-0.36px;
}
.s_1_Chapter_14-2_456
{
position:absolute;
top:780.5px;
left:0px;
}
.s_1_Chapter_14-2_457
{
position:absolute;
top:780.5px;
left:1083.41px;
}
.s_1_Chapter_14-2_458
{
position:absolute;
top:780.5px;
left:1786.7px;
letter-spacing:-3.25px;
}
.s_1_Chapter_14-2_459
{
position:absolute;
top:780.5px;
left:1987.94px;
letter-spacing:-1.27px;
}
.s_1_Chapter_14-2_460
{
position:absolute;
top:780.5px;
left:2865.16px;
letter-spacing:-2.68px;
}
.s_1_Chapter_14-2_461
{
position:absolute;
top:780.5px;
left:3169.1px;
}
.s_1_Chapter_14-2_462
{
position:absolute;
top:780.5px;
left:4102.22px;
}
.s_1_Chapter_14-2_463
{
position:absolute;
top:780.5px;
left:5069.41px;
letter-spacing:-1.4px;
}
.s_1_Chapter_14-2_464
{
position:absolute;
top:780.5px;
left:5702.76px;
letter-spacing:-1.75px;
}
.s_1_Chapter_14-2_465
{
position:absolute;
top:1180.5px;
left:0px;
}
.s_1_Chapter_14-2_466
{
position:absolute;
top:1180.5px;
left:941.44px;
letter-spacing:-1.62px;
}
.s_1_Chapter_14-2_467
{
position:absolute;
top:1180.5px;
left:1392.01px;
}
.s_1_Chapter_14-2_468
{
position:absolute;
top:1180.5px;
left:1705.56px;
}
.s_1_Chapter_14-2_469
{
position:absolute;
top:1180.5px;
left:2689.91px;
letter-spacing:-0.52px;
}
.s_1_Chapter_14-2_470
{
position:absolute;
top:1180.5px;
left:3475.88px;
letter-spacing:-2.68px;
}
.s_1_Chapter_14-2_471
{
position:absolute;
top:1180.5px;
left:3779.82px;
}
.s_1_Chapter_14-2_472
{
position:absolute;
top:1180.5px;
left:4252.22px;
}
.s_1_Chapter_14-2_473
{
position:absolute;
top:1180.5px;
left:6592.22px;
}
.s_1_Chapter_14-2_474
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.32px;
}
.s_1_Chapter_14-2_475
{
position:absolute;
top:-19.5px;
left:1048.31px;
}
.s_1_Chapter_14-2_476
{
position:absolute;
top:-19.5px;
left:2328.28px;
letter-spacing:-1.26px;
}
.s_1_Chapter_14-2_477
{
position:absolute;
top:-19.5px;
left:3176.91px;
}
.s_1_Chapter_14-2_478
{
position:absolute;
top:-19.5px;
left:4456.88px;
}
.s_1_Chapter_14-2_479
{
position:absolute;
top:-19.5px;
left:5244.41px;
letter-spacing:0px;
}
.s_1_Chapter_14-2_480
{
position:absolute;
top:-19.5px;
left:6524.39px;
letter-spacing:-0.69px;
}
.s_1_Chapter_14-2_481
{
position:absolute;
top:-19.5px;
left:8059.67px;
}
.s_1_Chapter_14-2_482
{
position:absolute;
top:380.5px;
left:0px;
letter-spacing:-1px;
}
.s_1_Chapter_14-2_483
{
position:absolute;
top:380.5px;
left:652.59px;
letter-spacing:-0.47px;
}
.s_1_Chapter_14-2_484
{
position:absolute;
top:380.5px;
left:1285.69px;
}
.s_1_Chapter_14-2_485
{
position:absolute;
top:380.5px;
left:2565.66px;
}
.s_1_Chapter_14-2_486
{
position:absolute;
top:380.5px;
left:4026.58px;
letter-spacing:-0.68px;
}
.s_1_Chapter_14-2_487
{
position:absolute;
top:380.5px;
left:4838.02px;
letter-spacing:-0.36px;
}
.s_1_Chapter_14-2_488
{
position:absolute;
top:380.5px;
left:5869.18px;
letter-spacing:-2.25px;
}
.s_1_Chapter_14-2_489
{
position:absolute;
top:380.5px;
left:6593.53px;
letter-spacing:-1.36px;
}

#text1 {
	position:absolute;
	top: 748px;
	left: 67px;
}
#text2 {
	position:absolute;
	top: 728px;
	left: 67px;
}
#text3 {
	position:absolute;
	top: 748px;
	left: 196px;
}
#text4 {
	position:absolute;
	top: 728px;
	left: 290px;
}
#text5 {
	position:absolute;
	top: 728px;
	left: 393px;
}
#text6 {
	position:absolute;
	top: 728px;
	left: 184px;
}
#box1 {
	position:absolute;
	top: 160px;
	left: 304px;
	width: 125px;
}
#box2 {
	position:absolute;
	top: 263px;
	left: 397px;
	width: 115px;
}
#box3 {
	position:absolute;
	top: 349px;
	left: 349px;
	width: 113px;
}
#box4 {
	position:absolute;
	top: 456px;
	left: 227px;
	width: 99px;
}
#box5 {
	position:absolute;
	top: 550px;
	left: 135px;
	width: 136px;
}
#box6 {
	position:absolute;
	top: 641px;
	left: 286px;
	width: 102px;
}
.p51_input_text1 {
	display: none;
	text-align: center;
	font-family: "Cabrito_Sans_Norm_Book";
	font-size: 13px;
	margin-top: 2px;
	line-height: 15px;
}
.p51_input_text1a {
	display: none;
	text-align: center;
	font-family: "Cabrito_Sans_Norm_Book";
	font-size: 13px;
	margin-top: 0px;
	line-height: 15px;
}
.page51_btn1 {
	position:absolute;
	top: 781px;
	left: 290px;
}
.text_p51 {
    font-family: "Cabrito_Sans_Norm_Book";
    font-weight: normal;
    font-style: normal;
    font-size: 13px;
    cursor: pointer;
    white-space : nowrap;
    line-height: 16px;
}
