.d_1_Chapter_8-2_1
{position:absolute;overflow:hidden;left: 297.36px;top:0px;transform:translate(0.00px,0.00px);-webkit-transform:translate(0.00px,0.00px);-ms-transform:translate(0.00px,0.00px);-o-transform:translate(0.00px,0.00px);-moz-transform:translate(0.00px,0.00px);width:595.28px;height:841.89px;}
.d_1_Chapter_8-2_2
{
width:9858.56px;
height:872px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_8-2_3
{
width:9054.76px;
height:8929.72px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,9.32px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,9.32px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,9.32px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,9.32px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,9.32px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_8-2_4
{
width:3064.84px;
height:288px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_8-2_5
{
width:8283.05px;
height:998.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_8-2_6
{
width:560.18px;
height:401.47px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_8-2_7
{
width:1689.45px;
height:673.94px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.86px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.86px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.86px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.86px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.86px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_8-2_8
{
width:1884.76px;
height:288px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_8-2_9
{
width:6958.04px;
height:1718.25px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.s_1_Chapter_8-2_10
{
position:absolute;
top:58.88px;
left:0px;
}
.s_1_Chapter_8-2_11
{
position:absolute;
top:213.6px;
left:380.63px;
}
.s_1_Chapter_8-2_12
{
position:absolute;
top:213.6px;
left:453.54px;
letter-spacing:-0.69px;
}
.s_1_Chapter_8-2_13
{
position:absolute;
top:213.6px;
left:1101.2px;
letter-spacing:-0.68px;
}
.s_1_Chapter_8-2_14
{
position:absolute;
top:213.6px;
left:2088.93px;
}
.s_1_Chapter_8-2_15
{
position:absolute;
top:213.6px;
left:2510.65px;
letter-spacing:-0.74px;
}
.s_1_Chapter_8-2_16
{
position:absolute;
top:213.6px;
left:3165.58px;
letter-spacing:-0.12px;
}
.s_1_Chapter_8-2_17
{
position:absolute;
top:213.6px;
left:4495.98px;
letter-spacing:-0.78px;
}
.s_1_Chapter_8-2_18
{
position:absolute;
top:213.6px;
left:4916.66px;
letter-spacing:0px;
}
.s_1_Chapter_8-2_19
{
position:absolute;
top:213.6px;
left:5442.63px;
letter-spacing:-1.82px;
}
.s_1_Chapter_8-2_20
{
position:absolute;
top:213.6px;
left:5734.08px;
letter-spacing:-0.22px;
}
.s_1_Chapter_8-2_21
{
position:absolute;
top:106.71px;
left:505.11px;
}
.s_1_Chapter_8-2_22
{
position:absolute;
top:106.71px;
left:828px;
letter-spacing:-0.45px;
}
.s_1_Chapter_8-2_23
{
position:absolute;
top:106.71px;
left:1331.1px;
}
.s_1_Chapter_8-2_24
{
position:absolute;
top:106.71px;
left:2600.13px;
letter-spacing:-0.71px;
}
.s_1_Chapter_8-2_25
{
position:absolute;
top:106.71px;
left:3148.47px;
letter-spacing:-0.92px;
}
.s_1_Chapter_8-2_26
{
position:absolute;
top:106.71px;
left:4227.98px;
}
.s_1_Chapter_8-2_27
{
position:absolute;
top:106.71px;
left:4757.85px;
letter-spacing:-0.95px;
}
.s_1_Chapter_8-2_28
{
position:absolute;
top:106.71px;
left:5479.59px;
letter-spacing:-0.57px;
}
.s_1_Chapter_8-2_29
{
position:absolute;
top:726.71px;
left:505.11px;
}
.s_1_Chapter_8-2_30
{
position:absolute;
top:726.71px;
left:828px;
letter-spacing:-0.45px;
}
.s_1_Chapter_8-2_31
{
position:absolute;
top:726.71px;
left:1331.1px;
letter-spacing:-1.53px;
}
.s_1_Chapter_8-2_32
{
position:absolute;
top:726.71px;
left:2358.07px;
letter-spacing:0px;
}
.s_1_Chapter_8-2_33
{
position:absolute;
top:726.71px;
left:3087.11px;
}
.s_1_Chapter_8-2_34
{
position:absolute;
top:726.71px;
left:3541.32px;
letter-spacing:-0.9px;
}
.s_1_Chapter_8-2_35
{
position:absolute;
top:726.71px;
left:4900.05px;
letter-spacing:0px;
}
.s_1_Chapter_8-2_36
{
position:absolute;
top:1346.71px;
left:505.11px;
}
.s_1_Chapter_8-2_37
{
position:absolute;
top:1346.71px;
left:828px;
}
.s_1_Chapter_8-2_38
{
position:absolute;
top:1346.71px;
left:1675.07px;
letter-spacing:-0.83px;
}
.s_1_Chapter_8-2_39
{
position:absolute;
top:1346.71px;
left:3074.63px;
letter-spacing:-0.41px;
}
.s_1_Chapter_8-2_40
{
position:absolute;
top:1346.71px;
left:3923.26px;
letter-spacing:-3.25px;
}
.s_1_Chapter_8-2_41
{
position:absolute;
top:1346.71px;
left:4125.79px;
letter-spacing:-1.17px;
}
.s_1_Chapter_8-2_42
{
position:absolute;
top:1346.71px;
left:4945.56px;
letter-spacing:-0.54px;
}
.s_1_Chapter_8-2_43
{
position:absolute;
top:1346.71px;
left:6152.46px;
letter-spacing:-2.6px;
}
.s_1_Chapter_8-2_44
{
position:absolute;
top:1346.71px;
left:6557.79px;
letter-spacing:0px;
}
.s_1_Chapter_8-2_45
{
position:absolute;
top:1786.71px;
left:828px;
}
.s_1_Chapter_8-2_46
{
position:absolute;
top:1786.71px;
left:1529.21px;
}
.s_1_Chapter_8-2_47
{
position:absolute;
top:1786.71px;
left:2445.69px;
}
.s_1_Chapter_8-2_48
{
position:absolute;
top:1786.71px;
left:2956.85px;
letter-spacing:-0.92px;
}
.s_1_Chapter_8-2_49
{
position:absolute;
top:1786.71px;
left:4031.93px;
}
.s_1_Chapter_8-2_50
{
position:absolute;
top:1786.71px;
left:4486.14px;
letter-spacing:-2.29px;
}
.s_1_Chapter_8-2_51
{
position:absolute;
top:2316.71px;
left:505.11px;
}
.s_1_Chapter_8-2_52
{
position:absolute;
top:2316.71px;
left:828px;
letter-spacing:-0.5px;
}
.s_1_Chapter_8-2_53
{
position:absolute;
top:2316.71px;
left:2282.67px;
letter-spacing:-2.11px;
}
.s_1_Chapter_8-2_54
{
position:absolute;
top:2316.71px;
left:3419.38px;
letter-spacing:-0.92px;
}
.s_1_Chapter_8-2_55
{
position:absolute;
top:2316.71px;
left:4498.89px;
letter-spacing:-3.25px;
}
.s_1_Chapter_8-2_56
{
position:absolute;
top:2316.71px;
left:4706.36px;
letter-spacing:-1.49px;
}
.s_1_Chapter_8-2_57
{
position:absolute;
top:2316.71px;
left:5145.76px;
letter-spacing:0px;
}
.s_1_Chapter_8-2_58
{
position:absolute;
top:2316.71px;
left:5688.62px;
letter-spacing:-1.27px;
}
.s_1_Chapter_8-2_59
{
position:absolute;
top:2316.71px;
left:6552.59px;
letter-spacing:-2.08px;
}
.s_1_Chapter_8-2_60
{
position:absolute;
top:2316.71px;
left:7142.51px;
letter-spacing:-0.47px;
}
.s_1_Chapter_8-2_61
{
position:absolute;
top:2756.71px;
left:828px;
}
.s_1_Chapter_8-2_62
{
position:absolute;
top:2756.71px;
left:1398.95px;
}
.s_1_Chapter_8-2_63
{
position:absolute;
top:2756.71px;
left:1905.17px;
letter-spacing:-2.3px;
}
.s_1_Chapter_8-2_64
{
position:absolute;
top:3286.71px;
left:505.11px;
}
.s_1_Chapter_8-2_65
{
position:absolute;
top:3286.71px;
left:828px;
letter-spacing:-2.04px;
}
.s_1_Chapter_8-2_66
{
position:absolute;
top:3286.71px;
left:1538.31px;
letter-spacing:-0.73px;
}
.s_1_Chapter_8-2_67
{
position:absolute;
top:3286.71px;
left:2152.68px;
letter-spacing:-0.92px;
}
.s_1_Chapter_8-2_68
{
position:absolute;
top:3286.71px;
left:3232.19px;
letter-spacing:-2.51px;
}
.s_1_Chapter_8-2_69
{
position:absolute;
top:3286.71px;
left:4414.66px;
}
.s_1_Chapter_8-2_70
{
position:absolute;
top:3286.71px;
left:4691.29px;
letter-spacing:-0.43px;
}
.s_1_Chapter_8-2_71
{
position:absolute;
top:3906.71px;
left:505.11px;
}
.s_1_Chapter_8-2_72
{
position:absolute;
top:3906.71px;
left:828px;
letter-spacing:-0.59px;
}
.s_1_Chapter_8-2_73
{
position:absolute;
top:3906.71px;
left:2163.08px;
letter-spacing:-3.06px;
}
.s_1_Chapter_8-2_74
{
position:absolute;
top:3906.71px;
left:3242.07px;
letter-spacing:-0.92px;
}
.s_1_Chapter_8-2_75
{
position:absolute;
top:3906.71px;
left:4321.57px;
letter-spacing:-1px;
}
.s_1_Chapter_8-2_76
{
position:absolute;
top:3906.71px;
left:5053.2px;
letter-spacing:-1.4px;
}
.s_1_Chapter_8-2_77
{
position:absolute;
top:3906.71px;
left:5686.55px;
letter-spacing:-0.57px;
}
.s_1_Chapter_8-2_78
{
position:absolute;
top:3906.71px;
left:6234.37px;
letter-spacing:-2.65px;
}
.s_1_Chapter_8-2_79
{
position:absolute;
top:4526.71px;
left:505.11px;
}
.s_1_Chapter_8-2_80
{
position:absolute;
top:4526.71px;
left:828px;
letter-spacing:-0.35px;
}
.s_1_Chapter_8-2_81
{
position:absolute;
top:4526.71px;
left:1541.17px;
letter-spacing:-0.83px;
}
.s_1_Chapter_8-2_82
{
position:absolute;
top:4526.71px;
left:2682.3px;
letter-spacing:-3.25px;
}
.s_1_Chapter_8-2_83
{
position:absolute;
top:4526.71px;
left:2889.77px;
letter-spacing:-1.4px;
}
.s_1_Chapter_8-2_84
{
position:absolute;
top:4526.71px;
left:3476.07px;
letter-spacing:-2.6px;
}
.s_1_Chapter_8-2_85
{
position:absolute;
top:4526.71px;
left:3881.4px;
}
.s_1_Chapter_8-2_86
{
position:absolute;
top:4526.71px;
left:4893.56px;
letter-spacing:0px;
}
.s_1_Chapter_8-2_87
{
position:absolute;
top:4526.71px;
left:5806.41px;
letter-spacing:-0.65px;
}
.s_1_Chapter_8-2_88
{
position:absolute;
top:4966.71px;
left:828px;
letter-spacing:-0.82px;
}
.s_1_Chapter_8-2_89
{
position:absolute;
top:4966.71px;
left:2292.31px;
letter-spacing:-0.92px;
}
.s_1_Chapter_8-2_90
{
position:absolute;
top:4966.71px;
left:3371.81px;
letter-spacing:-0.44px;
}
.s_1_Chapter_8-2_91
{
position:absolute;
top:4966.71px;
left:4519.17px;
letter-spacing:-0.83px;
}
.s_1_Chapter_8-2_92
{
position:absolute;
top:5496.71px;
left:505.11px;
}
.s_1_Chapter_8-2_93
{
position:absolute;
top:5496.71px;
left:828px;
letter-spacing:-0.26px;
}
.s_1_Chapter_8-2_94
{
position:absolute;
top:5496.71px;
left:1830.81px;
letter-spacing:-0.63px;
}
.s_1_Chapter_8-2_95
{
position:absolute;
top:5496.71px;
left:2674.5px;
}
.s_1_Chapter_8-2_96
{
position:absolute;
top:5496.71px;
left:3181.23px;
}
.s_1_Chapter_8-2_97
{
position:absolute;
top:5496.71px;
left:3635.44px;
}
.s_1_Chapter_8-2_98
{
position:absolute;
top:5496.71px;
left:4299.21px;
letter-spacing:-2.68px;
}
.s_1_Chapter_8-2_99
{
position:absolute;
top:5496.71px;
left:4603.15px;
letter-spacing:-0.88px;
}
.s_1_Chapter_8-2_100
{
position:absolute;
top:5496.71px;
left:5565.13px;
letter-spacing:-0.19px;
}
.s_1_Chapter_8-2_101
{
position:absolute;
top:5496.71px;
left:6365.66px;
}
.s_1_Chapter_8-2_102
{
position:absolute;
top:5496.71px;
left:6705.99px;
}
.s_1_Chapter_8-2_103
{
position:absolute;
top:5936.71px;
left:828px;
letter-spacing:-0.71px;
}
.s_1_Chapter_8-2_104
{
position:absolute;
top:5936.71px;
left:1370.1px;
letter-spacing:-0.69px;
}
.s_1_Chapter_8-2_105
{
position:absolute;
top:5936.71px;
left:2302.7px;
letter-spacing:-0.7px;
}
.s_1_Chapter_8-2_106
{
position:absolute;
top:6466.71px;
left:505.11px;
}
.s_1_Chapter_8-2_107
{
position:absolute;
top:6466.71px;
left:828px;
letter-spacing:-1.01px;
}
.s_1_Chapter_8-2_108
{
position:absolute;
top:6466.71px;
left:1868.51px;
letter-spacing:-0.71px;
}
.s_1_Chapter_8-2_109
{
position:absolute;
top:6466.71px;
left:2416.84px;
letter-spacing:-0.92px;
}
.s_1_Chapter_8-2_110
{
position:absolute;
top:6466.71px;
left:3496.35px;
letter-spacing:-3.38px;
}
.s_1_Chapter_8-2_111
{
position:absolute;
top:6466.71px;
left:3842.4px;
}
.s_1_Chapter_8-2_112
{
position:absolute;
top:6466.71px;
left:4296.61px;
letter-spacing:-0.57px;
}
.s_1_Chapter_8-2_113
{
position:absolute;
top:7086.71px;
left:505.11px;
}
.s_1_Chapter_8-2_114
{
position:absolute;
top:7086.71px;
left:828px;
letter-spacing:-0.45px;
}
.s_1_Chapter_8-2_115
{
position:absolute;
top:7086.71px;
left:1331.1px;
letter-spacing:-1.04px;
}
.s_1_Chapter_8-2_116
{
position:absolute;
top:7086.71px;
left:1985.76px;
letter-spacing:-0.17px;
}
.s_1_Chapter_8-2_117
{
position:absolute;
top:7086.71px;
left:2991.17px;
letter-spacing:-0.71px;
}
.s_1_Chapter_8-2_118
{
position:absolute;
top:7086.71px;
left:3539.5px;
letter-spacing:-0.92px;
}
.s_1_Chapter_8-2_119
{
position:absolute;
top:7086.71px;
left:4619.01px;
}
.s_1_Chapter_8-2_120
{
position:absolute;
top:7086.71px;
left:5130.16px;
letter-spacing:-0.83px;
}
.s_1_Chapter_8-2_121
{
position:absolute;
top:7086.71px;
left:6418.7px;
letter-spacing:-3.38px;
}
.s_1_Chapter_8-2_122
{
position:absolute;
top:7526.71px;
left:828px;
}
.s_1_Chapter_8-2_123
{
position:absolute;
top:7526.71px;
left:1282.21px;
letter-spacing:-0.3px;
}
.s_1_Chapter_8-2_124
{
position:absolute;
top:7526.71px;
left:2128.5px;
letter-spacing:-0.32px;
}
.s_1_Chapter_8-2_125
{
position:absolute;
top:-14.08px;
left:0px;
letter-spacing:-3.68px;
}
.s_1_Chapter_8-2_126
{
position:absolute;
top:-14.08px;
left:727.67px;
}
.s_1_Chapter_8-2_127
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.35px;
}
.s_1_Chapter_8-2_128
{
position:absolute;
top:-19.5px;
left:787.79px;
letter-spacing:-0.83px;
}
.s_1_Chapter_8-2_129
{
position:absolute;
top:-19.5px;
left:1927.62px;
}
.s_1_Chapter_8-2_130
{
position:absolute;
top:-19.5px;
left:2414.07px;
}
.s_1_Chapter_8-2_131
{
position:absolute;
top:-19.5px;
left:3280.12px;
}
.s_1_Chapter_8-2_132
{
position:absolute;
top:-19.5px;
left:4279.55px;
}
.s_1_Chapter_8-2_133
{
position:absolute;
top:-19.5px;
left:4733.76px;
}
.s_1_Chapter_8-2_134
{
position:absolute;
top:-19.5px;
left:5513.75px;
letter-spacing:-0.48px;
}
.s_1_Chapter_8-2_135
{
position:absolute;
top:-19.5px;
left:6138.26px;
}
.s_1_Chapter_8-2_136
{
position:absolute;
top:-19.5px;
left:6782.78px;
letter-spacing:-2.68px;
}
.s_1_Chapter_8-2_137
{
position:absolute;
top:-19.5px;
left:7086.72px;
letter-spacing:0px;
}
.s_1_Chapter_8-2_138
{
position:absolute;
top:380.5px;
left:0px;
letter-spacing:-0.83px;
}
.s_1_Chapter_8-2_139
{
position:absolute;
top:380.5px;
left:1135.41px;
}
.s_1_Chapter_8-2_140
{
position:absolute;
top:380.5px;
left:1682.69px;
}
.s_1_Chapter_8-2_141
{
position:absolute;
top:380.5px;
left:2169.14px;
}
.s_1_Chapter_8-2_142
{
position:absolute;
top:380.5px;
left:3148.03px;
}
.s_1_Chapter_8-2_143
{
position:absolute;
top:380.5px;
left:3602.24px;
}
.s_1_Chapter_8-2_144
{
position:absolute;
top:380.5px;
left:4299.03px;
}
.s_1_Chapter_8-2_145
{
position:absolute;
top:380.5px;
left:4753.24px;
letter-spacing:0px;
}
.s_1_Chapter_8-2_146
{
position:absolute;
top:41.44px;
left:134.15px;
}
.s_1_Chapter_8-2_147
{
position:absolute;
top:-14.73px;
left:143.43px;
letter-spacing:-0.26px;
}
.s_1_Chapter_8-2_148
{
position:absolute;
top:-14.73px;
left:738.48px;
letter-spacing:-0.63px;
}
.s_1_Chapter_8-2_149
{
position:absolute;
top:247.12px;
left:51.82px;
}
.s_1_Chapter_8-2_150
{
position:absolute;
top:247.12px;
left:420.43px;
letter-spacing:-0.79px;
}
.s_1_Chapter_8-2_151
{
position:absolute;
top:247.12px;
left:799.65px;
}
.s_1_Chapter_8-2_152
{
position:absolute;
top:247.12px;
left:1220.51px;
letter-spacing:-0.2px;
}
.s_1_Chapter_8-2_153
{
position:absolute;
top:508.98px;
left:166.31px;
letter-spacing:-0.66px;
}
.s_1_Chapter_8-2_154
{
position:absolute;
top:508.98px;
left:921.41px;
letter-spacing:-2.45px;
}
.s_1_Chapter_8-2_155
{
position:absolute;
top:508.98px;
left:1074.4px;
letter-spacing:-0.43px;
}
.s_1_Chapter_8-2_156
{
position:absolute;
top:-12.32px;
left:0px;
}
.s_1_Chapter_8-2_157
{
position:absolute;
top:-12.32px;
left:420.83px;
letter-spacing:-5.11px;
}
.s_1_Chapter_8-2_158
{
position:absolute;
top:-12.32px;
left:971.57px;
letter-spacing:-6.86px;
}
.s_1_Chapter_8-2_159
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.45px;
}
.s_1_Chapter_8-2_160
{
position:absolute;
top:-19.5px;
left:499.46px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_8-2_161
{
position:absolute;
top:-19.5px;
left:993.71px;
letter-spacing:-0.45px;
}
.s_1_Chapter_8-2_162
{
position:absolute;
top:-19.5px;
left:1496.81px;
}
.s_1_Chapter_8-2_163
{
position:absolute;
top:-19.5px;
left:2608.03px;
}
.s_1_Chapter_8-2_164
{
position:absolute;
top:-19.5px;
left:3434.3px;
}
.s_1_Chapter_8-2_165
{
position:absolute;
top:-19.5px;
left:3505.02px;
}
.s_1_Chapter_8-2_166
{
position:absolute;
top:-19.5px;
left:3761.89px;
}
.s_1_Chapter_8-2_167
{
position:absolute;
top:-19.5px;
left:4547.34px;
}
.s_1_Chapter_8-2_168
{
position:absolute;
top:-19.5px;
left:4908.99px;
}
.s_1_Chapter_8-2_169
{
position:absolute;
top:-19.5px;
left:5363.2px;
letter-spacing:-0.91px;
}
.s_1_Chapter_8-2_170
{
position:absolute;
top:-19.5px;
left:6618.2px;
letter-spacing:-2.68px;
}
.s_1_Chapter_8-2_171
{
position:absolute;
top:380.5px;
left:0px;
letter-spacing:-3.25px;
}
.s_1_Chapter_8-2_172
{
position:absolute;
top:380.5px;
left:207.48px;
letter-spacing:-0.98px;
}
.s_1_Chapter_8-2_173
{
position:absolute;
top:380.5px;
left:1413.86px;
letter-spacing:-0.16px;
}
.s_1_Chapter_8-2_174
{
position:absolute;
top:380.5px;
left:2464.5px;
}
.s_1_Chapter_8-2_175
{
position:absolute;
top:380.5px;
left:2975.65px;
}
.s_1_Chapter_8-2_176
{
position:absolute;
top:380.5px;
left:4856.21px;
}
.s_1_Chapter_8-2_177
{
position:absolute;
top:380.5px;
left:5430.8px;
letter-spacing:-3.48px;
}
.s_1_Chapter_8-2_178
{
position:absolute;
top:380.5px;
left:6356.64px;
letter-spacing:-0.95px;
}
.s_1_Chapter_8-2_179
{
position:absolute;
top:380.5px;
left:6747.68px;
letter-spacing:0px;
}
.s_1_Chapter_8-2_180
{
position:absolute;
top:780.5px;
left:0px;
letter-spacing:-0.9px;
}
.s_1_Chapter_8-2_181
{
position:absolute;
top:780.5px;
left:1363.42px;
}
.s_1_Chapter_8-2_182
{
position:absolute;
top:780.5px;
left:1814px;
letter-spacing:-0.85px;
}
.s_1_Chapter_8-2_183
{
position:absolute;
top:780.5px;
left:2601.26px;
letter-spacing:-2.68px;
}
.s_1_Chapter_8-2_184
{
position:absolute;
top:780.5px;
left:2900.78px;
letter-spacing:-0.58px;
}
.s_1_Chapter_8-2_185
{
position:absolute;
top:780.5px;
left:4233.26px;
letter-spacing:-0.98px;
}
.s_1_Chapter_8-2_186
{
position:absolute;
top:780.5px;
left:5439.64px;
letter-spacing:-0.36px;
}
.s_1_Chapter_8-2_187
{
position:absolute;
top:780.5px;
left:6391.49px;
letter-spacing:0px;
}
.s_1_Chapter_8-2_188
{
position:absolute;
top:1180.5px;
left:0px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_8-2_189
{
position:absolute;
top:1180.5px;
left:1012.42px;
letter-spacing:-0.32px;
}

.page32_position1 {
	position:absolute;
	top: 86px;
	left: 388px;
	/*border: 1px solid red;*/
}
.page32_position2 {
	position:absolute;
	top: 117px;
	left: 385px;
	/*border: 1px solid red;*/
}
.page32_position3 {
	position:absolute;
	top: 170px;
	left: 378px;
	/*border: 1px solid red;*/
}
.page32_position4 {
	position:absolute;
	top: 219px;
	left: 219px;
	/*border: 1px solid red;*/
}
.page32_position5 {
	position:absolute;
	top: 246px;
	left: 353px;
	/*border: 1px solid red;*/
}
.page32_position6 {
	position:absolute;
	top: 277px;
	left: 418px;
	/*border: 1px solid red;*/
}
.page32_position7 {
	position:absolute;
	top: 328px;
	left: 341px;
	/*border: 1px solid red;*/
}
.page32_position8 {
	position:absolute;
	top: 378px;
	left: 256px;
	/*border: 1px solid red;*/
}
.page32_position9 {
	position:absolute;
	top: 405px;
	left: 364px;
	/*border: 1px solid red;*/
}
.page32_position10 {
	position:absolute;
	top: 458px;
	left: 245px;
	/*border: 1px solid red;*/
}
.page32_btn1 {
	position:absolute;
	top: 785px;
	left: 332px;
}
.page32_btn2 {
	position:absolute;
	top: 785px;
	left: 275px;
}
