.d_1_Chapter_8-1_1
{
position:absolute;
overflow:hidden;
left:0px;
top:0px;
transform:translate(0.00px,0.00px);
-webkit-transform:translate(0.00px,0.00px);
-ms-transform:translate(0.00px,0.00px);
-o-transform:translate(0.00px,0.00px);
-moz-transform:translate(0.00px,0.00px);
width:612.28px;
height:841.89px
}
.d_1_Chapter_8-1_2
{
width:10360.63px;
height:833.54px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_8-1_3
{
width:9620px;
height:997.12px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_8-1_4
{
width:1665.75px;
height:540px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_8-1_5
{
width:1379.52px;
height:199.8px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_8-1_6
{
width:1379.52px;
height:199.8px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_8-1_7
{
width:2412.28px;
height:1121.57px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_8-1_8
{
width:1379.52px;
height:199.8px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_8-1_9
{
width:2019.69px;
height:562.68px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_8-1_10
{
width:1379.52px;
height:199.8px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_8-1_11
{
width:2019.69px;
height:824.99px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_8-1_12
{
width:1379.52px;
height:199.8px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_8-1_13
{
width:2019.69px;
height:562.68px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_8-1_14
{
width:1379.52px;
height:199.8px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_8-1_15
{
width:2019.69px;
height:562.68px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_8-1_16
{
width:560.18px;
height:401.47px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_8-1_17
{
position:absolute;
overflow:hidden;
left:-16px;
top:0px;
transform:translate(612px,0.00px);
-webkit-transform:translate(612px,0.00px);
-ms-transform:translate(612px,0.00px);
-o-transform:translate(612px,0.00px);
-moz-transform:translate(612px,0.00px);
width:595.28px;
height:841.89px
}
.d_1_Chapter_8-1_18
{
width:1379.52px;
height:199.8px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_8-1_19
{
width:2019.69px;
height:562.68px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_8-1_20
{
width:1379.52px;
height:199.8px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_8-1_21
{
width:1379.52px;
height:199.8px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_8-1_22
{
width:1379.52px;
height:199.8px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_8-1_23
{
width:2019.69px;
height:824.99px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_8-1_24
{
width:2019.69px;
height:824.99px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_8-1_25
{
width:2739.69px;
height:1068.3px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_8-1_26
{
width:1379.52px;
height:199.8px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_8-1_27
{
width:2019.69px;
height:562.68px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_8-1_28
{
width:1379.52px;
height:199.8px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_8-1_29
{
width:2923.01px;
height:824.99px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.08px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_8-1_30
{
width:560.18px;
height:401.47px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
}
.s_1_Chapter_8-1_31
{
position:absolute;
top:-19.5px;
left:0px;
}
.s_1_Chapter_8-1_32
{
position:absolute;
top:-19.5px;
left:260.77px;
}
.s_1_Chapter_8-1_33
{
position:absolute;
top:-19.5px;
left:682.49px;
}
.s_1_Chapter_8-1_34
{
position:absolute;
top:-15.01px;
left:978.11px;
}
.s_1_Chapter_8-1_35
{
position:absolute;
top:-19.5px;
left:1115.13px;
}
.s_1_Chapter_8-1_36
{
position:absolute;
top:-19.5px;
left:1167.91px;
}
.s_1_Chapter_8-1_37
{
position:absolute;
top:-19.5px;
left:1638.5px;
}
.s_1_Chapter_8-1_38
{
position:absolute;
top:-15.01px;
left:1856.12px;
}
.s_1_Chapter_8-1_39
{
position:absolute;
top:-19.5px;
left:1981.47px;
}
.s_1_Chapter_8-1_40
{
position:absolute;
top:-19.5px;
left:2034.25px;
letter-spacing:-1.07px;
}
.s_1_Chapter_8-1_41
{
position:absolute;
top:-19.5px;
left:3007.68px;
}
.s_1_Chapter_8-1_42
{
position:absolute;
top:-19.5px;
left:3929.37px;
letter-spacing:-0.57px;
}
.s_1_Chapter_8-1_43
{
position:absolute;
top:-19.5px;
left:5137.31px;
letter-spacing:-2.03px;
}
.s_1_Chapter_8-1_44
{
position:absolute;
top:-19.5px;
left:5719.96px;
letter-spacing:0px;
}
.s_1_Chapter_8-1_45
{
position:absolute;
top:-19.5px;
left:6811.69px;
letter-spacing:-1.36px;
}
.s_1_Chapter_8-1_46
{
position:absolute;
top:-19.5px;
left:7244.58px;
letter-spacing:-0.74px;
}
.s_1_Chapter_8-1_47
{
position:absolute;
top:-19.5px;
left:7798.63px;
letter-spacing:0px;
}
.s_1_Chapter_8-1_48
{
position:absolute;
top:-19.5px;
left:8112.7px;
letter-spacing:-0.89px;
}
.s_1_Chapter_8-1_49
{
position:absolute;
top:-19.5px;
left:8910.37px;
letter-spacing:-0.26px;
}
.s_1_Chapter_8-1_50
{
position:absolute;
top:-19.5px;
left:9429.58px;
}
.s_1_Chapter_8-1_51
{
position:absolute;
top:380.5px;
left:0px;
letter-spacing:-0.3px;
}
.s_1_Chapter_8-1_52
{
position:absolute;
top:380.5px;
left:819.51px;
}
.s_1_Chapter_8-1_53
{
position:absolute;
top:380.5px;
left:1439.08px;
letter-spacing:-2.51px;
}
.s_1_Chapter_8-1_54
{
position:absolute;
top:380.5px;
left:1718.58px;
letter-spacing:-1.82px;
}
.s_1_Chapter_8-1_55
{
position:absolute;
top:380.5px;
left:1903.18px;
letter-spacing:-0.43px;
}
.s_1_Chapter_8-1_56
{
position:absolute;
top:380.5px;
left:2597.89px;
}
.s_1_Chapter_8-1_57
{
position:absolute;
top:380.5px;
left:3524.25px;
}
.s_1_Chapter_8-1_58
{
position:absolute;
top:380.5px;
left:4216.36px;
letter-spacing:-1.73px;
}
.s_1_Chapter_8-1_59
{
position:absolute;
top:380.5px;
left:4801.09px;
letter-spacing:0px;
}
.s_1_Chapter_8-1_60
{
position:absolute;
top:380.5px;
left:5331.22px;
letter-spacing:-0.43px;
}
.s_1_Chapter_8-1_61
{
position:absolute;
top:380.5px;
left:5615.4px;
letter-spacing:0px;
}
.s_1_Chapter_8-1_62
{
position:absolute;
top:380.5px;
left:6272.93px;
letter-spacing:-2.51px;
}
.s_1_Chapter_8-1_63
{
position:absolute;
top:380.5px;
left:6551.39px;
letter-spacing:0px;
}
.s_1_Chapter_8-1_64
{
position:absolute;
top:380.5px;
left:7225.82px;
letter-spacing:-0.52px;
}
.s_1_Chapter_8-1_65
{
position:absolute;
top:-26.96px;
left:0px;
letter-spacing:18.33px;
transform-origin: 0% 759.55px;
-webkit-transform-origin: 0% 759.55px;
-ms-transform-origin: 0% 759.55px;
-o-transform-origin: 0% 759.55px;
-moz-transform-origin: 0% 759.55px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Chapter_8-1_66
{
position:absolute;
top:-26.96px;
left:957.48px;
letter-spacing:25.21px;
transform-origin: 0% 759.55px;
-webkit-transform-origin: 0% 759.55px;
-ms-transform-origin: 0% 759.55px;
-o-transform-origin: 0% 759.55px;
-moz-transform-origin: 0% 759.55px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Chapter_8-1_67
{
position:absolute;
top:-26.96px;
left:5441.72px;
letter-spacing:22.5px;
transform-origin: 0% 759.55px;
-webkit-transform-origin: 0% 759.55px;
-ms-transform-origin: 0% 759.55px;
-o-transform-origin: 0% 759.55px;
-moz-transform-origin: 0% 759.55px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Chapter_8-1_68
{
position:absolute;
top:-16.5px;
left:22.51px;
letter-spacing:-1.96px;
}
.s_1_Chapter_8-1_69
{
position:absolute;
top:-16.5px;
left:1162.98px;
letter-spacing:-0.93px;
}
.s_1_Chapter_8-1_70
{
position:absolute;
top:240.19px;
left:120.63px;
letter-spacing:-2.6px;
}
.s_1_Chapter_8-1_71
{
position:absolute;
top:240.19px;
left:732.45px;
letter-spacing:-0.53px;
}
.s_1_Chapter_8-1_72
{
position:absolute;
top:-19.5px;
left:445.63px;
}
.s_1_Chapter_8-1_73
{
position:absolute;
top:-19.5px;
left:436.01px;
}
.s_1_Chapter_8-1_74
{
position:absolute;
top:-16.5px;
left:1337.6px;
letter-spacing:-0.85px;
}
.s_1_Chapter_8-1_75
{
position:absolute;
top:-16.5px;
left:1970.31px;
letter-spacing:-1.65px;
}
.s_1_Chapter_8-1_76
{
position:absolute;
top:293.19px;
left:317.03px;
}
.s_1_Chapter_8-1_77
{
position:absolute;
top:293.19px;
left:938.96px;
letter-spacing:-0.51px;
}
.s_1_Chapter_8-1_78
{
position:absolute;
top:293.19px;
left:1980.43px;
}
.s_1_Chapter_8-1_79
{
position:absolute;
top:648.88px;
left:703.99px;
letter-spacing:-1.87px;
}
.s_1_Chapter_8-1_80
{
position:absolute;
top:648.88px;
left:1310.75px;
letter-spacing:-0.6px;
}
.s_1_Chapter_8-1_81
{
position:absolute;
top:-19.5px;
left:446.66px;
}
.s_1_Chapter_8-1_82
{
position:absolute;
top:-16.5px;
left:781.11px;
text-rendering:optimizeLegibility;
letter-spacing:-0.59px;
}
.s_1_Chapter_8-1_83
{
position:absolute;
top:-16.5px;
left:1646.79px;
}
.s_1_Chapter_8-1_84
{
position:absolute;
top:240.19px;
left:901.88px;
letter-spacing:-2.64px;
}
.s_1_Chapter_8-1_85
{
position:absolute;
top:240.19px;
left:1483.99px;
letter-spacing:-0.48px;
}
.s_1_Chapter_8-1_86
{
position:absolute;
top:-19.5px;
left:430.03px;
}
.s_1_Chapter_8-1_87
{
position:absolute;
top:-16.5px;
left:1486.19px;
}
.s_1_Chapter_8-1_88
{
position:absolute;
top:283.5px;
left:923.43px;
letter-spacing:-1.69px;
}
.s_1_Chapter_8-1_89
{
position:absolute;
top:640.19px;
left:178.53px;
}
.s_1_Chapter_8-1_90
{
position:absolute;
top:640.19px;
left:895.28px;
letter-spacing:-0.77px;
}
.s_1_Chapter_8-1_91
{
position:absolute;
top:-19.5px;
left:442.12px;
}
.s_1_Chapter_8-1_92
{
position:absolute;
top:-16.5px;
left:954.25px;
}
.s_1_Chapter_8-1_93
{
position:absolute;
top:-16.5px;
left:1014.09px;
}
.s_1_Chapter_8-1_94
{
position:absolute;
top:-16.5px;
left:1347.82px;
letter-spacing:-0.91px;
}
.s_1_Chapter_8-1_95
{
position:absolute;
top:240.19px;
left:973.82px;
}
.s_1_Chapter_8-1_96
{
position:absolute;
top:240.19px;
left:1642.61px;
}
.s_1_Chapter_8-1_97
{
position:absolute;
top:-19.5px;
left:436.66px;
}
.s_1_Chapter_8-1_98
{
position:absolute;
top:-16.5px;
left:329.89px;
letter-spacing:-0.83px;
}
.s_1_Chapter_8-1_99
{
position:absolute;
top:-16.5px;
left:1350.67px;
}
.s_1_Chapter_8-1_100
{
position:absolute;
top:240.19px;
left:188.65px;
}
.s_1_Chapter_8-1_101
{
position:absolute;
top:240.19px;
left:1059.84px;
letter-spacing:-0.15px;
}
.s_1_Chapter_8-1_102
{
position:absolute;
top:41.44px;
left:134.15px;
}
.s_1_Chapter_8-1_103
{
position:absolute;
top:-19.5px;
left:435.49px;
}
.s_1_Chapter_8-1_104
{
position:absolute;
top:-16.5px;
left:1063.58px;
letter-spacing:-0.22px;
}
.s_1_Chapter_8-1_105
{
position:absolute;
top:240.19px;
left:288.31px;
letter-spacing:-2.13px;
}
.s_1_Chapter_8-1_106
{
position:absolute;
top:240.19px;
left:578.7px;
letter-spacing:-0.53px;
}
.s_1_Chapter_8-1_107
{
position:absolute;
top:240.19px;
left:1108.68px;
letter-spacing:-0.3px;
}
.s_1_Chapter_8-1_108
{
position:absolute;
top:-19.5px;
left:481.77px;
}
.s_1_Chapter_8-1_109
{
position:absolute;
top:-19.5px;
left:427.56px;
}
.s_1_Chapter_8-1_110
{
position:absolute;
top:-19.5px;
left:390.25px;
}
.s_1_Chapter_8-1_111
{
position:absolute;
top:-16.5px;
left:1437.35px;
letter-spacing:-1.5px;
}
.s_1_Chapter_8-1_112
{
position:absolute;
top:283.5px;
left:1022.22px;
}
.s_1_Chapter_8-1_113
{
position:absolute;
top:283.5px;
left:1581.01px;
letter-spacing:-3.01px;
}
.s_1_Chapter_8-1_114
{
position:absolute;
top:640.19px;
left:57.09px;
letter-spacing:-1.26px;
}
.s_1_Chapter_8-1_115
{
position:absolute;
top:640.19px;
left:366.4px;
}
.s_1_Chapter_8-1_116
{
position:absolute;
top:640.19px;
left:789.02px;
letter-spacing:-1.24px;
}
.s_1_Chapter_8-1_117
{
position:absolute;
top:-16.5px;
left:1088.22px;
letter-spacing:-0.61px;
}
.s_1_Chapter_8-1_118
{
position:absolute;
top:340.19px;
left:298.87px;
letter-spacing:-0.88px;
}
.s_1_Chapter_8-1_119
{
position:absolute;
top:340.19px;
left:888.24px;
letter-spacing:-0.72px;
}
.s_1_Chapter_8-1_120
{
position:absolute;
top:340.19px;
left:1647.01px;
}
.s_1_Chapter_8-1_121
{
position:absolute;
top:640.19px;
left:725.43px;
letter-spacing:-1.28px;
}
.s_1_Chapter_8-1_122
{
position:absolute;
top:640.19px;
left:1429.21px;
letter-spacing:-1.76px;
}
.s_1_Chapter_8-1_123
{
position:absolute;
top:-16.5px;
left:1798.97px;
letter-spacing:-2.39px;
}
.s_1_Chapter_8-1_124
{
position:absolute;
top:283.5px;
left:116.22px;
letter-spacing:-0.48px;
}
.s_1_Chapter_8-1_125
{
position:absolute;
top:283.5px;
left:687.33px;
letter-spacing:-1.56px;
}
.s_1_Chapter_8-1_126
{
position:absolute;
top:283.5px;
left:1912.5px;
letter-spacing:-1.29px;
}
.s_1_Chapter_8-1_127
{
position:absolute;
top:583.5px;
left:140.42px;
letter-spacing:-0.95px;
}
.s_1_Chapter_8-1_128
{
position:absolute;
top:583.5px;
left:985.21px;
letter-spacing:-0.19px;
}
.s_1_Chapter_8-1_129
{
position:absolute;
top:583.5px;
left:1683.04px;
letter-spacing:-0.92px;
}
.s_1_Chapter_8-1_130
{
position:absolute;
top:883.5px;
left:981.91px;
}
.s_1_Chapter_8-1_131
{
position:absolute;
top:883.5px;
left:1414.42px;
}
.s_1_Chapter_8-1_132
{
position:absolute;
top:883.5px;
left:1984.21px;
}
.s_1_Chapter_8-1_133
{
position:absolute;
top:-19.5px;
left:437.69px;
}
.s_1_Chapter_8-1_134
{
position:absolute;
top:-16.5px;
left:314.93px;
}
.s_1_Chapter_8-1_135
{
position:absolute;
top:-16.5px;
left:1096.58px;
}
.s_1_Chapter_8-1_136
{
position:absolute;
top:-16.5px;
left:1480.91px;
letter-spacing:-1.58px;
}
.s_1_Chapter_8-1_137
{
position:absolute;
top:240.19px;
left:648.88px;
letter-spacing:-1.17px;
}
.s_1_Chapter_8-1_138
{
position:absolute;
top:240.19px;
left:1268.61px;
letter-spacing:-0.4px;
}
.s_1_Chapter_8-1_139
{
position:absolute;
top:-19.5px;
left:390.77px;
}
.s_1_Chapter_8-1_140
{
position:absolute;
top:-16.5px;
left:2115.84px;
letter-spacing:-9.55px;
}
.s_1_Chapter_8-1_141
{
position:absolute;
top:340.19px;
left:423.63px;
letter-spacing:-1.72px;
}
.s_1_Chapter_8-1_142
{
position:absolute;
top:340.19px;
left:1030.38px;
}
.s_1_Chapter_8-1_143
{
position:absolute;
top:340.19px;
left:1654.07px;
}
.s_1_Chapter_8-1_144
{
position:absolute;
top:340.19px;
left:2227.6px;
letter-spacing:-1.57px;
}
.s_1_Chapter_8-1_145
{
position:absolute;
top:640.19px;
left:1203.51px;
}
.s_1_Chapter_8-1_146
{
position:absolute;
top:640.19px;
left:1630.31px;
letter-spacing:-1.5px;
}
.s_1_Chapter_8-1_147
{
position:absolute;
top:640.19px;
left:2332.98px;
}
.s_1_Chapter_8-1_148
{
position:absolute;
top:41.44px;
left:134.15px;
}
