.d_1_Chapter_7-2_1
{
position:absolute;
overflow:hidden;
left:0px;
top:0px;
transform:translate(0.00px,0.00px);
-webkit-transform:translate(0.00px,0.00px);
-ms-transform:translate(0.00px,0.00px);
-o-transform:translate(0.00px,0.00px);
-moz-transform:translate(0.00px,0.00px);
width:612.28px;
height:841.89px
}
.d_1_Chapter_7-2_21 span.CharOverride-6, .d_1_Chapter_7-2_1 span.CharOverride-6 {
    color: #ffffff;
    font-family: "DK_Jalebi";
    font-size: 480px;
    font-style: normal;
    font-weight: normal;
}
.d_1_Chapter_7-2_2
{
width:560.18px;
height:401.47px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_7-2_3
{
width:9671.47px;
height:832px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_7-2_4
{
width:6686px;
height:598.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_7-2_5
{
width:279.12px;
height:226.77px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_7-2_6
{
width:6686px;
height:598.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_7-2_7
{
width:279.12px;
height:226.77px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_7-2_8
{
width:6686px;
height:598.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_7-2_9
{
width:279.12px;
height:226.77px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_7-2_10
{
width:6994.41px;
height:598.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_7-2_11
{
width:279.12px;
height:226.77px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_7-2_12
{
width:7072.28px;
height:621.91px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_7-2_13
{
width:279.12px;
height:226.77px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_7-2_14
{
width:6686px;
height:598.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_7-2_15
{
width:279.12px;
height:226.77px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_7-2_16
{
width:1884.76px;
height:288px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_7-2_17
{
width:7711.65px;
height:1356.98px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_7-2_18
{
width:2264.84px;
height:288px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_7-2_19
{
width:2508.66px;
height:998.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_7-2_20
{
width:5163.4px;
height:998.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_7-2_21
{
position:absolute;
overflow:hidden;
left:0px;
top:0px;
transform:translate(612px,0.00px);
-webkit-transform:translate(612px,0.00px);
-ms-transform:translate(612px,0.00px);
-o-transform:translate(612px,0.00px);
-moz-transform:translate(612px,0.00px);
width:595.28px;
height:841.89px
}
.d_1_Chapter_7-2_22
{
width:560.18px;
height:401.47px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_7-2_23
{
width:9671.47px;
height:832px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_7-2_24
{
width:9108.48px;
height:1160.63px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_7-2_25
{
width:7372.21px;
height:3411.97px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_7-2_26
{
width:4356.77px;
height:832px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_7-2_27
{
width:7103.62px;
height:655.59px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_7-2_28
{
width:279.12px;
height:226.77px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_7-2_29
{
width:7350.3px;
height:1278.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_7-2_30
{
width:279.12px;
height:226.77px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_7-2_31
{
width:7144.32px;
height:998.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_7-2_32
{
width:279.12px;
height:226.77px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_7-2_33
{
width:7103.62px;
height:1258.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_7-2_34
{
width:279.12px;
height:226.77px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_7-2_35
{
width:9223.68px;
height:214.2px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.s_1_Chapter_7-2_36
{
position:absolute;
top:41.44px;
left:134.15px;
}
.s_1_Chapter_7-2_37
{
position:absolute;
top:58.88px;
left:0px;
}
.s_1_Chapter_7-2_38
{
position:absolute;
top:213.6px;
left:380.63px;
}
.s_1_Chapter_7-2_39
{
position:absolute;
top:213.6px;
left:453.54px;
letter-spacing:-0.74px;
}
.s_1_Chapter_7-2_40
{
position:absolute;
top:213.6px;
left:1300.09px;
}
.s_1_Chapter_7-2_41
{
position:absolute;
top:213.6px;
left:1533.04px;
}
.s_1_Chapter_7-2_42
{
position:absolute;
top:213.6px;
left:2209.55px;
}
.s_1_Chapter_7-2_43
{
position:absolute;
top:213.6px;
left:2501.01px;
letter-spacing:0px;
}
.s_1_Chapter_7-2_44
{
position:absolute;
top:213.6px;
left:3158.54px;
letter-spacing:-0.19px;
}
.s_1_Chapter_7-2_45
{
position:absolute;
top:213.6px;
left:4050.59px;
}
.s_1_Chapter_7-2_46
{
position:absolute;
top:213.6px;
left:5138.4px;
letter-spacing:0px;
}
.s_1_Chapter_7-2_47
{
position:absolute;
top:213.6px;
left:6581.64px;
letter-spacing:-0.57px;
}
.s_1_Chapter_7-2_48
{
position:absolute;
top:213.6px;
left:7203.56px;
letter-spacing:0px;
}
.s_1_Chapter_7-2_49
{
position:absolute;
top:213.6px;
left:7625.28px;
letter-spacing:0px;
}
.s_1_Chapter_7-2_50
{
position:absolute;
top:213.6px;
left:8249px;
letter-spacing:0px;
}
.s_1_Chapter_7-2_51
{
position:absolute;
top:213.6px;
left:8540.46px;
letter-spacing:-0.69px;
}
.s_1_Chapter_7-2_52
{
position:absolute;
top:613.6px;
left:453.54px;
}
.s_1_Chapter_7-2_53
{
position:absolute;
top:613.6px;
left:1127.97px;
}
.s_1_Chapter_7-2_54
{
position:absolute;
top:613.6px;
left:2510.38px;
}
.s_1_Chapter_7-2_55
{
position:absolute;
top:613.6px;
left:2979.93px;
}
.s_1_Chapter_7-2_56
{
position:absolute;
top:613.6px;
left:3622.9px;
}
.s_1_Chapter_7-2_57
{
position:absolute;
top:613.6px;
left:4044.61px;
letter-spacing:-0.39px;
}
.s_1_Chapter_7-2_58
{
position:absolute;
top:613.6px;
left:4904.16px;
letter-spacing:-1.34px;
}
.s_1_Chapter_7-2_59
{
position:absolute;
top:613.6px;
left:5775.41px;
letter-spacing:0px;
}
.s_1_Chapter_7-2_60
{
position:absolute;
top:613.6px;
left:6027.35px;
letter-spacing:0px;
}
.s_1_Chapter_7-2_61
{
position:absolute;
top:613.6px;
left:6449.06px;
letter-spacing:-0.95px;
}
.s_1_Chapter_7-2_62
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-1.2px;
}
.s_1_Chapter_7-2_63
{
position:absolute;
top:-19.5px;
left:1015.81px;
}
.s_1_Chapter_7-2_64
{
position:absolute;
top:-19.5px;
left:1292.44px;
}
.s_1_Chapter_7-2_65
{
position:absolute;
top:-19.5px;
left:1907.85px;
letter-spacing:-1.89px;
}
.s_1_Chapter_7-2_66
{
position:absolute;
top:-19.5px;
left:2531.32px;
}
.s_1_Chapter_7-2_67
{
position:absolute;
top:-19.5px;
left:3027.91px;
letter-spacing:-0.17px;
}
.s_1_Chapter_7-2_68
{
position:absolute;
top:-19.5px;
left:4371.83px;
}
.s_1_Chapter_7-2_69
{
position:absolute;
top:-19.5px;
left:4628.71px;
letter-spacing:-0.52px;
}
.s_1_Chapter_7-2_70
{
position:absolute;
top:-19.5px;
left:5473.18px;
letter-spacing:-2.6px;
}
.s_1_Chapter_7-2_71
{
position:absolute;
top:-19.5px;
left:5878.51px;
letter-spacing:0px;
}
.s_1_Chapter_7-2_72
{
position:absolute;
top:-19.5px;
left:6224.56px;
letter-spacing:0px;
}
.s_1_Chapter_7-2_73
{
position:absolute;
top:380.5px;
left:0px;
letter-spacing:-0.69px;
}
.s_1_Chapter_7-2_74
{
position:absolute;
top:380.5px;
left:228.27px;
}
.s_1_Chapter_7-2_75
{
position:absolute;
top:380.5px;
left:819.24px;
}
.s_1_Chapter_7-2_76
{
position:absolute;
top:380.5px;
left:1572.97px;
}
.s_1_Chapter_7-2_77
{
position:absolute;
top:380.5px;
left:2101.8px;
letter-spacing:-0.95px;
}
.s_1_Chapter_7-2_78
{
position:absolute;
top:380.5px;
left:2819.13px;
}
.s_1_Chapter_7-2_79
{
position:absolute;
top:380.5px;
left:3132.68px;
}
.s_1_Chapter_7-2_80
{
position:absolute;
top:380.5px;
left:3766.54px;
}
.s_1_Chapter_7-2_81
{
position:absolute;
top:380.5px;
left:4263.13px;
letter-spacing:-0.17px;
}
.s_1_Chapter_7-2_82
{
position:absolute;
top:-19.5px;
left:80.67px;
letter-spacing:-1.69px;
}
.s_1_Chapter_7-2_83
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-1.2px;
}
.s_1_Chapter_7-2_84
{
position:absolute;
top:-19.5px;
left:1015.81px;
}
.s_1_Chapter_7-2_85
{
position:absolute;
top:-19.5px;
left:1288.02px;
}
.s_1_Chapter_7-2_86
{
position:absolute;
top:-19.5px;
left:1742.23px;
letter-spacing:-1.63px;
}
.s_1_Chapter_7-2_87
{
position:absolute;
top:-19.5px;
left:2564.6px;
letter-spacing:-2.68px;
}
.s_1_Chapter_7-2_88
{
position:absolute;
top:-19.5px;
left:2864.12px;
}
.s_1_Chapter_7-2_89
{
position:absolute;
top:-19.5px;
left:3318.33px;
letter-spacing:-1.25px;
}
.s_1_Chapter_7-2_90
{
position:absolute;
top:-19.5px;
left:3807.9px;
letter-spacing:-2.68px;
}
.s_1_Chapter_7-2_91
{
position:absolute;
top:-19.5px;
left:4111.84px;
letter-spacing:-0.74px;
}
.s_1_Chapter_7-2_92
{
position:absolute;
top:-19.5px;
left:4923.81px;
}
.s_1_Chapter_7-2_93
{
position:absolute;
top:-19.5px;
left:5147.92px;
letter-spacing:0px;
}
.s_1_Chapter_7-2_94
{
position:absolute;
top:-19.5px;
left:5846.79px;
}
.s_1_Chapter_7-2_95
{
position:absolute;
top:380.5px;
left:0px;
letter-spacing:-2.52px;
}
.s_1_Chapter_7-2_96
{
position:absolute;
top:380.5px;
left:833.03px;
letter-spacing:-2.6px;
}
.s_1_Chapter_7-2_97
{
position:absolute;
top:380.5px;
left:1238.36px;
}
.s_1_Chapter_7-2_98
{
position:absolute;
top:380.5px;
left:1955.17px;
}
.s_1_Chapter_7-2_99
{
position:absolute;
top:380.5px;
left:2404.44px;
letter-spacing:-1.33px;
}
.s_1_Chapter_7-2_100
{
position:absolute;
top:380.5px;
left:3330.02px;
letter-spacing:-0.97px;
}
.s_1_Chapter_7-2_101
{
position:absolute;
top:380.5px;
left:4214.01px;
letter-spacing:-0.54px;
}
.s_1_Chapter_7-2_102
{
position:absolute;
top:-19.5px;
left:42.97px;
letter-spacing:-1.3px;
}
.s_1_Chapter_7-2_103
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-1.2px;
}
.s_1_Chapter_7-2_104
{
position:absolute;
top:-19.5px;
left:1015.81px;
}
.s_1_Chapter_7-2_105
{
position:absolute;
top:-19.5px;
left:1377.46px;
}
.s_1_Chapter_7-2_106
{
position:absolute;
top:-19.5px;
left:1831.67px;
}
.s_1_Chapter_7-2_107
{
position:absolute;
top:-19.5px;
left:2733.86px;
}
.s_1_Chapter_7-2_108
{
position:absolute;
top:-19.5px;
left:3099.41px;
letter-spacing:-1.1px;
}
.s_1_Chapter_7-2_109
{
position:absolute;
top:-19.5px;
left:3700.27px;
}
.s_1_Chapter_7-2_110
{
position:absolute;
top:-19.5px;
left:3770.99px;
}
.s_1_Chapter_7-2_111
{
position:absolute;
top:-19.5px;
left:4047.62px;
letter-spacing:-0.45px;
}
.s_1_Chapter_7-2_112
{
position:absolute;
top:-19.5px;
left:4763.65px;
letter-spacing:-2.01px;
}
.s_1_Chapter_7-2_113
{
position:absolute;
top:-19.5px;
left:5684.82px;
letter-spacing:0px;
}
.s_1_Chapter_7-2_114
{
position:absolute;
top:-19.5px;
left:6176.47px;
letter-spacing:-0.71px;
}
.s_1_Chapter_7-2_115
{
position:absolute;
top:380.5px;
left:0px;
}
.s_1_Chapter_7-2_116
{
position:absolute;
top:380.5px;
left:449.79px;
}
.s_1_Chapter_7-2_117
{
position:absolute;
top:380.5px;
left:1240.69px;
}
.s_1_Chapter_7-2_118
{
position:absolute;
top:380.5px;
left:2602.82px;
letter-spacing:-0.7px;
}
.s_1_Chapter_7-2_119
{
position:absolute;
top:380.5px;
left:3752.26px;
}
.s_1_Chapter_7-2_120
{
position:absolute;
top:380.5px;
left:4095.97px;
letter-spacing:-2.13px;
}
.s_1_Chapter_7-2_121
{
position:absolute;
top:-19.5px;
left:42.71px;
}
.s_1_Chapter_7-2_122
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-1.2px;
}
.s_1_Chapter_7-2_123
{
position:absolute;
top:-19.5px;
left:1015.81px;
}
.s_1_Chapter_7-2_124
{
position:absolute;
top:-19.5px;
left:1381.88px;
letter-spacing:-1.73px;
}
.s_1_Chapter_7-2_125
{
position:absolute;
top:-19.5px;
left:2039.41px;
letter-spacing:-0.23px;
}
.s_1_Chapter_7-2_126
{
position:absolute;
top:-19.5px;
left:3096.04px;
}
.s_1_Chapter_7-2_127
{
position:absolute;
top:-19.5px;
left:3592.63px;
}
.s_1_Chapter_7-2_128
{
position:absolute;
top:-19.5px;
left:4362.21px;
letter-spacing:-0.63px;
}
.s_1_Chapter_7-2_129
{
position:absolute;
top:-19.5px;
left:5230.08px;
}
.s_1_Chapter_7-2_130
{
position:absolute;
top:-19.5px;
left:5570.41px;
letter-spacing:-3.25px;
}
.s_1_Chapter_7-2_131
{
position:absolute;
top:-19.5px;
left:5777.89px;
letter-spacing:-2.51px;
}
.s_1_Chapter_7-2_132
{
position:absolute;
top:380.5px;
left:0px;
letter-spacing:-0.9px;
}
.s_1_Chapter_7-2_133
{
position:absolute;
top:380.5px;
left:1275.03px;
letter-spacing:-3.25px;
}
.s_1_Chapter_7-2_134
{
position:absolute;
top:380.5px;
left:1482.5px;
}
.s_1_Chapter_7-2_135
{
position:absolute;
top:380.5px;
left:2352.97px;
letter-spacing:-3.25px;
}
.s_1_Chapter_7-2_136
{
position:absolute;
top:380.5px;
left:2556.02px;
letter-spacing:-1.82px;
}
.s_1_Chapter_7-2_137
{
position:absolute;
top:380.5px;
left:3672.96px;
}
.s_1_Chapter_7-2_138
{
position:absolute;
top:380.5px;
left:4184.11px;
letter-spacing:-1.66px;
}
.s_1_Chapter_7-2_139
{
position:absolute;
top:380.5px;
left:4813.04px;
letter-spacing:-3.25px;
}
.s_1_Chapter_7-2_140
{
position:absolute;
top:380.5px;
left:5020.52px;
letter-spacing:-1.43px;
}
.s_1_Chapter_7-2_141
{
position:absolute;
top:-19.5px;
left:44.27px;
letter-spacing:-2.08px;
}
.s_1_Chapter_7-2_142
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-1.2px;
}
.s_1_Chapter_7-2_143
{
position:absolute;
top:-19.5px;
left:1015.81px;
}
.s_1_Chapter_7-2_144
{
position:absolute;
top:-19.5px;
left:1292.44px;
letter-spacing:-0.34px;
}
.s_1_Chapter_7-2_145
{
position:absolute;
top:-19.5px;
left:2355.57px;
}
.s_1_Chapter_7-2_146
{
position:absolute;
top:-19.5px;
left:2852.16px;
letter-spacing:-0.7px;
}
.s_1_Chapter_7-2_147
{
position:absolute;
top:-19.5px;
left:4001.07px;
letter-spacing:-0.71px;
}
.s_1_Chapter_7-2_148
{
position:absolute;
top:-19.5px;
left:4549.41px;
}
.s_1_Chapter_7-2_149
{
position:absolute;
top:-19.5px;
left:5130.24px;
}
.s_1_Chapter_7-2_150
{
position:absolute;
top:-19.5px;
left:5470.57px;
letter-spacing:-3.25px;
}
.s_1_Chapter_7-2_151
{
position:absolute;
top:-19.5px;
left:5678.05px;
letter-spacing:0px;
}
.s_1_Chapter_7-2_152
{
position:absolute;
top:380.5px;
left:0px;
}
.s_1_Chapter_7-2_153
{
position:absolute;
top:380.5px;
left:600.33px;
}
.s_1_Chapter_7-2_154
{
position:absolute;
top:380.5px;
left:1333.78px;
letter-spacing:-0.31px;
}
.s_1_Chapter_7-2_155
{
position:absolute;
top:380.5px;
left:1851.69px;
}
.s_1_Chapter_7-2_156
{
position:absolute;
top:380.5px;
left:2927.3px;
}
.s_1_Chapter_7-2_157
{
position:absolute;
top:380.5px;
left:3434.03px;
}
.s_1_Chapter_7-2_158
{
position:absolute;
top:380.5px;
left:4034.36px;
letter-spacing:-0.31px;
}
.s_1_Chapter_7-2_159
{
position:absolute;
top:380.5px;
left:4552.27px;
letter-spacing:-3.25px;
}
.s_1_Chapter_7-2_160
{
position:absolute;
top:380.5px;
left:4759.75px;
}
.s_1_Chapter_7-2_161
{
position:absolute;
top:-19.5px;
left:40.76px;
letter-spacing:-2.08px;
}
.s_1_Chapter_7-2_162
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-1.2px;
}
.s_1_Chapter_7-2_163
{
position:absolute;
top:-19.5px;
left:1015.81px;
}
.s_1_Chapter_7-2_164
{
position:absolute;
top:-19.5px;
left:1377.46px;
}
.s_1_Chapter_7-2_165
{
position:absolute;
top:-19.5px;
left:1823.87px;
letter-spacing:-1.09px;
}
.s_1_Chapter_7-2_166
{
position:absolute;
top:-19.5px;
left:2976.69px;
letter-spacing:-2.68px;
}
.s_1_Chapter_7-2_167
{
position:absolute;
top:-19.5px;
left:3272.83px;
letter-spacing:-1.04px;
}
.s_1_Chapter_7-2_168
{
position:absolute;
top:-19.5px;
left:4212.45px;
}
.s_1_Chapter_7-2_169
{
position:absolute;
top:-19.5px;
left:4704.62px;
letter-spacing:0px;
}
.s_1_Chapter_7-2_170
{
position:absolute;
top:-19.5px;
left:5586.79px;
letter-spacing:-0.71px;
}
.s_1_Chapter_7-2_171
{
position:absolute;
top:-19.5px;
left:6135.12px;
letter-spacing:0px;
}
.s_1_Chapter_7-2_172
{
position:absolute;
top:380.5px;
left:0px;
}
.s_1_Chapter_7-2_173
{
position:absolute;
top:380.5px;
left:276.63px;
letter-spacing:-0.85px;
}
.s_1_Chapter_7-2_174
{
position:absolute;
top:380.5px;
left:1182.46px;
letter-spacing:-2.68px;
}
.s_1_Chapter_7-2_175
{
position:absolute;
top:380.5px;
left:1481.98px;
}
.s_1_Chapter_7-2_176
{
position:absolute;
top:380.5px;
left:1936.19px;
letter-spacing:-1.52px;
}
.s_1_Chapter_7-2_177
{
position:absolute;
top:380.5px;
left:2705.52px;
}
.s_1_Chapter_7-2_178
{
position:absolute;
top:380.5px;
left:3838.32px;
letter-spacing:-1.39px;
}
.s_1_Chapter_7-2_179
{
position:absolute;
top:380.5px;
left:4664.85px;
}
.s_1_Chapter_7-2_180
{
position:absolute;
top:-19.5px;
left:38.29px;
letter-spacing:-2.08px;
}
.s_1_Chapter_7-2_181
{
position:absolute;
top:-12.32px;
left:0px;
}
.s_1_Chapter_7-2_182
{
position:absolute;
top:-12.32px;
left:420.83px;
letter-spacing:-5.11px;
}
.s_1_Chapter_7-2_183
{
position:absolute;
top:-12.32px;
left:971.57px;
letter-spacing:-6.86px;
}
.s_1_Chapter_7-2_184
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-1.47px;
}
.s_1_Chapter_7-2_185
{
position:absolute;
top:-19.5px;
left:743.59px;
}
.s_1_Chapter_7-2_186
{
position:absolute;
top:-19.5px;
left:1000.47px;
letter-spacing:-3.25px;
}
.s_1_Chapter_7-2_187
{
position:absolute;
top:-19.5px;
left:1203.52px;
letter-spacing:-0.62px;
}
.s_1_Chapter_7-2_188
{
position:absolute;
top:-19.5px;
left:1870.93px;
}
.s_1_Chapter_7-2_189
{
position:absolute;
top:-19.5px;
left:2814.46px;
}
.s_1_Chapter_7-2_190
{
position:absolute;
top:-19.5px;
left:3176.11px;
}
.s_1_Chapter_7-2_191
{
position:absolute;
top:-19.5px;
left:3630.32px;
}
.s_1_Chapter_7-2_192
{
position:absolute;
top:-19.5px;
left:4387.43px;
letter-spacing:-2.68px;
}
.s_1_Chapter_7-2_193
{
position:absolute;
top:-19.5px;
left:4683.57px;
letter-spacing:-1.1px;
}
.s_1_Chapter_7-2_194
{
position:absolute;
top:-19.5px;
left:5816.37px;
}
.s_1_Chapter_7-2_195
{
position:absolute;
top:-19.5px;
left:6093.01px;
letter-spacing:-1.73px;
}
.s_1_Chapter_7-2_196
{
position:absolute;
top:380.5px;
left:0px;
}
.s_1_Chapter_7-2_197
{
position:absolute;
top:380.5px;
left:547.29px;
}
.s_1_Chapter_7-2_198
{
position:absolute;
top:380.5px;
left:1029.32px;
}
.s_1_Chapter_7-2_199
{
position:absolute;
top:380.5px;
left:1483.53px;
}
.s_1_Chapter_7-2_200
{
position:absolute;
top:380.5px;
left:2423.67px;
}
.s_1_Chapter_7-2_201
{
position:absolute;
top:380.5px;
left:3152.19px;
}
.s_1_Chapter_7-2_202
{
position:absolute;
top:380.5px;
left:3424.4px;
}
.s_1_Chapter_7-2_203
{
position:absolute;
top:380.5px;
left:3873.67px;
letter-spacing:-0.45px;
}
.s_1_Chapter_7-2_204
{
position:absolute;
top:380.5px;
left:4671.86px;
letter-spacing:-0.45px;
}
.s_1_Chapter_7-2_205
{
position:absolute;
top:380.5px;
left:5170.54px;
letter-spacing:-2.23px;
}
.s_1_Chapter_7-2_206
{
position:absolute;
top:380.5px;
left:6016.3px;
letter-spacing:0px;
}
.s_1_Chapter_7-2_207
{
position:absolute;
top:380.5px;
left:6744.81px;
letter-spacing:0px;
}
.s_1_Chapter_7-2_208
{
position:absolute;
top:780.5px;
left:0px;
letter-spacing:-0.39px;
}
.s_1_Chapter_7-2_209
{
position:absolute;
top:-14.08px;
left:0px;
letter-spacing:-3.68px;
}
.s_1_Chapter_7-2_210
{
position:absolute;
top:-14.08px;
left:727.67px;
}
.s_1_Chapter_7-2_211
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.35px;
}
.s_1_Chapter_7-2_212
{
position:absolute;
top:-19.5px;
left:783.37px;
letter-spacing:-0.78px;
}
.s_1_Chapter_7-2_213
{
position:absolute;
top:-19.5px;
left:1304.66px;
letter-spacing:-0.44px;
}
.s_1_Chapter_7-2_214
{
position:absolute;
top:380.5px;
left:0px;
}
.s_1_Chapter_7-2_215
{
position:absolute;
top:380.5px;
left:334.09px;
}
.s_1_Chapter_7-2_216
{
position:absolute;
top:380.5px;
left:610.73px;
letter-spacing:-0.47px;
}
.s_1_Chapter_7-2_217
{
position:absolute;
top:380.5px;
left:1210.54px;
letter-spacing:-1.3px;
}
.s_1_Chapter_7-2_218
{
position:absolute;
top:380.5px;
left:1766.15px;
}
.s_1_Chapter_7-2_219
{
position:absolute;
top:780.5px;
left:0px;
letter-spacing:-2.56px;
}
.s_1_Chapter_7-2_220
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-1.99px;
}
.s_1_Chapter_7-2_221
{
position:absolute;
top:-19.5px;
left:291.46px;
letter-spacing:-1.56px;
}
.s_1_Chapter_7-2_222
{
position:absolute;
top:-19.5px;
left:1029.07px;
letter-spacing:-0.93px;
}
.s_1_Chapter_7-2_223
{
position:absolute;
top:-19.5px;
left:2076.34px;
letter-spacing:-3.21px;
}
.s_1_Chapter_7-2_224
{
position:absolute;
top:-19.5px;
left:2363.9px;
letter-spacing:-6.98px;
}
.s_1_Chapter_7-2_225
{
position:absolute;
top:-19.5px;
left:3144.67px;
letter-spacing:-2.68px;
}
.s_1_Chapter_7-2_226
{
position:absolute;
top:-19.5px;
left:3448.61px;
letter-spacing:-1.37px;
}
.s_1_Chapter_7-2_227
{
position:absolute;
top:380.5px;
left:0px;
letter-spacing:-1.47px;
}
.s_1_Chapter_7-2_228
{
position:absolute;
top:380.5px;
left:281.84px;
letter-spacing:-1.2px;
}
.s_1_Chapter_7-2_229
{
position:absolute;
top:380.5px;
left:1266.97px;
letter-spacing:-6.98px;
}
.s_1_Chapter_7-2_230
{
position:absolute;
top:380.5px;
left:2047.74px;
letter-spacing:-2.68px;
}
.s_1_Chapter_7-2_231
{
position:absolute;
top:380.5px;
left:2351.68px;
letter-spacing:-1.3px;
}
.s_1_Chapter_7-2_232
{
position:absolute;
top:380.5px;
left:3086.17px;
}
.s_1_Chapter_7-2_233
{
position:absolute;
top:380.5px;
left:3391.41px;
letter-spacing:-0.31px;
}
.s_1_Chapter_7-2_234
{
position:absolute;
top:780.5px;
left:0px;
letter-spacing:-2.17px;
}
.s_1_Chapter_7-2_235
{
position:absolute;
top:780.5px;
left:291.46px;
letter-spacing:-0.49px;
}
.s_1_Chapter_7-2_236
{
position:absolute;
top:780.5px;
left:1835.58px;
}
.s_1_Chapter_7-2_237
{
position:absolute;
top:780.5px;
left:2081.8px;
text-rendering:optimizeLegibility;
letter-spacing:-0.63px;
}
.s_1_Chapter_7-2_238
{
position:absolute;
top:780.5px;
left:2714.88px;
letter-spacing:-8.37px;
}
.s_1_Chapter_7-2_239
{
position:absolute;
top:41.44px;
left:134.15px;
}
.s_1_Chapter_7-2_240
{
position:absolute;
top:58.88px;
left:0px;
letter-spacing:-7.92px;
}
.s_1_Chapter_7-2_241
{
position:absolute;
top:213.6px;
left:305.76px;
}
.s_1_Chapter_7-2_242
{
position:absolute;
top:213.6px;
left:453.54px;
}
.s_1_Chapter_7-2_243
{
position:absolute;
top:213.6px;
left:820.65px;
}
.s_1_Chapter_7-2_244
{
position:absolute;
top:213.6px;
left:1072.59px;
letter-spacing:0px;
}
.s_1_Chapter_7-2_245
{
position:absolute;
top:213.6px;
left:1494.3px;
}
.s_1_Chapter_7-2_246
{
position:absolute;
top:213.6px;
left:2274.03px;
}
.s_1_Chapter_7-2_247
{
position:absolute;
top:213.6px;
left:2565.48px;
letter-spacing:-1.34px;
}
.s_1_Chapter_7-2_248
{
position:absolute;
top:213.6px;
left:3436.73px;
}
.s_1_Chapter_7-2_249
{
position:absolute;
top:213.6px;
left:4582.79px;
}
.s_1_Chapter_7-2_250
{
position:absolute;
top:213.6px;
left:4915.84px;
letter-spacing:0px;
}
.s_1_Chapter_7-2_251
{
position:absolute;
top:213.6px;
left:5337.56px;
letter-spacing:-0.36px;
}
.s_1_Chapter_7-2_252
{
position:absolute;
top:213.6px;
left:6198.41px;
letter-spacing:-0.32px;
}
.s_1_Chapter_7-2_253
{
position:absolute;
top:213.6px;
left:7224.87px;
letter-spacing:-2.51px;
}
.s_1_Chapter_7-2_254
{
position:absolute;
top:213.6px;
left:7504.37px;
letter-spacing:-0.65px;
}
.s_1_Chapter_7-2_255
{
position:absolute;
top:213.6px;
left:8411.75px;
letter-spacing:0px;
}
.s_1_Chapter_7-2_256
{
position:absolute;
top:213.6px;
left:8919.79px;
letter-spacing:-1.98px;
}
.s_1_Chapter_7-2_257
{
position:absolute;
top:613.6px;
left:453.54px;
letter-spacing:-0.49px;
}
.s_1_Chapter_7-2_258
{
position:absolute;
top:613.6px;
left:1449.07px;
letter-spacing:-0.62px;
}
.s_1_Chapter_7-2_259
{
position:absolute;
top:613.6px;
left:2043.16px;
}
.s_1_Chapter_7-2_260
{
position:absolute;
top:613.6px;
left:2464.88px;
}
.s_1_Chapter_7-2_261
{
position:absolute;
top:613.6px;
left:2993.19px;
}
.s_1_Chapter_7-2_262
{
position:absolute;
top:58.88px;
left:0px;
letter-spacing:-7.92px;
}
.s_1_Chapter_7-2_263
{
position:absolute;
top:213.6px;
left:329.76px;
}
.s_1_Chapter_7-2_264
{
position:absolute;
top:213.6px;
left:453.54px;
letter-spacing:-0.57px;
}
.s_1_Chapter_7-2_265
{
position:absolute;
top:213.6px;
left:1075.46px;
letter-spacing:0px;
}
.s_1_Chapter_7-2_266
{
position:absolute;
top:213.6px;
left:1497.17px;
}
.s_1_Chapter_7-2_267
{
position:absolute;
top:213.6px;
left:2120.9px;
}
.s_1_Chapter_7-2_268
{
position:absolute;
top:213.6px;
left:2412.35px;
letter-spacing:-0.69px;
}
.s_1_Chapter_7-2_269
{
position:absolute;
top:213.6px;
left:3323.9px;
}
.s_1_Chapter_7-2_270
{
position:absolute;
top:213.6px;
left:3981.43px;
letter-spacing:-0.19px;
}
.s_1_Chapter_7-2_271
{
position:absolute;
top:213.6px;
left:4873.48px;
letter-spacing:0px;
}
.s_1_Chapter_7-2_272
{
position:absolute;
top:213.6px;
left:6372.87px;
letter-spacing:-0.62px;
}
.s_1_Chapter_7-2_273
{
position:absolute;
top:213.6px;
left:6968px;
letter-spacing:-0.65px;
}
.s_1_Chapter_7-2_274
{
position:absolute;
top:213.6px;
left:7875.39px;
letter-spacing:0px;
}
.s_1_Chapter_7-2_275
{
position:absolute;
top:213.6px;
left:8383.42px;
letter-spacing:-1.98px;
}
.s_1_Chapter_7-2_276
{
position:absolute;
top:613.6px;
left:453.54px;
letter-spacing:-0.49px;
}
.s_1_Chapter_7-2_277
{
position:absolute;
top:613.6px;
left:1449.07px;
letter-spacing:-0.62px;
}
.s_1_Chapter_7-2_278
{
position:absolute;
top:613.6px;
left:2043.16px;
}
.s_1_Chapter_7-2_279
{
position:absolute;
top:613.6px;
left:2464.88px;
}
.s_1_Chapter_7-2_280
{
position:absolute;
top:613.6px;
left:2993.19px;
}
.s_1_Chapter_7-2_281
{
position:absolute;
top:-19.5px;
left:396.85px;
letter-spacing:-1.2px;
}
.s_1_Chapter_7-2_282
{
position:absolute;
top:-19.5px;
left:1412.66px;
}
.s_1_Chapter_7-2_283
{
position:absolute;
top:-19.5px;
left:1689.29px;
letter-spacing:-0.19px;
}
.s_1_Chapter_7-2_284
{
position:absolute;
top:-19.5px;
left:2584.46px;
}
.s_1_Chapter_7-2_285
{
position:absolute;
top:-19.5px;
left:3038.67px;
}
.s_1_Chapter_7-2_286
{
position:absolute;
top:-19.5px;
left:4820.08px;
letter-spacing:-0.49px;
}
.s_1_Chapter_7-2_287
{
position:absolute;
top:-19.5px;
left:6003.07px;
letter-spacing:0px;
}
.s_1_Chapter_7-2_288
{
position:absolute;
top:380.5px;
left:396.85px;
}
.s_1_Chapter_7-2_289
{
position:absolute;
top:380.5px;
left:1642.49px;
letter-spacing:-1.6px;
}
.s_1_Chapter_7-2_290
{
position:absolute;
top:380.5px;
left:2541.03px;
}
.s_1_Chapter_7-2_291
{
position:absolute;
top:380.5px;
left:3044.39px;
}
.s_1_Chapter_7-2_292
{
position:absolute;
top:780.5px;
left:396.85px;
letter-spacing:-0.45px;
}
.s_1_Chapter_7-2_293
{
position:absolute;
top:780.5px;
left:899.95px;
}
.s_1_Chapter_7-2_294
{
position:absolute;
top:780.5px;
left:2681.36px;
letter-spacing:-1.17px;
}
.s_1_Chapter_7-2_295
{
position:absolute;
top:780.5px;
left:3670.9px;
letter-spacing:-1.6px;
}
.s_1_Chapter_7-2_296
{
position:absolute;
top:780.5px;
left:4565.02px;
}
.s_1_Chapter_7-2_297
{
position:absolute;
top:780.5px;
left:4874.15px;
}
.s_1_Chapter_7-2_298
{
position:absolute;
top:780.5px;
left:5328.36px;
}
.s_1_Chapter_7-2_299
{
position:absolute;
top:780.5px;
left:6037.89px;
letter-spacing:0px;
}
.s_1_Chapter_7-2_300
{
position:absolute;
top:780.5px;
left:6544.62px;
}
.s_1_Chapter_7-2_301
{
position:absolute;
top:1180.5px;
left:396.85px;
letter-spacing:-1.1px;
}
.s_1_Chapter_7-2_302
{
position:absolute;
top:1180.5px;
left:1347.91px;
letter-spacing:-0.48px;
}
.s_1_Chapter_7-2_303
{
position:absolute;
top:1180.5px;
left:2190.57px;
letter-spacing:-1.17px;
}
.s_1_Chapter_7-2_304
{
position:absolute;
top:1180.5px;
left:3180.11px;
}
.s_1_Chapter_7-2_305
{
position:absolute;
top:1180.5px;
left:3399.8px;
}
.s_1_Chapter_7-2_306
{
position:absolute;
top:1180.5px;
left:3708.93px;
}
.s_1_Chapter_7-2_307
{
position:absolute;
top:1180.5px;
left:4158.2px;
letter-spacing:-0.62px;
}
.s_1_Chapter_7-2_308
{
position:absolute;
top:1580.5px;
left:396.85px;
}
.s_1_Chapter_7-2_309
{
position:absolute;
top:1580.5px;
left:1002.12px;
}
.s_1_Chapter_7-2_310
{
position:absolute;
top:1580.5px;
left:1529.91px;
}
.s_1_Chapter_7-2_311
{
position:absolute;
top:1580.5px;
left:2472.66px;
}
.s_1_Chapter_7-2_312
{
position:absolute;
top:1580.5px;
left:2926.87px;
letter-spacing:-0.97px;
}
.s_1_Chapter_7-2_313
{
position:absolute;
top:1580.5px;
left:3807.21px;
letter-spacing:-1.44px;
}
.s_1_Chapter_7-2_314
{
position:absolute;
top:1580.5px;
left:5169.33px;
letter-spacing:-1.82px;
}
.s_1_Chapter_7-2_315
{
position:absolute;
top:1580.5px;
left:5705.97px;
}
.s_1_Chapter_7-2_316
{
position:absolute;
top:1580.5px;
left:5982.6px;
letter-spacing:-1.6px;
}
.s_1_Chapter_7-2_317
{
position:absolute;
top:1580.5px;
left:6881.15px;
letter-spacing:0px;
}
.s_1_Chapter_7-2_318
{
position:absolute;
top:1980.5px;
left:396.85px;
letter-spacing:-1.82px;
}
.s_1_Chapter_7-2_319
{
position:absolute;
top:1980.5px;
left:1015.39px;
}
.s_1_Chapter_7-2_320
{
position:absolute;
top:1980.5px;
left:2796.8px;
}
.s_1_Chapter_7-2_321
{
position:absolute;
top:2380.5px;
left:396.85px;
}
.s_1_Chapter_7-2_322
{
position:absolute;
top:2380.5px;
left:2178.26px;
}
.s_1_Chapter_7-2_323
{
position:absolute;
top:2380.5px;
left:2430.71px;
}
.s_1_Chapter_7-2_324
{
position:absolute;
top:2380.5px;
left:2884.93px;
letter-spacing:-0.97px;
}
.s_1_Chapter_7-2_325
{
position:absolute;
top:2380.5px;
left:3768.91px;
}
.s_1_Chapter_7-2_326
{
position:absolute;
top:2380.5px;
left:4526.02px;
}
.s_1_Chapter_7-2_327
{
position:absolute;
top:2380.5px;
left:4798.23px;
}
.s_1_Chapter_7-2_328
{
position:absolute;
top:2380.5px;
left:5247.5px;
letter-spacing:-0.52px;
}
.s_1_Chapter_7-2_329
{
position:absolute;
top:2780.5px;
left:396.85px;
}
.s_1_Chapter_7-2_330
{
position:absolute;
top:2780.5px;
left:2178.26px;
}
.s_1_Chapter_7-2_331
{
position:absolute;
top:2780.5px;
left:2430.71px;
}
.s_1_Chapter_7-2_332
{
position:absolute;
top:2780.5px;
left:2884.93px;
}
.s_1_Chapter_7-2_333
{
position:absolute;
top:2780.5px;
left:3738.23px;
letter-spacing:-2.68px;
}
.s_1_Chapter_7-2_334
{
position:absolute;
top:2780.5px;
left:4037.75px;
}
.s_1_Chapter_7-2_335
{
position:absolute;
top:2780.5px;
left:4491.96px;
letter-spacing:-0.97px;
}
.s_1_Chapter_7-2_336
{
position:absolute;
top:2780.5px;
left:5375.94px;
letter-spacing:-1.33px;
}
.s_1_Chapter_7-2_337
{
position:absolute;
top:2780.5px;
left:6347.03px;
}
.s_1_Chapter_7-2_338
{
position:absolute;
top:3180.5px;
left:396.85px;
letter-spacing:-1.4px;
}
.s_1_Chapter_7-2_339
{
position:absolute;
top:3180.5px;
left:1359.1px;
letter-spacing:-0.22px;
}
.s_1_Chapter_7-2_340
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.93px;
}
.s_1_Chapter_7-2_341
{
position:absolute;
top:-19.5px;
left:1392.55px;
letter-spacing:-0.42px;
}
.s_1_Chapter_7-2_342
{
position:absolute;
top:-19.5px;
left:2392.76px;
letter-spacing:-1px;
}
.s_1_Chapter_7-2_343
{
position:absolute;
top:-19.5px;
left:3139.73px;
letter-spacing:-0.57px;
}
.s_1_Chapter_7-2_344
{
position:absolute;
top:336.19px;
left:0px;
letter-spacing:-1.26px;
}
.s_1_Chapter_7-2_345
{
position:absolute;
top:336.19px;
left:1510.86px;
letter-spacing:-1.01px;
}
.s_1_Chapter_7-2_346
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.39px;
}
.s_1_Chapter_7-2_347
{
position:absolute;
top:-19.5px;
left:503.62px;
}
.s_1_Chapter_7-2_348
{
position:absolute;
top:-19.5px;
left:1507.72px;
}
.s_1_Chapter_7-2_349
{
position:absolute;
top:-19.5px;
left:1958.3px;
text-rendering:optimizeLegibility;
letter-spacing:-0.26px;
}
.s_1_Chapter_7-2_350
{
position:absolute;
top:-19.5px;
left:2493.88px;
letter-spacing:-0.63px;
}
.s_1_Chapter_7-2_351
{
position:absolute;
top:-19.5px;
left:3367.47px;
letter-spacing:-0.8px;
}
.s_1_Chapter_7-2_352
{
position:absolute;
top:-19.5px;
left:4679.94px;
letter-spacing:-2.68px;
}
.s_1_Chapter_7-2_353
{
position:absolute;
top:-19.5px;
left:4983.87px;
letter-spacing:-1.33px;
}
.s_1_Chapter_7-2_354
{
position:absolute;
top:-19.5px;
left:6133.33px;
}
.s_1_Chapter_7-2_355
{
position:absolute;
top:-19.5px;
left:6409.96px;
letter-spacing:-0.83px;
}
.s_1_Chapter_7-2_356
{
position:absolute;
top:437.19px;
left:0px;
}
.s_1_Chapter_7-2_357
{
position:absolute;
top:-19.5px;
left:80.67px;
letter-spacing:-1.69px;
}
.s_1_Chapter_7-2_358
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.95px;
}
.s_1_Chapter_7-2_359
{
position:absolute;
top:-19.5px;
left:391.04px;
letter-spacing:-0.88px;
}
.s_1_Chapter_7-2_360
{
position:absolute;
top:-19.5px;
left:1366.02px;
}
.s_1_Chapter_7-2_361
{
position:absolute;
top:-19.5px;
left:2126.25px;
letter-spacing:-1.66px;
}
.s_1_Chapter_7-2_362
{
position:absolute;
top:-19.5px;
left:2755.18px;
letter-spacing:-1px;
}
.s_1_Chapter_7-2_363
{
position:absolute;
top:-19.5px;
left:3396.33px;
}
.s_1_Chapter_7-2_364
{
position:absolute;
top:-19.5px;
left:3756.94px;
}
.s_1_Chapter_7-2_365
{
position:absolute;
top:-19.5px;
left:4765.47px;
letter-spacing:-1.3px;
}
.s_1_Chapter_7-2_366
{
position:absolute;
top:-19.5px;
left:5419.61px;
letter-spacing:0px;
}
.s_1_Chapter_7-2_367
{
position:absolute;
top:-19.5px;
left:5855.88px;
}
.s_1_Chapter_7-2_368
{
position:absolute;
top:380.5px;
left:0px;
letter-spacing:-0.26px;
}
.s_1_Chapter_7-2_369
{
position:absolute;
top:380.5px;
left:1480.68px;
letter-spacing:-1.75px;
}
.s_1_Chapter_7-2_370
{
position:absolute;
top:380.5px;
left:1935.15px;
letter-spacing:-0.9px;
}
.s_1_Chapter_7-2_371
{
position:absolute;
top:380.5px;
left:3303px;
}
.s_1_Chapter_7-2_372
{
position:absolute;
top:380.5px;
left:3638.91px;
}
.s_1_Chapter_7-2_373
{
position:absolute;
top:380.5px;
left:4089.49px;
letter-spacing:-0.4px;
}
.s_1_Chapter_7-2_374
{
position:absolute;
top:380.5px;
left:5432.88px;
letter-spacing:-2.68px;
}
.s_1_Chapter_7-2_375
{
position:absolute;
top:380.5px;
left:5731.88px;
letter-spacing:-0.39px;
}
.s_1_Chapter_7-2_376
{
position:absolute;
top:780.5px;
left:0px;
}
.s_1_Chapter_7-2_377
{
position:absolute;
top:780.5px;
left:1053.5px;
}
.s_1_Chapter_7-2_378
{
position:absolute;
top:780.5px;
left:1874.83px;
}
.s_1_Chapter_7-2_379
{
position:absolute;
top:-19.5px;
left:42.71px;
}
.s_1_Chapter_7-2_380
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-1.09px;
}
.s_1_Chapter_7-2_381
{
position:absolute;
top:-19.5px;
left:1400.34px;
}
.s_1_Chapter_7-2_382
{
position:absolute;
top:-19.5px;
left:1740.67px;
letter-spacing:-0.91px;
}
.s_1_Chapter_7-2_383
{
position:absolute;
top:-19.5px;
left:2934.84px;
}
.s_1_Chapter_7-2_384
{
position:absolute;
top:-19.5px;
left:3946.74px;
}
.s_1_Chapter_7-2_385
{
position:absolute;
top:-19.5px;
left:4614.15px;
}
.s_1_Chapter_7-2_386
{
position:absolute;
top:-19.5px;
left:5110.74px;
letter-spacing:-0.19px;
}
.s_1_Chapter_7-2_387
{
position:absolute;
top:380.5px;
left:0px;
letter-spacing:-0.69px;
}
.s_1_Chapter_7-2_388
{
position:absolute;
top:380.5px;
left:1321.3px;
}
.s_1_Chapter_7-2_389
{
position:absolute;
top:380.5px;
left:1832.45px;
}
.s_1_Chapter_7-2_390
{
position:absolute;
top:380.5px;
left:2440.57px;
}
.s_1_Chapter_7-2_391
{
position:absolute;
top:380.5px;
left:2697.45px;
letter-spacing:-0.52px;
}
.s_1_Chapter_7-2_392
{
position:absolute;
top:380.5px;
left:3541.92px;
letter-spacing:-2.6px;
}
.s_1_Chapter_7-2_393
{
position:absolute;
top:380.5px;
left:3943.61px;
}
.s_1_Chapter_7-2_394
{
position:absolute;
top:380.5px;
left:4896.5px;
letter-spacing:-1.65px;
}
.s_1_Chapter_7-2_395
{
position:absolute;
top:380.5px;
left:5577.17px;
letter-spacing:0px;
}
.s_1_Chapter_7-2_396
{
position:absolute;
top:380.5px;
left:6199.08px;
}
.s_1_Chapter_7-2_397
{
position:absolute;
top:780.5px;
left:0px;
letter-spacing:-0.74px;
}
.s_1_Chapter_7-2_398
{
position:absolute;
top:780.5px;
left:897.51px;
}
.s_1_Chapter_7-2_399
{
position:absolute;
top:780.5px;
left:1401.9px;
letter-spacing:-0.39px;
}
.s_1_Chapter_7-2_400
{
position:absolute;
top:780.5px;
left:2024.6px;
}
.s_1_Chapter_7-2_401
{
position:absolute;
top:780.5px;
left:2156.41px;
}
.s_1_Chapter_7-2_402
{
position:absolute;
top:-19.5px;
left:42.97px;
letter-spacing:-1.3px;
}
.s_1_Chapter_7-2_403
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.39px;
}
.s_1_Chapter_7-2_404
{
position:absolute;
top:-19.5px;
left:503.62px;
}
.s_1_Chapter_7-2_405
{
position:absolute;
top:-19.5px;
left:1202.48px;
}
.s_1_Chapter_7-2_406
{
position:absolute;
top:-19.5px;
left:1656.69px;
letter-spacing:-2.52px;
}
.s_1_Chapter_7-2_407
{
position:absolute;
top:-19.5px;
left:2489.73px;
letter-spacing:-2.6px;
}
.s_1_Chapter_7-2_408
{
position:absolute;
top:-19.5px;
left:2890.12px;
}
.s_1_Chapter_7-2_409
{
position:absolute;
top:-19.5px;
left:3875.76px;
}
.s_1_Chapter_7-2_410
{
position:absolute;
top:-19.5px;
left:4329.97px;
}
.s_1_Chapter_7-2_411
{
position:absolute;
top:-19.5px;
left:4994.52px;
letter-spacing:-1.1px;
}
.s_1_Chapter_7-2_412
{
position:absolute;
top:-19.5px;
left:6206.89px;
letter-spacing:-3.38px;
}
.s_1_Chapter_7-2_413
{
position:absolute;
top:-19.5px;
left:6557.37px;
letter-spacing:-3.25px;
}
.s_1_Chapter_7-2_414
{
position:absolute;
top:380.5px;
left:0px;
letter-spacing:-0.63px;
}
.s_1_Chapter_7-2_415
{
position:absolute;
top:380.5px;
left:873.59px;
}
.s_1_Chapter_7-2_416
{
position:absolute;
top:380.5px;
left:1564.65px;
}
.s_1_Chapter_7-2_417
{
position:absolute;
top:380.5px;
left:1841.28px;
}
.s_1_Chapter_7-2_418
{
position:absolute;
top:380.5px;
left:2351.14px;
letter-spacing:-0.22px;
}
.s_1_Chapter_7-2_419
{
position:absolute;
top:380.5px;
left:3077.56px;
letter-spacing:-0.39px;
}
.s_1_Chapter_7-2_420
{
position:absolute;
top:380.5px;
left:3576.76px;
}
.s_1_Chapter_7-2_421
{
position:absolute;
top:380.5px;
left:4167.72px;
}
.s_1_Chapter_7-2_422
{
position:absolute;
top:380.5px;
left:4902.22px;
}
.s_1_Chapter_7-2_423
{
position:absolute;
top:380.5px;
left:5287.01px;
letter-spacing:-1.1px;
}
.s_1_Chapter_7-2_424
{
position:absolute;
top:380.5px;
left:6499.38px;
}
.s_1_Chapter_7-2_425
{
position:absolute;
top:780.5px;
left:0px;
}
.s_1_Chapter_7-2_426
{
position:absolute;
top:780.5px;
left:622.94px;
}
.s_1_Chapter_7-2_427
{
position:absolute;
top:-19.5px;
left:40.76px;
letter-spacing:-2.08px;
}
.s_1_Chapter_7-2_428
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.56px;
}
.s_1_Chapter_7-2_429
{
position:absolute;
top:-19.5px;
left:1047.01px;
}
.s_1_Chapter_7-2_430
{
position:absolute;
top:-19.5px;
left:1959.86px;
letter-spacing:-1.47px;
}
.s_1_Chapter_7-2_431
{
position:absolute;
top:-19.5px;
left:3841.99px;
letter-spacing:-0.93px;
}
.s_1_Chapter_7-2_432
{
position:absolute;
top:-19.5px;
left:4711.68px;
letter-spacing:-1.71px;
}
.s_1_Chapter_7-2_433
{
position:absolute;
top:-19.5px;
left:5900.92px;
letter-spacing:-0.89px;
}
.s_1_Chapter_7-2_434
{
position:absolute;
top:-19.5px;
left:6819.75px;
letter-spacing:-0.97px;
}
.s_1_Chapter_7-2_435
{
position:absolute;
top:-19.5px;
left:7308.8px;
letter-spacing:-0.49px;
}

.page28_position1 {
	position:absolute;
	top: 144px;
	left: 414px;
	/*border: 1px solid red;*/
}
.page28_position2 {
	position:absolute;
	top: 221px;
	left: 442px;
	/*border: 1px solid red;*/
}
.page28_position3 {
	position:absolute;
	top: 296px;
	left: 414px;
	/*border: 1px solid red;*/
}
.page28_position4 {
	position:absolute;
	top: 376px;
	left: 506px;
	/*border: 1px solid red;*/
}
.page28_position5 {
	position:absolute;
	top: 455px;
	left: 409px;
	/*border: 1px solid red;*/
}
.page28_position6 {
	position:absolute;
	top: 537px;
	left: 461px;
	/*border: 1px solid red;*/
}
.page28_btn1 {
	position:absolute;
	top: 805px;
	left: 332px;
}
.page28_btn2 {
	position:absolute;
	top: 805px;
	left: 275px;
}


.page29_btn1 {
	position:absolute;
	top: 309px;
	left: 490px;
}
.page29_btn2 {
	position:absolute;
	top: 801px;
	left: 230px;
}

#text1 {
	position:absolute;
	top: 294px;
	left: 300px;
}
#text2 {
	position:absolute;
	top: 295px;
	left: 351px;
}
#text3 {
	position:absolute;
	top: 294px;
	left: 231px;
}
#text4 {
	position:absolute;
	top: 313px;
	left: 306px;
}
#text5 {
	position:absolute;
	top: 313px;
	left: 231px;
}
#text6 {
	position:absolute;
	top: 771px;
	left: 267px;
}
#text7 {
	position:absolute;
	top: 771px;
	left: 370px;
}
#text8 {
	position:absolute;
	top: 771px;
	left: 75px;
}
#text9 {
	position:absolute;
	top: 771px;
	left: 127px;
}
#box1 {
	position:absolute;
	top: 89px;
	left: 225px;
	width: 87px;
}
#box2 {
	position:absolute;
	top: 129px;
	left: 114px;
	width: 90px;
}
#box3 {
	position:absolute;
	top: 189px;
	left: 123px;
	width: 87px;
}
#box4 {
	position:absolute;
	top: 209px;
	left: 92px;
	width: 88px;
}
#box5 {
	position:absolute;
	top: 229px;
	left: 92px;
	width: 88px;
}
#box6 {
	position:absolute;
	top: 435px;
	left: 86px;
	width: 129px;
}
#box7 {
	position:absolute;
	top: 517px;
	left: 248px;
	width: 142px;
}
#box8 {
	position:absolute;
	top: 617px;
	left: 115px;
	width: 129px;
}
#box9 {
	position:absolute;
	top: 708px;
	left: 268px;
	width: 130px;
}
.p29_input_text1 {
	display: none;
	text-align: center;
	font-family: "Cabrito_Sans_Norm_Book";
	font-size: 13px;
	margin-top: 1px;
	line-height: 16px;
}
.p29_input_text2 {
	display: none;
	text-align: center;
	font-family: "Cabrito_Sans_Norm_Book";
	font-size: 13px;
	margin-top: 1px;
	line-height: 16px;
}
