.d_1_Chapter_7-1_1
{position:absolute;overflow:hidden;left: -297.36px;top:0px;transform:translate(595.28px,0.00px);-webkit-transform:translate(595.28px,0.00px);-ms-transform:translate(595.28px,0.00px);-o-transform:translate(595.28px,0.00px);-moz-transform:translate(595.28px,0.00px);width:595.28px;height:841.89px;}
.d_1_Chapter_7-1_2
{
width:560.18px;
height:401.47px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_7-1_3
{
width:8108.1px;
height:997.12px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_7-1_4
{
width:6380.57px;
height:320px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_7-1_5
{
width:5028.66px;
height:998.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_7-1_6
{
width:4251.97px;
height:598.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_7-1_7
{
width:4507.09px;
height:998.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_7-1_8
{
width:4251.97px;
height:598.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_7-1_9
{
width:5512.03px;
height:1097.11px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_7-1_10
{
width:4365.35px;
height:1077.06px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_7-1_11
{
width:827.83px;
height:198.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_7-1_12
{
width:2330.47px;
height:379.14px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.s_1_Chapter_7-1_13
{
position:absolute;
top:41.44px;
left:134.15px;
}
.s_1_Chapter_7-1_14
{
position:absolute;
top:-26.96px;
left:0px;
letter-spacing:18.33px;
transform-origin: 0% 759.55px;
-webkit-transform-origin: 0% 759.55px;
-ms-transform-origin: 0% 759.55px;
-o-transform-origin: 0% 759.55px;
-moz-transform-origin: 0% 759.55px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Chapter_7-1_15
{
position:absolute;
top:-26.96px;
left:926.24px;
letter-spacing:24.75px;
transform-origin: 0% 759.55px;
-webkit-transform-origin: 0% 759.55px;
-ms-transform-origin: 0% 759.55px;
-o-transform-origin: 0% 759.55px;
-moz-transform-origin: 0% 759.55px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Chapter_7-1_16
{
position:absolute;
top:-26.96px;
left:4657.9px;
letter-spacing:22.92px;
transform-origin: 0% 759.55px;
-webkit-transform-origin: 0% 759.55px;
-ms-transform-origin: 0% 759.55px;
-o-transform-origin: 0% 759.55px;
-moz-transform-origin: 0% 759.55px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Chapter_7-1_17
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-1.73px;
}
.s_1_Chapter_7-1_18
{
position:absolute;
top:-19.5px;
left:584.73px;
letter-spacing:-0.58px;
}
.s_1_Chapter_7-1_19
{
position:absolute;
top:-19.5px;
left:1474.44px;
letter-spacing:-0.74px;
}
.s_1_Chapter_7-1_20
{
position:absolute;
top:-19.5px;
left:0px;
}
.s_1_Chapter_7-1_21
{
position:absolute;
top:-19.5px;
left:732.93px;
letter-spacing:-2.68px;
}
.s_1_Chapter_7-1_22
{
position:absolute;
top:-19.5px;
left:1032.45px;
}
.s_1_Chapter_7-1_23
{
position:absolute;
top:-19.5px;
left:1486.66px;
}
.s_1_Chapter_7-1_24
{
position:absolute;
top:-19.5px;
left:2767.67px;
letter-spacing:-1.3px;
}
.s_1_Chapter_7-1_25
{
position:absolute;
top:-19.5px;
left:3673.75px;
}
.s_1_Chapter_7-1_26
{
position:absolute;
top:-19.5px;
left:3950.39px;
letter-spacing:-1.6px;
}
.s_1_Chapter_7-1_27
{
position:absolute;
top:380.5px;
left:0px;
}
.s_1_Chapter_7-1_28
{
position:absolute;
top:380.5px;
left:973.69px;
letter-spacing:-0.17px;
}
.s_1_Chapter_7-1_29
{
position:absolute;
top:380.5px;
left:1940.09px;
letter-spacing:-0.17px;
}
.s_1_Chapter_7-1_30
{
position:absolute;
top:380.5px;
left:2989.96px;
letter-spacing:-0.22px;
}
.s_1_Chapter_7-1_31
{
position:absolute;
top:380.5px;
left:3824.29px;
letter-spacing:-0.23px;
}
.s_1_Chapter_7-1_32
{
position:absolute;
top:780.5px;
left:0px;
letter-spacing:-0.19px;
}
.s_1_Chapter_7-1_33
{
position:absolute;
top:780.5px;
left:1082.63px;
letter-spacing:-0.32px;
}
.s_1_Chapter_7-1_34
{
position:absolute;
top:780.5px;
left:2019.14px;
letter-spacing:-0.43px;
}
.s_1_Chapter_7-1_35
{
position:absolute;
top:780.5px;
left:3504.24px;
}
.s_1_Chapter_7-1_36
{
position:absolute;
top:780.5px;
left:4015.39px;
letter-spacing:-2.53px;
}
.s_1_Chapter_7-1_37
{
position:absolute;
top:-19.5px;
left:264.67px;
letter-spacing:-0.69px;
}
.s_1_Chapter_7-1_38
{
position:absolute;
top:-19.5px;
left:497.37px;
}
.s_1_Chapter_7-1_39
{
position:absolute;
top:-19.5px;
left:754.24px;
}
.s_1_Chapter_7-1_40
{
position:absolute;
top:-19.5px;
left:1633.81px;
letter-spacing:-1px;
}
.s_1_Chapter_7-1_41
{
position:absolute;
top:-19.5px;
left:2274.96px;
letter-spacing:-3.25px;
}
.s_1_Chapter_7-1_42
{
position:absolute;
top:-19.5px;
left:2482.43px;
letter-spacing:-0.22px;
}
.s_1_Chapter_7-1_43
{
position:absolute;
top:380.5px;
left:736.82px;
letter-spacing:-1.52px;
}
.s_1_Chapter_7-1_44
{
position:absolute;
top:380.5px;
left:1506.16px;
letter-spacing:-0.29px;
}
.s_1_Chapter_7-1_45
{
position:absolute;
top:380.5px;
left:2626.74px;
letter-spacing:-1.6px;
}
.s_1_Chapter_7-1_46
{
position:absolute;
top:-19.5px;
left:305.01px;
letter-spacing:-0.69px;
}
.s_1_Chapter_7-1_47
{
position:absolute;
top:-19.5px;
left:537.7px;
}
.s_1_Chapter_7-1_48
{
position:absolute;
top:-19.5px;
left:794.58px;
letter-spacing:-1.65px;
}
.s_1_Chapter_7-1_49
{
position:absolute;
top:-19.5px;
left:1947.14px;
}
.s_1_Chapter_7-1_50
{
position:absolute;
top:-19.5px;
left:2308.79px;
}
.s_1_Chapter_7-1_51
{
position:absolute;
top:-19.5px;
left:2763px;
}
.s_1_Chapter_7-1_52
{
position:absolute;
top:-19.5px;
left:3472.53px;
letter-spacing:-3.38px;
}
.s_1_Chapter_7-1_53
{
position:absolute;
top:-19.5px;
left:3818.58px;
}
.s_1_Chapter_7-1_54
{
position:absolute;
top:380.5px;
left:111.83px;
letter-spacing:-1px;
}
.s_1_Chapter_7-1_55
{
position:absolute;
top:380.5px;
left:858.79px;
letter-spacing:-0.48px;
}
.s_1_Chapter_7-1_56
{
position:absolute;
top:380.5px;
left:1701.45px;
}
.s_1_Chapter_7-1_57
{
position:absolute;
top:380.5px;
left:2212.6px;
}
.s_1_Chapter_7-1_58
{
position:absolute;
top:380.5px;
left:2574.25px;
}
.s_1_Chapter_7-1_59
{
position:absolute;
top:380.5px;
left:3023.52px;
letter-spacing:-0.62px;
}
.s_1_Chapter_7-1_60
{
position:absolute;
top:380.5px;
left:3665.71px;
letter-spacing:-3.38px;
}
.s_1_Chapter_7-1_61
{
position:absolute;
top:380.5px;
left:4011.77px;
}
.s_1_Chapter_7-1_62
{
position:absolute;
top:780.5px;
left:1361.5px;
letter-spacing:-1.1px;
}
.s_1_Chapter_7-1_63
{
position:absolute;
top:780.5px;
left:2312.56px;
letter-spacing:-0.48px;
}
.s_1_Chapter_7-1_64
{
position:absolute;
top:-19.5px;
left:193.56px;
letter-spacing:-1.6px;
}
.s_1_Chapter_7-1_65
{
position:absolute;
top:-19.5px;
left:1092.11px;
letter-spacing:-0.32px;
}
.s_1_Chapter_7-1_66
{
position:absolute;
top:-19.5px;
left:2200.73px;
text-rendering:optimizeLegibility;
letter-spacing:-0.11px;
}
.s_1_Chapter_7-1_67
{
position:absolute;
top:-19.5px;
left:3825.19px;
letter-spacing:-2.68px;
}
.s_1_Chapter_7-1_68
{
position:absolute;
top:380.5px;
left:557.3px;
}
.s_1_Chapter_7-1_69
{
position:absolute;
top:380.5px;
left:1006.57px;
letter-spacing:-1.33px;
}
.s_1_Chapter_7-1_70
{
position:absolute;
top:380.5px;
left:1927.74px;
letter-spacing:-0.39px;
}
.s_1_Chapter_7-1_71
{
position:absolute;
top:380.5px;
left:2535.6px;
}
.s_1_Chapter_7-1_72
{
position:absolute;
top:380.5px;
left:3106.56px;
letter-spacing:-1.4px;
}
.s_1_Chapter_7-1_73
{
position:absolute;
top:-19.5px;
left:546.05px;
letter-spacing:-1.6px;
}
.s_1_Chapter_7-1_74
{
position:absolute;
top:-19.5px;
left:1444.6px;
}
.s_1_Chapter_7-1_75
{
position:absolute;
top:-19.5px;
left:1697.05px;
}
.s_1_Chapter_7-1_76
{
position:absolute;
top:-19.5px;
left:2146.32px;
letter-spacing:-1.33px;
}
.s_1_Chapter_7-1_77
{
position:absolute;
top:-19.5px;
left:3071.9px;
letter-spacing:-0.41px;
}
.s_1_Chapter_7-1_78
{
position:absolute;
top:-19.5px;
left:3988.39px;
}
.s_1_Chapter_7-1_79
{
position:absolute;
top:380.5px;
left:71.69px;
letter-spacing:-0.6px;
}
.s_1_Chapter_7-1_80
{
position:absolute;
top:380.5px;
left:1246.88px;
}
.s_1_Chapter_7-1_81
{
position:absolute;
top:380.5px;
left:1758.03px;
}
.s_1_Chapter_7-1_82
{
position:absolute;
top:380.5px;
left:2240.06px;
}
.s_1_Chapter_7-1_83
{
position:absolute;
top:380.5px;
left:2689.85px;
letter-spacing:-1.3px;
}
.s_1_Chapter_7-1_84
{
position:absolute;
top:380.5px;
left:3307.08px;
letter-spacing:-0.97px;
}
.s_1_Chapter_7-1_85
{
position:absolute;
top:380.5px;
left:4191.06px;
}
.s_1_Chapter_7-1_86
{
position:absolute;
top:780.5px;
left:804.62px;
}
.s_1_Chapter_7-1_87
{
position:absolute;
top:780.5px;
left:1076.84px;
}
.s_1_Chapter_7-1_88
{
position:absolute;
top:780.5px;
left:1526.11px;
letter-spacing:-0.52px;
}
.s_1_Chapter_7-1_89
{
position:absolute;
top:780.5px;
left:2268.4px;
letter-spacing:-1px;
}
.s_1_Chapter_7-1_90
{
position:absolute;
top:780.5px;
left:2901.74px;
letter-spacing:-1.3px;
}
.s_1_Chapter_7-1_91
{
position:absolute;
top:780.5px;
left:3457.35px;
}
.s_1_Chapter_7-1_92
{
position:absolute;
top:780.5px;
left:3960.71px;
letter-spacing:-0.91px;
}
.s_1_Chapter_7-1_93
{
position:absolute;
top:-19.5px;
left:462.42px;
letter-spacing:-0.69px;
}
.s_1_Chapter_7-1_94
{
position:absolute;
top:-19.5px;
left:695.11px;
}
.s_1_Chapter_7-1_95
{
position:absolute;
top:-19.5px;
left:951.99px;
}
.s_1_Chapter_7-1_96
{
position:absolute;
top:-19.5px;
left:1682.06px;
}
.s_1_Chapter_7-1_97
{
position:absolute;
top:-19.5px;
left:1995.61px;
letter-spacing:-0.47px;
}
.s_1_Chapter_7-1_98
{
position:absolute;
top:-19.5px;
left:2598.8px;
}
.s_1_Chapter_7-1_99
{
position:absolute;
top:-19.5px;
left:3048.07px;
letter-spacing:-1.33px;
}
.s_1_Chapter_7-1_100
{
position:absolute;
top:380.5px;
left:169.66px;
}
.s_1_Chapter_7-1_101
{
position:absolute;
top:380.5px;
left:1217.96px;
letter-spacing:-1.73px;
}
.s_1_Chapter_7-1_102
{
position:absolute;
top:380.5px;
left:2239.75px;
letter-spacing:-1.69px;
}
.s_1_Chapter_7-1_103
{
position:absolute;
top:380.5px;
left:3172.36px;
letter-spacing:-1.86px;
}
.s_1_Chapter_7-1_104
{
position:absolute;
top:380.5px;
left:3755.26px;
}
.s_1_Chapter_7-1_105
{
position:absolute;
top:780.5px;
left:585.53px;
}
.s_1_Chapter_7-1_106
{
position:absolute;
top:780.5px;
left:1039.74px;
letter-spacing:-0.97px;
}
.s_1_Chapter_7-1_107
{
position:absolute;
top:780.5px;
left:1923.72px;
letter-spacing:-1.73px;
}
.s_1_Chapter_7-1_108
{
position:absolute;
top:780.5px;
left:2953.56px;
letter-spacing:-0.22px;
}
.s_1_Chapter_7-1_109
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-1.86px;
}
.s_1_Chapter_7-1_110
{
position:absolute;
top:-19.5px;
left:157.88px;
letter-spacing:-0.88px;
}
.s_1_Chapter_7-1_111
{
position:absolute;
top:-19.5px;
left:752.23px;
letter-spacing:-2.68px;
}
.s_1_Chapter_7-1_112
{
position:absolute;
top:-19.5px;
left:1051.75px;
}
.s_1_Chapter_7-1_113
{
position:absolute;
top:-19.5px;
left:1501.02px;
letter-spacing:-0.62px;
}
.position_27 {
	position:absolute;
	top: 122px;
	left: 15px;
}
