.d_1_Test_Papers-1_1
{position:absolute;overflow:hidden;left: 0px;top:0px;transform:translate(612px,0.00px);-webkit-transform:translate(612px,0.00px);-ms-transform:translate(612px,0.00px);-o-transform:translate(612px,0.00px);-moz-transform:translate(612px,0.00px);width:595.28px;height:841.89px;}
.d_1_Test_Papers-1_2
{
width:560.18px;
height:401.47px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,1.09px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,1.09px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,1.09px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,1.09px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,1.09px) rotate(0deg) scale(0.05);
}
.d_1_Test_Papers-1_3
{
width:9839.66px;
height:229.5px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
}
.d_1_Test_Papers-1_4
{
width:9839.66px;
height:2120.97px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Test_Papers-1_5
{
width:5221.9px;
height:685.31px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,10.21px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,10.21px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,10.21px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,10.21px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,10.21px) rotate(0deg) scale(0.05);
}
.d_1_Test_Papers-1_6
{
width:3320.07px;
height:399.59px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,6.35px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,6.35px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,6.35px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,6.35px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,6.35px) rotate(0deg) scale(0.05);
}
.d_1_Test_Papers-1_7
{
width:9839.66px;
height:229.5px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
}
.d_1_Test_Papers-1_8
{
width:9852.64px;
height:229.5px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
}
.d_1_Test_Papers-1_9
{
width:4069.96px;
height:3810.8px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Test_Papers-1_10
{
width:9852.64px;
height:229.5px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
}
.d_1_Test_Papers-1_11
{
width:9888px;
height:1843.45px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Test_Papers-1_12
{
width:307.87px;
height:230.47px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Test_Papers-1_13
{
width:307.87px;
height:230.47px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Test_Papers-1_14
{
width:307.87px;
height:230.47px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.63px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.63px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.63px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.63px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.63px) rotate(0deg) scale(0.05);
}
.d_1_Test_Papers-1_15
{
width:307.87px;
height:230.47px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Test_Papers-1_16
{
width:5102.36px;
height:3628.35px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,1px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,1px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,1px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,1px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,1px) rotate(0deg) scale(0.05);
}
.s_1_Test_Papers-1_17
{
position:absolute;
top:54.33px;
left:112.74px;
}
.s_1_Test_Papers-1_18
{
position:absolute;
top:-19.5px;
left:0px;
}
.s_1_Test_Papers-1_19
{
position:absolute;
top:-19.5px;
left:453.54px;
letter-spacing:-0.69px;
}
.s_1_Test_Papers-1_20
{
position:absolute;
top:-19.5px;
left:1101.2px;
letter-spacing:-0.68px;
}
.s_1_Test_Papers-1_21
{
position:absolute;
top:-19.5px;
left:2088.93px;
}
.s_1_Test_Papers-1_22
{
position:absolute;
top:-19.5px;
left:2510.65px;
letter-spacing:-0.49px;
}
.s_1_Test_Papers-1_23
{
position:absolute;
top:-19.5px;
left:3596.91px;
letter-spacing:-0.12px;
}
.s_1_Test_Papers-1_24
{
position:absolute;
top:-19.5px;
left:4927.32px;
letter-spacing:-0.78px;
}
.s_1_Test_Papers-1_25
{
position:absolute;
top:-19.5px;
left:5347.99px;
letter-spacing:0px;
}
.s_1_Test_Papers-1_26
{
position:absolute;
top:-19.5px;
left:5873.97px;
letter-spacing:-1.82px;
}
.s_1_Test_Papers-1_27
{
position:absolute;
top:-19.5px;
left:6165.42px;
letter-spacing:-0.22px;
}
.s_1_Test_Papers-1_28
{
position:absolute;
top:-19.5px;
left:8721.68px;
letter-spacing:0px;
}
.s_1_Test_Papers-1_29
{
position:absolute;
top:-19.5px;
left:8991.82px;
letter-spacing:0px;
}
.s_1_Test_Papers-1_30
{
position:absolute;
top:-19.5px;
left:9171.47px;
letter-spacing:0px;
}
.s_1_Test_Papers-1_31
{
position:absolute;
top:-19.5px;
left:9364.13px;
}
.s_1_Test_Papers-1_32
{
position:absolute;
top:-19.5px;
left:9540.14px;
}
.s_1_Test_Papers-1_33
{
position:absolute;
top:-19.5px;
left:1020.47px;
letter-spacing:-2.3px;
}
.s_1_Test_Papers-1_34
{
position:absolute;
top:-19.5px;
left:1877.43px;
letter-spacing:-0.71px;
}
.s_1_Test_Papers-1_35
{
position:absolute;
top:-19.5px;
left:2421.34px;
}
.s_1_Test_Papers-1_36
{
position:absolute;
top:-19.5px;
left:2871.91px;
text-rendering:optimizeLegibility;
letter-spacing:-0.26px;
}
.s_1_Test_Papers-1_37
{
position:absolute;
top:-19.5px;
left:3411.14px;
letter-spacing:-1.33px;
}
.s_1_Test_Papers-1_38
{
position:absolute;
top:-19.5px;
left:4377.81px;
}
.s_1_Test_Papers-1_39
{
position:absolute;
top:-19.5px;
left:4691.36px;
}
.s_1_Test_Papers-1_40
{
position:absolute;
top:-19.5px;
left:5272.97px;
}
.s_1_Test_Papers-1_41
{
position:absolute;
top:-19.5px;
left:5727.18px;
letter-spacing:0px;
}
.s_1_Test_Papers-1_42
{
position:absolute;
top:-19.5px;
left:6716.46px;
letter-spacing:-0.16px;
}
.s_1_Test_Papers-1_43
{
position:absolute;
top:-19.5px;
left:7949.36px;
}
.s_1_Test_Papers-1_44
{
position:absolute;
top:437.19px;
left:1020.47px;
letter-spacing:-0.22px;
}
.s_1_Test_Papers-1_45
{
position:absolute;
top:437.19px;
left:1961.92px;
}
.s_1_Test_Papers-1_46
{
position:absolute;
top:437.19px;
left:2528.45px;
}
.s_1_Test_Papers-1_47
{
position:absolute;
top:437.19px;
left:2785.32px;
letter-spacing:-0.22px;
}
.s_1_Test_Papers-1_48
{
position:absolute;
top:437.19px;
left:3558.54px;
}
.s_1_Test_Papers-1_49
{
position:absolute;
top:437.19px;
left:4114.15px;
}
.s_1_Test_Papers-1_50
{
position:absolute;
top:437.19px;
left:4625.31px;
letter-spacing:-1.04px;
}
.s_1_Test_Papers-1_51
{
position:absolute;
top:437.19px;
left:5290.9px;
}
.s_1_Test_Papers-1_52
{
position:absolute;
top:437.19px;
left:5652.55px;
}
.s_1_Test_Papers-1_53
{
position:absolute;
top:437.19px;
left:6106.76px;
letter-spacing:0px;
}
.s_1_Test_Papers-1_54
{
position:absolute;
top:437.19px;
left:7109.04px;
}
.s_1_Test_Papers-1_55
{
position:absolute;
top:893.88px;
left:1020.47px;
letter-spacing:-0.64px;
}
.s_1_Test_Papers-1_56
{
position:absolute;
top:893.88px;
left:2610.34px;
letter-spacing:-0.55px;
}
.s_1_Test_Papers-1_57
{
position:absolute;
top:893.88px;
left:3546.85px;
letter-spacing:-1.4px;
}
.s_1_Test_Papers-1_58
{
position:absolute;
top:893.88px;
left:4231.94px;
letter-spacing:-1px;
}
.s_1_Test_Papers-1_59
{
position:absolute;
top:893.88px;
left:4962.79px;
}
.s_1_Test_Papers-1_60
{
position:absolute;
top:893.88px;
left:5562.6px;
letter-spacing:0px;
}
.s_1_Test_Papers-1_61
{
position:absolute;
top:893.88px;
left:6417.99px;
}
.s_1_Test_Papers-1_62
{
position:absolute;
top:1350.58px;
left:1020.47px;
letter-spacing:-9.88px;
}
.s_1_Test_Papers-1_63
{
position:absolute;
top:1350.58px;
left:2040.18px;
letter-spacing:-0.71px;
}
.s_1_Test_Papers-1_64
{
position:absolute;
top:1350.58px;
left:2588.51px;
letter-spacing:-0.92px;
}
.s_1_Test_Papers-1_65
{
position:absolute;
top:1350.58px;
left:3668.02px;
letter-spacing:-3.38px;
}
.s_1_Test_Papers-1_66
{
position:absolute;
top:1350.58px;
left:4018.49px;
letter-spacing:-2.04px;
}
.s_1_Test_Papers-1_67
{
position:absolute;
top:1350.58px;
left:4728.8px;
letter-spacing:-0.61px;
}
.s_1_Test_Papers-1_68
{
position:absolute;
top:1350.58px;
left:5404.27px;
}
.s_1_Test_Papers-1_69
{
position:absolute;
top:1807.27px;
left:1020.47px;
}
.s_1_Test_Papers-1_70
{
position:absolute;
top:1807.27px;
left:2284.83px;
}
.s_1_Test_Papers-1_71
{
position:absolute;
top:1807.27px;
left:3081.98px;
}
.s_1_Test_Papers-1_72
{
position:absolute;
top:1807.27px;
left:3338.86px;
letter-spacing:-0.52px;
}
.s_1_Test_Papers-1_73
{
position:absolute;
top:1807.27px;
left:4186.97px;
}
.s_1_Test_Papers-1_74
{
position:absolute;
top:1807.27px;
left:4522.88px;
}
.s_1_Test_Papers-1_75
{
position:absolute;
top:1807.27px;
left:4977.09px;
letter-spacing:-0.59px;
}
.s_1_Test_Papers-1_76
{
position:absolute;
top:1807.27px;
left:5897.75px;
letter-spacing:-2.68px;
}
.s_1_Test_Papers-1_77
{
position:absolute;
top:1807.27px;
left:6201.68px;
letter-spacing:-3.41px;
}
.s_1_Test_Papers-1_78
{
position:absolute;
top:1807.27px;
left:7349.57px;
}
.s_1_Test_Papers-1_79
{
position:absolute;
top:-25px;
left:0px;
letter-spacing:20.4px;
transform-origin: 0% 704.31px;
-webkit-transform-origin: 0% 704.31px;
-ms-transform-origin: 0% 704.31px;
-o-transform-origin: 0% 704.31px;
-moz-transform-origin: 0% 704.31px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Test_Papers-1_80
{
position:absolute;
top:-25px;
left:1865.19px;
letter-spacing:21.25px;
transform-origin: 0% 704.31px;
-webkit-transform-origin: 0% 704.31px;
-ms-transform-origin: 0% 704.31px;
-o-transform-origin: 0% 704.31px;
-moz-transform-origin: 0% 704.31px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Test_Papers-1_81
{
position:absolute;
top:-25px;
left:4177.71px;
transform-origin: 0% 704.31px;
-webkit-transform-origin: 0% 704.31px;
-ms-transform-origin: 0% 704.31px;
-o-transform-origin: 0% 704.31px;
-moz-transform-origin: 0% 704.31px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Test_Papers-1_82
{
position:absolute;
top:-13.24px;
left:332.01px;
letter-spacing:11.25px;
transform-origin: 0% 372.87px;
-webkit-transform-origin: 0% 372.87px;
-ms-transform-origin: 0% 372.87px;
-o-transform-origin: 0% 372.87px;
-moz-transform-origin: 0% 372.87px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Test_Papers-1_83
{
position:absolute;
top:-13.24px;
left:1439.9px;
letter-spacing:11.57px;
transform-origin: 0% 372.87px;
-webkit-transform-origin: 0% 372.87px;
-ms-transform-origin: 0% 372.87px;
-o-transform-origin: 0% 372.87px;
-moz-transform-origin: 0% 372.87px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Test_Papers-1_84
{
position:absolute;
top:-13.24px;
left:2824.76px;
letter-spacing:6.75px;
transform-origin: 0% 372.87px;
-webkit-transform-origin: 0% 372.87px;
-ms-transform-origin: 0% 372.87px;
-o-transform-origin: 0% 372.87px;
-moz-transform-origin: 0% 372.87px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Test_Papers-1_85
{
position:absolute;
top:-19.5px;
left:0px;
}
.s_1_Test_Papers-1_86
{
position:absolute;
top:-19.5px;
left:453.54px;
letter-spacing:-0.36px;
}
.s_1_Test_Papers-1_87
{
position:absolute;
top:-19.5px;
left:1157.88px;
letter-spacing:0px;
}
.s_1_Test_Papers-1_88
{
position:absolute;
top:-19.5px;
left:1628.47px;
letter-spacing:-0.69px;
}
.s_1_Test_Papers-1_89
{
position:absolute;
top:-19.5px;
left:2538.98px;
letter-spacing:0px;
}
.s_1_Test_Papers-1_90
{
position:absolute;
top:-19.5px;
left:2960.69px;
letter-spacing:-0.45px;
}
.s_1_Test_Papers-1_91
{
position:absolute;
top:-19.5px;
left:8720.38px;
letter-spacing:-2.34px;
}
.s_1_Test_Papers-1_92
{
position:absolute;
top:-19.5px;
left:8991.55px;
letter-spacing:0px;
}
.s_1_Test_Papers-1_93
{
position:absolute;
top:-19.5px;
left:9171.21px;
}
.s_1_Test_Papers-1_94
{
position:absolute;
top:-19.5px;
left:9363.86px;
}
.s_1_Test_Papers-1_95
{
position:absolute;
top:-19.5px;
left:9539.88px;
}
.s_1_Test_Papers-1_96
{
position:absolute;
top:-19.5px;
left:0px;
}
.s_1_Test_Papers-1_97
{
position:absolute;
top:-19.5px;
left:453.54px;
letter-spacing:-0.36px;
}
.s_1_Test_Papers-1_98
{
position:absolute;
top:-19.5px;
left:1156.84px;
letter-spacing:0px;
}
.s_1_Test_Papers-1_99
{
position:absolute;
top:-19.5px;
left:1578.55px;
letter-spacing:-0.49px;
}
.s_1_Test_Papers-1_100
{
position:absolute;
top:-19.5px;
left:2664.82px;
}
.s_1_Test_Papers-1_101
{
position:absolute;
top:-19.5px;
left:3135.41px;
text-rendering:optimizeLegibility;
}
.s_1_Test_Papers-1_102
{
position:absolute;
top:-19.5px;
left:3614.32px;
}
.s_1_Test_Papers-1_103
{
position:absolute;
top:-19.5px;
left:4036.04px;
letter-spacing:-0.49px;
}
.s_1_Test_Papers-1_104
{
position:absolute;
top:-19.5px;
left:5031.56px;
}
.s_1_Test_Papers-1_105
{
position:absolute;
top:-19.5px;
left:5283.5px;
letter-spacing:0px;
}
.s_1_Test_Papers-1_106
{
position:absolute;
top:-19.5px;
left:5704.17px;
letter-spacing:-1.14px;
}
.s_1_Test_Papers-1_107
{
position:absolute;
top:-19.5px;
left:6335.96px;
letter-spacing:0px;
}
.s_1_Test_Papers-1_108
{
position:absolute;
top:-19.5px;
left:8734.67px;
letter-spacing:0px;
}
.s_1_Test_Papers-1_109
{
position:absolute;
top:-19.5px;
left:9004.8px;
letter-spacing:0px;
}
.s_1_Test_Papers-1_110
{
position:absolute;
top:-19.5px;
left:9184.45px;
letter-spacing:0px;
}
.s_1_Test_Papers-1_111
{
position:absolute;
top:-19.5px;
left:9377.11px;
}
.s_1_Test_Papers-1_112
{
position:absolute;
top:-19.5px;
left:9553.13px;
}
.s_1_Test_Papers-1_113
{
position:absolute;
top:-19.5px;
left:1020.47px;
letter-spacing:-1.73px;
}
.s_1_Test_Papers-1_114
{
position:absolute;
top:-19.5px;
left:1604.68px;
letter-spacing:-2.68px;
}
.s_1_Test_Papers-1_115
{
position:absolute;
top:-19.5px;
left:1908.62px;
letter-spacing:-2.25px;
}
.s_1_Test_Papers-1_116
{
position:absolute;
top:417.19px;
left:1020.47px;
letter-spacing:-3.9px;
}
.s_1_Test_Papers-1_117
{
position:absolute;
top:417.19px;
left:1241.73px;
text-rendering:optimizeLegibility;
letter-spacing:-1.75px;
}
.s_1_Test_Papers-1_118
{
position:absolute;
top:417.19px;
left:2059.42px;
}
.s_1_Test_Papers-1_119
{
position:absolute;
top:417.19px;
left:2606.7px;
}
.s_1_Test_Papers-1_120
{
position:absolute;
top:417.19px;
left:3304.27px;
}
.s_1_Test_Papers-1_121
{
position:absolute;
top:797.19px;
left:1020.47px;
letter-spacing:-1.09px;
}
.s_1_Test_Papers-1_122
{
position:absolute;
top:797.19px;
left:2080.48px;
letter-spacing:-1.17px;
}
.s_1_Test_Papers-1_123
{
position:absolute;
top:1233.88px;
left:1020.47px;
letter-spacing:-0.97px;
}
.s_1_Test_Papers-1_124
{
position:absolute;
top:1233.88px;
left:2011.58px;
}
.s_1_Test_Papers-1_125
{
position:absolute;
top:1233.88px;
left:2582.53px;
}
.s_1_Test_Papers-1_126
{
position:absolute;
top:1670.58px;
left:1020.47px;
letter-spacing:-0.65px;
}
.s_1_Test_Papers-1_127
{
position:absolute;
top:1670.58px;
left:1706.08px;
}
.s_1_Test_Papers-1_128
{
position:absolute;
top:1670.58px;
left:2553.67px;
letter-spacing:-2.68px;
}
.s_1_Test_Papers-1_129
{
position:absolute;
top:1670.58px;
left:2857.61px;
}
.s_1_Test_Papers-1_130
{
position:absolute;
top:2107.27px;
left:1020.47px;
}
.s_1_Test_Papers-1_131
{
position:absolute;
top:2107.27px;
left:1729.48px;
letter-spacing:-2.68px;
}
.s_1_Test_Papers-1_132
{
position:absolute;
top:2107.27px;
left:2033.42px;
letter-spacing:-1.4px;
}
.s_1_Test_Papers-1_133
{
position:absolute;
top:2107.27px;
left:2542.75px;
}
.s_1_Test_Papers-1_134
{
position:absolute;
top:2107.27px;
left:3053.9px;
letter-spacing:-2.86px;
}
.s_1_Test_Papers-1_135
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-1.73px;
}
.s_1_Test_Papers-1_136
{
position:absolute;
top:-19.5px;
left:453.54px;
}
.s_1_Test_Papers-1_137
{
position:absolute;
top:-19.5px;
left:820.65px;
}
.s_1_Test_Papers-1_138
{
position:absolute;
top:-19.5px;
left:1072.59px;
letter-spacing:0px;
}
.s_1_Test_Papers-1_139
{
position:absolute;
top:-19.5px;
left:1494.3px;
}
.s_1_Test_Papers-1_140
{
position:absolute;
top:-19.5px;
left:2397.52px;
letter-spacing:0px;
}
.s_1_Test_Papers-1_141
{
position:absolute;
top:-19.5px;
left:3190.77px;
}
.s_1_Test_Papers-1_142
{
position:absolute;
top:-19.5px;
left:3482.22px;
letter-spacing:-1.34px;
}
.s_1_Test_Papers-1_143
{
position:absolute;
top:-19.5px;
left:4352.44px;
}
.s_1_Test_Papers-1_144
{
position:absolute;
top:-19.5px;
left:4774.15px;
letter-spacing:-0.45px;
}
.s_1_Test_Papers-1_145
{
position:absolute;
top:-19.5px;
left:8809.28px;
letter-spacing:-2.34px;
}
.s_1_Test_Papers-1_146
{
position:absolute;
top:-19.5px;
left:9080.46px;
letter-spacing:0px;
}
.s_1_Test_Papers-1_147
{
position:absolute;
top:-19.5px;
left:9260.11px;
}
.s_1_Test_Papers-1_148
{
position:absolute;
top:-19.5px;
left:9448.35px;
}
.s_1_Test_Papers-1_149
{
position:absolute;
top:-19.5px;
left:9624.36px;
letter-spacing:-2.47px;
}
.s_1_Test_Papers-1_150
{
position:absolute;
top:-19.5px;
left:1020.47px;
}
.s_1_Test_Papers-1_151
{
position:absolute;
top:-19.5px;
left:1990.78px;
letter-spacing:-0.17px;
}
.s_1_Test_Papers-1_152
{
position:absolute;
top:-19.5px;
left:3169.34px;
}
.s_1_Test_Papers-1_153
{
position:absolute;
top:-19.5px;
left:3441.56px;
}
.s_1_Test_Papers-1_154
{
position:absolute;
top:-19.5px;
left:3895.77px;
letter-spacing:-1px;
}
.s_1_Test_Papers-1_155
{
position:absolute;
top:-19.5px;
left:4542.89px;
letter-spacing:-0.84px;
}
.s_1_Test_Papers-1_156
{
position:absolute;
top:-19.5px;
left:5522.3px;
letter-spacing:-5.98px;
}
.s_1_Test_Papers-1_157
{
position:absolute;
top:-19.5px;
left:6006.68px;
letter-spacing:0px;
}
.s_1_Test_Papers-1_158
{
position:absolute;
top:-19.5px;
left:6299.43px;
letter-spacing:-11.57px;
}
.s_1_Test_Papers-1_159
{
position:absolute;
top:-19.5px;
left:6919.52px;
letter-spacing:0px;
}
.s_1_Test_Papers-1_160
{
position:absolute;
top:-19.5px;
left:7283px;
letter-spacing:-1.39px;
}
.s_1_Test_Papers-1_161
{
position:absolute;
top:-19.5px;
left:7803.51px;
letter-spacing:0px;
}
.s_1_Test_Papers-1_162
{
position:absolute;
top:-19.5px;
left:8096.26px;
letter-spacing:0px;
}
.s_1_Test_Papers-1_163
{
position:absolute;
top:437.19px;
left:1020.47px;
}
.s_1_Test_Papers-1_164
{
position:absolute;
top:437.19px;
left:1990.78px;
}
.s_1_Test_Papers-1_165
{
position:absolute;
top:437.19px;
left:2582.79px;
}
.s_1_Test_Papers-1_166
{
position:absolute;
top:437.19px;
left:2855px;
}
.s_1_Test_Papers-1_167
{
position:absolute;
top:437.19px;
left:3309.21px;
}
.s_1_Test_Papers-1_168
{
position:absolute;
top:437.19px;
left:4096.74px;
letter-spacing:-3.29px;
}
.s_1_Test_Papers-1_169
{
position:absolute;
top:437.19px;
left:4802.11px;
letter-spacing:-2.38px;
}
.s_1_Test_Papers-1_170
{
position:absolute;
top:893.88px;
left:1020.47px;
letter-spacing:-0.36px;
}
.s_1_Test_Papers-1_171
{
position:absolute;
top:893.88px;
left:1565.95px;
letter-spacing:-0.49px;
}
.s_1_Test_Papers-1_172
{
position:absolute;
top:893.88px;
left:2543.79px;
}
.s_1_Test_Papers-1_173
{
position:absolute;
top:893.88px;
left:2800.66px;
letter-spacing:-0.52px;
}
.s_1_Test_Papers-1_174
{
position:absolute;
top:893.88px;
left:3648.77px;
}
.s_1_Test_Papers-1_175
{
position:absolute;
top:893.88px;
left:3984.69px;
}
.s_1_Test_Papers-1_176
{
position:absolute;
top:893.88px;
left:4438.9px;
letter-spacing:-0.59px;
}
.s_1_Test_Papers-1_177
{
position:absolute;
top:893.88px;
left:5359.55px;
letter-spacing:-2.68px;
}
.s_1_Test_Papers-1_178
{
position:absolute;
top:893.88px;
left:5663.49px;
letter-spacing:-4.78px;
}
.s_1_Test_Papers-1_179
{
position:absolute;
top:893.88px;
left:6512.37px;
letter-spacing:-1.71px;
}
.s_1_Test_Papers-1_180
{
position:absolute;
top:893.88px;
left:7821.97px;
letter-spacing:-3.87px;
}
.s_1_Test_Papers-1_181
{
position:absolute;
top:1350.58px;
left:1020.47px;
letter-spacing:-0.45px;
}
.s_1_Test_Papers-1_182
{
position:absolute;
top:1350.58px;
left:1523.57px;
letter-spacing:-1.47px;
}
.s_1_Test_Papers-1_183
{
position:absolute;
top:1350.58px;
left:2628.81px;
letter-spacing:-2.68px;
}
.s_1_Test_Papers-1_184
{
position:absolute;
top:1350.58px;
left:2932.75px;
letter-spacing:-0.3px;
}
.s_1_Test_Papers-1_185
{
position:absolute;
top:1350.58px;
left:3771.24px;
}
.s_1_Test_Papers-1_186
{
position:absolute;
top:1350.58px;
left:4401.2px;
letter-spacing:-0.16px;
}
.s_1_Test_Papers-1_187
{
position:absolute;
top:1350.58px;
left:5571.44px;
letter-spacing:-2.08px;
}
.s_1_Test_Papers-1_188
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-1.69px;
}
.s_1_Test_Papers-1_189
{
position:absolute;
top:-19.5px;
left:0px;
}
.s_1_Test_Papers-1_190
{
position:absolute;
top:-4.2px;
left:52.95px;
}
.s_1_Test_Papers-1_191
{
position:absolute;
top:-21px;
left:193.6px;
}
.s_1_Test_Papers-1_192
{
position:absolute;
top:-19.5px;
left:57.35px;
letter-spacing:-1.3px;
}
.s_1_Test_Papers-1_193
{
position:absolute;
top:60.5px;
left:171.79px;
}
.s_1_Test_Papers-1_194
{
position:absolute;
top:60.5px;
left:647.84px;
}
.s_1_Test_Papers-1_195
{
position:absolute;
top:60.5px;
left:1214.88px;
}
.s_1_Test_Papers-1_196
{
position:absolute;
top:60.5px;
left:1717.32px;
letter-spacing:-7.28px;
}
.s_1_Test_Papers-1_197
{
position:absolute;
top:60.5px;
left:2224.69px;
letter-spacing:-9.36px;
}
.s_1_Test_Papers-1_198
{
position:absolute;
top:60.5px;
left:2714.65px;
}
.s_1_Test_Papers-1_199
{
position:absolute;
top:60.5px;
left:3281.31px;
}
.s_1_Test_Papers-1_200
{
position:absolute;
top:60.5px;
left:3743.44px;
}
.s_1_Test_Papers-1_201
{
position:absolute;
top:60.5px;
left:4232.23px;
}
.s_1_Test_Papers-1_202
{
position:absolute;
top:60.5px;
left:4812.01px;
}
.s_1_Test_Papers-1_203
{
position:absolute;
top:514.04px;
left:178.03px;
letter-spacing:-7.8px;
}
.s_1_Test_Papers-1_204
{
position:absolute;
top:514.04px;
left:699.18px;
letter-spacing:-5.98px;
}
.s_1_Test_Papers-1_205
{
position:absolute;
top:514.04px;
left:1181.47px;
}
.s_1_Test_Papers-1_206
{
position:absolute;
top:514.04px;
left:1694.18px;
}
.s_1_Test_Papers-1_207
{
position:absolute;
top:514.04px;
left:2204.54px;
}
.s_1_Test_Papers-1_208
{
position:absolute;
top:514.04px;
left:2729.21px;
letter-spacing:-7.8px;
}
.s_1_Test_Papers-1_209
{
position:absolute;
top:514.04px;
left:3281.31px;
}
.s_1_Test_Papers-1_210
{
position:absolute;
top:514.04px;
left:3754.49px;
letter-spacing:-7.02px;
}
.s_1_Test_Papers-1_211
{
position:absolute;
top:514.04px;
left:4245.36px;
}
.s_1_Test_Papers-1_212
{
position:absolute;
top:514.04px;
left:4766.51px;
letter-spacing:-2.86px;
}
.s_1_Test_Papers-1_213
{
position:absolute;
top:967.59px;
left:139.16px;
}
.s_1_Test_Papers-1_214
{
position:absolute;
top:967.59px;
left:671.23px;
}
.s_1_Test_Papers-1_215
{
position:absolute;
top:967.59px;
left:1240.36px;
}
.s_1_Test_Papers-1_216
{
position:absolute;
top:967.59px;
left:1702.5px;
}
.s_1_Test_Papers-1_217
{
position:absolute;
top:967.59px;
left:2223.65px;
}
.s_1_Test_Papers-1_218
{
position:absolute;
top:967.59px;
left:2735.45px;
}
.s_1_Test_Papers-1_219
{
position:absolute;
top:967.59px;
left:3239.45px;
letter-spacing:-7.8px;
}
.s_1_Test_Papers-1_220
{
position:absolute;
top:967.59px;
left:3734.08px;
}
.s_1_Test_Papers-1_221
{
position:absolute;
top:967.59px;
left:4245.49px;
}
.s_1_Test_Papers-1_222
{
position:absolute;
top:967.59px;
left:4766.26px;
letter-spacing:-3.9px;
}
.s_1_Test_Papers-1_223
{
position:absolute;
top:1421.13px;
left:150.34px;
}
.s_1_Test_Papers-1_224
{
position:absolute;
top:1421.13px;
left:675.66px;
}
.s_1_Test_Papers-1_225
{
position:absolute;
top:1421.13px;
left:1203.31px;
}
.s_1_Test_Papers-1_226
{
position:absolute;
top:1421.13px;
left:1713.42px;
}
.s_1_Test_Papers-1_227
{
position:absolute;
top:1421.13px;
left:2201.94px;
}
.s_1_Test_Papers-1_228
{
position:absolute;
top:1421.13px;
left:2713.61px;
}
.s_1_Test_Papers-1_229
{
position:absolute;
top:1421.13px;
left:3233.21px;
}
.s_1_Test_Papers-1_230
{
position:absolute;
top:1421.13px;
left:3766.06px;
}
.s_1_Test_Papers-1_231
{
position:absolute;
top:1421.13px;
left:4270.84px;
letter-spacing:-5.98px;
}
.s_1_Test_Papers-1_232
{
position:absolute;
top:1421.13px;
left:4778.74px;
letter-spacing:-7.28px;
}
.s_1_Test_Papers-1_233
{
position:absolute;
top:1874.67px;
left:139.16px;
}
.s_1_Test_Papers-1_234
{
position:absolute;
top:1874.67px;
left:660.57px;
}
.s_1_Test_Papers-1_235
{
position:absolute;
top:1874.67px;
left:1158.07px;
}
.s_1_Test_Papers-1_236
{
position:absolute;
top:1874.67px;
left:1717.32px;
letter-spacing:-7.28px;
}
.s_1_Test_Papers-1_237
{
position:absolute;
top:1874.67px;
left:2223.78px;
}
.s_1_Test_Papers-1_238
{
position:absolute;
top:1874.67px;
left:2713.61px;
}
.s_1_Test_Papers-1_239
{
position:absolute;
top:1874.67px;
left:3239.45px;
letter-spacing:-7.8px;
}
.s_1_Test_Papers-1_240
{
position:absolute;
top:1874.67px;
left:3791.54px;
}
.s_1_Test_Papers-1_241
{
position:absolute;
top:1874.67px;
left:4266.16px;
}
.s_1_Test_Papers-1_242
{
position:absolute;
top:1874.67px;
left:4755.6px;
}
.s_1_Test_Papers-1_243
{
position:absolute;
top:2328.22px;
left:219.89px;
}
.s_1_Test_Papers-1_244
{
position:absolute;
top:2328.22px;
left:699.18px;
letter-spacing:-5.98px;
}
.s_1_Test_Papers-1_245
{
position:absolute;
top:2328.22px;
left:1184.07px;
}
.s_1_Test_Papers-1_246
{
position:absolute;
top:2328.22px;
left:1694.18px;
}
.s_1_Test_Papers-1_247
{
position:absolute;
top:2328.22px;
left:2203.37px;
}
.s_1_Test_Papers-1_248
{
position:absolute;
top:2328.22px;
left:2728.95px;
}
.s_1_Test_Papers-1_249
{
position:absolute;
top:2328.22px;
left:3200.58px;
}
.s_1_Test_Papers-1_250
{
position:absolute;
top:2328.22px;
left:3746.04px;
letter-spacing:-2.86px;
}
.s_1_Test_Papers-1_251
{
position:absolute;
top:2328.22px;
left:4247.31px;
}
.s_1_Test_Papers-1_252
{
position:absolute;
top:2328.22px;
left:4766.26px;
letter-spacing:-3.9px;
}
.s_1_Test_Papers-1_253
{
position:absolute;
top:2781.76px;
left:184.27px;
}
.s_1_Test_Papers-1_254
{
position:absolute;
top:2781.76px;
left:693.07px;
}
.s_1_Test_Papers-1_255
{
position:absolute;
top:2781.76px;
left:1170.81px;
}
.s_1_Test_Papers-1_256
{
position:absolute;
top:2781.76px;
left:1681.05px;
}
.s_1_Test_Papers-1_257
{
position:absolute;
top:2781.76px;
left:2229.89px;
letter-spacing:-5.98px;
}
.s_1_Test_Papers-1_258
{
position:absolute;
top:2781.76px;
left:2731.68px;
letter-spacing:-8.06px;
}
.s_1_Test_Papers-1_259
{
position:absolute;
top:2781.76px;
left:3244.13px;
}
.s_1_Test_Papers-1_260
{
position:absolute;
top:2781.76px;
left:3766.06px;
}
.s_1_Test_Papers-1_261
{
position:absolute;
top:2781.76px;
left:4242.89px;
}
.s_1_Test_Papers-1_262
{
position:absolute;
top:2781.76px;
left:4778.74px;
letter-spacing:-7.28px;
}
.s_1_Test_Papers-1_263
{
position:absolute;
top:3235.3px;
left:182.71px;
}
.s_1_Test_Papers-1_264
{
position:absolute;
top:3235.3px;
left:649.39px;
}
.s_1_Test_Papers-1_265
{
position:absolute;
top:3235.3px;
left:1203.31px;
letter-spacing:-7.02px;
}
.s_1_Test_Papers-1_266
{
position:absolute;
top:3235.3px;
left:1713.55px;
letter-spacing:-7.02px;
}
.s_1_Test_Papers-1_267
{
position:absolute;
top:3235.3px;
left:2225.21px;
}
.s_1_Test_Papers-1_268
{
position:absolute;
top:3235.3px;
left:2739.87px;
}
.s_1_Test_Papers-1_269
{
position:absolute;
top:3235.3px;
left:3245.69px;
}
.s_1_Test_Papers-1_270
{
position:absolute;
top:3235.3px;
left:3754.49px;
}
.s_1_Test_Papers-1_271
{
position:absolute;
top:3235.3px;
left:4276.3px;
}
.s_1_Test_Papers-1_272
{
position:absolute;
top:3235.3px;
left:4766.64px;
}
