.d_1_Test_Papers-3_1
{position:absolute;overflow:hidden;left: 0px;top:0px;transform:translate(0.00px,0.00px);-webkit-transform:translate(0.00px,0.00px);-ms-transform:translate(0.00px,0.00px);-o-transform:translate(0.00px,0.00px);-moz-transform:translate(0.00px,0.00px);width:612.28px;height:841.89px;}
.d_1_Test_Papers-3_2
{
width:560.18px;
height:401.47px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,1.09px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,1.09px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,1.09px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,1.09px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,1.09px) rotate(0deg) scale(0.05);
}
.d_1_Test_Papers-3_3
{
width:9852.11px;
height:3455.59px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
}
.d_1_Test_Papers-3_4
{
width:4996.98px;
height:732.58px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,10.21px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,10.21px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,10.21px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,10.21px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,10.21px) rotate(0deg) scale(0.05);
}
.d_1_Test_Papers-3_5
{
width:3320.07px;
height:399.59px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,6.35px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,6.35px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,6.35px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,6.35px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,6.35px) rotate(0deg) scale(0.05);
}
.d_1_Test_Papers-3_6
{
width:9852.64px;
height:229.5px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
}
.d_1_Test_Papers-3_7
{
width:9852.64px;
height:4709.14px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Test_Papers-3_8
{
width:9839.66px;
height:229.5px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
}
.d_1_Test_Papers-3_9
{
width:307.87px;
height:230.47px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Test_Papers-3_10
{
width:307.87px;
height:230.47px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Test_Papers-3_11
{
width:307.87px;
height:230.47px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Test_Papers-3_12
{
width:307.87px;
height:230.47px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.s_1_Test_Papers-3_13
{
position:absolute;
top:54.33px;
left:131.93px;
}
.s_1_Test_Papers-3_14
{
position:absolute;
top:-19.5px;
left:0px;
}
.s_1_Test_Papers-3_15
{
position:absolute;
top:-19.5px;
left:453.54px;
letter-spacing:-0.36px;
}
.s_1_Test_Papers-3_16
{
position:absolute;
top:-19.5px;
left:1156.84px;
letter-spacing:0px;
}
.s_1_Test_Papers-3_17
{
position:absolute;
top:-19.5px;
left:1578.55px;
letter-spacing:-0.45px;
}
.s_1_Test_Papers-3_18
{
position:absolute;
top:-19.5px;
left:8722.17px;
letter-spacing:-2.17px;
}
.s_1_Test_Papers-3_19
{
position:absolute;
top:-19.5px;
left:8993.35px;
letter-spacing:0px;
}
.s_1_Test_Papers-3_20
{
position:absolute;
top:-19.5px;
left:9173px;
}
.s_1_Test_Papers-3_21
{
position:absolute;
top:-19.5px;
left:9365.66px;
}
.s_1_Test_Papers-3_22
{
position:absolute;
top:-19.5px;
left:9541.68px;
letter-spacing:-1.23px;
}
.s_1_Test_Papers-3_23
{
position:absolute;
top:437.19px;
left:1020.47px;
letter-spacing:-0.39px;
}
.s_1_Test_Papers-3_24
{
position:absolute;
top:437.19px;
left:1524.09px;
}
.s_1_Test_Papers-3_25
{
position:absolute;
top:437.19px;
left:1780.96px;
letter-spacing:-0.52px;
}
.s_1_Test_Papers-3_26
{
position:absolute;
top:437.19px;
left:2625.43px;
letter-spacing:-2.6px;
}
.s_1_Test_Papers-3_27
{
position:absolute;
top:437.19px;
left:3030.76px;
letter-spacing:-1.49px;
}
.s_1_Test_Papers-3_28
{
position:absolute;
top:437.19px;
left:3489.14px;
letter-spacing:-0.63px;
}
.s_1_Test_Papers-3_29
{
position:absolute;
top:437.19px;
left:4250.92px;
letter-spacing:-0.61px;
}
.s_1_Test_Papers-3_30
{
position:absolute;
top:437.19px;
left:4683.3px;
}
.s_1_Test_Papers-3_31
{
position:absolute;
top:437.19px;
left:4754.02px;
letter-spacing:-0.39px;
}
.s_1_Test_Papers-3_32
{
position:absolute;
top:437.19px;
left:5311.71px;
letter-spacing:-2.68px;
}
.s_1_Test_Papers-3_33
{
position:absolute;
top:437.19px;
left:5615.65px;
letter-spacing:-0.26px;
}
.s_1_Test_Papers-3_34
{
position:absolute;
top:437.19px;
left:6309.58px;
letter-spacing:-0.3px;
}
.s_1_Test_Papers-3_35
{
position:absolute;
top:437.19px;
left:7081px;
}
.s_1_Test_Papers-3_36
{
position:absolute;
top:437.19px;
left:7212.81px;
}
.s_1_Test_Papers-3_37
{
position:absolute;
top:437.19px;
left:9292.81px;
}
.s_1_Test_Papers-3_38
{
position:absolute;
top:837.19px;
left:1020.47px;
letter-spacing:-0.95px;
}
.s_1_Test_Papers-3_39
{
position:absolute;
top:837.19px;
left:1411.51px;
}
.s_1_Test_Papers-3_40
{
position:absolute;
top:837.19px;
left:1663.96px;
}
.s_1_Test_Papers-3_41
{
position:absolute;
top:837.19px;
left:2114.53px;
letter-spacing:-1.3px;
}
.s_1_Test_Papers-3_42
{
position:absolute;
top:837.19px;
left:3107.46px;
letter-spacing:-2.68px;
}
.s_1_Test_Papers-3_43
{
position:absolute;
top:837.19px;
left:3406.98px;
}
.s_1_Test_Papers-3_44
{
position:absolute;
top:837.19px;
left:3861.19px;
}
.s_1_Test_Papers-3_45
{
position:absolute;
top:837.19px;
left:4602.44px;
letter-spacing:-0.28px;
}
.s_1_Test_Papers-3_46
{
position:absolute;
top:837.19px;
left:5997.05px;
letter-spacing:-0.35px;
}
.s_1_Test_Papers-3_47
{
position:absolute;
top:837.19px;
left:7056.8px;
letter-spacing:-2.26px;
}
.s_1_Test_Papers-3_48
{
position:absolute;
top:1237.19px;
left:1020.47px;
}
.s_1_Test_Papers-3_49
{
position:absolute;
top:1237.19px;
left:3100.47px;
}
.s_1_Test_Papers-3_50
{
position:absolute;
top:1637.19px;
left:1020.47px;
letter-spacing:-0.36px;
}
.s_1_Test_Papers-3_51
{
position:absolute;
top:1637.19px;
left:1565.95px;
letter-spacing:-1.33px;
}
.s_1_Test_Papers-3_52
{
position:absolute;
top:1637.19px;
left:2537.03px;
}
.s_1_Test_Papers-3_53
{
position:absolute;
top:1637.19px;
left:2793.91px;
}
.s_1_Test_Papers-3_54
{
position:absolute;
top:1637.19px;
left:3343.28px;
letter-spacing:-0.52px;
}
.s_1_Test_Papers-3_55
{
position:absolute;
top:1637.19px;
left:4191.39px;
}
.s_1_Test_Papers-3_56
{
position:absolute;
top:1637.19px;
left:4531.72px;
}
.s_1_Test_Papers-3_57
{
position:absolute;
top:1637.19px;
left:5248.79px;
letter-spacing:-2.68px;
}
.s_1_Test_Papers-3_58
{
position:absolute;
top:1637.19px;
left:5548.31px;
}
.s_1_Test_Papers-3_59
{
position:absolute;
top:1637.19px;
left:5995.24px;
letter-spacing:-0.97px;
}
.s_1_Test_Papers-3_60
{
position:absolute;
top:1637.19px;
left:7039.91px;
letter-spacing:-4.27px;
}
.s_1_Test_Papers-3_61
{
position:absolute;
top:1637.19px;
left:8073.65px;
}
.s_1_Test_Papers-3_62
{
position:absolute;
top:1637.19px;
left:9852.11px;
}
.s_1_Test_Papers-3_63
{
position:absolute;
top:2037.19px;
left:1020.47px;
letter-spacing:-0.45px;
}
.s_1_Test_Papers-3_64
{
position:absolute;
top:2037.19px;
left:1523.57px;
}
.s_1_Test_Papers-3_65
{
position:absolute;
top:2037.19px;
left:2584.61px;
letter-spacing:-0.54px;
}
.s_1_Test_Papers-3_66
{
position:absolute;
top:2037.19px;
left:4107.15px;
letter-spacing:-2.6px;
}
.s_1_Test_Papers-3_67
{
position:absolute;
top:2037.19px;
left:4508.06px;
}
.s_1_Test_Papers-3_68
{
position:absolute;
top:2037.19px;
left:4962.27px;
}
.s_1_Test_Papers-3_69
{
position:absolute;
top:2041.68px;
left:5236.57px;
}
.s_1_Test_Papers-3_70
{
position:absolute;
top:2037.19px;
left:5376.32px;
}
.s_1_Test_Papers-3_71
{
position:absolute;
top:2037.19px;
left:5447.04px;
letter-spacing:-0.32px;
}
.s_1_Test_Papers-3_72
{
position:absolute;
top:2037.19px;
left:6495.34px;
}
.s_1_Test_Papers-3_73
{
position:absolute;
top:2037.19px;
left:7392.34px;
letter-spacing:-2.68px;
}
.s_1_Test_Papers-3_74
{
position:absolute;
top:2037.19px;
left:7696.27px;
}
.s_1_Test_Papers-3_75
{
position:absolute;
top:2437.19px;
left:1020.47px;
}
.s_1_Test_Papers-3_76
{
position:absolute;
top:2437.19px;
left:3100.47px;
}
.s_1_Test_Papers-3_77
{
position:absolute;
top:2837.19px;
left:1020.47px;
letter-spacing:-0.36px;
}
.s_1_Test_Papers-3_78
{
position:absolute;
top:2837.19px;
left:1565.95px;
letter-spacing:-1.33px;
}
.s_1_Test_Papers-3_79
{
position:absolute;
top:2837.19px;
left:2537.03px;
}
.s_1_Test_Papers-3_80
{
position:absolute;
top:2837.19px;
left:3413.48px;
}
.s_1_Test_Papers-3_81
{
position:absolute;
top:2837.19px;
left:3867.69px;
}
.s_1_Test_Papers-3_82
{
position:absolute;
top:2837.19px;
left:4417.84px;
letter-spacing:-4.68px;
}
.s_1_Test_Papers-3_83
{
position:absolute;
top:2837.19px;
left:4974.23px;
letter-spacing:-0.36px;
}
.s_1_Test_Papers-3_84
{
position:absolute;
top:2837.19px;
left:5515.28px;
letter-spacing:-1.78px;
}
.s_1_Test_Papers-3_85
{
position:absolute;
top:2837.19px;
left:6274.21px;
letter-spacing:-1.35px;
}
.s_1_Test_Papers-3_86
{
position:absolute;
top:2837.19px;
left:6863.36px;
}
.s_1_Test_Papers-3_87
{
position:absolute;
top:3237.19px;
left:1020.47px;
letter-spacing:-0.39px;
}
.s_1_Test_Papers-3_88
{
position:absolute;
top:3237.19px;
left:1524.09px;
}
.s_1_Test_Papers-3_89
{
position:absolute;
top:3237.19px;
left:1776.54px;
}
.s_1_Test_Papers-3_90
{
position:absolute;
top:3237.19px;
left:2227.11px;
text-rendering:optimizeLegibility;
letter-spacing:-0.26px;
}
.s_1_Test_Papers-3_91
{
position:absolute;
top:3237.19px;
left:2761.4px;
letter-spacing:-0.52px;
}
.s_1_Test_Papers-3_92
{
position:absolute;
top:3237.19px;
left:3698.69px;
}
.s_1_Test_Papers-3_93
{
position:absolute;
top:3237.19px;
left:4012.24px;
letter-spacing:-1.17px;
}
.s_1_Test_Papers-3_94
{
position:absolute;
top:3237.19px;
left:4740.49px;
}
.s_1_Test_Papers-3_95
{
position:absolute;
top:3237.19px;
left:5194.7px;
}
.s_1_Test_Papers-3_96
{
position:absolute;
top:3237.19px;
left:6141.09px;
letter-spacing:-2.68px;
}
.s_1_Test_Papers-3_97
{
position:absolute;
top:3237.19px;
left:6445.03px;
letter-spacing:-0.52px;
}
.s_1_Test_Papers-3_98
{
position:absolute;
top:3237.19px;
left:6900.28px;
letter-spacing:-2.28px;
}
.s_1_Test_Papers-3_99
{
position:absolute;
top:3237.19px;
left:7900.48px;
}
.s_1_Test_Papers-3_100
{
position:absolute;
top:-25px;
left:0px;
letter-spacing:20.4px;
transform-origin: 0% 704.31px;
-webkit-transform-origin: 0% 704.31px;
-ms-transform-origin: 0% 704.31px;
-o-transform-origin: 0% 704.31px;
-moz-transform-origin: 0% 704.31px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Test_Papers-3_101
{
position:absolute;
top:-25px;
left:1865.19px;
letter-spacing:21.25px;
transform-origin: 0% 704.31px;
-webkit-transform-origin: 0% 704.31px;
-ms-transform-origin: 0% 704.31px;
-o-transform-origin: 0% 704.31px;
-moz-transform-origin: 0% 704.31px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Test_Papers-3_102
{
position:absolute;
top:-25px;
left:4177.71px;
transform-origin: 0% 704.31px;
-webkit-transform-origin: 0% 704.31px;
-ms-transform-origin: 0% 704.31px;
-o-transform-origin: 0% 704.31px;
-moz-transform-origin: 0% 704.31px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Test_Papers-3_103
{
position:absolute;
top:-13.24px;
left:332.01px;
letter-spacing:11.25px;
transform-origin: 0% 372.87px;
-webkit-transform-origin: 0% 372.87px;
-ms-transform-origin: 0% 372.87px;
-o-transform-origin: 0% 372.87px;
-moz-transform-origin: 0% 372.87px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Test_Papers-3_104
{
position:absolute;
top:-13.24px;
left:1439.9px;
letter-spacing:11.57px;
transform-origin: 0% 372.87px;
-webkit-transform-origin: 0% 372.87px;
-ms-transform-origin: 0% 372.87px;
-o-transform-origin: 0% 372.87px;
-moz-transform-origin: 0% 372.87px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Test_Papers-3_105
{
position:absolute;
top:-13.24px;
left:2824.76px;
letter-spacing:6.75px;
transform-origin: 0% 372.87px;
-webkit-transform-origin: 0% 372.87px;
-ms-transform-origin: 0% 372.87px;
-o-transform-origin: 0% 372.87px;
-moz-transform-origin: 0% 372.87px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Test_Papers-3_106
{
position:absolute;
top:-19.5px;
left:0px;
}
.s_1_Test_Papers-3_107
{
position:absolute;
top:-19.5px;
left:453.54px;
}
.s_1_Test_Papers-3_108
{
position:absolute;
top:-19.5px;
left:820.65px;
}
.s_1_Test_Papers-3_109
{
position:absolute;
top:-19.5px;
left:1072.59px;
letter-spacing:0px;
}
.s_1_Test_Papers-3_110
{
position:absolute;
top:-19.5px;
left:1494.3px;
}
.s_1_Test_Papers-3_111
{
position:absolute;
top:-19.5px;
left:2274.03px;
letter-spacing:0px;
}
.s_1_Test_Papers-3_112
{
position:absolute;
top:-19.5px;
left:2820.28px;
}
.s_1_Test_Papers-3_113
{
position:absolute;
top:-19.5px;
left:3241.99px;
letter-spacing:-0.39px;
}
.s_1_Test_Papers-3_114
{
position:absolute;
top:-19.5px;
left:4101.54px;
letter-spacing:-2.24px;
}
.s_1_Test_Papers-3_115
{
position:absolute;
top:-19.5px;
left:8560.2px;
}
.s_1_Test_Papers-3_116
{
position:absolute;
top:-19.5px;
left:8937.45px;
letter-spacing:0px;
}
.s_1_Test_Papers-3_117
{
position:absolute;
top:-19.5px;
left:9117.11px;
}
.s_1_Test_Papers-3_118
{
position:absolute;
top:-19.5px;
left:9305.34px;
}
.s_1_Test_Papers-3_119
{
position:absolute;
top:-19.5px;
left:9481.36px;
letter-spacing:-2.17px;
}
.s_1_Test_Papers-3_120
{
position:absolute;
top:-19.5px;
left:1020.47px;
letter-spacing:-5.56px;
}
.s_1_Test_Papers-3_121
{
position:absolute;
top:-19.5px;
left:2019.38px;
letter-spacing:-4.61px;
}
.s_1_Test_Papers-3_122
{
position:absolute;
top:-19.5px;
left:2546.91px;
letter-spacing:-6.03px;
}
.s_1_Test_Papers-3_123
{
position:absolute;
top:-19.5px;
left:3839.88px;
letter-spacing:-6.85px;
}
.s_1_Test_Papers-3_124
{
position:absolute;
top:-19.5px;
left:4170.33px;
letter-spacing:-3.9px;
}
.s_1_Test_Papers-3_125
{
position:absolute;
top:-19.5px;
left:4603.74px;
}
.s_1_Test_Papers-3_126
{
position:absolute;
top:-19.5px;
left:6683.74px;
}
.s_1_Test_Papers-3_127
{
position:absolute;
top:-19.5px;
left:6754.46px;
}
.s_1_Test_Papers-3_128
{
position:absolute;
top:437.19px;
left:1020.47px;
letter-spacing:-6.05px;
}
.s_1_Test_Papers-3_129
{
position:absolute;
top:437.19px;
left:1882.62px;
letter-spacing:-3.47px;
}
.s_1_Test_Papers-3_130
{
position:absolute;
top:437.19px;
left:2123.89px;
letter-spacing:-4.33px;
}
.s_1_Test_Papers-3_131
{
position:absolute;
top:437.19px;
left:2972.26px;
letter-spacing:-5.33px;
}
.s_1_Test_Papers-3_132
{
position:absolute;
top:437.19px;
left:3577.79px;
letter-spacing:-3.9px;
}
.s_1_Test_Papers-3_133
{
position:absolute;
top:437.19px;
left:4011.2px;
letter-spacing:-5.02px;
}
.s_1_Test_Papers-3_134
{
position:absolute;
top:437.19px;
left:5519.18px;
letter-spacing:-5.85px;
}
.s_1_Test_Papers-3_135
{
position:absolute;
top:437.19px;
left:6257.31px;
letter-spacing:-4.97px;
}
.s_1_Test_Papers-3_136
{
position:absolute;
top:437.19px;
left:7325.89px;
}
.s_1_Test_Papers-3_137
{
position:absolute;
top:437.19px;
left:8885.89px;
}
.s_1_Test_Papers-3_138
{
position:absolute;
top:437.19px;
left:8956.61px;
}
.s_1_Test_Papers-3_139
{
position:absolute;
top:893.88px;
left:1020.47px;
letter-spacing:-5.75px;
}
.s_1_Test_Papers-3_140
{
position:absolute;
top:893.88px;
left:1994.68px;
letter-spacing:-3.47px;
}
.s_1_Test_Papers-3_141
{
position:absolute;
top:893.88px;
left:2255.71px;
letter-spacing:-4.33px;
}
.s_1_Test_Papers-3_142
{
position:absolute;
top:893.88px;
left:2839.92px;
}
.s_1_Test_Papers-3_143
{
position:absolute;
top:893.88px;
left:4919.92px;
}
.s_1_Test_Papers-3_144
{
position:absolute;
top:893.88px;
left:5056.16px;
letter-spacing:-3.47px;
}
.s_1_Test_Papers-3_145
{
position:absolute;
top:893.88px;
left:5297.43px;
letter-spacing:-4.85px;
}
.s_1_Test_Papers-3_146
{
position:absolute;
top:893.88px;
left:6110.7px;
letter-spacing:-6.5px;
}
.s_1_Test_Papers-3_147
{
position:absolute;
top:893.88px;
left:6495.23px;
letter-spacing:-3.9px;
}
.s_1_Test_Papers-3_148
{
position:absolute;
top:893.88px;
left:6820.48px;
letter-spacing:-3.47px;
}
.s_1_Test_Papers-3_149
{
position:absolute;
top:1350.58px;
left:1020.47px;
}
.s_1_Test_Papers-3_150
{
position:absolute;
top:1350.58px;
left:3100.47px;
}
.s_1_Test_Papers-3_151
{
position:absolute;
top:1350.58px;
left:3236.71px;
letter-spacing:-3.47px;
}
.s_1_Test_Papers-3_152
{
position:absolute;
top:1350.58px;
left:3473.56px;
letter-spacing:-3.9px;
}
.s_1_Test_Papers-3_153
{
position:absolute;
top:1350.58px;
left:3906.97px;
letter-spacing:-4.84px;
}
.s_1_Test_Papers-3_154
{
position:absolute;
top:1350.58px;
left:4780.03px;
letter-spacing:-4.46px;
}
.s_1_Test_Papers-3_155
{
position:absolute;
top:1350.58px;
left:5551.7px;
letter-spacing:-3.47px;
}
.s_1_Test_Papers-3_156
{
position:absolute;
top:1350.58px;
left:5808.31px;
letter-spacing:-3.9px;
}
.s_1_Test_Papers-3_157
{
position:absolute;
top:1350.58px;
left:6241.72px;
letter-spacing:-5.33px;
}
.s_1_Test_Papers-3_158
{
position:absolute;
top:1350.58px;
left:6857.65px;
letter-spacing:-4.74px;
}
.s_1_Test_Papers-3_159
{
position:absolute;
top:1807.27px;
left:1020.47px;
}
.s_1_Test_Papers-3_160
{
position:absolute;
top:1807.27px;
left:3100.47px;
}
.s_1_Test_Papers-3_161
{
position:absolute;
top:1807.27px;
left:3236.71px;
letter-spacing:-4.16px;
}
.s_1_Test_Papers-3_162
{
position:absolute;
top:1807.27px;
left:3944.16px;
letter-spacing:-5.85px;
}
.s_1_Test_Papers-3_163
{
position:absolute;
top:1807.27px;
left:4136.3px;
letter-spacing:-4.85px;
}
.s_1_Test_Papers-3_164
{
position:absolute;
top:1807.27px;
left:4847.38px;
letter-spacing:-6.98px;
}
.s_1_Test_Papers-3_165
{
position:absolute;
top:1807.27px;
left:5647.65px;
letter-spacing:-6.85px;
}
.s_1_Test_Papers-3_166
{
position:absolute;
top:1807.27px;
left:5982.53px;
letter-spacing:-4.68px;
}
.s_1_Test_Papers-3_167
{
position:absolute;
top:1807.27px;
left:7131.71px;
letter-spacing:-3.9px;
}
.s_1_Test_Papers-3_168
{
position:absolute;
top:1807.27px;
left:7542.24px;
letter-spacing:-4.73px;
}
.s_1_Test_Papers-3_169
{
position:absolute;
top:1807.27px;
left:8601.46px;
letter-spacing:-4.78px;
}
.s_1_Test_Papers-3_170
{
position:absolute;
top:2207.27px;
left:1020.47px;
letter-spacing:-3.9px;
}
.s_1_Test_Papers-3_171
{
position:absolute;
top:2207.27px;
left:1509.52px;
letter-spacing:-4.46px;
}
.s_1_Test_Papers-3_172
{
position:absolute;
top:2207.27px;
left:2317.85px;
letter-spacing:-6.76px;
}
.s_1_Test_Papers-3_173
{
position:absolute;
top:2663.96px;
left:1020.47px;
letter-spacing:-4.35px;
}
.s_1_Test_Papers-3_174
{
position:absolute;
top:2663.96px;
left:1499.13px;
letter-spacing:-4.16px;
}
.s_1_Test_Papers-3_175
{
position:absolute;
top:2663.96px;
left:1898.48px;
letter-spacing:-5.04px;
}
.s_1_Test_Papers-3_176
{
position:absolute;
top:2663.96px;
left:2508.43px;
letter-spacing:-6.15px;
}
.s_1_Test_Papers-3_177
{
position:absolute;
top:2663.96px;
left:2796.77px;
letter-spacing:-5.39px;
}
.s_1_Test_Papers-3_178
{
position:absolute;
top:2663.96px;
left:3284.78px;
letter-spacing:-3.47px;
}
.s_1_Test_Papers-3_179
{
position:absolute;
top:2663.96px;
left:3526.06px;
}
.s_1_Test_Papers-3_180
{
position:absolute;
top:2663.96px;
left:5606.06px;
}
.s_1_Test_Papers-3_181
{
position:absolute;
top:2663.96px;
left:5676.77px;
}
.s_1_Test_Papers-3_182
{
position:absolute;
top:3120.66px;
left:1020.47px;
letter-spacing:-4.33px;
}
.s_1_Test_Papers-3_183
{
position:absolute;
top:3120.66px;
left:1724.28px;
letter-spacing:-5.28px;
}
.s_1_Test_Papers-3_184
{
position:absolute;
top:3120.66px;
left:2908.05px;
letter-spacing:-5.55px;
}
.s_1_Test_Papers-3_185
{
position:absolute;
top:3120.66px;
left:3936.33px;
letter-spacing:-3.9px;
}
.s_1_Test_Papers-3_186
{
position:absolute;
top:3120.66px;
left:4369.74px;
}
.s_1_Test_Papers-3_187
{
position:absolute;
top:3120.66px;
left:6449.74px;
}
.s_1_Test_Papers-3_188
{
position:absolute;
top:3120.66px;
left:6520.46px;
letter-spacing:0px;
}
.s_1_Test_Papers-3_189
{
position:absolute;
top:3577.35px;
left:1020.47px;
letter-spacing:-5.61px;
}
.s_1_Test_Papers-3_190
{
position:absolute;
top:3577.35px;
left:1863.91px;
}
.s_1_Test_Papers-3_191
{
position:absolute;
top:3577.35px;
left:1924.48px;
letter-spacing:-4.61px;
}
.s_1_Test_Papers-3_192
{
position:absolute;
top:3577.35px;
left:2447.08px;
letter-spacing:-4.55px;
}
.s_1_Test_Papers-3_193
{
position:absolute;
top:3577.35px;
left:3327.68px;
letter-spacing:-6.85px;
}
.s_1_Test_Papers-3_194
{
position:absolute;
top:3577.35px;
left:3662.55px;
}
.s_1_Test_Papers-3_195
{
position:absolute;
top:3577.35px;
left:5742.55px;
}
.s_1_Test_Papers-3_196
{
position:absolute;
top:3577.35px;
left:5813.27px;
}
.s_1_Test_Papers-3_197
{
position:absolute;
top:4034.04px;
left:1020.47px;
}
.s_1_Test_Papers-3_198
{
position:absolute;
top:4034.04px;
left:3100.47px;
}
.s_1_Test_Papers-3_199
{
position:absolute;
top:4034.04px;
left:3165.99px;
letter-spacing:-3.47px;
}
.s_1_Test_Papers-3_200
{
position:absolute;
top:4034.04px;
left:3402.84px;
letter-spacing:-3.9px;
}
.s_1_Test_Papers-3_201
{
position:absolute;
top:4034.04px;
left:3836.25px;
letter-spacing:-4.46px;
}
.s_1_Test_Papers-3_202
{
position:absolute;
top:4034.04px;
left:4594.4px;
letter-spacing:-4.74px;
}
.s_1_Test_Papers-3_203
{
position:absolute;
top:4034.04px;
left:5598.25px;
letter-spacing:-4.46px;
}
.s_1_Test_Papers-3_204
{
position:absolute;
top:4034.04px;
left:6336.11px;
letter-spacing:-4.46px;
}
.s_1_Test_Papers-3_205
{
position:absolute;
top:4034.04px;
left:7041.22px;
letter-spacing:-4.16px;
}
.s_1_Test_Papers-3_206
{
position:absolute;
top:4034.04px;
left:7596.57px;
letter-spacing:-4.68px;
}
.s_1_Test_Papers-3_207
{
position:absolute;
top:4490.74px;
left:1020.47px;
letter-spacing:-4.29px;
}
.s_1_Test_Papers-3_208
{
position:absolute;
top:4490.74px;
left:1503.29px;
letter-spacing:-3.47px;
}
.s_1_Test_Papers-3_209
{
position:absolute;
top:4490.74px;
left:1744.56px;
letter-spacing:-4.85px;
}
.s_1_Test_Papers-3_210
{
position:absolute;
top:4490.74px;
left:2561.47px;
letter-spacing:-3.47px;
}
.s_1_Test_Papers-3_211
{
position:absolute;
top:4490.74px;
left:2881.79px;
letter-spacing:-3.9px;
}
.s_1_Test_Papers-3_212
{
position:absolute;
top:4490.74px;
left:3315.2px;
letter-spacing:-5.87px;
}
.s_1_Test_Papers-3_213
{
position:absolute;
top:4490.74px;
left:4126.64px;
letter-spacing:-6.15px;
}
.s_1_Test_Papers-3_214
{
position:absolute;
top:4490.74px;
left:4414.98px;
letter-spacing:-8.77px;
}
.s_1_Test_Papers-3_215
{
position:absolute;
top:4490.74px;
left:5191.59px;
}
.s_1_Test_Papers-3_216
{
position:absolute;
top:4490.74px;
left:7271.59px;
}
.s_1_Test_Papers-3_217
{
position:absolute;
top:4490.74px;
left:7342.31px;
}
.s_1_Test_Papers-3_218
{
position:absolute;
top:-19.5px;
left:0px;
}
.s_1_Test_Papers-3_219
{
position:absolute;
top:-19.5px;
left:453.54px;
letter-spacing:-0.95px;
}
.s_1_Test_Papers-3_220
{
position:absolute;
top:-19.5px;
left:1371.59px;
}
.s_1_Test_Papers-3_221
{
position:absolute;
top:-19.5px;
left:1842.18px;
}
.s_1_Test_Papers-3_222
{
position:absolute;
top:-19.5px;
left:2512.72px;
letter-spacing:0px;
}
.s_1_Test_Papers-3_223
{
position:absolute;
top:-19.5px;
left:2934.43px;
letter-spacing:-0.45px;
}
.s_1_Test_Papers-3_224
{
position:absolute;
top:-19.5px;
left:8667.6px;
letter-spacing:-2.34px;
}
.s_1_Test_Papers-3_225
{
position:absolute;
top:-19.5px;
left:8938.78px;
letter-spacing:0px;
}
.s_1_Test_Papers-3_226
{
position:absolute;
top:-19.5px;
left:9118.43px;
}
.s_1_Test_Papers-3_227
{
position:absolute;
top:-19.5px;
left:9363.86px;
}
.s_1_Test_Papers-3_228
{
position:absolute;
top:-19.5px;
left:9539.88px;
}
.s_1_Test_Papers-3_229
{
position:absolute;
top:-19.5px;
left:95.05px;
letter-spacing:-1.69px;
}
.s_1_Test_Papers-3_230
{
position:absolute;
top:-19.5px;
left:57.09px;
}
.s_1_Test_Papers-3_231
{
position:absolute;
top:-19.5px;
left:55.14px;
letter-spacing:-2.08px;
}
.s_1_Test_Papers-3_232
{
position:absolute;
top:-19.5px;
left:57.35px;
letter-spacing:-1.3px;
}
