@font-face {
font-family:"Cabrito_Sans_Cond_Bold";
font-style:normal;
font-weight:800;
font-stretch:condensed;
src : url("../font/CabritoSans-ConBol.otf");
}
@font-face {
font-family:"Cabrito_Sans_Cond_Medium";
font-style:normal;
font-weight:600;
font-stretch:condensed;
src : url("../font/CabritoSans-ConMed.otf");
}
@font-face {
font-family:"Cabrito_Sans_Norm_Book";
font-style:normal;
font-weight:normal;
src : url("../font/CabritoSans-NorBoo.otf");
}
@font-face {
font-family:VTCSundaykomix;
font-style:normal;
font-weight:bold;
src : url("../font/VTCSundaykomixBold.ttf");
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
margin:0;
padding:0;
border-width:0;
text-rendering:optimizeSpeed;
}
div.Icon {
border-style:solid;
}
div.Basic-Text-Frame {
border-style:solid;
}
p.ParaOverride-1 {
line-height:1;
white-space:nowrap;
}
span.CharOverride-1 {
color:#000000;
font-family:"Cabrito_Sans_Cond_Medium";
font-size:320px;
font-style:normal;
font-weight:600;
}
span.CharOverride-2 {
color:#000000;
font-family:"Cabrito_Sans_Cond_Bold";
font-size:260px;
font-style:normal;
font-weight:800;
}
span.CharOverride-3 {
color:#000000;
font-family:"Cabrito_Sans_Norm_Book";
font-size:260px;
font-style:normal;
font-weight:normal;
}
span.CharOverride-4 {
color:#238441;
font-family:VTCSundaykomix;
font-size:1020px;
font-style:normal;
font-weight:bold;
}
span.CharOverride-5 {
color:#000000;
font-family:VTCSundaykomix;
font-size:540px;
font-style:normal;
font-weight:bold;
}
span.CharOverride-6 {
color:#000000;
font-family:"Cabrito_Sans_Cond_Medium";
font-size:280px;
font-style:normal;
font-weight:600;
}
span.CharOverride-7 {
color:#000000;
font-family:"Cabrito_Sans_Norm_Book";
font-size:151.6px;
font-style:normal;
font-weight:normal;
}
#_idContainer000, #_idContainer044, #_idContainer078, #_idContainer111 {
height:24.16px;
left:0px;
position:absolute;
top:0px;
transform:translate(0.000px,2.876px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(0.000px,2.876px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(0.000px,2.876px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(0.000px,2.876px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(0.000px,2.876px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:28.01px;
}
#_idContainer001, #_idContainer045, #_idContainer079, #_idContainer112 {
height:28.01px;
left:0px;
position:absolute;
top:0px;
transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:28.01px;
}
#_idContainer002, #_idContainer080 {
height:28.01px;
left:0px;
position:absolute;
top:0px;
transform:translate(538.548px,778.225px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(538.548px,778.225px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(538.548px,778.225px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(538.548px,778.225px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(538.548px,778.225px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:28.01px;
}
#_idContainer003 {
height:20.98px;
left:0px;
position:absolute;
top:0px;
transform:translate(51.168px,106.400px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(51.168px,106.400px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(51.168px,106.400px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(51.168px,106.400px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(51.168px,106.400px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:491.98px;
}
#_idContainer004 {
background-image:url(../image/4.png);
background-repeat:no-repeat;
background-size:cover;
height:111.73px;
left:0px;
position:absolute;
top:0px;
transform:translate(51.168px,129.188px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(51.168px,129.188px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(51.168px,129.188px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(51.168px,129.188px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(51.168px,129.188px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:491.98px;
}
#_idContainer005, #_idContainer082 {
height:60.66px;
left:0px;
position:absolute;
top:0px;
transform:translate(51.168px,40.449px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(51.168px,40.449px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(51.168px,40.449px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(51.168px,40.449px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(51.168px,40.449px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:261.09px;
}
#_idContainer006, #_idContainer083 {
height:34.00px;
left:0px;
position:absolute;
top:0px;
transform:translate(373.046px,68.589px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(373.046px,68.589px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(373.046px,68.589px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(373.046px,68.589px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(373.046px,68.589px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:166.00px;
}
#_idContainer007 {
height:20.98px;
left:0px;
position:absolute;
top:0px;
transform:translate(52.269px,248.526px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(52.269px,248.526px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(52.269px,248.526px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(52.269px,248.526px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(52.269px,248.526px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:491.98px;
}
#_idContainer008 {
height:20.98px;
left:0px;
position:absolute;
top:0px;
transform:translate(51.619px,381.291px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(51.619px,381.291px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(51.619px,381.291px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(51.619px,381.291px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(51.619px,381.291px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:492.63px;
}
#_idContainer009 {
background-image:url(../image/9.png);
background-repeat:no-repeat;
background-size:cover;
height:196.00px;
left:0px;
position:absolute;
top:0px;
transform:translate(51.619px,407.034px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(51.619px,407.034px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(51.619px,407.034px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(51.619px,407.034px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(51.619px,407.034px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:203.50px;
}
#_idContainer010 {
height:20.98px;
left:0px;
position:absolute;
top:0px;
transform:translate(0.000px,-4.900px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(0.000px,-4.900px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(0.000px,-4.900px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(0.000px,-4.900px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(0.000px,-4.900px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:492.63px;
}
#_idContainer011 {
background-image:url(../image/11.png);
background-repeat:no-repeat;
background-size:cover;
height:97.63px;
left:0px;
position:absolute;
top:0px;
transform:translate(0.000px,17.843px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(0.000px,17.843px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(0.000px,17.843px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(0.000px,17.843px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(0.000px,17.843px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:494.40px;
}
#_idContainer012 {
height:114.47px;
left:0px;
position:absolute;
top:0px;
transform:translate(51.269px,623.873px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(51.269px,623.873px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(51.269px,623.873px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(51.269px,623.873px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(51.269px,623.873px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:494.40px;
}
#_idContainer013 {
background-image:url(../image/12.png);
background-repeat:no-repeat;
background-size:contain;
height:73.83px;
left:0px;
overflow:hidden;
position:absolute;
top:0px;
transform:translate(2.278px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(2.278px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(2.278px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(2.278px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(2.278px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:102.29px;
}
#_idContainer014, #_idContainer021, #_idContainer028, #_idContainer035, #_idContainer091, #_idContainer096, #_idContainer098, #_idContainer101, #_idContainer106, #_idContainer108, #_idContainer121, #_idContainer128, #_idContainer135, #_idContainer142 {
height:16.28px;
left:0px;
position:absolute;
top:0px;
transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:16.28px;
}
#_idContainer015, #_idContainer022, #_idContainer036, #_idContainer092, #_idContainer097, #_idContainer102, #_idContainer107, #_idContainer122, #_idContainer129, #_idContainer136, #_idContainer143 {
height:20.39px;
left:0px;
position:absolute;
top:0px;
transform:translate(0.443px,-2.080px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(0.443px,-2.080px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(0.443px,-2.080px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(0.443px,-2.080px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(0.443px,-2.080px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:15.39px;
}
#_idContainer016, #_idContainer023, #_idContainer030, #_idContainer037, #_idContainer093, #_idContainer103, #_idContainer123, #_idContainer130, #_idContainer137, #_idContainer144 {
height:16.28px;
left:0px;
position:absolute;
top:0px;
transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:16.28px;
}
#_idContainer017, #_idContainer024, #_idContainer031, #_idContainer038 {
height:1.00px;
left:0px;
position:absolute;
top:0px;
transform:translate(16.083px,12.980px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(16.083px,12.980px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(16.083px,12.980px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(16.083px,12.980px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(16.083px,12.980px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:89.22px;
}
#_idContainer018, #_idContainer025, #_idContainer032, #_idContainer039 {
height:16.28px;
left:0px;
position:absolute;
top:0px;
transform:translate(0.000px,77.620px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(0.000px,77.620px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(0.000px,77.620px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(0.000px,77.620px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(0.000px,77.620px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:105.30px;
}
#_idContainer019 {
height:93.90px;
left:0px;
position:absolute;
top:0px;
transform:translate(77.600px,273.555px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(77.600px,273.555px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(77.600px,273.555px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(77.600px,273.555px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(77.600px,273.555px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:105.30px;
}
#_idContainer020, #_idContainer027, #_idContainer034 {
height:73.83px;
left:0px;
position:absolute;
top:0px;
transform:translate(2.278px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(2.278px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(2.278px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(2.278px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(2.278px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:102.29px;
}
#_idContainer026 {
height:93.90px;
left:0px;
position:absolute;
top:0px;
transform:translate(198.050px,273.555px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(198.050px,273.555px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(198.050px,273.555px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(198.050px,273.555px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(198.050px,273.555px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:105.30px;
}
#_idContainer029 {
height:21.64px;
left:0px;
position:absolute;
top:0px;
transform:translate(0.443px,-2.255px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(0.443px,-2.255px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(0.443px,-2.255px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(0.443px,-2.255px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(0.443px,-2.255px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:15.39px;
}
#_idContainer033 {
height:93.90px;
left:0px;
position:absolute;
top:0px;
transform:translate(318.500px,273.555px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(318.500px,273.555px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(318.500px,273.555px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(318.500px,273.555px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(318.500px,273.555px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:105.30px;
}
#_idContainer040 {
height:93.90px;
left:0px;
position:absolute;
top:0px;
transform:translate(438.950px,273.555px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(438.950px,273.555px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(438.950px,273.555px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(438.950px,273.555px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(438.950px,273.555px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:105.30px;
}
#_idContainer041 {
height:189.21px;
left:0px;
position:absolute;
top:0px;
transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:258.66px;
}
#_idContainer042 {
height:187.10px;
left:0px;
position:absolute;
top:0px;
transform:translate(1.393px,4.802px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(1.393px,4.802px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(1.393px,4.802px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(1.393px,4.802px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(1.393px,4.802px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:255.12px;
}
#_idContainer043 {
height:189.21px;
left:0px;
position:absolute;
top:0px;
transform:translate(284.173px,411.491px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(284.173px,411.491px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(284.173px,411.491px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(284.173px,411.491px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(284.173px,411.491px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:258.66px;
}
#_idContainer046, #_idContainer113 {
height:28.01px;
left:0px;
position:absolute;
top:0px;
transform:translate(28.717px,778.225px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(28.717px,778.225px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(28.717px,778.225px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(28.717px,778.225px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(28.717px,778.225px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:28.01px;
}
#_idContainer047 {
height:20.98px;
left:0px;
position:absolute;
top:0px;
transform:translate(51.023px,112.400px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(51.023px,112.400px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(51.023px,112.400px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(51.023px,112.400px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(51.023px,112.400px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:491.98px;
}
#_idContainer048 {
height:20.98px;
left:0px;
position:absolute;
top:0px;
transform:translate(51.023px,340.927px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(51.023px,340.927px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(51.023px,340.927px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(51.023px,340.927px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(51.023px,340.927px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:491.98px;
}
#_idContainer049 {
background-image:url(../image/31.png);
background-repeat:no-repeat;
background-size:cover;
height:183.01px;
left:0px;
position:absolute;
top:0px;
transform:translate(51.249px,134.495px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(51.249px,134.495px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(51.249px,134.495px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(51.249px,134.495px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(51.249px,134.495px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:491.53px;
}
#_idContainer050, #_idContainer115 {
height:60.66px;
left:0px;
position:absolute;
top:0px;
transform:translate(54.678px,41.253px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(54.678px,41.253px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(54.678px,41.253px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(54.678px,41.253px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(54.678px,41.253px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:249.85px;
}
#_idContainer051, #_idContainer116 {
height:34.00px;
left:0px;
position:absolute;
top:0px;
transform:translate(377.625px,62.117px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(377.625px,62.117px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(377.625px,62.117px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(377.625px,62.117px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(377.625px,62.117px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:166.00px;
}
#_idContainer052 {
height:20.98px;
left:0px;
position:absolute;
top:0px;
transform:translate(51.321px,517.785px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(51.321px,517.785px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(51.321px,517.785px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(51.321px,517.785px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(51.321px,517.785px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:492.63px;
}
#_idContainer053 {
background-image:url(../image/35.png);
background-repeat:no-repeat;
background-size:cover;
height:197.90px;
left:0px;
position:absolute;
top:0px;
transform:translate(51.321px,541.528px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(51.321px,541.528px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(51.321px,541.528px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(51.321px,541.528px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(51.321px,541.528px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:516.55px;
}
#_idContainer054, #_idContainer060, #_idContainer066, #_idContainer072 {
height:15.23px;
left:0px;
position:absolute;
top:0px;
transform:translate(0.079px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(0.079px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(0.079px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(0.079px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(0.079px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:15.23px;
}
#_idContainer055, #_idContainer061, #_idContainer067, #_idContainer073 {
height:20.39px;
left:0px;
position:absolute;
top:0px;
transform:translate(0.000px,-2.602px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(0.000px,-2.602px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(0.000px,-2.602px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(0.000px,-2.602px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(0.000px,-2.602px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:15.39px;
}
#_idContainer056, #_idContainer062, #_idContainer068, #_idContainer074 {
height:15.23px;
left:0px;
position:absolute;
top:0px;
transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:15.39px;
}
#_idContainer057, #_idContainer063, #_idContainer069, #_idContainer075 {
height:1.00px;
left:0px;
position:absolute;
top:0px;
transform:translate(15.639px,14.458px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(15.639px,14.458px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(15.639px,14.458px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(15.639px,14.458px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(15.639px,14.458px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:82.05px;
}
#_idContainer058 {
height:15.40px;
left:0px;
position:absolute;
top:0px;
transform:translate(73.526px,486.818px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(73.526px,486.818px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(73.526px,486.818px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(73.526px,486.818px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(73.526px,486.818px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:97.69px;
}
#_idContainer059 {
height:104.52px;
left:0px;
position:absolute;
top:0px;
transform:translate(73.193px,368.786px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(73.193px,368.786px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(73.193px,368.786px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(73.193px,368.786px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(73.193px,368.786px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:108.18px;
}
#_idContainer064 {
height:15.40px;
left:0px;
position:absolute;
top:0px;
transform:translate(314.978px,486.818px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(314.978px,486.818px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(314.978px,486.818px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(314.978px,486.818px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(314.978px,486.818px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:97.69px;
}
#_idContainer065 {
height:104.52px;
left:0px;
position:absolute;
top:0px;
transform:translate(314.645px,368.786px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(314.645px,368.786px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(314.645px,368.786px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(314.645px,368.786px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(314.645px,368.786px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:108.18px;
}
#_idContainer070 {
height:15.40px;
left:0px;
position:absolute;
top:0px;
transform:translate(198.190px,486.818px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(198.190px,486.818px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(198.190px,486.818px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(198.190px,486.818px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(198.190px,486.818px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:97.69px;
}
#_idContainer071 {
height:104.52px;
left:0px;
position:absolute;
top:0px;
transform:translate(197.858px,368.786px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(197.858px,368.786px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(197.858px,368.786px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(197.858px,368.786px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(197.858px,368.786px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:108.18px;
}
#_idContainer076 {
height:15.40px;
left:0px;
position:absolute;
top:0px;
transform:translate(439.643px,486.818px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(439.643px,486.818px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(439.643px,486.818px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(439.643px,486.818px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(439.643px,486.818px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:97.69px;
}
#_idContainer077 {
height:104.52px;
left:0px;
position:absolute;
top:0px;
transform:translate(439.310px,368.786px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(439.310px,368.786px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(439.310px,368.786px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(439.310px,368.786px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(439.310px,368.786px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:108.18px;
}
#_idContainer081 {
background-image:url(../image/50.png);
background-repeat:no-repeat;
background-size:cover;
height:250.02px;
left:0px;
position:absolute;
top:0px;
transform:translate(51.748px,112.400px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(51.748px,112.400px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(51.748px,112.400px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(51.748px,112.400px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(51.748px,112.400px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:508.52px;
}
#_idContainer084 {
height:20.98px;
left:0px;
position:absolute;
top:0px;
transform:translate(51.748px,363.289px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(51.748px,363.289px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(51.748px,363.289px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(51.748px,363.289px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(51.748px,363.289px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:491.98px;
}
#_idContainer085 {
height:20.98px;
left:0px;
position:absolute;
top:0px;
transform:translate(51.748px,477.995px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(51.748px,477.995px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(51.748px,477.995px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(51.748px,477.995px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(51.748px,477.995px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:492.63px;
}
#_idContainer086 {
background-image:url(../image/55.png);
background-repeat:no-repeat;
background-size:cover;
height:317.84px;
left:0px;
position:absolute;
top:0px;
transform:translate(51.748px,498.738px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(51.748px,498.738px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(51.748px,498.738px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(51.748px,498.738px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(51.748px,498.738px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:519.43px;
}
#_idContainer087 {
height:66.44px;
left:0px;
position:absolute;
top:0px;
transform:translate(79.878px,390.319px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(79.878px,390.319px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(79.878px,390.319px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(79.878px,390.319px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(79.878px,390.319px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:92.05px;
}
#_idContainer088 {
height:66.44px;
left:0px;
position:absolute;
top:0px;
transform:translate(326.344px,390.319px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(326.344px,390.319px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(326.344px,390.319px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(326.344px,390.319px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(326.344px,390.319px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:92.05px;
}
#_idContainer089 {
height:66.44px;
left:0px;
position:absolute;
top:0px;
transform:translate(203.111px,390.319px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(203.111px,390.319px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(203.111px,390.319px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(203.111px,390.319px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(203.111px,390.319px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:92.05px;
}
#_idContainer090 {
height:66.44px;
left:0px;
position:absolute;
top:0px;
transform:translate(449.576px,390.319px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(449.576px,390.319px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(449.576px,390.319px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(449.576px,390.319px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(449.576px,390.319px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:92.05px;
}
#_idContainer094, #_idContainer099, #_idContainer104, #_idContainer109 {
height:1.00px;
left:0px;
position:absolute;
top:0px;
transform:translate(16.083px,14.980px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(16.083px,14.980px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(16.083px,14.980px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(16.083px,14.980px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(16.083px,14.980px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:89.22px;
}
#_idContainer095 {
height:16.28px;
left:0px;
position:absolute;
top:0px;
transform:translate(77.600px,457.940px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(77.600px,457.940px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(77.600px,457.940px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(77.600px,457.940px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(77.600px,457.940px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:105.30px;
}
#_idContainer100 {
height:16.28px;
left:0px;
position:absolute;
top:0px;
transform:translate(319.083px,457.940px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(319.083px,457.940px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(319.083px,457.940px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(319.083px,457.940px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(319.083px,457.940px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:105.30px;
}
#_idContainer105 {
height:16.28px;
left:0px;
position:absolute;
top:0px;
transform:translate(198.341px,457.940px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(198.341px,457.940px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(198.341px,457.940px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(198.341px,457.940px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(198.341px,457.940px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:105.30px;
}
#_idContainer110 {
height:16.28px;
left:0px;
position:absolute;
top:0px;
transform:translate(437.825px,457.940px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(437.825px,457.940px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(437.825px,457.940px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(437.825px,457.940px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(437.825px,457.940px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:105.30px;
}
#_idContainer114 {
background-image:url(../image/70.png);
background-repeat:no-repeat;
background-size:cover;
height:183.67px;
left:0px;
position:absolute;
top:0px;
transform:translate(52.023px,112.400px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(52.023px,112.400px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(52.023px,112.400px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(52.023px,112.400px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(52.023px,112.400px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:492.61px;
}
#_idContainer117 {
height:20.98px;
left:0px;
position:absolute;
top:0px;
transform:translate(52.430px,308.904px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(52.430px,308.904px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(52.430px,308.904px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(52.430px,308.904px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(52.430px,308.904px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:492.63px;
}
#_idContainer118 {
background-image:url(../image/74.png);
background-repeat:no-repeat;
background-size:cover;
height:245.90px;
left:0px;
position:absolute;
top:0px;
transform:translate(52.430px,326.646px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(52.430px,326.646px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(52.430px,326.646px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(52.430px,326.646px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(52.430px,326.646px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:492.63px;
}
#_idContainer119 {
height:20.98px;
left:0px;
position:absolute;
top:0px;
transform:translate(49.889px,585.967px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(49.889px,585.967px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(49.889px,585.967px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(49.889px,585.967px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(49.889px,585.967px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:491.98px;
}
#_idContainer120, #_idContainer127, #_idContainer134, #_idContainer141 {
height:93.54px;
left:0px;
position:absolute;
top:0px;
transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:111.70px;
}
#_idContainer124, #_idContainer131, #_idContainer138, #_idContainer145 {
height:1.00px;
left:0px;
position:absolute;
top:0px;
transform:translate(16.083px,14.980px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(16.083px,14.980px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(16.083px,14.980px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(16.083px,14.980px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(16.083px,14.980px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:97.16px;
}
#_idContainer125, #_idContainer132, #_idContainer139, #_idContainer146 {
height:16.28px;
left:0px;
position:absolute;
top:0px;
transform:translate(0.000px,97.053px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(0.000px,97.053px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(0.000px,97.053px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(0.000px,97.053px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(0.000px,97.053px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:113.24px;
}
#_idContainer126 {
height:113.33px;
left:0px;
position:absolute;
top:0px;
transform:translate(74.409px,612.456px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(74.409px,612.456px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(74.409px,612.456px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(74.409px,612.456px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(74.409px,612.456px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:113.24px;
}
#_idContainer133 {
height:113.33px;
left:0px;
position:absolute;
top:0px;
transform:translate(192.850px,612.456px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(192.850px,612.456px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(192.850px,612.456px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(192.850px,612.456px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(192.850px,612.456px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:113.24px;
}
#_idContainer140 {
height:113.33px;
left:0px;
position:absolute;
top:0px;
transform:translate(311.291px,612.456px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(311.291px,612.456px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(311.291px,612.456px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(311.291px,612.456px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(311.291px,612.456px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:113.24px;
}
#_idContainer147 {
height:113.33px;
left:0px;
position:absolute;
top:0px;
transform:translate(429.732px,612.456px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(429.732px,612.456px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(429.732px,612.456px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(429.732px,612.456px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(429.732px,612.456px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:113.24px;
}
img._idGenObjectAttribute-1 {
height:100.00%;
min-width:100%;
width:100.00%;
}
img._idGenObjectAttribute-2 {
left:0px;
position:absolute;
top:0px;
}
img._idGenObjectAttribute-3 {
height:100.00%;
min-width:100%;
transform:translate(-0.641%,-1.426%) rotate(0.000deg) skew(0.000deg) scale(1.165,1.031);
-webkit-transform:translate(-0.641%,-1.426%) rotate(0.000deg) skew(0.000deg) scale(1.165,1.031);
-ms-transform:translate(-0.641%,-1.426%) rotate(0.000deg) skew(0.000deg) scale(1.165,1.031);
-o-transform:translate(-0.641%,-1.426%) rotate(0.000deg) skew(0.000deg) scale(1.165,1.031);
-moz-transform:translate(-0.641%,-1.426%) rotate(0.000deg) skew(0.000deg) scale(1.165,1.031);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:100.00%;
}
div._idGenObjectAttribute-4 {
height:74px;
left:0px;
overflow:hidden;
position:absolute;
top:0px;
width:102px;
}
div._idGenObjectStyle-Disabled {
background-color:transparent;
border-width:0px;
}
