.d_1_Activity_1-1_1
{position:absolute;overflow:hidden;left: 0px;top:0px;transform:translate(612px,0.00px);-webkit-transform:translate(612px,0.00px);-ms-transform:translate(612px,0.00px);-o-transform:translate(612px,0.00px);-moz-transform:translate(612px,0.00px);width:595.28px;height:841.89px;}
.d_1_Activity_1-1_2
{
width:8516.68px;
height:1176.38px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,7.44px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,7.44px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,7.44px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,7.44px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,7.44px) rotate(0deg) scale(0.05);
}
.d_1_Activity_1-1_3
{
width:9127.56px;
height:603.6px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.26px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.26px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.26px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.26px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.26px) rotate(0deg) scale(0.05);
}
.d_1_Activity_1-1_4
{
width:2347.09px;
height:361.77px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.26px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.26px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.26px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.26px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.26px) rotate(0deg) scale(0.05);
}
.d_1_Activity_1-1_5
{
width:3761.57px;
height:311.5px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_1_Activity_1-1_6
{
width:3761.57px;
height:311.5px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_1_Activity_1-1_7
{
width:6007.59px;
height:183.6px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_1_Activity_1-1_8
{
width:1761.57px;
height:311.5px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_1_Activity_1-1_9
{
width:1761.57px;
height:311.5px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_1_Activity_1-1_10
{
width:467.72px;
height:199.34px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_1_Activity_1-1_11
{
width:5098.04px;
height:334.75px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_1_Activity_1-1_12
{
width:456.38px;
height:206.29px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_1_Activity_1-1_13
{
width:5939.24px;
height:543.6px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_1_Activity_1-1_14
{
width:458.65px;
height:183.6px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_1_Activity_1-1_15
{
width:5364.78px;
height:266.63px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_1_Activity_1-1_16
{
width:450.14px;
height:199.49px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_1_Activity_1-1_17
{
width:4595.57px;
height:543.6px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_1_Activity_1-1_18
{
width:453.54px;
height:196.05px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_1_Activity_1-1_19
{
width:4176.38px;
height:543.6px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_1_Activity_1-1_20
{
width:456.94px;
height:192.87px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_1_Activity_1-1_21
{
width:8655.29px;
height:292.93px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.83px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.83px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.83px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.83px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.83px) rotate(0deg) scale(0.05);
}
.d_1_Activity_1-1_22
{
width:455.24px;
height:183.6px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_1_Activity_1-1_23
{
width:4868.98px;
height:543.6px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_1_Activity_1-1_24
{
width:353.86px;
height:279.6px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_1_Activity_1-1_25
{
width:6256.39px;
height:903.6px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_1_Activity_1-1_26
{
width:456.38px;
height:199.28px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_1_Activity_1-1_27
{
width:5201.29px;
height:298.32px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_1_Activity_1-1_28
{
width:5405.09px;
height:683.6px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_1_Activity_1-1_29
{
width:560.18px;
height:401.47px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,1.09px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,1.09px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,1.09px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,1.09px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,1.09px) rotate(0deg) scale(0.05);
}
.s_1_Activity_1-1_30
{
position:absolute;
top:-19.61px;
left:0px;
letter-spacing:17.78px;
transform-origin: 0% 552.40px;
-webkit-transform-origin: 0% 552.40px;
-ms-transform-origin: 0% 552.40px;
-o-transform-origin: 0% 552.40px;
-moz-transform-origin: 0% 552.40px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Activity_1-1_31
{
position:absolute;
top:-19.61px;
left:2326.98px;
letter-spacing:13.33px;
transform-origin: 0% 552.40px;
-webkit-transform-origin: 0% 552.40px;
-ms-transform-origin: 0% 552.40px;
-o-transform-origin: 0% 552.40px;
-moz-transform-origin: 0% 552.40px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Activity_1-1_32
{
position:absolute;
top:-19.61px;
left:2823.51px;
letter-spacing:17.14px;
transform-origin: 0% 552.40px;
-webkit-transform-origin: 0% 552.40px;
-ms-transform-origin: 0% 552.40px;
-o-transform-origin: 0% 552.40px;
-moz-transform-origin: 0% 552.40px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Activity_1-1_33
{
position:absolute;
top:-19.61px;
left:4968.72px;
letter-spacing:17.5px;
transform-origin: 0% 552.40px;
-webkit-transform-origin: 0% 552.40px;
-ms-transform-origin: 0% 552.40px;
-o-transform-origin: 0% 552.40px;
-moz-transform-origin: 0% 552.40px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Activity_1-1_34
{
position:absolute;
top:-19.61px;
left:7217.52px;
letter-spacing:15px;
transform-origin: 0% 552.40px;
-webkit-transform-origin: 0% 552.40px;
-ms-transform-origin: 0% 552.40px;
-o-transform-origin: 0% 552.40px;
-moz-transform-origin: 0% 552.40px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Activity_1-1_35
{
position:absolute;
top:-18px;
left:0px;
letter-spacing:-1.08px;
}
.s_1_Activity_1-1_36
{
position:absolute;
top:-18px;
left:627.11px;
}
.s_1_Activity_1-1_37
{
position:absolute;
top:-18px;
left:840.94px;
letter-spacing:-2.4px;
}
.s_1_Activity_1-1_38
{
position:absolute;
top:-18px;
left:1012.54px;
letter-spacing:-0.75px;
}
.s_1_Activity_1-1_39
{
position:absolute;
top:-18px;
left:1711.41px;
}
.s_1_Activity_1-1_40
{
position:absolute;
top:-18px;
left:2174.85px;
letter-spacing:-2.8px;
}
.s_1_Activity_1-1_41
{
position:absolute;
top:-18px;
left:2392.28px;
letter-spacing:-0.99px;
}
.s_1_Activity_1-1_42
{
position:absolute;
top:-18px;
left:3183.56px;
}
.s_1_Activity_1-1_43
{
position:absolute;
top:-18px;
left:3731.47px;
letter-spacing:-0.64px;
}
.s_1_Activity_1-1_44
{
position:absolute;
top:-18px;
left:4228.49px;
}
.s_1_Activity_1-1_45
{
position:absolute;
top:-18px;
left:4459.61px;
letter-spacing:-2.4px;
}
.s_1_Activity_1-1_46
{
position:absolute;
top:-18px;
left:4631.21px;
letter-spacing:-0.99px;
}
.s_1_Activity_1-1_47
{
position:absolute;
top:-18px;
left:5422.48px;
letter-spacing:-5.07px;
}
.s_1_Activity_1-1_48
{
position:absolute;
top:-18px;
left:6050.79px;
letter-spacing:-4.62px;
}
.s_1_Activity_1-1_49
{
position:absolute;
top:-18px;
left:6420.15px;
letter-spacing:-2.4px;
}
.s_1_Activity_1-1_50
{
position:absolute;
top:-18px;
left:6591.75px;
letter-spacing:-0.99px;
}
.s_1_Activity_1-1_51
{
position:absolute;
top:-18px;
left:7383.02px;
letter-spacing:-1.52px;
}
.s_1_Activity_1-1_52
{
position:absolute;
top:-18px;
left:7981.82px;
letter-spacing:-0.88px;
}
.s_1_Activity_1-1_53
{
position:absolute;
top:-18px;
left:8332.94px;
}
.s_1_Activity_1-1_54
{
position:absolute;
top:402px;
left:0px;
}
.s_1_Activity_1-1_55
{
position:absolute;
top:402px;
left:1016.62px;
letter-spacing:-0.56px;
}
.s_1_Activity_1-1_56
{
position:absolute;
top:402px;
left:1581.34px;
letter-spacing:-0.6px;
}
.s_1_Activity_1-1_57
{
position:absolute;
top:402px;
left:2410.52px;
letter-spacing:-1.2px;
}
.s_1_Activity_1-1_58
{
position:absolute;
top:402px;
left:2792.12px;
letter-spacing:-2.4px;
}
.s_1_Activity_1-1_59
{
position:absolute;
top:402px;
left:2963.72px;
}
.s_1_Activity_1-1_60
{
position:absolute;
top:402px;
left:3392.82px;
letter-spacing:-0.96px;
}
.s_1_Activity_1-1_61
{
position:absolute;
top:402px;
left:4118.33px;
letter-spacing:-2.32px;
}
.s_1_Activity_1-1_62
{
position:absolute;
top:402px;
left:4372.49px;
letter-spacing:-0.84px;
}
.s_1_Activity_1-1_63
{
position:absolute;
top:402px;
left:5139.76px;
}
.s_1_Activity_1-1_64
{
position:absolute;
top:402px;
left:5597.68px;
letter-spacing:-0.96px;
}
.s_1_Activity_1-1_65
{
position:absolute;
top:402px;
left:6021.04px;
}
.s_1_Activity_1-1_66
{
position:absolute;
top:402px;
left:6430.23px;
letter-spacing:-1.49px;
}
.s_1_Activity_1-1_67
{
position:absolute;
top:402px;
left:7015.58px;
letter-spacing:-1.2px;
}
.s_1_Activity_1-1_68
{
position:absolute;
top:-18px;
left:0px;
letter-spacing:-0.22px;
}
.s_1_Activity_1-1_69
{
position:absolute;
top:-18px;
left:997.66px;
letter-spacing:-1.2px;
}
.s_1_Activity_1-1_70
{
position:absolute;
top:-18px;
left:0px;
}
.s_1_Activity_1-1_71
{
position:absolute;
top:-18px;
left:467.27px;
text-rendering:optimizeLegibility;
}
.s_1_Activity_1-1_72
{
position:absolute;
top:-18px;
left:1146.22px;
letter-spacing:-2.48px;
}
.s_1_Activity_1-1_73
{
position:absolute;
top:-18px;
left:1426.78px;
}
.s_1_Activity_1-1_74
{
position:absolute;
top:-18px;
left:2147.24px;
letter-spacing:-1.84px;
}
.s_1_Activity_1-1_75
{
position:absolute;
top:-18px;
left:2440.52px;
}
.s_1_Activity_1-1_76
{
position:absolute;
top:-18px;
left:0px;
}
.s_1_Activity_1-1_77
{
position:absolute;
top:-18px;
left:470.63px;
}
.s_1_Activity_1-1_78
{
position:absolute;
top:-18px;
left:1095.58px;
letter-spacing:-1.84px;
}
.s_1_Activity_1-1_79
{
position:absolute;
top:-18px;
left:2051.97px;
}
.s_1_Activity_1-1_80
{
position:absolute;
top:-18px;
left:2588.36px;
}
.s_1_Activity_1-1_81
{
position:absolute;
top:-18px;
left:0px;
letter-spacing:-0.37px;
}
.s_1_Activity_1-1_82
{
position:absolute;
top:-18px;
left:1250.14px;
letter-spacing:-1.68px;
}
.s_1_Activity_1-1_83
{
position:absolute;
top:-18px;
left:1664.37px;
}
.s_1_Activity_1-1_84
{
position:absolute;
top:-18px;
left:2825.71px;
}
.s_1_Activity_1-1_85
{
position:absolute;
top:-18px;
left:3666.9px;
letter-spacing:-1.22px;
}
.s_1_Activity_1-1_86
{
position:absolute;
top:-18px;
left:4867.84px;
}
.s_1_Activity_1-1_87
{
position:absolute;
top:-18px;
left:5339.68px;
}
.s_1_Activity_1-1_88
{
position:absolute;
top:-18px;
left:383.75px;
}
.s_1_Activity_1-1_89
{
position:absolute;
top:-18px;
left:854.39px;
letter-spacing:-0.72px;
}
.s_1_Activity_1-1_90
{
position:absolute;
top:-18px;
left:563.99px;
letter-spacing:-1.63px;
}
.s_1_Activity_1-1_91
{
position:absolute;
top:-18px;
left:179.5px;
letter-spacing:-1.56px;
}
.s_1_Activity_1-1_92
{
position:absolute;
top:-18px;
left:0px;
letter-spacing:-6.72px;
}
.s_1_Activity_1-1_93
{
position:absolute;
top:-18px;
left:544.08px;
}
.s_1_Activity_1-1_94
{
position:absolute;
top:-18px;
left:963.35px;
}
.s_1_Activity_1-1_95
{
position:absolute;
top:-18px;
left:1678.06px;
letter-spacing:-0.96px;
}
.s_1_Activity_1-1_96
{
position:absolute;
top:-18px;
left:2136.93px;
letter-spacing:-0.82px;
}
.s_1_Activity_1-1_97
{
position:absolute;
top:-18px;
left:2742.21px;
}
.s_1_Activity_1-1_98
{
position:absolute;
top:-18px;
left:3031.64px;
letter-spacing:-0.93px;
}
.s_1_Activity_1-1_99
{
position:absolute;
top:-18px;
left:3801.54px;
}
.s_1_Activity_1-1_100
{
position:absolute;
top:-18px;
left:4056.9px;
letter-spacing:-3px;
}
.s_1_Activity_1-1_101
{
position:absolute;
top:-18px;
left:4248.41px;
letter-spacing:-0.48px;
}
.s_1_Activity_1-1_102
{
position:absolute;
top:-18px;
left:138.79px;
}
.s_1_Activity_1-1_103
{
position:absolute;
top:-18px;
left:0px;
letter-spacing:-1.92px;
}
.s_1_Activity_1-1_104
{
position:absolute;
top:-18px;
left:652.31px;
}
.s_1_Activity_1-1_105
{
position:absolute;
top:-18px;
left:1071.58px;
}
.s_1_Activity_1-1_106
{
position:absolute;
top:-18px;
left:1792.05px;
letter-spacing:-1.38px;
}
.s_1_Activity_1-1_107
{
position:absolute;
top:-18px;
left:2234.85px;
}
.s_1_Activity_1-1_108
{
position:absolute;
top:-18px;
left:2898.44px;
}
.s_1_Activity_1-1_109
{
position:absolute;
top:-18px;
left:3149.23px;
letter-spacing:-2.13px;
}
.s_1_Activity_1-1_110
{
position:absolute;
top:-18px;
left:3897.78px;
letter-spacing:-0.24px;
}
.s_1_Activity_1-1_111
{
position:absolute;
top:-18px;
left:4544.57px;
}
.s_1_Activity_1-1_112
{
position:absolute;
top:-18px;
left:4959.28px;
letter-spacing:-2.13px;
}
.s_1_Activity_1-1_113
{
position:absolute;
top:-18px;
left:140.17px;
letter-spacing:-1.2px;
}
.s_1_Activity_1-1_114
{
position:absolute;
top:-18px;
left:0px;
letter-spacing:-2.36px;
}
.s_1_Activity_1-1_115
{
position:absolute;
top:-18px;
left:689.75px;
}
.s_1_Activity_1-1_116
{
position:absolute;
top:-18px;
left:1109.02px;
letter-spacing:-1.38px;
}
.s_1_Activity_1-1_117
{
position:absolute;
top:-18px;
left:1447.41px;
}
.s_1_Activity_1-1_118
{
position:absolute;
top:-18px;
left:1983.8px;
letter-spacing:-3px;
}
.s_1_Activity_1-1_119
{
position:absolute;
top:-18px;
left:2175.32px;
}
.s_1_Activity_1-1_120
{
position:absolute;
top:-18px;
left:2490.43px;
}
.s_1_Activity_1-1_121
{
position:absolute;
top:-18px;
left:2962.27px;
}
.s_1_Activity_1-1_122
{
position:absolute;
top:-18px;
left:3301.86px;
}
.s_1_Activity_1-1_123
{
position:absolute;
top:-18px;
left:3508.73px;
}
.s_1_Activity_1-1_124
{
position:absolute;
top:-18px;
left:4078.96px;
letter-spacing:-0.55px;
}
.s_1_Activity_1-1_125
{
position:absolute;
top:-18px;
left:133.87px;
letter-spacing:-1.92px;
}
.s_1_Activity_1-1_126
{
position:absolute;
top:-18px;
left:0px;
letter-spacing:-0.36px;
}
.s_1_Activity_1-1_127
{
position:absolute;
top:-18px;
left:421.43px;
}
.s_1_Activity_1-1_128
{
position:absolute;
top:-18px;
left:840.7px;
}
.s_1_Activity_1-1_129
{
position:absolute;
top:-18px;
left:1561.17px;
}
.s_1_Activity_1-1_130
{
position:absolute;
top:-18px;
left:1816.53px;
letter-spacing:-3px;
}
.s_1_Activity_1-1_131
{
position:absolute;
top:-18px;
left:2008.04px;
letter-spacing:-1.38px;
}
.s_1_Activity_1-1_132
{
position:absolute;
top:-18px;
left:2351px;
}
.s_1_Activity_1-1_133
{
position:absolute;
top:-18px;
left:2822.83px;
}
.s_1_Activity_1-1_134
{
position:absolute;
top:-18px;
left:3294.66px;
letter-spacing:-1.36px;
}
.s_1_Activity_1-1_135
{
position:absolute;
top:-18px;
left:3989.45px;
}
.s_1_Activity_1-1_136
{
position:absolute;
top:-18px;
left:4306.72px;
}
.s_1_Activity_1-1_137
{
position:absolute;
top:342px;
left:0px;
}
.s_1_Activity_1-1_138
{
position:absolute;
top:342px;
left:237.11px;
}
.s_1_Activity_1-1_139
{
position:absolute;
top:342px;
left:707.75px;
}
.s_1_Activity_1-1_140
{
position:absolute;
top:342px;
left:1219.9px;
letter-spacing:-0.68px;
}
.s_1_Activity_1-1_141
{
position:absolute;
top:342px;
left:1941.09px;
}
.s_1_Activity_1-1_142
{
position:absolute;
top:342px;
left:2360.36px;
}
.s_1_Activity_1-1_143
{
position:absolute;
top:-18px;
left:138.81px;
letter-spacing:-1.92px;
}
.s_1_Activity_1-1_144
{
position:absolute;
top:-18px;
left:0px;
}
.s_1_Activity_1-1_145
{
position:absolute;
top:-18px;
left:261.12px;
}
.s_1_Activity_1-1_146
{
position:absolute;
top:-18px;
left:680.39px;
}
.s_1_Activity_1-1_147
{
position:absolute;
top:-18px;
left:1703.5px;
letter-spacing:-0.96px;
}
.s_1_Activity_1-1_148
{
position:absolute;
top:-18px;
left:2162.37px;
}
.s_1_Activity_1-1_149
{
position:absolute;
top:-18px;
left:2584.52px;
text-rendering:optimizeLegibility;
}
.s_1_Activity_1-1_150
{
position:absolute;
top:-18px;
left:3055.16px;
}
.s_1_Activity_1-1_151
{
position:absolute;
top:-18px;
left:3556.26px;
}
.s_1_Activity_1-1_152
{
position:absolute;
top:342px;
left:0px;
}
.s_1_Activity_1-1_153
{
position:absolute;
top:342px;
left:720.47px;
letter-spacing:-1.62px;
}
.s_1_Activity_1-1_154
{
position:absolute;
top:342px;
left:1139.98px;
letter-spacing:-0.63px;
}
.s_1_Activity_1-1_155
{
position:absolute;
top:-18px;
left:134.99px;
letter-spacing:-1.92px;
}
.s_1_Activity_1-1_156
{
position:absolute;
top:27.9px;
left:0px;
letter-spacing:-1.17px;
}
.s_1_Activity_1-1_157
{
position:absolute;
top:27.9px;
left:941.99px;
}
.s_1_Activity_1-1_158
{
position:absolute;
top:27.9px;
left:1245.82px;
}
.s_1_Activity_1-1_159
{
position:absolute;
top:27.9px;
left:1660.53px;
letter-spacing:-1.36px;
}
.s_1_Activity_1-1_160
{
position:absolute;
top:27.9px;
left:2359.4px;
}
.s_1_Activity_1-1_161
{
position:absolute;
top:27.9px;
left:2831.24px;
}
.s_1_Activity_1-1_162
{
position:absolute;
top:27.9px;
left:3456.67px;
}
.s_1_Activity_1-1_163
{
position:absolute;
top:27.9px;
left:3875.94px;
}
.s_1_Activity_1-1_164
{
position:absolute;
top:27.9px;
left:4247.45px;
letter-spacing:-2.21px;
}
.s_1_Activity_1-1_165
{
position:absolute;
top:27.9px;
left:4899.05px;
letter-spacing:-1.3px;
}
.s_1_Activity_1-1_166
{
position:absolute;
top:27.9px;
left:5434.24px;
letter-spacing:-1.08px;
}
.s_1_Activity_1-1_167
{
position:absolute;
top:27.9px;
left:6075.51px;
}
.s_1_Activity_1-1_168
{
position:absolute;
top:27.9px;
left:6312.62px;
}
.s_1_Activity_1-1_169
{
position:absolute;
top:27.9px;
left:6645.97px;
letter-spacing:-1.36px;
}
.s_1_Activity_1-1_170
{
position:absolute;
top:27.9px;
left:7344.84px;
}
.s_1_Activity_1-1_171
{
position:absolute;
top:-22.5px;
left:7760.51px;
}
.s_1_Activity_1-1_172
{
position:absolute;
top:-18px;
left:130.78px;
letter-spacing:-1.8px;
}
.s_1_Activity_1-1_173
{
position:absolute;
top:-18px;
left:0px;
letter-spacing:-2.04px;
}
.s_1_Activity_1-1_174
{
position:absolute;
top:-18px;
left:602.38px;
letter-spacing:-4.14px;
}
.s_1_Activity_1-1_175
{
position:absolute;
top:-18px;
left:1036.3px;
letter-spacing:-1.52px;
}
.s_1_Activity_1-1_176
{
position:absolute;
top:-18px;
left:1662.69px;
letter-spacing:-0.96px;
}
.s_1_Activity_1-1_177
{
position:absolute;
top:-18px;
left:2121.56px;
}
.s_1_Activity_1-1_178
{
position:absolute;
top:-18px;
left:2547.07px;
}
.s_1_Activity_1-1_179
{
position:absolute;
top:-18px;
left:2994.43px;
}
.s_1_Activity_1-1_180
{
position:absolute;
top:-18px;
left:4015.85px;
letter-spacing:-0.81px;
}
.s_1_Activity_1-1_181
{
position:absolute;
top:342px;
left:0px;
}
.s_1_Activity_1-1_182
{
position:absolute;
top:342px;
left:251.28px;
}
.s_1_Activity_1-1_183
{
position:absolute;
top:342px;
left:670.55px;
letter-spacing:-0.58px;
}
.s_1_Activity_1-1_184
{
position:absolute;
top:-18px;
left:84.17px;
letter-spacing:-3.72px;
}
.s_1_Activity_1-1_185
{
position:absolute;
top:-18px;
left:0px;
letter-spacing:-5.28px;
}
.s_1_Activity_1-1_186
{
position:absolute;
top:-18px;
left:457.67px;
}
.s_1_Activity_1-1_187
{
position:absolute;
top:-18px;
left:911.99px;
letter-spacing:-0.72px;
}
.s_1_Activity_1-1_188
{
position:absolute;
top:-18px;
left:1441.66px;
}
.s_1_Activity_1-1_189
{
position:absolute;
top:-18px;
left:1854.21px;
}
.s_1_Activity_1-1_190
{
position:absolute;
top:-18px;
left:2273.48px;
letter-spacing:-0.81px;
}
.s_1_Activity_1-1_191
{
position:absolute;
top:-18px;
left:3160.02px;
letter-spacing:-3.12px;
}
.s_1_Activity_1-1_192
{
position:absolute;
top:-18px;
left:3483.54px;
}
.s_1_Activity_1-1_193
{
position:absolute;
top:-18px;
left:4284.89px;
}
.s_1_Activity_1-1_194
{
position:absolute;
top:-18px;
left:4698.4px;
letter-spacing:-0.37px;
}
.s_1_Activity_1-1_195
{
position:absolute;
top:-18px;
left:5948.54px;
letter-spacing:-2.48px;
}
.s_1_Activity_1-1_196
{
position:absolute;
top:342px;
left:0px;
letter-spacing:-1.87px;
}
.s_1_Activity_1-1_197
{
position:absolute;
top:342px;
left:553.67px;
letter-spacing:-0.38px;
}
.s_1_Activity_1-1_198
{
position:absolute;
top:342px;
left:1320.7px;
letter-spacing:-1.68px;
}
.s_1_Activity_1-1_199
{
position:absolute;
top:342px;
left:1735.66px;
text-rendering:optimizeLegibility;
letter-spacing:-0.82px;
}
.s_1_Activity_1-1_200
{
position:absolute;
top:342px;
left:2381.97px;
}
.s_1_Activity_1-1_201
{
position:absolute;
top:342px;
left:2786.84px;
}
.s_1_Activity_1-1_202
{
position:absolute;
top:342px;
left:3948.18px;
}
.s_1_Activity_1-1_203
{
position:absolute;
top:342px;
left:4789.37px;
letter-spacing:-1.84px;
}
.s_1_Activity_1-1_204
{
position:absolute;
top:342px;
left:5082.64px;
letter-spacing:-1.22px;
}
.s_1_Activity_1-1_205
{
position:absolute;
top:702px;
left:0px;
letter-spacing:-0.78px;
}
.s_1_Activity_1-1_206
{
position:absolute;
top:702px;
left:490.55px;
}
.s_1_Activity_1-1_207
{
position:absolute;
top:702px;
left:1005.1px;
letter-spacing:-1.53px;
}
.s_1_Activity_1-1_208
{
position:absolute;
top:702px;
left:1895.72px;
}
.s_1_Activity_1-1_209
{
position:absolute;
top:702px;
left:2367.56px;
}
.s_1_Activity_1-1_210
{
position:absolute;
top:702px;
left:3100.75px;
letter-spacing:-0.38px;
}
.s_1_Activity_1-1_211
{
position:absolute;
top:702px;
left:3719.22px;
letter-spacing:-2.4px;
}
.s_1_Activity_1-1_212
{
position:absolute;
top:702px;
left:4093.37px;
letter-spacing:-1.3px;
}
.s_1_Activity_1-1_213
{
position:absolute;
top:702px;
left:4722.41px;
text-rendering:optimizeLegibility;
letter-spacing:-2.7px;
}
.s_1_Activity_1-1_214
{
position:absolute;
top:-18px;
left:154.27px;
letter-spacing:-10.08px;
}
.s_1_Activity_1-1_215
{
position:absolute;
top:-18px;
left:0px;
letter-spacing:-2.36px;
}
.s_1_Activity_1-1_216
{
position:absolute;
top:-18px;
left:689.75px;
}
.s_1_Activity_1-1_217
{
position:absolute;
top:-18px;
left:1109.02px;
letter-spacing:-1.38px;
}
.s_1_Activity_1-1_218
{
position:absolute;
top:-18px;
left:1451.97px;
}
.s_1_Activity_1-1_219
{
position:absolute;
top:-18px;
left:1923.8px;
letter-spacing:-1.68px;
}
.s_1_Activity_1-1_220
{
position:absolute;
top:-18px;
left:2503.64px;
}
.s_1_Activity_1-1_221
{
position:absolute;
top:-18px;
left:2710.51px;
letter-spacing:-1.68px;
}
.s_1_Activity_1-1_222
{
position:absolute;
top:-18px;
left:3124.75px;
}
.s_1_Activity_1-1_223
{
position:absolute;
top:-18px;
left:3579.78px;
letter-spacing:-2.4px;
}
.s_1_Activity_1-1_224
{
position:absolute;
top:-18px;
left:3953.93px;
letter-spacing:-4.14px;
}
.s_1_Activity_1-1_225
{
position:absolute;
top:-18px;
left:4387.84px;
letter-spacing:-1.82px;
}
.s_1_Activity_1-1_226
{
position:absolute;
top:-18px;
left:0px;
letter-spacing:-5.33px;
}
.s_1_Activity_1-1_227
{
position:absolute;
top:-18px;
left:547.91px;
letter-spacing:-0.81px;
}
.s_1_Activity_1-1_228
{
position:absolute;
top:-18px;
left:1434.45px;
letter-spacing:-1.62px;
}
.s_1_Activity_1-1_229
{
position:absolute;
top:-18px;
left:1853.96px;
letter-spacing:-0.72px;
}
.s_1_Activity_1-1_230
{
position:absolute;
top:-18px;
left:2383.64px;
letter-spacing:-2.04px;
}
.s_1_Activity_1-1_231
{
position:absolute;
top:-18px;
left:3061.63px;
}
.s_1_Activity_1-1_232
{
position:absolute;
top:-18px;
left:3351.06px;
}
.s_1_Activity_1-1_233
{
position:absolute;
top:-18px;
left:3824.09px;
letter-spacing:-1.84px;
}
.s_1_Activity_1-1_234
{
position:absolute;
top:-18px;
left:4462.97px;
letter-spacing:-1.87px;
}
.s_1_Activity_1-1_235
{
position:absolute;
top:342px;
left:0px;
}
.s_1_Activity_1-1_236
{
position:absolute;
top:342px;
left:592.79px;
}
.s_1_Activity_1-1_237
{
position:absolute;
top:342px;
left:1064.63px;
letter-spacing:-1.08px;
}
.s_1_Activity_1-1_238
{
position:absolute;
top:342px;
left:1735.66px;
}
.s_1_Activity_1-1_239
{
position:absolute;
top:342px;
left:1937.97px;
}
.s_1_Activity_1-1_240
{
position:absolute;
top:342px;
left:2468.6px;
letter-spacing:-1.87px;
}
.s_1_Activity_1-1_241
{
position:absolute;
top:342px;
left:3018.91px;
}
.s_1_Activity_1-1_242
{
position:absolute;
top:54.33px;
left:125.86px;
}
