.d_1_Activity_1-2_1
{position:absolute;overflow:hidden;left: 0px;top:0px;transform:translate(0.00px,0.00px);-webkit-transform:translate(0.00px,0.00px);-ms-transform:translate(0.00px,0.00px);-o-transform:translate(0.00px,0.00px);-moz-transform:translate(0.00px,0.00px);width:612.28px;height:841.89px;}
.d_1_Activity_1-2_2
{
width:9864.57px;
height:907.25px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,7.44px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,7.44px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,7.44px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,7.44px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,7.44px) rotate(0deg) scale(0.05);
}
.d_1_Activity_1-2_3
{
width:9528.82px;
height:603.6px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.26px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.26px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.26px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.26px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.26px) rotate(0deg) scale(0.05);
}
.d_1_Activity_1-2_4
{
width:9137.56px;
height:6757.14px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_1_Activity_1-2_5
{
width:6647.24px;
height:1521px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,7.63px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,7.63px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,7.63px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,7.63px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,7.63px) rotate(0deg) scale(0.05);
}
.d_1_Activity_1-2_6
{
width:560.18px;
height:401.47px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,1.09px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,1.09px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,1.09px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,1.09px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,1.09px) rotate(0deg) scale(0.05);
}
.s_1_Activity_1-2_7
{
position:absolute;
top:-19.61px;
left:2404.81px;
letter-spacing:17.78px;
transform-origin: 0% 552.40px;
-webkit-transform-origin: 0% 552.40px;
-ms-transform-origin: 0% 552.40px;
-o-transform-origin: 0% 552.40px;
-moz-transform-origin: 0% 552.40px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Activity_1-2_8
{
position:absolute;
top:-19.61px;
left:4731.8px;
letter-spacing:13.33px;
transform-origin: 0% 552.40px;
-webkit-transform-origin: 0% 552.40px;
-ms-transform-origin: 0% 552.40px;
-o-transform-origin: 0% 552.40px;
-moz-transform-origin: 0% 552.40px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Activity_1-2_9
{
position:absolute;
top:-19.61px;
left:5425.47px;
letter-spacing:13.33px;
transform-origin: 0% 552.40px;
-webkit-transform-origin: 0% 552.40px;
-ms-transform-origin: 0% 552.40px;
-o-transform-origin: 0% 552.40px;
-moz-transform-origin: 0% 552.40px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Activity_1-2_10
{
position:absolute;
top:-19.61px;
left:6437.27px;
letter-spacing:15px;
transform-origin: 0% 552.40px;
-webkit-transform-origin: 0% 552.40px;
-ms-transform-origin: 0% 552.40px;
-o-transform-origin: 0% 552.40px;
-moz-transform-origin: 0% 552.40px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Activity_1-2_11
{
position:absolute;
top:-18px;
left:0px;
letter-spacing:-3.48px;
}
.s_1_Activity_1-2_12
{
position:absolute;
top:-18px;
left:188.64px;
}
.s_1_Activity_1-2_13
{
position:absolute;
top:-18px;
left:681.59px;
}
.s_1_Activity_1-2_14
{
position:absolute;
top:-18px;
left:895.42px;
letter-spacing:-2.4px;
}
.s_1_Activity_1-2_15
{
position:absolute;
top:-18px;
left:1067.02px;
letter-spacing:-0.22px;
}
.s_1_Activity_1-2_16
{
position:absolute;
top:-18px;
left:2176.29px;
}
.s_1_Activity_1-2_17
{
position:absolute;
top:-18px;
left:2598.68px;
}
.s_1_Activity_1-2_18
{
position:absolute;
top:-18px;
left:3225.07px;
letter-spacing:-0.64px;
}
.s_1_Activity_1-2_19
{
position:absolute;
top:-18px;
left:4756.72px;
letter-spacing:-2.32px;
}
.s_1_Activity_1-2_20
{
position:absolute;
top:-18px;
left:5010.88px;
letter-spacing:-2.4px;
}
.s_1_Activity_1-2_21
{
position:absolute;
top:-18px;
left:5182.48px;
letter-spacing:-0.27px;
}
.s_1_Activity_1-2_22
{
position:absolute;
top:-18px;
left:5820.87px;
letter-spacing:-1.52px;
}
.s_1_Activity_1-2_23
{
position:absolute;
top:-18px;
left:6284.54px;
letter-spacing:-1.76px;
}
.s_1_Activity_1-2_24
{
position:absolute;
top:-18px;
left:6549.98px;
letter-spacing:-1.23px;
}
.s_1_Activity_1-2_25
{
position:absolute;
top:-18px;
left:7422.13px;
letter-spacing:-0.56px;
}
.s_1_Activity_1-2_26
{
position:absolute;
top:-18px;
left:7614.85px;
}
.s_1_Activity_1-2_27
{
position:absolute;
top:-18px;
left:8083.08px;
}
.s_1_Activity_1-2_28
{
position:absolute;
top:-18px;
left:8719.79px;
}
.s_1_Activity_1-2_29
{
position:absolute;
top:402px;
left:0px;
}
.s_1_Activity_1-2_30
{
position:absolute;
top:402px;
left:903.11px;
letter-spacing:-0.19px;
}
.s_1_Activity_1-2_31
{
position:absolute;
top:402px;
left:1853.97px;
}
.s_1_Activity_1-2_32
{
position:absolute;
top:402px;
left:2279.48px;
letter-spacing:-0.82px;
}
.s_1_Activity_1-2_33
{
position:absolute;
top:402px;
left:3223.87px;
letter-spacing:-2.26px;
}
.s_1_Activity_1-2_34
{
position:absolute;
top:402px;
left:3912.67px;
}
.s_1_Activity_1-2_35
{
position:absolute;
top:402px;
left:4294.02px;
}
.s_1_Activity_1-2_36
{
position:absolute;
top:402px;
left:4892.09px;
}
.s_1_Activity_1-2_37
{
position:absolute;
top:402px;
left:5320px;
letter-spacing:-1.49px;
}
.s_1_Activity_1-2_38
{
position:absolute;
top:402px;
left:5910.88px;
letter-spacing:-2.4px;
}
.s_1_Activity_1-2_39
{
position:absolute;
top:402px;
left:6082.48px;
}
.s_1_Activity_1-2_40
{
position:absolute;
top:402px;
left:6575.43px;
letter-spacing:-2.32px;
}
.s_1_Activity_1-2_41
{
position:absolute;
top:402px;
left:6824.07px;
letter-spacing:-1.82px;
}
.s_1_Activity_1-2_42
{
position:absolute;
top:402px;
left:7331.19px;
letter-spacing:-1.82px;
}
.s_1_Activity_1-2_43
{
position:absolute;
top:-18px;
left:0px;
letter-spacing:-0.72px;
}
.s_1_Activity_1-2_44
{
position:absolute;
top:-18px;
left:553.43px;
}
.s_1_Activity_1-2_45
{
position:absolute;
top:-18px;
left:735.58px;
letter-spacing:-0.48px;
}
.s_1_Activity_1-2_46
{
position:absolute;
top:-18px;
left:1401.81px;
}
.s_1_Activity_1-2_47
{
position:absolute;
top:-18px;
left:1821.08px;
}
.s_1_Activity_1-2_48
{
position:absolute;
top:-18px;
left:2365.16px;
letter-spacing:-2.48px;
}
.s_1_Activity_1-2_49
{
position:absolute;
top:-18px;
left:2639.96px;
letter-spacing:-1.87px;
}
.s_1_Activity_1-2_50
{
position:absolute;
top:-18px;
left:3193.63px;
letter-spacing:-1.15px;
}
.s_1_Activity_1-2_51
{
position:absolute;
top:-18px;
left:3645.54px;
}
.s_1_Activity_1-2_52
{
position:absolute;
top:-18px;
left:3896.81px;
}
.s_1_Activity_1-2_53
{
position:absolute;
top:-18px;
left:4316.09px;
letter-spacing:-0.44px;
}
.s_1_Activity_1-2_54
{
position:absolute;
top:-18px;
left:5021.44px;
letter-spacing:-0.72px;
}
.s_1_Activity_1-2_55
{
position:absolute;
top:398.69px;
left:0px;
letter-spacing:-0.72px;
}
.s_1_Activity_1-2_56
{
position:absolute;
top:398.69px;
left:553.43px;
}
.s_1_Activity_1-2_57
{
position:absolute;
top:398.69px;
left:802.54px;
letter-spacing:-11.32px;
}
.s_1_Activity_1-2_58
{
position:absolute;
top:398.69px;
left:1421.5px;
}
.s_1_Activity_1-2_59
{
position:absolute;
top:398.69px;
left:1840.77px;
letter-spacing:-0.14px;
}
.s_1_Activity_1-2_60
{
position:absolute;
top:398.69px;
left:2979.79px;
letter-spacing:-0.66px;
}
.s_1_Activity_1-2_61
{
position:absolute;
top:398.69px;
left:5127.77px;
}
.s_1_Activity_1-2_62
{
position:absolute;
top:398.69px;
left:5379.04px;
}
.s_1_Activity_1-2_63
{
position:absolute;
top:398.69px;
left:5798.31px;
letter-spacing:-1.15px;
}
.s_1_Activity_1-2_64
{
position:absolute;
top:398.69px;
left:6250.22px;
}
.s_1_Activity_1-2_65
{
position:absolute;
top:398.69px;
left:6722.06px;
letter-spacing:-1.08px;
}
.s_1_Activity_1-2_66
{
position:absolute;
top:398.69px;
left:7365.49px;
}
.s_1_Activity_1-2_67
{
position:absolute;
top:398.69px;
left:7987.56px;
}
.s_1_Activity_1-2_68
{
position:absolute;
top:398.69px;
left:8523.95px;
letter-spacing:-3px;
}
.s_1_Activity_1-2_69
{
position:absolute;
top:758.69px;
left:802.54px;
letter-spacing:-1.56px;
}
.s_1_Activity_1-2_70
{
position:absolute;
top:758.69px;
left:1560.21px;
}
.s_1_Activity_1-2_71
{
position:absolute;
top:1175.38px;
left:0px;
letter-spacing:-0.72px;
}
.s_1_Activity_1-2_72
{
position:absolute;
top:1175.38px;
left:553.43px;
}
.s_1_Activity_1-2_73
{
position:absolute;
top:1175.38px;
left:809.98px;
letter-spacing:-2.21px;
}
.s_1_Activity_1-2_74
{
position:absolute;
top:1175.38px;
left:1461.58px;
letter-spacing:-3px;
}
.s_1_Activity_1-2_75
{
position:absolute;
top:1175.38px;
left:1653.1px;
letter-spacing:-1.62px;
}
.s_1_Activity_1-2_76
{
position:absolute;
top:1175.38px;
left:2079.81px;
letter-spacing:-1.08px;
}
.s_1_Activity_1-2_77
{
position:absolute;
top:1175.38px;
left:2727.32px;
}
.s_1_Activity_1-2_78
{
position:absolute;
top:1175.38px;
left:3007.15px;
}
.s_1_Activity_1-2_79
{
position:absolute;
top:1175.38px;
left:3426.42px;
letter-spacing:-0.38px;
}
.s_1_Activity_1-2_80
{
position:absolute;
top:1175.38px;
left:4182.41px;
letter-spacing:-1.08px;
}
.s_1_Activity_1-2_81
{
position:absolute;
top:1175.38px;
left:4931.92px;
}
.s_1_Activity_1-2_82
{
position:absolute;
top:1175.38px;
left:5971.34px;
letter-spacing:-1.62px;
}
.s_1_Activity_1-2_83
{
position:absolute;
top:1175.38px;
left:6390.86px;
}
.s_1_Activity_1-2_84
{
position:absolute;
top:1592.08px;
left:0px;
letter-spacing:-0.72px;
}
.s_1_Activity_1-2_85
{
position:absolute;
top:1592.08px;
left:553.43px;
}
.s_1_Activity_1-2_86
{
position:absolute;
top:1592.08px;
left:804.46px;
letter-spacing:-0.53px;
}
.s_1_Activity_1-2_87
{
position:absolute;
top:1592.08px;
left:1423.42px;
}
.s_1_Activity_1-2_88
{
position:absolute;
top:1592.08px;
left:1842.69px;
}
.s_1_Activity_1-2_89
{
position:absolute;
top:1592.08px;
left:2769.31px;
letter-spacing:-2.48px;
}
.s_1_Activity_1-2_90
{
position:absolute;
top:1592.08px;
left:3044.11px;
letter-spacing:-1.87px;
}
.s_1_Activity_1-2_91
{
position:absolute;
top:1592.08px;
left:3597.78px;
}
.s_1_Activity_1-2_92
{
position:absolute;
top:1592.08px;
left:4367.21px;
}
.s_1_Activity_1-2_93
{
position:absolute;
top:1592.08px;
left:4622.57px;
letter-spacing:-1.08px;
}
.s_1_Activity_1-2_94
{
position:absolute;
top:1592.08px;
left:5316.4px;
letter-spacing:-1.86px;
}
.s_1_Activity_1-2_95
{
position:absolute;
top:2008.77px;
left:0px;
letter-spacing:-2.73px;
}
.s_1_Activity_1-2_96
{
position:absolute;
top:2008.77px;
left:613.92px;
letter-spacing:-1.51px;
}
.s_1_Activity_1-2_97
{
position:absolute;
top:2008.77px;
left:1471.43px;
}
.s_1_Activity_1-2_98
{
position:absolute;
top:2008.77px;
left:1887.34px;
letter-spacing:-0.7px;
}
.s_1_Activity_1-2_99
{
position:absolute;
top:2008.77px;
left:2940.21px;
}
.s_1_Activity_1-2_100
{
position:absolute;
top:2425.46px;
left:360px;
letter-spacing:-1.1px;
}
.s_1_Activity_1-2_101
{
position:absolute;
top:2425.46px;
left:904.07px;
letter-spacing:-3px;
}
.s_1_Activity_1-2_102
{
position:absolute;
top:2425.46px;
left:1095.59px;
}
.s_1_Activity_1-2_103
{
position:absolute;
top:2425.46px;
left:2050.06px;
letter-spacing:-0.14px;
}
.s_1_Activity_1-2_104
{
position:absolute;
top:2425.46px;
left:3328.75px;
letter-spacing:-2.48px;
}
.s_1_Activity_1-2_105
{
position:absolute;
top:2425.46px;
left:3605.23px;
}
.s_1_Activity_1-2_106
{
position:absolute;
top:2425.46px;
left:4024.5px;
letter-spacing:-0.38px;
}
.s_1_Activity_1-2_107
{
position:absolute;
top:2425.46px;
left:4779.3px;
letter-spacing:-0.96px;
}
.s_1_Activity_1-2_108
{
position:absolute;
top:2425.46px;
left:5242.73px;
letter-spacing:-1.87px;
}
.s_1_Activity_1-2_109
{
position:absolute;
top:2425.46px;
left:5821.12px;
letter-spacing:-1.2px;
}
.s_1_Activity_1-2_110
{
position:absolute;
top:2425.46px;
left:6703.84px;
}
.s_1_Activity_1-2_111
{
position:absolute;
top:2425.46px;
left:6959.19px;
letter-spacing:-1.56px;
}
.s_1_Activity_1-2_112
{
position:absolute;
top:2425.46px;
left:7716.86px;
letter-spacing:-2.44px;
}
.s_1_Activity_1-2_113
{
position:absolute;
top:2425.46px;
left:8297.18px;
letter-spacing:-1.78px;
}
.s_1_Activity_1-2_114
{
position:absolute;
top:2785.46px;
left:360px;
}
.s_1_Activity_1-2_115
{
position:absolute;
top:2785.46px;
left:9000px;
}
.s_1_Activity_1-2_116
{
position:absolute;
top:3145.46px;
left:360px;
}
.s_1_Activity_1-2_117
{
position:absolute;
top:3145.46px;
left:9000px;
}
.s_1_Activity_1-2_118
{
position:absolute;
top:3505.46px;
left:360px;
}
.s_1_Activity_1-2_119
{
position:absolute;
top:3505.46px;
left:9000px;
}
.s_1_Activity_1-2_120
{
position:absolute;
top:3922.16px;
left:360px;
}
.s_1_Activity_1-2_121
{
position:absolute;
top:3922.16px;
left:882.47px;
}
.s_1_Activity_1-2_122
{
position:absolute;
top:3922.16px;
left:1303.18px;
}
.s_1_Activity_1-2_123
{
position:absolute;
top:3922.16px;
left:1722.45px;
}
.s_1_Activity_1-2_124
{
position:absolute;
top:3922.16px;
left:2587.4px;
}
.s_1_Activity_1-2_125
{
position:absolute;
top:3922.16px;
left:3059.23px;
letter-spacing:-0.82px;
}
.s_1_Activity_1-2_126
{
position:absolute;
top:3922.16px;
left:3838.02px;
letter-spacing:-0.54px;
}
.s_1_Activity_1-2_127
{
position:absolute;
top:3922.16px;
left:5273.44px;
letter-spacing:-2.48px;
}
.s_1_Activity_1-2_128
{
position:absolute;
top:3922.16px;
left:5548.24px;
letter-spacing:-1.87px;
}
.s_1_Activity_1-2_129
{
position:absolute;
top:3922.16px;
left:6101.91px;
letter-spacing:-1.15px;
}
.s_1_Activity_1-2_130
{
position:absolute;
top:3922.16px;
left:6553.82px;
letter-spacing:-1.81px;
}
.s_1_Activity_1-2_131
{
position:absolute;
top:3922.16px;
left:7598.29px;
}
.s_1_Activity_1-2_132
{
position:absolute;
top:3922.16px;
left:8048.28px;
letter-spacing:-1.87px;
}
.s_1_Activity_1-2_133
{
position:absolute;
top:3922.16px;
left:8593.79px;
}
.s_1_Activity_1-2_134
{
position:absolute;
top:4282.16px;
left:360px;
}
.s_1_Activity_1-2_135
{
position:absolute;
top:4282.16px;
left:985.91px;
}
.s_1_Activity_1-2_136
{
position:absolute;
top:4282.16px;
left:1612.54px;
letter-spacing:-1.3px;
}
.s_1_Activity_1-2_137
{
position:absolute;
top:4642.16px;
left:360px;
}
.s_1_Activity_1-2_138
{
position:absolute;
top:4642.16px;
left:9000px;
}
.s_1_Activity_1-2_139
{
position:absolute;
top:5058.85px;
left:360px;
letter-spacing:-0.6px;
}
.s_1_Activity_1-2_140
{
position:absolute;
top:5058.85px;
left:988.31px;
}
.s_1_Activity_1-2_141
{
position:absolute;
top:5058.85px;
left:1601.74px;
}
.s_1_Activity_1-2_142
{
position:absolute;
top:5058.85px;
left:1838.85px;
}
.s_1_Activity_1-2_143
{
position:absolute;
top:5058.85px;
left:2657.24px;
}
.s_1_Activity_1-2_144
{
position:absolute;
top:5058.85px;
left:3347.23px;
letter-spacing:-1.87px;
}
.s_1_Activity_1-2_145
{
position:absolute;
top:5058.85px;
left:3900.9px;
letter-spacing:-1.15px;
}
.s_1_Activity_1-2_146
{
position:absolute;
top:5058.85px;
left:4352.81px;
}
.s_1_Activity_1-2_147
{
position:absolute;
top:5058.85px;
left:4636.72px;
letter-spacing:-0.44px;
}
.s_1_Activity_1-2_148
{
position:absolute;
top:5058.85px;
left:5289.03px;
}
.s_1_Activity_1-2_149
{
position:absolute;
top:5058.85px;
left:5625.75px;
letter-spacing:-0.73px;
}
.s_1_Activity_1-2_150
{
position:absolute;
top:5418.85px;
left:360px;
}
.s_1_Activity_1-2_151
{
position:absolute;
top:5418.85px;
left:9000px;
}
.s_1_Activity_1-2_152
{
position:absolute;
top:5778.85px;
left:360px;
}
.s_1_Activity_1-2_153
{
position:absolute;
top:5778.85px;
left:9000px;
}
.s_1_Activity_1-2_154
{
position:absolute;
top:6138.85px;
left:360px;
}
.s_1_Activity_1-2_155
{
position:absolute;
top:6138.85px;
left:9000px;
}
.s_1_Activity_1-2_156
{
position:absolute;
top:0px;
left:223.66px;
}
.s_1_Activity_1-2_157
{
position:absolute;
top:54.33px;
left:109.21px;
}
