@font-face {
font-family:"Cabrito_Sans_Cond_Medium";
font-style:normal;
font-weight:600;
font-stretch:condensed;
src : url("../font/CabritoSans-ConMed.otf");
}
@font-face {
font-family:"Cabrito_Sans_Norm_Book";
font-style:normal;
font-weight:normal;
src : url("../font/CabritoSans-NorBoo.otf");
}
@font-face {
font-family:Calibri;
font-style:normal;
font-weight:normal;
src : url("../font/Calibri.ttf");
}
@font-face {
font-family:VTCSundaykomix;
font-style:normal;
font-weight:bold;
src : url("../font/VTCSundaykomixBold.ttf");
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
margin:0;
padding:0;
border-width:0;
text-rendering:optimizeSpeed;
}
div.Icon {
border-style:solid;
}
div.Basic-Text-Frame {
border-style:solid;
}
p.ParaOverride1-1 {
line-height:1;
white-space:nowrap;
}
span.CharOverride1-1 {
color:#d15a2b;
font-family:VTCSundaykomix;
font-size:800px;
font-style:normal;
font-weight:bold;
}
span.CharOverride1-2 {
color:#000000;
font-family:"Cabrito_Sans_Cond_Medium";
font-size:240px;
font-style:normal;
font-weight:600;
}
span.CharOverride1-3 {
color:#000000;
font-family:"Cabrito_Sans_Norm_Book";
font-size:240px;
font-style:normal;
font-weight:normal;
}
span.CharOverride1-4 {
color:#000000;
font-family:"Cabrito_Sans_Norm_Book";
font-size:300px;
font-style:normal;
font-weight:normal;
}
span.CharOverride1-5 {
color:#000000;
font-family:"Cabrito_Sans_Cond_Medium";
font-size:320px;
font-style:normal;
font-weight:600;
}
span.CharOverride1-6 {
color:#238441;
font-family:VTCSundaykomix;
font-size:800px;
font-style:normal;
font-weight:bold;
}
span.CharOverride1-7 {
color:#939598;
font-family:Calibri;
font-size:480px;
font-style:normal;
font-weight:normal;
}
#_idContainer1000 {
height:781.33px;
left:0px;
position:absolute;
top:0px;
transform:translate(27.727px,18.323px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(27.727px,18.323px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(27.727px,18.323px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(27.727px,18.323px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(27.727px,18.323px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:540.89px;
}
#_idContainer1001 {
height:67.26px;
left:0px;
position:absolute;
top:0px;
transform:translate(94.242px,86.811px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(94.242px,86.811px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(94.242px,86.811px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(94.242px,86.811px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(94.242px,86.811px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:425.83px;
}
#_idContainer1002 {
height:38.12px;
left:0px;
position:absolute;
top:0px;
transform:translate(70.866px,149.814px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(70.866px,149.814px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(70.866px,149.814px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(70.866px,149.814px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(70.866px,149.814px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:456.38px;
}
#_idContainer1003 {
height:22.34px;
left:0px;
position:absolute;
top:0px;
transform:translate(70.866px,192.949px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(70.866px,192.949px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(70.866px,192.949px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(70.866px,192.949px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(70.866px,192.949px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:117.35px;
}
#_idContainer1004, #_idContainer1008 {
height:22.56px;
left:0px;
position:absolute;
top:0px;
transform:translate(0.000px,0.624px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(0.000px,0.624px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(0.000px,0.624px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(0.000px,0.624px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(0.000px,0.624px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:204.76px;
}
#_idContainer1005, #_idContainer1009 {
height:22.56px;
left:0px;
position:absolute;
top:0px;
transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:204.76px;
}
#_idContainer1006, #_idContainer1010 {
height:19.84px;
left:0px;
position:absolute;
top:0px;
transform:translate(8.342px,0.535px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(8.342px,0.535px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(8.342px,0.535px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(8.342px,0.535px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(8.342px,0.535px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:188.08px;
}
#_idContainer1007 {
height:23.18px;
left:0px;
position:absolute;
top:0px;
transform:translate(184.818px,196.205px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(184.818px,196.205px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(184.818px,196.205px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(184.818px,196.205px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(184.818px,196.205px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:204.76px;
}
#_idContainer1011 {
height:23.18px;
left:0px;
position:absolute;
top:0px;
transform:translate(185.070px,224.930px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(185.070px,224.930px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(185.070px,224.930px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(185.070px,224.930px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(185.070px,224.930px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:204.76px;
}
#_idContainer1012 {
height:22.56px;
left:0px;
position:absolute;
top:0px;
transform:translate(0.000px,0.624px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(0.000px,0.624px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(0.000px,0.624px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(0.000px,0.624px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(0.000px,0.624px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:324.40px;
}
#_idContainer1013 {
height:22.56px;
left:0px;
position:absolute;
top:0px;
transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:324.40px;
}
#_idContainer1014 {
height:17.13px;
left:0px;
position:absolute;
top:0px;
transform:translate(16.883px,3.535px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(16.883px,3.535px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(16.883px,3.535px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(16.883px,3.535px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(16.883px,3.535px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:300.38px;
}
#_idContainer1015 {
height:23.18px;
left:0px;
position:absolute;
top:0px;
transform:translate(183.220px,258.749px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(183.220px,258.749px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(183.220px,258.749px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(183.220px,258.749px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(183.220px,258.749px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:324.40px;
}
#_idContainer1016, #_idContainer1020 {
height:22.56px;
left:0px;
position:absolute;
top:0px;
transform:translate(0.000px,0.624px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(0.000px,0.624px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(0.000px,0.624px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(0.000px,0.624px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(0.000px,0.624px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:104.76px;
}
#_idContainer1017, #_idContainer1021, #_idContainer1023 {
height:22.56px;
left:0px;
position:absolute;
top:0px;
transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:104.76px;
}
#_idContainer1018, #_idContainer1022 {
height:19.84px;
left:0px;
position:absolute;
top:0px;
transform:translate(8.342px,0.535px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(8.342px,0.535px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(8.342px,0.535px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(8.342px,0.535px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(8.342px,0.535px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:88.08px;
}
#_idContainer1019 {
height:23.18px;
left:0px;
position:absolute;
top:0px;
transform:translate(400.118px,196.205px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(400.118px,196.205px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(400.118px,196.205px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(400.118px,196.205px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(400.118px,196.205px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:104.76px;
}
#_idContainer1024 {
height:23.18px;
left:0px;
position:absolute;
top:0px;
transform:translate(399.775px,224.930px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(399.775px,224.930px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(399.775px,224.930px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(399.775px,224.930px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(399.775px,224.930px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:104.76px;
}
#_idContainer1025 {
height:17.13px;
left:0px;
position:absolute;
top:0px;
transform:translate(0.648px,3.976px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(0.648px,3.976px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(0.648px,3.976px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(0.648px,3.976px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(0.648px,3.976px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:23.39px;
}
#_idContainer1026, #_idContainer1027, #_idContainer1031, #_idContainer1032, #_idContainer1036, #_idContainer1037, #_idContainer1041, #_idContainer1042, #_idContainer1046, #_idContainer1047, #_idContainer1051, #_idContainer1052, #_idContainer1056, #_idContainer1061, #_idContainer1066, #_idContainer1067 {
height:24.46px;
left:0px;
position:absolute;
top:0px;
transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:24.46px;
}
#_idContainer1028 {
height:21.01px;
left:0px;
position:absolute;
top:0px;
transform:translate(34.455px,1.732px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(34.455px,1.732px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(34.455px,1.732px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(34.455px,1.732px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(34.455px,1.732px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:254.90px;
}
#_idContainer1029 {
height:24.46px;
left:0px;
position:absolute;
top:0px;
transform:translate(165.886px,313.622px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(165.886px,313.622px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(165.886px,313.622px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(165.886px,313.622px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(165.886px,313.622px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:289.36px;
}
#_idContainer1030 {
height:17.13px;
left:0px;
position:absolute;
top:0px;
transform:translate(0.850px,4.136px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(0.850px,4.136px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(0.850px,4.136px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(0.850px,4.136px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(0.850px,4.136px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:22.82px;
}
#_idContainer1033 {
height:31.45px;
left:0px;
position:absolute;
top:0px;
transform:translate(34.455px,3.732px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(34.455px,3.732px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(34.455px,3.732px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(34.455px,3.732px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(34.455px,3.732px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:296.96px;
}
#_idContainer1034 {
height:34.18px;
left:0px;
position:absolute;
top:0px;
transform:translate(149.527px,357.435px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(149.527px,357.435px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(149.527px,357.435px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(149.527px,357.435px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(149.527px,357.435px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:331.42px;
}
#_idContainer1035 {
height:17.13px;
left:0px;
position:absolute;
top:0px;
transform:translate(0.708px,4.369px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(0.708px,4.369px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(0.708px,4.369px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(0.708px,4.369px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(0.708px,4.369px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:22.93px;
}
#_idContainer1038 {
height:17.60px;
left:0px;
position:absolute;
top:0px;
transform:translate(34.629px,2.294px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(34.629px,2.294px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(34.629px,2.294px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(34.629px,2.294px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(34.629px,2.294px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:268.24px;
}
#_idContainer1039 {
height:24.46px;
left:0px;
position:absolute;
top:0px;
transform:translate(80.787px,431.748px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(80.787px,431.748px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(80.787px,431.748px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(80.787px,431.748px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(80.787px,431.748px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:302.87px;
}
#_idContainer1040 {
height:17.13px;
left:0px;
position:absolute;
top:0px;
transform:translate(0.917px,3.972px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(0.917px,3.972px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(0.917px,3.972px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(0.917px,3.972px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(0.917px,3.972px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:22.51px;
}
#_idContainer1043 {
height:35.13px;
left:0px;
position:absolute;
top:0px;
transform:translate(38.460px,-3.268px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(38.460px,-3.268px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(38.460px,-3.268px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(38.460px,-3.268px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(38.460px,-3.268px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:229.78px;
}
#_idContainer1044 {
height:27.18px;
left:0px;
position:absolute;
top:0px;
transform:translate(196.515px,393.229px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(196.515px,393.229px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(196.515px,393.229px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(196.515px,393.229px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(196.515px,393.229px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:268.24px;
}
#_idContainer1045 {
height:17.13px;
left:0px;
position:absolute;
top:0px;
transform:translate(0.929px,4.058px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(0.929px,4.058px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(0.929px,4.058px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(0.929px,4.058px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(0.929px,4.058px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:22.68px;
}
#_idContainer1048 {
height:35.13px;
left:0px;
position:absolute;
top:0px;
transform:translate(34.629px,-3.268px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(34.629px,-3.268px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(34.629px,-3.268px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(34.629px,-3.268px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(34.629px,-3.268px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:208.82px;
}
#_idContainer1049 {
height:27.18px;
left:0px;
position:absolute;
top:0px;
transform:translate(154.692px,467.542px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(154.692px,467.542px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(154.692px,467.542px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(154.692px,467.542px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(154.692px,467.542px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:243.45px;
}
#_idContainer1050 {
height:17.13px;
left:0px;
position:absolute;
top:0px;
transform:translate(0.864px,4.138px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(0.864px,4.138px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(0.864px,4.138px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(0.864px,4.138px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(0.864px,4.138px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:22.85px;
}
#_idContainer1053 {
height:20.92px;
left:0px;
position:absolute;
top:0px;
transform:translate(34.455px,1.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(34.455px,1.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(34.455px,1.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(34.455px,1.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(34.455px,1.069px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:432.76px;
}
#_idContainer1054 {
height:24.46px;
left:0px;
position:absolute;
top:0px;
transform:translate(78.449px,506.060px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(78.449px,506.060px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(78.449px,506.060px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(78.449px,506.060px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(78.449px,506.060px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:467.22px;
}
#_idContainer1055 {
height:17.13px;
left:0px;
position:absolute;
top:0px;
transform:translate(1.864px,4.369px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(1.864px,4.369px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(1.864px,4.369px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(1.864px,4.369px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(1.864px,4.369px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:22.76px;
}
#_idContainer1057 {
height:24.46px;
left:0px;
position:absolute;
top:0px;
transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:24.63px;
}
#_idContainer1058 {
height:35.13px;
left:0px;
position:absolute;
top:0px;
transform:translate(34.455px,-3.268px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(34.455px,-3.268px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(34.455px,-3.268px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(34.455px,-3.268px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(34.455px,-3.268px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:243.45px;
}
#_idContainer1059 {
height:27.18px;
left:0px;
position:absolute;
top:0px;
transform:translate(78.449px,577.648px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(78.449px,577.648px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(78.449px,577.648px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(78.449px,577.648px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(78.449px,577.648px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:277.90px;
}
#_idContainer1060 {
height:18.25px;
left:0px;
position:absolute;
top:0px;
transform:translate(4.338px,2.969px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(4.338px,2.969px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(4.338px,2.969px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(4.338px,2.969px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(4.338px,2.969px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:17.69px;
}
#_idContainer1062 {
height:24.46px;
left:0px;
position:absolute;
top:0px;
transform:translate(0.000px,0.300px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(0.000px,0.300px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(0.000px,0.300px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(0.000px,0.300px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(0.000px,0.300px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:24.46px;
}
#_idContainer1063 {
height:53.13px;
left:0px;
position:absolute;
top:0px;
transform:translate(33.927px,-3.268px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(33.927px,-3.268px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(33.927px,-3.268px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(33.927px,-3.268px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(33.927px,-3.268px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:312.82px;
}
#_idContainer1064 {
height:45.18px;
left:0px;
position:absolute;
top:0px;
transform:translate(78.449px,616.961px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(78.449px,616.961px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(78.449px,616.961px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(78.449px,616.961px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(78.449px,616.961px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:346.75px;
}
#_idContainer1065 {
height:17.13px;
left:0px;
position:absolute;
top:0px;
transform:translate(0.850px,3.977px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(0.850px,3.977px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(0.850px,3.977px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(0.850px,3.977px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(0.850px,3.977px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:22.82px;
}
#_idContainer1068 {
height:19.18px;
left:0px;
position:absolute;
top:0px;
transform:translate(34.455px,2.071px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(34.455px,2.071px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(34.455px,2.071px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(34.455px,2.071px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(34.455px,2.071px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:260.06px;
}
#_idContainer1069 {
height:24.46px;
left:0px;
position:absolute;
top:0px;
transform:translate(83.622px,541.854px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(83.622px,541.854px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(83.622px,541.854px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(83.622px,541.854px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(83.622px,541.854px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:294.52px;
}
#_idContainer1070 {
height:38.45px;
left:0px;
position:absolute;
top:0px;
transform:translate(111.449px,689.211px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(111.449px,689.211px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(111.449px,689.211px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(111.449px,689.211px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(111.449px,689.211px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:270.25px;
}
#_idContainer1071 {
height:59.80px;
left:0px;
position:absolute;
top:0px;
transform:translate(69.437px,373.064px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(69.437px,373.064px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(69.437px,373.064px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(69.437px,373.064px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(69.437px,373.064px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:89.66px;
}
#_idContainer1072 {
height:76.74px;
left:0px;
position:absolute;
top:0px;
transform:translate(442.515px,299.709px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(442.515px,299.709px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(442.515px,299.709px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(442.515px,299.709px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(442.515px,299.709px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:115.05px;
}
#_idContainer1073 {
height:59.82px;
left:0px;
position:absolute;
top:0px;
transform:translate(68.926px,296.090px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(68.926px,296.090px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(68.926px,296.090px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(68.926px,296.090px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(68.926px,296.090px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:89.69px;
}
#_idContainer1074 {
height:74.48px;
left:0px;
position:absolute;
top:0px;
transform:translate(393.794px,425.798px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(393.794px,425.798px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(393.794px,425.798px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(393.794px,425.798px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(393.794px,425.798px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:111.66px;
}
#_idContainer1075 {
height:69.47px;
left:0px;
position:absolute;
top:0px;
transform:translate(381.703px,550.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(381.703px,550.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(381.703px,550.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(381.703px,550.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(381.703px,550.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:104.15px;
}
#_idContainer1076, #_idContainer1086 {
height:28.01px;
left:0px;
position:absolute;
top:0px;
transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:28.01px;
}
#_idContainer1077, #_idContainer1087 {
height:24.16px;
left:0px;
position:absolute;
top:0px;
transform:translate(0.000px,2.876px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(0.000px,2.876px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(0.000px,2.876px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(0.000px,2.876px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(0.000px,2.876px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:28.01px;
}
#_idContainer1078 {
height:28.01px;
left:0px;
position:absolute;
top:0px;
transform:translate(28.717px,778.225px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(28.717px,778.225px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(28.717px,778.225px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(28.717px,778.225px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(28.717px,778.225px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:28.01px;
}
#_idContainer1079 {
height:129.68px;
left:0px;
position:absolute;
top:0px;
transform:translate(373.170px,642.498px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(373.170px,642.498px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(373.170px,642.498px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(373.170px,642.498px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(373.170px,642.498px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:161.07px;
}
#_idContainer1080 {
height:792.39px;
left:0px;
position:absolute;
top:0px;
transform:translate(27.727px,18.323px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(27.727px,18.323px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(27.727px,18.323px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(27.727px,18.323px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(27.727px,18.323px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:540.89px;
}
#_idContainer1081 {
height:53.80px;
left:0px;
position:absolute;
top:0px;
transform:translate(53.858px,86.811px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(53.858px,86.811px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(53.858px,86.811px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(53.858px,86.811px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(53.858px,86.811px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:493.23px;
}
#_idContainer1082 {
height:38.12px;
left:0px;
position:absolute;
top:0px;
transform:translate(62.141px,149.814px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(62.141px,149.814px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(62.141px,149.814px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(62.141px,149.814px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(62.141px,149.814px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:476.44px;
}
#_idContainer1083 {
background-image:url(../image/51.png);
background-repeat:no-repeat;
background-size:cover;
height:345.81px;
left:0px;
position:absolute;
top:0px;
transform:translate(61.641px,463.283px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(61.641px,463.283px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(61.641px,463.283px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(61.641px,463.283px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(61.641px,463.283px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:456.88px;
}
#_idContainer1084 {
height:248.03px;
left:0px;
position:absolute;
top:0px;
transform:translate(62.141px,200.551px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(62.141px,200.551px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(62.141px,200.551px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(62.141px,200.551px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(62.141px,200.551px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:459.43px;
}
#_idContainer1085 {
height:84.68px;
left:0px;
position:absolute;
top:0px;
transform:translate(125.677px,296.382px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(125.677px,296.382px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(125.677px,296.382px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(125.677px,296.382px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(125.677px,296.382px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:332.36px;
}
#_idContainer1088 {
height:28.01px;
left:0px;
position:absolute;
top:0px;
transform:translate(538.548px,778.225px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-webkit-transform:translate(538.548px,778.225px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-ms-transform:translate(538.548px,778.225px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-o-transform:translate(538.548px,778.225px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
-moz-transform:translate(538.548px,778.225px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
transform-origin:0% 0%;
-webkit-transform-origin:0% 0%;
-ms-transform-origin:0% 0%;
-o-transform-origin:0% 0%;
-moz-transform-origin:0% 0%;
width:28.01px;
}
img._idGenObjectAttribute-1 {
height:100.00%;
min-width:100%;
width:100.00%;
}
img._idGenObjectAttribute-2 {
left:0px;
position:absolute;
top:0px;
}
div._idGenObjectStyle-Disabled {
background-color:transparent;
border-width:0px;
}
