.d_page36-37_1
{
position:absolute;overflow:hidden;left:0px;top:0px;-webkit-transform:translate(0.00px,0.00px);-ms-transform:translate(0.00px,0.00px);transform:translate(0.00px,0.00px);width:595.28px;height:841.89px
}
.d_page36-37_2
{
width:560.18px;height:401.47px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
}
.d_page36-37_3
{
width:7207.69px;height:603.35px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_page36-37_4
{
width:6765.35px;height:1647.83px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page36-37_5
{
width:7393.4px;height:1714.75px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page36-37_6
{
width:6963.78px;height:1520.16px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page36-37_7
{
width:6866.95px;height:1419.91px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page36-37_8
{
width:6436.24px;height:2082.65px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page36-37_9
{
width:1884.76px;height:288px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
}
.d_page36-37_10
{
width:8913.62px;height:1080.65px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.65px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.65px) rotate(0deg) scale(0.05);
}
.d_page36-37_11
{
width:8254.51px;height:666.14px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.65px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.65px) rotate(0deg) scale(0.05);
}
.d_page36-37_12
{
position:absolute;overflow:hidden;left:0px;top:0px;-webkit-transform:translate(595.28px,0.00px);-ms-transform:translate(595.28px,0.00px);transform:translate(595.28px,0.00px);width:595.28px;height:841.89px
}
.d_page36-37_13
{
width:560.18px;height:401.47px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
}
.d_page36-37_14
{
width:8108.1px;height:997.12px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,10.86px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
}
.d_page36-37_15
{
width:9088.08px;height:432px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_page36-37_16
{
width:2640.06px;height:998.9px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page36-37_17
{
width:3319.94px;height:1398.9px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page36-37_18
{
width:2489.42px;height:1398.9px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page36-37_19
{
width:1884.76px;height:288px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
}
.d_page36-37_20
{
width:3569.14px;height:1060.51px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page36-37_21
{
width:3561.81px;height:2067.3px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page36-37_22
{
width:2489.42px;height:1398.9px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page36-37_23
{
width:2480.89px;height:998.9px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page36-37_24
{
width:2489.42px;height:998.9px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page36-37_25
{
width:2489.42px;height:998.9px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page36-37_26
{
width:2539.45px;height:1427.02px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.51px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
}
.d_page36-37_27
{
width:2313.7px;height:998.9px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page36-37_28
{
width:2808.63px;height:855.59px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page36-37_29
{
width:430.87px;height:216.85px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.51px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
}
.d_page36-37_30
{
width:430.87px;height:216.85px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.51px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
}
.d_page36-37_31
{
width:430.87px;height:216.85px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.51px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
}
.d_page36-37_32
{
width:430.87px;height:216.85px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.51px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
}
.d_page36-37_33
{
width:430.87px;height:216.85px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.51px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
}
.d_page36-37_34
{
width:430.87px;height:216.85px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.51px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
}
.d_page36-37_35
{
width:430.87px;height:216.85px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.51px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
}
.d_page36-37_36
{
width:430.87px;height:216.85px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.51px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
}
.d_page36-37_37
{
width:430.87px;height:216.85px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.51px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.51px) rotate(0deg) scale(0.05);
}
.d_page36-37_38
{
width:560.18px;height:401.47px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,1.09px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,1.09px) rotate(0deg) scale(0.05);
}
.s_page36-37_39
{
position:absolute;top:41.44px;left:134.15px;
}
.s_page36-37_40
{
position:absolute;top:58.88px;left:0px;letter-spacing:-7.92px;
}
.s_page36-37_41
{
position:absolute;top:213.6px;left:329.76px;
}
.s_page36-37_42
{
position:absolute;top:213.6px;left:453.54px;letter-spacing:-0.57px;
}
.s_page36-37_43
{
position:absolute;top:213.6px;left:1075.46px;letter-spacing:0px;
}
.s_page36-37_44
{
position:absolute;top:213.6px;left:1497.17px;
}
.s_page36-37_45
{
position:absolute;top:213.6px;left:2121.94px;
}
.s_page36-37_46
{
position:absolute;top:213.6px;left:2592.53px;letter-spacing:-0.69px;
}
.s_page36-37_47
{
position:absolute;top:213.6px;left:3503.04px;
}
.s_page36-37_48
{
position:absolute;top:213.6px;left:4177.47px;letter-spacing:-0.19px;
}
.s_page36-37_49
{
position:absolute;top:213.6px;left:5069.52px;letter-spacing:0px;
}
.s_page36-37_50
{
position:absolute;top:213.6px;left:5810.5px;
}
.s_page36-37_51
{
position:absolute;top:-19.5px;left:396.85px;letter-spacing:-0.39px;
}
.s_page36-37_52
{
position:absolute;top:-19.5px;left:895.53px;letter-spacing:-0.71px;
}
.s_page36-37_53
{
position:absolute;top:-19.5px;left:1443.86px;letter-spacing:-3.25px;
}
.s_page36-37_54
{
position:absolute;top:-19.5px;left:1651.34px;letter-spacing:-0.29px;
}
.s_page36-37_55
{
position:absolute;top:-19.5px;left:2605.78px;
}
.s_page36-37_56
{
position:absolute;top:-19.5px;left:3666.57px;
}
.s_page36-37_57
{
position:absolute;top:-19.5px;left:4251.29px;letter-spacing:-0.52px;
}
.s_page36-37_58
{
position:absolute;top:-19.5px;left:5095.77px;letter-spacing:-2.6px;
}
.s_page36-37_59
{
position:absolute;top:380.5px;left:396.85px;letter-spacing:-0.76px;
}
.s_page36-37_60
{
position:absolute;top:380.5px;left:1747.01px;letter-spacing:-0.23px;
}
.s_page36-37_61
{
position:absolute;top:380.5px;left:3366px;
}
.s_page36-37_62
{
position:absolute;top:380.5px;left:3877.16px;letter-spacing:-0.11px;
}
.s_page36-37_63
{
position:absolute;top:380.5px;left:5441.29px;letter-spacing:0px;
}
.s_page36-37_64
{
position:absolute;top:780.5px;left:396.85px;letter-spacing:-0.39px;
}
.s_page36-37_65
{
position:absolute;top:780.5px;left:895.53px;letter-spacing:-0.71px;
}
.s_page36-37_66
{
position:absolute;top:780.5px;left:1443.86px;
}
.s_page36-37_67
{
position:absolute;top:780.5px;left:1988.81px;
}
.s_page36-37_68
{
position:absolute;top:780.5px;left:2439.38px;text-rendering:optimizeLegibility;letter-spacing:-0.26px;
}
.s_page36-37_69
{
position:absolute;top:780.5px;left:2973.67px;letter-spacing:-0.52px;
}
.s_page36-37_70
{
position:absolute;top:780.5px;left:3910.96px;
}
.s_page36-37_71
{
position:absolute;top:780.5px;left:4224.51px;letter-spacing:-1.79px;
}
.s_page36-37_72
{
position:absolute;top:780.5px;left:5140.74px;letter-spacing:-3.25px;
}
.s_page36-37_73
{
position:absolute;top:780.5px;left:5348.22px;letter-spacing:0px;
}
.s_page36-37_74
{
position:absolute;top:1180.5px;left:396.85px;letter-spacing:-2.68px;
}
.s_page36-37_75
{
position:absolute;top:1180.5px;left:700.79px;letter-spacing:-0.36px;
}
.s_page36-37_76
{
position:absolute;top:1180.5px;left:1670.84px;
}
.s_page36-37_77
{
position:absolute;top:1180.5px;left:1947.48px;
}
.s_page36-37_78
{
position:absolute;top:1180.5px;left:2649.98px;
}
.s_page36-37_79
{
position:absolute;top:-19.5px;left:396.85px;letter-spacing:-0.95px;
}
.s_page36-37_80
{
position:absolute;top:-19.5px;left:782.95px;letter-spacing:-0.71px;
}
.s_page36-37_81
{
position:absolute;top:-19.5px;left:1331.28px;letter-spacing:-3.25px;
}
.s_page36-37_82
{
position:absolute;top:-19.5px;left:1533.82px;letter-spacing:-0.57px;
}
.s_page36-37_83
{
position:absolute;top:-19.5px;left:2967.7px;letter-spacing:-2.3px;
}
.s_page36-37_84
{
position:absolute;top:-19.5px;left:3772.91px;letter-spacing:-0.16px;
}
.s_page36-37_85
{
position:absolute;top:-19.5px;left:4818.61px;
}
.s_page36-37_86
{
position:absolute;top:-19.5px;left:5395.54px;letter-spacing:0px;
}
.s_page36-37_87
{
position:absolute;top:-19.5px;left:5652.42px;
}
.s_page36-37_88
{
position:absolute;top:-19.5px;left:6237.14px;letter-spacing:-0.52px;
}
.s_page36-37_89
{
position:absolute;top:380.5px;left:396.85px;letter-spacing:-2.6px;
}
.s_page36-37_90
{
position:absolute;top:380.5px;left:802.18px;
}
.s_page36-37_91
{
position:absolute;top:380.5px;left:1205.17px;letter-spacing:-1.56px;
}
.s_page36-37_92
{
position:absolute;top:380.5px;left:2304.7px;
}
.s_page36-37_93
{
position:absolute;top:380.5px;left:2581.33px;letter-spacing:-0.84px;
}
.s_page36-37_94
{
position:absolute;top:380.5px;left:3526.42px;
}
.s_page36-37_95
{
position:absolute;top:380.5px;left:4037.57px;
}
.s_page36-37_96
{
position:absolute;top:380.5px;left:5563.49px;letter-spacing:-0.95px;
}
.s_page36-37_97
{
position:absolute;top:380.5px;left:5954.52px;
}
.s_page36-37_98
{
position:absolute;top:780.5px;left:396.85px;letter-spacing:-0.57px;
}
.s_page36-37_99
{
position:absolute;top:780.5px;left:1724.4px;
}
.s_page36-37_100
{
position:absolute;top:780.5px;left:2612.03px;
}
.s_page36-37_101
{
position:absolute;top:780.5px;left:3717.02px;
}
.s_page36-37_102
{
position:absolute;top:780.5px;left:4052.93px;
}
.s_page36-37_103
{
position:absolute;top:780.5px;left:4507.14px;
}
.s_page36-37_104
{
position:absolute;top:780.5px;left:5711.45px;letter-spacing:-2.68px;
}
.s_page36-37_105
{
position:absolute;top:780.5px;left:6010.96px;
}
.s_page36-37_106
{
position:absolute;top:780.5px;left:6465.17px;letter-spacing:0px;
}
.s_page36-37_107
{
position:absolute;top:1180.5px;left:396.85px;letter-spacing:-0.74px;
}
.s_page36-37_108
{
position:absolute;top:1180.5px;left:1177.62px;letter-spacing:-1.27px;
}
.s_page36-37_109
{
position:absolute;top:1180.5px;left:2340.33px;letter-spacing:-0.72px;
}
.s_page36-37_110
{
position:absolute;top:1180.5px;left:3932.55px;letter-spacing:-1.97px;
}
.s_page36-37_111
{
position:absolute;top:1180.5px;left:4745.3px;
}
.s_page36-37_112
{
position:absolute;top:1180.5px;left:5021.94px;letter-spacing:-0.48px;
}
.s_page36-37_113
{
position:absolute;top:1180.5px;left:5612.38px;
}
.s_page36-37_114
{
position:absolute;top:-19.5px;left:396.85px;letter-spacing:-0.95px;
}
.s_page36-37_115
{
position:absolute;top:-19.5px;left:782.95px;letter-spacing:-0.71px;
}
.s_page36-37_116
{
position:absolute;top:-19.5px;left:1331.28px;letter-spacing:-3.25px;
}
.s_page36-37_117
{
position:absolute;top:-19.5px;left:1538.76px;letter-spacing:-0.29px;
}
.s_page36-37_118
{
position:absolute;top:-19.5px;left:2493.2px;
}
.s_page36-37_119
{
position:absolute;top:-19.5px;left:3280.73px;
}
.s_page36-37_120
{
position:absolute;top:-19.5px;left:5100.45px;letter-spacing:0px;
}
.s_page36-37_121
{
position:absolute;top:-19.5px;left:5677.38px;letter-spacing:0px;
}
.s_page36-37_122
{
position:absolute;top:380.5px;left:396.85px;letter-spacing:-1px;
}
.s_page36-37_123
{
position:absolute;top:380.5px;left:2062.38px;letter-spacing:-0.32px;
}
.s_page36-37_124
{
position:absolute;top:380.5px;left:3680.85px;
}
.s_page36-37_125
{
position:absolute;top:380.5px;left:3994.4px;letter-spacing:0px;
}
.s_page36-37_126
{
position:absolute;top:380.5px;left:5672.94px;letter-spacing:-0.39px;
}
.s_page36-37_127
{
position:absolute;top:780.5px;left:396.85px;letter-spacing:-0.85px;
}
.s_page36-37_128
{
position:absolute;top:780.5px;left:1372.36px;letter-spacing:-1.4px;
}
.s_page36-37_129
{
position:absolute;top:780.5px;left:2271.68px;text-rendering:optimizeLegibility;
}
.s_page36-37_130
{
position:absolute;top:780.5px;left:3137.98px;
}
.s_page36-37_131
{
position:absolute;top:780.5px;left:3976.21px;
}
.s_page36-37_132
{
position:absolute;top:780.5px;left:4487.36px;letter-spacing:-0.44px;
}
.s_page36-37_133
{
position:absolute;top:780.5px;left:5718.45px;
}
.s_page36-37_134
{
position:absolute;top:1180.5px;left:396.85px;
}
.s_page36-37_135
{
position:absolute;top:-19.5px;left:396.85px;
}
.s_page36-37_136
{
position:absolute;top:-19.5px;left:775.66px;
}
.s_page36-37_137
{
position:absolute;top:-19.5px;left:2333.55px;
}
.s_page36-37_138
{
position:absolute;top:-19.5px;left:2844.71px;letter-spacing:-3.25px;
}
.s_page36-37_139
{
position:absolute;top:-19.5px;left:3052.18px;
}
.s_page36-37_140
{
position:absolute;top:-19.5px;left:4302.76px;
}
.s_page36-37_141
{
position:absolute;top:-19.5px;left:4658.43px;letter-spacing:-0.71px;
}
.s_page36-37_142
{
position:absolute;top:-19.5px;left:5206.77px;letter-spacing:-0.52px;
}
.s_page36-37_143
{
position:absolute;top:-19.5px;left:6054.88px;
}
.s_page36-37_144
{
position:absolute;top:-19.5px;left:6390.79px;
}
.s_page36-37_145
{
position:absolute;top:380.5px;left:396.85px;letter-spacing:-1.04px;
}
.s_page36-37_146
{
position:absolute;top:380.5px;left:1512.24px;letter-spacing:-2.68px;
}
.s_page36-37_147
{
position:absolute;top:380.5px;left:1816.17px;letter-spacing:-5.04px;
}
.s_page36-37_148
{
position:absolute;top:380.5px;left:2542.86px;
}
.s_page36-37_149
{
position:absolute;top:380.5px;left:2979.13px;
}
.s_page36-37_150
{
position:absolute;top:380.5px;left:3753.14px;
}
.s_page36-37_151
{
position:absolute;top:380.5px;left:4119.21px;letter-spacing:-1.3px;
}
.s_page36-37_152
{
position:absolute;top:380.5px;left:4773.36px;letter-spacing:0px;
}
.s_page36-37_153
{
position:absolute;top:380.5px;left:5639.4px;letter-spacing:-1.04px;
}
.s_page36-37_154
{
position:absolute;top:780.5px;left:396.85px;letter-spacing:-0.52px;
}
.s_page36-37_155
{
position:absolute;top:780.5px;left:1808.37px;
}
.s_page36-37_156
{
position:absolute;top:780.5px;left:2080.58px;
}
.s_page36-37_157
{
position:absolute;top:780.5px;left:2534.79px;letter-spacing:-0.4px;
}
.s_page36-37_158
{
position:absolute;top:780.5px;left:4309.01px;
}
.s_page36-37_159
{
position:absolute;top:-19.5px;left:396.85px;letter-spacing:-0.95px;
}
.s_page36-37_160
{
position:absolute;top:-19.5px;left:782.95px;letter-spacing:-0.71px;
}
.s_page36-37_161
{
position:absolute;top:-19.5px;left:1331.28px;
}
.s_page36-37_162
{
position:absolute;top:-19.5px;left:1691.38px;
}
.s_page36-37_163
{
position:absolute;top:-19.5px;left:2478.91px;letter-spacing:-0.68px;
}
.s_page36-37_164
{
position:absolute;top:-19.5px;left:3572.45px;
}
.s_page36-37_165
{
position:absolute;top:-19.5px;left:4149.38px;
}
.s_page36-37_166
{
position:absolute;top:-19.5px;left:4406.25px;
}
.s_page36-37_167
{
position:absolute;top:-19.5px;left:4990.98px;letter-spacing:-0.52px;
}
.s_page36-37_168
{
position:absolute;top:-19.5px;left:5835.45px;letter-spacing:-2.6px;
}
.s_page36-37_169
{
position:absolute;top:380.5px;left:396.85px;
}
.s_page36-37_170
{
position:absolute;top:380.5px;left:799.84px;letter-spacing:-1.4px;
}
.s_page36-37_171
{
position:absolute;top:380.5px;left:1320.09px;
}
.s_page36-37_172
{
position:absolute;top:380.5px;left:1596.73px;letter-spacing:-0.76px;
}
.s_page36-37_173
{
position:absolute;top:380.5px;left:2946.89px;
}
.s_page36-37_174
{
position:absolute;top:380.5px;left:3458.04px;letter-spacing:-0.7px;
}
.s_page36-37_175
{
position:absolute;top:380.5px;left:4562.24px;letter-spacing:-1.82px;
}
.s_page36-37_176
{
position:absolute;top:380.5px;left:5371.61px;letter-spacing:-0.75px;
}
.s_page36-37_177
{
position:absolute;top:780.5px;left:396.85px;letter-spacing:-0.64px;
}
.s_page36-37_178
{
position:absolute;top:780.5px;left:1908.73px;letter-spacing:-1.47px;
}
.s_page36-37_179
{
position:absolute;top:780.5px;left:2652.32px;
}
.s_page36-37_180
{
position:absolute;top:780.5px;left:2909.19px;letter-spacing:-3.25px;
}
.s_page36-37_181
{
position:absolute;top:780.5px;left:3116.67px;letter-spacing:-1.63px;
}
.s_page36-37_182
{
position:absolute;top:780.5px;left:3939.04px;letter-spacing:-2.68px;
}
.s_page36-37_183
{
position:absolute;top:780.5px;left:4242.98px;letter-spacing:-1.04px;
}
.s_page36-37_184
{
position:absolute;top:780.5px;left:4964.73px;letter-spacing:0px;
}
.s_page36-37_185
{
position:absolute;top:780.5px;left:5844.3px;letter-spacing:-1px;
}
.s_page36-37_186
{
position:absolute;top:1180.5px;left:396.85px;
}
.s_page36-37_187
{
position:absolute;top:1180.5px;left:898.12px;
}
.s_page36-37_188
{
position:absolute;top:1180.5px;left:1174.76px;
}
.s_page36-37_189
{
position:absolute;top:1180.5px;left:2258.42px;
}
.s_page36-37_190
{
position:absolute;top:-12.32px;left:0px;
}
.s_page36-37_191
{
position:absolute;top:-12.32px;left:420.83px;letter-spacing:-5.11px;
}
.s_page36-37_192
{
position:absolute;top:-12.32px;left:971.57px;letter-spacing:-6.86px;
}
.s_page36-37_193
{
position:absolute;top:-21px;left:0px;
}
.s_page36-37_194
{
position:absolute;top:-21px;left:309.39px;letter-spacing:-0.47px;
}
.s_page36-37_195
{
position:absolute;top:-21px;left:982.5px;letter-spacing:-3.5px;
}
.s_page36-37_196
{
position:absolute;top:-21px;left:1198.1px;letter-spacing:-4.9px;
}
.s_page36-37_197
{
position:absolute;top:-21px;left:1921.33px;text-rendering:optimizeLegibility;
}
.s_page36-37_198
{
position:absolute;top:-21px;left:2461.44px;
}
.s_page36-37_199
{
position:absolute;top:-21px;left:3880.19px;
}
.s_page36-37_200
{
position:absolute;top:-21px;left:3956.35px;
}
.s_page36-37_201
{
position:absolute;top:-21px;left:4506.82px;
}
.s_page36-37_202
{
position:absolute;top:-21px;left:4804.73px;
}
.s_page36-37_203
{
position:absolute;top:-21px;left:5410.92px;letter-spacing:-3.5px;
}
.s_page36-37_204
{
position:absolute;top:-21px;left:5634.35px;letter-spacing:-0.21px;
}
.s_page36-37_205
{
position:absolute;top:-21px;left:6513.26px;text-rendering:optimizeLegibility;
}
.s_page36-37_206
{
position:absolute;top:-21px;left:7053.37px;letter-spacing:-0.49px;
}
.s_page36-37_207
{
position:absolute;top:-21px;left:7595.17px;letter-spacing:-0.77px;
}
.s_page36-37_208
{
position:absolute;top:-21px;left:8229.64px;letter-spacing:-0.56px;
}
.s_page36-37_209
{
position:absolute;top:379px;left:0px;letter-spacing:-0.62px;
}
.s_page36-37_210
{
position:absolute;top:379px;left:790.99px;text-rendering:optimizeLegibility;
}
.s_page36-37_211
{
position:absolute;top:379px;left:1654.78px;
}
.s_page36-37_212
{
position:absolute;top:379px;left:1725.61px;letter-spacing:-2.18px;
}
.s_page36-37_213
{
position:absolute;top:379px;left:2439.32px;letter-spacing:-0.84px;
}
.s_page36-37_214
{
position:absolute;top:379px;left:3601.59px;
}
.s_page36-37_215
{
position:absolute;top:379px;left:4447.45px;
}
.s_page36-37_216
{
position:absolute;top:379px;left:4836.93px;
}
.s_page36-37_217
{
position:absolute;top:379px;left:5326.08px;letter-spacing:-0.95px;
}
.s_page36-37_218
{
position:absolute;top:379px;left:5780.23px;letter-spacing:-2.89px;
}
.s_page36-37_219
{
position:absolute;top:379px;left:6102.78px;
}
.s_page36-37_220
{
position:absolute;top:379px;left:6591.93px;letter-spacing:-1.21px;
}
.s_page36-37_221
{
position:absolute;top:379px;left:7943.76px;
}
.s_page36-37_222
{
position:absolute;top:779px;left:0px;
}
.s_page36-37_223
{
position:absolute;top:779px;left:2033.61px;letter-spacing:-1.29px;
}
.s_page36-37_224
{
position:absolute;top:779px;left:3238.16px;
}
.s_page36-37_225
{
position:absolute;top:-21px;left:36.85px;letter-spacing:-1.29px;
}
.s_page36-37_226
{
position:absolute;top:-21px;left:1241.39px;
}
.s_page36-37_227
{
position:absolute;top:-21px;left:3723.97px;
}
.s_page36-37_228
{
position:absolute;top:-21px;left:4480.8px;letter-spacing:-0.31px;
}
.s_page36-37_229
{
position:absolute;top:-21px;left:5860.91px;
}
.s_page36-37_230
{
position:absolute;top:-21px;left:6649.93px;
}
.s_page36-37_231
{
position:absolute;top:379px;left:36.85px;
}
.s_page36-37_232
{
position:absolute;top:379px;left:881.6px;letter-spacing:-1.36px;
}
.s_page36-37_233
{
position:absolute;top:379px;left:2479.55px;letter-spacing:-1.4px;
}
.s_page36-37_234
{
position:absolute;top:379px;left:3098.62px;letter-spacing:-0.87px;
}
.s_page36-37_235
{
position:absolute;top:379px;left:4839.66px;letter-spacing:-1.17px;
}
.s_page36-37_236
{
position:absolute;top:379px;left:5679.93px;
}
.s_page36-37_237
{
position:absolute;top:41.44px;left:134.15px;
}
.s_page36-37_238
{
position:absolute;top:-26.96px;left:1312.98px;letter-spacing:20.63px;-webkit-transform-origin: 0% 759.55px;-webkit-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 759.55px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page36-37_239
{
position:absolute;top:-26.96px;left:2502.94px;letter-spacing:22.92px;-webkit-transform-origin: 0% 759.55px;-webkit-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 759.55px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page36-37_240
{
position:absolute;top:-26.96px;left:5144.77px;letter-spacing:20.63px;-webkit-transform-origin: 0% 759.55px;-webkit-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 759.55px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page36-37_241
{
position:absolute;top:-26.96px;left:6795.12px;-webkit-transform-origin: 0% 759.55px;-webkit-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 759.55px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page36-37_242
{
position:absolute;top:58.88px;left:0px;
}
.s_page36-37_243
{
position:absolute;top:213.6px;left:380.63px;
}
.s_page36-37_244
{
position:absolute;top:213.6px;left:453.54px;letter-spacing:-0.69px;
}
.s_page36-37_245
{
position:absolute;top:213.6px;left:1101.2px;letter-spacing:-0.68px;
}
.s_page36-37_246
{
position:absolute;top:213.6px;left:2088.93px;
}
.s_page36-37_247
{
position:absolute;top:213.6px;left:2510.65px;letter-spacing:-0.74px;
}
.s_page36-37_248
{
position:absolute;top:213.6px;left:3165.58px;letter-spacing:-0.12px;
}
.s_page36-37_249
{
position:absolute;top:213.6px;left:4495.98px;
}
.s_page36-37_250
{
position:absolute;top:213.6px;left:5205.77px;letter-spacing:0px;
}
.s_page36-37_251
{
position:absolute;top:213.6px;left:5627.49px;letter-spacing:-0.49px;
}
.s_page36-37_252
{
position:absolute;top:213.6px;left:6636.53px;letter-spacing:-0.78px;
}
.s_page36-37_253
{
position:absolute;top:213.6px;left:7057.2px;letter-spacing:0px;
}
.s_page36-37_254
{
position:absolute;top:213.6px;left:7583.17px;letter-spacing:-1.82px;
}
.s_page36-37_255
{
position:absolute;top:213.6px;left:7874.63px;letter-spacing:-0.22px;
}
.s_page36-37_256
{
position:absolute;top:-19.5px;left:625.97px;letter-spacing:-0.45px;
}
.s_page36-37_257
{
position:absolute;top:-19.5px;left:1129.06px;letter-spacing:-0.36px;
}
.s_page36-37_258
{
position:absolute;top:380.5px;left:201.01px;letter-spacing:-0.58px;
}
.s_page36-37_259
{
position:absolute;top:380.5px;left:1756.04px;letter-spacing:-2.68px;
}
.s_page36-37_260
{
position:absolute;top:380.5px;left:2055.56px;
}
.s_page36-37_261
{
position:absolute;top:780.5px;left:43.45px;letter-spacing:-0.39px;
}
.s_page36-37_262
{
position:absolute;top:780.5px;left:549.93px;
}
.s_page36-37_263
{
position:absolute;top:780.5px;left:806.8px;
}
.s_page36-37_264
{
position:absolute;top:780.5px;left:1560.53px;letter-spacing:-1.53px;
}
.s_page36-37_265
{
position:absolute;top:-19.5px;left:165.51px;letter-spacing:-0.45px;
}
.s_page36-37_266
{
position:absolute;top:-19.5px;left:668.61px;
}
.s_page36-37_267
{
position:absolute;top:-19.5px;left:1158.44px;
}
.s_page36-37_268
{
position:absolute;top:-19.5px;left:1789.19px;
}
.s_page36-37_269
{
position:absolute;top:-19.5px;left:2061.4px;
}
.s_page36-37_270
{
position:absolute;top:-19.5px;left:2515.61px;
}
.s_page36-37_271
{
position:absolute;top:380.5px;left:492.46px;
}
.s_page36-37_272
{
position:absolute;top:380.5px;left:850.47px;letter-spacing:-2.38px;
}
.s_page36-37_273
{
position:absolute;top:380.5px;left:1627.09px;
}
.s_page36-37_274
{
position:absolute;top:380.5px;left:1967.42px;
}
.s_page36-37_275
{
position:absolute;top:380.5px;left:2191.53px;
}
.s_page36-37_276
{
position:absolute;top:380.5px;left:2443.99px;
}
.s_page36-37_277
{
position:absolute;top:780.5px;left:400.16px;letter-spacing:-1.25px;
}
.s_page36-37_278
{
position:absolute;top:780.5px;left:959.41px;
}
.s_page36-37_279
{
position:absolute;top:780.5px;left:1763.06px;
}
.s_page36-37_280
{
position:absolute;top:780.5px;left:2310.35px;
}
.s_page36-37_281
{
position:absolute;top:1180.5px;left:990.22px;letter-spacing:-1.07px;
}
.s_page36-37_282
{
position:absolute;top:-19.5px;left:354.61px;letter-spacing:-1.73px;
}
.s_page36-37_283
{
position:absolute;top:-19.5px;left:1293.2px;
}
.s_page36-37_284
{
position:absolute;top:380.5px;left:27.4px;letter-spacing:-0.3px;
}
.s_page36-37_285
{
position:absolute;top:380.5px;left:945.45px;
}
.s_page36-37_286
{
position:absolute;top:380.5px;left:1456.6px;letter-spacing:-0.58px;
}
.s_page36-37_287
{
position:absolute;top:780.5px;left:340.44px;letter-spacing:-1.75px;
}
.s_page36-37_288
{
position:absolute;top:780.5px;left:794.91px;
}
.s_page36-37_289
{
position:absolute;top:780.5px;left:1555.4px;letter-spacing:-1px;
}
.s_page36-37_290
{
position:absolute;top:1180.5px;left:782.31px;
}
.s_page36-37_291
{
position:absolute;top:-12.32px;left:0px;
}
.s_page36-37_292
{
position:absolute;top:-12.32px;left:420.83px;letter-spacing:-5.11px;
}
.s_page36-37_293
{
position:absolute;top:-12.32px;left:971.57px;letter-spacing:-6.86px;
}
.s_page36-37_294
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-0.45px;
}
.s_page36-37_295
{
position:absolute;top:-19.5px;left:499.46px;text-rendering:optimizeLegibility;letter-spacing:-0.26px;
}
.s_page36-37_296
{
position:absolute;top:-19.5px;left:1038.68px;
}
.s_page36-37_297
{
position:absolute;top:-19.5px;left:1846.75px;letter-spacing:-1.3px;
}
.s_page36-37_298
{
position:absolute;top:380.5px;left:0px;
}
.s_page36-37_299
{
position:absolute;top:380.5px;left:576.67px;
}
.s_page36-37_300
{
position:absolute;top:380.5px;left:1030.88px;
}
.s_page36-37_301
{
position:absolute;top:380.5px;left:1518.37px;letter-spacing:-2.68px;
}
.s_page36-37_302
{
position:absolute;top:380.5px;left:1822.31px;letter-spacing:-3.25px;
}
.s_page36-37_303
{
position:absolute;top:380.5px;left:2025.37px;letter-spacing:-0.29px;
}
.s_page36-37_304
{
position:absolute;top:780.5px;left:0px;letter-spacing:-0.71px;
}
.s_page36-37_305
{
position:absolute;top:780.5px;left:548.33px;letter-spacing:-0.3px;
}
.s_page36-37_306
{
position:absolute;top:-19.5px;left:167.37px;letter-spacing:-6.36px;
}
.s_page36-37_307
{
position:absolute;top:-19.5px;left:1059.15px;letter-spacing:-5.14px;
}
.s_page36-37_308
{
position:absolute;top:-19.5px;left:2152.18px;letter-spacing:-4.46px;
}
.s_page36-37_309
{
position:absolute;top:-19.5px;left:2964.4px;letter-spacing:-2.6px;
}
.s_page36-37_310
{
position:absolute;top:380.5px;left:342.48px;letter-spacing:-4.75px;
}
.s_page36-37_311
{
position:absolute;top:380.5px;left:1224.12px;letter-spacing:-5.65px;
}
.s_page36-37_312
{
position:absolute;top:380.5px;left:1653.38px;letter-spacing:-3.9px;
}
.s_page36-37_313
{
position:absolute;top:380.5px;left:2083.15px;letter-spacing:-6.24px;
}
.s_page36-37_314
{
position:absolute;top:380.5px;left:2609.12px;letter-spacing:-4.46px;
}
.s_page36-37_315
{
position:absolute;top:780.5px;left:52.05px;letter-spacing:-4.55px;
}
.s_page36-37_316
{
position:absolute;top:780.5px;left:944.88px;letter-spacing:-4.16px;
}
.s_page36-37_317
{
position:absolute;top:780.5px;left:1652.33px;letter-spacing:-6.15px;
}
.s_page36-37_318
{
position:absolute;top:780.5px;left:1940.67px;letter-spacing:-6.3px;
}
.s_page36-37_319
{
position:absolute;top:780.5px;left:3079.72px;letter-spacing:-2.6px;
}
.s_page36-37_320
{
position:absolute;top:1180.5px;left:370.68px;letter-spacing:-4.46px;
}
.s_page36-37_321
{
position:absolute;top:1180.5px;left:1185.77px;letter-spacing:-3.9px;
}
.s_page36-37_322
{
position:absolute;top:1180.5px;left:1676.13px;letter-spacing:-5.65px;
}
.s_page36-37_323
{
position:absolute;top:1180.5px;left:2109.8px;letter-spacing:-4.85px;
}
.s_page36-37_324
{
position:absolute;top:1180.5px;left:2926.71px;letter-spacing:-1.73px;
}
.s_page36-37_325
{
position:absolute;top:1580.5px;left:1171.86px;letter-spacing:-3.9px;
}
.s_page36-37_326
{
position:absolute;top:1580.5px;left:1641.94px;letter-spacing:-4.68px;
}
.s_page36-37_327
{
position:absolute;top:-19.5px;left:104.49px;letter-spacing:-0.45px;
}
.s_page36-37_328
{
position:absolute;top:-19.5px;left:607.58px;letter-spacing:-0.19px;
}
.s_page36-37_329
{
position:absolute;top:-19.5px;left:1734.15px;letter-spacing:-0.57px;
}
.s_page36-37_330
{
position:absolute;top:380.5px;left:72.52px;
}
.s_page36-37_331
{
position:absolute;top:380.5px;left:1016.04px;
}
.s_page36-37_332
{
position:absolute;top:380.5px;left:1382.12px;
}
.s_page36-37_333
{
position:absolute;top:380.5px;left:2230.74px;
}
.s_page36-37_334
{
position:absolute;top:780.5px;left:0px;
}
.s_page36-37_335
{
position:absolute;top:780.5px;left:449.38px;letter-spacing:0px;
}
.s_page36-37_336
{
position:absolute;top:780.5px;left:1381.57px;letter-spacing:-0.17px;
}
.s_page36-37_337
{
position:absolute;top:1180.5px;left:378.53px;letter-spacing:-0.52px;
}
.s_page36-37_338
{
position:absolute;top:1180.5px;left:1222.22px;
}
.s_page36-37_339
{
position:absolute;top:1180.5px;left:1535.77px;
}
.s_page36-37_340
{
position:absolute;top:-19.5px;left:619.31px;letter-spacing:-2.01px;
}
.s_page36-37_341
{
position:absolute;top:-19.5px;left:1675.42px;
}
.s_page36-37_342
{
position:absolute;top:380.5px;left:193.96px;letter-spacing:-0.52px;
}
.s_page36-37_343
{
position:absolute;top:380.5px;left:1042.07px;
}
.s_page36-37_344
{
position:absolute;top:380.5px;left:1377.99px;
}
.s_page36-37_345
{
position:absolute;top:380.5px;left:1832.2px;letter-spacing:-1.1px;
}
.s_page36-37_346
{
position:absolute;top:780.5px;left:840.83px;
}
.s_page36-37_347
{
position:absolute;top:-19.5px;left:112.16px;letter-spacing:-2.01px;
}
.s_page36-37_348
{
position:absolute;top:-19.5px;left:1168.27px;
}
.s_page36-37_349
{
position:absolute;top:-19.5px;left:1671.36px;letter-spacing:-2.38px;
}
.s_page36-37_350
{
position:absolute;top:380.5px;left:81.1px;letter-spacing:-1.75px;
}
.s_page36-37_351
{
position:absolute;top:380.5px;left:531.15px;
}
.s_page36-37_352
{
position:absolute;top:380.5px;left:985.36px;letter-spacing:-1.25px;
}
.s_page36-37_353
{
position:absolute;top:380.5px;left:1544.61px;
}
.s_page36-37_354
{
position:absolute;top:780.5px;left:331.08px;
}
.s_page36-37_355
{
position:absolute;top:780.5px;left:1301.65px;
}
.s_page36-37_356
{
position:absolute;top:-19.5px;left:254px;letter-spacing:-0.45px;
}
.s_page36-37_357
{
position:absolute;top:-19.5px;left:757.09px;
}
.s_page36-37_358
{
position:absolute;top:-19.5px;left:1459.34px;
}
.s_page36-37_359
{
position:absolute;top:-19.5px;left:1716.21px;letter-spacing:-2.08px;
}
.s_page36-37_360
{
position:absolute;top:380.5px;left:21.04px;letter-spacing:-1.53px;
}
.s_page36-37_361
{
position:absolute;top:380.5px;left:1058.42px;
}
.s_page36-37_362
{
position:absolute;top:380.5px;left:1777.31px;letter-spacing:-1.97px;
}
.s_page36-37_363
{
position:absolute;top:780.5px;left:471.48px;
}
.s_page36-37_364
{
position:absolute;top:780.5px;left:1066.87px;
}
.s_page36-37_365
{
position:absolute;top:780.5px;left:1521.08px;letter-spacing:-0.39px;
}
.s_page36-37_366
{
position:absolute;top:-19.89px;left:77.16px;letter-spacing:-1.02px;
}
.s_page36-37_367
{
position:absolute;top:-19.89px;left:755.86px;
}
.s_page36-37_368
{
position:absolute;top:-19.89px;left:1660.79px;letter-spacing:-0.64px;
}
.s_page36-37_369
{
position:absolute;top:388.15px;left:48.11px;
}
.s_page36-37_370
{
position:absolute;top:388.15px;left:775.62px;
}
.s_page36-37_371
{
position:absolute;top:388.15px;left:1238.96px;letter-spacing:-0.45px;
}
.s_page36-37_372
{
position:absolute;top:388.15px;left:2253.43px;letter-spacing:-2.74px;
}
.s_page36-37_373
{
position:absolute;top:796.19px;left:20.67px;
}
.s_page36-37_374
{
position:absolute;top:796.19px;left:484.01px;
}
.s_page36-37_375
{
position:absolute;top:796.19px;left:1195.6px;
}
.s_page36-37_376
{
position:absolute;top:796.19px;left:1758.66px;
}
.s_page36-37_377
{
position:absolute;top:796.19px;left:2127.58px;
}
.s_page36-37_378
{
position:absolute;top:1204.23px;left:897.22px;
}
.s_page36-37_379
{
position:absolute;top:-19.5px;left:104.51px;letter-spacing:-0.42px;
}
.s_page36-37_380
{
position:absolute;top:-19.5px;left:791.16px;letter-spacing:-0.48px;
}
.s_page36-37_381
{
position:absolute;top:-19.5px;left:1575.32px;
}
.s_page36-37_382
{
position:absolute;top:-19.5px;left:1946.33px;
}
.s_page36-37_383
{
position:absolute;top:280.5px;left:111.66px;letter-spacing:-0.64px;
}
.s_page36-37_384
{
position:absolute;top:280.5px;left:1447.52px;letter-spacing:-0.52px;
}
.s_page36-37_385
{
position:absolute;top:637.19px;left:270.52px;letter-spacing:-0.45px;
}
.s_page36-37_386
{
position:absolute;top:637.19px;left:773.61px;letter-spacing:-0.32px;
}
.s_page36-37_387
{
position:absolute;top:-19.5px;left:220.55px;letter-spacing:-1.49px;
}
.s_page36-37_388
{
position:absolute;top:-19.5px;left:824.79px;
}
.s_page36-37_389
{
position:absolute;top:-19.5px;left:1189.56px;letter-spacing:-1.04px;
}
.s_page36-37_390
{
position:absolute;top:-19.5px;left:1687.19px;letter-spacing:-1.69px;
}
.s_page36-37_391
{
position:absolute;top:-19.5px;left:2451.32px;letter-spacing:-3.25px;
}
.s_page36-37_392
{
position:absolute;top:280.5px;left:44.67px;letter-spacing:-1.04px;
}
.s_page36-37_393
{
position:absolute;top:280.5px;left:736.52px;letter-spacing:-2.6px;
}
.s_page36-37_394
{
position:absolute;top:280.5px;left:1141.85px;
}
.s_page36-37_395
{
position:absolute;top:280.5px;left:1501.94px;letter-spacing:-0.64px;
}
.s_page36-37_396
{
position:absolute;top:637.19px;left:230.96px;letter-spacing:-5.72px;
}
.s_page36-37_397
{
position:absolute;top:637.19px;left:726.77px;letter-spacing:-2.03px;
}
.s_page36-37_398
{
position:absolute;top:637.19px;left:1348.94px;
}
.s_page36-37_399
{
position:absolute;top:637.19px;left:1662.49px;
}
.s_page36-37_400
{
position:absolute;top:-19.89px;left:155.36px;letter-spacing:-1.72px;
}
.s_page36-37_401
{
position:absolute;top:-19.89px;left:116.64px;
}
.s_page36-37_402
{
position:absolute;top:-19.89px;left:114.65px;letter-spacing:-2.12px;
}
.s_page36-37_403
{
position:absolute;top:-19.89px;left:116.9px;letter-spacing:-1.33px;
}
.s_page36-37_404
{
position:absolute;top:-19.89px;left:118.23px;letter-spacing:-2.12px;
}
.s_page36-37_405
{
position:absolute;top:-19.89px;left:112.13px;letter-spacing:-2.12px;
}
.s_page36-37_406
{
position:absolute;top:-19.89px;left:112.93px;letter-spacing:-4.11px;
}
.s_page36-37_407
{
position:absolute;top:-19.89px;left:108.42px;letter-spacing:-1.99px;
}
.s_page36-37_408
{
position:absolute;top:-19.89px;left:133.75px;letter-spacing:-11.14px;
}
.s_page36-37_409
{
position:absolute;top:54.33px;left:128.09px;
}

#text1 {
	position:absolute;
	top: 636px;
	left: 315px;
}
#text2 {
	position:absolute;
	top: 636px;
	left: 74px;
}
#text3 {
	position:absolute;
	top: 616px;
	left: 74px;
}
#text4 {
	position:absolute;
	top: 616px;
	left: 258px;
}
#text5 {
	position:absolute;
	top: 636px;
	left: 196px;
}
#box1 {
	position:absolute;
	top: 141px;
	left: 203px;
	width: 116px;
}
#box2 {
	position:absolute;
	top: 235px;
	left: 455px;
	width: 94px;
}
#box3 {
	position:absolute;
	top: 340px;
	left: 92px;
	width: 129px;
}
#box4 {
	position:absolute;
	top: 422px;
	left: 395px;
	width: 156px;
}
#box5 {
	position:absolute;
	top: 543px;
	left: 186px;
	width: 129px;
}
#box6 {
	position:absolute;
	top: 331px;
	left: 414px;
	width: 125px;
}
.p36_input_text1 {
	display: none;
	text-align: center;
	font-family: "Cabrito_Sans_Norm_Book";
	font-size: 13px;
	margin-top: 2px;
	line-height: 15px;
}
.page36_btn1 {
	position:absolute;
	top: 801px;
	left: 290px;
}
.text_p36 {
    font-family: "Cabrito_Sans_Norm_Book";
    font-weight: normal;
    font-style: normal;
    font-size: 13px;
    cursor: pointer;
    white-space : nowrap;
    line-height: 27px;
}
.page37_position1 {
	position:absolute;
	top: 199px;
	left: 112px;
	border: 1px solid #0c6570;
	border-radius: 25px;
}
.page37_position2 {
	position:absolute;
	top: 215px;
	left: 275px;
	border: 1px solid #0c6570;
	border-radius: 25px;
}
.page37_position3 {
	position:absolute;
	top: 208px;
	left: 454px;
	border: 1px solid #0c6570;
	border-radius: 25px;
}
.page37_position4 {
	position:absolute;
	top: 318px;
	left: 117px;
	border: 1px solid #0c6570;
	border-radius: 25px;
}
.page37_position5 {
	position:absolute;
	top: 341px;
	left: 279px;
	border: 1px solid #0c6570;
	border-radius: 25px;
}
.page37_position6 {
	position:absolute;
	top: 345px;
	left: 452px;
	border: 1px solid #0c6570;
	border-radius: 25px;
}
.page37_position7 {
	position:absolute;
	top: 443px;
	left: 147px;
	border: 1px solid #0c6570;
	border-radius: 25px;
}
.page37_position8 {
	position:absolute;
	top: 516px;
	left: 317px;
	border: 1px solid #0c6570;
	border-radius: 25px;
}
.page37_position9 {
	position:absolute;
	top: 470px;
	left: 492px;
	border: 1px solid #0c6570;
	border-radius: 25px;
}
.page37_btn1 {
	position:absolute;
	top: 785px;
	left: 332px;
}
.page37_btn2 {
	position:absolute;
	top: 785px;
	left: 275px;
}

.position_37 {
	position:absolute;
	top: 138px;
	left: 12px;
}
