.d_page32-33_1
{
position:absolute;overflow:hidden;left:0px;top:0px;-webkit-transform:translate(0.00px,0.00px);-ms-transform:translate(0.00px,0.00px);transform:translate(0.00px,0.00px);width:612.28px;height:841.89px
}
.d_page32-33_2
{
width:9858.56px;height:872px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_page32-33_3
{
width:9054.76px;height:8929.72px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,9.32px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,9.32px) rotate(0deg) scale(0.05);
}
.d_page32-33_4
{
width:3064.84px;height:288px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
}
.d_page32-33_5
{
width:8283.05px;height:998.9px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page32-33_6
{
width:560.18px;height:401.47px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
}
.d_page32-33_7
{
width:1689.45px;height:673.94px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,3.86px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,3.86px) rotate(0deg) scale(0.05);
}
.d_page32-33_8
{
width:1884.76px;height:288px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
}
.d_page32-33_9
{
width:6958.04px;height:1718.25px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page32-33_10
{
position:absolute;overflow:hidden;left:0px;top:0px;-webkit-transform:translate(612.28px,0.00px);-ms-transform:translate(612.28px,0.00px);transform:translate(612.28px,0.00px);width:595.28px;height:841.89px
}
.d_page32-33_11
{
width:560.18px;height:401.47px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
}
.d_page32-33_12
{
width:10197.45px;height:562.2px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_page32-33_13
{
width:8108.1px;height:997.12px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,10.86px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
}
.d_page32-33_14
{
width:3001.93px;height:591.7px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page32-33_15
{
width:3001.93px;height:676.74px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page32-33_16
{
width:3001.93px;height:634.22px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page32-33_17
{
width:308.41px;height:230.33px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page32-33_18
{
width:308.41px;height:230.33px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page32-33_19
{
width:308.41px;height:230.33px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page32-33_20
{
width:2916.03px;height:598.34px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page32-33_21
{
width:2786.06px;height:530.3px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page32-33_22
{
width:3081.3px;height:518.9px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page32-33_23
{
width:308.41px;height:230.33px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page32-33_24
{
width:308.41px;height:230.33px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page32-33_25
{
width:308.41px;height:230.33px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page32-33_26
{
width:3001.93px;height:518.9px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page32-33_27
{
width:2752.99px;height:643.71px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page32-33_28
{
width:3001.93px;height:518.9px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page32-33_29
{
width:308.41px;height:230.33px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page32-33_30
{
width:308.41px;height:230.33px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page32-33_31
{
width:308.41px;height:230.33px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page32-33_32
{
width:2461.42px;height:1086.61px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page32-33_33
{
width:2461.42px;height:1086.61px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page32-33_34
{
width:2461.42px;height:1086.61px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page32-33_35
{
width:2461.42px;height:1086.61px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page32-33_36
{
width:2461.42px;height:1086.61px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page32-33_37
{
width:2461.42px;height:1086.61px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page32-33_38
{
width:2461.42px;height:1086.61px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page32-33_39
{
width:2461.42px;height:1086.61px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page32-33_40
{
width:2461.42px;height:1086.61px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.s_page32-33_41
{
position:absolute;top:58.88px;left:0px;
}
.s_page32-33_42
{
position:absolute;top:213.6px;left:380.63px;
}
.s_page32-33_43
{
position:absolute;top:213.6px;left:453.54px;letter-spacing:-0.69px;
}
.s_page32-33_44
{
position:absolute;top:213.6px;left:1101.2px;letter-spacing:-0.68px;
}
.s_page32-33_45
{
position:absolute;top:213.6px;left:2088.93px;
}
.s_page32-33_46
{
position:absolute;top:213.6px;left:2510.65px;letter-spacing:-0.74px;
}
.s_page32-33_47
{
position:absolute;top:213.6px;left:3165.58px;letter-spacing:-0.12px;
}
.s_page32-33_48
{
position:absolute;top:213.6px;left:4495.98px;letter-spacing:-0.78px;
}
.s_page32-33_49
{
position:absolute;top:213.6px;left:4916.66px;letter-spacing:0px;
}
.s_page32-33_50
{
position:absolute;top:213.6px;left:5442.63px;letter-spacing:-1.82px;
}
.s_page32-33_51
{
position:absolute;top:213.6px;left:5734.08px;letter-spacing:-0.22px;
}
.s_page32-33_52
{
position:absolute;top:106.71px;left:505.11px;
}
.s_page32-33_53
{
position:absolute;top:106.71px;left:828px;letter-spacing:-0.45px;
}
.s_page32-33_54
{
position:absolute;top:106.71px;left:1331.1px;
}
.s_page32-33_55
{
position:absolute;top:106.71px;left:2600.13px;letter-spacing:-0.71px;
}
.s_page32-33_56
{
position:absolute;top:106.71px;left:3148.47px;letter-spacing:-0.92px;
}
.s_page32-33_57
{
position:absolute;top:106.71px;left:4227.98px;
}
.s_page32-33_58
{
position:absolute;top:106.71px;left:4757.85px;letter-spacing:-0.95px;
}
.s_page32-33_59
{
position:absolute;top:106.71px;left:5479.59px;letter-spacing:-0.57px;
}
.s_page32-33_60
{
position:absolute;top:726.71px;left:505.11px;
}
.s_page32-33_61
{
position:absolute;top:726.71px;left:828px;letter-spacing:-0.45px;
}
.s_page32-33_62
{
position:absolute;top:726.71px;left:1331.1px;letter-spacing:-1.53px;
}
.s_page32-33_63
{
position:absolute;top:726.71px;left:2358.07px;letter-spacing:0px;
}
.s_page32-33_64
{
position:absolute;top:726.71px;left:3087.11px;
}
.s_page32-33_65
{
position:absolute;top:726.71px;left:3541.32px;letter-spacing:-0.9px;
}
.s_page32-33_66
{
position:absolute;top:726.71px;left:4900.05px;letter-spacing:0px;
}
.s_page32-33_67
{
position:absolute;top:1346.71px;left:505.11px;
}
.s_page32-33_68
{
position:absolute;top:1346.71px;left:828px;
}
.s_page32-33_69
{
position:absolute;top:1346.71px;left:1675.07px;letter-spacing:-0.83px;
}
.s_page32-33_70
{
position:absolute;top:1346.71px;left:3074.63px;letter-spacing:-0.41px;
}
.s_page32-33_71
{
position:absolute;top:1346.71px;left:3923.26px;letter-spacing:-3.25px;
}
.s_page32-33_72
{
position:absolute;top:1346.71px;left:4125.79px;letter-spacing:-1.17px;
}
.s_page32-33_73
{
position:absolute;top:1346.71px;left:4945.56px;letter-spacing:-0.54px;
}
.s_page32-33_74
{
position:absolute;top:1346.71px;left:6152.46px;letter-spacing:-2.6px;
}
.s_page32-33_75
{
position:absolute;top:1346.71px;left:6557.79px;letter-spacing:0px;
}
.s_page32-33_76
{
position:absolute;top:1786.71px;left:828px;
}
.s_page32-33_77
{
position:absolute;top:1786.71px;left:1529.21px;
}
.s_page32-33_78
{
position:absolute;top:1786.71px;left:2445.69px;
}
.s_page32-33_79
{
position:absolute;top:1786.71px;left:2956.85px;letter-spacing:-0.92px;
}
.s_page32-33_80
{
position:absolute;top:1786.71px;left:4031.93px;
}
.s_page32-33_81
{
position:absolute;top:1786.71px;left:4486.14px;letter-spacing:-2.29px;
}
.s_page32-33_82
{
position:absolute;top:2316.71px;left:505.11px;
}
.s_page32-33_83
{
position:absolute;top:2316.71px;left:828px;letter-spacing:-0.5px;
}
.s_page32-33_84
{
position:absolute;top:2316.71px;left:2282.67px;letter-spacing:-2.11px;
}
.s_page32-33_85
{
position:absolute;top:2316.71px;left:3419.38px;letter-spacing:-0.92px;
}
.s_page32-33_86
{
position:absolute;top:2316.71px;left:4498.89px;letter-spacing:-3.25px;
}
.s_page32-33_87
{
position:absolute;top:2316.71px;left:4706.36px;letter-spacing:-1.49px;
}
.s_page32-33_88
{
position:absolute;top:2316.71px;left:5145.76px;letter-spacing:0px;
}
.s_page32-33_89
{
position:absolute;top:2316.71px;left:5688.62px;letter-spacing:-1.27px;
}
.s_page32-33_90
{
position:absolute;top:2316.71px;left:6552.59px;letter-spacing:-2.08px;
}
.s_page32-33_91
{
position:absolute;top:2316.71px;left:7142.51px;letter-spacing:-0.47px;
}
.s_page32-33_92
{
position:absolute;top:2756.71px;left:828px;
}
.s_page32-33_93
{
position:absolute;top:2756.71px;left:1398.95px;
}
.s_page32-33_94
{
position:absolute;top:2756.71px;left:1905.17px;letter-spacing:-2.3px;
}
.s_page32-33_95
{
position:absolute;top:3286.71px;left:505.11px;
}
.s_page32-33_96
{
position:absolute;top:3286.71px;left:828px;letter-spacing:-2.04px;
}
.s_page32-33_97
{
position:absolute;top:3286.71px;left:1538.31px;letter-spacing:-0.73px;
}
.s_page32-33_98
{
position:absolute;top:3286.71px;left:2152.68px;letter-spacing:-0.92px;
}
.s_page32-33_99
{
position:absolute;top:3286.71px;left:3232.19px;letter-spacing:-2.51px;
}
.s_page32-33_100
{
position:absolute;top:3286.71px;left:4414.66px;
}
.s_page32-33_101
{
position:absolute;top:3286.71px;left:4691.29px;letter-spacing:-0.43px;
}
.s_page32-33_102
{
position:absolute;top:3906.71px;left:505.11px;
}
.s_page32-33_103
{
position:absolute;top:3906.71px;left:828px;letter-spacing:-0.59px;
}
.s_page32-33_104
{
position:absolute;top:3906.71px;left:2163.08px;letter-spacing:-3.06px;
}
.s_page32-33_105
{
position:absolute;top:3906.71px;left:3242.07px;letter-spacing:-0.92px;
}
.s_page32-33_106
{
position:absolute;top:3906.71px;left:4321.57px;letter-spacing:-1px;
}
.s_page32-33_107
{
position:absolute;top:3906.71px;left:5053.2px;letter-spacing:-1.4px;
}
.s_page32-33_108
{
position:absolute;top:3906.71px;left:5686.55px;letter-spacing:-0.57px;
}
.s_page32-33_109
{
position:absolute;top:3906.71px;left:6234.37px;letter-spacing:-2.65px;
}
.s_page32-33_110
{
position:absolute;top:4526.71px;left:505.11px;
}
.s_page32-33_111
{
position:absolute;top:4526.71px;left:828px;letter-spacing:-0.35px;
}
.s_page32-33_112
{
position:absolute;top:4526.71px;left:1541.17px;letter-spacing:-0.83px;
}
.s_page32-33_113
{
position:absolute;top:4526.71px;left:2682.3px;letter-spacing:-3.25px;
}
.s_page32-33_114
{
position:absolute;top:4526.71px;left:2889.77px;letter-spacing:-1.4px;
}
.s_page32-33_115
{
position:absolute;top:4526.71px;left:3476.07px;letter-spacing:-2.6px;
}
.s_page32-33_116
{
position:absolute;top:4526.71px;left:3881.4px;
}
.s_page32-33_117
{
position:absolute;top:4526.71px;left:4893.56px;letter-spacing:0px;
}
.s_page32-33_118
{
position:absolute;top:4526.71px;left:5806.41px;letter-spacing:-0.65px;
}
.s_page32-33_119
{
position:absolute;top:4966.71px;left:828px;letter-spacing:-0.82px;
}
.s_page32-33_120
{
position:absolute;top:4966.71px;left:2292.31px;letter-spacing:-0.92px;
}
.s_page32-33_121
{
position:absolute;top:4966.71px;left:3371.81px;letter-spacing:-0.44px;
}
.s_page32-33_122
{
position:absolute;top:4966.71px;left:4519.17px;letter-spacing:-0.83px;
}
.s_page32-33_123
{
position:absolute;top:5496.71px;left:505.11px;
}
.s_page32-33_124
{
position:absolute;top:5496.71px;left:828px;letter-spacing:-0.26px;
}
.s_page32-33_125
{
position:absolute;top:5496.71px;left:1830.81px;letter-spacing:-0.63px;
}
.s_page32-33_126
{
position:absolute;top:5496.71px;left:2674.5px;
}
.s_page32-33_127
{
position:absolute;top:5496.71px;left:3181.23px;
}
.s_page32-33_128
{
position:absolute;top:5496.71px;left:3635.44px;
}
.s_page32-33_129
{
position:absolute;top:5496.71px;left:4299.21px;letter-spacing:-2.68px;
}
.s_page32-33_130
{
position:absolute;top:5496.71px;left:4603.15px;letter-spacing:-0.88px;
}
.s_page32-33_131
{
position:absolute;top:5496.71px;left:5565.13px;letter-spacing:-0.19px;
}
.s_page32-33_132
{
position:absolute;top:5496.71px;left:6365.66px;
}
.s_page32-33_133
{
position:absolute;top:5496.71px;left:6705.99px;
}
.s_page32-33_134
{
position:absolute;top:5936.71px;left:828px;letter-spacing:-0.71px;
}
.s_page32-33_135
{
position:absolute;top:5936.71px;left:1370.1px;letter-spacing:-0.69px;
}
.s_page32-33_136
{
position:absolute;top:5936.71px;left:2302.7px;letter-spacing:-0.7px;
}
.s_page32-33_137
{
position:absolute;top:6466.71px;left:505.11px;
}
.s_page32-33_138
{
position:absolute;top:6466.71px;left:828px;letter-spacing:-1.01px;
}
.s_page32-33_139
{
position:absolute;top:6466.71px;left:1868.51px;letter-spacing:-0.71px;
}
.s_page32-33_140
{
position:absolute;top:6466.71px;left:2416.84px;letter-spacing:-0.92px;
}
.s_page32-33_141
{
position:absolute;top:6466.71px;left:3496.35px;letter-spacing:-3.38px;
}
.s_page32-33_142
{
position:absolute;top:6466.71px;left:3842.4px;
}
.s_page32-33_143
{
position:absolute;top:6466.71px;left:4296.61px;letter-spacing:-0.57px;
}
.s_page32-33_144
{
position:absolute;top:7086.71px;left:505.11px;
}
.s_page32-33_145
{
position:absolute;top:7086.71px;left:828px;letter-spacing:-0.45px;
}
.s_page32-33_146
{
position:absolute;top:7086.71px;left:1331.1px;letter-spacing:-1.04px;
}
.s_page32-33_147
{
position:absolute;top:7086.71px;left:1985.76px;letter-spacing:-0.17px;
}
.s_page32-33_148
{
position:absolute;top:7086.71px;left:2991.17px;letter-spacing:-0.71px;
}
.s_page32-33_149
{
position:absolute;top:7086.71px;left:3539.5px;letter-spacing:-0.92px;
}
.s_page32-33_150
{
position:absolute;top:7086.71px;left:4619.01px;
}
.s_page32-33_151
{
position:absolute;top:7086.71px;left:5130.16px;letter-spacing:-0.83px;
}
.s_page32-33_152
{
position:absolute;top:7086.71px;left:6418.7px;letter-spacing:-3.38px;
}
.s_page32-33_153
{
position:absolute;top:7526.71px;left:828px;
}
.s_page32-33_154
{
position:absolute;top:7526.71px;left:1282.21px;letter-spacing:-0.3px;
}
.s_page32-33_155
{
position:absolute;top:7526.71px;left:2128.5px;letter-spacing:-0.32px;
}
.s_page32-33_156
{
position:absolute;top:-14.08px;left:0px;letter-spacing:-3.68px;
}
.s_page32-33_157
{
position:absolute;top:-14.08px;left:727.67px;
}
.s_page32-33_158
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-0.35px;
}
.s_page32-33_159
{
position:absolute;top:-19.5px;left:787.79px;letter-spacing:-0.83px;
}
.s_page32-33_160
{
position:absolute;top:-19.5px;left:1927.62px;
}
.s_page32-33_161
{
position:absolute;top:-19.5px;left:2414.07px;
}
.s_page32-33_162
{
position:absolute;top:-19.5px;left:3280.12px;
}
.s_page32-33_163
{
position:absolute;top:-19.5px;left:4279.55px;
}
.s_page32-33_164
{
position:absolute;top:-19.5px;left:4733.76px;
}
.s_page32-33_165
{
position:absolute;top:-19.5px;left:5513.75px;letter-spacing:-0.48px;
}
.s_page32-33_166
{
position:absolute;top:-19.5px;left:6138.26px;
}
.s_page32-33_167
{
position:absolute;top:-19.5px;left:6782.78px;letter-spacing:-2.68px;
}
.s_page32-33_168
{
position:absolute;top:-19.5px;left:7086.72px;letter-spacing:0px;
}
.s_page32-33_169
{
position:absolute;top:380.5px;left:0px;letter-spacing:-0.83px;
}
.s_page32-33_170
{
position:absolute;top:380.5px;left:1135.41px;
}
.s_page32-33_171
{
position:absolute;top:380.5px;left:1682.69px;
}
.s_page32-33_172
{
position:absolute;top:380.5px;left:2169.14px;
}
.s_page32-33_173
{
position:absolute;top:380.5px;left:3148.03px;
}
.s_page32-33_174
{
position:absolute;top:380.5px;left:3602.24px;
}
.s_page32-33_175
{
position:absolute;top:380.5px;left:4299.03px;
}
.s_page32-33_176
{
position:absolute;top:380.5px;left:4753.24px;letter-spacing:0px;
}
.s_page32-33_177
{
position:absolute;top:41.44px;left:134.15px;
}
.s_page32-33_178
{
position:absolute;top:-14.73px;left:143.43px;letter-spacing:-0.26px;
}
.s_page32-33_179
{
position:absolute;top:-14.73px;left:738.48px;letter-spacing:-0.63px;
}
.s_page32-33_180
{
position:absolute;top:247.12px;left:51.82px;
}
.s_page32-33_181
{
position:absolute;top:247.12px;left:420.43px;letter-spacing:-0.79px;
}
.s_page32-33_182
{
position:absolute;top:247.12px;left:799.65px;
}
.s_page32-33_183
{
position:absolute;top:247.12px;left:1220.51px;letter-spacing:-0.2px;
}
.s_page32-33_184
{
position:absolute;top:508.98px;left:166.31px;letter-spacing:-0.66px;
}
.s_page32-33_185
{
position:absolute;top:508.98px;left:921.41px;letter-spacing:-2.45px;
}
.s_page32-33_186
{
position:absolute;top:508.98px;left:1074.4px;letter-spacing:-0.43px;
}
.s_page32-33_187
{
position:absolute;top:-12.32px;left:0px;
}
.s_page32-33_188
{
position:absolute;top:-12.32px;left:420.83px;letter-spacing:-5.11px;
}
.s_page32-33_189
{
position:absolute;top:-12.32px;left:971.57px;letter-spacing:-6.86px;
}
.s_page32-33_190
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-0.45px;
}
.s_page32-33_191
{
position:absolute;top:-19.5px;left:499.46px;text-rendering:optimizeLegibility;
}
.s_page32-33_192
{
position:absolute;top:-19.5px;left:993.71px;letter-spacing:-0.45px;
}
.s_page32-33_193
{
position:absolute;top:-19.5px;left:1496.81px;
}
.s_page32-33_194
{
position:absolute;top:-19.5px;left:2608.03px;
}
.s_page32-33_195
{
position:absolute;top:-19.5px;left:3434.3px;
}
.s_page32-33_196
{
position:absolute;top:-19.5px;left:3505.02px;
}
.s_page32-33_197
{
position:absolute;top:-19.5px;left:3761.89px;
}
.s_page32-33_198
{
position:absolute;top:-19.5px;left:4547.34px;
}
.s_page32-33_199
{
position:absolute;top:-19.5px;left:4908.99px;
}
.s_page32-33_200
{
position:absolute;top:-19.5px;left:5363.2px;letter-spacing:-0.91px;
}
.s_page32-33_201
{
position:absolute;top:-19.5px;left:6618.2px;letter-spacing:-2.68px;
}
.s_page32-33_202
{
position:absolute;top:380.5px;left:0px;letter-spacing:-3.25px;
}
.s_page32-33_203
{
position:absolute;top:380.5px;left:207.48px;letter-spacing:-0.98px;
}
.s_page32-33_204
{
position:absolute;top:380.5px;left:1413.86px;letter-spacing:-0.16px;
}
.s_page32-33_205
{
position:absolute;top:380.5px;left:2464.5px;
}
.s_page32-33_206
{
position:absolute;top:380.5px;left:2975.65px;
}
.s_page32-33_207
{
position:absolute;top:380.5px;left:4856.21px;
}
.s_page32-33_208
{
position:absolute;top:380.5px;left:5430.8px;letter-spacing:-3.48px;
}
.s_page32-33_209
{
position:absolute;top:380.5px;left:6356.64px;letter-spacing:-0.95px;
}
.s_page32-33_210
{
position:absolute;top:380.5px;left:6747.68px;letter-spacing:0px;
}
.s_page32-33_211
{
position:absolute;top:780.5px;left:0px;letter-spacing:-0.9px;
}
.s_page32-33_212
{
position:absolute;top:780.5px;left:1363.42px;
}
.s_page32-33_213
{
position:absolute;top:780.5px;left:1814px;letter-spacing:-0.85px;
}
.s_page32-33_214
{
position:absolute;top:780.5px;left:2601.26px;letter-spacing:-2.68px;
}
.s_page32-33_215
{
position:absolute;top:780.5px;left:2900.78px;letter-spacing:-0.58px;
}
.s_page32-33_216
{
position:absolute;top:780.5px;left:4233.26px;letter-spacing:-0.98px;
}
.s_page32-33_217
{
position:absolute;top:780.5px;left:5439.64px;letter-spacing:-0.36px;
}
.s_page32-33_218
{
position:absolute;top:780.5px;left:6391.49px;letter-spacing:0px;
}
.s_page32-33_219
{
position:absolute;top:1180.5px;left:0px;text-rendering:optimizeLegibility;
}
.s_page32-33_220
{
position:absolute;top:1180.5px;left:1012.42px;letter-spacing:-0.32px;
}
.s_page32-33_221
{
position:absolute;top:41.44px;left:134.15px;
}
.s_page32-33_222
{
position:absolute;top:58.88px;left:0px;
}
.s_page32-33_223
{
position:absolute;top:213.6px;left:380.63px;
}
.s_page32-33_224
{
position:absolute;top:213.6px;left:453.54px;letter-spacing:0px;
}
.s_page32-33_225
{
position:absolute;top:213.6px;left:1337.01px;
}
.s_page32-33_226
{
position:absolute;top:213.6px;left:1758.72px;letter-spacing:-0.39px;
}
.s_page32-33_227
{
position:absolute;top:213.6px;left:2618.27px;letter-spacing:-1.34px;
}
.s_page32-33_228
{
position:absolute;top:213.6px;left:3489.52px;letter-spacing:-0.62px;
}
.s_page32-33_229
{
position:absolute;top:213.6px;left:4083.61px;
}
.s_page32-33_230
{
position:absolute;top:213.6px;left:4505.33px;letter-spacing:-0.16px;
}
.s_page32-33_231
{
position:absolute;top:213.6px;left:5398.93px;letter-spacing:-0.74px;
}
.s_page32-33_232
{
position:absolute;top:213.6px;left:6052.82px;letter-spacing:0px;
}
.s_page32-33_233
{
position:absolute;top:213.6px;left:6344.28px;letter-spacing:0px;
}
.s_page32-33_234
{
position:absolute;top:213.6px;left:7029.11px;letter-spacing:-1.98px;
}
.s_page32-33_235
{
position:absolute;top:213.6px;left:7596.68px;letter-spacing:-0.26px;
}
.s_page32-33_236
{
position:absolute;top:213.6px;left:8870.67px;letter-spacing:-2.51px;
}
.s_page32-33_237
{
position:absolute;top:213.6px;left:9150.17px;letter-spacing:0px;
}
.s_page32-33_238
{
position:absolute;top:-26.96px;left:757.04px;letter-spacing:18.33px;-webkit-transform-origin: 0% 759.55px;-webkit-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 759.55px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page32-33_239
{
position:absolute;top:-26.96px;left:1729.23px;letter-spacing:24.06px;-webkit-transform-origin: 0% 759.55px;-webkit-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 759.55px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page32-33_240
{
position:absolute;top:-26.96px;left:4904.02px;letter-spacing:19.64px;-webkit-transform-origin: 0% 759.55px;-webkit-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 759.55px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page32-33_241
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-2.86px;
}
.s_page32-33_242
{
position:absolute;top:-19.5px;left:989.8px;
}
.s_page32-33_243
{
position:absolute;top:-19.5px;left:1246.68px;letter-spacing:-1.1px;
}
.s_page32-33_244
{
position:absolute;top:-19.5px;left:2435.9px;letter-spacing:-3.38px;
}
.s_page32-33_245
{
position:absolute;top:300.5px;left:0px;
}
.s_page32-33_246
{
position:absolute;top:300.5px;left:1096.66px;letter-spacing:-0.54px;
}
.s_page32-33_247
{
position:absolute;top:300.5px;left:2465.54px;letter-spacing:-0.58px;
}
.s_page32-33_248
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-1.3px;
}
.s_page32-33_249
{
position:absolute;top:-19.5px;left:487.75px;
}
.s_page32-33_250
{
position:absolute;top:-19.5px;left:1375.64px;letter-spacing:-1.4px;
}
.s_page32-33_251
{
position:absolute;top:-19.5px;left:1948.15px;
}
.s_page32-33_252
{
position:absolute;top:300.5px;left:0px;letter-spacing:-0.26px;
}
.s_page32-33_253
{
position:absolute;top:300.5px;left:830.17px;letter-spacing:-1.4px;
}
.s_page32-33_254
{
position:absolute;top:300.5px;left:1463.52px;letter-spacing:-3.25px;
}
.s_page32-33_255
{
position:absolute;top:300.5px;left:1664.76px;letter-spacing:-0.55px;
}
.s_page32-33_256
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-0.46px;
}
.s_page32-33_257
{
position:absolute;top:-19.5px;left:1846.23px;
}
.s_page32-33_258
{
position:absolute;top:-19.5px;left:2098.69px;
}
.s_page32-33_259
{
position:absolute;top:300.5px;left:0px;letter-spacing:-2.08px;
}
.s_page32-33_260
{
position:absolute;top:300.5px;left:543.13px;letter-spacing:-0.78px;
}
.s_page32-33_261
{
position:absolute;top:-19.5px;left:95.32px;letter-spacing:-1.69px;
}
.s_page32-33_262
{
position:absolute;top:-19.5px;left:57.36px;
}
.s_page32-33_263
{
position:absolute;top:-19.5px;left:55.41px;letter-spacing:-2.08px;
}
.s_page32-33_264
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-0.45px;
}
.s_page32-33_265
{
position:absolute;top:-19.5px;left:503.1px;
}
.s_page32-33_266
{
position:absolute;top:-19.5px;left:1448.7px;
}
.s_page32-33_267
{
position:absolute;top:-19.5px;left:2256.76px;
}
.s_page32-33_268
{
position:absolute;top:280.5px;left:0px;letter-spacing:-1.49px;
}
.s_page32-33_269
{
position:absolute;top:280.5px;left:464.35px;letter-spacing:-1px;
}
.s_page32-33_270
{
position:absolute;top:280.5px;left:1111.48px;letter-spacing:-0.97px;
}
.s_page32-33_271
{
position:absolute;top:280.5px;left:2029.79px;
}
.s_page32-33_272
{
position:absolute;top:280.5px;left:2282.24px;
}
.s_page32-33_273
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-0.45px;
}
.s_page32-33_274
{
position:absolute;top:-19.5px;left:498.16px;letter-spacing:-1.04px;
}
.s_page32-33_275
{
position:absolute;top:-19.5px;left:1417.76px;letter-spacing:-0.97px;
}
.s_page32-33_276
{
position:absolute;top:-19.5px;left:2301.74px;
}
.s_page32-33_277
{
position:absolute;top:300.5px;left:0px;
}
.s_page32-33_278
{
position:absolute;top:300.5px;left:252.45px;
}
.s_page32-33_279
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-0.72px;
}
.s_page32-33_280
{
position:absolute;top:-19.5px;left:1196.25px;letter-spacing:-1.4px;
}
.s_page32-33_281
{
position:absolute;top:-19.5px;left:1829.6px;letter-spacing:-0.45px;
}
.s_page32-33_282
{
position:absolute;top:300.5px;left:0px;letter-spacing:-0.33px;
}
.s_page32-33_283
{
position:absolute;top:300.5px;left:836.67px;
}
.s_page32-33_284
{
position:absolute;top:300.5px;left:1424.53px;
}
.s_page32-33_285
{
position:absolute;top:300.5px;left:1495.24px;
}
.s_page32-33_286
{
position:absolute;top:300.5px;left:1752.12px;letter-spacing:-3.25px;
}
.s_page32-33_287
{
position:absolute;top:300.5px;left:1959.59px;
}
.s_page32-33_288
{
position:absolute;top:-19.5px;left:57.62px;letter-spacing:-1.3px;
}
.s_page32-33_289
{
position:absolute;top:-19.5px;left:58.92px;letter-spacing:-2.08px;
}
.s_page32-33_290
{
position:absolute;top:-19.5px;left:52.94px;letter-spacing:-2.08px;
}
.s_page32-33_291
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-0.45px;
}
.s_page32-33_292
{
position:absolute;top:-19.5px;left:503.1px;
}
.s_page32-33_293
{
position:absolute;top:-19.5px;left:1767.2px;letter-spacing:-2.69px;
}
.s_page32-33_294
{
position:absolute;top:-19.5px;left:2411.99px;letter-spacing:-2.68px;
}
.s_page32-33_295
{
position:absolute;top:300.5px;left:0px;
}
.s_page32-33_296
{
position:absolute;top:300.5px;left:701.21px;
}
.s_page32-33_297
{
position:absolute;top:300.5px;left:953.66px;
}
.s_page32-33_298
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-1.52px;
}
.s_page32-33_299
{
position:absolute;top:-19.5px;left:892.31px;letter-spacing:-1.75px;
}
.s_page32-33_300
{
position:absolute;top:-19.5px;left:1346.79px;text-rendering:optimizeLegibility;
}
.s_page32-33_301
{
position:absolute;top:300.5px;left:0px;
}
.s_page32-33_302
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-0.19px;
}
.s_page32-33_303
{
position:absolute;top:-19.5px;left:1126.57px;letter-spacing:-0.57px;
}
.s_page32-33_304
{
position:absolute;top:-19.5px;left:1848.06px;
}
.s_page32-33_305
{
position:absolute;top:-19.5px;left:2104.93px;letter-spacing:-3.25px;
}
.s_page32-33_306
{
position:absolute;top:-19.5px;left:2312.41px;letter-spacing:-1.3px;
}
.s_page32-33_307
{
position:absolute;top:300.5px;left:0px;letter-spacing:-0.49px;
}
.s_page32-33_308
{
position:absolute;top:300.5px;left:1021.52px;letter-spacing:-0.17px;
}
.s_page32-33_309
{
position:absolute;top:300.5px;left:2200.09px;
}
.s_page32-33_310
{
position:absolute;top:-19.5px;left:74.13px;letter-spacing:-10.92px;
}
.s_page32-33_311
{
position:absolute;top:-19.5px;left:49.3px;letter-spacing:-1.95px;
}
.s_page32-33_312
{
position:absolute;top:-19.5px;left:53.72px;letter-spacing:-4.03px;
}
.s_page32-33_313
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-1.99px;
}
.s_page32-33_314
{
position:absolute;top:-19.5px;left:291.46px;
}
.s_page32-33_315
{
position:absolute;top:300.5px;left:0px;letter-spacing:-3.21px;
}
.s_page32-33_316
{
position:absolute;top:300.5px;left:294.84px;
}
.s_page32-33_317
{
position:absolute;top:620.5px;left:0px;letter-spacing:-1.47px;
}
.s_page32-33_318
{
position:absolute;top:620.5px;left:277.42px;letter-spacing:-0.47px;
}
.s_page32-33_319
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-1.99px;
}
.s_page32-33_320
{
position:absolute;top:-19.5px;left:291.46px;letter-spacing:-3.22px;
}
.s_page32-33_321
{
position:absolute;top:300.5px;left:0px;letter-spacing:-3.21px;
}
.s_page32-33_322
{
position:absolute;top:300.5px;left:288.6px;letter-spacing:-1.2px;
}
.s_page32-33_323
{
position:absolute;top:620.5px;left:0px;letter-spacing:-1.47px;
}
.s_page32-33_324
{
position:absolute;top:620.5px;left:281.84px;letter-spacing:-1px;
}
.s_page32-33_325
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-1.99px;
}
.s_page32-33_326
{
position:absolute;top:-19.5px;left:291.46px;letter-spacing:-0.9px;
}
.s_page32-33_327
{
position:absolute;top:300.5px;left:0px;letter-spacing:-3.21px;
}
.s_page32-33_328
{
position:absolute;top:300.5px;left:294.84px;
}
.s_page32-33_329
{
position:absolute;top:620.5px;left:0px;letter-spacing:-1.47px;
}
.s_page32-33_330
{
position:absolute;top:620.5px;left:281.84px;letter-spacing:-0.19px;
}
.s_page32-33_331
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-1.99px;
}
.s_page32-33_332
{
position:absolute;top:-19.5px;left:291.46px;
}
.s_page32-33_333
{
position:absolute;top:300.5px;left:0px;letter-spacing:-3.21px;
}
.s_page32-33_334
{
position:absolute;top:300.5px;left:294.84px;letter-spacing:-2.01px;
}
.s_page32-33_335
{
position:absolute;top:620.5px;left:0px;letter-spacing:-1.47px;
}
.s_page32-33_336
{
position:absolute;top:620.5px;left:275.08px;letter-spacing:-1.19px;
}
.s_page32-33_337
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-1.99px;
}
.s_page32-33_338
{
position:absolute;top:-19.5px;left:291.46px;letter-spacing:-0.26px;
}
.s_page32-33_339
{
position:absolute;top:300.5px;left:0px;letter-spacing:-3.21px;
}
.s_page32-33_340
{
position:absolute;top:300.5px;left:294.84px;letter-spacing:-1.97px;
}
.s_page32-33_341
{
position:absolute;top:620.5px;left:0px;letter-spacing:-1.47px;
}
.s_page32-33_342
{
position:absolute;top:620.5px;left:281.84px;
}
.s_page32-33_343
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-1.99px;
}
.s_page32-33_344
{
position:absolute;top:-19.5px;left:291.46px;
}
.s_page32-33_345
{
position:absolute;top:300.5px;left:0px;letter-spacing:-3.21px;
}
.s_page32-33_346
{
position:absolute;top:300.5px;left:294.84px;letter-spacing:-0.98px;
}
.s_page32-33_347
{
position:absolute;top:620.5px;left:0px;letter-spacing:-1.47px;
}
.s_page32-33_348
{
position:absolute;top:620.5px;left:281.84px;
}
.s_page32-33_349
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-1.99px;
}
.s_page32-33_350
{
position:absolute;top:-19.5px;left:283.66px;letter-spacing:-0.91px;
}
.s_page32-33_351
{
position:absolute;top:-19.5px;left:1186.1px;
}
.s_page32-33_352
{
position:absolute;top:300.5px;left:0px;letter-spacing:-3.21px;
}
.s_page32-33_353
{
position:absolute;top:300.5px;left:294.84px;
}
.s_page32-33_354
{
position:absolute;top:300.5px;left:1312.46px;letter-spacing:-1px;
}
.s_page32-33_355
{
position:absolute;top:620.5px;left:0px;letter-spacing:-1.47px;
}
.s_page32-33_356
{
position:absolute;top:620.5px;left:281.84px;
}
.s_page32-33_357
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-1.99px;
}
.s_page32-33_358
{
position:absolute;top:-19.5px;left:291.46px;letter-spacing:-1.2px;
}
.s_page32-33_359
{
position:absolute;top:300.5px;left:0px;letter-spacing:-3.21px;
}
.s_page32-33_360
{
position:absolute;top:300.5px;left:294.84px;letter-spacing:-1.08px;
}
.s_page32-33_361
{
position:absolute;top:620.5px;left:0px;letter-spacing:-1.47px;
}
.s_page32-33_362
{
position:absolute;top:620.5px;left:281.84px;letter-spacing:-1.11px;
}
.s_page32-33_363
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-1.99px;
}
.s_page32-33_364
{
position:absolute;top:-19.5px;left:291.46px;
}
.s_page32-33_365
{
position:absolute;top:300.5px;left:0px;letter-spacing:-3.21px;
}
.s_page32-33_366
{
position:absolute;top:300.5px;left:294.84px;letter-spacing:-0.88px;
}
.s_page32-33_367
{
position:absolute;top:620.5px;left:0px;letter-spacing:-1.47px;
}
.s_page32-33_368
{
position:absolute;top:620.5px;left:275.08px;letter-spacing:-1.04px;
}

.page32_position1 {
	position:absolute;
	top: 86px;
	left: 388px;
	/*border: 1px solid red;*/
}
.page32_position2 {
	position:absolute;
	top: 117px;
	left: 385px;
	/*border: 1px solid red;*/
}
.page32_position3 {
	position:absolute;
	top: 170px;
	left: 378px;
	/*border: 1px solid red;*/
}
.page32_position4 {
	position:absolute;
	top: 219px;
	left: 219px;
	/*border: 1px solid red;*/
}
.page32_position5 {
	position:absolute;
	top: 246px;
	left: 353px;
	/*border: 1px solid red;*/
}
.page32_position6 {
	position:absolute;
	top: 277px;
	left: 418px;
	/*border: 1px solid red;*/
}
.page32_position7 {
	position:absolute;
	top: 328px;
	left: 341px;
	/*border: 1px solid red;*/
}
.page32_position8 {
	position:absolute;
	top: 378px;
	left: 256px;
	/*border: 1px solid red;*/
}
.page32_position9 {
	position:absolute;
	top: 405px;
	left: 364px;
	/*border: 1px solid red;*/
}
.page32_position10 {
	position:absolute;
	top: 458px;
	left: 245px;
	/*border: 1px solid red;*/
}
.page32_btn1 {
	position:absolute;
	top: 785px;
	left: 332px;
}
.page32_btn2 {
	position:absolute;
	top: 785px;
	left: 275px;
}
.page33_pos1 {
	position:absolute;
	top: 293px;
	left: 144px;
}
.page33_pos2 {
	position:absolute;
	top: 307px;
	left: 107px;
}
.page33_pos3 {
	position:absolute;
	top: 325px;
	left: 106px;
}
.page33_pos4 {
	position:absolute;
	top: 291px;
	left: 282px;
}
.page33_pos5 {
	position:absolute;
	top: 308px;
	left: 285px;
}
.page33_pos6 {
	position:absolute;
	top: 326px;
	left: 292px;
}
.page33_pos7 {
	position:absolute;
	top: 293px;
	left: 505px;
}
.page33_pos8 {
	position:absolute;
	top: 308px;
	left: 457px;
}
.page33_pos9 {
	position:absolute;
	top: 325px;
	left: 472px;
}
.page33_pos10 {
	position:absolute;
	top: 502px;
	left: 115px;
}
.page33_pos11 {
	position:absolute;
	top: 518px;
	left: 131px;
}
.page33_pos12 {
	position:absolute;
	top: 536px;
	left: 122px;
}
.page33_pos13 {
	position:absolute;
	top: 502px;
	left: 323px;
}
.page33_pos14 {
	position:absolute;
	top: 519px;
	left: 333px;
}
.page33_pos15 {
	position:absolute;
	top: 536px;
	left: 304px;
}
.page33_pos16 {
	position:absolute;
	top: 502px;
	left: 458px;
}
.page33_pos17 {
	position:absolute;
	top: 518px;
	left: 477px;
}
.page33_pos18 {
	position:absolute;
	top: 535px;
	left: 477px;
}
.page33_pos19 {
	position:absolute;
	top: 713px;
	left: 125px;
}
.page33_pos20 {
	position:absolute;
	top: 728px;
	left: 108px;
}
.page33_pos21 {
	position:absolute;
	top: 745px;
	left: 111px;
}
.page33_pos22 {
	position:absolute;
	top: 713px;
	left: 329px;
}
.page33_pos23 {
	position:absolute;
	top: 729px;
	left: 304px;
}
.page33_pos24 {
	position:absolute;
	top: 745px;
	left: 321px;
}
.page33_pos25 {
	position:absolute;
	top: 712px;
	left: 464px;
}
.page33_pos26 {
	position:absolute;
	top: 729px;
	left: 458px;
}
.page33_pos27 {
	position:absolute;
	top: 745px;
	left: 469px;
}

.page33_btn1 {
	position:absolute;
	top: 797px;
	left: 273px;
}
.page33_btn2 {
	position:absolute;
	top: 797px;
	left: 214px;
}
