.d_page10-11_1
{
position:absolute;overflow:hidden;left:0px;top:0px;-webkit-transform:translate(0.00px,0.00px);-ms-transform:translate(0.00px,0.00px);transform:translate(0.00px,0.00px);width:612px;height:841.89px
}
.d_page10-11_2
{
width:560.18px;height:401.47px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
}
.d_page10-11_3
{
width:10027.22px;height:432px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_page10-11_4
{
width:10192.57px;height:623.35px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_page10-11_5
{
width:710.98px;height:710.98px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0.68px,1px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0.68px,1px) rotate(0deg) scale(0.05);
}
.d_page10-11_6
{
width:710.98px;height:710.98px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0.68px,1px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0.68px,1px) rotate(0deg) scale(0.05);
}
.d_page10-11_7
{
width:710.98px;height:710.98px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0.68px,1px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0.68px,1px) rotate(0deg) scale(0.05);
}
.d_page10-11_8
{
width:710.98px;height:710.98px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0.68px,1px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0.68px,1px) rotate(0deg) scale(0.05);
}
.d_page10-11_9
{
width:1810.53px;height:288px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
}
.d_page10-11_10
{
width:2449.18px;height:1398.9px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page10-11_11
{
width:8390.08px;height:975.59px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page10-11_12
{
width:477.93px;height:477.93px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0.68px,1px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0.68px,1px) rotate(0deg) scale(0.05);
}
.d_page10-11_13
{
width:8116.02px;height:1206.53px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page10-11_14
{
width:443.92px;height:477.93px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0.68px,1px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0.68px,1px) rotate(0deg) scale(0.05);
}
.d_page10-11_15
{
width:9051.97px;height:693.23px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page10-11_16
{
width:477.93px;height:477.93px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0.68px,1px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0.68px,1px) rotate(0deg) scale(0.05);
}
.d_page10-11_17
{
width:8701.89px;height:714.2px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page10-11_18
{
width:477.93px;height:477.93px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0.68px,1px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0.68px,1px) rotate(0deg) scale(0.05);
}
.d_page10-11_19
{
width:7956.23px;height:1180.27px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page10-11_20
{
width:434.65px;height:477.93px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0.68px,1px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0.68px,1px) rotate(0deg) scale(0.05);
}
.d_page10-11_21
{
width:7577.63px;height:998.9px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page10-11_22
{
width:5114.65px;height:623.62px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page10-11_23
{
position:absolute;overflow:hidden;left:0px;top:0px;-webkit-transform:translate(612px,0.00px);-ms-transform:translate(612px,0.00px);transform:translate(612px,0.00px);width:596px;height:841.89px
}
.d_page10-11_24
{
width:560.18px;height:401.47px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
}
.d_page10-11_25
{
width:9858.56px;height:872px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_page10-11_26
{
width:9246.32px;height:997.12px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,10.86px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
}
.d_page10-11_27
{
width:560.18px;height:401.47px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
}
.d_page10-11_28
{
width:6836px;height:1038.9px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page10-11_29
{
width:280.86px;height:234.25px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page10-11_30
{
width:6764px;height:1038.9px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page10-11_31
{
width:280.86px;height:234.25px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page10-11_32
{
width:6476px;height:1458.9px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page10-11_33
{
width:280.86px;height:234.25px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page10-11_34
{
width:6476px;height:1054.2px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page10-11_35
{
width:280.86px;height:234.25px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page10-11_36
{
width:6756.53px;height:1054.2px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page10-11_37
{
width:280.86px;height:234.25px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page10-11_38
{
width:6458.27px;height:1331.36px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page10-11_39
{
width:280.86px;height:234.25px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page10-11_40
{
width:1884.76px;height:288px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
}
.d_page10-11_41
{
width:4814.97px;height:998.9px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.s_page10-11_42
{
position:absolute;top:41.44px;left:134.15px;
}
.s_page10-11_43
{
position:absolute;top:58.88px;left:0px;letter-spacing:-7.92px;
}
.s_page10-11_44
{
position:absolute;top:213.6px;left:329.76px;
}
.s_page10-11_45
{
position:absolute;top:213.6px;left:453.54px;
}
.s_page10-11_46
{
position:absolute;top:213.6px;left:1309.19px;letter-spacing:-0.26px;
}
.s_page10-11_47
{
position:absolute;top:213.6px;left:1929.28px;
}
.s_page10-11_48
{
position:absolute;top:213.6px;left:2351px;letter-spacing:0px;
}
.s_page10-11_49
{
position:absolute;top:213.6px;left:3599.5px;letter-spacing:-0.19px;
}
.s_page10-11_50
{
position:absolute;top:213.6px;left:4541.2px;
}
.s_page10-11_51
{
position:absolute;top:213.6px;left:5273.61px;letter-spacing:0px;
}
.s_page10-11_52
{
position:absolute;top:213.6px;left:5781.65px;letter-spacing:-1.98px;
}
.s_page10-11_53
{
position:absolute;top:213.6px;left:6349.21px;letter-spacing:-0.49px;
}
.s_page10-11_54
{
position:absolute;top:213.6px;left:7344.74px;letter-spacing:-0.62px;
}
.s_page10-11_55
{
position:absolute;top:213.6px;left:7938.83px;letter-spacing:0px;
}
.s_page10-11_56
{
position:absolute;top:213.6px;left:8360.55px;
}
.s_page10-11_57
{
position:absolute;top:213.6px;left:8888.86px;
}
.s_page10-11_58
{
position:absolute;top:58.88px;left:0px;letter-spacing:-23.28px;
}
.s_page10-11_59
{
position:absolute;top:213.6px;left:286.08px;
}
.s_page10-11_60
{
position:absolute;top:213.6px;left:453.54px;letter-spacing:-0.74px;
}
.s_page10-11_61
{
position:absolute;top:213.6px;left:1106.13px;letter-spacing:0px;
}
.s_page10-11_62
{
position:absolute;top:213.6px;left:1527.85px;letter-spacing:-0.45px;
}
.s_page10-11_63
{
position:absolute;top:236.54px;left:224.18px;
}
.s_page10-11_64
{
position:absolute;top:236.54px;left:227.17px;
}
.s_page10-11_65
{
position:absolute;top:236.54px;left:297.11px;
}
.s_page10-11_66
{
position:absolute;top:236.54px;left:309.33px;
}
.s_page10-11_67
{
position:absolute;top:-14.08px;left:0px;letter-spacing:-4.03px;
}
.s_page10-11_68
{
position:absolute;top:-14.08px;left:714.87px;letter-spacing:-3.28px;
}
.s_page10-11_69
{
position:absolute;top:-14.08px;left:1266.86px;letter-spacing:-1.68px;
}
.s_page10-11_70
{
position:absolute;top:-19.5px;left:185.64px;
}
.s_page10-11_71
{
position:absolute;top:-19.5px;left:256.36px;letter-spacing:-3.12px;
}
.s_page10-11_72
{
position:absolute;top:-19.5px;left:689.26px;
}
.s_page10-11_73
{
position:absolute;top:-19.5px;left:1417.77px;
}
.s_page10-11_74
{
position:absolute;top:380.5px;left:300.56px;letter-spacing:-1.82px;
}
.s_page10-11_75
{
position:absolute;top:380.5px;left:753.74px;letter-spacing:-3.25px;
}
.s_page10-11_76
{
position:absolute;top:380.5px;left:961.21px;letter-spacing:-1.2px;
}
.s_page10-11_77
{
position:absolute;top:380.5px;left:1567px;
}
.s_page10-11_78
{
position:absolute;top:380.5px;left:2078.16px;
}
.s_page10-11_79
{
position:absolute;top:780.5px;left:98.28px;
}
.s_page10-11_80
{
position:absolute;top:780.5px;left:536.9px;letter-spacing:-1.17px;
}
.s_page10-11_81
{
position:absolute;top:780.5px;left:1288.55px;
}
.s_page10-11_82
{
position:absolute;top:780.5px;left:1565.18px;letter-spacing:-2.01px;
}
.s_page10-11_83
{
position:absolute;top:1180.5px;left:565.11px;letter-spacing:-0.42px;
}
.s_page10-11_84
{
position:absolute;top:1180.5px;left:1251.76px;
}
.s_page10-11_85
{
position:absolute;top:1180.5px;left:1690.37px;
}
.s_page10-11_86
{
position:absolute;top:-19.5px;left:0px;
}
.s_page10-11_87
{
position:absolute;top:-19.5px;left:746.71px;
}
.s_page10-11_88
{
position:absolute;top:-19.5px;left:1003.58px;letter-spacing:-3.25px;
}
.s_page10-11_89
{
position:absolute;top:-19.5px;left:1204.82px;letter-spacing:-2.13px;
}
.s_page10-11_90
{
position:absolute;top:-19.5px;left:1784.87px;letter-spacing:-0.17px;
}
.s_page10-11_91
{
position:absolute;top:-19.5px;left:2891.67px;
}
.s_page10-11_92
{
position:absolute;top:-19.5px;left:3402.83px;letter-spacing:-0.26px;
}
.s_page10-11_93
{
position:absolute;top:-19.5px;left:4627.15px;letter-spacing:-0.83px;
}
.s_page10-11_94
{
position:absolute;top:-19.5px;left:5204.34px;
}
.s_page10-11_95
{
position:absolute;top:-19.5px;left:5564.95px;letter-spacing:0px;
}
.s_page10-11_96
{
position:absolute;top:-19.5px;left:5817.4px;
}
.s_page10-11_97
{
position:absolute;top:-19.5px;left:6271.61px;
}
.s_page10-11_98
{
position:absolute;top:-19.5px;left:6990.76px;letter-spacing:-2.68px;
}
.s_page10-11_99
{
position:absolute;top:-19.5px;left:7294.7px;letter-spacing:-2.43px;
}
.s_page10-11_100
{
position:absolute;top:380.5px;left:0px;letter-spacing:-1.95px;
}
.s_page10-11_101
{
position:absolute;top:380.5px;left:688.99px;letter-spacing:-2.6px;
}
.s_page10-11_102
{
position:absolute;top:380.5px;left:1108.37px;
}
.s_page10-11_103
{
position:absolute;top:757.19px;left:0px;
}
.s_page10-11_104
{
position:absolute;top:120.01px;left:199.46px;letter-spacing:-1.69px;
}
.s_page10-11_105
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-0.78px;
}
.s_page10-11_106
{
position:absolute;top:-19.5px;left:392.07px;
}
.s_page10-11_107
{
position:absolute;top:-19.5px;left:878.53px;
}
.s_page10-11_108
{
position:absolute;top:-19.5px;left:1533.2px;
}
.s_page10-11_109
{
position:absolute;top:-19.5px;left:2538.34px;
}
.s_page10-11_110
{
position:absolute;top:-19.5px;left:3307.67px;letter-spacing:-2.6px;
}
.s_page10-11_111
{
position:absolute;top:-19.5px;left:3713px;
}
.s_page10-11_112
{
position:absolute;top:-19.5px;left:4423.31px;
}
.s_page10-11_113
{
position:absolute;top:-19.5px;left:5015.84px;letter-spacing:-2.39px;
}
.s_page10-11_114
{
position:absolute;top:-19.5px;left:5644.51px;letter-spacing:0px;
}
.s_page10-11_115
{
position:absolute;top:-19.5px;left:6105.74px;letter-spacing:-1.39px;
}
.s_page10-11_116
{
position:absolute;top:-19.5px;left:7266.88px;letter-spacing:-1px;
}
.s_page10-11_117
{
position:absolute;top:380.5px;left:0px;
}
.s_page10-11_118
{
position:absolute;top:380.5px;left:224.11px;
}
.s_page10-11_119
{
position:absolute;top:380.5px;left:480.99px;
}
.s_page10-11_120
{
position:absolute;top:380.5px;left:978.09px;letter-spacing:-3.25px;
}
.s_page10-11_121
{
position:absolute;top:380.5px;left:1185.57px;
}
.s_page10-11_122
{
position:absolute;top:380.5px;left:1801.76px;letter-spacing:-2.68px;
}
.s_page10-11_123
{
position:absolute;top:380.5px;left:2105.7px;letter-spacing:-1.2px;
}
.s_page10-11_124
{
position:absolute;top:380.5px;left:2696.41px;
}
.s_page10-11_125
{
position:absolute;top:380.5px;left:3514.88px;
}
.s_page10-11_126
{
position:absolute;top:757.19px;left:0px;
}
.s_page10-11_127
{
position:absolute;top:120.01px;left:151.5px;
}
.s_page10-11_128
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-0.42px;
}
.s_page10-11_129
{
position:absolute;top:-19.5px;left:731.89px;
}
.s_page10-11_130
{
position:absolute;top:-19.5px;left:1420.88px;
}
.s_page10-11_131
{
position:absolute;top:-19.5px;left:1932.03px;letter-spacing:-1.14px;
}
.s_page10-11_132
{
position:absolute;top:-19.5px;left:2497.26px;
}
.s_page10-11_133
{
position:absolute;top:-19.5px;left:3025.57px;letter-spacing:-1px;
}
.s_page10-11_134
{
position:absolute;top:-19.5px;left:3633.7px;letter-spacing:-1.01px;
}
.s_page10-11_135
{
position:absolute;top:-19.5px;left:4759.22px;letter-spacing:-1.89px;
}
.s_page10-11_136
{
position:absolute;top:-19.5px;left:5497.87px;letter-spacing:-1.97px;
}
.s_page10-11_137
{
position:absolute;top:-19.5px;left:6076.88px;letter-spacing:-0.94px;
}
.s_page10-11_138
{
position:absolute;top:-19.5px;left:6737.27px;letter-spacing:0px;
}
.s_page10-11_139
{
position:absolute;top:-19.5px;left:7735.92px;
}
.s_page10-11_140
{
position:absolute;top:357.19px;left:0px;
}
.s_page10-11_141
{
position:absolute;top:120.01px;left:159.55px;letter-spacing:-2.08px;
}
.s_page10-11_142
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-1.92px;
}
.s_page10-11_143
{
position:absolute;top:-19.5px;left:679.63px;letter-spacing:-1.08px;
}
.s_page10-11_144
{
position:absolute;top:-19.5px;left:2315.01px;
}
.s_page10-11_145
{
position:absolute;top:-19.5px;left:2381.31px;
}
.s_page10-11_146
{
position:absolute;top:-19.5px;left:2835.52px;letter-spacing:-0.19px;
}
.s_page10-11_147
{
position:absolute;top:-19.5px;left:4018.24px;letter-spacing:-2.6px;
}
.s_page10-11_148
{
position:absolute;top:-19.5px;left:4423.57px;letter-spacing:-1.49px;
}
.s_page10-11_149
{
position:absolute;top:-19.5px;left:4881.95px;letter-spacing:-0.71px;
}
.s_page10-11_150
{
position:absolute;top:-19.5px;left:5450.56px;letter-spacing:0px;
}
.s_page10-11_151
{
position:absolute;top:-19.5px;left:6413.85px;letter-spacing:-1.65px;
}
.s_page10-11_152
{
position:absolute;top:380.5px;left:0px;
}
.s_page10-11_153
{
position:absolute;top:120.01px;left:161.76px;letter-spacing:-1.3px;
}
.s_page10-11_154
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-2.01px;
}
.s_page10-11_155
{
position:absolute;top:-19.5px;left:448.76px;
}
.s_page10-11_156
{
position:absolute;top:-19.5px;left:959.91px;letter-spacing:-1.62px;
}
.s_page10-11_157
{
position:absolute;top:-19.5px;left:1391.5px;letter-spacing:-1.75px;
}
.s_page10-11_158
{
position:absolute;top:-19.5px;left:1841.55px;
}
.s_page10-11_159
{
position:absolute;top:-19.5px;left:2549px;
}
.s_page10-11_160
{
position:absolute;top:-19.5px;left:3010.23px;letter-spacing:-0.29px;
}
.s_page10-11_161
{
position:absolute;top:-19.5px;left:4333.87px;
}
.s_page10-11_162
{
position:absolute;top:-19.5px;left:5012.72px;
}
.s_page10-11_163
{
position:absolute;top:-19.5px;left:5269.6px;letter-spacing:-1.82px;
}
.s_page10-11_164
{
position:absolute;top:-19.5px;left:5722.77px;letter-spacing:-0.29px;
}
.s_page10-11_165
{
position:absolute;top:-19.5px;left:7050.84px;letter-spacing:0px;
}
.s_page10-11_166
{
position:absolute;top:380.5px;left:0px;
}
.s_page10-11_167
{
position:absolute;top:380.5px;left:511.15px;
}
.s_page10-11_168
{
position:absolute;top:380.5px;left:1474.18px;
}
.s_page10-11_169
{
position:absolute;top:785.54px;left:0px;
}
.s_page10-11_170
{
position:absolute;top:120.01px;left:133.06px;letter-spacing:-2.08px;
}
.s_page10-11_171
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-0.41px;
}
.s_page10-11_172
{
position:absolute;top:-19.5px;left:1011.65px;letter-spacing:-1.33px;
}
.s_page10-11_173
{
position:absolute;top:-19.5px;left:2249.75px;letter-spacing:-0.75px;
}
.s_page10-11_174
{
position:absolute;top:-19.5px;left:3520.08px;
}
.s_page10-11_175
{
position:absolute;top:-19.5px;left:4431.37px;letter-spacing:-2.13px;
}
.s_page10-11_176
{
position:absolute;top:-19.5px;left:5011.42px;letter-spacing:-1.33px;
}
.s_page10-11_177
{
position:absolute;top:-19.5px;left:6298.14px;letter-spacing:-1.01px;
}
.s_page10-11_178
{
position:absolute;top:380.5px;left:0px;letter-spacing:-0.88px;
}
.s_page10-11_179
{
position:absolute;top:380.5px;left:996.56px;letter-spacing:-0.58px;
}
.s_page10-11_180
{
position:absolute;top:380.5px;left:1449.48px;
}
.s_page10-11_181
{
position:absolute;top:380.5px;left:1758.09px;letter-spacing:-0.88px;
}
.s_page10-11_182
{
position:absolute;top:380.5px;left:2418.22px;
}
.s_page10-11_183
{
position:absolute;top:380.5px;left:3729.12px;
}
.s_page10-11_184
{
position:absolute;top:380.5px;left:4786.01px;letter-spacing:0px;
}
.s_page10-11_185
{
position:absolute;top:380.5px;left:5295.86px;letter-spacing:-0.33px;
}
.s_page10-11_186
{
position:absolute;top:380.5px;left:6174.65px;letter-spacing:-2.03px;
}
.s_page10-11_187
{
position:absolute;top:380.5px;left:6801.24px;letter-spacing:0px;
}
.s_page10-11_188
{
position:absolute;top:780.5px;left:0px;letter-spacing:-1.23px;
}
.s_page10-11_189
{
position:absolute;top:780.5px;left:1103.95px;letter-spacing:-0.78px;
}
.s_page10-11_190
{
position:absolute;top:780.5px;left:1620.82px;
}
.s_page10-11_191
{
position:absolute;top:780.5px;left:2409.13px;
}
.s_page10-11_192
{
position:absolute;top:780.5px;left:3174.82px;letter-spacing:-2.03px;
}
.s_page10-11_193
{
position:absolute;top:780.5px;left:3801.41px;letter-spacing:-0.29px;
}
.s_page10-11_194
{
position:absolute;top:780.5px;left:4761.32px;
}
.s_page10-11_195
{
position:absolute;top:780.5px;left:5037.95px;letter-spacing:-0.41px;
}
.s_page10-11_196
{
position:absolute;top:-19.5px;left:0px;
}
.s_page10-11_197
{
position:absolute;top:-19.5px;left:378.81px;
}
.s_page10-11_198
{
position:absolute;top:-19.5px;left:1094.06px;
}
.s_page10-11_199
{
position:absolute;top:-19.5px;left:1350.94px;letter-spacing:-3.25px;
}
.s_page10-11_200
{
position:absolute;top:-19.5px;left:1558.41px;
}
.s_page10-11_201
{
position:absolute;top:-19.5px;left:2438.76px;
}
.s_page10-11_202
{
position:absolute;top:-19.5px;left:2986.04px;
}
.s_page10-11_203
{
position:absolute;top:-19.5px;left:3840.92px;
}
.s_page10-11_204
{
position:absolute;top:380.5px;left:0px;text-rendering:optimizeLegibility;letter-spacing:-1.3px;
}
.s_page10-11_205
{
position:absolute;top:380.5px;left:1061.82px;letter-spacing:-1.4px;
}
.s_page10-11_206
{
position:absolute;top:380.5px;left:1695.17px;
}
.s_page10-11_207
{
position:absolute;top:380.5px;left:2045.64px;
}
.s_page10-11_208
{
position:absolute;top:380.5px;left:2780.13px;
}
.s_page10-11_209
{
position:absolute;top:41.44px;left:143.76px;
}
.s_page10-11_210
{
position:absolute;top:58.88px;left:0px;
}
.s_page10-11_211
{
position:absolute;top:213.6px;left:380.63px;
}
.s_page10-11_212
{
position:absolute;top:213.6px;left:453.54px;
}
.s_page10-11_213
{
position:absolute;top:213.6px;left:1192.19px;letter-spacing:1.73px;
}
.s_page10-11_214
{
position:absolute;top:213.6px;left:1458.94px;letter-spacing:-1.36px;
}
.s_page10-11_215
{
position:absolute;top:213.6px;left:1883.77px;
}
.s_page10-11_216
{
position:absolute;top:213.6px;left:2422.49px;letter-spacing:-2.51px;
}
.s_page10-11_217
{
position:absolute;top:213.6px;left:2700.95px;
}
.s_page10-11_218
{
position:absolute;top:213.6px;left:3122.66px;letter-spacing:-0.84px;
}
.s_page10-11_219
{
position:absolute;top:213.6px;left:3955.17px;letter-spacing:-0.16px;
}
.s_page10-11_220
{
position:absolute;top:213.6px;left:4847.74px;
}
.s_page10-11_221
{
position:absolute;top:213.6px;left:5080.69px;letter-spacing:-0.94px;
}
.s_page10-11_222
{
position:absolute;top:213.6px;left:6027.08px;
}
.s_page10-11_223
{
position:absolute;top:213.6px;left:6573.33px;letter-spacing:-2.52px;
}
.s_page10-11_224
{
position:absolute;top:213.6px;left:7335.64px;letter-spacing:-0.95px;
}
.s_page10-11_225
{
position:absolute;top:213.6px;left:8252.65px;letter-spacing:0px;
}
.s_page10-11_226
{
position:absolute;top:213.6px;left:8674.37px;letter-spacing:-0.49px;
}
.s_page10-11_227
{
position:absolute;top:613.6px;left:453.54px;letter-spacing:-1.52px;
}
.s_page10-11_228
{
position:absolute;top:613.6px;left:1163.6px;
}
.s_page10-11_229
{
position:absolute;top:613.6px;left:2010.92px;
}
.s_page10-11_230
{
position:absolute;top:613.6px;left:2959.68px;
}
.s_page10-11_231
{
position:absolute;top:613.6px;left:3064.2px;
}
.s_page10-11_232
{
position:absolute;top:613.6px;left:3485.91px;letter-spacing:-0.39px;
}
.s_page10-11_233
{
position:absolute;top:613.6px;left:4345.46px;letter-spacing:-1.34px;
}
.s_page10-11_234
{
position:absolute;top:613.6px;left:5216.71px;letter-spacing:-0.16px;
}
.s_page10-11_235
{
position:absolute;top:-26.96px;left:0px;letter-spacing:18.33px;-webkit-transform-origin: 0% 759.55px;-webkit-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 759.55px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page10-11_236
{
position:absolute;top:-26.96px;left:971.26px;letter-spacing:23.57px;-webkit-transform-origin: 0% 759.55px;-webkit-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 759.55px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page10-11_237
{
position:absolute;top:-26.96px;left:3889.69px;letter-spacing:18.33px;-webkit-transform-origin: 0% 759.55px;-webkit-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 759.55px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page10-11_238
{
position:absolute;top:-26.96px;left:4982.27px;letter-spacing:22px;-webkit-transform-origin: 0% 759.55px;-webkit-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 759.55px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page10-11_239
{
position:absolute;top:41.44px;left:143.76px;
}
.s_page10-11_240
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-0.35px;
}
.s_page10-11_241
{
position:absolute;top:-19.5px;left:787.79px;
}
.s_page10-11_242
{
position:absolute;top:-19.5px;left:1040.25px;
}
.s_page10-11_243
{
position:absolute;top:-19.5px;left:1494.46px;
}
.s_page10-11_244
{
position:absolute;top:-19.5px;left:2542.76px;letter-spacing:-0.48px;
}
.s_page10-11_245
{
position:absolute;top:-19.5px;left:3325.09px;
}
.s_page10-11_246
{
position:absolute;top:-19.5px;left:3597.31px;
}
.s_page10-11_247
{
position:absolute;top:-19.5px;left:4046.58px;letter-spacing:-0.45px;
}
.s_page10-11_248
{
position:absolute;top:-19.5px;left:4912.11px;letter-spacing:-0.69px;
}
.s_page10-11_249
{
position:absolute;top:-19.5px;left:5144.8px;letter-spacing:0px;
}
.s_page10-11_250
{
position:absolute;top:-19.5px;left:5401.67px;letter-spacing:0px;
}
.s_page10-11_251
{
position:absolute;top:400.5px;left:0px;letter-spacing:-1px;
}
.s_page10-11_252
{
position:absolute;top:400.5px;left:899.33px;
}
.s_page10-11_253
{
position:absolute;top:400.5px;left:1353.54px;letter-spacing:-0.48px;
}
.s_page10-11_254
{
position:absolute;top:400.5px;left:2099.47px;letter-spacing:-1.04px;
}
.s_page10-11_255
{
position:absolute;top:820.5px;left:0px;letter-spacing:-1.99px;
}
.s_page10-11_256
{
position:absolute;top:820.5px;left:350.74px;text-rendering:optimizeLegibility;letter-spacing:-0.39px;
}
.s_page10-11_257
{
position:absolute;top:820.5px;left:1183.51px;letter-spacing:-0.48px;
}
.s_page10-11_258
{position:absolute;top:820.5px;left: 2355.45px;letter-spacing:-3.21px;}
.s_page10-11_259
{position:absolute;top:820.5px;left: 2639.57px;}
.s_page10-11_260
{position:absolute;top:820.5px;left: 3407.1px;letter-spacing:-0.48px;}
.s_page10-11_261
{position:absolute;top:820.5px;left: 4519.04px;letter-spacing:-1.47px;}
.s_page10-11_262
{position:absolute;top:820.5px;left: 4792.35px;letter-spacing:-1px;}
.s_page10-11_263
{position:absolute;top:820.5px;left: 5519.32px;letter-spacing:-0.57px;}
.s_page10-11_264
{
position:absolute;top:-19.5px;left:81.54px;letter-spacing:-1.69px;
}
.s_page10-11_265
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-0.35px;
}
.s_page10-11_266
{
position:absolute;top:-19.5px;left:787.79px;
}
.s_page10-11_267
{
position:absolute;top:-19.5px;left:1040.25px;
}
.s_page10-11_268
{
position:absolute;top:-19.5px;left:1494.46px;
}
.s_page10-11_269
{
position:absolute;top:-19.5px;left:2434.6px;letter-spacing:-1.73px;
}
.s_page10-11_270
{
position:absolute;top:-19.5px;left:3038.83px;
}
.s_page10-11_271
{
position:absolute;top:-19.5px;left:3311.04px;
}
.s_page10-11_272
{
position:absolute;top:-19.5px;left:3760.31px;letter-spacing:-0.45px;
}
.s_page10-11_273
{
position:absolute;top:-19.5px;left:4625.84px;letter-spacing:-0.69px;
}
.s_page10-11_274
{
position:absolute;top:-19.5px;left:4858.53px;
}
.s_page10-11_275
{
position:absolute;top:-19.5px;left:5115.41px;letter-spacing:-3.25px;
}
.s_page10-11_276
{
position:absolute;top:-19.5px;left:5322.88px;letter-spacing:0px;
}
.s_page10-11_277
{
position:absolute;top:400.5px;left:0px;text-rendering:optimizeLegibility;letter-spacing:-0.39px;
}
.s_page10-11_278
{
position:absolute;top:400.5px;left:940.15px;letter-spacing:-1.73px;
}
.s_page10-11_279
{
position:absolute;top:400.5px;left:1544.37px;
}
.s_page10-11_280
{
position:absolute;top:400.5px;left:1813.21px;letter-spacing:-1.04px;
}
.s_page10-11_281
{
position:absolute;top:820.5px;left:0px;letter-spacing:-1.99px;
}
.s_page10-11_282
{
position:absolute;top:820.5px;left:342.94px;letter-spacing:-0.41px;
}
.s_page10-11_283
{
position:absolute;top:820.5px;left:1811.15px;letter-spacing:-3.21px;
}
.s_page10-11_284
{
position:absolute;top:820.5px;left:2165.27px;
}
.s_page10-11_285
{
position:absolute;top:820.5px;left:3134.03px;letter-spacing:-1.47px;
}
.s_page10-11_286
{
position:absolute;top:820.5px;left:3475.15px;
}
.s_page10-11_287
{
position:absolute;top:-19.5px;left:43.58px;
}
.s_page10-11_288
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-0.35px;
}
.s_page10-11_289
{
position:absolute;top:-19.5px;left:787.79px;letter-spacing:-1.73px;
}
.s_page10-11_290
{
position:absolute;top:-19.5px;left:1392.02px;
}
.s_page10-11_291
{
position:absolute;top:-19.5px;left:1664.23px;
}
.s_page10-11_292
{
position:absolute;top:-19.5px;left:2113.5px;letter-spacing:-0.52px;
}
.s_page10-11_293
{
position:absolute;top:-19.5px;left:2855.79px;
}
.s_page10-11_294
{
position:absolute;top:-19.5px;left:3734.83px;
}
.s_page10-11_295
{
position:absolute;top:-19.5px;left:4189.04px;
}
.s_page10-11_296
{
position:absolute;top:-19.5px;left:4848.65px;letter-spacing:-0.41px;
}
.s_page10-11_297
{
position:absolute;top:-19.5px;left:5734.98px;letter-spacing:-0.69px;
}
.s_page10-11_298
{
position:absolute;top:-19.5px;left:5967.67px;letter-spacing:0px;
}
.s_page10-11_299
{
position:absolute;top:400.5px;left:0px;
}
.s_page10-11_300
{
position:absolute;top:400.5px;left:454.21px;
}
.s_page10-11_301
{
position:absolute;top:400.5px;left:1098.74px;letter-spacing:-1.73px;
}
.s_page10-11_302
{
position:absolute;top:400.5px;left:1702.97px;letter-spacing:-2.68px;
}
.s_page10-11_303
{
position:absolute;top:400.5px;left:2006.91px;
}
.s_page10-11_304
{
position:absolute;top:400.5px;left:2749.98px;
}
.s_page10-11_305
{
position:absolute;top:820.5px;left:0px;letter-spacing:-1.99px;
}
.s_page10-11_306
{
position:absolute;top:820.5px;left:342.94px;letter-spacing:-0.41px;
}
.s_page10-11_307
{
position:absolute;top:820.5px;left:1811.15px;letter-spacing:-3.21px;
}
.s_page10-11_308
{
position:absolute;top:820.5px;left:2155.91px;letter-spacing:-2.86px;
}
.s_page10-11_309
{
position:absolute;top:820.5px;left:3608.27px;letter-spacing:-1.47px;
}
.s_page10-11_310
{
position:absolute;top:820.5px;left:3949.38px;
}
.s_page10-11_311
{
position:absolute;top:-19.5px;left:41.63px;letter-spacing:-2.08px;
}
.s_page10-11_312
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-0.35px;
}
.s_page10-11_313
{
position:absolute;top:-19.5px;left:787.79px;
}
.s_page10-11_314
{
position:absolute;top:-19.5px;left:1040.25px;
}
.s_page10-11_315
{
position:absolute;top:-19.5px;left:1494.46px;letter-spacing:-0.97px;
}
.s_page10-11_316
{
position:absolute;top:-19.5px;left:2378.44px;
}
.s_page10-11_317
{
position:absolute;top:-19.5px;left:2889.59px;
}
.s_page10-11_318
{
position:absolute;top:-19.5px;left:3913.45px;letter-spacing:-0.48px;
}
.s_page10-11_319
{
position:absolute;top:-19.5px;left:4695.79px;
}
.s_page10-11_320
{
position:absolute;top:-19.5px;left:4968px;
}
.s_page10-11_321
{
position:absolute;top:-19.5px;left:5417.27px;letter-spacing:-0.45px;
}
.s_page10-11_322
{
position:absolute;top:400.5px;left:0px;
}
.s_page10-11_323
{
position:absolute;top:400.5px;left:347.87px;
}
.s_page10-11_324
{
position:absolute;top:400.5px;left:802.08px;letter-spacing:-0.54px;
}
.s_page10-11_325
{
position:absolute;top:400.5px;left:2103.63px;
}
.s_page10-11_326
{
position:absolute;top:400.5px;left:2375.84px;
}
.s_page10-11_327
{
position:absolute;top:400.5px;left:2825.11px;letter-spacing:-0.52px;
}
.s_page10-11_328
{
position:absolute;top:400.5px;left:3567.4px;letter-spacing:-0.48px;
}
.s_page10-11_329
{
position:absolute;top:400.5px;left:4270.43px;text-rendering:optimizeLegibility;
}
.s_page10-11_330
{
position:absolute;top:400.5px;left:4581.12px;letter-spacing:-0.31px;
}
.s_page10-11_331
{
position:absolute;top:400.5px;left:5099.03px;letter-spacing:0px;
}
.s_page10-11_332
{
position:absolute;top:820.5px;left:0px;letter-spacing:-1.99px;
}
.s_page10-11_333
{
position:absolute;top:820.5px;left:342.94px;letter-spacing:-1.1px;
}
.s_page10-11_334
{
position:absolute;top:820.5px;left:1294px;letter-spacing:-0.48px;
}
.s_page10-11_335
{position:absolute;top:820.5px;left: 2465.94px;letter-spacing:-3.21px;}
.s_page10-11_336
{position:absolute;top:820.5px;left: 2760.06px;}
.s_page10-11_337
{position:absolute;top:820.5px;left: 3567.59px;letter-spacing:-0.48px;}
.s_page10-11_338
{position:absolute;top:820.5px;left: 4659.53px;letter-spacing:-1.47px;}
.s_page10-11_339
{position:absolute;top:820.5px;left: 4930.65px;text-rendering:optimizeLegibility;letter-spacing:-0.39px;}
.s_page10-11_340
{position:absolute;top:820.5px;left: 5753.42px;letter-spacing:-0.57px;}
.s_page10-11_341
{
position:absolute;top:-19.5px;left:43.84px;letter-spacing:-1.3px;
}
.s_page10-11_342
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-0.35px;
}
.s_page10-11_343
{
position:absolute;top:-19.5px;left:787.79px;
}
.s_page10-11_344
{
position:absolute;top:-19.5px;left:1040.25px;
}
.s_page10-11_345
{
position:absolute;top:-19.5px;left:1494.46px;
}
.s_page10-11_346
{
position:absolute;top:-19.5px;left:2514.68px;letter-spacing:-1.44px;
}
.s_page10-11_347
{
position:absolute;top:-19.5px;left:3876.8px;letter-spacing:-1.82px;
}
.s_page10-11_348
{
position:absolute;top:-19.5px;left:4413.43px;
}
.s_page10-11_349
{
position:absolute;top:-19.5px;left:4685.65px;
}
.s_page10-11_350
{
position:absolute;top:-19.5px;left:5134.92px;letter-spacing:-0.45px;
}
.s_page10-11_351
{
position:absolute;top:-19.5px;left:6000.45px;letter-spacing:-0.69px;
}
.s_page10-11_352
{
position:absolute;top:-19.5px;left:6233.14px;letter-spacing:0px;
}
.s_page10-11_353
{
position:absolute;top:-19.5px;left:6490.01px;
}
.s_page10-11_354
{
position:absolute;top:400.5px;left:0px;
}
.s_page10-11_355
{
position:absolute;top:400.5px;left:1354.32px;
}
.s_page10-11_356
{
position:absolute;top:820.5px;left:0px;letter-spacing:-1.99px;
}
.s_page10-11_357
{
position:absolute;top:820.5px;left:350.74px;letter-spacing:-1.82px;
}
.s_page10-11_358
{
position:absolute;top:820.5px;left:969.28px;letter-spacing:-0.3px;
}
.s_page10-11_359
{position:absolute;top:820.5px;left: 2062.69px;letter-spacing:-3.21px;}
.s_page10-11_360
{position:absolute;top:820.5px;left: 2356.81px;letter-spacing:-1.82px;}
.s_page10-11_361
{position:absolute;top:820.5px;left: 2981.34px;letter-spacing:-0.84px;}
.s_page10-11_362
{position:absolute;top:820.5px;left: 4320.09px;letter-spacing:-1.47px;}
.s_page10-11_363
{position:absolute;top:820.5px;left: 4601.21px;letter-spacing:-1.82px;}
.s_page10-11_364
{position:absolute;top:820.5px;left: 5229.74px;letter-spacing:-1.4px;}
.s_page10-11_365
{
position:absolute;top:-19.5px;left:45.14px;letter-spacing:-2.08px;
}
.s_page10-11_366
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-0.35px;
}
.s_page10-11_367
{
position:absolute;top:-19.5px;left:787.79px;
}
.s_page10-11_368
{
position:absolute;top:-19.5px;left:1040.25px;
}
.s_page10-11_369
{
position:absolute;top:-19.5px;left:1494.46px;
}
.s_page10-11_370
{
position:absolute;top:-19.5px;left:2426.54px;letter-spacing:-0.29px;
}
.s_page10-11_371
{
position:absolute;top:-19.5px;left:3544.52px;
}
.s_page10-11_372
{
position:absolute;top:-19.5px;left:3816.74px;
}
.s_page10-11_373
{
position:absolute;top:-19.5px;left:4266.01px;letter-spacing:-0.45px;
}
.s_page10-11_374
{
position:absolute;top:-19.5px;left:5131.54px;letter-spacing:-0.69px;
}
.s_page10-11_375
{
position:absolute;top:-19.5px;left:5364.23px;letter-spacing:0px;
}
.s_page10-11_376
{
position:absolute;top:400.5px;left:0px;
}
.s_page10-11_377
{
position:absolute;top:400.5px;left:943.52px;
}
.s_page10-11_378
{
position:absolute;top:400.5px;left:1309.6px;letter-spacing:-3.25px;
}
.s_page10-11_379
{
position:absolute;top:400.5px;left:1512.65px;letter-spacing:-0.62px;
}
.s_page10-11_380
{
position:absolute;top:400.5px;left:2611.39px;letter-spacing:-2.68px;
}
.s_page10-11_381
{
position:absolute;top:400.5px;left:2910.91px;
}
.s_page10-11_382
{
position:absolute;top:400.5px;left:3365.12px;
}
.s_page10-11_383
{
position:absolute;top:400.5px;left:3809.19px;letter-spacing:-1px;
}
.s_page10-11_384
{
position:absolute;top:400.5px;left:4641.7px;
}
.s_page10-11_385
{
position:absolute;top:400.5px;left:4910.27px;letter-spacing:-1.43px;
}
.s_page10-11_386
{
position:absolute;top:820.5px;left:0px;letter-spacing:-1.99px;
}
.s_page10-11_387
{
position:absolute;top:820.5px;left:342.68px;letter-spacing:-0.72px;
}
.s_page10-11_388
{
position:absolute;top:820.5px;left:1305.7px;letter-spacing:-3.29px;
}
.s_page10-11_389
{position:absolute;top:820.5px;left: 2228.48px;letter-spacing:-3.21px;}
.s_page10-11_390
{position:absolute;top:820.5px;left: 2522.85px;letter-spacing:-0.91px;}
.s_page10-11_391
{position:absolute;top:820.5px;left: 3019.12px;letter-spacing:-3.29px;}
.s_page10-11_392
{position:absolute;top:820.5px;left: 4006.9px;letter-spacing:-1.47px;}
.s_page10-11_393
{position:absolute;top:820.5px;left: 4280.22px;}
.s_page10-11_394
{position:absolute;top:820.5px;left: 5013.14px;letter-spacing:-3.95px;}
.s_page10-11_395
{
position:absolute;top:-19.5px;left:39.16px;letter-spacing:-2.08px;
}
.s_page10-11_396
{
position:absolute;top:-12.32px;left:0px;
}
.s_page10-11_397
{
position:absolute;top:-12.32px;left:420.83px;letter-spacing:-5.11px;
}
.s_page10-11_398
{
position:absolute;top:-12.32px;left:971.57px;letter-spacing:-6.86px;
}
.s_page10-11_399
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-0.45px;
}
.s_page10-11_400
{
position:absolute;top:-19.5px;left:503.1px;letter-spacing:-0.97px;
}
.s_page10-11_401
{
position:absolute;top:-19.5px;left:1387.08px;letter-spacing:-3.05px;
}
.s_page10-11_402
{
position:absolute;top:-19.5px;left:1878.73px;
}
.s_page10-11_403
{
position:absolute;top:-19.5px;left:2150.95px;
}
.s_page10-11_404
{
position:absolute;top:-19.5px;left:2600.22px;letter-spacing:-0.52px;
}
.s_page10-11_405
{
position:absolute;top:-19.5px;left:3342.51px;
}
.s_page10-11_406
{
position:absolute;top:-19.5px;left:3594.96px;
}
.s_page10-11_407
{
position:absolute;top:380.5px;left:0px;letter-spacing:-3.05px;
}
.s_page10-11_408
{
position:absolute;top:380.5px;left:502.58px;letter-spacing:-2.68px;
}
.s_page10-11_409
{
position:absolute;top:380.5px;left:806.51px;
}
.s_page10-11_410
{
position:absolute;top:380.5px;left:1743.02px;letter-spacing:-0.69px;
}
.s_page10-11_411
{
position:absolute;top:380.5px;left:1975.71px;
}
.s_page10-11_412
{
position:absolute;top:380.5px;left:2232.59px;letter-spacing:-1.65px;
}
.s_page10-11_413
{
position:absolute;top:380.5px;left:3385.15px;letter-spacing:-3.38px;
}
.s_page10-11_414
{
position:absolute;top:380.5px;left:3735.62px;
}
.s_page10-11_415
{
position:absolute;top:780.5px;left:0px;
}
.s_page10-11_416
{
position:absolute;top:780.5px;left:1505.9px;letter-spacing:-0.39px;
}
.s_page10-11_417
{
position:absolute;top:780.5px;left:1883.16px;letter-spacing:-0.3px;
}
.s_page10-11_418
{
position:absolute;top:780.5px;left:2718.01px;
}
.s_page10-11_419
{
position:absolute;top:780.5px;left:3229.16px;letter-spacing:-1.86px;
}

.p10_input_text1 {
	display: none;
	text-align: left;
	font-family: "Cabrito_Sans_Norm_Book";
	font-size: 13px;
	margin-top: 1px;
}
#text1 {
	position:absolute;
	top: 440px;
	left: 68px;
}
#text2 {
	position:absolute;
	top: 440px;
	left: 244px;
}
#text3 {
	position:absolute;
	top: 440px;
	left: 383px;
}
#text4 {
	position:absolute;
	top: 460px;
	left: 68px;
}
#text5 {
	position:absolute;
	top: 480px;
	left: 68px;
}

#box1 {
	position:absolute;
	top: 120px;
	left: 98px;
	width: 394px;
}
#box2 {
	position:absolute;
	top: 186px;
	left: 97px;
	width: 392px;
}
#box3 {
	position:absolute;
	top: 234px;
	left: 99px;
	width: 393px;
}
#box4 {
	position:absolute;
	top: 284px;
	left: 99px;
	width: 393px;
}
#box5 {
	position:absolute;
	top: 354px;
	left: 97px;
	width: 392px;
}
.page10_btn1 {
	position:absolute;
	top: 514px;
	left: 266px;
}

.page10_btn2 {
	position:absolute;
	top: 813px;
	left: 266px;
}
.page10_btn3 {
	position:absolute;
	top: 813px;
	left: 209px;
}
.page10_position1 {
	position:absolute;
	top: 741px;
	left: 312px;
}
.page11_pos1 {
	position:absolute;
	top: 248px;
	left: 84px;
}
.page11_pos2 {
	position:absolute;
	top: 248px;
	left: 201px;
}
.page11_pos3 {
	position:absolute;
	top: 249px;
	left: 311px;
}
.page11_pos4 {
	position:absolute;
	top: 326px;
	left: 85px;
}
.page11_pos5 {
	position:absolute;
	top: 326px;
	left: 175px;
}
.page11_pos6 {
	position:absolute;
	top: 326px;
	left: 240px;
}
.page11_pos7 {
	position:absolute;
	top: 404px;
	left: 194px;
}
.page11_pos8 {
	position:absolute;
	top: 404px;
	left: 284px;
}
.page11_pos9 {
	position:absolute;
	top: 404px;
	left: 375px;
}
.page11_pos10 {
	position:absolute;
	top: 482px;
	left: 193px;
}
.page11_pos11 {
	position:absolute;
	top: 482px;
	left: 317px;
}
.page11_pos12 {
	position:absolute;
	top: 482px;
	left: 428px;
}
.page11_pos13 {
	position:absolute;
	top: 558px;
	left: 87px;
}
.page11_pos14 {
	position:absolute;
	top: 557px;
	left: 186px;
}
.page11_pos15 {
	position:absolute;
	top: 558px;
	left: 302px;
}
.page11_pos16 {
	position:absolute;
	top: 641px;
	left: 195px;
}
.page11_pos17 {
	position:absolute;
	top: 641px;
	left: 302px;
}
.page11_pos18 {
	position:absolute;
	top: 641px;
	left: 394px;
}
.page11_btn1 {
	position:absolute;
	top: 804px;
	left: 273px;
}
.page11_btn2 {
	position:absolute;
	top: 804px;
	left: 214px;
}
