
	.d_1_Chapters_19-16-3_1
{
position:absolute;
overflow:hidden;
left:0px;
top:0px;
transform:translate(0.00px,0.00px);
-webkit-transform:translate(0.00px,0.00px);
-ms-transform:translate(0.00px,0.00px);
-o-transform:translate(0.00px,0.00px);
-moz-transform:translate(0.00px,0.00px);
width:612.28px;
height:841.89px
}
.d_1_Chapters_19-16-3_2
{
width:560.18px;
height:401.47px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
}
.d_1_Chapters_19-16-3_3
{
width:2264.84px;
height:288px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
}
.d_1_Chapters_19-16-3_4
{
width:9091.91px;
height:331.02px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapters_19-16-3_5
{
width:1884.76px;
height:288px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
}
.d_1_Chapters_19-16-3_6
{
width:9324.39px;
height:1398.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapters_19-16-3_7
{
width:9832.17px;
height:518.27px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_1_Chapters_19-16-3_8
{
width:8399.15px;
height:4315.91px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapters_19-16-3_9
{
width:3064.84px;
height:288px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
}
.d_1_Chapters_19-16-3_10
{
width:9196.22px;
height:2255.59px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapters_19-16-3_11
{
position:absolute;
overflow:hidden;
left:0px;
top:0px;
transform:translate(612px,0.00px);
-webkit-transform:translate(612px,0.00px);
-ms-transform:translate(612px,0.00px);
-o-transform:translate(612px,0.00px);
-moz-transform:translate(612px,0.00px);
width:595.28px;
height:841.89px
}
.d_1_Chapters_19-16-3_12
{
width:560.18px;
height:401.47px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
}
.d_1_Chapters_19-16-3_13
{
width:9923.44px;
height:832px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_1_Chapters_19-16-3_14
{
width:9478.76px;
height:851.2px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
}
.d_1_Chapters_19-16-3_15
{
width:9826.77px;
height:5165.17px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapters_19-16-3_16
{
width:1884.76px;
height:288px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
}
.d_1_Chapters_19-16-3_17
{
width:9154.59px;
height:598.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapters_19-16-3_18
{
width:303.28px;
height:256.64px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.13px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.13px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.13px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.13px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.13px) rotate(0deg) scale(0.05);
}
.d_1_Chapters_19-16-3_19
{
width:303.28px;
height:256.64px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.13px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.13px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.13px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.13px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.13px) rotate(0deg) scale(0.05);
}
.d_1_Chapters_19-16-3_20
{
width:303.28px;
height:256.64px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.13px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.13px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.13px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.13px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.13px) rotate(0deg) scale(0.05);
}
.d_1_Chapters_19-16-3_21
{
width:303.28px;
height:256.64px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.13px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.13px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.13px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.13px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.13px) rotate(0deg) scale(0.05);
}
.d_1_Chapters_19-16-3_22
{
width:303.28px;
height:256.64px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.13px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.13px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.13px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.13px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.13px) rotate(0deg) scale(0.05);
}
.d_1_Chapters_19-16-3_23
{
position:absolute;
top:41.44px;
left:134.15px;
}
.d_1_Chapters_19-16-3_24
{
position:absolute;
top:-14.08px;
left:0px;
letter-spacing:-3.68px;
}
.d_1_Chapters_19-16-3_25
{
position:absolute;
top:-14.08px;
left:727.67px;
}
.d_1_Chapters_19-16-3_26
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-2.6px;
}
.d_1_Chapters_19-16-3_27
{
position:absolute;
top:-19.5px;
left:219.18px;
letter-spacing:-1.04px;
}
.d_1_Chapters_19-16-3_28
{
position:absolute;
top:-19.5px;
left:716.29px;
letter-spacing:-2.03px;
}
.d_1_Chapters_19-16-3_29
{
position:absolute;
top:-19.5px;
left:1374.6px;
}
.d_1_Chapters_19-16-3_30
{
position:absolute;
top:-19.5px;
left:1683.22px;
}
.d_1_Chapters_19-16-3_31
{
position:absolute;
top:-19.5px;
left:2365.7px;
letter-spacing:-3.25px;
}
.d_1_Chapters_19-16-3_32
{
position:absolute;
top:-19.5px;
left:2573.18px;
}
.d_1_Chapters_19-16-3_33
{
position:absolute;
top:-19.5px;
left:3279.58px;
}
.d_1_Chapters_19-16-3_34
{
position:absolute;
top:-19.5px;
left:3944.13px;
}
.d_1_Chapters_19-16-3_35
{
position:absolute;
top:-19.5px;
left:4455.54px;
letter-spacing:0px;
}
.d_1_Chapters_19-16-3_36
{
position:absolute;
top:-19.5px;
left:5179.12px;
letter-spacing:-0.52px;
}
.d_1_Chapters_19-16-3_37
{
position:absolute;
top:-19.5px;
left:5958.07px;
letter-spacing:-1.04px;
}
.d_1_Chapters_19-16-3_38
{
position:absolute;
top:-19.5px;
left:6460.12px;
}
.d_1_Chapters_19-16-3_39
{
position:absolute;
top:-19.5px;
left:7374.01px;
letter-spacing:-2.6px;
}
.d_1_Chapters_19-16-3_40
{
position:absolute;
top:-19.5px;
left:7773.1px;
letter-spacing:-0.64px;
}
.d_1_Chapters_19-16-3_41
{
position:absolute;
top:-12.32px;
left:0px;
}
.d_1_Chapters_19-16-3_42
{
position:absolute;
top:-12.32px;
left:420.83px;
letter-spacing:-5.11px;
}
.d_1_Chapters_19-16-3_43
{
position:absolute;
top:-12.32px;
left:971.57px;
letter-spacing:-6.86px;
}
.d_1_Chapters_19-16-3_44
{
position:absolute;
top:-19.5px;
left:0px;
}
.d_1_Chapters_19-16-3_45
{
position:absolute;
top:-19.5px;
left:282.88px;
}
.d_1_Chapters_19-16-3_46
{
position:absolute;
top:-19.5px;
left:737.09px;
}
.d_1_Chapters_19-16-3_47
{
position:absolute;
top:-15.01px;
left:945.08px;
}
.d_1_Chapters_19-16-3_48
{
position:absolute;
top:-19.5px;
left:1084.83px;
}
.d_1_Chapters_19-16-3_49
{
position:absolute;
top:-19.5px;
left:1155.55px;
letter-spacing:-1.73px;
}
.d_1_Chapters_19-16-3_50
{
position:absolute;
top:-19.5px;
left:2179.93px;
letter-spacing:-0.85px;
}
.d_1_Chapters_19-16-3_51
{
position:absolute;
top:-19.5px;
left:3027.26px;
letter-spacing:-0.23px;
}
.d_1_Chapters_19-16-3_52
{
position:absolute;
top:-19.5px;
left:4195.42px;
letter-spacing:-1.45px;
}
.d_1_Chapters_19-16-3_53
{
position:absolute;
top:-19.5px;
left:5053.66px;
letter-spacing:0px;
}
.d_1_Chapters_19-16-3_54
{
position:absolute;
top:-19.5px;
left:5564.82px;
letter-spacing:-1.49px;
}
.d_1_Chapters_19-16-3_55
{
position:absolute;
top:-19.5px;
left:6023.19px;
letter-spacing:-0.19px;
}
.d_1_Chapters_19-16-3_56
{
position:absolute;
top:-19.5px;
left:6872.33px;
}
.d_1_Chapters_19-16-3_57
{
position:absolute;
top:-19.5px;
left:7295.61px;
letter-spacing:-1px;
}
.d_1_Chapters_19-16-3_58
{
position:absolute;
top:-19.5px;
left:7907.37px;
letter-spacing:-0.14px;
}
.d_1_Chapters_19-16-3_59
{
position:absolute;
top:380.5px;
left:0px;
letter-spacing:-3.38px;
}
.d_1_Chapters_19-16-3_60
{
position:absolute;
top:380.5px;
left:350.47px;
letter-spacing:-0.2px;
}
.d_1_Chapters_19-16-3_61
{
position:absolute;
top:380.5px;
left:1463.78px;
}
.d_1_Chapters_19-16-3_62
{
position:absolute;
top:380.5px;
left:2105.97px;
}
.d_1_Chapters_19-16-3_63
{
position:absolute;
top:380.5px;
left:2617.38px;
}
.d_1_Chapters_19-16-3_64
{
position:absolute;
top:380.5px;
left:3467.83px;
}
.d_1_Chapters_19-16-3_65
{
position:absolute;
top:380.5px;
left:3781.38px;
letter-spacing:-1.69px;
}
.d_1_Chapters_19-16-3_66
{
position:absolute;
top:380.5px;
left:4478.17px;
}
.d_1_Chapters_19-16-3_67
{
position:absolute;
top:380.5px;
left:5219.42px;
}
.d_1_Chapters_19-16-3_68
{
position:absolute;
top:380.5px;
left:5830.93px;
letter-spacing:-0.23px;
}
.d_1_Chapters_19-16-3_69
{
position:absolute;
top:380.5px;
left:6999.08px;
letter-spacing:-1.45px;
}
.d_1_Chapters_19-16-3_70
{
position:absolute;
top:380.5px;
left:7852.39px;
letter-spacing:-1.56px;
}
.d_1_Chapters_19-16-3_71
{
position:absolute;
top:380.5px;
left:8614.96px;
letter-spacing:-1px;
}
.d_1_Chapters_19-16-3_72
{
position:absolute;
top:780.5px;
left:0px;
}
.d_1_Chapters_19-16-3_73
{
position:absolute;
top:780.5px;
left:454.21px;
}
.d_1_Chapters_19-16-3_74
{
position:absolute;
top:780.5px;
left:1182.72px;
letter-spacing:-2.68px;
}
.d_1_Chapters_19-16-3_75
{
position:absolute;
top:780.5px;
left:1486.66px;
letter-spacing:-2.41px;
}
.d_1_Chapters_19-16-3_76
{
position:absolute;
top:780.5px;
left:2308.77px;
}
.d_1_Chapters_19-16-3_77
{
position:absolute;
top:780.5px;
left:2867.76px;
letter-spacing:-1.3px;
}
.d_1_Chapters_19-16-3_78
{
position:absolute;
top:780.5px;
left:3559.35px;
letter-spacing:-1.45px;
}
.d_1_Chapters_19-16-3_79
{
position:absolute;
top:780.5px;
left:4413.18px;
}
.d_1_Chapters_19-16-3_80
{
position:absolute;
top:780.5px;
left:4999.72px;
letter-spacing:0px;
}
.d_1_Chapters_19-16-3_81
{
position:absolute;
top:780.5px;
left:5453.93px;
letter-spacing:-0.29px;
}
.d_1_Chapters_19-16-3_82
{
position:absolute;
top:780.5px;
left:6900.04px;
letter-spacing:-2.68px;
}
.d_1_Chapters_19-16-3_83
{
position:absolute;
top:780.5px;
left:7203.97px;
}
.d_1_Chapters_19-16-3_84
{
position:absolute;
top:780.5px;
left:7725.26px;
letter-spacing:0px;
}
.d_1_Chapters_19-16-3_85
{
position:absolute;
top:780.5px;
left:8220.56px;
letter-spacing:0px;
}
.d_1_Chapters_19-16-3_86
{
position:absolute;
top:780.5px;
left:8723.91px;
letter-spacing:0px;
}
.d_1_Chapters_19-16-3_87
{
position:absolute;
top:1180.5px;
left:0px;
letter-spacing:-1.45px;
}
.d_1_Chapters_19-16-3_88
{
position:absolute;
top:1180.5px;
left:853.31px;
letter-spacing:-1.56px;
}
.d_1_Chapters_19-16-3_89
{
position:absolute;
top:1180.5px;
left:1615.88px;
}
.d_1_Chapters_19-16-3_90
{
position:absolute;
top:1180.5px;
left:1948.41px;
letter-spacing:-0.65px;
}
.d_1_Chapters_19-16-3_91
{
position:absolute;
top:1180.5px;
left:2698.23px;
}
.d_1_Chapters_19-16-3_92
{
position:absolute;
top:58.88px;
left:0px;
letter-spacing:-7.92px;
}
.d_1_Chapters_19-16-3_93
{
position:absolute;
top:213.6px;
left:329.76px;
}
.d_1_Chapters_19-16-3_94
{
position:absolute;
top:196.8px;
left:453.54px;
letter-spacing:-0.56px;
}
.d_1_Chapters_19-16-3_95
{
position:absolute;
top:196.8px;
left:1278.98px;
letter-spacing:0px;
}
.d_1_Chapters_19-16-3_96
{
position:absolute;
top:196.8px;
left:2005.29px;
letter-spacing:-0.2px;
}
.d_1_Chapters_19-16-3_97
{
position:absolute;
top:196.8px;
left:2965.96px;
}
.d_1_Chapters_19-16-3_98
{
position:absolute;
top:196.8px;
left:3750.5px;
}
.d_1_Chapters_19-16-3_99
{
position:absolute;
top:196.8px;
left:4063.25px;
letter-spacing:-0.98px;
}
.d_1_Chapters_19-16-3_100
{
position:absolute;
top:196.8px;
left:4687.08px;
letter-spacing:0px;
}
.d_1_Chapters_19-16-3_101
{
position:absolute;
top:-19.5px;
left:396.85px;
letter-spacing:-0.41px;
}
.d_1_Chapters_19-16-3_102
{
position:absolute;
top:-19.5px;
left:1276.68px;
}
.d_1_Chapters_19-16-3_103
{
position:absolute;
top:-19.5px;
left:5640px;
letter-spacing:-1.99px;
}
.d_1_Chapters_19-16-3_104
{
position:absolute;
top:-19.5px;
left:5931.46px;
letter-spacing:-2.08px;
}
.d_1_Chapters_19-16-3_105
{
position:absolute;
top:-19.5px;
left:6672.19px;
letter-spacing:-1px;
}
.d_1_Chapters_19-16-3_106
{
position:absolute;
top:666.67px;
left:396.85px;
letter-spacing:-1.86px;
}
.d_1_Chapters_19-16-3_107
{
position:absolute;
top:666.67px;
left:1893.66px;
}
.d_1_Chapters_19-16-3_108
{
position:absolute;
top:666.67px;
left:5640px;
letter-spacing:-3.21px;
}
.d_1_Chapters_19-16-3_109
{
position:absolute;
top:666.67px;
left:5934.84px;
letter-spacing:0px;
}
.d_1_Chapters_19-16-3_110
{
position:absolute;
top:666.67px;
left:6639.17px;
letter-spacing:-7.07px;
}
.d_1_Chapters_19-16-3_111
{
position:absolute;
top:1352.83px;
left:396.85px;
letter-spacing:-1.72px;
}
.d_1_Chapters_19-16-3_112
{
position:absolute;
top:1352.83px;
left:1185.94px;
letter-spacing:-1.49px;
}
.d_1_Chapters_19-16-3_113
{
position:absolute;
top:1352.83px;
left:2590.18px;
}
.d_1_Chapters_19-16-3_114
{
position:absolute;
top:1352.83px;
left:2866.82px;
letter-spacing:-1.07px;
}
.d_1_Chapters_19-16-3_115
{
position:absolute;
top:1352.83px;
left:4285.37px;
}
.d_1_Chapters_19-16-3_116
{
position:absolute;
top:1352.83px;
left:5640px;
letter-spacing:-1.47px;
}
.d_1_Chapters_19-16-3_117
{
position:absolute;
top:1352.83px;
left:5915.08px;
letter-spacing:0px;
}
.d_1_Chapters_19-16-3_118
{
position:absolute;
top:1352.83px;
left:6339.13px;
letter-spacing:0px;
}
.d_1_Chapters_19-16-3_119
{
position:absolute;
top:2039px;
left:396.85px;
letter-spacing:-1.86px;
}
.d_1_Chapters_19-16-3_120
{
position:absolute;
top:2039px;
left:1092.86px;
letter-spacing:-1.04px;
}
.d_1_Chapters_19-16-3_121
{
position:absolute;
top:2039px;
left:1530.7px;
}
.d_1_Chapters_19-16-3_122
{
position:absolute;
top:2039px;
left:5640px;
letter-spacing:0px;
}
.d_1_Chapters_19-16-3_123
{
position:absolute;
top:2039px;
left:5945.23px;
letter-spacing:-1.82px;
}
.d_1_Chapters_19-16-3_124
{
position:absolute;
top:2039px;
left:6625.39px;
letter-spacing:-1.63px;
}
.d_1_Chapters_19-16-3_125
{
position:absolute;
top:2725.17px;
left:396.85px;
letter-spacing:-0.56px;
}
.d_1_Chapters_19-16-3_126
{
position:absolute;
top:2725.17px;
left:1189.05px;
}
.d_1_Chapters_19-16-3_127
{
position:absolute;
top:2725.17px;
left:1781.32px;
}
.d_1_Chapters_19-16-3_128
{
position:absolute;
top:2725.17px;
left:5640px;
letter-spacing:-2.17px;
}
.d_1_Chapters_19-16-3_129
{
position:absolute;
top:2725.17px;
left:5931.46px;
letter-spacing:-0.74px;
}
.d_1_Chapters_19-16-3_130
{
position:absolute;
top:2725.17px;
left:6665.42px;
letter-spacing:-0.65px;
}
.d_1_Chapters_19-16-3_131
{
position:absolute;
top:3411.34px;
left:396.85px;
letter-spacing:-0.45px;
}
.d_1_Chapters_19-16-3_132
{
position:absolute;
top:3411.34px;
left:899.95px;
letter-spacing:-0.71px;
}
.d_1_Chapters_19-16-3_133
{
position:absolute;
top:3411.34px;
left:1702.82px;
}
.d_1_Chapters_19-16-3_134
{
position:absolute;
top:3411.34px;
left:2209.55px;
}
.d_1_Chapters_19-16-3_135
{
position:absolute;
top:3411.34px;
left:2663.76px;
letter-spacing:-0.52px;
}
.d_1_Chapters_19-16-3_136
{
position:absolute;
top:3411.34px;
left:3500.43px;
}
.d_1_Chapters_19-16-3_137
{
position:absolute;
top:3411.34px;
left:5640px;
}
.d_1_Chapters_19-16-3_138
{
position:absolute;
top:3411.34px;
left:5886.21px;
letter-spacing:0px;
}
.d_1_Chapters_19-16-3_139
{
position:absolute;
top:3411.34px;
left:6262.95px;
letter-spacing:-0.42px;
}
.d_1_Chapters_19-16-3_140
{
position:absolute;
top:4097.5px;
left:396.85px;
letter-spacing:-0.45px;
}
.d_1_Chapters_19-16-3_141
{
position:absolute;
top:4097.5px;
left:899.95px;
letter-spacing:-0.26px;
}
.d_1_Chapters_19-16-3_142
{
position:absolute;
top:4097.5px;
left:1604.54px;
}
.d_1_Chapters_19-16-3_143
{
position:absolute;
top:4097.5px;
left:1907.69px;
}
.d_1_Chapters_19-16-3_144
{
position:absolute;
top:4097.5px;
left:2361.9px;
}
.d_1_Chapters_19-16-3_145
{
position:absolute;
top:4097.5px;
left:3381.87px;
}
.d_1_Chapters_19-16-3_146
{
position:absolute;
top:4097.5px;
left:5640px;
}
.d_1_Chapters_19-16-3_147
{
position:absolute;
top:4097.5px;
left:5944.72px;
letter-spacing:-0.57px;
}
.d_1_Chapters_19-16-3_148
{
position:absolute;
top:4097.5px;
left:6612.39px;
letter-spacing:-4.83px;
}
.d_1_Chapters_19-16-3_149
{
position:absolute;
top:-14.08px;
left:0px;
letter-spacing:-3.89px;
}
.d_1_Chapters_19-16-3_150
{
position:absolute;
top:-14.08px;
left:843.18px;
letter-spacing:-4.67px;
}
.d_1_Chapters_19-16-3_151
{
position:absolute;
top:-14.08px;
left:1635.81px;
letter-spacing:-3.89px;
}
.d_1_Chapters_19-16-3_152
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.88px;
}
.d_1_Chapters_19-16-3_153
{
position:absolute;
top:-19.5px;
left:664.29px;
}
.d_1_Chapters_19-16-3_154
{
position:absolute;
top:-19.5px;
left:1118.5px;
letter-spacing:-0.49px;
}
.d_1_Chapters_19-16-3_155
{
position:absolute;
top:-19.5px;
left:2260.41px;
}
.d_1_Chapters_19-16-3_156
{
position:absolute;
top:-19.5px;
left:2767.14px;
}
.d_1_Chapters_19-16-3_157
{
position:absolute;
top:-19.5px;
left:3247.09px;
}
.d_1_Chapters_19-16-3_158
{
position:absolute;
top:-19.5px;
left:3701.3px;
letter-spacing:-1.23px;
}
.d_1_Chapters_19-16-3_159
{
position:absolute;
top:-19.5px;
left:4620.39px;
}
.d_1_Chapters_19-16-3_160
{
position:absolute;
top:-19.5px;
left:5401.68px;
letter-spacing:-2.68px;
}
.d_1_Chapters_19-16-3_161
{
position:absolute;
top:-19.5px;
left:5700.68px;
letter-spacing:-2.18px;
}
.d_1_Chapters_19-16-3_162
{
position:absolute;
top:437.19px;
left:0px;
}
.d_1_Chapters_19-16-3_163
{
position:absolute;
top:437.19px;
left:674.95px;
}
.d_1_Chapters_19-16-3_164
{
position:absolute;
top:437.19px;
left:1558.93px;
}
.d_1_Chapters_19-16-3_165
{
position:absolute;
top:437.19px;
left:1868.06px;
}
.d_1_Chapters_19-16-3_166
{
position:absolute;
top:437.19px;
left:2322.27px;
letter-spacing:-0.29px;
}
.d_1_Chapters_19-16-3_167
{
position:absolute;
top:437.19px;
left:3269.18px;
}
.d_1_Chapters_19-16-3_168
{
position:absolute;
top:437.19px;
left:3832.33px;
letter-spacing:-1.17px;
}
.d_1_Chapters_19-16-3_169
{
position:absolute;
top:437.19px;
left:4644.29px;
letter-spacing:-3.25px;
}
.d_1_Chapters_19-16-3_170
{
position:absolute;
top:437.19px;
left:4851.77px;
letter-spacing:0px;
}
.d_1_Chapters_19-16-3_171
{
position:absolute;
top:437.19px;
left:5843.13px;
letter-spacing:-0.71px;
}
.d_1_Chapters_19-16-3_172
{
position:absolute;
top:437.19px;
left:6387.83px;
letter-spacing:-2.6px;
}
.d_1_Chapters_19-16-3_173
{
position:absolute;
top:437.19px;
left:6793.16px;
letter-spacing:-1.68px;
}
.d_1_Chapters_19-16-3_174
{
position:absolute;
top:437.19px;
left:8046.34px;
letter-spacing:-1.63px;
}
.d_1_Chapters_19-16-3_175
{
position:absolute;
top:437.19px;
left:8888.47px;
letter-spacing:0px;
}
.d_1_Chapters_19-16-3_176
{
position:absolute;
top:837.19px;
left:0px;
letter-spacing:-0.52px;
}
.d_1_Chapters_19-16-3_177
{
position:absolute;
top:837.19px;
left:785.19px;
letter-spacing:-1.28px;
}
.d_1_Chapters_19-16-3_178
{
position:absolute;
top:837.19px;
left:1976.76px;
}
.d_1_Chapters_19-16-3_179
{
position:absolute;
top:837.19px;
left:2285.89px;
}
.d_1_Chapters_19-16-3_180
{
position:absolute;
top:837.19px;
left:2740.1px;
}
.d_1_Chapters_19-16-3_181
{
position:absolute;
top:837.19px;
left:3322.22px;
}
.d_1_Chapters_19-16-3_182
{
position:absolute;
top:837.19px;
left:3951.4px;
}
.d_1_Chapters_19-16-3_183
{
position:absolute;
top:837.19px;
left:4387.67px;
letter-spacing:-2.26px;
}
.d_1_Chapters_19-16-3_184
{
position:absolute;
top:837.19px;
left:5554.8px;
letter-spacing:0px;
}
.d_1_Chapters_19-16-3_185
{
position:absolute;
top:837.19px;
left:5992.89px;
letter-spacing:-0.48px;
}
.d_1_Chapters_19-16-3_186
{
position:absolute;
top:837.19px;
left:7634px;
letter-spacing:0px;
}
.d_1_Chapters_19-16-3_187
{
position:absolute;
top:837.19px;
left:8135.28px;
letter-spacing:0px;
}
.d_1_Chapters_19-16-3_188
{
position:absolute;
top:837.19px;
left:8592.08px;
}
.d_1_Chapters_19-16-3_189
{
position:absolute;
top:1237.19px;
left:0px;
text-rendering:optimizeLegibility;
letter-spacing:-0.23px;
}
.d_1_Chapters_19-16-3_190
{
position:absolute;
top:1237.19px;
left:958.61px;
}
.d_1_Chapters_19-16-3_191
{
position:absolute;
top:1237.19px;
left:1505.38px;
}
.d_1_Chapters_19-16-3_192
{
position:absolute;
top:1237.19px;
left:2052.67px;
letter-spacing:-0.78px;
}
.d_1_Chapters_19-16-3_193
{
position:absolute;
top:1237.19px;
left:3053.91px;
letter-spacing:-2.03px;
}
.d_1_Chapters_19-16-3_194
{
position:absolute;
top:1237.19px;
left:3716.64px;
letter-spacing:-0.58px;
}
.d_1_Chapters_19-16-3_195
{
position:absolute;
top:1237.19px;
left:4173.98px;
letter-spacing:-1.38px;
}
.d_1_Chapters_19-16-3_196
{
position:absolute;
top:1237.19px;
left:6064.16px;
letter-spacing:-1px;
}
.d_1_Chapters_19-16-3_197
{
position:absolute;
top:1237.19px;
left:6819.96px;
letter-spacing:0px;
}
.d_1_Chapters_19-16-3_198
{
position:absolute;
top:1237.19px;
left:7494.91px;
letter-spacing:-0.71px;
}
.d_1_Chapters_19-16-3_199
{
position:absolute;
top:1237.19px;
left:8226.79px;
letter-spacing:-1.43px;
}
.d_1_Chapters_19-16-3_200
{
position:absolute;
top:1637.19px;
left:0px;
letter-spacing:-0.52px;
}
.d_1_Chapters_19-16-3_201
{
position:absolute;
top:1637.19px;
left:780.51px;
letter-spacing:-1.17px;
}
.d_1_Chapters_19-16-3_202
{
position:absolute;
top:1637.19px;
left:1588.06px;
}
.d_1_Chapters_19-16-3_203
{
position:absolute;
top:1637.19px;
left:1901.61px;
letter-spacing:-1.82px;
}
.d_1_Chapters_19-16-3_204
{
position:absolute;
top:1637.19px;
left:2529.76px;
}
.d_1_Chapters_19-16-3_205
{
position:absolute;
top:1637.19px;
left:2967.85px;
}
.d_1_Chapters_19-16-3_206
{
position:absolute;
top:1637.19px;
left:3314.17px;
}
.d_1_Chapters_19-16-3_207
{
position:absolute;
top:1637.19px;
left:3674.78px;
}
.d_1_Chapters_19-16-3_208
{
position:absolute;
top:1637.19px;
left:4678.11px;
letter-spacing:-0.58px;
}
.d_1_Chapters_19-16-3_209
{
position:absolute;
top:1637.19px;
left:5131.02px;
letter-spacing:0px;
}
.d_1_Chapters_19-16-3_210
{
position:absolute;
top:1637.19px;
left:5444.57px;
letter-spacing:-1.62px;
}
.d_1_Chapters_19-16-3_211
{
position:absolute;
top:1637.19px;
left:6792.14px;
letter-spacing:0px;
}
.d_1_Chapters_19-16-3_212
{
position:absolute;
top:1637.19px;
left:7293.41px;
letter-spacing:0px;
}
.d_1_Chapters_19-16-3_213
{
position:absolute;
top:1637.19px;
left:7800.14px;
letter-spacing:-1.97px;
}
.d_1_Chapters_19-16-3_214
{
position:absolute;
top:1637.19px;
left:8379.16px;
letter-spacing:-0.94px;
}
.d_1_Chapters_19-16-3_215
{
position:absolute;
top:2037.19px;
left:0px;
}
.d_1_Chapters_19-16-3_216
{
position:absolute;
top:2037.19px;
left:624.51px;
}
.d_1_Chapters_19-16-3_217
{
position:absolute;
top:41.44px;
left:134.15px;
}
.d_1_Chapters_19-16-3_218
{
position:absolute;
top:58.88px;
left:0px;
}
.d_1_Chapters_19-16-3_219
{
position:absolute;
top:213.6px;
left:380.63px;
}
.d_1_Chapters_19-16-3_220
{
position:absolute;
top:196.8px;
left:453.54px;
letter-spacing:0px;
}
.d_1_Chapters_19-16-3_221
{
position:absolute;
top:196.8px;
left:2254.48px;
letter-spacing:0px;
}
.d_1_Chapters_19-16-3_222
{
position:absolute;
top:196.8px;
left:2733.84px;
}
.d_1_Chapters_19-16-3_223
{
position:absolute;
top:196.8px;
left:3087.19px;
}
.d_1_Chapters_19-16-3_224
{
position:absolute;
top:196.8px;
left:3359.62px;
letter-spacing:-2.24px;
}
.d_1_Chapters_19-16-3_225
{
position:absolute;
top:196.8px;
left:3853.82px;
letter-spacing:-0.5px;
}
.d_1_Chapters_19-16-3_226
{
position:absolute;
top:196.8px;
left:4494.45px;
letter-spacing:-0.28px;
}
.d_1_Chapters_19-16-3_227
{
position:absolute;
top:196.8px;
left:5053.61px;
letter-spacing:-0.67px;
}
.d_1_Chapters_19-16-3_228
{
position:absolute;
top:196.8px;
left:6259.55px;
letter-spacing:-1.73px;
}
.d_1_Chapters_19-16-3_229
{
position:absolute;
top:196.8px;
left:6944.42px;
letter-spacing:0px;
}
.d_1_Chapters_19-16-3_230
{
position:absolute;
top:196.8px;
left:7595.97px;
letter-spacing:0px;
}
.d_1_Chapters_19-16-3_231
{
position:absolute;
top:196.8px;
left:8102.76px;
letter-spacing:0px;
}
.d_1_Chapters_19-16-3_232
{
position:absolute;
top:196.8px;
left:8724.35px;
letter-spacing:-0.62px;
}
.d_1_Chapters_19-16-3_233
{
position:absolute;
top:596.8px;
left:453.54px;
}
.d_1_Chapters_19-16-3_234
{
position:absolute;
top:596.8px;
left:907.7px;
}
.d_1_Chapters_19-16-3_235
{
position:absolute;
top:596.8px;
left:1580.52px;
}
.d_1_Chapters_19-16-3_236
{
position:absolute;
top:596.8px;
left:2087.32px;
}
.d_1_Chapters_19-16-3_237
{
position:absolute;
top:596.8px;
left:2629.67px;
}
.d_1_Chapters_19-16-3_238
{
position:absolute;
top:596.8px;
left:3083.82px;
letter-spacing:-0.42px;
}
.d_1_Chapters_19-16-3_239
{
position:absolute;
top:596.8px;
left:4009.49px;
letter-spacing:-0.52px;
}
.d_1_Chapters_19-16-3_240
{
position:absolute;
top:596.8px;
left:5080.47px;
}
.d_1_Chapters_19-16-3_241
{
position:absolute;
top:596.8px;
left:5394.35px;
text-rendering:optimizeLegibility;
}
.d_1_Chapters_19-16-3_242
{
position:absolute;
top:596.8px;
left:5739.3px;
}
.d_1_Chapters_19-16-3_243
{
position:absolute;
top:596.8px;
left:6010.61px;
}
.d_1_Chapters_19-16-3_244
{
position:absolute;
top:596.8px;
left:6464.76px;
}
.d_1_Chapters_19-16-3_245
{
position:absolute;
top:-26.96px;
left:0px;
transform-origin: 0% 759.55px;
-webkit-transform-origin: 0% 759.55px;
-ms-transform-origin: 0% 759.55px;
-o-transform-origin: 0% 759.55px;
-moz-transform-origin: 0% 759.55px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.d_1_Chapters_19-16-3_246
{
position:absolute;
top:-26.96px;
left:1148.6px;
letter-spacing:0px;
transform-origin: 0% 759.55px;
-webkit-transform-origin: 0% 759.55px;
-ms-transform-origin: 0% 759.55px;
-o-transform-origin: 0% 759.55px;
-moz-transform-origin: 0% 759.55px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.d_1_Chapters_19-16-3_247
{
position:absolute;
top:-26.96px;
left:6663.84px;
transform-origin: 0% 759.55px;
-webkit-transform-origin: 0% 759.55px;
-ms-transform-origin: 0% 759.55px;
-o-transform-origin: 0% 759.55px;
-moz-transform-origin: 0% 759.55px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.d_1_Chapters_19-16-3_248
{
position:absolute;
top:-19.5px;
left:396.85px;
letter-spacing:-0.69px;
}
.d_1_Chapters_19-16-3_249
{
position:absolute;
top:-19.5px;
left:629.54px;
}
.d_1_Chapters_19-16-3_250
{
position:absolute;
top:-19.5px;
left:886.42px;
letter-spacing:-3.25px;
}
.d_1_Chapters_19-16-3_251
{
position:absolute;
top:-19.5px;
left:1093.89px;
letter-spacing:-0.56px;
}
.d_1_Chapters_19-16-3_252
{
position:absolute;
top:-19.5px;
left:2754.23px;
}
.d_1_Chapters_19-16-3_253
{
position:absolute;
top:-19.5px;
left:3876.37px;
letter-spacing:-1.99px;
}
.d_1_Chapters_19-16-3_254
{
position:absolute;
top:-19.5px;
left:4194.09px;
}
.d_1_Chapters_19-16-3_255
{
position:absolute;
top:-19.5px;
left:5216.13px;
}
.d_1_Chapters_19-16-3_256
{
position:absolute;
top:-19.5px;
left:5981.82px;
letter-spacing:0px;
}
.d_1_Chapters_19-16-3_257
{
position:absolute;
top:-19.5px;
left:6238.7px;
letter-spacing:-1.56px;
}
.d_1_Chapters_19-16-3_258
{
position:absolute;
top:-19.5px;
left:7386.32px;
letter-spacing:0px;
}
.d_1_Chapters_19-16-3_259
{
position:absolute;
top:-19.5px;
left:7897.47px;
letter-spacing:-0.86px;
}
.d_1_Chapters_19-16-3_260
{
position:absolute;
top:-19.5px;
left:9162.61px;
}
.d_1_Chapters_19-16-3_261
{
position:absolute;
top:380.5px;
left:396.85px;
}
.d_1_Chapters_19-16-3_262
{
position:absolute;
top:380.5px;
left:1125.1px;
letter-spacing:-3.38px;
}
.d_1_Chapters_19-16-3_263
{
position:absolute;
top:380.5px;
left:1475.57px;
letter-spacing:-3.25px;
}
.d_1_Chapters_19-16-3_264
{
position:absolute;
top:380.5px;
left:1683.05px;
letter-spacing:-1.17px;
}
.d_1_Chapters_19-16-3_265
{
position:absolute;
top:380.5px;
left:2447.69px;
letter-spacing:-2.68px;
}
.d_1_Chapters_19-16-3_266
{
position:absolute;
top:380.5px;
left:2751.63px;
letter-spacing:-0.22px;
}
.d_1_Chapters_19-16-3_267
{
position:absolute;
top:380.5px;
left:3565.42px;
letter-spacing:-2.6px;
}
.d_1_Chapters_19-16-3_268
{
position:absolute;
top:380.5px;
left:3970.75px;
letter-spacing:-3.25px;
}
.d_1_Chapters_19-16-3_269
{
position:absolute;
top:380.5px;
left:4178.22px;
letter-spacing:-0.88px;
}
.d_1_Chapters_19-16-3_270
{
position:absolute;
top:380.5px;
left:4640.75px;
letter-spacing:-0.29px;
}
.d_1_Chapters_19-16-3_271
{
position:absolute;
top:380.5px;
left:5836.22px;
letter-spacing:-0.69px;
}
.d_1_Chapters_19-16-3_272
{
position:absolute;
top:380.5px;
left:6068.91px;
letter-spacing:0px;
}
.d_1_Chapters_19-16-3_273
{
position:absolute;
top:380.5px;
left:6821.6px;
letter-spacing:0px;
}
.d_1_Chapters_19-16-3_274
{
position:absolute;
top:380.5px;
left:7398.26px;
}
.d_1_Chapters_19-16-3_275
{
position:absolute;
top:380.5px;
left:7852.47px;
letter-spacing:-0.85px;
}
.d_1_Chapters_19-16-3_276
{
position:absolute;
top:380.5px;
left:8548.22px;
letter-spacing:-3.64px;
}
.d_1_Chapters_19-16-3_277
{
position:absolute;
top:780.5px;
left:396.85px;
letter-spacing:-0.69px;
}
.d_1_Chapters_19-16-3_278
{
position:absolute;
top:780.5px;
left:629.54px;
}
.d_1_Chapters_19-16-3_279
{
position:absolute;
top:780.5px;
left:882px;
}
.d_1_Chapters_19-16-3_280
{
position:absolute;
top:780.5px;
left:1336.21px;
letter-spacing:-0.69px;
}
.d_1_Chapters_19-16-3_281
{
position:absolute;
top:780.5px;
left:2255.29px;
letter-spacing:-2.68px;
}
.d_1_Chapters_19-16-3_282
{
position:absolute;
top:780.5px;
left:2559.23px;
}
.d_1_Chapters_19-16-3_283
{
position:absolute;
top:780.5px;
left:3708.15px;
}
.d_1_Chapters_19-16-3_284
{
position:absolute;
top:780.5px;
left:4285.08px;
letter-spacing:-1px;
}
.d_1_Chapters_19-16-3_285
{
position:absolute;
top:780.5px;
left:5078.07px;
letter-spacing:-0.69px;
}
.d_1_Chapters_19-16-3_286
{
position:absolute;
top:780.5px;
left:5310.76px;
}
.d_1_Chapters_19-16-3_287
{
position:absolute;
top:780.5px;
left:6063.44px;
letter-spacing:0px;
}
.d_1_Chapters_19-16-3_288
{
position:absolute;
top:780.5px;
left:6640.11px;
}
.d_1_Chapters_19-16-3_289
{
position:absolute;
top:780.5px;
left:7094.32px;
letter-spacing:-0.85px;
}
.d_1_Chapters_19-16-3_290
{
position:absolute;
top:780.5px;
left:7797.34px;
letter-spacing:-1.43px;
}
.d_1_Chapters_19-16-3_291
{
position:absolute;
top:1180.5px;
left:396.85px;
letter-spacing:-0.69px;
}
.d_1_Chapters_19-16-3_292
{
position:absolute;
top:1180.5px;
left:629.54px;
}
.d_1_Chapters_19-16-3_293
{
position:absolute;
top:1180.5px;
left:886.42px;
letter-spacing:-3.25px;
}
.d_1_Chapters_19-16-3_294
{
position:absolute;
top:1180.5px;
left:1093.89px;
}
.d_1_Chapters_19-16-3_295
{
position:absolute;
top:1180.5px;
left:1864px;
letter-spacing:-0.61px;
}
.d_1_Chapters_19-16-3_296
{
position:absolute;
top:1180.5px;
left:3460.64px;
letter-spacing:-2.68px;
}
.d_1_Chapters_19-16-3_297
{
position:absolute;
top:1180.5px;
left:3764.58px;
}
.d_1_Chapters_19-16-3_298
{
position:absolute;
top:1180.5px;
left:4524.81px;
letter-spacing:-3.38px;
}
.d_1_Chapters_19-16-3_299
{
position:absolute;
top:1180.5px;
left:4869.04px;
letter-spacing:-0.44px;
}
.d_1_Chapters_19-16-3_300
{
position:absolute;
top:1180.5px;
left:5958.68px;
letter-spacing:0px;
}
.d_1_Chapters_19-16-3_301
{
position:absolute;
top:1180.5px;
left:6469.84px;
letter-spacing:-0.09px;
}
.d_1_Chapters_19-16-3_302
{
position:absolute;
top:1180.5px;
left:8493.64px;
letter-spacing:-0.69px;
}
.d_1_Chapters_19-16-3_303
{
position:absolute;
top:1580.5px;
left:396.85px;
}
.d_1_Chapters_19-16-3_304
{
position:absolute;
top:1580.5px;
left:1149.53px;
}
.d_1_Chapters_19-16-3_305
{
position:absolute;
top:1580.5px;
left:1726.2px;
}
.d_1_Chapters_19-16-3_306
{
position:absolute;
top:1580.5px;
left:2180.41px;
letter-spacing:-0.85px;
}
.d_1_Chapters_19-16-3_307
{
position:absolute;
top:1580.5px;
left:2883.43px;
}
.d_1_Chapters_19-16-3_308
{
position:absolute;
top:1980.5px;
left:396.85px;
letter-spacing:-0.36px;
}
.d_1_Chapters_19-16-3_309
{
position:absolute;
top:1980.5px;
left:942.32px;
}
.d_1_Chapters_19-16-3_310
{
position:absolute;
top:1980.5px;
left:1194.78px;
}
.d_1_Chapters_19-16-3_311
{
position:absolute;
top:1980.5px;
left:1648.99px;
}
.d_1_Chapters_19-16-3_312
{
position:absolute;
top:1980.5px;
left:2060.3px;
letter-spacing:-2.68px;
}
.d_1_Chapters_19-16-3_313
{
position:absolute;
top:1980.5px;
left:2360.6px;
text-rendering:optimizeLegibility;
}
.d_1_Chapters_19-16-3_314
{
position:absolute;
top:1980.5px;
left:3049.58px;
letter-spacing:-0.69px;
}
.d_1_Chapters_19-16-3_315
{
position:absolute;
top:1980.5px;
left:3282.28px;
}
.d_1_Chapters_19-16-3_316
{
position:absolute;
top:1980.5px;
left:4034.96px;
}
.d_1_Chapters_19-16-3_317
{
position:absolute;
top:1980.5px;
left:4611.63px;
}
.d_1_Chapters_19-16-3_318
{
position:absolute;
top:1980.5px;
left:5065.84px;
letter-spacing:-0.85px;
}
.d_1_Chapters_19-16-3_319
{
position:absolute;
top:1980.5px;
left:5768.86px;
}
.d_1_Chapters_19-16-3_320
{
position:absolute;
top:2380.5px;
left:396.85px;
letter-spacing:-0.36px;
}
.d_1_Chapters_19-16-3_321
{
position:absolute;
top:2380.5px;
left:942.32px;
}
.d_1_Chapters_19-16-3_322
{
position:absolute;
top:2380.5px;
left:1199.2px;
letter-spacing:-3.25px;
}
.d_1_Chapters_19-16-3_323
{
position:absolute;
top:2380.5px;
left:1406.68px;
}
.d_1_Chapters_19-16-3_324
{
position:absolute;
top:2380.5px;
left:2181.2px;
letter-spacing:-2.68px;
}
.d_1_Chapters_19-16-3_325
{
position:absolute;
top:2380.5px;
left:2485.14px;
letter-spacing:-0.6px;
}
.d_1_Chapters_19-16-3_326
{
position:absolute;
top:2380.5px;
left:3934.88px;
}
.d_1_Chapters_19-16-3_327
{
position:absolute;
top:2380.5px;
left:4446.03px;
}
.d_1_Chapters_19-16-3_328
{
position:absolute;
top:2380.5px;
left:5157.64px;
letter-spacing:-0.44px;
}
.d_1_Chapters_19-16-3_329
{
position:absolute;
top:2380.5px;
left:6486.73px;
}
.d_1_Chapters_19-16-3_330
{
position:absolute;
top:2380.5px;
left:6763.37px;
letter-spacing:-0.41px;
}
.d_1_Chapters_19-16-3_331
{
position:absolute;
top:2380.5px;
left:7680.12px;
letter-spacing:0px;
}
.d_1_Chapters_19-16-3_332
{
position:absolute;
top:2380.5px;
left:8261.2px;
}
.d_1_Chapters_19-16-3_333
{
position:absolute;
top:2780.5px;
left:396.85px;
letter-spacing:-0.69px;
}
.d_1_Chapters_19-16-3_334
{
position:absolute;
top:2780.5px;
left:629.54px;
}
.d_1_Chapters_19-16-3_335
{
position:absolute;
top:2780.5px;
left:1382.22px;
}
.d_1_Chapters_19-16-3_336
{
position:absolute;
top:2780.5px;
left:1958.89px;
}
.d_1_Chapters_19-16-3_337
{
position:absolute;
top:2780.5px;
left:2413.1px;
letter-spacing:-0.85px;
}
.d_1_Chapters_19-16-3_338
{
position:absolute;
top:2780.5px;
left:3116.13px;
}
.d_1_Chapters_19-16-3_339
{
position:absolute;
top:-12.32px;
left:0px;
}
.d_1_Chapters_19-16-3_340
{
position:absolute;
top:-12.32px;
left:420.83px;
letter-spacing:-5.11px;
}
.d_1_Chapters_19-16-3_341
{
position:absolute;
top:-12.32px;
left:971.57px;
letter-spacing:-6.86px;
}
.d_1_Chapters_19-16-3_342
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.43px;
}
.d_1_Chapters_19-16-3_343
{
position:absolute;
top:-19.5px;
left:1157.5px;
letter-spacing:-0.29px;
}
.d_1_Chapters_19-16-3_344
{
position:absolute;
top:-19.5px;
left:2501.69px;
letter-spacing:-0.55px;
}
.d_1_Chapters_19-16-3_345
{
position:absolute;
top:-19.5px;
left:3535.95px;
letter-spacing:-0.88px;
}
.d_1_Chapters_19-16-3_346
{
position:absolute;
top:-19.5px;
left:3998.48px;
}
.d_1_Chapters_19-16-3_347
{
position:absolute;
top:-19.5px;
left:4271.48px;
letter-spacing:-1.43px;
}
.d_1_Chapters_19-16-3_348
{
position:absolute;
top:-19.5px;
left:4918.34px;
letter-spacing:-2.68px;
}
.d_1_Chapters_19-16-3_349
{
position:absolute;
top:-19.5px;
left:5222.28px;
letter-spacing:0px;
}
.d_1_Chapters_19-16-3_350
{
position:absolute;
top:-19.5px;
left:5582.37px;
letter-spacing:-0.29px;
}
.d_1_Chapters_19-16-3_351
{
position:absolute;
top:-19.5px;
left:6770.56px;
letter-spacing:-2.34px;
}
.d_1_Chapters_19-16-3_352
{
position:absolute;
top:-19.5px;
left:7398.98px;
letter-spacing:0px;
}
.d_1_Chapters_19-16-3_353
{
position:absolute;
top:-19.5px;
left:7826.67px;
letter-spacing:-1.52px;
}
.d_1_Chapters_19-16-3_354
{
position:absolute;
top:-19.5px;
left:8495.64px;
letter-spacing:-1.99px;
}
.d_1_Chapters_19-16-3_355
{
position:absolute;
top:380.5px;
left:0px;
}
.d_1_Chapters_19-16-3_356
{
position:absolute;
top:380.5px;
left:1068.07px;
}
.d_1_Chapters_19-16-3_357
{
position:absolute;
top:380.5px;
left:1941.65px;
}
.d_1_Chapters_19-16-3_358
{
position:absolute;
top:380.5px;
left:2452.8px;
}
.d_1_Chapters_19-16-3_359
{
position:absolute;
top:380.5px;
left:3815.7px;
letter-spacing:-0.88px;
}
.d_1_Chapters_19-16-3_360
{
position:absolute;
top:380.5px;
left:4846.07px;
}
.d_1_Chapters_19-16-3_361
{
position:absolute;
top:380.5px;
left:5155.2px;
}
.d_1_Chapters_19-16-3_362
{
position:absolute;
top:380.5px;
left:5609.41px;
letter-spacing:-0.32px;
}
.d_1_Chapters_19-16-3_363
{
position:absolute;
top:380.5px;
left:6743.78px;
}
.d_1_Chapters_19-16-3_364
{
position:absolute;
top:380.5px;
left:7020.41px;
letter-spacing:-3.25px;
}
.d_1_Chapters_19-16-3_365
{
position:absolute;
top:380.5px;
left:7224.25px;
letter-spacing:-1.52px;
}
.d_1_Chapters_19-16-3_366
{
position:absolute;
top:380.5px;
left:7956.41px;
letter-spacing:-1.89px;
}
.d_1_Chapters_19-16-3_367
{
position:absolute;
top:-21.78px;
left:88.26px;
}
.d_1_Chapters_19-16-3_368
{
position:absolute;
top:-21.78px;
left:88.26px;
}
.d_1_Chapters_19-16-3_369
{
position:absolute;
top:-21.78px;
left:88.26px;
}
.d_1_Chapters_19-16-3_370
{
position:absolute;
top:-21.78px;
left:88.26px;
}
.d_1_Chapters_19-16-3_371
{
position:absolute;
top:-21.78px;
left:88.26px;
}
.page57_position1 {
	position:absolute;
	top: 480px;
	left: 485px;
	/*border: 1px solid red;*/
}

.page57_position2 {
	position:absolute;
	top: 500px;
	left: 448px;
	/*border: 1px solid red;*/
}
.page57_position3 {
	position:absolute;
	top: 540px;
	left: 202px;
	/*border: 1px solid red;*/
}
.page57_position4 {
	position:absolute;
	top: 560px;
	left: 347px;
	/*border: 1px solid red;*/
}
.page57_position5 {
	position:absolute;
	top: 600px;
	left: 215px;
	/*border: 1px solid red;*/
}
.page57_btn1 {
	position:absolute;
	bottom: 5px;
	left: 332px;
}
.page57_btn2 {
	position:absolute;
	bottom: 5px;
	left: 275px;
}

.page57_item1 {
	position: absolute;
	top: 223px;
	left: 374px;
	/*border: 1px solid red;*/
}
.page57_item2 {
	position: absolute;
	top: 248px;
	left: 374px;
	/*border: 1px solid red;*/
}
.page57_item3 {
	position: absolute;
	top: 279px;
	left: 374px;
	/*border: 1px solid red;*/
}
.page57_item4 {
	position: absolute;
	top: 308px;
	left: 374px;
	/*border: 1px solid red;*/
}
.page57_item5 {
	position: absolute;
	top: 336px;
	left: 374px;
	/*border: 1px solid red;*/
}
.page57_item6 {
	position: absolute;
	top: 365px;
	left: 374px;
	/*border: 1px solid red;*/
}
.page57_item7 {
	position: absolute;
	top: 393px;
	left: 374px;
	/*border: 1px solid red;*/
}
.page57_item8 {
	position: absolute;
	top: 193px;
	left: 260px;
	/*border: 1px solid red;*/
}
.page57_item9 {
	position: absolute;
	top: 221px;
	left: 260px;
	/*border: 1px solid red;*/
}
.page57_item10 {
	position: absolute;
	top: 249px;
	left: 260px;
	/*border: 1px solid red;*/
}
.page57_item11 {
	position: absolute;
	top: 279px;
	left: 260px;
	/*border: 1px solid red;*/
}
.page57_item12 {
	position: absolute;
	top: 308px;
	left: 260px;
	/*border: 1px solid red;*/
}
.page57_item13 {
	position: absolute;
	top: 337px;
	left: 260px;
	/*border: 1px solid red;*/
}
.page57_item14 {
	position: absolute;
	top: 365px;
	left: 260px;
	/*border: 1px solid red;*/
}
.page57_item15 {
	position: absolute;
	top: 337px;
	left: 203px;
	/*border: 1px solid red;*/
}
.page57_item16 {
	position: absolute;
	top: 337px;
	left: 230px;
	/*border: 1px solid red;*/
}
.page57_item17 {
	position: absolute;
	top: 337px;
	left: 260px;
	/*border: 1px solid red;*/
}
.page57_item18 {
	position: absolute;
	top: 336px;
	left: 288px;
	/*border: 1px solid red;*/
}
.page57_item19 {
	position: absolute;
	top: 336px;
	left: 317px;
	/*border: 1px solid red;*/
}
.page57_item20 {
	position: absolute;
	top: 335px;
	left: 345px;
	/*border: 1px solid red;*/
}
.page57_item21 {
	position: absolute;
	top: 336px;
	left: 374px;
	/*border: 1px solid red;*/
}
.page57_item22 {
	position: absolute;
	top: 222px;
	left: 175px;
	/*border: 1px solid red;*/
}
.page57_item23 {
	position: absolute;
	top: 222px;
	left: 202px;
	/*border: 1px solid red;*/
}
.page57_item24 {
	position: absolute;
	top: 222px;
	left: 231px;
	/*border: 1px solid red;*/
}
.page57_item25 {
	position: absolute;
	top: 221px;
	left: 260px;
	/*border: 1px solid red;*/
}
.page57_item26 {
	position: absolute;
	top: 222px;
	left: 291px;
	/*border: 1px solid red;*/
}
.page57_item27 {
	position: absolute;
	top: 222px;
	left: 317px;
	/*border: 1px solid red;*/
}
.page57_item28 {
	position: absolute;
	top: 279px;
	left: 260px;
	/*border: 1px solid red;*/
}
.page57_item29 {
	position: absolute;
	top: 279px;
	left: 288px;
	/*border: 1px solid red;*/
}
.page57_item30 {
	position: absolute;
	top: 279px;
	left: 316px;
	/*border: 1px solid red;*/
}
.page57_item31 {
	position: absolute;
	top: 279px;
	left: 345px;
	/*border: 1px solid red;*/
}
.page57_item32 {
	position: absolute;
	top: 279px;
	left: 374px;
	/*border: 1px solid red;*/
}


