.d_page06-07_1
{
position:absolute;overflow:hidden;left:0px;top:0px;-webkit-transform:translate(0.00px,0.00px);-ms-transform:translate(0.00px,0.00px);transform:translate(0.00px,0.00px);width:612px;height:841.89px
}
.d_page06-07_2
{
width:1884.76px;height:288px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
}
.d_page06-07_3
{
width:4569.14px;height:1489.5px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.83px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.83px) rotate(0deg) scale(0.05);
}
.d_page06-07_4
{
width:164.4px;height:229.5px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.83px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.83px) rotate(0deg) scale(0.05);
}
.d_page06-07_5
{
width:3064.84px;height:288px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
}
.d_page06-07_6
{
width:3162.79px;height:1069.5px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.83px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.83px) rotate(0deg) scale(0.05);
}
.d_page06-07_7
{
width:1937.55px;height:313.43px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
}
.d_page06-07_8
{
width:3905.67px;height:649.5px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.83px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.83px) rotate(0deg) scale(0.05);
}
.d_page06-07_9
{
width:3064.84px;height:288px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
}
.d_page06-07_10
{
width:3347.29px;height:3589.5px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.83px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.83px) rotate(0deg) scale(0.05);
}
.d_page06-07_11
{
position:absolute;overflow:hidden;left:-16px;top:0px;-webkit-transform:translate(612px,0.00px);-ms-transform:translate(612px,0.00px);transform:translate(612px,0.00px);width:612px;height:841.89px
}
.d_page06-07_12
{
width:560.18px;height:401.47px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
}
.d_page06-07_13
{
width:560.18px;height:401.47px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
}
.d_page06-07_14
{
width:9858.56px;height:872px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_page06-07_15
{
width:6857.5px;height:689.76px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,9.25px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,9.25px) rotate(0deg) scale(0.05);
}
.d_page06-07_16
{
width:9222.05px;height:6260.21px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,6.05px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,6.05px) rotate(0deg) scale(0.05);
}
.d_page06-07_17
{
width:303.87px;height:240.38px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page06-07_18
{
width:303.87px;height:240.38px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page06-07_19
{
width:303.87px;height:240.38px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page06-07_20
{
width:303.87px;height:240.38px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page06-07_21
{
width:303.87px;height:240.38px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page06-07_22
{
width:303.87px;height:240.38px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page06-07_23
{
width:303.87px;height:240.38px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page06-07_24
{
width:303.87px;height:240.38px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.83px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.83px) rotate(0deg) scale(0.05);
}
.d_page06-07_25
{
width:303.87px;height:240.38px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.83px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.83px) rotate(0deg) scale(0.05);
}
.d_page06-07_26
{
width:358.96px;height:265.23px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page06-07_27
{
width:5564.1px;height:2186.08px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,6.05px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,6.05px) rotate(0deg) scale(0.05);
}
.d_page06-07_28
{
width:1884.76px;height:288px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
}
.d_page06-07_29
{
width:3614.97px;height:1338.9px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.47px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.47px) rotate(0deg) scale(0.05);
}
.s_page06-07_30
{
position:absolute;top:-12.32px;left:0px;
}
.s_page06-07_31
{
position:absolute;top:-12.32px;left:420.83px;letter-spacing:-5.11px;
}
.s_page06-07_32
{
position:absolute;top:-12.32px;left:971.57px;letter-spacing:-6.86px;
}
.s_page06-07_33
{
position:absolute;top:-22.5px;left:0px;letter-spacing:-0.3px;
}
.s_page06-07_34
{
position:absolute;top:-22.5px;left:1177.78px;
}
.s_page06-07_35
{
position:absolute;top:-22.5px;left:1767.58px;letter-spacing:-0.82px;
}
.s_page06-07_36
{
position:absolute;top:-22.5px;left:3301.45px;
}
.s_page06-07_37
{
position:absolute;top:397.5px;left:0px;letter-spacing:-3.1px;
}
.s_page06-07_38
{
position:absolute;top:397.5px;left:350.7px;letter-spacing:-0.42px;
}
.s_page06-07_39
{
position:absolute;top:397.5px;left:2005.17px;letter-spacing:-0.85px;
}
.s_page06-07_40
{
position:absolute;top:397.5px;left:2812.16px;
}
.s_page06-07_41
{
position:absolute;top:397.5px;left:3131.35px;letter-spacing:-0.45px;
}
.s_page06-07_42
{
position:absolute;top:397.5px;left:3654.84px;letter-spacing:-6.6px;
}
.s_page06-07_43
{
position:absolute;top:817.5px;left:0px;letter-spacing:-0.72px;
}
.s_page06-07_44
{
position:absolute;top:817.5px;left:1017.88px;
}
.s_page06-07_45
{
position:absolute;top:817.5px;left:1099.48px;
}
.s_page06-07_46
{
position:absolute;top:817.5px;left:1694.97px;letter-spacing:-0.82px;
}
.s_page06-07_47
{
position:absolute;top:817.5px;left:2351.07px;
}
.s_page06-07_48
{
position:absolute;top:817.5px;left:3965.95px;
}
.s_page06-07_49
{
position:absolute;top:1237.5px;left:0px;
}
.s_page06-07_50
{
position:absolute;top:1237.5px;left:518.99px;
}
.s_page06-07_51
{
position:absolute;top:-22.5px;left:0px;
}
.s_page06-07_52
{
position:absolute;top:-14.08px;left:0px;letter-spacing:-3.89px;
}
.s_page06-07_53
{
position:absolute;top:-14.08px;left:843.18px;letter-spacing:-4.67px;
}
.s_page06-07_54
{
position:absolute;top:-14.08px;left:1635.81px;letter-spacing:-3.89px;
}
.s_page06-07_55
{
position:absolute;top:-22.5px;left:0px;letter-spacing:-5.45px;
}
.s_page06-07_56
{
position:absolute;top:-22.5px;left:730.79px;letter-spacing:-2.34px;
}
.s_page06-07_57
{
position:absolute;top:-22.5px;left:1422.88px;letter-spacing:-0.26px;
}
.s_page06-07_58
{
position:absolute;top:-22.5px;left:2284.17px;
}
.s_page06-07_59
{
position:absolute;top:397.5px;left:0px;
}
.s_page06-07_60
{
position:absolute;top:397.5px;left:1936.78px;
}
.s_page06-07_61
{
position:absolute;top:817.5px;left:0px;
}
.s_page06-07_62
{
position:absolute;top:817.5px;left:1332.28px;
}
.s_page06-07_63
{
position:absolute;top:-14.08px;left:0px;letter-spacing:-4.03px;
}
.s_page06-07_64
{
position:absolute;top:-14.08px;left:714.87px;letter-spacing:-3.28px;
}
.s_page06-07_65
{
position:absolute;top:-14.08px;left:1266.86px;letter-spacing:-1.68px;
}
.s_page06-07_66
{
position:absolute;top:-22.5px;left:0px;letter-spacing:-0.54px;
}
.s_page06-07_67
{
position:absolute;top:-22.5px;left:637.79px;letter-spacing:-3px;
}
.s_page06-07_68
{
position:absolute;top:-22.5px;left:1105.48px;letter-spacing:-3.9px;
}
.s_page06-07_69
{
position:absolute;top:-22.5px;left:1660.18px;
}
.s_page06-07_70
{
position:absolute;top:-22.5px;left:1741.78px;
}
.s_page06-07_71
{
position:absolute;top:-22.5px;left:2303.07px;letter-spacing:-0.9px;
}
.s_page06-07_72
{
position:absolute;top:397.5px;left:0px;letter-spacing:-0.63px;
}
.s_page06-07_73
{
position:absolute;top:397.5px;left:1493.68px;letter-spacing:-2.3px;
}
.s_page06-07_74
{
position:absolute;top:397.5px;left:1860.27px;
}
.s_page06-07_75
{
position:absolute;top:-14.08px;left:0px;letter-spacing:-3.68px;
}
.s_page06-07_76
{
position:absolute;top:-14.08px;left:727.67px;
}
.s_page06-07_77
{
position:absolute;top:-22.5px;left:0px;letter-spacing:-3.3px;
}
.s_page06-07_78
{
position:absolute;top:-22.5px;left:710.99px;letter-spacing:-0.35px;
}
.s_page06-07_79
{
position:absolute;top:-22.5px;left:1502.38px;
}
.s_page06-07_80
{
position:absolute;top:-22.5px;left:1583.98px;letter-spacing:-0.57px;
}
.s_page06-07_81
{
position:absolute;top:397.5px;left:0px;letter-spacing:-0.34px;
}
.s_page06-07_82
{
position:absolute;top:397.5px;left:1087.18px;
}
.s_page06-07_83
{
position:absolute;top:817.5px;left:0px;letter-spacing:-1.01px;
}
.s_page06-07_84
{
position:absolute;top:817.5px;left:1036.48px;
}
.s_page06-07_85
{
position:absolute;top:817.5px;left:1398.27px;letter-spacing:-1.02px;
}
.s_page06-07_86
{
position:absolute;top:817.5px;left:1884.86px;
}
.s_page06-07_87
{
position:absolute;top:1237.5px;left:0px;
}
.s_page06-07_88
{
position:absolute;top:1237.5px;left:582.6px;letter-spacing:-0.75px;
}
.s_page06-07_89
{
position:absolute;top:1237.5px;left:1382.38px;
}
.s_page06-07_90
{
position:absolute;top:1657.5px;left:0px;
}
.s_page06-07_91
{
position:absolute;top:1657.5px;left:1235.08px;letter-spacing:-0.9px;
}
.s_page06-07_92
{
position:absolute;top:2077.5px;left:0px;
}
.s_page06-07_93
{
position:absolute;top:2077.5px;left:356.69px;
}
.s_page06-07_94
{
position:absolute;top:2077.5px;left:1100.38px;
}
.s_page06-07_95
{
position:absolute;top:2077.5px;left:1631.36px;letter-spacing:-3.1px;
}
.s_page06-07_96
{
position:absolute;top:2077.5px;left:1976.96px;
}
.s_page06-07_97
{
position:absolute;top:2497.5px;left:0px;
}
.s_page06-07_98
{
position:absolute;top:2497.5px;left:574.79px;
}
.s_page06-07_99
{
position:absolute;top:2497.5px;left:1164.58px;
}
.s_page06-07_100
{
position:absolute;top:2917.5px;left:0px;letter-spacing:-1.35px;
}
.s_page06-07_101
{
position:absolute;top:2917.5px;left:882.28px;
}
.s_page06-07_102
{
position:absolute;top:2917.5px;left:2521.76px;
}
.s_page06-07_103
{
position:absolute;top:3337.5px;left:0px;
}
.s_page06-07_104
{
position:absolute;top:3337.5px;left:1279.78px;
}
.s_page06-07_105
{
position:absolute;top:41.44px;left:207.12px;
}
.s_page06-07_106
{
position:absolute;top:41.44px;left:207.12px;
}
.s_page06-07_107
{
position:absolute;top:58.88px;left:0px;
}
.s_page06-07_108
{
position:absolute;top:180px;left:380.63px;
}
.s_page06-07_109
{
position:absolute;top:213.6px;left:453.54px;letter-spacing:-0.95px;
}
.s_page06-07_110
{
position:absolute;top:213.6px;left:1370.55px;
}
.s_page06-07_111
{
position:absolute;top:213.6px;left:2044.98px;letter-spacing:-0.19px;
}
.s_page06-07_112
{
position:absolute;top:213.6px;left:2937.03px;
}
.s_page06-07_113
{
position:absolute;top:213.6px;left:3795.79px;
}
.s_page06-07_114
{
position:absolute;top:213.6px;left:4328.01px;letter-spacing:-2.03px;
}
.s_page06-07_115
{
position:absolute;top:213.6px;left:4910.66px;letter-spacing:-0.55px;
}
.s_page06-07_116
{
position:absolute;top:213.6px;left:5820.65px;letter-spacing:-1.07px;
}
.s_page06-07_117
{
position:absolute;top:213.6px;left:6723.1px;letter-spacing:0px;
}
.s_page06-07_118
{
position:absolute;top:213.6px;left:7231.13px;letter-spacing:-1.98px;
}
.s_page06-07_119
{
position:absolute;top:213.6px;left:7798.7px;letter-spacing:-0.49px;
}
.s_page06-07_120
{
position:absolute;top:213.6px;left:8794.22px;letter-spacing:-0.62px;
}
.s_page06-07_121
{
position:absolute;top:213.6px;left:9388.32px;letter-spacing:0px;
}
.s_page06-07_122
{
position:absolute;top:613.6px;left:453.54px;
}
.s_page06-07_123
{
position:absolute;top:613.6px;left:981.85px;
}
.s_page06-07_124
{
position:absolute;top:-22.06px;left:0px;letter-spacing:15px;-webkit-transform-origin: 0% 621.45px;-webkit-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 621.45px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page06-07_125
{
position:absolute;top:-22.06px;left:558.59px;letter-spacing:18.75px;-webkit-transform-origin: 0% 621.45px;-webkit-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 621.45px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page06-07_126
{
position:absolute;top:-22.06px;left:2284.79px;letter-spacing:18.75px;-webkit-transform-origin: 0% 621.45px;-webkit-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 621.45px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page06-07_127
{
position:absolute;top:-22.06px;left:4598.17px;letter-spacing:18.75px;-webkit-transform-origin: 0% 621.45px;-webkit-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 621.45px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page06-07_128
{
position:absolute;top:-30.85px;left:0px;
}
.s_page06-07_129
{
position:absolute;top:-30.85px;left:577.64px;
}
.s_page06-07_130
{
position:absolute;top:-30.85px;left:1358.27px;
}
.s_page06-07_131
{
position:absolute;top:-30.85px;left:1647.34px;
}
.s_page06-07_132
{
position:absolute;top:-30.85px;left:2557.72px;
}
.s_page06-07_133
{
position:absolute;top:-30.85px;left:2919.16px;
}
.s_page06-07_134
{
position:absolute;top:-30.85px;left:3684.81px;
}
.s_page06-07_135
{
position:absolute;top:-30.85px;left:4060.47px;
}
.s_page06-07_136
{
position:absolute;top:-30.85px;left:5028.74px;
}
.s_page06-07_137
{
position:absolute;top:-30.85px;left:6603.97px;
}
.s_page06-07_138
{
position:absolute;top:-30.85px;left:7500.01px;
}
.s_page06-07_139
{
position:absolute;top:575.23px;left:0px;
}
.s_page06-07_140
{
position:absolute;top:575.23px;left:577.64px;
}
.s_page06-07_141
{
position:absolute;top:575.23px;left:1300px;
}
.s_page06-07_142
{
position:absolute;top:575.23px;left:2282.36px;
}
.s_page06-07_143
{
position:absolute;top:575.23px;left:2874.98px;
}
.s_page06-07_144
{
position:absolute;top:575.23px;left:3467.47px;
}
.s_page06-07_145
{
position:absolute;top:575.23px;left:4283.14px;
}
.s_page06-07_146
{
position:absolute;top:575.23px;left:5989.14px;
}
.s_page06-07_147
{
position:absolute;top:575.23px;left:6885.18px;
}
.s_page06-07_148
{
position:absolute;top:1181.31px;left:0px;
}
.s_page06-07_149
{
position:absolute;top:1181.31px;left:577.64px;
}
.s_page06-07_150
{
position:absolute;top:1181.31px;left:1358.27px;
}
.s_page06-07_151
{
position:absolute;top:1181.31px;left:1647.34px;
}
.s_page06-07_152
{
position:absolute;top:1181.31px;left:2355.36px;
}
.s_page06-07_153
{
position:absolute;top:1181.31px;left:2629.96px;
}
.s_page06-07_154
{
position:absolute;top:1181.31px;left:3396px;
}
.s_page06-07_155
{
position:absolute;top:1181.31px;left:4292.03px;
}
.s_page06-07_156
{
position:absolute;top:1787.39px;left:0px;
}
.s_page06-07_157
{
position:absolute;top:1787.39px;left:577.64px;
}
.s_page06-07_158
{
position:absolute;top:1787.39px;left:1965.23px;
}
.s_page06-07_159
{
position:absolute;top:1787.39px;left:3020.21px;
}
.s_page06-07_160
{
position:absolute;top:1787.39px;left:3309.29px;
}
.s_page06-07_161
{
position:absolute;top:1787.39px;left:3742.96px;
}
.s_page06-07_162
{
position:absolute;top:1787.39px;left:4494.52px;
}
.s_page06-07_163
{
position:absolute;top:1787.39px;left:5303.97px;
}
.s_page06-07_164
{
position:absolute;top:1787.39px;left:5968.57px;
}
.s_page06-07_165
{
position:absolute;top:1787.39px;left:6864.61px;
}
.s_page06-07_166
{
position:absolute;top:2393.47px;left:0px;
}
.s_page06-07_167
{
position:absolute;top:2393.47px;left:577.64px;
}
.s_page06-07_168
{
position:absolute;top:2393.47px;left:1719.45px;
}
.s_page06-07_169
{
position:absolute;top:2393.47px;left:2008.53px;
}
.s_page06-07_170
{
position:absolute;top:2393.47px;left:3512.16px;
}
.s_page06-07_171
{
position:absolute;top:2393.47px;left:4148.19px;
}
.s_page06-07_172
{
position:absolute;top:2393.47px;left:5044.23px;
}
.s_page06-07_173
{
position:absolute;top:2999.54px;left:0px;
}
.s_page06-07_174
{
position:absolute;top:2999.54px;left:577.64px;
}
.s_page06-07_175
{
position:absolute;top:2999.54px;left:1358.27px;
}
.s_page06-07_176
{
position:absolute;top:2999.54px;left:2268.65px;
}
.s_page06-07_177
{
position:absolute;top:2999.54px;left:2557.72px;
}
.s_page06-07_178
{
position:absolute;top:2999.54px;left:3236.92px;
}
.s_page06-07_179
{
position:absolute;top:2999.54px;left:3597.98px;
}
.s_page06-07_180
{
position:absolute;top:2999.54px;left:4551.65px;
}
.s_page06-07_181
{
position:absolute;top:2999.54px;left:5447.69px;
}
.s_page06-07_182
{
position:absolute;top:3605.62px;left:0px;
}
.s_page06-07_183
{
position:absolute;top:3605.62px;left:577.64px;
}
.s_page06-07_184
{
position:absolute;top:3605.62px;left:1358.27px;
}
.s_page06-07_185
{
position:absolute;top:3605.62px;left:1647.34px;
}
.s_page06-07_186
{
position:absolute;top:3605.62px;left:2109.71px;
}
.s_page06-07_187
{
position:absolute;top:3605.62px;left:2326.54px;
}
.s_page06-07_188
{
position:absolute;top:3605.62px;left:3005.49px;
}
.s_page06-07_189
{
position:absolute;top:3605.62px;left:3785.87px;
}
.s_page06-07_190
{
position:absolute;top:3605.62px;left:4060.47px;
}
.s_page06-07_191
{
position:absolute;top:3605.62px;left:5346.88px;
}
.s_page06-07_192
{
position:absolute;top:3605.62px;left:5635.96px;
}
.s_page06-07_193
{
position:absolute;top:3605.62px;left:6069.63px;
}
.s_page06-07_194
{
position:absolute;top:3605.62px;left:7210.81px;
}
.s_page06-07_195
{
position:absolute;top:4005.62px;left:0px;
}
.s_page06-07_196
{
position:absolute;top:4611.7px;left:0px;
}
.s_page06-07_197
{
position:absolute;top:4611.7px;left:577.64px;
}
.s_page06-07_198
{
position:absolute;top:4611.7px;left:1358.27px;
}
.s_page06-07_199
{
position:absolute;top:4611.7px;left:2268.65px;
}
.s_page06-07_200
{
position:absolute;top:4611.7px;left:2557.72px;
}
.s_page06-07_201
{
position:absolute;top:4611.7px;left:3265.74px;
}
.s_page06-07_202
{
position:absolute;top:4611.7px;left:3482.58px;
}
.s_page06-07_203
{
position:absolute;top:4611.7px;left:4335.58px;
}
.s_page06-07_204
{
position:absolute;top:4611.7px;left:5361.99px;
}
.s_page06-07_205
{
position:absolute;top:4611.7px;left:5631.89px;letter-spacing:-5.76px;
}
.s_page06-07_206
{
position:absolute;top:4611.7px;left:6180.97px;
}
.s_page06-07_207
{
position:absolute;top:4611.7px;left:7004.38px;
}
.s_page06-07_208
{
position:absolute;top:4611.7px;left:7900.42px;
}
.s_page06-07_209
{
position:absolute;top:5217.78px;left:0px;
}
.s_page06-07_210
{
position:absolute;top:5217.78px;left:577.64px;
}
.s_page06-07_211
{
position:absolute;top:5217.78px;left:1488.02px;
}
.s_page06-07_212
{
position:absolute;top:5217.78px;left:2629.83px;
}
.s_page06-07_213
{
position:absolute;top:5217.78px;left:2918.91px;
}
.s_page06-07_214
{
position:absolute;top:5217.78px;left:3352.58px;
}
.s_page06-07_215
{
position:absolute;top:5217.78px;left:3800.34px;
}
.s_page06-07_216
{
position:absolute;top:5217.78px;left:4783.21px;
}
.s_page06-07_217
{
position:absolute;top:5217.78px;left:5982.41px;
}
.s_page06-07_218
{
position:absolute;top:5217.78px;left:6878.45px;
}
.s_page06-07_219
{
position:absolute;top:5823.86px;left:0px;
}
.s_page06-07_220
{
position:absolute;top:5823.86px;left:577.64px;
}
.s_page06-07_221
{
position:absolute;top:5823.86px;left:1488.02px;
}
.s_page06-07_222
{
position:absolute;top:5823.86px;left:2629.83px;
}
.s_page06-07_223
{
position:absolute;top:5823.86px;left:2918.91px;
}
.s_page06-07_224
{
position:absolute;top:5823.86px;left:3554.94px;
}
.s_page06-07_225
{
position:absolute;top:5823.86px;left:4450.98px;
}
.s_page06-07_226
{
position:absolute;top:-19.5px;left:111.65px;letter-spacing:-1.69px;
}
.s_page06-07_227
{
position:absolute;top:-19.5px;left:71.74px;letter-spacing:-2.08px;
}
.s_page06-07_228
{
position:absolute;top:-19.5px;left:73.69px;
}
.s_page06-07_229
{
position:absolute;top:-19.5px;left:73.95px;letter-spacing:-1.3px;
}
.s_page06-07_230
{
position:absolute;top:-19.5px;left:75.25px;letter-spacing:-2.08px;
}
.s_page06-07_231
{
position:absolute;top:-19.5px;left:69.27px;letter-spacing:-2.08px;
}
.s_page06-07_232
{
position:absolute;top:-19.5px;left:90.46px;letter-spacing:-10.92px;
}
.s_page06-07_233
{
position:absolute;top:-22.5px;left:49.49px;letter-spacing:-2.25px;
}
.s_page06-07_234
{
position:absolute;top:-22.5px;left:54.59px;letter-spacing:-4.65px;
}
.s_page06-07_235
{
position:absolute;top:-19.5px;left:63.79px;letter-spacing:-6.15px;
}
.s_page06-07_236
{
position:absolute;top:-30.85px;left:0px;
}
.s_page06-07_237
{
position:absolute;top:-30.85px;left:823.54px;
}
.s_page06-07_238
{
position:absolute;top:425.84px;left:0px;
}
.s_page06-07_239
{
position:absolute;top:425.84px;left:924.98px;
}
.s_page06-07_240
{
position:absolute;top:882.54px;left:0px;
}
.s_page06-07_241
{
position:absolute;top:882.54px;left:924.85px;
}
.s_page06-07_242
{
position:absolute;top:1339.23px;left:0px;letter-spacing:-0.67px;
}
.s_page06-07_243
{
position:absolute;top:1339.23px;left:775.68px;
}
.s_page06-07_244
{
position:absolute;top:1339.23px;left:1816.06px;
}
.s_page06-07_245
{
position:absolute;top:1795.92px;left:0px;
}
.s_page06-07_246
{
position:absolute;top:1795.92px;left:1040.63px;
}
.s_page06-07_247
{
position:absolute;top:-30.85px;left:2902.05px;
}
.s_page06-07_248
{
position:absolute;top:-30.85px;left:4058.21px;
}
.s_page06-07_249
{
position:absolute;top:425.84px;left:2902.05px;
}
.s_page06-07_250
{
position:absolute;top:425.84px;left:3855.85px;
}
.s_page06-07_251
{
position:absolute;top:882.54px;left:2902.05px;
}
.s_page06-07_252
{
position:absolute;top:882.54px;left:4145.05px;
}
.s_page06-07_253
{
position:absolute;top:1339.23px;left:2902.05px;letter-spacing:-3.59px;
}
.s_page06-07_254
{
position:absolute;top:1339.23px;left:3306.52px;
}
.s_page06-07_255
{
position:absolute;top:1339.23px;left:4433.87px;
}
.s_page06-07_256
{
position:absolute;top:1795.92px;left:2902.05px;
}
.s_page06-07_257
{
position:absolute;top:1795.92px;left:3321.12px;
}
.s_page06-07_258
{
position:absolute;top:-12.32px;left:0px;
}
.s_page06-07_259
{
position:absolute;top:-12.32px;left:420.83px;letter-spacing:-5.11px;
}
.s_page06-07_260
{
position:absolute;top:-12.32px;left:971.57px;letter-spacing:-6.86px;
}
.s_page06-07_261
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-0.45px;
}
.s_page06-07_262
{
position:absolute;top:-19.5px;left:499.46px;text-rendering:optimizeLegibility;letter-spacing:-0.26px;
}
.s_page06-07_263
{
position:absolute;top:-19.5px;left:1038.68px;
}
.s_page06-07_264
{
position:absolute;top:-19.5px;left:1822.57px;text-rendering:optimizeLegibility;
}
.s_page06-07_265
{
position:absolute;top:-19.5px;left:2319.17px;letter-spacing:-0.71px;
}
.s_page06-07_266
{
position:absolute;top:-19.5px;left:2867.5px;letter-spacing:-0.99px;
}
.s_page06-07_267
{
position:absolute;top:360.5px;left:0px;letter-spacing:-0.6px;
}
.s_page06-07_268
{
position:absolute;top:360.5px;left:1750.81px;
}
.s_page06-07_269
{
position:absolute;top:360.5px;left:1882.62px;letter-spacing:-0.69px;
}
.s_page06-07_270
{
position:absolute;top:360.5px;left:2110.38px;letter-spacing:-0.71px;
}
.s_page06-07_271
{
position:absolute;top:360.5px;left:2658.71px;letter-spacing:-3.25px;
}
.s_page06-07_272
{
position:absolute;top:360.5px;left:2866.19px;
}
.s_page06-07_273
{
position:absolute;top:740.5px;left:0px;
}
.s_page06-07_274
{
position:absolute;top:740.5px;left:506.21px;
}
.s_page06-07_275
{
position:absolute;top:740.5px;left:1227.44px;text-rendering:optimizeLegibility;
}
.s_page06-07_276
{
position:absolute;top:740.5px;left:1728.97px;
}
.s_page06-07_277
{
position:absolute;top:740.5px;left:2240.13px;
}
.s_page06-07_278
{
position:absolute;top:740.5px;left:2751.28px;
}
.s_page06-07_279
{
position:absolute;top:1120.5px;left:0px;
}

.page7_btn1 {
	position:absolute;
	top: 801px;
	left: 230px;
}
.p07_input_text1 {
	display: none;
	text-align: center;
	font-family: "Cabrito_Sans_Norm_Book";
	font-size: 13px;
	margin-top: 2px;
	line-height: 14px;
}
#text1 {
	position:absolute;
	top: 661px;
	left: 66px;
}
#text2 {
	position:absolute;
	top: 661px;
	left: 211px;
}
#text3 {
	position:absolute;
	top: 684px;
	left: 65px;
}
#text4 {
	position:absolute;
	top: 684px;
	left: 209px;
}
#text5 {
	position:absolute;
	top: 707px;
	left: 64px;
}
#text6 {
	position:absolute;
	top: 707px;
	left: 210px;
}
#text7 {
	position:absolute;
	top: 729px;
	left: 65px;
}
#text8 {
	position:absolute;
	top: 729px;
	left: 210px;
}
#text9 {
	position:absolute;
	top: 752px;
	left: 65px;
}
#text10 {
	position:absolute;
	top: 752px;
	left: 210px;
}
#box1 {
	position:absolute;
	top: 175px;
	left: 458px;
	width: 87px;
}
#box2 {
	position:absolute;
	top: 205px;
	left: 429px;
	width: 112px;
}
#box3 {
	position:absolute;
	top: 235px;
	left: 293px;
	width: 112px;
}
#box4 {
	position:absolute;
	top: 265px;
	left: 424px;
	width: 112px;
}
#box5 {
	position:absolute;
	top: 297px;
	left: 333px;
	width: 127px;
}
#box6 {
	position:absolute;
	top: 326px;
	left: 352px;
	width: 112px;
}
#box7 {
	position:absolute;
	top: 376px;
	left: 84px;
	width: 142px;
}
#box8 {
	position:absolute;
	top: 406px;
	left: 476px;
	width: 69px;
}
#box9 {
	position:absolute;
	top: 437px;
	left: 425px;
	width: 138px;
}
#box10 {
	position:absolute;
	top: 467px;
	left: 307px;
	width: 112px;
}
