.d_1_Chapter_9-3_1
{position:absolute;overflow:hidden;left: 297.36px;top:0px;transform:translate(0.00px,0.00px);-webkit-transform:translate(0.00px,0.00px);-ms-transform:translate(0.00px,0.00px);-o-transform:translate(0.00px,0.00px);-moz-transform:translate(0.00px,0.00px);width:595.28px;height:841.89px;}
.d_1_Chapter_9-3_2
{
width:560.18px;
height:401.47px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_9-3_3
{
width:7207.69px;
height:603.35px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_9-3_4
{
width:6765.35px;
height:1647.83px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_9-3_5
{
width:7393.4px;
height:1714.75px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_9-3_6
{
width:6963.78px;
height:1520.16px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_9-3_7
{
width:6866.95px;
height:1419.91px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_9-3_8
{
width:6436.24px;
height:2082.65px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_9-3_9
{
width:1884.76px;
height:288px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_9-3_10
{
width:8913.62px;
height:1080.65px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.65px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.65px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.65px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.65px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.65px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_9-3_11
{
width:8254.51px;
height:666.14px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.65px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.65px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.65px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.65px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.65px) rotate(0deg) scale(0.05);
}
.s_1_Chapter_9-3_12
{
position:absolute;
top:41.44px;
left:134.15px;
}
.s_1_Chapter_9-3_13
{
position:absolute;
top:58.88px;
left:0px;
letter-spacing:-7.92px;
}
.s_1_Chapter_9-3_14
{
position:absolute;
top:213.6px;
left:329.76px;
}
.s_1_Chapter_9-3_15
{
position:absolute;
top:213.6px;
left:453.54px;
letter-spacing:-0.57px;
}
.s_1_Chapter_9-3_16
{
position:absolute;
top:213.6px;
left:1075.46px;
letter-spacing:0px;
}
.s_1_Chapter_9-3_17
{
position:absolute;
top:213.6px;
left:1497.17px;
}
.s_1_Chapter_9-3_18
{
position:absolute;
top:213.6px;
left:2121.94px;
}
.s_1_Chapter_9-3_19
{
position:absolute;
top:213.6px;
left:2592.53px;
letter-spacing:-0.69px;
}
.s_1_Chapter_9-3_20
{
position:absolute;
top:213.6px;
left:3503.04px;
}
.s_1_Chapter_9-3_21
{
position:absolute;
top:213.6px;
left:4177.47px;
letter-spacing:-0.19px;
}
.s_1_Chapter_9-3_22
{
position:absolute;
top:213.6px;
left:5069.52px;
letter-spacing:0px;
}
.s_1_Chapter_9-3_23
{
position:absolute;
top:213.6px;
left:5810.5px;
}
.s_1_Chapter_9-3_24
{
position:absolute;
top:-19.5px;
left:396.85px;
letter-spacing:-0.39px;
}
.s_1_Chapter_9-3_25
{
position:absolute;
top:-19.5px;
left:895.53px;
letter-spacing:-0.71px;
}
.s_1_Chapter_9-3_26
{
position:absolute;
top:-19.5px;
left:1443.86px;
letter-spacing:-3.25px;
}
.s_1_Chapter_9-3_27
{
position:absolute;
top:-19.5px;
left:1651.34px;
letter-spacing:-0.29px;
}
.s_1_Chapter_9-3_28
{
position:absolute;
top:-19.5px;
left:2605.78px;
}
.s_1_Chapter_9-3_29
{
position:absolute;
top:-19.5px;
left:3666.57px;
}
.s_1_Chapter_9-3_30
{
position:absolute;
top:-19.5px;
left:4251.29px;
letter-spacing:-0.52px;
}
.s_1_Chapter_9-3_31
{
position:absolute;
top:-19.5px;
left:5095.77px;
letter-spacing:-2.6px;
}
.s_1_Chapter_9-3_32
{
position:absolute;
top:380.5px;
left:396.85px;
letter-spacing:-0.76px;
}
.s_1_Chapter_9-3_33
{
position:absolute;
top:380.5px;
left:1747.01px;
letter-spacing:-0.23px;
}
.s_1_Chapter_9-3_34
{
position:absolute;
top:380.5px;
left:3366px;
}
.s_1_Chapter_9-3_35
{
position:absolute;
top:380.5px;
left:3877.16px;
letter-spacing:-0.11px;
}
.s_1_Chapter_9-3_36
{
position:absolute;
top:380.5px;
left:5441.29px;
letter-spacing:0px;
}
.s_1_Chapter_9-3_37
{
position:absolute;
top:780.5px;
left:396.85px;
letter-spacing:-0.39px;
}
.s_1_Chapter_9-3_38
{
position:absolute;
top:780.5px;
left:895.53px;
letter-spacing:-0.71px;
}
.s_1_Chapter_9-3_39
{
position:absolute;
top:780.5px;
left:1443.86px;
}
.s_1_Chapter_9-3_40
{
position:absolute;
top:780.5px;
left:1988.81px;
}
.s_1_Chapter_9-3_41
{
position:absolute;
top:780.5px;
left:2439.38px;
text-rendering:optimizeLegibility;
letter-spacing:-0.26px;
}
.s_1_Chapter_9-3_42
{
position:absolute;
top:780.5px;
left:2973.67px;
letter-spacing:-0.52px;
}
.s_1_Chapter_9-3_43
{
position:absolute;
top:780.5px;
left:3910.96px;
}
.s_1_Chapter_9-3_44
{
position:absolute;
top:780.5px;
left:4224.51px;
letter-spacing:-1.79px;
}
.s_1_Chapter_9-3_45
{
position:absolute;
top:780.5px;
left:5140.74px;
letter-spacing:-3.25px;
}
.s_1_Chapter_9-3_46
{
position:absolute;
top:780.5px;
left:5348.22px;
letter-spacing:0px;
}
.s_1_Chapter_9-3_47
{
position:absolute;
top:1180.5px;
left:396.85px;
letter-spacing:-2.68px;
}
.s_1_Chapter_9-3_48
{
position:absolute;
top:1180.5px;
left:700.79px;
letter-spacing:-0.36px;
}
.s_1_Chapter_9-3_49
{
position:absolute;
top:1180.5px;
left:1670.84px;
}
.s_1_Chapter_9-3_50
{
position:absolute;
top:1180.5px;
left:1947.48px;
}
.s_1_Chapter_9-3_51
{
position:absolute;
top:1180.5px;
left:2649.98px;
}
.s_1_Chapter_9-3_52
{
position:absolute;
top:-19.5px;
left:396.85px;
letter-spacing:-0.95px;
}
.s_1_Chapter_9-3_53
{
position:absolute;
top:-19.5px;
left:782.95px;
letter-spacing:-0.71px;
}
.s_1_Chapter_9-3_54
{
position:absolute;
top:-19.5px;
left:1331.28px;
letter-spacing:-3.25px;
}
.s_1_Chapter_9-3_55
{
position:absolute;
top:-19.5px;
left:1533.82px;
letter-spacing:-0.57px;
}
.s_1_Chapter_9-3_56
{
position:absolute;
top:-19.5px;
left:2967.7px;
letter-spacing:-2.3px;
}
.s_1_Chapter_9-3_57
{
position:absolute;
top:-19.5px;
left:3772.91px;
letter-spacing:-0.16px;
}
.s_1_Chapter_9-3_58
{
position:absolute;
top:-19.5px;
left:4818.61px;
}
.s_1_Chapter_9-3_59
{
position:absolute;
top:-19.5px;
left:5395.54px;
letter-spacing:0px;
}
.s_1_Chapter_9-3_60
{
position:absolute;
top:-19.5px;
left:5652.42px;
}
.s_1_Chapter_9-3_61
{
position:absolute;
top:-19.5px;
left:6237.14px;
letter-spacing:-0.52px;
}
.s_1_Chapter_9-3_62
{
position:absolute;
top:380.5px;
left:396.85px;
letter-spacing:-2.6px;
}
.s_1_Chapter_9-3_63
{
position:absolute;
top:380.5px;
left:802.18px;
}
.s_1_Chapter_9-3_64
{
position:absolute;
top:380.5px;
left:1205.17px;
letter-spacing:-1.56px;
}
.s_1_Chapter_9-3_65
{
position:absolute;
top:380.5px;
left:2304.7px;
}
.s_1_Chapter_9-3_66
{
position:absolute;
top:380.5px;
left:2581.33px;
letter-spacing:-0.84px;
}
.s_1_Chapter_9-3_67
{
position:absolute;
top:380.5px;
left:3526.42px;
}
.s_1_Chapter_9-3_68
{
position:absolute;
top:380.5px;
left:4037.57px;
}
.s_1_Chapter_9-3_69
{
position:absolute;
top:380.5px;
left:5563.49px;
letter-spacing:-0.95px;
}
.s_1_Chapter_9-3_70
{
position:absolute;
top:380.5px;
left:5954.52px;
}
.s_1_Chapter_9-3_71
{
position:absolute;
top:780.5px;
left:396.85px;
letter-spacing:-0.57px;
}
.s_1_Chapter_9-3_72
{
position:absolute;
top:780.5px;
left:1724.4px;
}
.s_1_Chapter_9-3_73
{
position:absolute;
top:780.5px;
left:2612.03px;
}
.s_1_Chapter_9-3_74
{
position:absolute;
top:780.5px;
left:3717.02px;
}
.s_1_Chapter_9-3_75
{
position:absolute;
top:780.5px;
left:4052.93px;
}
.s_1_Chapter_9-3_76
{
position:absolute;
top:780.5px;
left:4507.14px;
}
.s_1_Chapter_9-3_77
{
position:absolute;
top:780.5px;
left:5711.45px;
letter-spacing:-2.68px;
}
.s_1_Chapter_9-3_78
{
position:absolute;
top:780.5px;
left:6010.96px;
}
.s_1_Chapter_9-3_79
{
position:absolute;
top:780.5px;
left:6465.17px;
letter-spacing:0px;
}
.s_1_Chapter_9-3_80
{
position:absolute;
top:1180.5px;
left:396.85px;
letter-spacing:-0.74px;
}
.s_1_Chapter_9-3_81
{
position:absolute;
top:1180.5px;
left:1177.62px;
letter-spacing:-1.27px;
}
.s_1_Chapter_9-3_82
{
position:absolute;
top:1180.5px;
left:2340.33px;
letter-spacing:-0.72px;
}
.s_1_Chapter_9-3_83
{
position:absolute;
top:1180.5px;
left:3932.55px;
letter-spacing:-1.97px;
}
.s_1_Chapter_9-3_84
{
position:absolute;
top:1180.5px;
left:4745.3px;
}
.s_1_Chapter_9-3_85
{
position:absolute;
top:1180.5px;
left:5021.94px;
letter-spacing:-0.48px;
}
.s_1_Chapter_9-3_86
{
position:absolute;
top:1180.5px;
left:5612.38px;
}
.s_1_Chapter_9-3_87
{
position:absolute;
top:-19.5px;
left:396.85px;
letter-spacing:-0.95px;
}
.s_1_Chapter_9-3_88
{
position:absolute;
top:-19.5px;
left:782.95px;
letter-spacing:-0.71px;
}
.s_1_Chapter_9-3_89
{
position:absolute;
top:-19.5px;
left:1331.28px;
letter-spacing:-3.25px;
}
.s_1_Chapter_9-3_90
{
position:absolute;
top:-19.5px;
left:1538.76px;
letter-spacing:-0.29px;
}
.s_1_Chapter_9-3_91
{
position:absolute;
top:-19.5px;
left:2493.2px;
}
.s_1_Chapter_9-3_92
{
position:absolute;
top:-19.5px;
left:3280.73px;
}
.s_1_Chapter_9-3_93
{
position:absolute;
top:-19.5px;
left:5100.45px;
letter-spacing:0px;
}
.s_1_Chapter_9-3_94
{
position:absolute;
top:-19.5px;
left:5677.38px;
letter-spacing:0px;
}
.s_1_Chapter_9-3_95
{
position:absolute;
top:380.5px;
left:396.85px;
letter-spacing:-1px;
}
.s_1_Chapter_9-3_96
{
position:absolute;
top:380.5px;
left:2062.38px;
letter-spacing:-0.32px;
}
.s_1_Chapter_9-3_97
{
position:absolute;
top:380.5px;
left:3680.85px;
}
.s_1_Chapter_9-3_98
{
position:absolute;
top:380.5px;
left:3994.4px;
letter-spacing:0px;
}
.s_1_Chapter_9-3_99
{
position:absolute;
top:380.5px;
left:5672.94px;
letter-spacing:-0.39px;
}
.s_1_Chapter_9-3_100
{
position:absolute;
top:780.5px;
left:396.85px;
letter-spacing:-0.85px;
}
.s_1_Chapter_9-3_101
{
position:absolute;
top:780.5px;
left:1372.36px;
letter-spacing:-1.4px;
}
.s_1_Chapter_9-3_102
{
position:absolute;
top:780.5px;
left:2271.68px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_9-3_103
{
position:absolute;
top:780.5px;
left:3137.98px;
}
.s_1_Chapter_9-3_104
{
position:absolute;
top:780.5px;
left:3976.21px;
}
.s_1_Chapter_9-3_105
{
position:absolute;
top:780.5px;
left:4487.36px;
letter-spacing:-0.44px;
}
.s_1_Chapter_9-3_106
{
position:absolute;
top:780.5px;
left:5718.45px;
}
.s_1_Chapter_9-3_107
{
position:absolute;
top:1180.5px;
left:396.85px;
}
.s_1_Chapter_9-3_108
{
position:absolute;
top:-19.5px;
left:396.85px;
}
.s_1_Chapter_9-3_109
{
position:absolute;
top:-19.5px;
left:775.66px;
}
.s_1_Chapter_9-3_110
{
position:absolute;
top:-19.5px;
left:2333.55px;
}
.s_1_Chapter_9-3_111
{
position:absolute;
top:-19.5px;
left:2844.71px;
letter-spacing:-3.25px;
}
.s_1_Chapter_9-3_112
{
position:absolute;
top:-19.5px;
left:3052.18px;
}
.s_1_Chapter_9-3_113
{
position:absolute;
top:-19.5px;
left:4302.76px;
}
.s_1_Chapter_9-3_114
{
position:absolute;
top:-19.5px;
left:4658.43px;
letter-spacing:-0.71px;
}
.s_1_Chapter_9-3_115
{
position:absolute;
top:-19.5px;
left:5206.77px;
letter-spacing:-0.52px;
}
.s_1_Chapter_9-3_116
{
position:absolute;
top:-19.5px;
left:6054.88px;
}
.s_1_Chapter_9-3_117
{
position:absolute;
top:-19.5px;
left:6390.79px;
}
.s_1_Chapter_9-3_118
{
position:absolute;
top:380.5px;
left:396.85px;
letter-spacing:-1.04px;
}
.s_1_Chapter_9-3_119
{
position:absolute;
top:380.5px;
left:1512.24px;
letter-spacing:-2.68px;
}
.s_1_Chapter_9-3_120
{
position:absolute;
top:380.5px;
left:1816.17px;
letter-spacing:-5.04px;
}
.s_1_Chapter_9-3_121
{
position:absolute;
top:380.5px;
left:2542.86px;
}
.s_1_Chapter_9-3_122
{
position:absolute;
top:380.5px;
left:2979.13px;
}
.s_1_Chapter_9-3_123
{
position:absolute;
top:380.5px;
left:3753.14px;
}
.s_1_Chapter_9-3_124
{
position:absolute;
top:380.5px;
left:4119.21px;
letter-spacing:-1.3px;
}
.s_1_Chapter_9-3_125
{
position:absolute;
top:380.5px;
left:4773.36px;
letter-spacing:0px;
}
.s_1_Chapter_9-3_126
{
position:absolute;
top:380.5px;
left:5639.4px;
letter-spacing:-1.04px;
}
.s_1_Chapter_9-3_127
{
position:absolute;
top:780.5px;
left:396.85px;
letter-spacing:-0.52px;
}
.s_1_Chapter_9-3_128
{
position:absolute;
top:780.5px;
left:1808.37px;
}
.s_1_Chapter_9-3_129
{
position:absolute;
top:780.5px;
left:2080.58px;
}
.s_1_Chapter_9-3_130
{
position:absolute;
top:780.5px;
left:2534.79px;
letter-spacing:-0.4px;
}
.s_1_Chapter_9-3_131
{
position:absolute;
top:780.5px;
left:4309.01px;
}
.s_1_Chapter_9-3_132
{
position:absolute;
top:-19.5px;
left:396.85px;
letter-spacing:-0.95px;
}
.s_1_Chapter_9-3_133
{
position:absolute;
top:-19.5px;
left:782.95px;
letter-spacing:-0.71px;
}
.s_1_Chapter_9-3_134
{
position:absolute;
top:-19.5px;
left:1331.28px;
}
.s_1_Chapter_9-3_135
{
position:absolute;
top:-19.5px;
left:1691.38px;
}
.s_1_Chapter_9-3_136
{
position:absolute;
top:-19.5px;
left:2478.91px;
letter-spacing:-0.68px;
}
.s_1_Chapter_9-3_137
{
position:absolute;
top:-19.5px;
left:3572.45px;
}
.s_1_Chapter_9-3_138
{
position:absolute;
top:-19.5px;
left:4149.38px;
}
.s_1_Chapter_9-3_139
{
position:absolute;
top:-19.5px;
left:4406.25px;
}
.s_1_Chapter_9-3_140
{
position:absolute;
top:-19.5px;
left:4990.98px;
letter-spacing:-0.52px;
}
.s_1_Chapter_9-3_141
{
position:absolute;
top:-19.5px;
left:5835.45px;
letter-spacing:-2.6px;
}
.s_1_Chapter_9-3_142
{
position:absolute;
top:380.5px;
left:396.85px;
}
.s_1_Chapter_9-3_143
{
position:absolute;
top:380.5px;
left:799.84px;
letter-spacing:-1.4px;
}
.s_1_Chapter_9-3_144
{
position:absolute;
top:380.5px;
left:1320.09px;
}
.s_1_Chapter_9-3_145
{
position:absolute;
top:380.5px;
left:1596.73px;
letter-spacing:-0.76px;
}
.s_1_Chapter_9-3_146
{
position:absolute;
top:380.5px;
left:2946.89px;
}
.s_1_Chapter_9-3_147
{
position:absolute;
top:380.5px;
left:3458.04px;
letter-spacing:-0.7px;
}
.s_1_Chapter_9-3_148
{
position:absolute;
top:380.5px;
left:4562.24px;
letter-spacing:-1.82px;
}
.s_1_Chapter_9-3_149
{
position:absolute;
top:380.5px;
left:5371.61px;
letter-spacing:-0.75px;
}
.s_1_Chapter_9-3_150
{
position:absolute;
top:780.5px;
left:396.85px;
letter-spacing:-0.64px;
}
.s_1_Chapter_9-3_151
{
position:absolute;
top:780.5px;
left:1908.73px;
letter-spacing:-1.47px;
}
.s_1_Chapter_9-3_152
{
position:absolute;
top:780.5px;
left:2652.32px;
}
.s_1_Chapter_9-3_153
{
position:absolute;
top:780.5px;
left:2909.19px;
letter-spacing:-3.25px;
}
.s_1_Chapter_9-3_154
{
position:absolute;
top:780.5px;
left:3116.67px;
letter-spacing:-1.63px;
}
.s_1_Chapter_9-3_155
{
position:absolute;
top:780.5px;
left:3939.04px;
letter-spacing:-2.68px;
}
.s_1_Chapter_9-3_156
{
position:absolute;
top:780.5px;
left:4242.98px;
letter-spacing:-1.04px;
}
.s_1_Chapter_9-3_157
{
position:absolute;
top:780.5px;
left:4964.73px;
letter-spacing:0px;
}
.s_1_Chapter_9-3_158
{
position:absolute;
top:780.5px;
left:5844.3px;
letter-spacing:-1px;
}
.s_1_Chapter_9-3_159
{
position:absolute;
top:1180.5px;
left:396.85px;
}
.s_1_Chapter_9-3_160
{
position:absolute;
top:1180.5px;
left:898.12px;
}
.s_1_Chapter_9-3_161
{
position:absolute;
top:1180.5px;
left:1174.76px;
}
.s_1_Chapter_9-3_162
{
position:absolute;
top:1180.5px;
left:2258.42px;
}
.s_1_Chapter_9-3_163
{
position:absolute;
top:-12.32px;
left:0px;
}
.s_1_Chapter_9-3_164
{
position:absolute;
top:-12.32px;
left:420.83px;
letter-spacing:-5.11px;
}
.s_1_Chapter_9-3_165
{
position:absolute;
top:-12.32px;
left:971.57px;
letter-spacing:-6.86px;
}
.s_1_Chapter_9-3_166
{
position:absolute;
top:-21px;
left:0px;
}
.s_1_Chapter_9-3_167
{
position:absolute;
top:-21px;
left:309.39px;
letter-spacing:-0.47px;
}
.s_1_Chapter_9-3_168
{
position:absolute;
top:-21px;
left:982.5px;
letter-spacing:-3.5px;
}
.s_1_Chapter_9-3_169
{
position:absolute;
top:-21px;
left:1198.1px;
letter-spacing:-4.9px;
}
.s_1_Chapter_9-3_170
{
position:absolute;
top:-21px;
left:1921.33px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_9-3_171
{
position:absolute;
top:-21px;
left:2461.44px;
}
.s_1_Chapter_9-3_172
{
position:absolute;
top:-21px;
left:3880.19px;
}
.s_1_Chapter_9-3_173
{
position:absolute;
top:-21px;
left:3956.35px;
}
.s_1_Chapter_9-3_174
{
position:absolute;
top:-21px;
left:4506.82px;
}
.s_1_Chapter_9-3_175
{
position:absolute;
top:-21px;
left:4804.73px;
}
.s_1_Chapter_9-3_176
{
position:absolute;
top:-21px;
left:5410.92px;
letter-spacing:-3.5px;
}
.s_1_Chapter_9-3_177
{
position:absolute;
top:-21px;
left:5634.35px;
letter-spacing:-0.21px;
}
.s_1_Chapter_9-3_178
{
position:absolute;
top:-21px;
left:6513.26px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_9-3_179
{
position:absolute;
top:-21px;
left:7053.37px;
letter-spacing:-0.49px;
}
.s_1_Chapter_9-3_180
{
position:absolute;
top:-21px;
left:7595.17px;
letter-spacing:-0.77px;
}
.s_1_Chapter_9-3_181
{
position:absolute;
top:-21px;
left:8229.64px;
letter-spacing:-0.56px;
}
.s_1_Chapter_9-3_182
{
position:absolute;
top:379px;
left:0px;
letter-spacing:-0.62px;
}
.s_1_Chapter_9-3_183
{
position:absolute;
top:379px;
left:790.99px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_9-3_184
{
position:absolute;
top:379px;
left:1654.78px;
}
.s_1_Chapter_9-3_185
{
position:absolute;
top:379px;
left:1725.61px;
letter-spacing:-2.18px;
}
.s_1_Chapter_9-3_186
{
position:absolute;
top:379px;
left:2439.32px;
letter-spacing:-0.84px;
}
.s_1_Chapter_9-3_187
{
position:absolute;
top:379px;
left:3601.59px;
}
.s_1_Chapter_9-3_188
{
position:absolute;
top:379px;
left:4447.45px;
}
.s_1_Chapter_9-3_189
{
position:absolute;
top:379px;
left:4836.93px;
}
.s_1_Chapter_9-3_190
{
position:absolute;
top:379px;
left:5326.08px;
letter-spacing:-0.95px;
}
.s_1_Chapter_9-3_191
{
position:absolute;
top:379px;
left:5780.23px;
letter-spacing:-2.89px;
}
.s_1_Chapter_9-3_192
{
position:absolute;
top:379px;
left:6102.78px;
}
.s_1_Chapter_9-3_193
{
position:absolute;
top:379px;
left:6591.93px;
letter-spacing:-1.21px;
}
.s_1_Chapter_9-3_194
{
position:absolute;
top:379px;
left:7943.76px;
}
.s_1_Chapter_9-3_195
{
position:absolute;
top:779px;
left:0px;
}
.s_1_Chapter_9-3_196
{
position:absolute;
top:779px;
left:2033.61px;
letter-spacing:-1.29px;
}
.s_1_Chapter_9-3_197
{
position:absolute;
top:779px;
left:3238.16px;
}
.s_1_Chapter_9-3_198
{
position:absolute;
top:-21px;
left:36.85px;
letter-spacing:-1.29px;
}
.s_1_Chapter_9-3_199
{
position:absolute;
top:-21px;
left:1241.39px;
}
.s_1_Chapter_9-3_200
{
position:absolute;
top:-21px;
left:3723.97px;
}
.s_1_Chapter_9-3_201
{
position:absolute;
top:-21px;
left:4480.8px;
letter-spacing:-0.31px;
}
.s_1_Chapter_9-3_202
{
position:absolute;
top:-21px;
left:5860.91px;
}
.s_1_Chapter_9-3_203
{
position:absolute;
top:-21px;
left:6649.93px;
}
.s_1_Chapter_9-3_204
{
position:absolute;
top:379px;
left:36.85px;
}
.s_1_Chapter_9-3_205
{
position:absolute;
top:379px;
left:881.6px;
letter-spacing:-1.36px;
}
.s_1_Chapter_9-3_206
{
position:absolute;
top:379px;
left:2479.55px;
letter-spacing:-1.4px;
}
.s_1_Chapter_9-3_207
{
position:absolute;
top:379px;
left:3098.62px;
letter-spacing:-0.87px;
}
.s_1_Chapter_9-3_208
{
position:absolute;
top:379px;
left:4839.66px;
letter-spacing:-1.17px;
}
.s_1_Chapter_9-3_209
{
position:absolute;
top:379px;
left:5679.93px;
}

#text1 {
	position:absolute;
	top: 636px;
	left: 315px;
}
#text2 {
	position:absolute;
	top: 636px;
	left: 74px;
}
#text3 {
	position:absolute;
	top: 616px;
	left: 74px;
}
#text4 {
	position:absolute;
	top: 616px;
	left: 258px;
}
#text5 {
	position:absolute;
	top: 636px;
	left: 196px;
}
#box1 {
	position:absolute;
	top: 141px;
	left: 203px;
	width: 116px;
}
#box2 {
	position:absolute;
	top: 235px;
	left: 455px;
	width: 94px;
}
#box3 {
	position:absolute;
	top: 340px;
	left: 92px;
	width: 129px;
}
#box4 {
	position:absolute;
	top: 422px;
	left: 395px;
	width: 156px;
}
#box5 {
	position:absolute;
	top: 543px;
	left: 186px;
	width: 129px;
}
#box6 {
	position:absolute;
	top: 331px;
	left: 414px;
	width: 125px;
}
.p36_input_text1 {
	display: none;
	text-align: center;
	font-family: "Cabrito_Sans_Norm_Book";
	font-size: 13px;
	margin-top: 2px;
	line-height: 15px;
}
.page36_btn1 {
	position:absolute;
	top: 801px;
	left: 290px;
}
.text_p36 {
    font-family: "Cabrito_Sans_Norm_Book";
    font-weight: normal;
    font-style: normal;
    font-size: 13px;
    cursor: pointer;
    white-space : nowrap;
    line-height: 27px;
}
