.d_1_Chapter_9-1_1
{position:absolute;overflow:hidden;left: -297.36px;top:0px;transform:translate(595.28px,0.00px);-webkit-transform:translate(595.28px,0.00px);-ms-transform:translate(595.28px,0.00px);-o-transform:translate(595.28px,0.00px);-moz-transform:translate(595.28px,0.00px);width:595.28px;height:841.89px;}
.d_1_Chapter_9-1_2
{
width:10197.45px;
height:562.2px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,1.37px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_9-1_3
{
width:8108.1px;
height:997.12px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,9.86px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,9.86px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,9.86px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,9.86px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,9.86px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_9-1_4
{
width:560.18px;
height:401.47px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_9-1_5
{
width:3001.93px;
height:591.7px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_9-1_6
{
width:3001.93px;
height:676.74px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_9-1_7
{
width:3001.93px;
height:634.22px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_9-1_8
{
width:308.41px;
height:230.33px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_9-1_9
{
width:308.41px;
height:230.33px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_9-1_10
{
width:308.41px;
height:230.33px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_9-1_11
{
width:2916.03px;
height:598.34px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_9-1_12
{
width:2786.06px;
height:530.3px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_9-1_13
{
width:3081.3px;
height:518.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_9-1_14
{
width:308.41px;
height:230.33px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_9-1_15
{
width:308.41px;
height:230.33px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_9-1_16
{
width:308.41px;
height:230.33px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_9-1_17
{
width:3001.93px;
height:518.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_9-1_18
{
width:2752.99px;
height:643.71px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_9-1_19
{
width:3001.93px;
height:518.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_9-1_20
{
width:308.41px;
height:230.33px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_9-1_21
{
width:308.41px;
height:230.33px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_9-1_22
{
width:308.41px;
height:230.33px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_9-1_23
{
width:2461.42px;
height:1086.61px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_9-1_24
{
width:2461.42px;
height:1086.61px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_9-1_25
{
width:2461.42px;
height:1086.61px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_9-1_26
{
width:2461.42px;
height:1086.61px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_9-1_27
{
width:2461.42px;
height:1086.61px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_9-1_28
{
width:2461.42px;
height:1086.61px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_9-1_29
{
width:2461.42px;
height:1086.61px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_9-1_30
{
width:2461.42px;
height:1086.61px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_9-1_31
{
width:2461.42px;
height:1086.61px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
}
.s_1_Chapter_9-1_32
{
position:absolute;
top:58.88px;
left:0px;
}
.s_1_Chapter_9-1_33
{
position:absolute;
top:213.6px;
left:380.63px;
}
.s_1_Chapter_9-1_34
{
position:absolute;
top:213.6px;
left:453.54px;
letter-spacing:0px;
}
.s_1_Chapter_9-1_35
{
position:absolute;
top:213.6px;
left:1337.01px;
}
.s_1_Chapter_9-1_36
{
position:absolute;
top:213.6px;
left:1758.72px;
letter-spacing:-0.39px;
}
.s_1_Chapter_9-1_37
{
position:absolute;
top:213.6px;
left:2618.27px;
letter-spacing:-1.34px;
}
.s_1_Chapter_9-1_38
{
position:absolute;
top:213.6px;
left:3489.52px;
letter-spacing:-0.62px;
}
.s_1_Chapter_9-1_39
{
position:absolute;
top:213.6px;
left:4083.61px;
}
.s_1_Chapter_9-1_40
{
position:absolute;
top:213.6px;
left:4505.33px;
letter-spacing:-0.16px;
}
.s_1_Chapter_9-1_41
{
position:absolute;
top:213.6px;
left:5398.93px;
letter-spacing:-0.74px;
}
.s_1_Chapter_9-1_42
{
position:absolute;
top:213.6px;
left:6052.82px;
letter-spacing:0px;
}
.s_1_Chapter_9-1_43
{
position:absolute;
top:213.6px;
left:6344.28px;
letter-spacing:0px;
}
.s_1_Chapter_9-1_44
{
position:absolute;
top:213.6px;
left:7029.11px;
letter-spacing:-1.98px;
}
.s_1_Chapter_9-1_45
{
position:absolute;
top:213.6px;
left:7596.68px;
letter-spacing:-0.26px;
}
.s_1_Chapter_9-1_46
{
position:absolute;
top:213.6px;
left:8870.67px;
letter-spacing:-2.51px;
}
.s_1_Chapter_9-1_47
{
position:absolute;
top:213.6px;
left:9150.17px;
letter-spacing:0px;
}
.s_1_Chapter_9-1_48
{
position:absolute;
top:-26.96px;
left:757.04px;
letter-spacing:18.33px;
transform-origin: 0% 759.55px;
-webkit-transform-origin: 0% 759.55px;
-ms-transform-origin: 0% 759.55px;
-o-transform-origin: 0% 759.55px;
-moz-transform-origin: 0% 759.55px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Chapter_9-1_49
{
position:absolute;
top:-26.96px;
left:1729.23px;
letter-spacing:24.06px;
transform-origin: 0% 759.55px;
-webkit-transform-origin: 0% 759.55px;
-ms-transform-origin: 0% 759.55px;
-o-transform-origin: 0% 759.55px;
-moz-transform-origin: 0% 759.55px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Chapter_9-1_50
{
position:absolute;
top:-26.96px;
left:4904.02px;
letter-spacing:19.64px;
transform-origin: 0% 759.55px;
-webkit-transform-origin: 0% 759.55px;
-ms-transform-origin: 0% 759.55px;
-o-transform-origin: 0% 759.55px;
-moz-transform-origin: 0% 759.55px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Chapter_9-1_51
{
position:absolute;
top:41.44px;
left:134.15px;
}
.s_1_Chapter_9-1_52
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-2.86px;
}
.s_1_Chapter_9-1_53
{
position:absolute;
top:-19.5px;
left:989.8px;
}
.s_1_Chapter_9-1_54
{
position:absolute;
top:-19.5px;
left:1246.68px;
letter-spacing:-1.1px;
}
.s_1_Chapter_9-1_55
{
position:absolute;
top:-19.5px;
left:2435.9px;
letter-spacing:-3.38px;
}
.s_1_Chapter_9-1_56
{
position:absolute;
top:300.5px;
left:0px;
}
.s_1_Chapter_9-1_57
{
position:absolute;
top:300.5px;
left:1096.66px;
letter-spacing:-0.54px;
}
.s_1_Chapter_9-1_58
{
position:absolute;
top:300.5px;
left:2465.54px;
letter-spacing:-0.58px;
}
.s_1_Chapter_9-1_59
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-1.3px;
}
.s_1_Chapter_9-1_60
{
position:absolute;
top:-19.5px;
left:487.75px;
}
.s_1_Chapter_9-1_61
{
position:absolute;
top:-19.5px;
left:1375.64px;
letter-spacing:-1.4px;
}
.s_1_Chapter_9-1_62
{
position:absolute;
top:-19.5px;
left:1948.15px;
}
.s_1_Chapter_9-1_63
{
position:absolute;
top:300.5px;
left:0px;
letter-spacing:-0.26px;
}
.s_1_Chapter_9-1_64
{
position:absolute;
top:300.5px;
left:830.17px;
letter-spacing:-1.4px;
}
.s_1_Chapter_9-1_65
{
position:absolute;
top:300.5px;
left:1463.52px;
letter-spacing:-3.25px;
}
.s_1_Chapter_9-1_66
{
position:absolute;
top:300.5px;
left:1664.76px;
letter-spacing:-0.55px;
}
.s_1_Chapter_9-1_67
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.46px;
}
.s_1_Chapter_9-1_68
{
position:absolute;
top:-19.5px;
left:1846.23px;
}
.s_1_Chapter_9-1_69
{
position:absolute;
top:-19.5px;
left:2098.69px;
}
.s_1_Chapter_9-1_70
{
position:absolute;
top:300.5px;
left:0px;
letter-spacing:-2.08px;
}
.s_1_Chapter_9-1_71
{
position:absolute;
top:300.5px;
left:543.13px;
letter-spacing:-0.78px;
}
.s_1_Chapter_9-1_72
{
position:absolute;
top:-19.5px;
left:95.32px;
letter-spacing:-1.69px;
}
.s_1_Chapter_9-1_73
{
position:absolute;
top:-19.5px;
left:57.36px;
}
.s_1_Chapter_9-1_74
{
position:absolute;
top:-19.5px;
left:55.41px;
letter-spacing:-2.08px;
}
.s_1_Chapter_9-1_75
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.45px;
}
.s_1_Chapter_9-1_76
{
position:absolute;
top:-19.5px;
left:503.1px;
}
.s_1_Chapter_9-1_77
{
position:absolute;
top:-19.5px;
left:1448.7px;
}
.s_1_Chapter_9-1_78
{
position:absolute;
top:-19.5px;
left:2256.76px;
}
.s_1_Chapter_9-1_79
{
position:absolute;
top:280.5px;
left:0px;
letter-spacing:-1.49px;
}
.s_1_Chapter_9-1_80
{
position:absolute;
top:280.5px;
left:464.35px;
letter-spacing:-1px;
}
.s_1_Chapter_9-1_81
{
position:absolute;
top:280.5px;
left:1111.48px;
letter-spacing:-0.97px;
}
.s_1_Chapter_9-1_82
{
position:absolute;
top:280.5px;
left:2029.79px;
}
.s_1_Chapter_9-1_83
{
position:absolute;
top:280.5px;
left:2282.24px;
}
.s_1_Chapter_9-1_84
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.45px;
}
.s_1_Chapter_9-1_85
{
position:absolute;
top:-19.5px;
left:498.16px;
letter-spacing:-1.04px;
}
.s_1_Chapter_9-1_86
{
position:absolute;
top:-19.5px;
left:1417.76px;
letter-spacing:-0.97px;
}
.s_1_Chapter_9-1_87
{
position:absolute;
top:-19.5px;
left:2301.74px;
}
.s_1_Chapter_9-1_88
{
position:absolute;
top:300.5px;
left:0px;
}
.s_1_Chapter_9-1_89
{
position:absolute;
top:300.5px;
left:252.45px;
}
.s_1_Chapter_9-1_90
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.72px;
}
.s_1_Chapter_9-1_91
{
position:absolute;
top:-19.5px;
left:1196.25px;
letter-spacing:-1.4px;
}
.s_1_Chapter_9-1_92
{
position:absolute;
top:-19.5px;
left:1829.6px;
letter-spacing:-0.45px;
}
.s_1_Chapter_9-1_93
{
position:absolute;
top:300.5px;
left:0px;
letter-spacing:-0.33px;
}
.s_1_Chapter_9-1_94
{
position:absolute;
top:300.5px;
left:836.67px;
}
.s_1_Chapter_9-1_95
{
position:absolute;
top:300.5px;
left:1424.53px;
}
.s_1_Chapter_9-1_96
{
position:absolute;
top:300.5px;
left:1495.24px;
}
.s_1_Chapter_9-1_97
{
position:absolute;
top:300.5px;
left:1752.12px;
letter-spacing:-3.25px;
}
.s_1_Chapter_9-1_98
{
position:absolute;
top:300.5px;
left:1959.59px;
}
.s_1_Chapter_9-1_99
{
position:absolute;
top:-19.5px;
left:57.62px;
letter-spacing:-1.3px;
}
.s_1_Chapter_9-1_100
{
position:absolute;
top:-19.5px;
left:58.92px;
letter-spacing:-2.08px;
}
.s_1_Chapter_9-1_101
{
position:absolute;
top:-19.5px;
left:52.94px;
letter-spacing:-2.08px;
}
.s_1_Chapter_9-1_102
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.45px;
}
.s_1_Chapter_9-1_103
{
position:absolute;
top:-19.5px;
left:503.1px;
}
.s_1_Chapter_9-1_104
{
position:absolute;
top:-19.5px;
left:1767.2px;
letter-spacing:-2.69px;
}
.s_1_Chapter_9-1_105
{
position:absolute;
top:-19.5px;
left:2411.99px;
letter-spacing:-2.68px;
}
.s_1_Chapter_9-1_106
{
position:absolute;
top:300.5px;
left:0px;
}
.s_1_Chapter_9-1_107
{
position:absolute;
top:300.5px;
left:701.21px;
}
.s_1_Chapter_9-1_108
{
position:absolute;
top:300.5px;
left:953.66px;
}
.s_1_Chapter_9-1_109
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-1.52px;
}
.s_1_Chapter_9-1_110
{
position:absolute;
top:-19.5px;
left:892.31px;
letter-spacing:-1.75px;
}
.s_1_Chapter_9-1_111
{
position:absolute;
top:-19.5px;
left:1346.79px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_9-1_112
{
position:absolute;
top:300.5px;
left:0px;
}
.s_1_Chapter_9-1_113
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.19px;
}
.s_1_Chapter_9-1_114
{
position:absolute;
top:-19.5px;
left:1126.57px;
letter-spacing:-0.57px;
}
.s_1_Chapter_9-1_115
{
position:absolute;
top:-19.5px;
left:1848.06px;
}
.s_1_Chapter_9-1_116
{
position:absolute;
top:-19.5px;
left:2104.93px;
letter-spacing:-3.25px;
}
.s_1_Chapter_9-1_117
{
position:absolute;
top:-19.5px;
left:2312.41px;
letter-spacing:-1.3px;
}
.s_1_Chapter_9-1_118
{
position:absolute;
top:300.5px;
left:0px;
letter-spacing:-0.49px;
}
.s_1_Chapter_9-1_119
{
position:absolute;
top:300.5px;
left:1021.52px;
letter-spacing:-0.17px;
}
.s_1_Chapter_9-1_120
{
position:absolute;
top:300.5px;
left:2200.09px;
}
.s_1_Chapter_9-1_121
{
position:absolute;
top:-19.5px;
left:74.13px;
letter-spacing:-10.92px;
}
.s_1_Chapter_9-1_122
{
position:absolute;
top:-19.5px;
left:49.3px;
letter-spacing:-1.95px;
}
.s_1_Chapter_9-1_123
{
position:absolute;
top:-19.5px;
left:53.72px;
letter-spacing:-4.03px;
}
.s_1_Chapter_9-1_124
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-1.99px;
}
.s_1_Chapter_9-1_125
{
position:absolute;
top:-19.5px;
left:291.46px;
}
.s_1_Chapter_9-1_126
{
position:absolute;
top:300.5px;
left:0px;
letter-spacing:-3.21px;
}
.s_1_Chapter_9-1_127
{
position:absolute;
top:300.5px;
left:294.84px;
}
.s_1_Chapter_9-1_128
{
position:absolute;
top:620.5px;
left:0px;
letter-spacing:-1.47px;
}
.s_1_Chapter_9-1_129
{
position:absolute;
top:620.5px;
left:277.42px;
letter-spacing:-0.47px;
}
.s_1_Chapter_9-1_130
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-1.99px;
}
.s_1_Chapter_9-1_131
{
position:absolute;
top:-19.5px;
left:291.46px;
letter-spacing:-3.22px;
}
.s_1_Chapter_9-1_132
{
position:absolute;
top:300.5px;
left:0px;
letter-spacing:-3.21px;
}
.s_1_Chapter_9-1_133
{
position:absolute;
top:300.5px;
left:288.6px;
letter-spacing:-1.2px;
}
.s_1_Chapter_9-1_134
{
position:absolute;
top:620.5px;
left:0px;
letter-spacing:-1.47px;
}
.s_1_Chapter_9-1_135
{
position:absolute;
top:620.5px;
left:281.84px;
letter-spacing:-1px;
}
.s_1_Chapter_9-1_136
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-1.99px;
}
.s_1_Chapter_9-1_137
{
position:absolute;
top:-19.5px;
left:291.46px;
letter-spacing:-0.9px;
}
.s_1_Chapter_9-1_138
{
position:absolute;
top:300.5px;
left:0px;
letter-spacing:-3.21px;
}
.s_1_Chapter_9-1_139
{
position:absolute;
top:300.5px;
left:294.84px;
}
.s_1_Chapter_9-1_140
{
position:absolute;
top:620.5px;
left:0px;
letter-spacing:-1.47px;
}
.s_1_Chapter_9-1_141
{
position:absolute;
top:620.5px;
left:281.84px;
letter-spacing:-0.19px;
}
.s_1_Chapter_9-1_142
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-1.99px;
}
.s_1_Chapter_9-1_143
{
position:absolute;
top:-19.5px;
left:291.46px;
}
.s_1_Chapter_9-1_144
{
position:absolute;
top:300.5px;
left:0px;
letter-spacing:-3.21px;
}
.s_1_Chapter_9-1_145
{
position:absolute;
top:300.5px;
left:294.84px;
letter-spacing:-2.01px;
}
.s_1_Chapter_9-1_146
{
position:absolute;
top:620.5px;
left:0px;
letter-spacing:-1.47px;
}
.s_1_Chapter_9-1_147
{
position:absolute;
top:620.5px;
left:275.08px;
letter-spacing:-1.19px;
}
.s_1_Chapter_9-1_148
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-1.99px;
}
.s_1_Chapter_9-1_149
{
position:absolute;
top:-19.5px;
left:291.46px;
letter-spacing:-0.26px;
}
.s_1_Chapter_9-1_150
{
position:absolute;
top:300.5px;
left:0px;
letter-spacing:-3.21px;
}
.s_1_Chapter_9-1_151
{
position:absolute;
top:300.5px;
left:294.84px;
letter-spacing:-1.97px;
}
.s_1_Chapter_9-1_152
{
position:absolute;
top:620.5px;
left:0px;
letter-spacing:-1.47px;
}
.s_1_Chapter_9-1_153
{
position:absolute;
top:620.5px;
left:281.84px;
}
.s_1_Chapter_9-1_154
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-1.99px;
}
.s_1_Chapter_9-1_155
{
position:absolute;
top:-19.5px;
left:291.46px;
}
.s_1_Chapter_9-1_156
{
position:absolute;
top:300.5px;
left:0px;
letter-spacing:-3.21px;
}
.s_1_Chapter_9-1_157
{
position:absolute;
top:300.5px;
left:294.84px;
letter-spacing:-0.98px;
}
.s_1_Chapter_9-1_158
{
position:absolute;
top:620.5px;
left:0px;
letter-spacing:-1.47px;
}
.s_1_Chapter_9-1_159
{
position:absolute;
top:620.5px;
left:281.84px;
}
.s_1_Chapter_9-1_160
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-1.99px;
}
.s_1_Chapter_9-1_161
{
position:absolute;
top:-19.5px;
left:283.66px;
letter-spacing:-0.91px;
}
.s_1_Chapter_9-1_162
{
position:absolute;
top:-19.5px;
left:1186.1px;
}
.s_1_Chapter_9-1_163
{
position:absolute;
top:300.5px;
left:0px;
letter-spacing:-3.21px;
}
.s_1_Chapter_9-1_164
{
position:absolute;
top:300.5px;
left:294.84px;
}
.s_1_Chapter_9-1_165
{
position:absolute;
top:300.5px;
left:1312.46px;
letter-spacing:-1px;
}
.s_1_Chapter_9-1_166
{
position:absolute;
top:620.5px;
left:0px;
letter-spacing:-1.47px;
}
.s_1_Chapter_9-1_167
{
position:absolute;
top:620.5px;
left:281.84px;
}
.s_1_Chapter_9-1_168
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-1.99px;
}
.s_1_Chapter_9-1_169
{
position:absolute;
top:-19.5px;
left:291.46px;
letter-spacing:-1.2px;
}
.s_1_Chapter_9-1_170
{
position:absolute;
top:300.5px;
left:0px;
letter-spacing:-3.21px;
}
.s_1_Chapter_9-1_171
{
position:absolute;
top:300.5px;
left:294.84px;
letter-spacing:-1.08px;
}
.s_1_Chapter_9-1_172
{
position:absolute;
top:620.5px;
left:0px;
letter-spacing:-1.47px;
}
.s_1_Chapter_9-1_173
{
position:absolute;
top:620.5px;
left:281.84px;
letter-spacing:-1.11px;
}
.s_1_Chapter_9-1_174
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-1.99px;
}
.s_1_Chapter_9-1_175
{
position:absolute;
top:-19.5px;
left:291.46px;
}
.s_1_Chapter_9-1_176
{
position:absolute;
top:300.5px;
left:0px;
letter-spacing:-3.21px;
}
.s_1_Chapter_9-1_177
{
position:absolute;
top:300.5px;
left:294.84px;
letter-spacing:-0.88px;
}
.s_1_Chapter_9-1_178
{
position:absolute;
top:620.5px;
left:0px;
letter-spacing:-1.47px;
}
.s_1_Chapter_9-1_179
{
position:absolute;
top:620.5px;
left:275.08px;
letter-spacing:-1.04px;
}

.page33_pos1 {
	position:absolute;
	top: 293px;
	left: 144px;
}
.page33_pos2 {
	position:absolute;
	top: 307px;
	left: 107px;
}
.page33_pos3 {
	position:absolute;
	top: 325px;
	left: 106px;
}
.page33_pos4 {
	position:absolute;
	top: 291px;
	left: 282px;
}
.page33_pos5 {
	position:absolute;
	top: 308px;
	left: 285px;
}
.page33_pos6 {
	position:absolute;
	top: 326px;
	left: 292px;
}
.page33_pos7 {
	position:absolute;
	top: 293px;
	left: 505px;
}
.page33_pos8 {
	position:absolute;
	top: 308px;
	left: 457px;
}
.page33_pos9 {
	position:absolute;
	top: 325px;
	left: 472px;
}
.page33_pos10 {
	position:absolute;
	top: 502px;
	left: 115px;
}
.page33_pos11 {
	position:absolute;
	top: 518px;
	left: 131px;
}
.page33_pos12 {
	position:absolute;
	top: 536px;
	left: 122px;
}
.page33_pos13 {
	position:absolute;
	top: 502px;
	left: 323px;
}
.page33_pos14 {
	position:absolute;
	top: 519px;
	left: 333px;
}
.page33_pos15 {
	position:absolute;
	top: 536px;
	left: 304px;
}
.page33_pos16 {
	position:absolute;
	top: 502px;
	left: 458px;
}
.page33_pos17 {
	position:absolute;
	top: 518px;
	left: 477px;
}
.page33_pos18 {
	position:absolute;
	top: 535px;
	left: 477px;
}
.page33_pos19 {
	position:absolute;
	top: 713px;
	left: 125px;
}
.page33_pos20 {
	position:absolute;
	top: 728px;
	left: 108px;
}
.page33_pos21 {
	position:absolute;
	top: 745px;
	left: 111px;
}
.page33_pos22 {
	position:absolute;
	top: 713px;
	left: 329px;
}
.page33_pos23 {
	position:absolute;
	top: 729px;
	left: 304px;
}
.page33_pos24 {
	position:absolute;
	top: 745px;
	left: 321px;
}
.page33_pos25 {
	position:absolute;
	top: 712px;
	left: 464px;
}
.page33_pos26 {
	position:absolute;
	top: 729px;
	left: 458px;
}
.page33_pos27 {
	position:absolute;
	top: 745px;
	left: 469px;
}

.page33_btn1 {
	position:absolute;
	top: 797px;
	left: 273px;
}
.page33_btn2 {
	position:absolute;
	top: 797px;
	left: 214px;
}
