.d_1_Chapter_1-2-1_1
{position:absolute;overflow:hidden;left: -297.36px;top:0px;transform:translate(595.28px,0.00px);-webkit-transform:translate(595.28px,0.00px);-ms-transform:translate(595.28px,0.00px);-o-transform:translate(595.28px,0.00px);-moz-transform:translate(595.28px,0.00px);width:595.28px;height:841.89px;}
.d_1_Chapter_1-2-1_2
{
width:560.18px;
height:401.47px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_1-2-1_3
{
width:9858.56px;
height:872px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,1.37px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_1-2-1_4
{
width:6857.5px;
height:689.76px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,8.25px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,8.25px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,8.25px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,8.25px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,8.25px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_1-2-1_5
{
width:9222.05px;
height:6260.21px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_1-2-1_6
{
width:303.87px;
height:240.38px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_1-2-1_7
{
width:303.87px;
height:240.38px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_1-2-1_8
{
width:303.87px;
height:240.38px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_1-2-1_9
{
width:303.87px;
height:240.38px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_1-2-1_10
{
width:303.87px;
height:240.38px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_1-2-1_11
{
width:303.87px;
height:240.38px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_1-2-1_12
{
width:303.87px;
height:240.38px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_1-2-1_13
{
width:303.87px;
height:240.38px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_1-2-1_14
{
width:303.87px;
height:240.38px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_1-2-1_15
{
width:358.96px;
height:265.23px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_1-2-1_16
{
width:5564.1px;
height:2038.91px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_1-2-1_17
{
width:1884.76px;
height:288px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_1-2-1_18
{
width:3614.97px;
height:1338.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.46px) rotate(0deg) scale(0.05);
}
.s_1_Chapter_1-2-1_19
{
position:absolute;
top:41.44px;
left:207.12px;
}
.s_1_Chapter_1-2-1_20
{
position:absolute;
top:58.88px;
left:0px;
}
.s_1_Chapter_1-2-1_21
{
position:absolute;
top:213.6px;
left:380.63px;
}
.s_1_Chapter_1-2-1_22
{
position:absolute;
top:213.6px;
left:453.54px;
letter-spacing:-0.95px;
}
.s_1_Chapter_1-2-1_23
{
position:absolute;
top:213.6px;
left:1370.55px;
}
.s_1_Chapter_1-2-1_24
{
position:absolute;
top:213.6px;
left:2044.98px;
letter-spacing:-0.19px;
}
.s_1_Chapter_1-2-1_25
{
position:absolute;
top:213.6px;
left:2937.03px;
}
.s_1_Chapter_1-2-1_26
{
position:absolute;
top:213.6px;
left:3795.79px;
}
.s_1_Chapter_1-2-1_27
{
position:absolute;
top:213.6px;
left:4328.01px;
letter-spacing:-2.03px;
}
.s_1_Chapter_1-2-1_28
{
position:absolute;
top:213.6px;
left:4910.66px;
letter-spacing:-0.55px;
}
.s_1_Chapter_1-2-1_29
{
position:absolute;
top:213.6px;
left:5820.65px;
letter-spacing:-1.07px;
}
.s_1_Chapter_1-2-1_30
{
position:absolute;
top:213.6px;
left:6723.1px;
letter-spacing:0px;
}
.s_1_Chapter_1-2-1_31
{
position:absolute;
top:213.6px;
left:7231.13px;
letter-spacing:-1.98px;
}
.s_1_Chapter_1-2-1_32
{
position:absolute;
top:213.6px;
left:7798.7px;
letter-spacing:-0.49px;
}
.s_1_Chapter_1-2-1_33
{
position:absolute;
top:213.6px;
left:8794.22px;
letter-spacing:-0.62px;
}
.s_1_Chapter_1-2-1_34
{
position:absolute;
top:213.6px;
left:9388.32px;
letter-spacing:0px;
}
.s_1_Chapter_1-2-1_35
{
position:absolute;
top:613.6px;
left:453.54px;
}
.s_1_Chapter_1-2-1_36
{
position:absolute;
top:613.6px;
left:981.85px;
}
.s_1_Chapter_1-2-1_37
{
position:absolute;
top:-22.06px;
left:0px;
letter-spacing:15px;
transform-origin: 0% 621.45px;
-webkit-transform-origin: 0% 621.45px;
-ms-transform-origin: 0% 621.45px;
-o-transform-origin: 0% 621.45px;
-moz-transform-origin: 0% 621.45px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Chapter_1-2-1_38
{
position:absolute;
top:-22.06px;
left:558.59px;
letter-spacing:18.75px;
transform-origin: 0% 621.45px;
-webkit-transform-origin: 0% 621.45px;
-ms-transform-origin: 0% 621.45px;
-o-transform-origin: 0% 621.45px;
-moz-transform-origin: 0% 621.45px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Chapter_1-2-1_39
{
position:absolute;
top:-22.06px;
left:2284.79px;
letter-spacing:18.75px;
transform-origin: 0% 621.45px;
-webkit-transform-origin: 0% 621.45px;
-ms-transform-origin: 0% 621.45px;
-o-transform-origin: 0% 621.45px;
-moz-transform-origin: 0% 621.45px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Chapter_1-2-1_40
{
position:absolute;
top:-22.06px;
left:4598.17px;
letter-spacing:18.75px;
transform-origin: 0% 621.45px;
-webkit-transform-origin: 0% 621.45px;
-ms-transform-origin: 0% 621.45px;
-o-transform-origin: 0% 621.45px;
-moz-transform-origin: 0% 621.45px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Chapter_1-2-1_41
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.26px;
}
.s_1_Chapter_1-2-1_42
{
position:absolute;
top:-19.5px;
left:590.97px;
}
.s_1_Chapter_1-2-1_43
{
position:absolute;
top:-19.5px;
left:1374.08px;
}
.s_1_Chapter_1-2-1_44
{
position:absolute;
top:-19.5px;
left:1687.63px;
letter-spacing:-1.79px;
}
.s_1_Chapter_1-2-1_45
{
position:absolute;
top:-19.5px;
left:2603.86px;
}
.s_1_Chapter_1-2-1_46
{
position:absolute;
top:-19.5px;
left:2963.95px;
letter-spacing:-1.39px;
}
.s_1_Chapter_1-2-1_47
{
position:absolute;
top:-19.5px;
left:3737.71px;
letter-spacing:-2.6px;
}
.s_1_Chapter_1-2-1_48
{
position:absolute;
top:-19.5px;
left:4143.04px;
letter-spacing:-0.49px;
}
.s_1_Chapter_1-2-1_49
{
position:absolute;
top:-19.5px;
left:5160.66px;
letter-spacing:-1.15px;
}
.s_1_Chapter_1-2-1_50
{
position:absolute;
top:-19.5px;
left:6746.12px;
letter-spacing:-0.32px;
}
.s_1_Chapter_1-2-1_51
{
position:absolute;
top:-2.7px;
left:7536.24px;
}
.s_1_Chapter_1-2-1_52
{
position:absolute;
top:586.58px;
left:0px;
letter-spacing:-0.26px;
}
.s_1_Chapter_1-2-1_53
{
position:absolute;
top:586.58px;
left:590.97px;
}
.s_1_Chapter_1-2-1_54
{
position:absolute;
top:586.58px;
left:1344.43px;
letter-spacing:-0.66px;
}
.s_1_Chapter_1-2-1_55
{
position:absolute;
top:586.58px;
left:2367px;
}
.s_1_Chapter_1-2-1_56
{
position:absolute;
top:586.58px;
left:2987.08px;
letter-spacing:-1px;
}
.s_1_Chapter_1-2-1_57
{
position:absolute;
top:586.58px;
left:3628.23px;
letter-spacing:-1.82px;
}
.s_1_Chapter_1-2-1_58
{
position:absolute;
top:586.58px;
left:4437.6px;
letter-spacing:-0.22px;
}
.s_1_Chapter_1-2-1_59
{
position:absolute;
top:586.58px;
left:6163.72px;
letter-spacing:-1.04px;
}
.s_1_Chapter_1-2-1_60
{
position:absolute;
top:603.38px;
left:6967.1px;
}
.s_1_Chapter_1-2-1_61
{
position:absolute;
top:1192.66px;
left:0px;
letter-spacing:-0.26px;
}
.s_1_Chapter_1-2-1_62
{
position:absolute;
top:1192.66px;
left:590.97px;
}
.s_1_Chapter_1-2-1_63
{
position:absolute;
top:1192.66px;
left:1374.08px;
}
.s_1_Chapter_1-2-1_64
{
position:absolute;
top:1192.66px;
left:1683.21px;
letter-spacing:-1.45px;
}
.s_1_Chapter_1-2-1_65
{
position:absolute;
top:1192.66px;
left:2420.81px;
}
.s_1_Chapter_1-2-1_66
{
position:absolute;
top:1192.66px;
left:2697.45px;
letter-spacing:-0.48px;
}
.s_1_Chapter_1-2-1_67
{
position:absolute;
top:1192.66px;
left:3461.58px;
}
.s_1_Chapter_1-2-1_68
{
position:absolute;
top:1209.46px;
left:4261.06px;
}
.s_1_Chapter_1-2-1_69
{
position:absolute;
top:1798.74px;
left:0px;
letter-spacing:-0.26px;
}
.s_1_Chapter_1-2-1_70
{
position:absolute;
top:1798.74px;
left:590.97px;
}
.s_1_Chapter_1-2-1_71
{
position:absolute;
top:1798.74px;
left:2042.53px;
letter-spacing:-0.86px;
}
.s_1_Chapter_1-2-1_72
{
position:absolute;
top:1798.74px;
left:3138.15px;
letter-spacing:-2.68px;
}
.s_1_Chapter_1-2-1_73
{
position:absolute;
top:1798.74px;
left:3437.66px;
}
.s_1_Chapter_1-2-1_74
{
position:absolute;
top:1798.74px;
left:3891.88px;
letter-spacing:-0.48px;
}
.s_1_Chapter_1-2-1_75
{
position:absolute;
top:1798.74px;
left:4648.21px;
letter-spacing:-1.34px;
}
.s_1_Chapter_1-2-1_76
{
position:absolute;
top:1798.74px;
left:5425.34px;
letter-spacing:-0.82px;
}
.s_1_Chapter_1-2-1_77
{
position:absolute;
top:1798.74px;
left:6075.85px;
letter-spacing:0px;
}
.s_1_Chapter_1-2-1_78
{
position:absolute;
top:1815.54px;
left:6873.26px;
}
.s_1_Chapter_1-2-1_79
{
position:absolute;
top:2404.81px;
left:0px;
letter-spacing:-0.26px;
}
.s_1_Chapter_1-2-1_80
{
position:absolute;
top:2404.81px;
left:590.97px;
letter-spacing:-0.86px;
}
.s_1_Chapter_1-2-1_81
{
position:absolute;
top:2404.81px;
left:1772.13px;
letter-spacing:-2.68px;
}
.s_1_Chapter_1-2-1_82
{
position:absolute;
top:2404.81px;
left:2076.06px;
letter-spacing:-0.13px;
}
.s_1_Chapter_1-2-1_83
{
position:absolute;
top:2404.81px;
left:3621.22px;
letter-spacing:-1.08px;
}
.s_1_Chapter_1-2-1_84
{
position:absolute;
top:2404.81px;
left:4256.14px;
letter-spacing:-1.04px;
}
.s_1_Chapter_1-2-1_85
{
position:absolute;
top:2421.61px;
left:5059.52px;
}
.s_1_Chapter_1-2-1_86
{
position:absolute;
top:3010.89px;
left:0px;
letter-spacing:-0.26px;
}
.s_1_Chapter_1-2-1_87
{
position:absolute;
top:3010.89px;
left:590.97px;
}
.s_1_Chapter_1-2-1_88
{
position:absolute;
top:3010.89px;
left:1373.56px;
letter-spacing:-0.52px;
}
.s_1_Chapter_1-2-1_89
{
position:absolute;
top:3010.89px;
left:2310.85px;
}
.s_1_Chapter_1-2-1_90
{
position:absolute;
top:3010.89px;
left:2624.4px;
}
.s_1_Chapter_1-2-1_91
{
position:absolute;
top:3010.89px;
left:3300.39px;
letter-spacing:-0.69px;
}
.s_1_Chapter_1-2-1_92
{
position:absolute;
top:3010.89px;
left:3694.54px;
letter-spacing:-2.57px;
}
.s_1_Chapter_1-2-1_93
{
position:absolute;
top:3010.89px;
left:4633.65px;
}
.s_1_Chapter_1-2-1_94
{
position:absolute;
top:3027.69px;
left:5433.13px;
}
.s_1_Chapter_1-2-1_95
{
position:absolute;
top:3616.97px;
left:0px;
letter-spacing:-0.26px;
}
.s_1_Chapter_1-2-1_96
{
position:absolute;
top:3616.97px;
left:590.97px;
}
.s_1_Chapter_1-2-1_97
{
position:absolute;
top:3616.97px;
left:1374.08px;
}
.s_1_Chapter_1-2-1_98
{
position:absolute;
top:3616.97px;
left:1682.69px;
}
.s_1_Chapter_1-2-1_99
{
position:absolute;
top:3616.97px;
left:2170.18px;
letter-spacing:-3.25px;
}
.s_1_Chapter_1-2-1_100
{
position:absolute;
top:3616.97px;
left:2377.66px;
letter-spacing:-1.49px;
}
.s_1_Chapter_1-2-1_101
{
position:absolute;
top:3616.97px;
left:3064.3px;
}
.s_1_Chapter_1-2-1_102
{
position:absolute;
top:3616.97px;
left:3857.55px;
}
.s_1_Chapter_1-2-1_103
{
position:absolute;
top:3616.97px;
left:4134.19px;
letter-spacing:-0.16px;
}
.s_1_Chapter_1-2-1_104
{
position:absolute;
top:3616.97px;
left:5467.45px;
}
.s_1_Chapter_1-2-1_105
{
position:absolute;
top:3616.97px;
left:5770.6px;
}
.s_1_Chapter_1-2-1_106
{
position:absolute;
top:3616.97px;
left:6224.81px;
letter-spacing:-0.17px;
}
.s_1_Chapter_1-2-1_107
{
position:absolute;
top:3616.97px;
left:7396.62px;
letter-spacing:0px;
}
.s_1_Chapter_1-2-1_108
{
position:absolute;
top:4033.77px;
left:0px;
}
.s_1_Chapter_1-2-1_109
{
position:absolute;
top:4623.05px;
left:0px;
letter-spacing:-0.26px;
}
.s_1_Chapter_1-2-1_110
{
position:absolute;
top:4623.05px;
left:590.97px;
}
.s_1_Chapter_1-2-1_111
{
position:absolute;
top:4623.05px;
left:1373.56px;
letter-spacing:-0.52px;
}
.s_1_Chapter_1-2-1_112
{
position:absolute;
top:4623.05px;
left:2310.85px;
}
.s_1_Chapter_1-2-1_113
{
position:absolute;
top:4623.05px;
left:2624.4px;
letter-spacing:-1.65px;
}
.s_1_Chapter_1-2-1_114
{
position:absolute;
top:4623.05px;
left:3340.43px;
letter-spacing:-3.25px;
}
.s_1_Chapter_1-2-1_115
{
position:absolute;
top:4623.05px;
left:3547.91px;
}
.s_1_Chapter_1-2-1_116
{
position:absolute;
top:4623.05px;
left:4419.41px;
letter-spacing:-0.88px;
}
.s_1_Chapter_1-2-1_117
{
position:absolute;
top:4623.05px;
left:5471.62px;
}
.s_1_Chapter_1-2-1_118
{
position:absolute;
top:4623.05px;
left:5740.98px;
letter-spacing:-5.93px;
}
.s_1_Chapter_1-2-1_119
{
position:absolute;
top:4623.05px;
left:6290.08px;
letter-spacing:-1.14px;
}
.s_1_Chapter_1-2-1_120
{
position:absolute;
top:4623.05px;
left:7144.95px;
letter-spacing:0px;
}
.s_1_Chapter_1-2-1_121
{
position:absolute;
top:4639.85px;
left:7928.58px;
}
.s_1_Chapter_1-2-1_122
{
position:absolute;
top:5229.13px;
left:0px;
letter-spacing:-0.26px;
}
.s_1_Chapter_1-2-1_123
{
position:absolute;
top:5229.13px;
left:586.03px;
letter-spacing:-0.52px;
}
.s_1_Chapter_1-2-1_124
{
position:absolute;
top:5229.13px;
left:1527.74px;
letter-spacing:-0.86px;
}
.s_1_Chapter_1-2-1_125
{
position:absolute;
top:5229.13px;
left:2708.9px;
letter-spacing:-2.68px;
}
.s_1_Chapter_1-2-1_126
{
position:absolute;
top:5229.13px;
left:3008.42px;
}
.s_1_Chapter_1-2-1_127
{
position:absolute;
top:5229.13px;
left:3462.63px;
}
.s_1_Chapter_1-2-1_128
{
position:absolute;
top:5229.13px;
left:3902.02px;
letter-spacing:-0.19px;
}
.s_1_Chapter_1-2-1_129
{
position:absolute;
top:5229.13px;
left:4892.09px;
letter-spacing:-0.69px;
}
.s_1_Chapter_1-2-1_130
{
position:absolute;
top:5229.13px;
left:6089.37px;
letter-spacing:-0.52px;
}
.s_1_Chapter_1-2-1_131
{
position:absolute;
top:5245.93px;
left:6871.69px;
}
.s_1_Chapter_1-2-1_132
{
position:absolute;
top:5835.21px;
left:0px;
letter-spacing:-0.26px;
}
.s_1_Chapter_1-2-1_133
{
position:absolute;
top:5835.21px;
left:586.03px;
letter-spacing:-0.52px;
}
.s_1_Chapter_1-2-1_134
{
position:absolute;
top:5835.21px;
left:1527.74px;
letter-spacing:-0.86px;
}
.s_1_Chapter_1-2-1_135
{
position:absolute;
top:5835.21px;
left:2708.9px;
letter-spacing:-2.68px;
}
.s_1_Chapter_1-2-1_136
{
position:absolute;
top:5835.21px;
left:3012.84px;
letter-spacing:-1.08px;
}
.s_1_Chapter_1-2-1_137
{
position:absolute;
top:5835.21px;
left:3647.75px;
letter-spacing:-0.65px;
}
.s_1_Chapter_1-2-1_138
{
position:absolute;
top:5852.01px;
left:4532px;
}
.s_1_Chapter_1-2-1_139
{
position:absolute;
top:-19.5px;
left:111.65px;
letter-spacing:-1.69px;
}
.s_1_Chapter_1-2-1_140
{
position:absolute;
top:-19.5px;
left:71.74px;
letter-spacing:-2.08px;
}
.s_1_Chapter_1-2-1_141
{
position:absolute;
top:-19.5px;
left:73.69px;
}
.s_1_Chapter_1-2-1_142
{
position:absolute;
top:-19.5px;
left:73.95px;
letter-spacing:-1.3px;
}
.s_1_Chapter_1-2-1_143
{
position:absolute;
top:-19.5px;
left:75.25px;
letter-spacing:-2.08px;
}
.s_1_Chapter_1-2-1_144
{
position:absolute;
top:-19.5px;
left:69.27px;
letter-spacing:-2.08px;
}
.s_1_Chapter_1-2-1_145
{
position:absolute;
top:-19.5px;
left:90.46px;
letter-spacing:-10.92px;
}
.s_1_Chapter_1-2-1_146
{
position:absolute;
top:-19.5px;
left:65.63px;
letter-spacing:-1.95px;
}
.s_1_Chapter_1-2-1_147
{
position:absolute;
top:-19.5px;
left:70.05px;
letter-spacing:-4.03px;
}
.s_1_Chapter_1-2-1_148
{
position:absolute;
top:-19.5px;
left:58.59px;
letter-spacing:-2.69px;
}
.s_1_Chapter_1-2-1_149
{
position:absolute;
top:-19.5px;
left:0px;
}
.s_1_Chapter_1-2-1_150
{
position:absolute;
top:-19.5px;
left:865.01px;
}
.s_1_Chapter_1-2-1_151
{
position:absolute;
top:437.19px;
left:0px;
}
.s_1_Chapter_1-2-1_152
{
position:absolute;
top:437.19px;
left:915.19px;
letter-spacing:-0.68px;
}
.s_1_Chapter_1-2-1_153
{
position:absolute;
top:893.88px;
left:0px;
letter-spacing:-0.43px;
}
.s_1_Chapter_1-2-1_154
{
position:absolute;
top:893.88px;
left:944.3px;
letter-spacing:-4.07px;
}
.s_1_Chapter_1-2-1_155
{
position:absolute;
top:1350.58px;
left:0px;
letter-spacing:-2.34px;
}
.s_1_Chapter_1-2-1_156
{
position:absolute;
top:1350.58px;
left:757.37px;
}
.s_1_Chapter_1-2-1_157
{
position:absolute;
top:1350.58px;
left:1798.14px;
letter-spacing:-0.52px;
}
.s_1_Chapter_1-2-1_158
{
position:absolute;
top:1807.27px;
left:0px;
letter-spacing:-0.95px;
}
.s_1_Chapter_1-2-1_159
{
position:absolute;
top:1807.27px;
left:1053.76px;
letter-spacing:-0.62px;
}
.s_1_Chapter_1-2-1_160
{
position:absolute;
top:-19.5px;
left:2902.05px;
letter-spacing:-1.82px;
}
.s_1_Chapter_1-2-1_161
{
position:absolute;
top:-19.5px;
left:4076.72px;
letter-spacing:-0.71px;
}
.s_1_Chapter_1-2-1_162
{
position:absolute;
top:437.19px;
left:2902.05px;
letter-spacing:-1.3px;
}
.s_1_Chapter_1-2-1_163
{
position:absolute;
top:437.19px;
left:3815.68px;
letter-spacing:-1.34px;
}
.s_1_Chapter_1-2-1_164
{
position:absolute;
top:893.88px;
left:2902.05px;
}
.s_1_Chapter_1-2-1_165
{
position:absolute;
top:893.88px;
left:4159.91px;
letter-spacing:-1.04px;
}
.s_1_Chapter_1-2-1_166
{
position:absolute;
top:1350.58px;
left:2902.05px;
letter-spacing:-3.7px;
}
.s_1_Chapter_1-2-1_167
{
position:absolute;
top:1350.58px;
left:3305.82px;
letter-spacing:-0.72px;
}
.s_1_Chapter_1-2-1_168
{
position:absolute;
top:1350.58px;
left:4425.37px;
letter-spacing:-0.35px;
}
.s_1_Chapter_1-2-1_169
{
position:absolute;
top:1807.27px;
left:2902.05px;
letter-spacing:-4.42px;
}
.s_1_Chapter_1-2-1_170
{
position:absolute;
top:1807.27px;
left:3268.39px;
}
.s_1_Chapter_1-2-1_171
{
position:absolute;
top:-12.32px;
left:0px;
}
.s_1_Chapter_1-2-1_172
{
position:absolute;
top:-12.32px;
left:420.83px;
letter-spacing:-5.11px;
}
.s_1_Chapter_1-2-1_173
{
position:absolute;
top:-12.32px;
left:971.57px;
letter-spacing:-6.86px;
}
.s_1_Chapter_1-2-1_174
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.45px;
}
.s_1_Chapter_1-2-1_175
{
position:absolute;
top:-19.5px;
left:499.46px;
text-rendering:optimizeLegibility;
letter-spacing:-0.26px;
}
.s_1_Chapter_1-2-1_176
{
position:absolute;
top:-19.5px;
left:1038.68px;
}
.s_1_Chapter_1-2-1_177
{
position:absolute;
top:-19.5px;
left:1822.57px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_1-2-1_178
{
position:absolute;
top:-19.5px;
left:2319.17px;
letter-spacing:-0.71px;
}
.s_1_Chapter_1-2-1_179
{
position:absolute;
top:-19.5px;
left:2867.5px;
letter-spacing:-1.3px;
}
.s_1_Chapter_1-2-1_180
{
position:absolute;
top:360.5px;
left:0px;
letter-spacing:-0.22px;
}
.s_1_Chapter_1-2-1_181
{
position:absolute;
top:360.5px;
left:1721.44px;
}
.s_1_Chapter_1-2-1_182
{
position:absolute;
top:360.5px;
left:1853.25px;
letter-spacing:-0.69px;
}
.s_1_Chapter_1-2-1_183
{
position:absolute;
top:360.5px;
left:2081.01px;
letter-spacing:-0.71px;
}
.s_1_Chapter_1-2-1_184
{
position:absolute;
top:360.5px;
left:2629.34px;
letter-spacing:-3.25px;
}
.s_1_Chapter_1-2-1_185
{
position:absolute;
top:360.5px;
left:2836.82px;
}
.s_1_Chapter_1-2-1_186
{
position:absolute;
top:740.5px;
left:0px;
}
.s_1_Chapter_1-2-1_187
{
position:absolute;
top:740.5px;
left:506.21px;
}
.s_1_Chapter_1-2-1_188
{
position:absolute;
top:740.5px;
left:1227.44px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_1-2-1_189
{
position:absolute;
top:740.5px;
left:1728.97px;
}
.s_1_Chapter_1-2-1_190
{
position:absolute;
top:740.5px;
left:2240.13px;
}
.s_1_Chapter_1-2-1_191
{
position:absolute;
top:740.5px;
left:2751.28px;
}
.s_1_Chapter_1-2-1_192
{
position:absolute;
top:1120.5px;
left:0px;
}

.page7_btn1 {
	position:absolute;
	top: 801px;
	left: 230px;
}
.p07_input_text1 {
	display: none;
	text-align: center;
	font-family: "Cabrito_Sans_Norm_Book";
	font-size: 13px;
	margin-top: 2px;
	line-height: 14px;
}
#text1 {
	position:absolute;
	top: 661px;
	left: 66px;
}
#text2 {
	position:absolute;
	top: 661px;
	left: 211px;
}
#text3 {
	position:absolute;
	top: 684px;
	left: 65px;
}
#text4 {
	position:absolute;
	top: 684px;
	left: 209px;
}
#text5 {
	position:absolute;
	top: 707px;
	left: 64px;
}
#text6 {
	position:absolute;
	top: 707px;
	left: 210px;
}
#text7 {
	position:absolute;
	top: 729px;
	left: 65px;
}
#text8 {
	position:absolute;
	top: 729px;
	left: 210px;
}
#text9 {
	position:absolute;
	top: 752px;
	left: 65px;
}
#text10 {
	position:absolute;
	top: 752px;
	left: 210px;
}
#box1 {
	position:absolute;
	top: 175px;
	left: 458px;
	width: 87px;
}
#box2 {
	position:absolute;
	top: 205px;
	left: 429px;
	width: 112px;
}
#box3 {
	position:absolute;
	top: 235px;
	left: 293px;
	width: 112px;
}
#box4 {
	position:absolute;
	top: 265px;
	left: 424px;
	width: 112px;
}
#box5 {
	position:absolute;
	top: 297px;
	left: 333px;
	width: 127px;
}
#box6 {
	position:absolute;
	top: 326px;
	left: 352px;
	width: 112px;
}
#box7 {
	position:absolute;
	top: 376px;
	left: 84px;
	width: 142px;
}
#box8 {
	position:absolute;
	top: 406px;
	left: 476px;
	width: 69px;
}
#box9 {
	position:absolute;
	top: 437px;
	left: 425px;
	width: 138px;
}
#box10 {
	position:absolute;
	top: 467px;
	left: 307px;
	width: 112px;
}
