.d_1_Chapter_1-2-3_1
{position:absolute;overflow:hidden;left: 297.36px;top:0px;transform:translate(0.00px,0.00px);-webkit-transform:translate(0.00px,0.00px);-ms-transform:translate(0.00px,0.00px);-o-transform:translate(0.00px,0.00px);-moz-transform:translate(0.00px,0.00px);width:595.28px;height:841.89px;}
.d_1_Chapter_1-2-3_2
{
width:560.18px;
height:401.47px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_1-2-3_3
{
width:10027.22px;
height:432px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_1-2-3_4
{
width:10192.57px;
height:623.35px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_1-2-3_5
{
width:710.98px;
height:710.98px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0.68px,1px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0.68px,1px) rotate(0deg) scale(0.05);
-ms-transform: translate(0.68px,1px) rotate(0deg) scale(0.05);
-o-transform: translate(0.68px,1px) rotate(0deg) scale(0.05);
-moz-transform: translate(0.68px,1px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_1-2-3_6
{
width:710.98px;
height:710.98px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0.68px,1px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0.68px,1px) rotate(0deg) scale(0.05);
-ms-transform: translate(0.68px,1px) rotate(0deg) scale(0.05);
-o-transform: translate(0.68px,1px) rotate(0deg) scale(0.05);
-moz-transform: translate(0.68px,1px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_1-2-3_7
{
width:710.98px;
height:710.98px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0.68px,1px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0.68px,1px) rotate(0deg) scale(0.05);
-ms-transform: translate(0.68px,1px) rotate(0deg) scale(0.05);
-o-transform: translate(0.68px,1px) rotate(0deg) scale(0.05);
-moz-transform: translate(0.68px,1px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_1-2-3_8
{
width:710.98px;
height:710.98px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0.68px,1px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0.68px,1px) rotate(0deg) scale(0.05);
-ms-transform: translate(0.68px,1px) rotate(0deg) scale(0.05);
-o-transform: translate(0.68px,1px) rotate(0deg) scale(0.05);
-moz-transform: translate(0.68px,1px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_1-2-3_9
{
width:1810.53px;
height:288px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_1-2-3_10
{
width:2449.18px;
height:1398.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_1-2-3_11
{
width:8390.08px;
height:975.59px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_1-2-3_12
{
width:477.93px;
height:477.93px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0.68px,1px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0.68px,1px) rotate(0deg) scale(0.05);
-ms-transform: translate(0.68px,1px) rotate(0deg) scale(0.05);
-o-transform: translate(0.68px,1px) rotate(0deg) scale(0.05);
-moz-transform: translate(0.68px,1px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_1-2-3_13
{
width:8116.02px;
height:1206.53px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_1-2-3_14
{
width:443.92px;
height:477.93px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0.68px,1px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0.68px,1px) rotate(0deg) scale(0.05);
-ms-transform: translate(0.68px,1px) rotate(0deg) scale(0.05);
-o-transform: translate(0.68px,1px) rotate(0deg) scale(0.05);
-moz-transform: translate(0.68px,1px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_1-2-3_15
{
width:9051.97px;
height:693.23px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_1-2-3_16
{
width:477.93px;
height:477.93px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0.68px,1px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0.68px,1px) rotate(0deg) scale(0.05);
-ms-transform: translate(0.68px,1px) rotate(0deg) scale(0.05);
-o-transform: translate(0.68px,1px) rotate(0deg) scale(0.05);
-moz-transform: translate(0.68px,1px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_1-2-3_17
{
width:8701.89px;
height:714.2px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_1-2-3_18
{
width:477.93px;
height:477.93px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0.68px,1px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0.68px,1px) rotate(0deg) scale(0.05);
-ms-transform: translate(0.68px,1px) rotate(0deg) scale(0.05);
-o-transform: translate(0.68px,1px) rotate(0deg) scale(0.05);
-moz-transform: translate(0.68px,1px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_1-2-3_19
{
width:7956.23px;
height:1180.27px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_1-2-3_20
{
width:434.65px;
height:477.93px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0.68px,1px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0.68px,1px) rotate(0deg) scale(0.05);
-ms-transform: translate(0.68px,1px) rotate(0deg) scale(0.05);
-o-transform: translate(0.68px,1px) rotate(0deg) scale(0.05);
-moz-transform: translate(0.68px,1px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_1-2-3_21
{
width:7577.63px;
height:998.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_1-2-3_22
{
width:5114.65px;
height:623.62px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.s_1_Chapter_1-2-3_23
{
position:absolute;
top:41.44px;
left:134.15px;
}
.s_1_Chapter_1-2-3_24
{
position:absolute;
top:58.88px;
left:0px;
letter-spacing:-7.92px;
}
.s_1_Chapter_1-2-3_25
{
position:absolute;
top:213.6px;
left:329.76px;
}
.s_1_Chapter_1-2-3_26
{
position:absolute;
top:213.6px;
left:453.54px;
}
.s_1_Chapter_1-2-3_27
{
position:absolute;
top:213.6px;
left:1309.19px;
letter-spacing:-0.26px;
}
.s_1_Chapter_1-2-3_28
{
position:absolute;
top:213.6px;
left:1929.28px;
}
.s_1_Chapter_1-2-3_29
{
position:absolute;
top:213.6px;
left:2351px;
letter-spacing:0px;
}
.s_1_Chapter_1-2-3_30
{
position:absolute;
top:213.6px;
left:3599.5px;
letter-spacing:-0.19px;
}
.s_1_Chapter_1-2-3_31
{
position:absolute;
top:213.6px;
left:4541.2px;
}
.s_1_Chapter_1-2-3_32
{
position:absolute;
top:213.6px;
left:5273.61px;
letter-spacing:0px;
}
.s_1_Chapter_1-2-3_33
{
position:absolute;
top:213.6px;
left:5781.65px;
letter-spacing:-1.98px;
}
.s_1_Chapter_1-2-3_34
{
position:absolute;
top:213.6px;
left:6349.21px;
letter-spacing:-0.49px;
}
.s_1_Chapter_1-2-3_35
{
position:absolute;
top:213.6px;
left:7344.74px;
letter-spacing:-0.62px;
}
.s_1_Chapter_1-2-3_36
{
position:absolute;
top:213.6px;
left:7938.83px;
letter-spacing:0px;
}
.s_1_Chapter_1-2-3_37
{
position:absolute;
top:213.6px;
left:8360.55px;
}
.s_1_Chapter_1-2-3_38
{
position:absolute;
top:213.6px;
left:8888.86px;
}
.s_1_Chapter_1-2-3_39
{
position:absolute;
top:58.88px;
left:0px;
letter-spacing:-23.28px;
}
.s_1_Chapter_1-2-3_40
{
position:absolute;
top:213.6px;
left:286.08px;
}
.s_1_Chapter_1-2-3_41
{
position:absolute;
top:213.6px;
left:453.54px;
letter-spacing:-0.74px;
}
.s_1_Chapter_1-2-3_42
{
position:absolute;
top:213.6px;
left:1106.13px;
letter-spacing:0px;
}
.s_1_Chapter_1-2-3_43
{
position:absolute;
top:213.6px;
left:1527.85px;
letter-spacing:-0.45px;
}
.s_1_Chapter_1-2-3_44
{
position:absolute;
top:236.54px;
left:224.18px;
}
.s_1_Chapter_1-2-3_45
{
position:absolute;
top:236.54px;
left:227.17px;
}
.s_1_Chapter_1-2-3_46
{
position:absolute;
top:236.54px;
left:297.11px;
}
.s_1_Chapter_1-2-3_47
{
position:absolute;
top:236.54px;
left:309.33px;
}
.s_1_Chapter_1-2-3_48
{
position:absolute;
top:-14.08px;
left:0px;
letter-spacing:-4.03px;
}
.s_1_Chapter_1-2-3_49
{
position:absolute;
top:-14.08px;
left:714.87px;
letter-spacing:-3.28px;
}
.s_1_Chapter_1-2-3_50
{
position:absolute;
top:-14.08px;
left:1266.86px;
letter-spacing:-1.68px;
}
.s_1_Chapter_1-2-3_51
{
position:absolute;
top:-19.5px;
left:185.64px;
}
.s_1_Chapter_1-2-3_52
{
position:absolute;
top:-19.5px;
left:256.36px;
letter-spacing:-3.12px;
}
.s_1_Chapter_1-2-3_53
{
position:absolute;
top:-19.5px;
left:689.26px;
}
.s_1_Chapter_1-2-3_54
{
position:absolute;
top:-19.5px;
left:1417.77px;
}
.s_1_Chapter_1-2-3_55
{
position:absolute;
top:380.5px;
left:300.56px;
letter-spacing:-1.82px;
}
.s_1_Chapter_1-2-3_56
{
position:absolute;
top:380.5px;
left:753.74px;
letter-spacing:-3.25px;
}
.s_1_Chapter_1-2-3_57
{
position:absolute;
top:380.5px;
left:961.21px;
letter-spacing:-1.2px;
}
.s_1_Chapter_1-2-3_58
{
position:absolute;
top:380.5px;
left:1567px;
}
.s_1_Chapter_1-2-3_59
{
position:absolute;
top:380.5px;
left:2078.16px;
}
.s_1_Chapter_1-2-3_60
{
position:absolute;
top:780.5px;
left:98.28px;
}
.s_1_Chapter_1-2-3_61
{
position:absolute;
top:780.5px;
left:536.9px;
letter-spacing:-1.17px;
}
.s_1_Chapter_1-2-3_62
{
position:absolute;
top:780.5px;
left:1288.55px;
}
.s_1_Chapter_1-2-3_63
{
position:absolute;
top:780.5px;
left:1565.18px;
letter-spacing:-2.01px;
}
.s_1_Chapter_1-2-3_64
{
position:absolute;
top:1180.5px;
left:565.11px;
letter-spacing:-0.42px;
}
.s_1_Chapter_1-2-3_65
{
position:absolute;
top:1180.5px;
left:1251.76px;
}
.s_1_Chapter_1-2-3_66
{
position:absolute;
top:1180.5px;
left:1690.37px;
}
.s_1_Chapter_1-2-3_67
{
position:absolute;
top:-19.5px;
left:0px;
}
.s_1_Chapter_1-2-3_68
{
position:absolute;
top:-19.5px;
left:746.71px;
}
.s_1_Chapter_1-2-3_69
{
position:absolute;
top:-19.5px;
left:1003.58px;
letter-spacing:-3.25px;
}
.s_1_Chapter_1-2-3_70
{
position:absolute;
top:-19.5px;
left:1204.82px;
letter-spacing:-2.13px;
}
.s_1_Chapter_1-2-3_71
{
position:absolute;
top:-19.5px;
left:1784.87px;
letter-spacing:-0.17px;
}
.s_1_Chapter_1-2-3_72
{
position:absolute;
top:-19.5px;
left:2891.67px;
}
.s_1_Chapter_1-2-3_73
{
position:absolute;
top:-19.5px;
left:3402.83px;
letter-spacing:-0.26px;
}
.s_1_Chapter_1-2-3_74
{
position:absolute;
top:-19.5px;
left:4627.15px;
letter-spacing:-0.83px;
}
.s_1_Chapter_1-2-3_75
{
position:absolute;
top:-19.5px;
left:5204.34px;
}
.s_1_Chapter_1-2-3_76
{
position:absolute;
top:-19.5px;
left:5564.95px;
letter-spacing:0px;
}
.s_1_Chapter_1-2-3_77
{
position:absolute;
top:-19.5px;
left:5817.4px;
}
.s_1_Chapter_1-2-3_78
{
position:absolute;
top:-19.5px;
left:6271.61px;
}
.s_1_Chapter_1-2-3_79
{
position:absolute;
top:-19.5px;
left:6990.76px;
letter-spacing:-2.68px;
}
.s_1_Chapter_1-2-3_80
{
position:absolute;
top:-19.5px;
left:7294.7px;
letter-spacing:-2.43px;
}
.s_1_Chapter_1-2-3_81
{
position:absolute;
top:380.5px;
left:0px;
letter-spacing:-1.95px;
}
.s_1_Chapter_1-2-3_82
{
position:absolute;
top:380.5px;
left:688.99px;
letter-spacing:-2.6px;
}
.s_1_Chapter_1-2-3_83
{
position:absolute;
top:380.5px;
left:1108.37px;
}
.s_1_Chapter_1-2-3_84
{
position:absolute;
top:757.19px;
left:0px;
}
.s_1_Chapter_1-2-3_85
{
position:absolute;
top:120.01px;
left:199.46px;
letter-spacing:-1.69px;
}
.s_1_Chapter_1-2-3_86
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.78px;
}
.s_1_Chapter_1-2-3_87
{
position:absolute;
top:-19.5px;
left:392.07px;
}
.s_1_Chapter_1-2-3_88
{
position:absolute;
top:-19.5px;
left:878.53px;
}
.s_1_Chapter_1-2-3_89
{
position:absolute;
top:-19.5px;
left:1533.2px;
}
.s_1_Chapter_1-2-3_90
{
position:absolute;
top:-19.5px;
left:2538.34px;
}
.s_1_Chapter_1-2-3_91
{
position:absolute;
top:-19.5px;
left:3307.67px;
letter-spacing:-2.6px;
}
.s_1_Chapter_1-2-3_92
{
position:absolute;
top:-19.5px;
left:3713px;
}
.s_1_Chapter_1-2-3_93
{
position:absolute;
top:-19.5px;
left:4423.31px;
}
.s_1_Chapter_1-2-3_94
{
position:absolute;
top:-19.5px;
left:5015.84px;
letter-spacing:-2.39px;
}
.s_1_Chapter_1-2-3_95
{
position:absolute;
top:-19.5px;
left:5644.51px;
letter-spacing:0px;
}
.s_1_Chapter_1-2-3_96
{
position:absolute;
top:-19.5px;
left:6105.74px;
letter-spacing:-1.39px;
}
.s_1_Chapter_1-2-3_97
{
position:absolute;
top:-19.5px;
left:7266.88px;
letter-spacing:-1px;
}
.s_1_Chapter_1-2-3_98
{
position:absolute;
top:380.5px;
left:0px;
}
.s_1_Chapter_1-2-3_99
{
position:absolute;
top:380.5px;
left:224.11px;
}
.s_1_Chapter_1-2-3_100
{
position:absolute;
top:380.5px;
left:480.99px;
}
.s_1_Chapter_1-2-3_101
{
position:absolute;
top:380.5px;
left:978.09px;
letter-spacing:-3.25px;
}
.s_1_Chapter_1-2-3_102
{
position:absolute;
top:380.5px;
left:1185.57px;
}
.s_1_Chapter_1-2-3_103
{
position:absolute;
top:380.5px;
left:1801.76px;
letter-spacing:-2.68px;
}
.s_1_Chapter_1-2-3_104
{
position:absolute;
top:380.5px;
left:2105.7px;
letter-spacing:-1.2px;
}
.s_1_Chapter_1-2-3_105
{
position:absolute;
top:380.5px;
left:2696.41px;
}
.s_1_Chapter_1-2-3_106
{
position:absolute;
top:380.5px;
left:3514.88px;
}
.s_1_Chapter_1-2-3_107
{
position:absolute;
top:757.19px;
left:0px;
}
.s_1_Chapter_1-2-3_108
{
position:absolute;
top:120.01px;
left:151.5px;
}
.s_1_Chapter_1-2-3_109
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.42px;
}
.s_1_Chapter_1-2-3_110
{
position:absolute;
top:-19.5px;
left:731.89px;
}
.s_1_Chapter_1-2-3_111
{
position:absolute;
top:-19.5px;
left:1420.88px;
}
.s_1_Chapter_1-2-3_112
{
position:absolute;
top:-19.5px;
left:1932.03px;
letter-spacing:-1.14px;
}
.s_1_Chapter_1-2-3_113
{
position:absolute;
top:-19.5px;
left:2497.26px;
}
.s_1_Chapter_1-2-3_114
{
position:absolute;
top:-19.5px;
left:3025.57px;
letter-spacing:-1px;
}
.s_1_Chapter_1-2-3_115
{
position:absolute;
top:-19.5px;
left:3633.7px;
letter-spacing:-1.01px;
}
.s_1_Chapter_1-2-3_116
{
position:absolute;
top:-19.5px;
left:4759.22px;
letter-spacing:-1.89px;
}
.s_1_Chapter_1-2-3_117
{
position:absolute;
top:-19.5px;
left:5497.87px;
letter-spacing:-1.97px;
}
.s_1_Chapter_1-2-3_118
{
position:absolute;
top:-19.5px;
left:6076.88px;
letter-spacing:-0.94px;
}
.s_1_Chapter_1-2-3_119
{
position:absolute;
top:-19.5px;
left:6737.27px;
letter-spacing:0px;
}
.s_1_Chapter_1-2-3_120
{
position:absolute;
top:-19.5px;
left:7735.92px;
}
.s_1_Chapter_1-2-3_121
{
position:absolute;
top:357.19px;
left:0px;
}
.s_1_Chapter_1-2-3_122
{
position:absolute;
top:120.01px;
left:159.55px;
letter-spacing:-2.08px;
}
.s_1_Chapter_1-2-3_123
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-1.92px;
}
.s_1_Chapter_1-2-3_124
{
position:absolute;
top:-19.5px;
left:679.63px;
letter-spacing:-1.08px;
}
.s_1_Chapter_1-2-3_125
{
position:absolute;
top:-19.5px;
left:2315.01px;
}
.s_1_Chapter_1-2-3_126
{
position:absolute;
top:-19.5px;
left:2381.31px;
}
.s_1_Chapter_1-2-3_127
{
position:absolute;
top:-19.5px;
left:2835.52px;
letter-spacing:-0.19px;
}
.s_1_Chapter_1-2-3_128
{
position:absolute;
top:-19.5px;
left:4018.24px;
letter-spacing:-2.6px;
}
.s_1_Chapter_1-2-3_129
{
position:absolute;
top:-19.5px;
left:4423.57px;
letter-spacing:-1.49px;
}
.s_1_Chapter_1-2-3_130
{
position:absolute;
top:-19.5px;
left:4881.95px;
letter-spacing:-0.71px;
}
.s_1_Chapter_1-2-3_131
{
position:absolute;
top:-19.5px;
left:5450.56px;
letter-spacing:0px;
}
.s_1_Chapter_1-2-3_132
{
position:absolute;
top:-19.5px;
left:6413.85px;
letter-spacing:-1.65px;
}
.s_1_Chapter_1-2-3_133
{
position:absolute;
top:380.5px;
left:0px;
}
.s_1_Chapter_1-2-3_134
{
position:absolute;
top:120.01px;
left:161.76px;
letter-spacing:-1.3px;
}
.s_1_Chapter_1-2-3_135
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-2.01px;
}
.s_1_Chapter_1-2-3_136
{
position:absolute;
top:-19.5px;
left:448.76px;
}
.s_1_Chapter_1-2-3_137
{
position:absolute;
top:-19.5px;
left:959.91px;
letter-spacing:-1.62px;
}
.s_1_Chapter_1-2-3_138
{
position:absolute;
top:-19.5px;
left:1391.5px;
letter-spacing:-1.75px;
}
.s_1_Chapter_1-2-3_139
{
position:absolute;
top:-19.5px;
left:1841.55px;
}
.s_1_Chapter_1-2-3_140
{
position:absolute;
top:-19.5px;
left:2549px;
}
.s_1_Chapter_1-2-3_141
{
position:absolute;
top:-19.5px;
left:3010.23px;
letter-spacing:-0.29px;
}
.s_1_Chapter_1-2-3_142
{
position:absolute;
top:-19.5px;
left:4333.87px;
}
.s_1_Chapter_1-2-3_143
{
position:absolute;
top:-19.5px;
left:5012.72px;
}
.s_1_Chapter_1-2-3_144
{
position:absolute;
top:-19.5px;
left:5269.6px;
letter-spacing:-1.82px;
}
.s_1_Chapter_1-2-3_145
{
position:absolute;
top:-19.5px;
left:5722.77px;
letter-spacing:-0.29px;
}
.s_1_Chapter_1-2-3_146
{
position:absolute;
top:-19.5px;
left:7050.84px;
letter-spacing:0px;
}
.s_1_Chapter_1-2-3_147
{
position:absolute;
top:380.5px;
left:0px;
}
.s_1_Chapter_1-2-3_148
{
position:absolute;
top:380.5px;
left:511.15px;
}
.s_1_Chapter_1-2-3_149
{
position:absolute;
top:380.5px;
left:1474.18px;
}
.s_1_Chapter_1-2-3_150
{
position:absolute;
top:785.54px;
left:0px;
}
.s_1_Chapter_1-2-3_151
{
position:absolute;
top:120.01px;
left:133.06px;
letter-spacing:-2.08px;
}
.s_1_Chapter_1-2-3_152
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.41px;
}
.s_1_Chapter_1-2-3_153
{
position:absolute;
top:-19.5px;
left:1011.65px;
letter-spacing:-1.33px;
}
.s_1_Chapter_1-2-3_154
{
position:absolute;
top:-19.5px;
left:2249.75px;
letter-spacing:-0.75px;
}
.s_1_Chapter_1-2-3_155
{
position:absolute;
top:-19.5px;
left:3520.08px;
}
.s_1_Chapter_1-2-3_156
{
position:absolute;
top:-19.5px;
left:4431.37px;
letter-spacing:-2.13px;
}
.s_1_Chapter_1-2-3_157
{
position:absolute;
top:-19.5px;
left:5011.42px;
letter-spacing:-1.33px;
}
.s_1_Chapter_1-2-3_158
{
position:absolute;
top:-19.5px;
left:6298.14px;
letter-spacing:-1.01px;
}
.s_1_Chapter_1-2-3_159
{
position:absolute;
top:380.5px;
left:0px;
letter-spacing:-0.88px;
}
.s_1_Chapter_1-2-3_160
{
position:absolute;
top:380.5px;
left:996.56px;
letter-spacing:-0.58px;
}
.s_1_Chapter_1-2-3_161
{
position:absolute;
top:380.5px;
left:1449.48px;
}
.s_1_Chapter_1-2-3_162
{
position:absolute;
top:380.5px;
left:1758.09px;
letter-spacing:-0.88px;
}
.s_1_Chapter_1-2-3_163
{
position:absolute;
top:380.5px;
left:2418.22px;
}
.s_1_Chapter_1-2-3_164
{
position:absolute;
top:380.5px;
left:3729.12px;
}
.s_1_Chapter_1-2-3_165
{
position:absolute;
top:380.5px;
left:4786.01px;
letter-spacing:0px;
}
.s_1_Chapter_1-2-3_166
{
position:absolute;
top:380.5px;
left:5295.86px;
letter-spacing:-0.33px;
}
.s_1_Chapter_1-2-3_167
{
position:absolute;
top:380.5px;
left:6174.65px;
letter-spacing:-2.03px;
}
.s_1_Chapter_1-2-3_168
{
position:absolute;
top:380.5px;
left:6801.24px;
letter-spacing:0px;
}
.s_1_Chapter_1-2-3_169
{
position:absolute;
top:780.5px;
left:0px;
letter-spacing:-1.23px;
}
.s_1_Chapter_1-2-3_170
{
position:absolute;
top:780.5px;
left:1103.95px;
letter-spacing:-0.78px;
}
.s_1_Chapter_1-2-3_171
{
position:absolute;
top:780.5px;
left:1620.82px;
}
.s_1_Chapter_1-2-3_172
{
position:absolute;
top:780.5px;
left:2409.13px;
}
.s_1_Chapter_1-2-3_173
{
position:absolute;
top:780.5px;
left:3174.82px;
letter-spacing:-2.03px;
}
.s_1_Chapter_1-2-3_174
{
position:absolute;
top:780.5px;
left:3801.41px;
letter-spacing:-0.29px;
}
.s_1_Chapter_1-2-3_175
{
position:absolute;
top:780.5px;
left:4761.32px;
}
.s_1_Chapter_1-2-3_176
{
position:absolute;
top:780.5px;
left:5037.95px;
letter-spacing:-0.41px;
}
.s_1_Chapter_1-2-3_177
{
position:absolute;
top:-19.5px;
left:0px;
}
.s_1_Chapter_1-2-3_178
{
position:absolute;
top:-19.5px;
left:378.81px;
}
.s_1_Chapter_1-2-3_179
{
position:absolute;
top:-19.5px;
left:1094.06px;
}
.s_1_Chapter_1-2-3_180
{
position:absolute;
top:-19.5px;
left:1350.94px;
letter-spacing:-3.25px;
}
.s_1_Chapter_1-2-3_181
{
position:absolute;
top:-19.5px;
left:1558.41px;
}
.s_1_Chapter_1-2-3_182
{
position:absolute;
top:-19.5px;
left:2438.76px;
}
.s_1_Chapter_1-2-3_183
{
position:absolute;
top:-19.5px;
left:2986.04px;
}
.s_1_Chapter_1-2-3_184
{
position:absolute;
top:-19.5px;
left:3840.92px;
}
.s_1_Chapter_1-2-3_185
{
position:absolute;
top:380.5px;
left:0px;
text-rendering:optimizeLegibility;
letter-spacing:-1.3px;
}
.s_1_Chapter_1-2-3_186
{
position:absolute;
top:380.5px;
left:1061.82px;
letter-spacing:-1.4px;
}
.s_1_Chapter_1-2-3_187
{
position:absolute;
top:380.5px;
left:1695.17px;
}
.s_1_Chapter_1-2-3_188
{
position:absolute;
top:380.5px;
left:2045.64px;
}
.s_1_Chapter_1-2-3_189
{
position:absolute;
top:380.5px;
left:2780.13px;
}

.p10_input_text1 {
	display: none;
	text-align: left;
	font-family: "Cabrito_Sans_Norm_Book";
	font-size: 13px;
	margin-top: 1px;
}
#text1 {
	position:absolute;
	top: 440px;
	left: 68px;
}
#text2 {
	position:absolute;
	top: 440px;
	left: 244px;
}
#text3 {
	position:absolute;
	top: 440px;
	left: 383px;
}
#text4 {
	position:absolute;
	top: 460px;
	left: 68px;
}
#text5 {
	position:absolute;
	top: 480px;
	left: 68px;
}

#box1 {
	position:absolute;
	top: 120px;
	left: 98px;
	width: 394px;
}
#box2 {
	position:absolute;
	top: 186px;
	left: 97px;
	width: 392px;
}
#box3 {
	position:absolute;
	top: 234px;
	left: 99px;
	width: 393px;
}
#box4 {
	position:absolute;
	top: 284px;
	left: 99px;
	width: 393px;
}
#box5 {
	position:absolute;
	top: 354px;
	left: 97px;
	width: 392px;
}
.page10_btn1 {
	position:absolute;
	top: 514px;
	left: 266px;
}

.page10_btn2 {
	position:absolute;
	top: 813px;
	left: 266px;
}
.page10_btn3 {
	position:absolute;
	top: 813px;
	left: 209px;
}
.page10_position1 {
	position:absolute;
	top: 741px;
	left: 312px;
}
