.d_1_Inner-3_1
{
position:absolute;
overflow:hidden;
left:0px;
top:0px;
transform:translate(0.00px,0.00px);
-webkit-transform:translate(0.00px,0.00px);
-ms-transform:translate(0.00px,0.00px);
-o-transform:translate(0.00px,0.00px);
-moz-transform:translate(0.00px,0.00px);
width:595.28px;
height:841.89px
}
.d_1_Inner-3_2
{
width:10351.02px;
height:11778.43px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,1.23px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,1.23px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,1.23px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,1.23px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,1.23px) rotate(0deg) scale(0.05);
}
.d_1_Inner-3_3
{
width:10008.17px;
height:214.2px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.65px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.65px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.65px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.65px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.65px) rotate(0deg) scale(0.05);
}
.d_1_Inner-3_4
{
width:5134.72px;
height:229.5px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Inner-3_5
{
width:4628.35px;
height:2643.78px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,1px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,1px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,1px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,1px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,1px) rotate(0deg) scale(0.05);
}
.d_1_Inner-3_6
{
width:4846.85px;
height:2215.72px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,1px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,1px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,1px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,1px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,1px) rotate(0deg) scale(0.05);
}
.d_1_Inner-3_7
{
width:2619.21px;
height:495.89px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,6.72px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,6.72px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,6.72px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,6.72px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,6.72px) rotate(0deg) scale(0.05);
}
.d_1_Inner-3_8
{
width:7116.51px;
height:982.78px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,21.69px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,21.69px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,21.69px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,21.69px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,21.69px) rotate(0deg) scale(0.05);
}
.d_1_Inner-3_9
{
position:absolute;
overflow:hidden;
left:0px;
top:0px;
transform:translate(595.28px,0.00px);
-webkit-transform:translate(595.28px,0.00px);
-ms-transform:translate(595.28px,0.00px);
-o-transform:translate(595.28px,0.00px);
-moz-transform:translate(595.28px,0.00px);
width:595.28px;
height:841.89px
}
.d_1_Inner-3_10
{
width:9016.39px;
height:11465.67px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.s_1_Inner-3_11
{
position:absolute;
top:52.5px;
left:6333.25px;
letter-spacing:-0.19px;
}
.s_1_Inner-3_12
{
position:absolute;
top:1550.16px;
left:187.32px;
letter-spacing:-1.69px;
}
.s_1_Inner-3_13
{
position:absolute;
top:1550.16px;
left:564.41px;
letter-spacing:-0.26px;
}
.s_1_Inner-3_14
{
position:absolute;
top:1550.16px;
left:1155.38px;
}
.s_1_Inner-3_15
{
position:absolute;
top:1550.16px;
left:2039.89px;
}
.s_1_Inner-3_16
{
position:absolute;
top:2060.4px;
left:149.36px;
}
.s_1_Inner-3_17
{
position:absolute;
top:2060.4px;
left:564.41px;
letter-spacing:-2.79px;
}
.s_1_Inner-3_18
{
position:absolute;
top:2060.4px;
left:1293.7px;
}
.s_1_Inner-3_19
{
position:absolute;
top:2570.63px;
left:147.41px;
letter-spacing:-2.08px;
}
.s_1_Inner-3_20
{
position:absolute;
top:2570.63px;
left:564.41px;
letter-spacing:-3.9px;
}
.s_1_Inner-3_21
{
position:absolute;
top:2570.63px;
left:789.3px;
}
.s_1_Inner-3_22
{
position:absolute;
top:2570.63px;
left:1612.71px;
letter-spacing:-2.68px;
}
.s_1_Inner-3_23
{
position:absolute;
top:2570.63px;
left:1911.71px;
letter-spacing:-1.77px;
}
.s_1_Inner-3_24
{
position:absolute;
top:3080.87px;
left:149.62px;
letter-spacing:-1.3px;
}
.s_1_Inner-3_25
{
position:absolute;
top:3080.87px;
left:564.41px;
letter-spacing:-0.26px;
}
.s_1_Inner-3_26
{
position:absolute;
top:3080.87px;
left:1193.6px;
letter-spacing:-2.68px;
}
.s_1_Inner-3_27
{
position:absolute;
top:3080.87px;
left:1497.53px;
letter-spacing:-1.17px;
}
.s_1_Inner-3_28
{
position:absolute;
top:3591.1px;
left:150.92px;
letter-spacing:-2.08px;
}
.s_1_Inner-3_29
{
position:absolute;
top:3591.1px;
left:564.41px;
}
.s_1_Inner-3_30
{
position:absolute;
top:3591.1px;
left:916.7px;
}
.s_1_Inner-3_31
{
position:absolute;
top:3591.1px;
left:1670.42px;
}
.s_1_Inner-3_32
{
position:absolute;
top:4101.34px;
left:144.94px;
letter-spacing:-2.08px;
}
.s_1_Inner-3_33
{
position:absolute;
top:4101.34px;
left:564.41px;
letter-spacing:-2.4px;
}
.s_1_Inner-3_34
{
position:absolute;
top:4101.34px;
left:1052.16px;
letter-spacing:-2.69px;
}
.s_1_Inner-3_35
{
position:absolute;
top:4101.34px;
left:1778.85px;
letter-spacing:-3.23px;
}
.s_1_Inner-3_36
{
position:absolute;
top:4101.34px;
left:2664.4px;
letter-spacing:-1.3px;
}
.s_1_Inner-3_37
{
position:absolute;
top:4611.58px;
left:166.13px;
letter-spacing:-10.92px;
}
.s_1_Inner-3_38
{
position:absolute;
top:4611.58px;
left:564.41px;
}
.s_1_Inner-3_39
{
position:absolute;
top:4611.58px;
left:1727.89px;
letter-spacing:-1.86px;
}
.s_1_Inner-3_40
{
position:absolute;
top:5121.81px;
left:141.3px;
letter-spacing:-1.95px;
}
.s_1_Inner-3_41
{
position:absolute;
top:5121.81px;
left:564.41px;
letter-spacing:-0.71px;
}
.s_1_Inner-3_42
{
position:absolute;
top:5121.81px;
left:1904.43px;
letter-spacing:-0.83px;
}
.s_1_Inner-3_43
{
position:absolute;
top:5632.05px;
left:145.72px;
letter-spacing:-4.03px;
}
.s_1_Inner-3_44
{
position:absolute;
top:5632.05px;
left:564.41px;
letter-spacing:-0.36px;
}
.s_1_Inner-3_45
{
position:absolute;
top:5632.05px;
left:1534.46px;
}
.s_1_Inner-3_46
{
position:absolute;
top:6142.29px;
left:106.72px;
letter-spacing:-2.69px;
}
.s_1_Inner-3_47
{
position:absolute;
top:6142.29px;
left:564.41px;
letter-spacing:-0.74px;
}
.s_1_Inner-3_48
{
position:absolute;
top:6142.29px;
left:1345.18px;
}
.s_1_Inner-3_49
{
position:absolute;
top:6652.52px;
left:157.29px;
letter-spacing:-1.13px;
}
.s_1_Inner-3_50
{
position:absolute;
top:6652.52px;
left:564.41px;
letter-spacing:-1.82px;
}
.s_1_Inner-3_51
{
position:absolute;
top:6652.52px;
left:1373.78px;
}
.s_1_Inner-3_52
{
position:absolute;
top:7162.76px;
left:119.33px;
}
.s_1_Inner-3_53
{
position:absolute;
top:7162.76px;
left:564.41px;
letter-spacing:-0.17px;
}
.s_1_Inner-3_54
{
position:absolute;
top:7162.76px;
left:1670.17px;
letter-spacing:-1.17px;
}
.s_1_Inner-3_55
{
position:absolute;
top:7672.99px;
left:117.38px;
letter-spacing:-1.39px;
}
.s_1_Inner-3_56
{
position:absolute;
top:7672.99px;
left:564.41px;
}
.s_1_Inner-3_57
{
position:absolute;
top:7672.99px;
left:1642.36px;
letter-spacing:-0.62px;
}
.s_1_Inner-3_58
{
position:absolute;
top:8183.23px;
left:119.59px;
letter-spacing:-0.87px;
}
.s_1_Inner-3_59
{
position:absolute;
top:8183.23px;
left:564.41px;
}
.s_1_Inner-3_60
{
position:absolute;
top:8183.23px;
left:1400.55px;
}
.s_1_Inner-3_61
{
position:absolute;
top:8183.23px;
left:1907.28px;
letter-spacing:-1px;
}
.s_1_Inner-3_62
{
position:absolute;
top:8183.23px;
left:2519.05px;
}
.s_1_Inner-3_63
{
position:absolute;
top:8693.47px;
left:120.89px;
letter-spacing:-1.39px;
}
.s_1_Inner-3_64
{
position:absolute;
top:8693.47px;
left:564.41px;
}
.s_1_Inner-3_65
{
position:absolute;
top:8693.47px;
left:1218.04px;
letter-spacing:-0.78px;
}
.s_1_Inner-3_66
{
position:absolute;
top:9203.7px;
left:114.91px;
letter-spacing:-1.39px;
}
.s_1_Inner-3_67
{
position:absolute;
top:9203.7px;
left:564.41px;
letter-spacing:-0.33px;
}
.s_1_Inner-3_68
{
position:absolute;
top:9203.7px;
left:2313.4px;
letter-spacing:-2.7px;
}
.s_1_Inner-3_69
{
position:absolute;
top:9695.7px;
left:136.1px;
letter-spacing:-7.28px;
}
.s_1_Inner-3_70
{
position:absolute;
top:9695.7px;
left:564.41px;
letter-spacing:-0.26px;
}
.s_1_Inner-3_71
{
position:absolute;
top:9695.7px;
left:1271.85px;
letter-spacing:-3.74px;
}
.s_1_Inner-3_72
{
position:absolute;
top:10169.46px;
left:111.27px;
letter-spacing:-1.3px;
}
.s_1_Inner-3_73
{
position:absolute;
top:10169.46px;
left:564.41px;
}
.s_1_Inner-3_74
{
position:absolute;
top:10169.46px;
left:1570.34px;
letter-spacing:-0.22px;
}
.s_1_Inner-3_75
{
position:absolute;
top:11153.4px;
left:90.51px;
letter-spacing:-1.5px;
}
.s_1_Inner-3_76
{
position:absolute;
top:11153.4px;
left:564.41px;
}
.s_1_Inner-3_77
{
position:absolute;
top:11153.4px;
left:1725.1px;
letter-spacing:-0.26px;
}
.s_1_Inner-3_78
{
position:absolute;
top:-21px;
left:0px;
letter-spacing:-2.99px;
}
.s_1_Inner-3_79
{
position:absolute;
top:-21px;
left:342.43px;
letter-spacing:-3.5px;
}
.s_1_Inner-3_80
{
position:absolute;
top:-21px;
left:565.87px;
letter-spacing:-0.68px;
}
.s_1_Inner-3_81
{
position:absolute;
top:-21px;
left:1513.1px;
letter-spacing:-0.84px;
}
.s_1_Inner-3_82
{
position:absolute;
top:-21px;
left:2677.6px;
letter-spacing:-3.5px;
}
.s_1_Inner-3_83
{
position:absolute;
top:-21px;
left:2901.04px;
letter-spacing:-2.75px;
}
.s_1_Inner-3_84
{
position:absolute;
top:-21px;
left:4229.9px;
letter-spacing:-0.62px;
}
.s_1_Inner-3_85
{
position:absolute;
top:-21px;
left:4892.37px;
}
.s_1_Inner-3_86
{
position:absolute;
top:-21px;
left:5281.84px;
}
.s_1_Inner-3_87
{
position:absolute;
top:-21px;
left:5770.99px;
}
.s_1_Inner-3_88
{
position:absolute;
top:-21px;
left:6901.33px;
letter-spacing:-1.92px;
}
.s_1_Inner-3_89
{
position:absolute;
top:-21px;
left:7992.2px;
}
.s_1_Inner-3_90
{
position:absolute;
top:-21px;
left:8290.11px;
}
.s_1_Inner-3_91
{
position:absolute;
top:-21px;
left:8974.98px;
letter-spacing:-2.03px;
}
.s_1_Inner-3_92
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.45px;
}
.s_1_Inner-3_93
{
position:absolute;
top:-19.5px;
left:499.46px;
letter-spacing:-0.75px;
}
.s_1_Inner-3_94
{
position:absolute;
top:-19.5px;
left:1640.06px;
letter-spacing:-1.75px;
}
.s_1_Inner-3_95
{
position:absolute;
top:-19.5px;
left:2090.11px;
}
.s_1_Inner-3_96
{
position:absolute;
top:-19.5px;
left:2544.32px;
}
.s_1_Inner-3_97
{
position:absolute;
top:-19.5px;
left:3467.57px;
}
.s_1_Inner-3_98
{
position:absolute;
top:97.29px;
left:81.24px;
letter-spacing:5.81px;
}
.s_1_Inner-3_99
{
position:absolute;
top:97.29px;
left:1166.03px;
}
.s_1_Inner-3_100
{
position:absolute;
top:532.96px;
left:76.85px;
letter-spacing:-1.5px;
}
.s_1_Inner-3_101
{
position:absolute;
top:532.96px;
left:1166.03px;
}
.s_1_Inner-3_102
{
position:absolute;
top:532.96px;
left:2123.95px;
}
.s_1_Inner-3_103
{
position:absolute;
top:532.96px;
left:2355.41px;
letter-spacing:-2.77px;
}
.s_1_Inner-3_104
{
position:absolute;
top:968.63px;
left:76.85px;
}
.s_1_Inner-3_105
{
position:absolute;
top:968.63px;
left:1166.03px;
}
.s_1_Inner-3_106
{
position:absolute;
top:1404.3px;
left:76.85px;
}
.s_1_Inner-3_107
{
position:absolute;
top:1404.3px;
left:1166.03px;
}
.s_1_Inner-3_108
{
position:absolute;
top:1404.3px;
left:2831.87px;
}
.s_1_Inner-3_109
{
position:absolute;
top:1839.98px;
left:76.85px;
}
.s_1_Inner-3_110
{
position:absolute;
top:1839.98px;
left:1166.03px;
}
.s_1_Inner-3_111
{
position:absolute;
top:2275.65px;
left:76.85px;
}
.s_1_Inner-3_112
{
position:absolute;
top:2275.65px;
left:1166.03px;
}
.s_1_Inner-3_113
{
position:absolute;
top:97.29px;
left:76.85px;
}
.s_1_Inner-3_114
{
position:absolute;
top:97.29px;
left:1166.03px;
}
.s_1_Inner-3_115
{
position:absolute;
top:532.96px;
left:76.85px;
}
.s_1_Inner-3_116
{
position:absolute;
top:532.96px;
left:1166.03px;
}
.s_1_Inner-3_117
{
position:absolute;
top:968.63px;
left:76.85px;
}
.s_1_Inner-3_118
{
position:absolute;
top:968.63px;
left:1166.03px;
}
.s_1_Inner-3_119
{
position:absolute;
top:968.63px;
left:1554.56px;
}
.s_1_Inner-3_120
{
position:absolute;
top:968.63px;
left:1790.54px;
}
.s_1_Inner-3_121
{
position:absolute;
top:1404.3px;
left:76.85px;
}
.s_1_Inner-3_122
{
position:absolute;
top:1404.3px;
left:1166.03px;
}
.s_1_Inner-3_123
{
position:absolute;
top:1839.98px;
left:76.85px;
}
.s_1_Inner-3_124
{
position:absolute;
top:1839.98px;
left:1166.03px;
}
.s_1_Inner-3_125
{
position:absolute;
top:1839.98px;
left:1638.1px;
}
.s_1_Inner-3_126
{
position:absolute;
top:1839.98px;
left:2290.29px;
}
.s_1_Inner-3_127
{
position:absolute;
top:1839.98px;
left:2526.26px;
letter-spacing:-3.09px;
}
.s_1_Inner-3_128
{
position:absolute;
top:1839.98px;
left:3215.89px;
}
.s_1_Inner-3_129
{
position:absolute;
top:-37.5px;
left:0px;
letter-spacing:-0.81px;
}
.s_1_Inner-3_130
{position:absolute;top: 351.64px;left: 17.13px;letter-spacing:-1.57px;transform: rotate(270deg);}
.s_1_Inner-3_131
{position:absolute;top: 341.64px;left: 564.8px;letter-spacing:-1.57px;transform: rotate(270deg);}
.s_1_Inner-3_132
{position:absolute;top: 332.64px;left: 1036.77px;transform: rotate(270deg);}
.s_1_Inner-3_133
{position:absolute;top: 331.64px;left: 1708.38px;transform: rotate(270deg);}
.s_1_Inner-3_134
{position:absolute;top: 361.64px;left: 2212.76px;transform: rotate(270deg);}
.s_1_Inner-3_135
{position:absolute;top: 361.64px;left: 2717.14px;transform: rotate(270deg);}
.s_1_Inner-3_136
{position:absolute;top: 361.64px;left: 3293.89px;transform: rotate(270deg);}
.s_1_Inner-3_137
{position:absolute;top: 381.64px;left: 3812.55px;transform: rotate(270deg);}
.s_1_Inner-3_138
{position:absolute;top: 311.64px;left: 4291.56px;transform: rotate(270deg);}
.s_1_Inner-3_139
{position:absolute;top: 361.64px;left: 4991.96px;transform: rotate(270deg);}
.s_1_Inner-3_140
{position:absolute;top: 341.64px;left: 5509.17px;transform: rotate(270deg);}
.s_1_Inner-3_141
{position:absolute;top: 321.64px;left: 5831.54px;transform: rotate(270deg);}
.s_1_Inner-3_142
{position:absolute;top: 331.64px;left: 6611.75px;transform: rotate(270deg);}
.s_1_Inner-3_143
{
position:absolute;
top:-19.5px;
left:360px;
letter-spacing:-0.26px;
}
.s_1_Inner-3_144
{
position:absolute;
top:-19.5px;
left:950.97px;
}
.s_1_Inner-3_145
{
position:absolute;
top:-19.5px;
left:1835.48px;
}
.s_1_Inner-3_146
{
position:absolute;
top:-19.5px;
left:8895.49px;
}
.s_1_Inner-3_147
{
position:absolute;
top:460.5px;
left:360px;
letter-spacing:-2.79px;
}
.s_1_Inner-3_148
{
position:absolute;
top:460.5px;
left:1089.29px;
}
.s_1_Inner-3_149
{
position:absolute;
top:460.5px;
left:8868.46px;
letter-spacing:0px;
}
.s_1_Inner-3_150
{
position:absolute;
top:940.5px;
left:360px;
letter-spacing:-3.9px;
}
.s_1_Inner-3_151
{
position:absolute;
top:940.5px;
left:584.89px;
}
.s_1_Inner-3_152
{
position:absolute;
top:940.5px;
left:1408.3px;
letter-spacing:-2.68px;
}
.s_1_Inner-3_153
{
position:absolute;
top:940.5px;
left:1707.3px;
letter-spacing:-1.47px;
}
.s_1_Inner-3_154
{
position:absolute;
top:940.5px;
left:8896.28px;
}
.s_1_Inner-3_155
{
position:absolute;
top:1420.5px;
left:360px;
letter-spacing:-0.26px;
}
.s_1_Inner-3_156
{
position:absolute;
top:1420.5px;
left:989.19px;
letter-spacing:-2.68px;
}
.s_1_Inner-3_157
{
position:absolute;
top:1420.5px;
left:1293.13px;
letter-spacing:-1px;
}
.s_1_Inner-3_158
{
position:absolute;
top:1420.5px;
left:8822.7px;
letter-spacing:0px;
}
.s_1_Inner-3_159
{
position:absolute;
top:1900.5px;
left:360px;
}
.s_1_Inner-3_160
{
position:absolute;
top:1900.5px;
left:712.29px;
}
.s_1_Inner-3_161
{
position:absolute;
top:1900.5px;
left:1466.02px;
}
.s_1_Inner-3_162
{
position:absolute;
top:1900.5px;
left:8803.72px;
letter-spacing:0px;
}
.s_1_Inner-3_163
{
position:absolute;
top:2380.5px;
left:360px;
letter-spacing:-0.45px;
}
.s_1_Inner-3_164
{
position:absolute;
top:2380.5px;
left:858.16px;
letter-spacing:-0.52px;
}
.s_1_Inner-3_165
{
position:absolute;
top:2380.5px;
left:1600.44px;
letter-spacing:-1px;
}
.s_1_Inner-3_166
{
position:absolute;
top:2380.5px;
left:2504.19px;
}
.s_1_Inner-3_167
{
position:absolute;
top:2380.5px;
left:8751.2px;
}
.s_1_Inner-3_168
{
position:absolute;
top:2860.5px;
left:360px;
}
.s_1_Inner-3_169
{
position:absolute;
top:2860.5px;
left:1523.48px;
letter-spacing:-1.6px;
}
.s_1_Inner-3_170
{
position:absolute;
top:2860.5px;
left:8762.9px;
letter-spacing:0px;
}
.s_1_Inner-3_171
{
position:absolute;
top:3340.5px;
left:360px;
letter-spacing:-0.71px;
}
.s_1_Inner-3_172
{
position:absolute;
top:3340.5px;
left:1700.02px;
letter-spacing:-0.76px;
}
.s_1_Inner-3_173
{
position:absolute;
top:3340.5px;
left:8709.86px;
letter-spacing:0px;
}
.s_1_Inner-3_174
{
position:absolute;
top:3820.5px;
left:360px;
letter-spacing:-0.36px;
}
.s_1_Inner-3_175
{
position:absolute;
top:3820.5px;
left:1330.05px;
}
.s_1_Inner-3_176
{
position:absolute;
top:3820.5px;
left:8735.08px;
}
.s_1_Inner-3_177
{
position:absolute;
top:4300.5px;
left:360px;
letter-spacing:-0.74px;
}
.s_1_Inner-3_178
{
position:absolute;
top:4300.5px;
left:1140.77px;
}
.s_1_Inner-3_179
{
position:absolute;
top:4300.5px;
left:8754.84px;
}
.s_1_Inner-3_180
{
position:absolute;
top:4780.5px;
left:360px;
letter-spacing:-1.82px;
}
.s_1_Inner-3_181
{
position:absolute;
top:4780.5px;
left:1169.37px;
}
.s_1_Inner-3_182
{
position:absolute;
top:4780.5px;
left:8715.84px;
}
.s_1_Inner-3_183
{
position:absolute;
top:5260.5px;
left:360px;
letter-spacing:-0.17px;
}
.s_1_Inner-3_184
{
position:absolute;
top:5260.5px;
left:1465.77px;
letter-spacing:-1px;
}
.s_1_Inner-3_185
{
position:absolute;
top:5260.5px;
left:8749.12px;
}
.s_1_Inner-3_186
{
position:absolute;
top:5740.5px;
left:360px;
}
.s_1_Inner-3_187
{
position:absolute;
top:5740.5px;
left:1437.95px;
letter-spacing:-0.52px;
}
.s_1_Inner-3_188
{
position:absolute;
top:5740.5px;
left:8748.08px;
}
.s_1_Inner-3_189
{
position:absolute;
top:6220.5px;
left:360px;
}
.s_1_Inner-3_190
{
position:absolute;
top:6220.5px;
left:1196.14px;
}
.s_1_Inner-3_191
{
position:absolute;
top:6220.5px;
left:1702.87px;
letter-spacing:-1px;
}
.s_1_Inner-3_192
{
position:absolute;
top:6220.5px;
left:2314.64px;
}
.s_1_Inner-3_193
{
position:absolute;
top:6220.5px;
left:8733.78px;
}
.s_1_Inner-3_194
{
position:absolute;
top:6700.5px;
left:360px;
}
.s_1_Inner-3_195
{
position:absolute;
top:6700.5px;
left:1013.63px;
letter-spacing:-0.62px;
}
.s_1_Inner-3_196
{
position:absolute;
top:6700.5px;
left:8750.16px;
}
.s_1_Inner-3_197
{
position:absolute;
top:7180.5px;
left:360px;
letter-spacing:-0.33px;
}
.s_1_Inner-3_198
{
position:absolute;
top:7180.5px;
left:2108.99px;
letter-spacing:-2.25px;
}
.s_1_Inner-3_199
{
position:absolute;
top:7180.5px;
left:8761.86px;
letter-spacing:0px;
}
.s_1_Inner-3_200
{
position:absolute;
top:7660.5px;
left:360px;
letter-spacing:-0.26px;
}
.s_1_Inner-3_201
{
position:absolute;
top:7660.5px;
left:1067.45px;
letter-spacing:-3.12px;
}
.s_1_Inner-3_202
{
position:absolute;
top:7660.5px;
left:8704.92px;
letter-spacing:0px;
}
.s_1_Inner-3_203
{
position:absolute;
top:8140.5px;
left:360px;
}
.s_1_Inner-3_204
{
position:absolute;
top:8140.5px;
left:1365.93px;
letter-spacing:-0.19px;
}
.s_1_Inner-3_205
{
position:absolute;
top:8140.5px;
left:8736.12px;
letter-spacing:0px;
}
.s_1_Inner-3_206
{
position:absolute;
top:8620.5px;
left:0px;
letter-spacing:-1.13px;
}
.s_1_Inner-3_207
{
position:absolute;
top:8620.5px;
left:933.9px;
}
.s_1_Inner-3_208
{
position:absolute;
top:8620.5px;
left:1131.23px;
letter-spacing:-0.41px;
}
.s_1_Inner-3_209
{
position:absolute;
top:8620.5px;
left:2058.91px;
letter-spacing:-1.14px;
}
.s_1_Inner-3_210
{
position:absolute;
top:8620.5px;
left:2989.18px;
letter-spacing:-0.88px;
}
.s_1_Inner-3_211
{
position:absolute;
top:8620.5px;
left:8749.89px;
}
.s_1_Inner-3_212
{
position:absolute;
top:9100.5px;
left:0px;
letter-spacing:-1.13px;
}
.s_1_Inner-3_213
{
position:absolute;
top:9100.5px;
left:933.9px;
}
.s_1_Inner-3_214
{
position:absolute;
top:9100.5px;
left:1203.77px;
letter-spacing:-3.12px;
}
.s_1_Inner-3_215
{
position:absolute;
top:9100.5px;
left:1636.67px;
letter-spacing:-1.25px;
}
.s_1_Inner-3_216
{
position:absolute;
top:9100.5px;
left:8718.18px;
letter-spacing:0px;
}
.s_1_Inner-3_217
{
position:absolute;
top:9603.59px;
left:0px;
letter-spacing:-6.84px;
}
.s_1_Inner-3_218
{
position:absolute;
top:9603.59px;
left:633.59px;
letter-spacing:-1.75px;
}
.s_1_Inner-3_219
{
position:absolute;
top:9603.59px;
left:1504.47px;
}
.s_1_Inner-3_220
{
position:absolute;
top:9603.59px;
left:8677.7px;
letter-spacing:0px;
}
.s_1_Inner-3_221
{
position:absolute;
top:10140.28px;
left:0px;
letter-spacing:-6.84px;
}
.s_1_Inner-3_222
{
position:absolute;
top:10140.28px;
left:633.59px;
letter-spacing:-1.75px;
}
.s_1_Inner-3_223
{
position:absolute;
top:10140.28px;
left:1504.47px;
}
.s_1_Inner-3_224
{
position:absolute;
top:10140.28px;
left:8685.5px;
letter-spacing:0px;
}
.s_1_Inner-3_225
{
position:absolute;
top:10676.98px;
left:0px;
letter-spacing:-6.84px;
}
.s_1_Inner-3_226
{
position:absolute;
top:10676.98px;
left:633.59px;
letter-spacing:-1.75px;
}
.s_1_Inner-3_227
{
position:absolute;
top:10676.98px;
left:1504.47px;
}
.s_1_Inner-3_228
{
position:absolute;
top:10676.98px;
left:8749.04px;
letter-spacing:6px;
}
.s_1_Inner-3_229
{
position:absolute;
top:10777.78px;
left:8894.54px;
}
.s_1_Inner-3_230
{
position:absolute;
top:10676.98px;
left:8947.1px;
letter-spacing:0px;
}
.s_1_Inner-3_231
{
position:absolute;
top:11213.67px;
left:0px;
letter-spacing:-6.84px;
}
.s_1_Inner-3_232
{
position:absolute;
top:11213.67px;
left:633.59px;
letter-spacing:-1.75px;
}
.s_1_Inner-3_233
{
position:absolute;
top:11213.67px;
left:1504.47px;
}
.s_1_Inner-3_234
{
position:absolute;
top:11213.67px;
left:8723.9px;
letter-spacing:0px;
}
