.d_1_Inner-4_1
{position:absolute;overflow:hidden;left: 297.36px;top:0px;transform:translate(0.00px,0.00px);-webkit-transform:translate(0.00px,0.00px);-ms-transform:translate(0.00px,0.00px);-o-transform:translate(0.00px,0.00px);-moz-transform:translate(0.00px,0.00px);width:595.28px;height:841.89px;}
.d_1_Inner-4_2
{
width:1884.76px;
height:288px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
}
.d_1_Inner-4_3
{
width:4569.14px;
height:1489.5px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.83px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.83px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.83px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.83px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.83px) rotate(0deg) scale(0.05);
}
.d_1_Inner-4_4
{
width:164.4px;
height:229.5px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.83px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.83px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.83px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.83px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.83px) rotate(0deg) scale(0.05);
}
.d_1_Inner-4_5
{
width:3064.84px;
height:288px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
}
.d_1_Inner-4_6
{
width:3162.79px;
height:1069.5px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.83px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.83px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.83px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.83px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.83px) rotate(0deg) scale(0.05);
}
.d_1_Inner-4_7
{
width:1937.55px;
height:313.43px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
}
.d_1_Inner-4_8
{
width:3905.67px;
height:649.5px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.83px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.83px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.83px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.83px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.83px) rotate(0deg) scale(0.05);
}
.d_1_Inner-4_9
{
width:3064.84px;
height:288px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
}
.d_1_Inner-4_10
{
width:3347.29px;
height:3589.5px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.83px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.83px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.83px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.83px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.83px) rotate(0deg) scale(0.05);
}
.s_1_Inner-4_11
{
position:absolute;
top:-12.32px;
left:0px;
}
.s_1_Inner-4_12
{
position:absolute;
top:-12.32px;
left:420.83px;
letter-spacing:-5.11px;
}
.s_1_Inner-4_13
{
position:absolute;
top:-12.32px;
left:971.57px;
letter-spacing:-6.86px;
}
.s_1_Inner-4_14
{
position:absolute;
top:-22.5px;
left:0px;
letter-spacing:-0.3px;
}
.s_1_Inner-4_15
{
position:absolute;
top:-22.5px;
left:1177.78px;
}
.s_1_Inner-4_16
{
position:absolute;
top:-22.5px;
left:1767.58px;
letter-spacing:-0.82px;
}
.s_1_Inner-4_17
{
position:absolute;
top:-22.5px;
left:3301.45px;
}
.s_1_Inner-4_18
{
position:absolute;
top:397.5px;
left:0px;
letter-spacing:-3.1px;
}
.s_1_Inner-4_19
{
position:absolute;
top:397.5px;
left:350.7px;
letter-spacing:-0.42px;
}
.s_1_Inner-4_20
{
position:absolute;
top:397.5px;
left:2005.17px;
letter-spacing:-0.85px;
}
.s_1_Inner-4_21
{
position:absolute;
top:397.5px;
left:2812.16px;
}
.s_1_Inner-4_22
{
position:absolute;
top:397.5px;
left:3131.35px;
letter-spacing:-0.45px;
}
.s_1_Inner-4_23
{
position:absolute;
top:397.5px;
left:3654.84px;
letter-spacing:-6.6px;
}
.s_1_Inner-4_24
{
position:absolute;
top:817.5px;
left:0px;
letter-spacing:-0.72px;
}
.s_1_Inner-4_25
{
position:absolute;
top:817.5px;
left:1017.88px;
}
.s_1_Inner-4_26
{
position:absolute;
top:817.5px;
left:1099.48px;
}
.s_1_Inner-4_27
{
position:absolute;
top:817.5px;
left:1694.97px;
letter-spacing:-0.82px;
}
.s_1_Inner-4_28
{
position:absolute;
top:817.5px;
left:2351.07px;
}
.s_1_Inner-4_29
{
position:absolute;
top:817.5px;
left:3965.95px;
}
.s_1_Inner-4_30
{
position:absolute;
top:1237.5px;
left:0px;
}
.s_1_Inner-4_31
{
position:absolute;
top:1237.5px;
left:518.99px;
}
.s_1_Inner-4_32
{
position:absolute;
top:-22.5px;
left:0px;
}
.s_1_Inner-4_33
{
position:absolute;
top:-14.08px;
left:0px;
letter-spacing:-3.89px;
}
.s_1_Inner-4_34
{
position:absolute;
top:-14.08px;
left:843.18px;
letter-spacing:-4.67px;
}
.s_1_Inner-4_35
{
position:absolute;
top:-14.08px;
left:1635.81px;
letter-spacing:-3.89px;
}
.s_1_Inner-4_36
{
position:absolute;
top:-22.5px;
left:0px;
letter-spacing:-5.45px;
}
.s_1_Inner-4_37
{
position:absolute;
top:-22.5px;
left:730.79px;
letter-spacing:-2.34px;
}
.s_1_Inner-4_38
{
position:absolute;
top:-22.5px;
left:1422.88px;
letter-spacing:-0.26px;
}
.s_1_Inner-4_39
{
position:absolute;
top:-22.5px;
left:2284.17px;
}
.s_1_Inner-4_40
{
position:absolute;
top:397.5px;
left:0px;
}
.s_1_Inner-4_41
{
position:absolute;
top:397.5px;
left:1936.78px;
}
.s_1_Inner-4_42
{
position:absolute;
top:817.5px;
left:0px;
}
.s_1_Inner-4_43
{
position:absolute;
top:817.5px;
left:1332.28px;
}
.s_1_Inner-4_44
{
position:absolute;
top:-14.08px;
left:0px;
letter-spacing:-4.03px;
}
.s_1_Inner-4_45
{
position:absolute;
top:-14.08px;
left:714.87px;
letter-spacing:-3.28px;
}
.s_1_Inner-4_46
{
position:absolute;
top:-14.08px;
left:1266.86px;
letter-spacing:-1.68px;
}
.s_1_Inner-4_47
{
position:absolute;
top:-22.5px;
left:0px;
letter-spacing:-0.54px;
}
.s_1_Inner-4_48
{
position:absolute;
top:-22.5px;
left:637.79px;
letter-spacing:-3px;
}
.s_1_Inner-4_49
{
position:absolute;
top:-22.5px;
left:1105.48px;
letter-spacing:-3.9px;
}
.s_1_Inner-4_50
{
position:absolute;
top:-22.5px;
left:1660.18px;
}
.s_1_Inner-4_51
{
position:absolute;
top:-22.5px;
left:1741.78px;
}
.s_1_Inner-4_52
{
position:absolute;
top:-22.5px;
left:2303.07px;
letter-spacing:-0.9px;
}
.s_1_Inner-4_53
{
position:absolute;
top:397.5px;
left:0px;
letter-spacing:-0.63px;
}
.s_1_Inner-4_54
{
position:absolute;
top:397.5px;
left:1493.68px;
letter-spacing:-2.3px;
}
.s_1_Inner-4_55
{
position:absolute;
top:397.5px;
left:1860.27px;
}
.s_1_Inner-4_56
{
position:absolute;
top:-14.08px;
left:0px;
letter-spacing:-3.68px;
}
.s_1_Inner-4_57
{
position:absolute;
top:-14.08px;
left:727.67px;
}
.s_1_Inner-4_58
{
position:absolute;
top:-22.5px;
left:0px;
letter-spacing:-3.3px;
}
.s_1_Inner-4_59
{
position:absolute;
top:-22.5px;
left:710.99px;
letter-spacing:-0.35px;
}
.s_1_Inner-4_60
{
position:absolute;
top:-22.5px;
left:1502.38px;
}
.s_1_Inner-4_61
{
position:absolute;
top:-22.5px;
left:1583.98px;
letter-spacing:-0.57px;
}
.s_1_Inner-4_62
{
position:absolute;
top:397.5px;
left:0px;
letter-spacing:-0.34px;
}
.s_1_Inner-4_63
{
position:absolute;
top:397.5px;
left:1087.18px;
}
.s_1_Inner-4_64
{
position:absolute;
top:817.5px;
left:0px;
letter-spacing:-1.01px;
}
.s_1_Inner-4_65
{
position:absolute;
top:817.5px;
left:1036.48px;
}
.s_1_Inner-4_66
{
position:absolute;
top:817.5px;
left:1398.27px;
letter-spacing:-1.02px;
}
.s_1_Inner-4_67
{
position:absolute;
top:817.5px;
left:1884.86px;
}
.s_1_Inner-4_68
{
position:absolute;
top:1237.5px;
left:0px;
}
.s_1_Inner-4_69
{
position:absolute;
top:1237.5px;
left:582.6px;
letter-spacing:-0.75px;
}
.s_1_Inner-4_70
{
position:absolute;
top:1237.5px;
left:1382.38px;
}
.s_1_Inner-4_71
{
position:absolute;
top:1657.5px;
left:0px;
}
.s_1_Inner-4_72
{
position:absolute;
top:1657.5px;
left:1235.08px;
letter-spacing:-0.9px;
}
.s_1_Inner-4_73
{
position:absolute;
top:2077.5px;
left:0px;
}
.s_1_Inner-4_74
{
position:absolute;
top:2077.5px;
left:356.69px;
}
.s_1_Inner-4_75
{
position:absolute;
top:2077.5px;
left:1100.38px;
}
.s_1_Inner-4_76
{
position:absolute;
top:2077.5px;
left:1631.36px;
letter-spacing:-3.1px;
}
.s_1_Inner-4_77
{
position:absolute;
top:2077.5px;
left:1976.96px;
}
.s_1_Inner-4_78
{
position:absolute;
top:2497.5px;
left:0px;
}
.s_1_Inner-4_79
{
position:absolute;
top:2497.5px;
left:574.79px;
}
.s_1_Inner-4_80
{
position:absolute;
top:2497.5px;
left:1164.58px;
}
.s_1_Inner-4_81
{
position:absolute;
top:2917.5px;
left:0px;
letter-spacing:-1.35px;
}
.s_1_Inner-4_82
{
position:absolute;
top:2917.5px;
left:882.28px;
}
.s_1_Inner-4_83
{
position:absolute;
top:2917.5px;
left:2521.76px;
}
.s_1_Inner-4_84
{
position:absolute;
top:3337.5px;
left:0px;
}
.s_1_Inner-4_85
{
position:absolute;
top:3337.5px;
left:1279.78px;
}
