.d_page14-15_1
{
position:absolute;overflow:hidden;left:0px;top:0px;-webkit-transform:translate(0.00px,0.00px);-ms-transform:translate(0.00px,0.00px);transform:translate(0.00px,0.00px);width:612px;height:841.89px
}
.d_page14-15_2
{
width:560.18px;height:401.47px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
}
.d_page14-15_3
{
width:9145.47px;height:492.09px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_page14-15_4
{
width:2077.51px;height:2217.87px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page14-15_5
{
width:3064.84px;height:288px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
}
.d_page14-15_6
{
width:1607.2px;height:1928.18px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page14-15_7
{
width:6615.51px;height:432px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_page14-15_8
{
width:2192.08px;height:214.2px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page14-15_9
{
width:3249.29px;height:269.94px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page14-15_10
{
width:3034.05px;height:266.2px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page14-15_11
{
width:3034.05px;height:214.2px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page14-15_12
{
width:424.52px;height:424.52px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_page14-15_13
{
width:424.52px;height:424.52px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_page14-15_14
{
width:424.52px;height:424.52px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_page14-15_15
{
width:424.52px;height:424.52px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_page14-15_16
{
width:424.52px;height:424.52px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_page14-15_17
{
width:424.52px;height:424.52px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_page14-15_18
{
width:1975.83px;height:1880.23px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page14-15_19
{
width:7408.85px;height:998.9px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page14-15_20
{
width:9176.91px;height:321.58px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page14-15_21
{
position:absolute;overflow:hidden;left:0px;top:0px;-webkit-transform:translate(612px,0.00px);-ms-transform:translate(612px,0.00px);transform:translate(612px,0.00px);width:596px;height:841.89px
}
.d_page14-15_22
{
width:560.18px;height:401.47px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
}
.d_page14-15_23
{
width:7429.28px;height:598.9px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.9px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
}
.d_page14-15_24
{
width:9246.32px;height:997.12px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,10.86px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
}
.d_page14-15_25
{
width:560.18px;height:401.47px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
}
.d_page14-15_26
{
width:6755.22px;height:1398.9px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page14-15_27
{
width:7000.69px;height:1398.9px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page14-15_28
{
width:6919.58px;height:1798.9px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.47px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.47px) rotate(0deg) scale(0.05);
}
.d_page14-15_29
{
width:6919.58px;height:958.9px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_page14-15_30
{
width:1884.76px;height:288px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
}
.d_page14-15_31
{
width:5658.16px;height:1338.9px;position:absolute;top:0px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.s_page14-15_32
{
position:absolute;top:41.44px;left:134.15px;
}
.s_page14-15_33
{
position:absolute;top:58.88px;left:0px;
}
.s_page14-15_34
{
position:absolute;top:213.6px;left:289.43px;
}
.s_page14-15_35
{
position:absolute;top:213.6px;left:453.54px;letter-spacing:-0.95px;
}
.s_page14-15_36
{
position:absolute;top:213.6px;left:1370.55px;
}
.s_page14-15_37
{
position:absolute;top:213.6px;left:2043.94px;letter-spacing:-1.52px;
}
.s_page14-15_38
{
position:absolute;top:213.6px;left:2754px;
}
.s_page14-15_39
{
position:absolute;top:213.6px;left:3587.54px;letter-spacing:-1.47px;
}
.s_page14-15_40
{
position:absolute;top:213.6px;left:4264.05px;
}
.s_page14-15_41
{
position:absolute;top:213.6px;left:4685.76px;letter-spacing:-0.39px;
}
.s_page14-15_42
{
position:absolute;top:213.6px;left:5545.31px;letter-spacing:-1.34px;
}
.s_page14-15_43
{
position:absolute;top:213.6px;left:6416.56px;letter-spacing:0px;
}
.s_page14-15_44
{
position:absolute;top:213.6px;left:6668.5px;letter-spacing:0px;
}
.s_page14-15_45
{
position:absolute;top:213.6px;left:7090.21px;letter-spacing:0px;
}
.s_page14-15_46
{
position:absolute;top:213.6px;left:7791.16px;letter-spacing:-0.35px;
}
.s_page14-15_47
{
position:absolute;top:-19.5px;left:396.85px;letter-spacing:-0.26px;
}
.s_page14-15_48
{
position:absolute;top:617.19px;left:396.85px;letter-spacing:-2.69px;
}
.s_page14-15_49
{
position:absolute;top:1253.88px;left:396.85px;
}
.s_page14-15_50
{
position:absolute;top:1890.58px;left:396.85px;letter-spacing:-1.45px;
}
.s_page14-15_51
{
position:absolute;top:-14.08px;left:0px;letter-spacing:-3.89px;
}
.s_page14-15_52
{
position:absolute;top:-14.08px;left:843.18px;letter-spacing:-4.67px;
}
.s_page14-15_53
{
position:absolute;top:-14.08px;left:1635.81px;letter-spacing:-3.89px;
}
.s_page14-15_54
{
position:absolute;top:-19.5px;left:396.85px;letter-spacing:-0.78px;
}
.s_page14-15_55
{
position:absolute;top:437.19px;left:396.85px;letter-spacing:-0.48px;
}
.s_page14-15_56
{
position:absolute;top:893.88px;left:396.85px;
}
.s_page14-15_57
{
position:absolute;top:1350.58px;left:396.85px;letter-spacing:-1px;
}
.s_page14-15_58
{
position:absolute;top:58.88px;left:0px;letter-spacing:-30.96px;
}
.s_page14-15_59
{
position:absolute;top:213.6px;left:219.83px;
}
.s_page14-15_60
{
position:absolute;top:213.6px;left:453.54px;letter-spacing:-0.52px;
}
.s_page14-15_61
{
position:absolute;top:213.6px;left:1218.66px;letter-spacing:0px;
}
.s_page14-15_62
{
position:absolute;top:213.6px;left:1891.74px;letter-spacing:0px;
}
.s_page14-15_63
{
position:absolute;top:213.6px;left:2631.37px;letter-spacing:-0.19px;
}
.s_page14-15_64
{
position:absolute;top:213.6px;left:3381.92px;
}
.s_page14-15_65
{
position:absolute;top:213.6px;left:3851.15px;
}
.s_page14-15_66
{
position:absolute;top:213.6px;left:4490.16px;
}
.s_page14-15_67
{
position:absolute;top:213.6px;left:4779.22px;letter-spacing:-0.91px;
}
.s_page14-15_68
{
position:absolute;top:213.6px;left:5357.13px;
}
.s_page14-15_69
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-1.99px;
}
.s_page14-15_70
{
position:absolute;top:-19.5px;left:291.46px;letter-spacing:-1.25px;
}
.s_page14-15_71
{
position:absolute;top:-19.5px;left:815.61px;letter-spacing:-2.68px;
}
.s_page14-15_72
{
position:absolute;top:-19.5px;left:1119.54px;letter-spacing:-1.82px;
}
.s_page14-15_73
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-1.47px;
}
.s_page14-15_74
{
position:absolute;top:-19.5px;left:281.84px;letter-spacing:-1.25px;
}
.s_page14-15_75
{
position:absolute;top:-19.5px;left:805.99px;letter-spacing:-2.68px;
}
.s_page14-15_76
{
position:absolute;top:-19.5px;left:1109.92px;letter-spacing:-1.39px;
}
.s_page14-15_77
{
position:absolute;top:-19.5px;left:1883.41px;letter-spacing:-0.42px;
}
.s_page14-15_78
{
position:absolute;top:-19.5px;left:0px;
}
.s_page14-15_79
{
position:absolute;top:-19.5px;left:305.23px;letter-spacing:-0.87px;
}
.s_page14-15_80
{
position:absolute;top:-19.5px;left:972.91px;letter-spacing:-2.68px;
}
.s_page14-15_81
{
position:absolute;top:-19.5px;left:1272.42px;
}
.s_page14-15_82
{
position:absolute;top:-19.5px;left:1726.63px;letter-spacing:-0.45px;
}
.s_page14-15_83
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-3.21px;
}
.s_page14-15_84
{
position:absolute;top:-19.5px;left:294.84px;
}
.s_page14-15_85
{
position:absolute;top:-19.5px;left:947.69px;letter-spacing:-2.68px;
}
.s_page14-15_86
{
position:absolute;top:-19.5px;left:1251.63px;letter-spacing:-0.88px;
}
.s_page14-15_87
{
position:absolute;top:-19.5px;left:1792.68px;letter-spacing:-1px;
}
.s_page14-15_88
{
position:absolute;top:93.31px;left:166.75px;letter-spacing:-1.69px;
}
.s_page14-15_89
{
position:absolute;top:93.31px;left:129.05px;letter-spacing:-1.3px;
}
.s_page14-15_90
{
position:absolute;top:93.31px;left:128.79px;
}
.s_page14-15_91
{
position:absolute;top:93.31px;left:130.35px;letter-spacing:-2.08px;
}
.s_page14-15_92
{
position:absolute;top:93.31px;left:126.84px;letter-spacing:-2.08px;
}
.s_page14-15_93
{
position:absolute;top:93.31px;left:124.37px;letter-spacing:-2.08px;
}
.s_page14-15_94
{
position:absolute;top:-18px;left:192.69px;
}
.s_page14-15_95
{
position:absolute;top:-18px;left:1428.9px;letter-spacing:-1.62px;
}
.s_page14-15_96
{
position:absolute;top:282px;left:216.8px;
}
.s_page14-15_97
{
position:absolute;top:282px;left:1035.19px;
}
.s_page14-15_98
{
position:absolute;top:582px;left:124.65px;letter-spacing:-0.68px;
}
.s_page14-15_99
{
position:absolute;top:582px;left:766.16px;
}
.s_page14-15_100
{
position:absolute;top:582px;left:1055.59px;
}
.s_page14-15_101
{
position:absolute;top:882px;left:96.81px;letter-spacing:-0.33px;
}
.s_page14-15_102
{
position:absolute;top:882px;left:916.16px;letter-spacing:-1.84px;
}
.s_page14-15_103
{
position:absolute;top:882px;left:1209.43px;letter-spacing:-0.69px;
}
.s_page14-15_104
{
position:absolute;top:1182px;left:489.68px;letter-spacing:-0.64px;
}
.s_page14-15_105
{
position:absolute;top:1182px;left:704.48px;
}
.s_page14-15_106
{
position:absolute;top:1182px;left:941.59px;letter-spacing:-1.68px;
}
.s_page14-15_107
{
position:absolute;top:1182px;left:1359.9px;letter-spacing:-3px;
}
.s_page14-15_108
{
position:absolute;top:1482px;left:440.96px;
}
.s_page14-15_109
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-1.99px;
}
.s_page14-15_110
{
position:absolute;top:-19.5px;left:291.46px;
}
.s_page14-15_111
{
position:absolute;top:-19.5px;left:2240px;letter-spacing:-3.21px;
}
.s_page14-15_112
{
position:absolute;top:-19.5px;left:2534.84px;letter-spacing:-0.52px;
}
.s_page14-15_113
{
position:absolute;top:-19.5px;left:5220px;letter-spacing:-1.47px;
}
.s_page14-15_114
{
position:absolute;top:-19.5px;left:5501.84px;letter-spacing:0px;
}
.s_page14-15_115
{
position:absolute;top:380.5px;left:0px;
}
.s_page14-15_116
{
position:absolute;top:380.5px;left:305.23px;letter-spacing:-0.76px;
}
.s_page14-15_117
{
position:absolute;top:380.5px;left:2240px;letter-spacing:-2.17px;
}
.s_page14-15_118
{
position:absolute;top:380.5px;left:2526.52px;
}
.s_page14-15_119
{
position:absolute;top:380.5px;left:3246.44px;letter-spacing:-1.47px;
}
.s_page14-15_120
{
position:absolute;top:380.5px;left:4003.55px;
}
.s_page14-15_121
{
position:absolute;top:380.5px;left:5220px;
}
.s_page14-15_122
{
position:absolute;top:380.5px;left:5466.21px;letter-spacing:-1.08px;
}
.s_page14-15_123
{
position:absolute;top:380.5px;left:6229.04px;letter-spacing:0px;
}
.s_page14-15_124
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-0.48px;
}
.s_page14-15_125
{
position:absolute;top:-19.5px;left:810.41px;
}
.s_page14-15_126
{
position:absolute;top:-19.5px;left:1259.68px;letter-spacing:-1.82px;
}
.s_page14-15_127
{
position:absolute;top:-19.5px;left:2056.31px;
}
.s_page14-15_128
{
position:absolute;top:-19.5px;left:2365.44px;
}
.s_page14-15_129
{
position:absolute;top:-19.5px;left:2819.65px;letter-spacing:-0.78px;
}
.s_page14-15_130
{
position:absolute;top:-19.5px;left:3840.13px;letter-spacing:-3.38px;
}
.s_page14-15_131
{
position:absolute;top:-19.5px;left:4185.67px;
}
.s_page14-15_132
{
position:absolute;top:-19.5px;left:5076.41px;
}
.s_page14-15_133
{
position:absolute;top:-19.5px;left:5530.62px;letter-spacing:-1.23px;
}
.s_page14-15_134
{
position:absolute;top:-19.5px;left:6449.71px;letter-spacing:-0.85px;
}
.s_page14-15_135
{
position:absolute;top:-19.5px;left:7429.63px;
}
.s_page14-15_136
{
position:absolute;top:-19.5px;left:7701.85px;
}
.s_page14-15_137
{
position:absolute;top:-19.5px;left:8156.06px;letter-spacing:-0.78px;
}
.s_page14-15_138
{
position:absolute;top:41.44px;left:134.15px;
}
.s_page14-15_139
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-0.89px;
}
.s_page14-15_140
{
position:absolute;top:-19.5px;left:829.65px;
}
.s_page14-15_141
{
position:absolute;top:-19.5px;left:1062.61px;letter-spacing:-0.26px;
}
.s_page14-15_142
{
position:absolute;top:-19.5px;left:2259.11px;letter-spacing:-0.78px;
}
.s_page14-15_143
{
position:absolute;top:-19.5px;left:2956.94px;letter-spacing:-0.78px;
}
.s_page14-15_144
{
position:absolute;top:-19.5px;left:3378.66px;letter-spacing:-1.66px;
}
.s_page14-15_145
{
position:absolute;top:-19.5px;left:4047.11px;
}
.s_page14-15_146
{
position:absolute;top:-19.5px;left:4858.3px;letter-spacing:-0.1px;
}
.s_page14-15_147
{
position:absolute;top:-19.5px;left:6562.31px;letter-spacing:-2.51px;
}
.s_page14-15_148
{
position:absolute;top:380.5px;left:0px;letter-spacing:-0.63px;
}
.s_page14-15_149
{
position:absolute;top:380.5px;left:795.85px;letter-spacing:-0.26px;
}
.s_page14-15_150
{
position:absolute;top:380.5px;left:1315.07px;letter-spacing:-0.78px;
}
.s_page14-15_151
{
position:absolute;top:380.5px;left:1736.78px;letter-spacing:-0.62px;
}
.s_page14-15_152
{
position:absolute;top:380.5px;left:2304.87px;
}
.s_page14-15_153
{
position:absolute;top:380.5px;left:2596.33px;letter-spacing:-0.9px;
}
.s_page14-15_154
{
position:absolute;top:380.5px;left:3497.99px;letter-spacing:-1.73px;
}
.s_page14-15_155
{
position:absolute;top:380.5px;left:4082.73px;letter-spacing:-0.62px;
}
.s_page14-15_156
{
position:absolute;top:380.5px;left:4646.92px;letter-spacing:0px;
}
.s_page14-15_157
{
position:absolute;top:380.5px;left:5357.74px;letter-spacing:0px;
}
.s_page14-15_158
{
position:absolute;top:380.5px;left:6015.27px;letter-spacing:-2.51px;
}
.s_page14-15_159
{
position:absolute;top:380.5px;left:6293.73px;
}
.s_page14-15_160
{
position:absolute;top:-26.96px;left:0px;letter-spacing:18.33px;-webkit-transform-origin: 0% 759.55px;-webkit-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 759.55px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page14-15_161
{
position:absolute;top:-26.96px;left:1043.86px;letter-spacing:22.92px;-webkit-transform-origin: 0% 759.55px;-webkit-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 759.55px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page14-15_162
{
position:absolute;top:-26.96px;left:3378.79px;letter-spacing:18.33px;-webkit-transform-origin: 0% 759.55px;-webkit-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 759.55px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page14-15_163
{
position:absolute;top:-26.96px;left:4471.37px;letter-spacing:22.92px;-webkit-transform-origin: 0% 759.55px;-webkit-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 759.55px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page14-15_164
{
position:absolute;top:41.44px;left:134.15px;
}
.s_page14-15_165
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-2.7px;
}
.s_page14-15_166
{
position:absolute;top:-19.5px;left:1520.2px;
}
.s_page14-15_167
{
position:absolute;top:-19.5px;left:2069.57px;letter-spacing:-0.52px;
}
.s_page14-15_168
{
position:absolute;top:-19.5px;left:2917.68px;
}
.s_page14-15_169
{
position:absolute;top:-19.5px;left:3253.07px;letter-spacing:-1.47px;
}
.s_page14-15_170
{
position:absolute;top:-19.5px;left:4010.18px;letter-spacing:-0.22px;
}
.s_page14-15_171
{
position:absolute;top:-19.5px;left:4810.44px;letter-spacing:-1.75px;
}
.s_page14-15_172
{
position:absolute;top:-19.5px;left:5264.92px;letter-spacing:-0.82px;
}
.s_page14-15_173
{
position:absolute;top:380.5px;left:0px;
}
.s_page14-15_174
{
position:absolute;top:380.5px;left:1027.76px;letter-spacing:-2.34px;
}
.s_page14-15_175
{
position:absolute;top:380.5px;left:1660.6px;
}
.s_page14-15_176
{
position:absolute;top:380.5px;left:2152.78px;letter-spacing:-0.55px;
}
.s_page14-15_177
{
position:absolute;top:380.5px;left:3065.1px;letter-spacing:-0.88px;
}
.s_page14-15_178
{
position:absolute;top:380.5px;left:4105.6px;letter-spacing:-0.54px;
}
.s_page14-15_179
{
position:absolute;top:380.5px;left:5786.99px;letter-spacing:0px;
}
.s_page14-15_180
{
position:absolute;top:380.5px;left:6298.14px;letter-spacing:0px;
}
.s_page14-15_181
{
position:absolute;top:780.5px;left:0px;letter-spacing:-1px;
}
.s_page14-15_182
{
position:absolute;top:780.5px;left:880.09px;
}
.s_page14-15_183
{
position:absolute;top:780.5px;left:1845.71px;letter-spacing:-1.47px;
}
.s_page14-15_184
{
position:absolute;top:780.5px;left:2599.18px;letter-spacing:-2.6px;
}
.s_page14-15_185
{
position:absolute;top:780.5px;left:3004.51px;
}
.s_page14-15_186
{
position:absolute;top:780.5px;left:3368.24px;
}
.s_page14-15_187
{
position:absolute;top:780.5px;left:3681.8px;
}
.s_page14-15_188
{
position:absolute;top:780.5px;left:3972.21px;letter-spacing:-0.82px;
}
.s_page14-15_189
{
position:absolute;top:780.5px;left:4747.77px;letter-spacing:-2.34px;
}
.s_page14-15_190
{
position:absolute;top:780.5px;left:5380.61px;letter-spacing:0px;
}
.s_page14-15_191
{
position:absolute;top:780.5px;left:5872.78px;letter-spacing:-1.66px;
}
.s_page14-15_192
{
position:absolute;top:1180.5px;left:0px;letter-spacing:-0.55px;
}
.s_page14-15_193
{
position:absolute;top:1180.5px;left:912.32px;
}
.s_page14-15_194
{
position:absolute;top:1180.5px;left:1188.96px;letter-spacing:-1px;
}
.s_page14-15_195
{
position:absolute;top:1180.5px;left:1890.68px;letter-spacing:-0.48px;
}
.s_page14-15_196
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-0.52px;
}
.s_page14-15_197
{
position:absolute;top:-19.5px;left:885.81px;
}
.s_page14-15_198
{
position:absolute;top:-19.5px;left:1221.72px;
}
.s_page14-15_199
{
position:absolute;top:-19.5px;left:1675.93px;letter-spacing:-1.23px;
}
.s_page14-15_200
{
position:absolute;top:-19.5px;left:2593.46px;letter-spacing:-0.48px;
}
.s_page14-15_201
{
position:absolute;top:-19.5px;left:3274.13px;letter-spacing:-2.68px;
}
.s_page14-15_202
{
position:absolute;top:-19.5px;left:3578.07px;letter-spacing:-4.68px;
}
.s_page14-15_203
{
position:absolute;top:-19.5px;left:4297.48px;
}
.s_page14-15_204
{
position:absolute;top:-19.5px;left:5376.2px;letter-spacing:0px;
}
.s_page14-15_205
{
position:absolute;top:-19.5px;left:5633.07px;letter-spacing:-0.39px;
}
.s_page14-15_206
{
position:absolute;top:-19.5px;left:6326.22px;letter-spacing:0px;
}
.s_page14-15_207
{
position:absolute;top:360.5px;left:0px;
}
.s_page14-15_208
{
position:absolute;top:360.5px;left:340.33px;letter-spacing:-3.25px;
}
.s_page14-15_209
{
position:absolute;top:360.5px;left:547.81px;
}
.s_page14-15_210
{
position:absolute;top:360.5px;left:1675.16px;
}
.s_page14-15_211
{
position:absolute;top:360.5px;left:1984.29px;letter-spacing:-1.17px;
}
.s_page14-15_212
{
position:absolute;top:360.5px;left:2621.01px;letter-spacing:-0.45px;
}
.s_page14-15_213
{
position:absolute;top:360.5px;left:3618.88px;
}
.s_page14-15_214
{
position:absolute;top:360.5px;left:4130.04px;letter-spacing:-0.4px;
}
.s_page14-15_215
{
position:absolute;top:360.5px;left:5345.25px;letter-spacing:0px;
}
.s_page14-15_216
{
position:absolute;top:740.5px;left:0px;letter-spacing:-2.68px;
}
.s_page14-15_217
{
position:absolute;top:740.5px;left:303.94px;
}
.s_page14-15_218
{
position:absolute;top:740.5px;left:654.41px;letter-spacing:-0.69px;
}
.s_page14-15_219
{
position:absolute;top:740.5px;left:1775.77px;text-rendering:optimizeLegibility;letter-spacing:-0.43px;
}
.s_page14-15_220
{
position:absolute;top:740.5px;left:3980.02px;
}
.s_page14-15_221
{
position:absolute;top:740.5px;left:4491.17px;letter-spacing:-0.5px;
}
.s_page14-15_222
{
position:absolute;top:1120.5px;left:0px;
}
.s_page14-15_223
{
position:absolute;top:-19.5px;left:0px;text-rendering:optimizeLegibility;letter-spacing:-0.49px;
}
.s_page14-15_224
{
position:absolute;top:-19.5px;left:1083.14px;
}
.s_page14-15_225
{
position:absolute;top:-19.5px;left:1988.96px;
}
.s_page14-15_226
{
position:absolute;top:-19.5px;left:2123.37px;letter-spacing:-0.62px;
}
.s_page14-15_227
{
position:absolute;top:-19.5px;left:3291.53px;letter-spacing:-0.52px;
}
.s_page14-15_228
{
position:absolute;top:-19.5px;left:4139.64px;
}
.s_page14-15_229
{
position:absolute;top:-19.5px;left:4475.56px;
}
.s_page14-15_230
{
position:absolute;top:-19.5px;left:4929.77px;letter-spacing:-0.41px;
}
.s_page14-15_231
{
position:absolute;top:-19.5px;left:5799.98px;text-rendering:optimizeLegibility;letter-spacing:-2.44px;
}
.s_page14-15_232
{
position:absolute;top:-19.5px;left:6678.5px;letter-spacing:0px;
}
.s_page14-15_233
{
position:absolute;top:380.5px;left:0px;
}
.s_page14-15_234
{
position:absolute;top:380.5px;left:449.27px;letter-spacing:-1.33px;
}
.s_page14-15_235
{
position:absolute;top:380.5px;left:1374.85px;letter-spacing:-0.97px;
}
.s_page14-15_236
{
position:absolute;top:380.5px;left:2255.2px;text-rendering:optimizeLegibility;letter-spacing:-2.44px;
}
.s_page14-15_237
{
position:absolute;top:380.5px;left:3131.12px;letter-spacing:-0.69px;
}
.s_page14-15_238
{
position:absolute;top:380.5px;left:3363.82px;
}
.s_page14-15_239
{
position:absolute;top:380.5px;left:4175.27px;letter-spacing:-2.68px;
}
.s_page14-15_240
{
position:absolute;top:380.5px;left:4479.2px;letter-spacing:-1.17px;
}
.s_page14-15_241
{
position:absolute;top:380.5px;left:5333.55px;text-rendering:optimizeLegibility;letter-spacing:0px;
}
.s_page14-15_242
{
position:absolute;top:380.5px;left:5976.52px;letter-spacing:0px;
}
.s_page14-15_243
{
position:absolute;top:380.5px;left:6487.67px;letter-spacing:0px;
}
.s_page14-15_244
{
position:absolute;top:780.5px;left:0px;letter-spacing:-0.52px;
}
.s_page14-15_245
{
position:absolute;top:780.5px;left:778.69px;
}
.s_page14-15_246
{
position:absolute;top:780.5px;left:1142.42px;
}
.s_page14-15_247
{
position:absolute;top:780.5px;left:1455.97px;letter-spacing:-1.47px;
}
.s_page14-15_248
{
position:absolute;top:780.5px;left:1977.78px;letter-spacing:-0.69px;
}
.s_page14-15_249
{
position:absolute;top:780.5px;left:2210.47px;
}
.s_page14-15_250
{
position:absolute;top:780.5px;left:2696.92px;
}
.s_page14-15_251
{
position:absolute;top:780.5px;left:3063px;letter-spacing:-1.27px;
}
.s_page14-15_252
{
position:absolute;top:780.5px;left:3937.11px;
}
.s_page14-15_253
{
position:absolute;top:780.5px;left:4303.18px;letter-spacing:-1.34px;
}
.s_page14-15_254
{
position:absolute;top:780.5px;left:5050.41px;letter-spacing:0px;
}
.s_page14-15_255
{
position:absolute;top:780.5px;left:5561.56px;
}
.s_page14-15_256
{
position:absolute;top:780.5px;left:5927.63px;letter-spacing:0px;
}
.s_page14-15_257
{
position:absolute;top:1180.5px;left:0px;letter-spacing:-0.69px;
}
.s_page14-15_258
{
position:absolute;top:1180.5px;left:232.69px;
}
.s_page14-15_259
{
position:absolute;top:1180.5px;left:485.93px;letter-spacing:-0.74px;
}
.s_page14-15_260
{
position:absolute;top:1180.5px;left:1237.32px;
}
.s_page14-15_261
{
position:absolute;top:1180.5px;left:1509.53px;
}
.s_page14-15_262
{
position:absolute;top:1180.5px;left:1963.74px;
}
.s_page14-15_263
{
position:absolute;top:1180.5px;left:3213.8px;
}
.s_page14-15_264
{
position:absolute;top:1180.5px;left:3922.03px;
}
.s_page14-15_265
{
position:absolute;top:1180.5px;left:4805.5px;letter-spacing:-2.68px;
}
.s_page14-15_266
{
position:absolute;top:1180.5px;left:5109.43px;letter-spacing:-1.01px;
}
.s_page14-15_267
{
position:absolute;top:1180.5px;left:6171.78px;letter-spacing:0px;
}
.s_page14-15_268
{
position:absolute;top:1580.5px;left:0px;letter-spacing:-0.41px;
}
.s_page14-15_269
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-0.45px;
}
.s_page14-15_270
{
position:absolute;top:-19.5px;left:496.34px;letter-spacing:-1.63px;
}
.s_page14-15_271
{
position:absolute;top:-19.5px;left:1936.21px;letter-spacing:-0.94px;
}
.s_page14-15_272
{
position:absolute;top:-19.5px;left:2830.07px;
}
.s_page14-15_273
{
position:absolute;top:-19.5px;left:3106.71px;letter-spacing:-0.91px;
}
.s_page14-15_274
{
position:absolute;top:-19.5px;left:4394.22px;
}
.s_page14-15_275
{
position:absolute;top:-19.5px;left:4880.67px;
}
.s_page14-15_276
{
position:absolute;top:-19.5px;left:5315.12px;letter-spacing:-3.25px;
}
.s_page14-15_277
{
position:absolute;top:-19.5px;left:5522.6px;letter-spacing:-2.52px;
}
.s_page14-15_278
{
position:absolute;top:-19.5px;left:6359.26px;letter-spacing:-3.38px;
}
.s_page14-15_279
{
position:absolute;top:360.5px;left:0px;letter-spacing:-0.92px;
}
.s_page14-15_280
{
position:absolute;top:360.5px;left:1153.86px;
}
.s_page14-15_281
{
position:absolute;top:360.5px;left:1580.51px;letter-spacing:-0.88px;
}
.s_page14-15_282
{
position:absolute;top:360.5px;left:2120px;letter-spacing:-1.49px;
}
.s_page14-15_283
{
position:absolute;top:360.5px;left:2583.05px;letter-spacing:-3.43px;
}
.s_page14-15_284
{
position:absolute;top:360.5px;left:3131.64px;letter-spacing:-0.69px;
}
.s_page14-15_285
{
position:absolute;top:360.5px;left:3364.33px;
}
.s_page14-15_286
{
position:absolute;top:360.5px;left:3616.78px;
}
.s_page14-15_287
{
position:absolute;top:360.5px;left:4067.36px;
}
.s_page14-15_288
{
position:absolute;top:360.5px;left:4957.06px;
}
.s_page14-15_289
{
position:absolute;top:360.5px;left:5890.96px;letter-spacing:-0.75px;
}
.s_page14-15_290
{
position:absolute;top:740.5px;left:0px;
}
.s_page14-15_291
{
position:absolute;top:740.5px;left:272.22px;
}
.s_page14-15_292
{
position:absolute;top:740.5px;left:721.49px;letter-spacing:-0.52px;
}
.s_page14-15_293
{
position:absolute;top:-12.32px;left:0px;
}
.s_page14-15_294
{
position:absolute;top:-12.32px;left:420.83px;letter-spacing:-5.11px;
}
.s_page14-15_295
{
position:absolute;top:-12.32px;left:971.57px;letter-spacing:-6.86px;
}
.s_page14-15_296
{
position:absolute;top:-19.5px;left:0px;letter-spacing:-0.45px;
}
.s_page14-15_297
{
position:absolute;top:-19.5px;left:503.1px;
}
.s_page14-15_298
{
position:absolute;top:-19.5px;left:1099.26px;letter-spacing:-2.68px;
}
.s_page14-15_299
{
position:absolute;top:-19.5px;left:1398.78px;
}
.s_page14-15_300
{
position:absolute;top:-19.5px;left:1848.05px;letter-spacing:-0.45px;
}
.s_page14-15_301
{
position:absolute;top:-19.5px;left:2661.58px;letter-spacing:-1.4px;
}
.s_page14-15_302
{
position:absolute;top:-19.5px;left:3210.17px;
}
.s_page14-15_303
{
position:absolute;top:-19.5px;left:3696.62px;letter-spacing:-3.25px;
}
.s_page14-15_304
{
position:absolute;top:-19.5px;left:3904.1px;
}
.s_page14-15_305
{
position:absolute;top:360.5px;left:0px;
}
.s_page14-15_306
{
position:absolute;top:360.5px;left:760.49px;
}
.s_page14-15_307
{
position:absolute;top:360.5px;left:1553.48px;
}
.s_page14-15_308
{
position:absolute;top:360.5px;left:2319.17px;
}
.s_page14-15_309
{
position:absolute;top:360.5px;left:2576.04px;
}
.s_page14-15_310
{
position:absolute;top:360.5px;left:3210.17px;
}
.s_page14-15_311
{
position:absolute;top:360.5px;left:3523.72px;letter-spacing:-1.82px;
}
.s_page14-15_312
{
position:absolute;top:360.5px;left:4225.2px;
}
.s_page14-15_313
{
position:absolute;top:740.5px;left:0px;letter-spacing:-0.19px;
}
.s_page14-15_314
{
position:absolute;top:740.5px;left:952.62px;letter-spacing:-0.62px;
}
.s_page14-15_315
{
position:absolute;top:740.5px;left:2172.01px;
}
.s_page14-15_316
{
position:absolute;top:740.5px;left:2806.14px;
}
.s_page14-15_317
{
position:absolute;top:740.5px;left:3260.35px;
}
.s_page14-15_318
{
position:absolute;top:740.5px;left:3856.51px;letter-spacing:-2.68px;
}
.s_page14-15_319
{
position:absolute;top:740.5px;left:4156.03px;
}
.s_page14-15_320
{
position:absolute;top:740.5px;left:4605.82px;letter-spacing:-1.4px;
}
.s_page14-15_321
{
position:absolute;top:740.5px;left:5149.99px;letter-spacing:0px;
}
.s_page14-15_322
{
position:absolute;top:1120.5px;left:0px;letter-spacing:-1.41px;
}
.s_page14-15_323
{
position:absolute;top:1120.5px;left:881.91px;
}
.s_page14-15_324
{
position:absolute;top:1120.5px;left:1452.6px;
}
.s_page14-15_325
{
position:absolute;top:1120.5px;left:1963.75px;
}

.page14_position1 {
	position:absolute;
	top: 181px;
	left: 203px;
}
.page14_position2 {
	position:absolute;
	top: 181px;
	left: 366px;
}
.page14_position3 {
	position:absolute;
	top: 180px;
	left: 531px;
}
.page14_position4 {
	position:absolute;
	top: 309px;
	left: 205px;
}
.page14_position5 {
	position:absolute;
	top: 310px;
	left: 368px;
}
.page14_position6 {
	position:absolute;
	top: 309px;
	left: 532px;
}
.page14_position7 {
	position:absolute;
	top: 581px;
	left: 167px;
}
.page14_position8 {
	position:absolute;
	top: 590px;
	left: 256px;
}
.page14_position9 {
	position:absolute;
	top: 580px;
	left: 358px;
}
.page14_position10 {
	position:absolute;
	top: 586px;
	left: 457px;
}

.page14_btn1 {
	position:absolute;
	top: 337px;
	left: 290px;
}
.page14_btn2 {
	position:absolute;
	top: 338px;
	left: 233px;
}
.page14_btn3 {
	position:absolute;
	top: 617px;
	left: 440px;
}
.page14_btn4 {
	position:absolute;
	top: 617px;
	left: 385px;
}
.page14_btn5 {
	position:absolute;
	top: 780px;
	left: 233px;
}


.match14 {
	height: 113px;
	display:none;
	width: 67px;
}
.match_image1_p14_14{
	position: absolute;
	top: 651px;
	left: 143px;
}

#l1{
	position: absolute;
	top: 651px;
	left: 143px;
}
#l2{
	position: absolute;
	top: 682px;
	left: 143px;
}
#l3{
	position: absolute;
	top: 715px;
	left: 143px;
}
#l4{
	position: absolute;
	top: 748px;
	left: 143px;
}

#r1{
	position: absolute;
	top: 652px;
	left: 192px;
}
#r2{
	position: absolute;
	top: 682px;
	left: 192px;
}
#r3{
	position: absolute;
	top: 714px;
	left: 192px;
}
#r4{
	position: absolute;
	top: 746px;
	left: 192px;
}
