.d_1_Chapter_11-12-13-3_1
{
position:absolute;
overflow:hidden;
left:0px;
top:0px;
transform:translate(0.00px,0.00px);
-webkit-transform:translate(0.00px,0.00px);
-ms-transform:translate(0.00px,0.00px);
-o-transform:translate(0.00px,0.00px);
-moz-transform:translate(0.00px,0.00px);
width:595.28px;
height:841.89px
}
.d_1_Chapter_11-12-13-3_2
{
width:9848.39px;
height:832px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-3_3
{
width:8821.97px;
height:198.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-3_4
{
width:9723.01px;
height:511.74px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-3_5
{
width:9384.04px;
height:5124.44px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-3_6
{
width:229.61px;
height:243.78px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-3_7
{
width:229.61px;
height:243.78px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-3_8
{
width:229.61px;
height:243.78px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-3_9
{
width:229.61px;
height:243.78px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-3_10
{
width:229.61px;
height:243.78px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-3_11
{
width:229.61px;
height:243.78px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-3_12
{
width:2264.84px;
height:288px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-3_13
{
width:8055.65px;
height:684.1px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-3_14
{
width:9505.32px;
height:655.59px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-3_15
{
width:560.18px;
height:401.47px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-3_16
{
position:absolute;
overflow:hidden;
left:0px;
top:0px;
transform:translate(595.28px,0.00px);
-webkit-transform:translate(595.28px,0.00px);
-ms-transform:translate(595.28px,0.00px);
-o-transform:translate(595.28px,0.00px);
-moz-transform:translate(595.28px,0.00px);
width:595.28px;
height:841.89px
}
.d_1_Chapter_11-12-13-3_17
{
width:560.18px;
height:401.47px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-3_18
{
width:7337.51px;
height:1003.12px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-3_19
{
width:9861.2px;
height:832px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-3_20
{
width:1884.76px;
height:288px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-3_21
{
width:9154.37px;
height:655.59px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-3_22
{
width:2227.18px;
height:1798.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-3_23
{
width:250.63px;
height:205.08px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-3_24
{
width:2227.18px;
height:998.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-3_25
{
width:250.63px;
height:205.08px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-3_26
{
width:2227.18px;
height:1398.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-3_27
{
width:250.63px;
height:205.08px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-3_28
{
width:2227.18px;
height:1398.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-3_29
{
width:250.63px;
height:205.08px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-3_30
{
width:9871.63px;
height:655.59px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-3_31
{
width:2227.18px;
height:998.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-3_32
{
width:250.63px;
height:205.08px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-3_33
{
width:2118.86px;
height:1398.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-3_34
{
width:250.63px;
height:205.08px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.s_1_Chapter_11-12-13-3_35
{
position:absolute;
top:58.88px;
left:0px;
letter-spacing:-7.92px;
}
.s_1_Chapter_11-12-13-3_36
{
position:absolute;
top:213.6px;
left:305.76px;
}
.s_1_Chapter_11-12-13-3_37
{
position:absolute;
top:213.6px;
left:453.54px;
letter-spacing:-0.95px;
}
.s_1_Chapter_11-12-13-3_38
{
position:absolute;
top:213.6px;
left:1370.55px;
}
.s_1_Chapter_11-12-13-3_39
{
position:absolute;
top:213.6px;
left:2044.98px;
letter-spacing:-0.19px;
}
.s_1_Chapter_11-12-13-3_40
{
position:absolute;
top:213.6px;
left:2937.03px;
letter-spacing:-0.22px;
}
.s_1_Chapter_11-12-13-3_41
{
position:absolute;
top:213.6px;
left:3586.5px;
letter-spacing:-0.62px;
}
.s_1_Chapter_11-12-13-3_42
{
position:absolute;
top:213.6px;
left:4180.6px;
}
.s_1_Chapter_11-12-13-3_43
{
position:absolute;
top:213.6px;
left:4601.27px;
letter-spacing:-0.43px;
}
.s_1_Chapter_11-12-13-3_44
{
position:absolute;
top:213.6px;
left:5297.02px;
letter-spacing:-2.51px;
}
.s_1_Chapter_11-12-13-3_45
{
position:absolute;
top:213.6px;
left:5576.52px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-3_46
{
position:absolute;
top:213.6px;
left:6663.55px;
letter-spacing:-1.47px;
}
.s_1_Chapter_11-12-13-3_47
{
position:absolute;
top:213.6px;
left:7340.06px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-3_48
{
position:absolute;
top:213.6px;
left:7761.78px;
letter-spacing:-0.39px;
}
.s_1_Chapter_11-12-13-3_49
{
position:absolute;
top:213.6px;
left:8621.33px;
letter-spacing:-1.34px;
}
.s_1_Chapter_11-12-13-3_50
{
position:absolute;
top:213.6px;
left:9492.58px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-3_51
{
position:absolute;
top:613.6px;
left:453.54px;
}
.s_1_Chapter_11-12-13-3_52
{
position:absolute;
top:613.6px;
left:875.26px;
letter-spacing:-0.95px;
}
.s_1_Chapter_11-12-13-3_53
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.45px;
}
.s_1_Chapter_11-12-13-3_54
{
position:absolute;
top:-19.5px;
left:503.1px;
}
.s_1_Chapter_11-12-13-3_55
{
position:absolute;
top:-19.5px;
left:1262.54px;
letter-spacing:-0.75px;
}
.s_1_Chapter_11-12-13-3_56
{
position:absolute;
top:-19.5px;
left:2531.33px;
letter-spacing:-0.47px;
}
.s_1_Chapter_11-12-13-3_57
{
position:absolute;
top:-19.5px;
left:3374.25px;
}
.s_1_Chapter_11-12-13-3_58
{
position:absolute;
top:-19.5px;
left:4267.07px;
letter-spacing:-2.68px;
}
.s_1_Chapter_11-12-13-3_59
{
position:absolute;
top:-19.5px;
left:4571.01px;
letter-spacing:-0.36px;
}
.s_1_Chapter_11-12-13-3_60
{
position:absolute;
top:-19.5px;
left:5382.21px;
letter-spacing:-3.34px;
}
.s_1_Chapter_11-12-13-3_61
{
position:absolute;
top:-19.5px;
left:6322.36px;
letter-spacing:-0.39px;
}
.s_1_Chapter_11-12-13-3_62
{
position:absolute;
top:-19.5px;
left:7218.31px;
letter-spacing:-2.68px;
}
.s_1_Chapter_11-12-13-3_63
{
position:absolute;
top:-19.5px;
left:7522.25px;
letter-spacing:-0.75px;
}
.s_1_Chapter_11-12-13-3_64
{
position:absolute;
top:58.88px;
left:0px;
letter-spacing:-7.92px;
}
.s_1_Chapter_11-12-13-3_65
{
position:absolute;
top:213.6px;
left:329.76px;
}
.s_1_Chapter_11-12-13-3_66
{
position:absolute;
top:213.6px;
left:453.54px;
letter-spacing:-0.57px;
}
.s_1_Chapter_11-12-13-3_67
{
position:absolute;
top:213.6px;
left:1075.46px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-3_68
{
position:absolute;
top:213.6px;
left:1497.17px;
}
.s_1_Chapter_11-12-13-3_69
{
position:absolute;
top:213.6px;
left:2120.9px;
}
.s_1_Chapter_11-12-13-3_70
{
position:absolute;
top:213.6px;
left:2412.35px;
letter-spacing:-0.69px;
}
.s_1_Chapter_11-12-13-3_71
{
position:absolute;
top:213.6px;
left:3323.9px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_11-12-13-3_72
{
position:absolute;
top:213.6px;
left:3911.75px;
}
.s_1_Chapter_11-12-13-3_73
{
position:absolute;
top:213.6px;
left:4637.66px;
}
.s_1_Chapter_11-12-13-3_74
{
position:absolute;
top:213.6px;
left:4970.71px;
}
.s_1_Chapter_11-12-13-3_75
{
position:absolute;
top:213.6px;
left:5392.42px;
letter-spacing:-0.47px;
}
.s_1_Chapter_11-12-13-3_76
{
position:absolute;
top:213.6px;
left:5790.74px;
letter-spacing:-2.51px;
}
.s_1_Chapter_11-12-13-3_77
{
position:absolute;
top:213.6px;
left:6070.24px;
letter-spacing:-0.19px;
}
.s_1_Chapter_11-12-13-3_78
{
position:absolute;
top:213.6px;
left:6962.29px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-3_79
{
position:absolute;
top:213.6px;
left:7988.48px;
}
.s_1_Chapter_11-12-13-3_80
{
position:absolute;
top:-19.5px;
left:396.85px;
letter-spacing:-0.36px;
}
.s_1_Chapter_11-12-13-3_81
{
position:absolute;
top:-19.5px;
left:938.69px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_11-12-13-3_82
{
position:absolute;
top:-19.5px;
left:1440.22px;
letter-spacing:-0.62px;
}
.s_1_Chapter_11-12-13-3_83
{
position:absolute;
top:-19.5px;
left:2809.1px;
letter-spacing:-3.25px;
}
.s_1_Chapter_11-12-13-3_84
{
position:absolute;
top:-19.5px;
left:3016.58px;
letter-spacing:-1.27px;
}
.s_1_Chapter_11-12-13-3_85
{
position:absolute;
top:-19.5px;
left:3819.96px;
letter-spacing:-0.39px;
}
.s_1_Chapter_11-12-13-3_86
{
position:absolute;
top:-19.5px;
left:4915.33px;
letter-spacing:-0.78px;
}
.s_1_Chapter_11-12-13-3_87
{
position:absolute;
top:-19.5px;
left:5436.62px;
}
.s_1_Chapter_11-12-13-3_88
{
position:absolute;
top:-19.5px;
left:6377.8px;
letter-spacing:-0.57px;
}
.s_1_Chapter_11-12-13-3_89
{
position:absolute;
top:-19.5px;
left:7752.4px;
letter-spacing:-0.26px;
}
.s_1_Chapter_11-12-13-3_90
{
position:absolute;
top:380.5px;
left:396.85px;
}
.s_1_Chapter_11-12-13-3_91
{
position:absolute;
top:380.5px;
left:1134.71px;
}
.s_1_Chapter_11-12-13-3_92
{
position:absolute;
top:380.5px;
left:1645.87px;
letter-spacing:-0.85px;
}
.s_1_Chapter_11-12-13-3_93
{
position:absolute;
top:380.5px;
left:2908.93px;
}
.s_1_Chapter_11-12-13-3_94
{
position:absolute;
top:380.5px;
left:3415.66px;
}
.s_1_Chapter_11-12-13-3_95
{
position:absolute;
top:380.5px;
left:3869.87px;
}
.s_1_Chapter_11-12-13-3_96
{
position:absolute;
top:380.5px;
left:4513.88px;
}
.s_1_Chapter_11-12-13-3_97
{
position:absolute;
top:380.5px;
left:5061.17px;
letter-spacing:-2.04px;
}
.s_1_Chapter_11-12-13-3_98
{
position:absolute;
top:380.5px;
left:5771.48px;
letter-spacing:-0.73px;
}
.s_1_Chapter_11-12-13-3_99
{
position:absolute;
top:380.5px;
left:6385.85px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-3_100
{
position:absolute;
top:380.5px;
left:6897px;
letter-spacing:-0.31px;
}
.s_1_Chapter_11-12-13-3_101
{
position:absolute;
top:380.5px;
left:7306.75px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-3_102
{
position:absolute;
top:380.5px;
left:8069.06px;
letter-spacing:-0.41px;
}
.s_1_Chapter_11-12-13-3_103
{
position:absolute;
top:780.5px;
left:396.85px;
}
.s_1_Chapter_11-12-13-3_104
{
position:absolute;
top:1237.19px;
left:396.85px;
letter-spacing:-0.36px;
}
.s_1_Chapter_11-12-13-3_105
{
position:absolute;
top:1237.19px;
left:942.32px;
}
.s_1_Chapter_11-12-13-3_106
{
position:absolute;
top:1237.19px;
left:1533.81px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_11-12-13-3_107
{
position:absolute;
top:1237.19px;
left:2035.34px;
}
.s_1_Chapter_11-12-13-3_108
{
position:absolute;
top:1237.19px;
left:2292.22px;
}
.s_1_Chapter_11-12-13-3_109
{
position:absolute;
top:1237.19px;
left:3077.66px;
}
.s_1_Chapter_11-12-13-3_110
{
position:absolute;
top:1237.19px;
left:3443.74px;
letter-spacing:-0.78px;
}
.s_1_Chapter_11-12-13-3_111
{
position:absolute;
top:1237.19px;
left:4017.55px;
letter-spacing:-0.57px;
}
.s_1_Chapter_11-12-13-3_112
{
position:absolute;
top:1237.19px;
left:4692.5px;
letter-spacing:-2.01px;
}
.s_1_Chapter_11-12-13-3_113
{
position:absolute;
top:1237.19px;
left:6076.73px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-3_114
{
position:absolute;
top:1237.19px;
left:6998.4px;
}
.s_1_Chapter_11-12-13-3_115
{
position:absolute;
top:1237.19px;
left:7452.62px;
letter-spacing:-2.51px;
}
.s_1_Chapter_11-12-13-3_116
{
position:absolute;
top:1637.19px;
left:396.85px;
letter-spacing:-1.62px;
}
.s_1_Chapter_11-12-13-3_117
{
position:absolute;
top:1637.19px;
left:1361.44px;
letter-spacing:-1.4px;
}
.s_1_Chapter_11-12-13-3_118
{
position:absolute;
top:1637.19px;
left:1994.79px;
}
.s_1_Chapter_11-12-13-3_119
{
position:absolute;
top:1637.19px;
left:2397.78px;
}
.s_1_Chapter_11-12-13-3_120
{
position:absolute;
top:1637.19px;
left:3187.38px;
letter-spacing:-1.4px;
}
.s_1_Chapter_11-12-13-3_121
{
position:absolute;
top:1637.19px;
left:3877.93px;
}
.s_1_Chapter_11-12-13-3_122
{
position:absolute;
top:1637.19px;
left:4384.67px;
}
.s_1_Chapter_11-12-13-3_123
{
position:absolute;
top:1637.19px;
left:5240.31px;
}
.s_1_Chapter_11-12-13-3_124
{
position:absolute;
top:1637.19px;
left:5464.42px;
letter-spacing:-0.31px;
}
.s_1_Chapter_11-12-13-3_125
{
position:absolute;
top:1637.19px;
left:5982.33px;
letter-spacing:-0.4px;
}
.s_1_Chapter_11-12-13-3_126
{
position:absolute;
top:1637.19px;
left:7513.45px;
letter-spacing:-1.88px;
}
.s_1_Chapter_11-12-13-3_127
{
position:absolute;
top:2037.19px;
left:396.85px;
}
.s_1_Chapter_11-12-13-3_128
{
position:absolute;
top:2493.88px;
left:396.85px;
}
.s_1_Chapter_11-12-13-3_129
{
position:absolute;
top:2493.88px;
left:1193.22px;
}
.s_1_Chapter_11-12-13-3_130
{
position:absolute;
top:2493.88px;
left:1554.87px;
}
.s_1_Chapter_11-12-13-3_131
{
position:absolute;
top:2493.88px;
left:2009.08px;
letter-spacing:-0.88px;
}
.s_1_Chapter_11-12-13-3_132
{
position:absolute;
top:2493.88px;
left:2430.79px;
letter-spacing:-2.68px;
}
.s_1_Chapter_11-12-13-3_133
{
position:absolute;
top:2493.88px;
left:2726.93px;
}
.s_1_Chapter_11-12-13-3_134
{
position:absolute;
top:2493.88px;
left:3913.04px;
}
.s_1_Chapter_11-12-13-3_135
{
position:absolute;
top:2493.88px;
left:5523.46px;
}
.s_1_Chapter_11-12-13-3_136
{
position:absolute;
top:2493.88px;
left:6196.84px;
letter-spacing:-2.34px;
}
.s_1_Chapter_11-12-13-3_137
{
position:absolute;
top:2493.88px;
left:7285.71px;
}
.s_1_Chapter_11-12-13-3_138
{
position:absolute;
top:2493.88px;
left:7778.66px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_11-12-13-3_139
{
position:absolute;
top:2493.88px;
left:8280.19px;
letter-spacing:-1px;
}
.s_1_Chapter_11-12-13-3_140
{
position:absolute;
top:2893.88px;
left:396.85px;
letter-spacing:-1.53px;
}
.s_1_Chapter_11-12-13-3_141
{
position:absolute;
top:2893.88px;
left:1622.99px;
}
.s_1_Chapter_11-12-13-3_142
{
position:absolute;
top:2893.88px;
left:2663.75px;
}
.s_1_Chapter_11-12-13-3_143
{
position:absolute;
top:2893.88px;
left:3244.84px;
}
.s_1_Chapter_11-12-13-3_144
{
position:absolute;
top:2893.88px;
left:4973.3px;
}
.s_1_Chapter_11-12-13-3_145
{
position:absolute;
top:2893.88px;
left:5664.37px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-3_146
{
position:absolute;
top:2893.88px;
left:6524.7px;
}
.s_1_Chapter_11-12-13-3_147
{
position:absolute;
top:2893.88px;
left:6923.27px;
letter-spacing:-0.75px;
}
.s_1_Chapter_11-12-13-3_148
{
position:absolute;
top:2893.88px;
left:7840.27px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-3_149
{
position:absolute;
top:3293.88px;
left:396.85px;
}
.s_1_Chapter_11-12-13-3_150
{
position:absolute;
top:3750.58px;
left:396.85px;
letter-spacing:-0.36px;
}
.s_1_Chapter_11-12-13-3_151
{
position:absolute;
top:3750.58px;
left:938.69px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_11-12-13-3_152
{
position:absolute;
top:3750.58px;
left:1440.22px;
}
.s_1_Chapter_11-12-13-3_153
{
position:absolute;
top:3750.58px;
left:2430.28px;
}
.s_1_Chapter_11-12-13-3_154
{
position:absolute;
top:3750.58px;
left:3563.6px;
}
.s_1_Chapter_11-12-13-3_155
{
position:absolute;
top:3750.58px;
left:4784.55px;
}
.s_1_Chapter_11-12-13-3_156
{
position:absolute;
top:3750.58px;
left:5041.42px;
letter-spacing:-0.78px;
}
.s_1_Chapter_11-12-13-3_157
{
position:absolute;
top:3750.58px;
left:5933.73px;
}
.s_1_Chapter_11-12-13-3_158
{
position:absolute;
top:3750.58px;
left:6719.18px;
}
.s_1_Chapter_11-12-13-3_159
{
position:absolute;
top:3750.58px;
left:7080.83px;
}
.s_1_Chapter_11-12-13-3_160
{
position:absolute;
top:3750.58px;
left:7535.04px;
letter-spacing:-0.88px;
}
.s_1_Chapter_11-12-13-3_161
{
position:absolute;
top:3750.58px;
left:7956.75px;
letter-spacing:-2.68px;
}
.s_1_Chapter_11-12-13-3_162
{
position:absolute;
top:3750.58px;
left:8260.69px;
}
.s_1_Chapter_11-12-13-3_163
{
position:absolute;
top:4150.58px;
left:396.85px;
}
.s_1_Chapter_11-12-13-3_164
{
position:absolute;
top:4150.58px;
left:1512.76px;
letter-spacing:-0.16px;
}
.s_1_Chapter_11-12-13-3_165
{
position:absolute;
top:4150.58px;
left:2712.9px;
}
.s_1_Chapter_11-12-13-3_166
{
position:absolute;
top:4150.58px;
left:3728.45px;
}
.s_1_Chapter_11-12-13-3_167
{
position:absolute;
top:4150.58px;
left:4301.74px;
letter-spacing:-0.55px;
}
.s_1_Chapter_11-12-13-3_168
{
position:absolute;
top:4150.58px;
left:5343.54px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-3_169
{
position:absolute;
top:4150.58px;
left:5797.75px;
letter-spacing:-0.81px;
}
.s_1_Chapter_11-12-13-3_170
{
position:absolute;
top:4150.58px;
left:6854.12px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-3_171
{
position:absolute;
top:4550.58px;
left:396.85px;
}
.s_1_Chapter_11-12-13-3_172
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-2.08px;
}
.s_1_Chapter_11-12-13-3_173
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-1.3px;
}
.s_1_Chapter_11-12-13-3_174
{
position:absolute;
top:-19.5px;
left:0px;
}
.s_1_Chapter_11-12-13-3_175
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-2.08px;
}
.s_1_Chapter_11-12-13-3_176
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-2.08px;
}
.s_1_Chapter_11-12-13-3_177
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-1.69px;
}
.s_1_Chapter_11-12-13-3_178
{
position:absolute;
top:-14.08px;
left:0px;
letter-spacing:-3.68px;
}
.s_1_Chapter_11-12-13-3_179
{
position:absolute;
top:-14.08px;
left:727.67px;
}
.s_1_Chapter_11-12-13-3_180
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.35px;
}
.s_1_Chapter_11-12-13-3_181
{
position:absolute;
top:-19.5px;
left:787.79px;
letter-spacing:-0.65px;
}
.s_1_Chapter_11-12-13-3_182
{
position:absolute;
top:-19.5px;
left:1730.28px;
letter-spacing:-0.74px;
}
.s_1_Chapter_11-12-13-3_183
{
position:absolute;
top:-19.5px;
left:2664.97px;
}
.s_1_Chapter_11-12-13-3_184
{
position:absolute;
top:-19.5px;
left:3029.74px;
letter-spacing:-1.04px;
}
.s_1_Chapter_11-12-13-3_185
{
position:absolute;
top:-19.5px;
left:3531.8px;
letter-spacing:-1.82px;
}
.s_1_Chapter_11-12-13-3_186
{
position:absolute;
top:-19.5px;
left:3980.55px;
}
.s_1_Chapter_11-12-13-3_187
{
position:absolute;
top:-19.5px;
left:4434.76px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-3_188
{
position:absolute;
top:-19.5px;
left:5222.55px;
letter-spacing:-2.14px;
}
.s_1_Chapter_11-12-13-3_189
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-1.99px;
}
.s_1_Chapter_11-12-13-3_190
{
position:absolute;
top:-19.5px;
left:291.46px;
letter-spacing:-1.82px;
}
.s_1_Chapter_11-12-13-3_191
{
position:absolute;
top:-19.5px;
left:971.61px;
letter-spacing:-1.08px;
}
.s_1_Chapter_11-12-13-3_192
{
position:absolute;
top:-19.5px;
left:3420px;
letter-spacing:-3.21px;
}
.s_1_Chapter_11-12-13-3_193
{
position:absolute;
top:-19.5px;
left:3714.84px;
letter-spacing:-2.04px;
}
.s_1_Chapter_11-12-13-3_194
{
position:absolute;
top:-19.5px;
left:4425.15px;
letter-spacing:-0.73px;
}
.s_1_Chapter_11-12-13-3_195
{
position:absolute;
top:-19.5px;
left:6260px;
letter-spacing:-1.47px;
}
.s_1_Chapter_11-12-13-3_196
{
position:absolute;
top:-19.5px;
left:6541.84px;
letter-spacing:-1.17px;
}
.s_1_Chapter_11-12-13-3_197
{
position:absolute;
top:-19.5px;
left:7538.93px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-3_198
{
position:absolute;
top:380.5px;
left:0px;
}
.s_1_Chapter_11-12-13-3_199
{
position:absolute;
top:380.5px;
left:305.23px;
letter-spacing:-1.04px;
}
.s_1_Chapter_11-12-13-3_200
{
position:absolute;
top:380.5px;
left:1001.76px;
letter-spacing:-0.62px;
}
.s_1_Chapter_11-12-13-3_201
{
position:absolute;
top:380.5px;
left:3420px;
letter-spacing:-2.17px;
}
.s_1_Chapter_11-12-13-3_202
{
position:absolute;
top:380.5px;
left:3704.7px;
text-rendering:optimizeLegibility;
letter-spacing:-1.87px;
}
.s_1_Chapter_11-12-13-3_203
{
position:absolute;
top:380.5px;
left:4197.14px;
letter-spacing:-0.48px;
}
.s_1_Chapter_11-12-13-3_204
{
position:absolute;
top:380.5px;
left:6260px;
}
.s_1_Chapter_11-12-13-3_205
{
position:absolute;
top:380.5px;
left:6506.21px;
letter-spacing:-0.26px;
}
.s_1_Chapter_11-12-13-3_206
{
position:absolute;
top:380.5px;
left:7175.45px;
letter-spacing:-1.52px;
}
.s_1_Chapter_11-12-13-3_207
{
position:absolute;
top:41.44px;
left:134.15px;
}
.s_1_Chapter_11-12-13-3_208
{
position:absolute;
top:41.44px;
left:134.15px;
}
.s_1_Chapter_11-12-13-3_209
{
position:absolute;
top:-26.96px;
left:0px;
letter-spacing:-16.5px;
transform-origin: 0% 759.55px;
-webkit-transform-origin: 0% 759.55px;
-ms-transform-origin: 0% 759.55px;
-o-transform-origin: 0% 759.55px;
-moz-transform-origin: 0% 759.55px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Chapter_11-12-13-3_210
{
position:absolute;
top:-26.96px;
left:1049.36px;
letter-spacing:-19.25px;
transform-origin: 0% 759.55px;
-webkit-transform-origin: 0% 759.55px;
-ms-transform-origin: 0% 759.55px;
-o-transform-origin: 0% 759.55px;
-moz-transform-origin: 0% 759.55px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Chapter_11-12-13-3_211
{
position:absolute;
top:-26.96px;
left:4231.51px;
letter-spacing:-17.6px;
transform-origin: 0% 759.55px;
-webkit-transform-origin: 0% 759.55px;
-ms-transform-origin: 0% 759.55px;
-o-transform-origin: 0% 759.55px;
-moz-transform-origin: 0% 759.55px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Chapter_11-12-13-3_212
{
position:absolute;
top:58.88px;
left:0px;
}
.s_1_Chapter_11-12-13-3_213
{
position:absolute;
top:213.6px;
left:380.63px;
}
.s_1_Chapter_11-12-13-3_214
{
position:absolute;
top:213.6px;
left:453.54px;
letter-spacing:-2.24px;
}
.s_1_Chapter_11-12-13-3_215
{
position:absolute;
top:213.6px;
left:1053.62px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-3_216
{
position:absolute;
top:213.6px;
left:1469.1px;
letter-spacing:-0.63px;
}
.s_1_Chapter_11-12-13-3_217
{
position:absolute;
top:213.6px;
left:2208.52px;
letter-spacing:-0.43px;
}
.s_1_Chapter_11-12-13-3_218
{
position:absolute;
top:213.6px;
left:3081.6px;
letter-spacing:-2.03px;
}
.s_1_Chapter_11-12-13-3_219
{
position:absolute;
top:213.6px;
left:3664.25px;
letter-spacing:-0.33px;
}
.s_1_Chapter_11-12-13-3_220
{
position:absolute;
top:213.6px;
left:4467.12px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-3_221
{
position:absolute;
top:213.6px;
left:5349.81px;
}
.s_1_Chapter_11-12-13-3_222
{
position:absolute;
top:213.6px;
left:5660.76px;
}
.s_1_Chapter_11-12-13-3_223
{
position:absolute;
top:213.6px;
left:6258.74px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-3_224
{
position:absolute;
top:213.6px;
left:6550.2px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-3_225
{
position:absolute;
top:213.6px;
left:7187.97px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-3_226
{
position:absolute;
top:213.6px;
left:7898.79px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-3_227
{
position:absolute;
top:213.6px;
left:8877.16px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-3_228
{
position:absolute;
top:613.6px;
left:453.54px;
letter-spacing:-0.78px;
}
.s_1_Chapter_11-12-13-3_229
{
position:absolute;
top:613.6px;
left:1308.93px;
}
.s_1_Chapter_11-12-13-3_230
{
position:absolute;
top:613.6px;
left:1779.52px;
letter-spacing:-1.56px;
}
.s_1_Chapter_11-12-13-3_231
{
position:absolute;
top:613.6px;
left:2436.02px;
}
.s_1_Chapter_11-12-13-3_232
{
position:absolute;
top:613.6px;
left:2646.35px;
letter-spacing:-1.82px;
}
.s_1_Chapter_11-12-13-3_233
{
position:absolute;
top:613.6px;
left:2831.99px;
letter-spacing:-0.78px;
}
.s_1_Chapter_11-12-13-3_234
{
position:absolute;
top:613.6px;
left:3582.6px;
}
.s_1_Chapter_11-12-13-3_235
{
position:absolute;
top:613.6px;
left:4286.4px;
letter-spacing:-0.57px;
}
.s_1_Chapter_11-12-13-3_236
{
position:absolute;
top:613.6px;
left:4908.32px;
}
.s_1_Chapter_11-12-13-3_237
{
position:absolute;
top:613.6px;
left:5330.04px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-3_238
{
position:absolute;
top:613.6px;
left:5954.8px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-3_239
{
position:absolute;
top:613.6px;
left:6425.4px;
letter-spacing:-0.69px;
}
.s_1_Chapter_11-12-13-3_240
{
position:absolute;
top:613.6px;
left:7336.94px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-3_241
{
position:absolute;
top:613.6px;
left:7994.47px;
letter-spacing:-2.51px;
}
.s_1_Chapter_11-12-13-3_242
{
position:absolute;
top:613.6px;
left:8272.93px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-3_243
{
position:absolute;
top:613.6px;
left:8946.32px;
letter-spacing:-0.43px;
}
.s_1_Chapter_11-12-13-3_244
{
position:absolute;
top:-12.32px;
left:0px;
}
.s_1_Chapter_11-12-13-3_245
{
position:absolute;
top:-12.32px;
left:420.83px;
letter-spacing:-5.11px;
}
.s_1_Chapter_11-12-13-3_246
{
position:absolute;
top:-12.32px;
left:971.57px;
letter-spacing:-6.86px;
}
.s_1_Chapter_11-12-13-3_247
{
position:absolute;
top:-19.5px;
left:0px;
}
.s_1_Chapter_11-12-13-3_248
{
position:absolute;
top:-19.5px;
left:1221.47px;
}
.s_1_Chapter_11-12-13-3_249
{
position:absolute;
top:-19.5px;
left:1587.54px;
}
.s_1_Chapter_11-12-13-3_250
{
position:absolute;
top:-15.01px;
left:1852.74px;
}
.s_1_Chapter_11-12-13-3_251
{
position:absolute;
top:-19.5px;
left:2025.99px;
}
.s_1_Chapter_11-12-13-3_252
{
position:absolute;
top:-19.5px;
left:2089.95px;
letter-spacing:-1.59px;
}
.s_1_Chapter_11-12-13-3_253
{
position:absolute;
top:-19.5px;
left:3154.12px;
letter-spacing:-0.69px;
}
.s_1_Chapter_11-12-13-3_254
{
position:absolute;
top:-19.5px;
left:3776.54px;
}
.s_1_Chapter_11-12-13-3_255
{
position:absolute;
top:-19.5px;
left:4369.85px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-3_256
{
position:absolute;
top:-19.5px;
left:5315.72px;
}
.s_1_Chapter_11-12-13-3_257
{
position:absolute;
top:-19.5px;
left:5844.81px;
letter-spacing:-0.45px;
}
.s_1_Chapter_11-12-13-3_258
{
position:absolute;
top:-19.5px;
left:6787.56px;
letter-spacing:-4.46px;
}
.s_1_Chapter_11-12-13-3_259
{
position:absolute;
top:-19.5px;
left:7614.61px;
}
.s_1_Chapter_11-12-13-3_260
{
position:absolute;
top:-19.5px;
left:7749.02px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-3_261
{
position:absolute;
top:-19.5px;
left:8005.9px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-3_262
{
position:absolute;
top:380.5px;
left:0px;
letter-spacing:-0.4px;
}
.s_1_Chapter_11-12-13-3_263
{
position:absolute;
top:380.5px;
left:1058.7px;
letter-spacing:-3.38px;
}
.s_1_Chapter_11-12-13-3_264
{
position:absolute;
top:380.5px;
left:1404.75px;
}
.s_1_Chapter_11-12-13-3_265
{
position:absolute;
top:380.5px;
left:1858.96px;
}
.s_1_Chapter_11-12-13-3_266
{
position:absolute;
top:380.5px;
left:2646.49px;
letter-spacing:-0.54px;
}
.s_1_Chapter_11-12-13-3_267
{
position:absolute;
top:380.5px;
left:4141.21px;
}
.s_1_Chapter_11-12-13-3_268
{
position:absolute;
top:380.5px;
left:4454.76px;
letter-spacing:-2.03px;
}
.s_1_Chapter_11-12-13-3_269
{
position:absolute;
top:380.5px;
left:5061.59px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-3_270
{
position:absolute;
top:380.5px;
left:5572.75px;
letter-spacing:-1.53px;
}
.s_1_Chapter_11-12-13-3_271
{
position:absolute;
top:380.5px;
left:6753.65px;
}
.s_1_Chapter_11-12-13-3_272
{
position:absolute;
top:380.5px;
left:7207.86px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-3_273
{
position:absolute;
top:380.5px;
left:7652.45px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-3_274
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-2.64px;
}
.s_1_Chapter_11-12-13-3_275
{
position:absolute;
top:-19.5px;
left:876.71px;
}
.s_1_Chapter_11-12-13-3_276
{
position:absolute;
top:380.5px;
left:0px;
letter-spacing:-0.29px;
}
.s_1_Chapter_11-12-13-3_277
{
position:absolute;
top:380.5px;
left:1035.83px;
}
.s_1_Chapter_11-12-13-3_278
{
position:absolute;
top:780.5px;
left:0px;
}
.s_1_Chapter_11-12-13-3_279
{
position:absolute;
top:780.5px;
left:782.59px;
letter-spacing:-0.52px;
}
.s_1_Chapter_11-12-13-3_280
{
position:absolute;
top:1180.5px;
left:0px;
}
.s_1_Chapter_11-12-13-3_281
{
position:absolute;
top:1180.5px;
left:824.19px;
}
.s_1_Chapter_11-12-13-3_282
{
position:absolute;
top:1180.5px;
left:1278.4px;
letter-spacing:-0.19px;
}
.s_1_Chapter_11-12-13-3_283
{
position:absolute;
top:1580.5px;
left:0px;
}
.s_1_Chapter_11-12-13-3_284
{
position:absolute;
top:-19.5px;
left:66.43px;
letter-spacing:-1.69px;
}
.s_1_Chapter_11-12-13-3_285
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.73px;
}
.s_1_Chapter_11-12-13-3_286
{
position:absolute;
top:-19.5px;
left:1074.31px;
letter-spacing:-0.69px;
}
.s_1_Chapter_11-12-13-3_287
{
position:absolute;
top:380.5px;
left:0px;
letter-spacing:-0.52px;
}
.s_1_Chapter_11-12-13-3_288
{
position:absolute;
top:380.5px;
left:848.11px;
}
.s_1_Chapter_11-12-13-3_289
{
position:absolute;
top:380.5px;
left:1188.44px;
}
.s_1_Chapter_11-12-13-3_290
{
position:absolute;
top:780.5px;
left:0px;
}
.s_1_Chapter_11-12-13-3_291
{
position:absolute;
top:780.5px;
left:860.59px;
letter-spacing:-2.68px;
}
.s_1_Chapter_11-12-13-3_292
{
position:absolute;
top:780.5px;
left:1164.53px;
letter-spacing:-1.43px;
}
.s_1_Chapter_11-12-13-3_293
{
position:absolute;
top:-19.5px;
left:28.47px;
}
.s_1_Chapter_11-12-13-3_294
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.26px;
}
.s_1_Chapter_11-12-13-3_295
{
position:absolute;
top:-19.5px;
left:590.97px;
}
.s_1_Chapter_11-12-13-3_296
{
position:absolute;
top:-19.5px;
left:1102.12px;
letter-spacing:-1.25px;
}
.s_1_Chapter_11-12-13-3_297
{
position:absolute;
top:380.5px;
left:0px;
letter-spacing:-0.52px;
}
.s_1_Chapter_11-12-13-3_298
{
position:absolute;
top:380.5px;
left:941.71px;
}
.s_1_Chapter_11-12-13-3_299
{
position:absolute;
top:780.5px;
left:0px;
letter-spacing:-0.66px;
}
.s_1_Chapter_11-12-13-3_300
{
position:absolute;
top:780.5px;
left:1022.56px;
letter-spacing:-2.68px;
}
.s_1_Chapter_11-12-13-3_301
{
position:absolute;
top:780.5px;
left:1326.5px;
letter-spacing:-1.08px;
}
.s_1_Chapter_11-12-13-3_302
{
position:absolute;
top:1180.5px;
left:0px;
}
.s_1_Chapter_11-12-13-3_303
{
position:absolute;
top:1180.5px;
left:343.71px;
}
.s_1_Chapter_11-12-13-3_304
{
position:absolute;
top:-19.5px;
left:26.52px;
letter-spacing:-2.08px;
}
.s_1_Chapter_11-12-13-3_305
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.26px;
}
.s_1_Chapter_11-12-13-3_306
{
position:absolute;
top:-19.5px;
left:590.97px;
letter-spacing:-0.22px;
}
.s_1_Chapter_11-12-13-3_307
{
position:absolute;
top:-19.5px;
left:1475.73px;
}
.s_1_Chapter_11-12-13-3_308
{
position:absolute;
top:380.5px;
left:0px;
letter-spacing:-1.79px;
}
.s_1_Chapter_11-12-13-3_309
{
position:absolute;
top:380.5px;
left:911.81px;
letter-spacing:-0.78px;
}
.s_1_Chapter_11-12-13-3_310
{
position:absolute;
top:380.5px;
left:1433.1px;
letter-spacing:-0.48px;
}
.s_1_Chapter_11-12-13-3_311
{
position:absolute;
top:780.5px;
left:0px;
letter-spacing:-0.71px;
}
.s_1_Chapter_11-12-13-3_312
{
position:absolute;
top:780.5px;
left:776.87px;
letter-spacing:-1.39px;
}
.s_1_Chapter_11-12-13-3_313
{
position:absolute;
top:1180.5px;
left:0px;
}
.s_1_Chapter_11-12-13-3_314
{
position:absolute;
top:1180.5px;
left:511.15px;
letter-spacing:-0.49px;
}
.s_1_Chapter_11-12-13-3_315
{
position:absolute;
top:-19.5px;
left:24.05px;
letter-spacing:-2.08px;
}
.s_1_Chapter_11-12-13-3_316
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-1.99px;
}
.s_1_Chapter_11-12-13-3_317
{
position:absolute;
top:-19.5px;
left:291.46px;
letter-spacing:-0.93px;
}
.s_1_Chapter_11-12-13-3_318
{
position:absolute;
top:-19.5px;
left:1030.11px;
}
.s_1_Chapter_11-12-13-3_319
{
position:absolute;
top:-19.5px;
left:3200px;
letter-spacing:-3.21px;
}
.s_1_Chapter_11-12-13-3_320
{
position:absolute;
top:-19.5px;
left:3487.04px;
letter-spacing:-1.41px;
}
.s_1_Chapter_11-12-13-3_321
{
position:absolute;
top:-19.5px;
left:4386.63px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-3_322
{
position:absolute;
top:-19.5px;
left:5900px;
letter-spacing:-1.47px;
}
.s_1_Chapter_11-12-13-3_323
{
position:absolute;
top:-19.5px;
left:6181.84px;
letter-spacing:-0.48px;
}
.s_1_Chapter_11-12-13-3_324
{
position:absolute;
top:-19.5px;
left:6932.19px;
letter-spacing:-0.78px;
}
.s_1_Chapter_11-12-13-3_325
{
position:absolute;
top:437.19px;
left:0px;
}
.s_1_Chapter_11-12-13-3_326
{
position:absolute;
top:437.19px;
left:305.23px;
}
.s_1_Chapter_11-12-13-3_327
{
position:absolute;
top:437.19px;
left:923.51px;
letter-spacing:-0.58px;
}
.s_1_Chapter_11-12-13-3_328
{
position:absolute;
top:437.19px;
left:3200px;
letter-spacing:-2.17px;
}
.s_1_Chapter_11-12-13-3_329
{
position:absolute;
top:437.19px;
left:3491.46px;
letter-spacing:-0.52px;
}
.s_1_Chapter_11-12-13-3_330
{
position:absolute;
top:437.19px;
left:4647.4px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-3_331
{
position:absolute;
top:437.19px;
left:5900px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-3_332
{
position:absolute;
top:437.19px;
left:6146.21px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-3_333
{
position:absolute;
top:437.19px;
left:7284.21px;
letter-spacing:-0.52px;
}
.s_1_Chapter_11-12-13-3_334
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.26px;
}
.s_1_Chapter_11-12-13-3_335
{
position:absolute;
top:-19.5px;
left:590.97px;
}
.s_1_Chapter_11-12-13-3_336
{
position:absolute;
top:380.5px;
left:0px;
letter-spacing:-0.63px;
}
.s_1_Chapter_11-12-13-3_337
{
position:absolute;
top:380.5px;
left:873.59px;
}
.s_1_Chapter_11-12-13-3_338
{
position:absolute;
top:380.5px;
left:1528.52px;
letter-spacing:-2.68px;
}
.s_1_Chapter_11-12-13-3_339
{
position:absolute;
top:780.5px;
left:0px;
}
.s_1_Chapter_11-12-13-3_340
{
position:absolute;
top:780.5px;
left:671.3px;
}
.s_1_Chapter_11-12-13-3_341
{
position:absolute;
top:780.5px;
left:940.14px;
letter-spacing:-1.97px;
}
.s_1_Chapter_11-12-13-3_342
{
position:absolute;
top:-19.5px;
left:30.03px;
letter-spacing:-2.08px;
}
.s_1_Chapter_11-12-13-3_343
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.26px;
}
.s_1_Chapter_11-12-13-3_344
{
position:absolute;
top:-19.5px;
left:586.03px;
letter-spacing:-0.52px;
}
.s_1_Chapter_11-12-13-3_345
{
position:absolute;
top:-19.5px;
left:1523.32px;
}
.s_1_Chapter_11-12-13-3_346
{
position:absolute;
top:380.5px;
left:0px;
letter-spacing:-1.79px;
}
.s_1_Chapter_11-12-13-3_347
{
position:absolute;
top:380.5px;
left:916.23px;
letter-spacing:-3.25px;
}
.s_1_Chapter_11-12-13-3_348
{
position:absolute;
top:380.5px;
left:1123.71px;
}
.s_1_Chapter_11-12-13-3_349
{
position:absolute;
top:780.5px;
left:0px;
letter-spacing:-1px;
}
.s_1_Chapter_11-12-13-3_350
{
position:absolute;
top:780.5px;
left:900.37px;
}
.s_1_Chapter_11-12-13-3_351
{
position:absolute;
top:780.5px;
left:1172.58px;
}
.s_1_Chapter_11-12-13-3_352
{
position:absolute;
top:1180.5px;
left:0px;
letter-spacing:-0.3px;
}
.s_1_Chapter_11-12-13-3_353
{
position:absolute;
top:1180.5px;
left:846.29px;
letter-spacing:-0.65px;
}
.s_1_Chapter_11-12-13-3_354
{
position:absolute;
top:-19.5px;
left:28.73px;
letter-spacing:-1.3px;
}


.page44_position1 {
	position:absolute;
	top: 149px;
	left: 139px;
	/*border: 1px solid red;*/
}
.page44_position2 {
	position:absolute;
	top: 137px;
	left: 313px;
	/*border: 1px solid red;*/
}
.page44_position3 {
	position:absolute;
	top: 146px;
	left: 471px;
	/*border: 1px solid red;*/
}
.page44_position4 {
	position:absolute;
	top: 237px;
	left: 239px;
	/*border: 1px solid red;*/
}
.page44_position5 {
	position:absolute;
	top: 239px;
	left: 397px;
	/*border: 1px solid red;*/
}
.page44_position6 {
	position:absolute;
	top: 237px;
	left: 532px;
	/*border: 1px solid red;*/
}
.page44_btn1 {
	position:absolute;
	top: 329px;
	left: 332px;
}
.page44_btn2 {
	position:absolute;
	top: 329px;
	left: 275px;
}
.page44_btn3 {
	position:absolute;
	top: 794px;
	left: 252px;
}

#text1 {
	position:absolute;
	top: 757px;
	left: 244px;
}
#text2 {
	position:absolute;
	top: 757px;
	left: 76px;
}
#text3 {
	position:absolute;
	top: 757px;
	left: 392px;
}
#text4 {
	position:absolute;
	top: 757px;
	left: 202px;
}
#box1 {
	position:absolute;
	top: 506px;
	left: 94px;
	width: 151px;
	/*border: 1px solid red;*/
}
#box2 {
	position:absolute;
	top: 569px;
	left: 94px;
	width: 115px;
	/*border: 1px solid red;*/
}
#box3 {
	position:absolute;
	top: 632px;
	left: 93px;
	width: 133px;
	/*border: 1px solid red;*/
}
#box4 {
	position:absolute;
	top: 695px;
	left: 94px;
	width: 76px;
	/*border: 1px solid red;*/
}
.p44_input_text1 {
	display: none;
	text-align: center;
	font-family: "Cabrito_Sans_Norm_Book";
	font-size: 13px;
	margin-top: 0px;
	line-height: 18px;
}

.page45_position1 {
	position:absolute;
	top: 289px;
	left: 192px;
	/*border: 1px solid red;*/
}
.page45_position2 {
	position:absolute;
	top: 292px;
	left: 440px;
	/*border: 1px solid red;*/
}
.page45_position3 {
	position:absolute;
	top: 417px;
	left: 253px;
	/*border: 1px solid red;*/
}
.page45_position4 {
	position:absolute;
	top: 409px;
	left: 514px;
	/*border: 1px solid red;*/
}
.page45_position5 {
	position:absolute;
	top: 553px;
	left: 180px;
	/*border: 1px solid red;*/
}
.page45_position6 {
	position:absolute;
	top: 557px;
	left: 454px;
	/*border: 1px solid red;*/
}
.page45_btn1 {
	position:absolute;
	top: 789px;
	left: 332px;
}
.page45_btn2 {
	position:absolute;
	top: 789px;
	left: 275px;
}
.position_44_1 {
	position: absolute;
	top: 332px;
	left: 313px;
	height: 100px;
	width: 84px;
}
