.d_1_Chapter_11-12-13-4_1
{
position:absolute;
overflow:hidden;
left:0px;
top:0px;
transform:translate(0.00px,0.00px);
-webkit-transform:translate(0.00px,0.00px);
-ms-transform:translate(0.00px,0.00px);
-o-transform:translate(0.00px,0.00px);
-moz-transform:translate(0.00px,0.00px);
width:595.28px;
height:841.89px
}
.d_1_Chapter_11-12-13-4_2
{
width:6467.72px;
height:2492.76px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-4_3
{
width:9877.74px;
height:961.57px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-4_4
{
width:1884.76px;
height:288px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-4_5
{
width:2343.95px;
height:1414.2px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.65px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.65px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.65px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.65px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.65px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-4_6
{
width:6069.33px;
height:2634.24px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-4_7
{
width:7127.72px;
height:2634.24px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-4_8
{
width:6258.15px;
height:1968.98px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-4_9
{
width:5714.7px;
height:3059.75px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-4_10
{
width:560.18px;
height:401.47px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-4_11
{
position:absolute;
overflow:hidden;
left:0px;
top:0px;
transform:translate(595.28px,0.00px);
-webkit-transform:translate(595.28px,0.00px);
-ms-transform:translate(595.28px,0.00px);
-o-transform:translate(595.28px,0.00px);
-moz-transform:translate(595.28px,0.00px);
width:595.28px;
height:841.89px
}
.d_1_Chapter_11-12-13-4_12
{
width:560.18px;
height:401.47px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-4_13
{
width:6614.98px;
height:2064.14px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-4_14
{
width:6480.28px;
height:2184.28px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-4_15
{
width:6480.28px;
height:2492.76px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-4_16
{
width:6349.61px;
height:2100px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-4_17
{
width:6480.28px;
height:2368.98px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-4_18
{
width:560.18px;
height:401.47px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-4_19
{
width:1884.76px;
height:288px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-4_20
{
width:9163.95px;
height:1211.31px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.65px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.65px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.65px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.65px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.65px) rotate(0deg) scale(0.05);
}
.s_1_Chapter_11-12-13-4_21
{
position:absolute;
top:-19.5px;
left:396.85px;
letter-spacing:-0.39px;
}
.s_1_Chapter_11-12-13-4_22
{
position:absolute;
top:-19.5px;
left:900.47px;
}
.s_1_Chapter_11-12-13-4_23
{
position:absolute;
top:-19.5px;
left:1386.92px;
}
.s_1_Chapter_11-12-13-4_24
{
position:absolute;
top:-19.5px;
left:1747.01px;
letter-spacing:-2.92px;
}
.s_1_Chapter_11-12-13-4_25
{
position:absolute;
top:-19.5px;
left:2361.12px;
letter-spacing:-1px;
}
.s_1_Chapter_11-12-13-4_26
{
position:absolute;
top:-19.5px;
left:3261.49px;
}
.s_1_Chapter_11-12-13-4_27
{
position:absolute;
top:-19.5px;
left:3722.72px;
}
.s_1_Chapter_11-12-13-4_28
{
position:absolute;
top:-19.5px;
left:4244.01px;
letter-spacing:-1.49px;
}
.s_1_Chapter_11-12-13-4_29
{
position:absolute;
top:-19.5px;
left:4702.38px;
letter-spacing:-1.86px;
}
.s_1_Chapter_11-12-13-4_30
{
position:absolute;
top:-19.5px;
left:5526.05px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-4_31
{
position:absolute;
top:380.5px;
left:396.85px;
letter-spacing:-0.41px;
}
.s_1_Chapter_11-12-13-4_32
{
position:absolute;
top:380.5px;
left:1404.08px;
}
.s_1_Chapter_11-12-13-4_33
{
position:absolute;
top:380.5px;
left:1854.65px;
text-rendering:optimizeLegibility;
letter-spacing:-0.26px;
}
.s_1_Chapter_11-12-13-4_34
{
position:absolute;
top:380.5px;
left:2388.94px;
letter-spacing:-0.52px;
}
.s_1_Chapter_11-12-13-4_35
{
position:absolute;
top:380.5px;
left:3330.65px;
}
.s_1_Chapter_11-12-13-4_36
{
position:absolute;
top:380.5px;
left:4493.09px;
letter-spacing:-2.68px;
}
.s_1_Chapter_11-12-13-4_37
{
position:absolute;
top:380.5px;
left:4792.61px;
}
.s_1_Chapter_11-12-13-4_38
{
position:absolute;
top:380.5px;
left:5240.58px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-4_39
{
position:absolute;
top:780.5px;
left:396.85px;
letter-spacing:-1.3px;
}
.s_1_Chapter_11-12-13-4_40
{
position:absolute;
top:780.5px;
left:1049.18px;
}
.s_1_Chapter_11-12-13-4_41
{
position:absolute;
top:780.5px;
left:1325.82px;
}
.s_1_Chapter_11-12-13-4_42
{
position:absolute;
top:1237.19px;
left:793.7px;
letter-spacing:-0.82px;
}
.s_1_Chapter_11-12-13-4_43
{
position:absolute;
top:1237.19px;
left:1653.51px;
letter-spacing:-0.91px;
}
.s_1_Chapter_11-12-13-4_44
{
position:absolute;
top:1693.88px;
left:793.7px;
}
.s_1_Chapter_11-12-13-4_45
{
position:absolute;
top:1693.88px;
left:1426.78px;
letter-spacing:-0.97px;
}
.s_1_Chapter_11-12-13-4_46
{
position:absolute;
top:2150.58px;
left:793.7px;
letter-spacing:-1.15px;
}
.s_1_Chapter_11-12-13-4_47
{
position:absolute;
top:2150.58px;
left:1787.93px;
letter-spacing:-0.26px;
}
.s_1_Chapter_11-12-13-4_48
{
position:absolute;
top:58.88px;
left:0px;
letter-spacing:-7.92px;
}
.s_1_Chapter_11-12-13-4_49
{
position:absolute;
top:213.6px;
left:305.76px;
}
.s_1_Chapter_11-12-13-4_50
{
position:absolute;
top:213.6px;
left:453.54px;
letter-spacing:-0.74px;
}
.s_1_Chapter_11-12-13-4_51
{
position:absolute;
top:213.6px;
left:1138.89px;
letter-spacing:-0.43px;
}
.s_1_Chapter_11-12-13-4_52
{
position:absolute;
top:213.6px;
left:1865.84px;
letter-spacing:-0.78px;
}
.s_1_Chapter_11-12-13-4_53
{
position:absolute;
top:213.6px;
left:2287.56px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-4_54
{
position:absolute;
top:213.6px;
left:2912.32px;
}
.s_1_Chapter_11-12-13-4_55
{
position:absolute;
top:213.6px;
left:3246.42px;
}
.s_1_Chapter_11-12-13-4_56
{
position:absolute;
top:213.6px;
left:3903.95px;
letter-spacing:-1.35px;
}
.s_1_Chapter_11-12-13-4_57
{
position:absolute;
top:213.6px;
left:5126.46px;
letter-spacing:-0.43px;
}
.s_1_Chapter_11-12-13-4_58
{
position:absolute;
top:213.6px;
left:5998.49px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-4_59
{
position:absolute;
top:213.6px;
left:6530.7px;
letter-spacing:-2.03px;
}
.s_1_Chapter_11-12-13-4_60
{
position:absolute;
top:213.6px;
left:7113.36px;
}
.s_1_Chapter_11-12-13-4_61
{
position:absolute;
top:213.6px;
left:7787.53px;
letter-spacing:-0.91px;
}
.s_1_Chapter_11-12-13-4_62
{
position:absolute;
top:213.6px;
left:8366.8px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-4_63
{
position:absolute;
top:613.6px;
left:453.54px;
letter-spacing:-0.52px;
}
.s_1_Chapter_11-12-13-4_64
{
position:absolute;
top:613.6px;
left:1173.21px;
}
.s_1_Chapter_11-12-13-4_65
{
position:absolute;
top:613.6px;
left:1426.18px;
text-rendering:optimizeLegibility;
letter-spacing:-0.55px;
}
.s_1_Chapter_11-12-13-4_66
{
position:absolute;
top:613.6px;
left:2452.65px;
letter-spacing:-0.39px;
}
.s_1_Chapter_11-12-13-4_67
{
position:absolute;
top:613.6px;
left:3148.92px;
letter-spacing:-2.51px;
}
.s_1_Chapter_11-12-13-4_68
{
position:absolute;
top:613.6px;
left:3428.42px;
letter-spacing:-0.39px;
}
.s_1_Chapter_11-12-13-4_69
{
position:absolute;
top:613.6px;
left:3887.58px;
letter-spacing:-0.57px;
}
.s_1_Chapter_11-12-13-4_70
{
position:absolute;
top:613.6px;
left:4509.49px;
}
.s_1_Chapter_11-12-13-4_71
{
position:absolute;
top:613.6px;
left:4931.21px;
}
.s_1_Chapter_11-12-13-4_72
{
position:absolute;
top:613.6px;
left:5555.98px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-4_73
{
position:absolute;
top:613.6px;
left:6025.53px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-4_74
{
position:absolute;
top:613.6px;
left:6483.38px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-4_75
{
position:absolute;
top:613.6px;
left:6905.09px;
letter-spacing:-0.39px;
}
.s_1_Chapter_11-12-13-4_76
{
position:absolute;
top:613.6px;
left:7764.64px;
letter-spacing:-2.56px;
}
.s_1_Chapter_11-12-13-4_77
{
position:absolute;
top:-12.32px;
left:0px;
}
.s_1_Chapter_11-12-13-4_78
{
position:absolute;
top:-12.32px;
left:420.83px;
letter-spacing:-5.11px;
}
.s_1_Chapter_11-12-13-4_79
{
position:absolute;
top:-12.32px;
left:971.57px;
letter-spacing:-6.86px;
}
.s_1_Chapter_11-12-13-4_80
{
position:absolute;
top:-21px;
left:0px;
}
.s_1_Chapter_11-12-13-4_81
{
position:absolute;
top:-16.16px;
left:164.36px;
}
.s_1_Chapter_11-12-13-4_82
{
position:absolute;
top:-21px;
left:314.86px;
}
.s_1_Chapter_11-12-13-4_83
{
position:absolute;
top:-21px;
left:391.02px;
letter-spacing:-1.77px;
}
.s_1_Chapter_11-12-13-4_84
{
position:absolute;
top:-21px;
left:1271.89px;
}
.s_1_Chapter_11-12-13-4_85
{
position:absolute;
top:379px;
left:0px;
letter-spacing:-0.28px;
}
.s_1_Chapter_11-12-13-4_86
{
position:absolute;
top:379px;
left:1435.54px;
}
.s_1_Chapter_11-12-13-4_87
{
position:absolute;
top:779px;
left:0px;
letter-spacing:-0.12px;
}
.s_1_Chapter_11-12-13-4_88
{
position:absolute;
top:1179px;
left:0px;
letter-spacing:-3.11px;
}
.s_1_Chapter_11-12-13-4_89
{
position:absolute;
top:1179px;
left:1224.71px;
letter-spacing:-5.32px;
}
.s_1_Chapter_11-12-13-4_90
{
position:absolute;
top:-19.5px;
left:396.85px;
letter-spacing:-0.39px;
}
.s_1_Chapter_11-12-13-4_91
{
position:absolute;
top:-19.5px;
left:900.47px;
}
.s_1_Chapter_11-12-13-4_92
{
position:absolute;
top:-19.5px;
left:1157.34px;
}
.s_1_Chapter_11-12-13-4_93
{
position:absolute;
top:-19.5px;
left:1517.43px;
}
.s_1_Chapter_11-12-13-4_94
{
position:absolute;
top:-19.5px;
left:2400.9px;
letter-spacing:-2.73px;
}
.s_1_Chapter_11-12-13-4_95
{
position:absolute;
top:-19.5px;
left:3310.89px;
letter-spacing:-1.49px;
}
.s_1_Chapter_11-12-13-4_96
{
position:absolute;
top:-19.5px;
left:4188.37px;
}
.s_1_Chapter_11-12-13-4_97
{
position:absolute;
top:-19.5px;
left:4974.6px;
}
.s_1_Chapter_11-12-13-4_98
{
position:absolute;
top:380.5px;
left:396.85px;
}
.s_1_Chapter_11-12-13-4_99
{
position:absolute;
top:380.5px;
left:1274.34px;
letter-spacing:-0.22px;
}
.s_1_Chapter_11-12-13-4_100
{
position:absolute;
top:380.5px;
left:2023.65px;
}
.s_1_Chapter_11-12-13-4_101
{
position:absolute;
top:380.5px;
left:2930.77px;
}
.s_1_Chapter_11-12-13-4_102
{
position:absolute;
top:380.5px;
left:3502.76px;
letter-spacing:-0.78px;
}
.s_1_Chapter_11-12-13-4_103
{
position:absolute;
top:380.5px;
left:4072.15px;
}
.s_1_Chapter_11-12-13-4_104
{
position:absolute;
top:380.5px;
left:4526.36px;
letter-spacing:-0.78px;
}
.s_1_Chapter_11-12-13-4_105
{
position:absolute;
top:380.5px;
left:5198.19px;
letter-spacing:-0.48px;
}
.s_1_Chapter_11-12-13-4_106
{
position:absolute;
top:780.5px;
left:396.85px;
letter-spacing:-1.34px;
}
.s_1_Chapter_11-12-13-4_107
{
position:absolute;
top:780.5px;
left:1173.99px;
letter-spacing:-0.71px;
}
.s_1_Chapter_11-12-13-4_108
{
position:absolute;
top:1237.19px;
left:793.7px;
}
.s_1_Chapter_11-12-13-4_109
{
position:absolute;
top:1237.19px;
left:1804.05px;
letter-spacing:-0.31px;
}
.s_1_Chapter_11-12-13-4_110
{
position:absolute;
top:1693.88px;
left:793.7px;
letter-spacing:-0.22px;
}
.s_1_Chapter_11-12-13-4_111
{
position:absolute;
top:1693.88px;
left:1522.99px;
}
.s_1_Chapter_11-12-13-4_112
{
position:absolute;
top:2150.58px;
left:793.7px;
}
.s_1_Chapter_11-12-13-4_113
{
position:absolute;
top:2150.58px;
left:2022.96px;
}
.s_1_Chapter_11-12-13-4_114
{
position:absolute;
top:-19.5px;
left:396.85px;
letter-spacing:-0.39px;
}
.s_1_Chapter_11-12-13-4_115
{
position:absolute;
top:-19.5px;
left:895.53px;
letter-spacing:-0.78px;
}
.s_1_Chapter_11-12-13-4_116
{
position:absolute;
top:-19.5px;
left:1464.92px;
}
.s_1_Chapter_11-12-13-4_117
{
position:absolute;
top:-19.5px;
left:1919.13px;
}
.s_1_Chapter_11-12-13-4_118
{
position:absolute;
top:-19.5px;
left:2534.28px;
letter-spacing:-1.78px;
}
.s_1_Chapter_11-12-13-4_119
{
position:absolute;
top:-19.5px;
left:3288.79px;
}
.s_1_Chapter_11-12-13-4_120
{
position:absolute;
top:-19.5px;
left:3810.08px;
}
.s_1_Chapter_11-12-13-4_121
{
position:absolute;
top:-19.5px;
left:4086.71px;
}
.s_1_Chapter_11-12-13-4_122
{
position:absolute;
top:-19.5px;
left:4787.66px;
}
.s_1_Chapter_11-12-13-4_123
{
position:absolute;
top:-19.5px;
left:5298.81px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-4_124
{
position:absolute;
top:380.5px;
left:396.85px;
letter-spacing:-1.49px;
}
.s_1_Chapter_11-12-13-4_125
{
position:absolute;
top:380.5px;
left:854.65px;
letter-spacing:-0.6px;
}
.s_1_Chapter_11-12-13-4_126
{
position:absolute;
top:380.5px;
left:2167.07px;
}
.s_1_Chapter_11-12-13-4_127
{
position:absolute;
top:380.5px;
left:2922.56px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-4_128
{
position:absolute;
top:380.5px;
left:3194.21px;
}
.s_1_Chapter_11-12-13-4_129
{
position:absolute;
top:380.5px;
left:3640.57px;
letter-spacing:-2.69px;
}
.s_1_Chapter_11-12-13-4_130
{
position:absolute;
top:380.5px;
left:4004.26px;
}
.s_1_Chapter_11-12-13-4_131
{
position:absolute;
top:380.5px;
left:4778.21px;
letter-spacing:-1.1px;
}
.s_1_Chapter_11-12-13-4_132
{
position:absolute;
top:380.5px;
left:5939.36px;
}
.s_1_Chapter_11-12-13-4_133
{
position:absolute;
top:837.19px;
left:793.7px;
letter-spacing:-1.62px;
}
.s_1_Chapter_11-12-13-4_134
{
position:absolute;
top:837.19px;
left:1865.41px;
letter-spacing:-1.08px;
}
.s_1_Chapter_11-12-13-4_135
{
position:absolute;
top:1293.88px;
left:793.7px;
letter-spacing:-1.33px;
}
.s_1_Chapter_11-12-13-4_136
{
position:absolute;
top:1293.88px;
left:2086.14px;
}
.s_1_Chapter_11-12-13-4_137
{
position:absolute;
top:1750.58px;
left:793.7px;
letter-spacing:-1.3px;
}
.s_1_Chapter_11-12-13-4_138
{
position:absolute;
top:1750.58px;
left:1389.87px;
letter-spacing:-1.61px;
}
.s_1_Chapter_11-12-13-4_139
{
position:absolute;
top:-19.5px;
left:396.85px;
letter-spacing:-0.39px;
}
.s_1_Chapter_11-12-13-4_140
{
position:absolute;
top:-19.5px;
left:900.47px;
}
.s_1_Chapter_11-12-13-4_141
{
position:absolute;
top:-19.5px;
left:1904.57px;
}
.s_1_Chapter_11-12-13-4_142
{
position:absolute;
top:-19.5px;
left:2355.15px;
text-rendering:optimizeLegibility;
letter-spacing:-0.26px;
}
.s_1_Chapter_11-12-13-4_143
{
position:absolute;
top:-19.5px;
left:2890.73px;
letter-spacing:-0.63px;
}
.s_1_Chapter_11-12-13-4_144
{
position:absolute;
top:-19.5px;
left:3764.32px;
}
.s_1_Chapter_11-12-13-4_145
{
position:absolute;
top:-19.5px;
left:4517.79px;
letter-spacing:-0.66px;
}
.s_1_Chapter_11-12-13-4_146
{
position:absolute;
top:-19.5px;
left:5540.35px;
letter-spacing:-2.68px;
}
.s_1_Chapter_11-12-13-4_147
{
position:absolute;
top:380.5px;
left:396.85px;
letter-spacing:-0.35px;
}
.s_1_Chapter_11-12-13-4_148
{
position:absolute;
top:380.5px;
left:1456.6px;
}
.s_1_Chapter_11-12-13-4_149
{
position:absolute;
top:380.5px;
left:1733.23px;
letter-spacing:-0.78px;
}
.s_1_Chapter_11-12-13-4_150
{
position:absolute;
top:837.19px;
left:793.7px;
letter-spacing:-1.13px;
}
.s_1_Chapter_11-12-13-4_151
{
position:absolute;
top:837.19px;
left:2031.29px;
letter-spacing:-0.28px;
}
.s_1_Chapter_11-12-13-4_152
{
position:absolute;
top:1293.88px;
left:793.7px;
}
.s_1_Chapter_11-12-13-4_153
{
position:absolute;
top:1293.88px;
left:1691.21px;
letter-spacing:-0.81px;
}
.s_1_Chapter_11-12-13-4_154
{
position:absolute;
top:1293.88px;
left:2708.58px;
letter-spacing:-2.17px;
}
.s_1_Chapter_11-12-13-4_155
{
position:absolute;
top:1750.58px;
left:793.7px;
letter-spacing:-8.52px;
}
.s_1_Chapter_11-12-13-4_156
{
position:absolute;
top:1750.58px;
left:1742.17px;
letter-spacing:-0.26px;
}
.s_1_Chapter_11-12-13-4_157
{
position:absolute;
top:-19.5px;
left:396.85px;
letter-spacing:-0.39px;
}
.s_1_Chapter_11-12-13-4_158
{
position:absolute;
top:-19.5px;
left:895.53px;
letter-spacing:-0.71px;
}
.s_1_Chapter_11-12-13-4_159
{
position:absolute;
top:-19.5px;
left:1443.86px;
letter-spacing:-1.88px;
}
.s_1_Chapter_11-12-13-4_160
{
position:absolute;
top:-19.5px;
left:2542.09px;
}
.s_1_Chapter_11-12-13-4_161
{
position:absolute;
top:-19.5px;
left:2996.3px;
letter-spacing:-0.48px;
}
.s_1_Chapter_11-12-13-4_162
{
position:absolute;
top:-19.5px;
left:3752.63px;
letter-spacing:-1.34px;
}
.s_1_Chapter_11-12-13-4_163
{
position:absolute;
top:-19.5px;
left:4529.77px;
letter-spacing:-0.82px;
}
.s_1_Chapter_11-12-13-4_164
{
position:absolute;
top:-19.5px;
left:5180.28px;
}
.s_1_Chapter_11-12-13-4_165
{
position:absolute;
top:380.5px;
left:396.85px;
letter-spacing:-0.52px;
}
.s_1_Chapter_11-12-13-4_166
{
position:absolute;
top:380.5px;
left:949.86px;
letter-spacing:-2.6px;
}
.s_1_Chapter_11-12-13-4_167
{
position:absolute;
top:380.5px;
left:1355.19px;
letter-spacing:-1.49px;
}
.s_1_Chapter_11-12-13-4_168
{
position:absolute;
top:380.5px;
left:1808.62px;
letter-spacing:-0.62px;
}
.s_1_Chapter_11-12-13-4_169
{
position:absolute;
top:380.5px;
left:2464.59px;
letter-spacing:-2.6px;
}
.s_1_Chapter_11-12-13-4_170
{
position:absolute;
top:380.5px;
left:2865.5px;
}
.s_1_Chapter_11-12-13-4_171
{
position:absolute;
top:380.5px;
left:3319.71px;
letter-spacing:-0.22px;
}
.s_1_Chapter_11-12-13-4_172
{
position:absolute;
top:380.5px;
left:4069.02px;
letter-spacing:-2.68px;
}
.s_1_Chapter_11-12-13-4_173
{
position:absolute;
top:380.5px;
left:4368.54px;
}
.s_1_Chapter_11-12-13-4_174
{
position:absolute;
top:380.5px;
left:4822.75px;
letter-spacing:-0.63px;
}
.s_1_Chapter_11-12-13-4_175
{
position:absolute;
top:780.5px;
left:396.85px;
}
.s_1_Chapter_11-12-13-4_176
{
position:absolute;
top:780.5px;
left:1265.75px;
}
.s_1_Chapter_11-12-13-4_177
{
position:absolute;
top:780.5px;
left:2094.36px;
}
.s_1_Chapter_11-12-13-4_178
{
position:absolute;
top:780.5px;
left:2605.51px;
letter-spacing:-1px;
}
.s_1_Chapter_11-12-13-4_179
{
position:absolute;
top:780.5px;
left:3242.24px;
}
.s_1_Chapter_11-12-13-4_180
{
position:absolute;
top:780.5px;
left:3696.45px;
letter-spacing:-0.21px;
}
.s_1_Chapter_11-12-13-4_181
{
position:absolute;
top:780.5px;
left:5197.42px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-4_182
{
position:absolute;
top:1180.5px;
left:396.85px;
letter-spacing:-5.91px;
}
.s_1_Chapter_11-12-13-4_183
{
position:absolute;
top:1637.19px;
left:793.7px;
letter-spacing:-1.6px;
}
.s_1_Chapter_11-12-13-4_184
{
position:absolute;
top:1637.19px;
left:1714.35px;
letter-spacing:-7.19px;
}
.s_1_Chapter_11-12-13-4_185
{
position:absolute;
top:2093.88px;
left:793.7px;
letter-spacing:-0.65px;
}
.s_1_Chapter_11-12-13-4_186
{
position:absolute;
top:2093.88px;
left:2016.46px;
letter-spacing:-0.48px;
}
.s_1_Chapter_11-12-13-4_187
{
position:absolute;
top:2550.58px;
left:793.7px;
letter-spacing:-2.08px;
}
.s_1_Chapter_11-12-13-4_188
{
position:absolute;
top:2550.58px;
left:1351.91px;
letter-spacing:-1.82px;
}
.s_1_Chapter_11-12-13-4_189
{
position:absolute;
top:41.44px;
left:134.15px;
}
.s_1_Chapter_11-12-13-4_190
{
position:absolute;
top:41.44px;
left:134.15px;
}
.s_1_Chapter_11-12-13-4_191
{
position:absolute;
top:-19.5px;
left:396.85px;
}
.s_1_Chapter_11-12-13-4_192
{
position:absolute;
top:-19.5px;
left:775.66px;
letter-spacing:-0.49px;
}
.s_1_Chapter_11-12-13-4_193
{
position:absolute;
top:-19.5px;
left:1927.44px;
letter-spacing:-2.6px;
}
.s_1_Chapter_11-12-13-4_194
{
position:absolute;
top:-19.5px;
left:2332.77px;
letter-spacing:-0.41px;
}
.s_1_Chapter_11-12-13-4_195
{
position:absolute;
top:-19.5px;
left:2957.02px;
}
.s_1_Chapter_11-12-13-4_196
{
position:absolute;
top:-19.5px;
left:4257px;
}
.s_1_Chapter_11-12-13-4_197
{
position:absolute;
top:-19.5px;
left:4743.98px;
}
.s_1_Chapter_11-12-13-4_198
{
position:absolute;
top:-19.5px;
left:4996.43px;
}
.s_1_Chapter_11-12-13-4_199
{
position:absolute;
top:-19.5px;
left:5515.12px;
letter-spacing:-0.46px;
}
.s_1_Chapter_11-12-13-4_200
{
position:absolute;
top:380.5px;
left:396.85px;
letter-spacing:-0.22px;
}
.s_1_Chapter_11-12-13-4_201
{
position:absolute;
top:380.5px;
left:1286.03px;
letter-spacing:-2.86px;
}
.s_1_Chapter_11-12-13-4_202
{
position:absolute;
top:380.5px;
left:1862.18px;
}
.s_1_Chapter_11-12-13-4_203
{
position:absolute;
top:380.5px;
left:2170.79px;
}
.s_1_Chapter_11-12-13-4_204
{
position:absolute;
top:380.5px;
left:2653.87px;
}
.s_1_Chapter_11-12-13-4_205
{
position:absolute;
top:380.5px;
left:3108.08px;
letter-spacing:-0.48px;
}
.s_1_Chapter_11-12-13-4_206
{
position:absolute;
top:380.5px;
left:3864.41px;
letter-spacing:-1.34px;
}
.s_1_Chapter_11-12-13-4_207
{
position:absolute;
top:380.5px;
left:4641.54px;
letter-spacing:-0.82px;
}
.s_1_Chapter_11-12-13-4_208
{
position:absolute;
top:837.19px;
left:793.7px;
letter-spacing:-1.34px;
}
.s_1_Chapter_11-12-13-4_209
{
position:absolute;
top:837.19px;
left:1627px;
letter-spacing:-2.54px;
}
.s_1_Chapter_11-12-13-4_210
{
position:absolute;
top:1293.88px;
left:793.7px;
letter-spacing:-2.08px;
}
.s_1_Chapter_11-12-13-4_211
{
position:absolute;
top:1293.88px;
left:1351.91px;
letter-spacing:-1.82px;
}
.s_1_Chapter_11-12-13-4_212
{
position:absolute;
top:1750.58px;
left:793.7px;
}
.s_1_Chapter_11-12-13-4_213
{
position:absolute;
top:1750.58px;
left:1486.59px;
letter-spacing:-1.37px;
}
.s_1_Chapter_11-12-13-4_214
{
position:absolute;
top:-19.5px;
left:396.85px;
letter-spacing:-0.39px;
}
.s_1_Chapter_11-12-13-4_215
{
position:absolute;
top:-19.5px;
left:900.47px;
}
.s_1_Chapter_11-12-13-4_216
{
position:absolute;
top:-19.5px;
left:1157.34px;
}
.s_1_Chapter_11-12-13-4_217
{
position:absolute;
top:-19.5px;
left:1509.63px;
}
.s_1_Chapter_11-12-13-4_218
{
position:absolute;
top:-19.5px;
left:2695.74px;
letter-spacing:-0.66px;
}
.s_1_Chapter_11-12-13-4_219
{
position:absolute;
top:-19.5px;
left:3798.12px;
}
.s_1_Chapter_11-12-13-4_220
{
position:absolute;
top:-19.5px;
left:4304.86px;
}
.s_1_Chapter_11-12-13-4_221
{
position:absolute;
top:-19.5px;
left:4755.43px;
text-rendering:optimizeLegibility;
letter-spacing:-0.26px;
}
.s_1_Chapter_11-12-13-4_222
{
position:absolute;
top:-19.5px;
left:5286.85px;
letter-spacing:-0.91px;
}
.s_1_Chapter_11-12-13-4_223
{
position:absolute;
top:380.5px;
left:396.85px;
}
.s_1_Chapter_11-12-13-4_224
{
position:absolute;
top:380.5px;
left:1578.01px;
letter-spacing:-0.52px;
}
.s_1_Chapter_11-12-13-4_225
{
position:absolute;
top:380.5px;
left:2515.31px;
}
.s_1_Chapter_11-12-13-4_226
{
position:absolute;
top:380.5px;
left:2824.44px;
letter-spacing:-1.45px;
}
.s_1_Chapter_11-12-13-4_227
{
position:absolute;
top:380.5px;
left:3557.62px;
}
.s_1_Chapter_11-12-13-4_228
{
position:absolute;
top:380.5px;
left:3871.17px;
letter-spacing:-0.48px;
}
.s_1_Chapter_11-12-13-4_229
{
position:absolute;
top:837.19px;
left:793.7px;
letter-spacing:-0.48px;
}
.s_1_Chapter_11-12-13-4_230
{
position:absolute;
top:837.19px;
left:1447.59px;
letter-spacing:-1.25px;
}
.s_1_Chapter_11-12-13-4_231
{
position:absolute;
top:1293.88px;
left:793.7px;
letter-spacing:-0.71px;
}
.s_1_Chapter_11-12-13-4_232
{
position:absolute;
top:1293.88px;
left:1373.76px;
letter-spacing:-0.52px;
}
.s_1_Chapter_11-12-13-4_233
{
position:absolute;
top:1750.58px;
left:793.7px;
letter-spacing:-5.88px;
}
.s_1_Chapter_11-12-13-4_234
{
position:absolute;
top:1750.58px;
left:1365.95px;
}
.s_1_Chapter_11-12-13-4_235
{
position:absolute;
top:-19.5px;
left:396.85px;
letter-spacing:-0.39px;
}
.s_1_Chapter_11-12-13-4_236
{
position:absolute;
top:-19.5px;
left:900.47px;
letter-spacing:-2.69px;
}
.s_1_Chapter_11-12-13-4_237
{
position:absolute;
top:-19.5px;
left:1625.86px;
}
.s_1_Chapter_11-12-13-4_238
{
position:absolute;
top:-19.5px;
left:2080.07px;
letter-spacing:-2.52px;
}
.s_1_Chapter_11-12-13-4_239
{
position:absolute;
top:-19.5px;
left:2916.74px;
}
.s_1_Chapter_11-12-13-4_240
{
position:absolute;
top:-19.5px;
left:3351.18px;
letter-spacing:-3.38px;
}
.s_1_Chapter_11-12-13-4_241
{
position:absolute;
top:-19.5px;
left:3694.9px;
text-rendering:optimizeLegibility;
letter-spacing:-1.87px;
}
.s_1_Chapter_11-12-13-4_242
{
position:absolute;
top:-19.5px;
left:4187.34px;
}
.s_1_Chapter_11-12-13-4_243
{
position:absolute;
top:-19.5px;
left:5222.91px;
letter-spacing:-2.6px;
}
.s_1_Chapter_11-12-13-4_244
{
position:absolute;
top:-19.5px;
left:5628.24px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-4_245
{
position:absolute;
top:380.5px;
left:396.85px;
letter-spacing:-1.98px;
}
.s_1_Chapter_11-12-13-4_246
{
position:absolute;
top:380.5px;
left:1017.98px;
letter-spacing:-0.26px;
}
.s_1_Chapter_11-12-13-4_247
{
position:absolute;
top:380.5px;
left:1747.79px;
}
.s_1_Chapter_11-12-13-4_248
{
position:absolute;
top:380.5px;
left:2024.42px;
letter-spacing:-0.48px;
}
.s_1_Chapter_11-12-13-4_249
{
position:absolute;
top:380.5px;
left:2788.55px;
letter-spacing:-3.38px;
}
.s_1_Chapter_11-12-13-4_250
{
position:absolute;
top:380.5px;
left:3139.03px;
}
.s_1_Chapter_11-12-13-4_251
{
position:absolute;
top:380.5px;
left:4284.31px;
letter-spacing:-3.25px;
}
.s_1_Chapter_11-12-13-4_252
{
position:absolute;
top:380.5px;
left:4487.37px;
letter-spacing:-0.39px;
}
.s_1_Chapter_11-12-13-4_253
{
position:absolute;
top:380.5px;
left:5095.23px;
letter-spacing:-2.68px;
}
.s_1_Chapter_11-12-13-4_254
{
position:absolute;
top:380.5px;
left:5399.17px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-4_255
{
position:absolute;
top:380.5px;
left:5878.86px;
letter-spacing:-1.98px;
}
.s_1_Chapter_11-12-13-4_256
{
position:absolute;
top:780.5px;
left:396.85px;
}
.s_1_Chapter_11-12-13-4_257
{
position:absolute;
top:780.5px;
left:673.49px;
letter-spacing:-0.48px;
}
.s_1_Chapter_11-12-13-4_258
{
position:absolute;
top:1237.19px;
left:793.7px;
letter-spacing:-0.81px;
}
.s_1_Chapter_11-12-13-4_259
{
position:absolute;
top:1237.19px;
left:1810.29px;
letter-spacing:-1.82px;
}
.s_1_Chapter_11-12-13-4_260
{
position:absolute;
top:1693.88px;
left:793.7px;
}
.s_1_Chapter_11-12-13-4_261
{
position:absolute;
top:1693.88px;
left:2011.26px;
letter-spacing:-0.71px;
}
.s_1_Chapter_11-12-13-4_262
{
position:absolute;
top:2150.58px;
left:793.7px;
letter-spacing:-1.91px;
}
.s_1_Chapter_11-12-13-4_263
{
position:absolute;
top:2150.58px;
left:1589.03px;
letter-spacing:-0.3px;
}
.s_1_Chapter_11-12-13-4_264
{
position:absolute;
top:-19.5px;
left:396.85px;
letter-spacing:-0.39px;
}
.s_1_Chapter_11-12-13-4_265
{
position:absolute;
top:-19.5px;
left:900.47px;
}
.s_1_Chapter_11-12-13-4_266
{
position:absolute;
top:-19.5px;
left:1157.34px;
}
.s_1_Chapter_11-12-13-4_267
{
position:absolute;
top:-19.5px;
left:1509.63px;
}
.s_1_Chapter_11-12-13-4_268
{
position:absolute;
top:-19.5px;
left:2695.74px;
letter-spacing:-0.85px;
}
.s_1_Chapter_11-12-13-4_269
{
position:absolute;
top:-19.5px;
left:3490.81px;
}
.s_1_Chapter_11-12-13-4_270
{
position:absolute;
top:-19.5px;
left:3997.54px;
}
.s_1_Chapter_11-12-13-4_271
{
position:absolute;
top:-19.5px;
left:4448.11px;
text-rendering:optimizeLegibility;
letter-spacing:-0.26px;
}
.s_1_Chapter_11-12-13-4_272
{
position:absolute;
top:-19.5px;
left:4987.34px;
letter-spacing:-0.22px;
}
.s_1_Chapter_11-12-13-4_273
{
position:absolute;
top:-19.5px;
left:5872.1px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-4_274
{
position:absolute;
top:380.5px;
left:396.85px;
letter-spacing:-1.79px;
}
.s_1_Chapter_11-12-13-4_275
{
position:absolute;
top:380.5px;
left:1313.08px;
}
.s_1_Chapter_11-12-13-4_276
{
position:absolute;
top:380.5px;
left:1697.87px;
letter-spacing:-1.6px;
}
.s_1_Chapter_11-12-13-4_277
{
position:absolute;
top:380.5px;
left:2781.55px;
letter-spacing:-2.15px;
}
.s_1_Chapter_11-12-13-4_278
{
position:absolute;
top:380.5px;
left:3715.71px;
}
.s_1_Chapter_11-12-13-4_279
{
position:absolute;
top:380.5px;
left:3992.35px;
}
.s_1_Chapter_11-12-13-4_280
{
position:absolute;
top:380.5px;
left:4502.2px;
letter-spacing:-0.26px;
}
.s_1_Chapter_11-12-13-4_281
{
position:absolute;
top:380.5px;
left:5167.53px;
}
.s_1_Chapter_11-12-13-4_282
{
position:absolute;
top:380.5px;
left:5444.17px;
letter-spacing:-1.34px;
}
.s_1_Chapter_11-12-13-4_283
{
position:absolute;
top:837.19px;
left:793.7px;
}
.s_1_Chapter_11-12-13-4_284
{
position:absolute;
top:837.19px;
left:1567.71px;
}
.s_1_Chapter_11-12-13-4_285
{
position:absolute;
top:1293.88px;
left:793.7px;
letter-spacing:-0.68px;
}
.s_1_Chapter_11-12-13-4_286
{
position:absolute;
top:1750.58px;
left:793.7px;
letter-spacing:-1.33px;
}
.s_1_Chapter_11-12-13-4_287
{
position:absolute;
top:1750.58px;
left:1869.57px;
letter-spacing:-0.45px;
}
.s_1_Chapter_11-12-13-4_288
{
position:absolute;
top:-19.5px;
left:396.85px;
letter-spacing:-0.45px;
}
.s_1_Chapter_11-12-13-4_289
{
position:absolute;
top:-19.5px;
left:899.95px;
}
.s_1_Chapter_11-12-13-4_290
{
position:absolute;
top:-19.5px;
left:1485.97px;
letter-spacing:-2.68px;
}
.s_1_Chapter_11-12-13-4_291
{
position:absolute;
top:-19.5px;
left:1789.91px;
letter-spacing:-3.25px;
}
.s_1_Chapter_11-12-13-4_292
{
position:absolute;
top:-19.5px;
left:1997.39px;
letter-spacing:-0.89px;
}
.s_1_Chapter_11-12-13-4_293
{
position:absolute;
top:-19.5px;
left:2763.86px;
letter-spacing:-0.75px;
}
.s_1_Chapter_11-12-13-4_294
{
position:absolute;
top:-19.5px;
left:3728.44px;
}
.s_1_Chapter_11-12-13-4_295
{
position:absolute;
top:-19.5px;
left:4223.99px;
letter-spacing:-0.62px;
}
.s_1_Chapter_11-12-13-4_296
{
position:absolute;
top:-19.5px;
left:4919.22px;
}
.s_1_Chapter_11-12-13-4_297
{
position:absolute;
top:-19.5px;
left:5684.91px;
letter-spacing:-1.17px;
}
.s_1_Chapter_11-12-13-4_298
{
position:absolute;
top:380.5px;
left:396.85px;
letter-spacing:-2.6px;
}
.s_1_Chapter_11-12-13-4_299
{
position:absolute;
top:380.5px;
left:802.18px;
}
.s_1_Chapter_11-12-13-4_300
{
position:absolute;
top:380.5px;
left:1139.13px;
}
.s_1_Chapter_11-12-13-4_301
{
position:absolute;
top:380.5px;
left:2231.38px;
letter-spacing:-1.4px;
}
.s_1_Chapter_11-12-13-4_302
{
position:absolute;
top:380.5px;
left:2864.73px;
}
.s_1_Chapter_11-12-13-4_303
{
position:absolute;
top:380.5px;
left:3437.23px;
}
.s_1_Chapter_11-12-13-4_304
{
position:absolute;
top:380.5px;
left:3750.79px;
letter-spacing:-0.56px;
}
.s_1_Chapter_11-12-13-4_305
{
position:absolute;
top:380.5px;
left:4300.41px;
}
.s_1_Chapter_11-12-13-4_306
{
position:absolute;
top:380.5px;
left:4787.39px;
}
.s_1_Chapter_11-12-13-4_307
{
position:absolute;
top:380.5px;
left:5044.26px;
}
.s_1_Chapter_11-12-13-4_308
{
position:absolute;
top:380.5px;
left:5549.69px;
}
.s_1_Chapter_11-12-13-4_309
{
position:absolute;
top:780.5px;
left:396.85px;
}
.s_1_Chapter_11-12-13-4_310
{
position:absolute;
top:780.5px;
left:1265.23px;
letter-spacing:-0.91px;
}
.s_1_Chapter_11-12-13-4_311
{
position:absolute;
top:780.5px;
left:2159.88px;
}
.s_1_Chapter_11-12-13-4_312
{
position:absolute;
top:780.5px;
left:3472.34px;
letter-spacing:-2.68px;
}
.s_1_Chapter_11-12-13-4_313
{
position:absolute;
top:780.5px;
left:3771.86px;
}
.s_1_Chapter_11-12-13-4_314
{
position:absolute;
top:780.5px;
left:4226.07px;
}
.s_1_Chapter_11-12-13-4_315
{
position:absolute;
top:784.99px;
left:4524.54px;
}
.s_1_Chapter_11-12-13-4_316
{
position:absolute;
top:780.5px;
left:4664.29px;
}
.s_1_Chapter_11-12-13-4_317
{
position:absolute;
top:780.5px;
left:4735.01px;
letter-spacing:-1.95px;
}
.s_1_Chapter_11-12-13-4_318
{
position:absolute;
top:1237.19px;
left:793.7px;
letter-spacing:-1.3px;
}
.s_1_Chapter_11-12-13-4_319
{
position:absolute;
top:1237.19px;
left:1329.03px;
}
.s_1_Chapter_11-12-13-4_320
{
position:absolute;
top:1693.88px;
left:793.7px;
letter-spacing:-0.26px;
}
.s_1_Chapter_11-12-13-4_321
{
position:absolute;
top:1693.88px;
left:1616.33px;
letter-spacing:-2.41px;
}
.s_1_Chapter_11-12-13-4_322
{
position:absolute;
top:2150.58px;
left:793.7px;
letter-spacing:-3.51px;
}
.s_1_Chapter_11-12-13-4_323
{
position:absolute;
top:2150.58px;
left:1260.66px;
letter-spacing:-1.2px;
}
.s_1_Chapter_11-12-13-4_324
{
position:absolute;
top:41.44px;
left:134.15px;
}
.s_1_Chapter_11-12-13-4_325
{
position:absolute;
top:-12.32px;
left:0px;
}
.s_1_Chapter_11-12-13-4_326
{
position:absolute;
top:-12.32px;
left:420.83px;
letter-spacing:-5.11px;
}
.s_1_Chapter_11-12-13-4_327
{
position:absolute;
top:-12.32px;
left:971.57px;
letter-spacing:-6.86px;
}
.s_1_Chapter_11-12-13-4_328
{
position:absolute;
top:-21px;
left:0px;
letter-spacing:-3.85px;
}
.s_1_Chapter_11-12-13-4_329
{
position:absolute;
top:-21px;
left:1046.35px;
letter-spacing:-1.96px;
}
.s_1_Chapter_11-12-13-4_330
{
position:absolute;
top:-21px;
left:1778.82px;
letter-spacing:-2.03px;
}
.s_1_Chapter_11-12-13-4_331
{
position:absolute;
top:-21px;
left:2799.41px;
}
.s_1_Chapter_11-12-13-4_332
{
position:absolute;
top:-21px;
left:3076.04px;
letter-spacing:-3.5px;
}
.s_1_Chapter_11-12-13-4_333
{
position:absolute;
top:-21px;
left:3299.48px;
letter-spacing:-0.22px;
}
.s_1_Chapter_11-12-13-4_334
{
position:absolute;
top:-21px;
left:5113.3px;
letter-spacing:-0.92px;
}
.s_1_Chapter_11-12-13-4_335
{
position:absolute;
top:-21px;
left:6028.6px;
}
.s_1_Chapter_11-12-13-4_336
{
position:absolute;
top:-21px;
left:6649.91px;
}
.s_1_Chapter_11-12-13-4_337
{
position:absolute;
top:-21px;
left:7402.54px;
}
.s_1_Chapter_11-12-13-4_338
{
position:absolute;
top:-21px;
left:7886.37px;
letter-spacing:-0.56px;
}
.s_1_Chapter_11-12-13-4_339
{
position:absolute;
top:379px;
left:0px;
letter-spacing:-2.72px;
}
.s_1_Chapter_11-12-13-4_340
{
position:absolute;
top:379px;
left:901.03px;
}
.s_1_Chapter_11-12-13-4_341
{
position:absolute;
top:379px;
left:1198.94px;
letter-spacing:-3.5px;
}
.s_1_Chapter_11-12-13-4_342
{
position:absolute;
top:379px;
left:1417.06px;
letter-spacing:-0.92px;
}
.s_1_Chapter_11-12-13-4_343
{
position:absolute;
top:379px;
left:3080.8px;
}
.s_1_Chapter_11-12-13-4_344
{
position:absolute;
top:379px;
left:4461.18px;
letter-spacing:-0.42px;
}
.s_1_Chapter_11-12-13-4_345
{
position:absolute;
top:379px;
left:4998.22px;
letter-spacing:-0.84px;
}
.s_1_Chapter_11-12-13-4_346
{
position:absolute;
top:379px;
left:5611.41px;
}
.s_1_Chapter_11-12-13-4_347
{
position:absolute;
top:379px;
left:6100.56px;
}
.s_1_Chapter_11-12-13-4_348
{
position:absolute;
top:379px;
left:6693.02px;
letter-spacing:-1.48px;
}
.s_1_Chapter_11-12-13-4_349
{
position:absolute;
top:379px;
left:7710.25px;
letter-spacing:-0.34px;
}
.s_1_Chapter_11-12-13-4_350
{
position:absolute;
top:779px;
left:0px;
}
.s_1_Chapter_11-12-13-4_351
{
position:absolute;
top:779px;
left:297.91px;
}
.s_1_Chapter_11-12-13-4_352
{
position:absolute;
top:779px;
left:516.87px;
letter-spacing:-0.34px;
}
.s_1_Chapter_11-12-13-4_353
{
position:absolute;
top:779px;
left:1065.1px;
}
.s_1_Chapter_11-12-13-4_354
{
position:absolute;
top:779px;
left:1336.13px;
}
.s_1_Chapter_11-12-13-4_355
{
position:absolute;
top:779px;
left:2080.64px;
}
.s_1_Chapter_11-12-13-4_356
{
position:absolute;
top:779px;
left:2631.11px;
}
.s_1_Chapter_11-12-13-4_357
{
position:absolute;
top:779px;
left:2771.95px;
}

.page46_pos1 {
	position:absolute;
	top: 162px;
	left: 209px;
}
.page46_pos2 {
	position:absolute;
	top: 185px;
	left: 177px;
}
.page46_pos3 {
	position:absolute;
	top: 207px;
	left: 205px;
}
.page46_pos4 {
	position:absolute;
	top: 294px;
	left: 392px;
}
.page46_pos5 {
	position:absolute;
	top: 318px;
	left: 341px;
}
.page46_pos6 {
	position:absolute;
	top: 340px;
	left: 371px;
}
.page46_pos7 {
	position:absolute;
	top: 414px;
	left: 215px;
}
.page46_pos8 {
	position:absolute;
	top: 437px;
	left: 202px;
}
.page46_pos9 {
	position:absolute;
	top: 461px;
	left: 182px;
}
.page46_pos10 {
	position:absolute;
	top: 541px;
	left: 409px;
}
.page46_pos11 {
	position:absolute;
	top: 563px;
	left: 384px;
}
.page46_pos12 {
	position:absolute;
	top: 586px;
	left: 359px;
}
.page46_pos13 {
	position:absolute;
	top: 710px;
	left: 201px;
}
.page46_pos14 {
	position:absolute;
	top: 733px;
	left: 227px;
}
.page46_pos15 {
	position:absolute;
	top: 756px;
	left: 186px;
}
.page46_pos16 {
	position:absolute;
	top: 93px;
	left: 328px;
}
.page46_pos17 {
	position:absolute;
	top: 116px;
	left: 342px;
}
.page46_pos18 {
	position:absolute;
	top: 138px;
	left: 329px;
}
.page46_pos19 {
	position:absolute;
	top: 211px;
	left: 191px;
}
.page46_pos20 {
	position:absolute;
	top: 234px;
	left: 165px;
}
.page46_pos21 {
	position:absolute;
	top: 258px;
	left: 173px;
}
.page46_pos22 {
	position:absolute;
	top: 340px;
	left: 357px;
}
.page46_pos23 {
	position:absolute;
	top: 363px;
	left: 377px;
}
.page46_pos24 {
	position:absolute;
	top: 385px;
	left: 351px;
}
.page46_pos25 {
	position:absolute;
	top: 462px;
	left: 176px;
}
.page46_pos26 {
	position:absolute;
	top: 485px;
	left: 130px;
}
.page46_pos27 {
	position:absolute;
	top: 508px;
	left: 202px;
}
.page46_pos28 {
	position:absolute;
	top: 600px;
	left: 317px;
}
.page46_pos29 {
	position:absolute;
	top: 623px;
	left: 352px;
}
.page46_pos30 {
	position:absolute;
	top: 646px;
	left: 322px;
}

.page46_btn1 {
	position:absolute;
	top: 797px;
	left: 273px;
}
.page46_btn2 {
	position:absolute;
	top: 797px;
	left: 214px;
}
