.d_1_Chapter_11-12-13-5_1
{position:absolute;overflow:hidden;left: 297.36px;top:0px;transform:translate(0.00px,0.00px);-webkit-transform:translate(0.00px,0.00px);-ms-transform:translate(0.00px,0.00px);-o-transform:translate(0.00px,0.00px);-moz-transform:translate(0.00px,0.00px);width:595.28px;height:841.89px;}
.d_1_Chapter_11-12-13-5_2
{
width:560.18px;
height:401.47px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-5_3
{
width:9224.86px;
height:832px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-5_4
{
width:3064.84px;
height:288px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-5_5
{
width:8788.99px;
height:1398.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-5_6
{
width:6567.29px;
height:1241.29px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-5_7
{
width:7414.49px;
height:1210.71px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-5_8
{
width:7223.31px;
height:1120.41px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-5_9
{
width:6879.61px;
height:1439.47px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-5_10
{
width:7287.72px;
height:1439.47px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_11-12-13-5_11
{
width:8177.42px;
height:776.7px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.s_1_Chapter_11-12-13-5_12
{
position:absolute;
top:41.44px;
left:134.15px;
}
.s_1_Chapter_11-12-13-5_13
{
position:absolute;
top:58.88px;
left:0px;
letter-spacing:-7.92px;
}
.s_1_Chapter_11-12-13-5_14
{
position:absolute;
top:213.6px;
left:329.76px;
}
.s_1_Chapter_11-12-13-5_15
{
position:absolute;
top:196.8px;
left:453.54px;
letter-spacing:-1.29px;
}
.s_1_Chapter_11-12-13-5_16
{
position:absolute;
top:196.8px;
left:1397.98px;
letter-spacing:-0.47px;
}
.s_1_Chapter_11-12-13-5_17
{
position:absolute;
top:196.8px;
left:2338.21px;
letter-spacing:-2.18px;
}
.s_1_Chapter_11-12-13-5_18
{
position:absolute;
top:196.8px;
left:2965.68px;
letter-spacing:-0.36px;
}
.s_1_Chapter_11-12-13-5_19
{
position:absolute;
top:196.8px;
left:3830.31px;
letter-spacing:-2.1px;
}
.s_1_Chapter_11-12-13-5_20
{
position:absolute;
top:196.8px;
left:4239.39px;
}
.s_1_Chapter_11-12-13-5_21
{
position:absolute;
top:196.8px;
left:4693.54px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-5_22
{
position:absolute;
top:196.8px;
left:6427.56px;
letter-spacing:-2.7px;
}
.s_1_Chapter_11-12-13-5_23
{
position:absolute;
top:196.8px;
left:6728.56px;
}
.s_1_Chapter_11-12-13-5_24
{
position:absolute;
top:196.8px;
left:7442.55px;
letter-spacing:-1.03px;
}
.s_1_Chapter_11-12-13-5_25
{
position:absolute;
top:196.8px;
left:8431.21px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-5_26
{
position:absolute;
top:596.8px;
left:453.54px;
letter-spacing:-2.7px;
}
.s_1_Chapter_11-12-13-5_27
{
position:absolute;
top:596.8px;
left:753.42px;
}
.s_1_Chapter_11-12-13-5_28
{
position:absolute;
top:596.8px;
left:1478.61px;
letter-spacing:-0.47px;
}
.s_1_Chapter_11-12-13-5_29
{
position:absolute;
top:596.8px;
left:2418.85px;
letter-spacing:-0.67px;
}
.s_1_Chapter_11-12-13-5_30
{
position:absolute;
top:596.8px;
left:3058.64px;
}
.s_1_Chapter_11-12-13-5_31
{
position:absolute;
top:596.8px;
left:3512.79px;
}
.s_1_Chapter_11-12-13-5_32
{
position:absolute;
top:596.8px;
left:4185.62px;
letter-spacing:-0.37px;
}
.s_1_Chapter_11-12-13-5_33
{
position:absolute;
top:613.6px;
left:5321.56px;
}
.s_1_Chapter_11-12-13-5_34
{
position:absolute;
top:-14.08px;
left:0px;
letter-spacing:-3.68px;
}
.s_1_Chapter_11-12-13-5_35
{
position:absolute;
top:-14.08px;
left:727.67px;
}
.s_1_Chapter_11-12-13-5_36
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-1.2px;
}
.s_1_Chapter_11-12-13-5_37
{
position:absolute;
top:-19.5px;
left:1363.94px;
}
.s_1_Chapter_11-12-13-5_38
{
position:absolute;
top:-19.5px;
left:1620.81px;
letter-spacing:-3.25px;
}
.s_1_Chapter_11-12-13-5_39
{
position:absolute;
top:-19.5px;
left:1822.05px;
letter-spacing:-0.57px;
}
.s_1_Chapter_11-12-13-5_40
{
position:absolute;
top:-19.5px;
left:2437.2px;
letter-spacing:-1.99px;
}
.s_1_Chapter_11-12-13-5_41
{
position:absolute;
top:-19.5px;
left:2750.49px;
letter-spacing:-0.19px;
}
.s_1_Chapter_11-12-13-5_42
{
position:absolute;
top:-19.5px;
left:3745.5px;
letter-spacing:-0.23px;
}
.s_1_Chapter_11-12-13-5_43
{
position:absolute;
top:-19.5px;
left:4797.18px;
letter-spacing:-3.38px;
}
.s_1_Chapter_11-12-13-5_44
{
position:absolute;
top:-19.5px;
left:5147.66px;
}
.s_1_Chapter_11-12-13-5_45
{
position:absolute;
top:-19.5px;
left:6016.56px;
letter-spacing:-1.48px;
}
.s_1_Chapter_11-12-13-5_46
{
position:absolute;
top:-19.5px;
left:7225.02px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-5_47
{
position:absolute;
top:380.5px;
left:0px;
}
.s_1_Chapter_11-12-13-5_48
{
position:absolute;
top:380.5px;
left:506.73px;
letter-spacing:-1px;
}
.s_1_Chapter_11-12-13-5_49
{
position:absolute;
top:380.5px;
left:1118.5px;
letter-spacing:-1.73px;
}
.s_1_Chapter_11-12-13-5_50
{
position:absolute;
top:380.5px;
left:2407.04px;
letter-spacing:-5.72px;
}
.s_1_Chapter_11-12-13-5_51
{
position:absolute;
top:380.5px;
left:2846.17px;
letter-spacing:-0.29px;
}
.s_1_Chapter_11-12-13-5_52
{
position:absolute;
top:380.5px;
left:3963.9px;
letter-spacing:-1.04px;
}
.s_1_Chapter_11-12-13-5_53
{
position:absolute;
top:380.5px;
left:4386.14px;
letter-spacing:-2.03px;
}
.s_1_Chapter_11-12-13-5_54
{
position:absolute;
top:380.5px;
left:5012.73px;
}
.s_1_Chapter_11-12-13-5_55
{
position:absolute;
top:380.5px;
left:5662.98px;
letter-spacing:-0.22px;
}
.s_1_Chapter_11-12-13-5_56
{
position:absolute;
top:380.5px;
left:6501.46px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-5_57
{
position:absolute;
top:380.5px;
left:7048.75px;
letter-spacing:-1.61px;
}
.s_1_Chapter_11-12-13-5_58
{
position:absolute;
top:380.5px;
left:7676.9px;
letter-spacing:-0.82px;
}
.s_1_Chapter_11-12-13-5_59
{
position:absolute;
top:380.5px;
left:8347.16px;
letter-spacing:-1.56px;
}
.s_1_Chapter_11-12-13-5_60
{
position:absolute;
top:780.5px;
left:0px;
letter-spacing:-1.99px;
}
.s_1_Chapter_11-12-13-5_61
{
position:absolute;
top:780.5px;
left:317.48px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-5_62
{
position:absolute;
top:780.5px;
left:888.19px;
}
.s_1_Chapter_11-12-13-5_63
{
position:absolute;
top:780.5px;
left:1737.88px;
letter-spacing:-0.62px;
}
.s_1_Chapter_11-12-13-5_64
{
position:absolute;
top:780.5px;
left:2439.64px;
letter-spacing:-0.78px;
}
.s_1_Chapter_11-12-13-5_65
{
position:absolute;
top:780.5px;
left:3008.8px;
}
.s_1_Chapter_11-12-13-5_66
{
position:absolute;
top:780.5px;
left:3322.12px;
letter-spacing:-0.48px;
}
.s_1_Chapter_11-12-13-5_67
{
position:absolute;
top:780.5px;
left:4009.57px;
letter-spacing:-1.13px;
}
.s_1_Chapter_11-12-13-5_68
{
position:absolute;
top:780.5px;
left:4273.5px;
}
.s_1_Chapter_11-12-13-5_69
{
position:absolute;
top:780.5px;
left:4497.37px;
letter-spacing:-0.26px;
}
.s_1_Chapter_11-12-13-5_70
{
position:absolute;
top:780.5px;
left:5115.67px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-5_71
{
position:absolute;
top:780.5px;
left:5428.98px;
letter-spacing:-0.85px;
}
.s_1_Chapter_11-12-13-5_72
{
position:absolute;
top:780.5px;
left:6778.38px;
letter-spacing:-0.84px;
}
.s_1_Chapter_11-12-13-5_73
{
position:absolute;
top:780.5px;
left:7763.54px;
letter-spacing:-1.49px;
}
.s_1_Chapter_11-12-13-5_74
{
position:absolute;
top:780.5px;
left:8367.54px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-5_75
{
position:absolute;
top:1180.5px;
left:0px;
letter-spacing:-1.04px;
}
.s_1_Chapter_11-12-13-5_76
{
position:absolute;
top:1180.5px;
left:422.23px;
letter-spacing:-1.17px;
}
.s_1_Chapter_11-12-13-5_77
{
position:absolute;
top:1180.5px;
left:1155.16px;
}
.s_1_Chapter_11-12-13-5_78
{
position:absolute;
top:1180.5px;
left:1777.07px;
letter-spacing:-0.78px;
}
.s_1_Chapter_11-12-13-5_79
{
position:absolute;
top:-19.5px;
left:396.85px;
letter-spacing:-0.52px;
}
.s_1_Chapter_11-12-13-5_80
{
position:absolute;
top:-19.5px;
left:1282.66px;
}
.s_1_Chapter_11-12-13-5_81
{
position:absolute;
top:-19.5px;
left:1618.57px;
}
.s_1_Chapter_11-12-13-5_82
{
position:absolute;
top:-19.5px;
left:2072.78px;
}
.s_1_Chapter_11-12-13-5_83
{
position:absolute;
top:-19.5px;
left:2933.37px;
letter-spacing:-2.68px;
}
.s_1_Chapter_11-12-13-5_84
{
position:absolute;
top:-19.5px;
left:3230.56px;
}
.s_1_Chapter_11-12-13-5_85
{
position:absolute;
top:-19.5px;
left:4108.04px;
}
.s_1_Chapter_11-12-13-5_86
{
position:absolute;
top:-19.5px;
left:4590.08px;
letter-spacing:-0.71px;
}
.s_1_Chapter_11-12-13-5_87
{
position:absolute;
top:-19.5px;
left:5133.99px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-5_88
{
position:absolute;
top:-19.5px;
left:5584.56px;
text-rendering:optimizeLegibility;
letter-spacing:-0.26px;
}
.s_1_Chapter_11-12-13-5_89
{
position:absolute;
top:380.5px;
left:396.85px;
letter-spacing:-0.52px;
}
.s_1_Chapter_11-12-13-5_90
{
position:absolute;
top:380.5px;
left:1334.92px;
letter-spacing:-0.88px;
}
.s_1_Chapter_11-12-13-5_91
{
position:absolute;
top:380.5px;
left:2403.25px;
text-rendering:optimizeLegibility;
letter-spacing:-0.94px;
}
.s_1_Chapter_11-12-13-5_92
{
position:absolute;
top:380.5px;
left:3245.63px;
}
.s_1_Chapter_11-12-13-5_93
{
position:absolute;
top:380.5px;
left:3822.57px;
}
.s_1_Chapter_11-12-13-5_94
{
position:absolute;
top:380.5px;
left:5318.83px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-5_95
{
position:absolute;
top:380.5px;
left:5591.05px;
}
.s_1_Chapter_11-12-13-5_96
{
position:absolute;
top:380.5px;
left:6045.26px;
letter-spacing:-0.26px;
}
.s_1_Chapter_11-12-13-5_97
{
position:absolute;
top:780.5px;
left:396.85px;
letter-spacing:-4.09px;
}
.s_1_Chapter_11-12-13-5_98
{
position:absolute;
top:780.5px;
left:933.22px;
letter-spacing:-2.68px;
}
.s_1_Chapter_11-12-13-5_99
{
position:absolute;
top:780.5px;
left:1237.16px;
letter-spacing:-0.22px;
}
.s_1_Chapter_11-12-13-5_100
{
position:absolute;
top:780.5px;
left:2973.94px;
}
.s_1_Chapter_11-12-13-5_101
{
position:absolute;
top:780.5px;
left:3250.58px;
letter-spacing:-3.64px;
}
.s_1_Chapter_11-12-13-5_102
{
position:absolute;
top:780.5px;
left:3827.76px;
}
.s_1_Chapter_11-12-13-5_103
{
position:absolute;
top:-19.5px;
left:396.85px;
letter-spacing:-0.39px;
}
.s_1_Chapter_11-12-13-5_104
{
position:absolute;
top:-19.5px;
left:900.47px;
letter-spacing:-1.7px;
}
.s_1_Chapter_11-12-13-5_105
{
position:absolute;
top:-19.5px;
left:1933.69px;
}
.s_1_Chapter_11-12-13-5_106
{
position:absolute;
top:-19.5px;
left:2862.91px;
}
.s_1_Chapter_11-12-13-5_107
{
position:absolute;
top:-19.5px;
left:3317.12px;
letter-spacing:-0.19px;
}
.s_1_Chapter_11-12-13-5_108
{
position:absolute;
top:-19.5px;
left:4136.89px;
}
.s_1_Chapter_11-12-13-5_109
{
position:absolute;
top:-19.5px;
left:4715.63px;
letter-spacing:-1.08px;
}
.s_1_Chapter_11-12-13-5_110
{
position:absolute;
top:-19.5px;
left:5350.55px;
letter-spacing:-1.75px;
}
.s_1_Chapter_11-12-13-5_111
{
position:absolute;
top:-19.5px;
left:6527.56px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-5_112
{
position:absolute;
top:380.5px;
left:396.85px;
letter-spacing:-0.71px;
}
.s_1_Chapter_11-12-13-5_113
{
position:absolute;
top:380.5px;
left:945.18px;
letter-spacing:-0.52px;
}
.s_1_Chapter_11-12-13-5_114
{
position:absolute;
top:380.5px;
left:1793.3px;
}
.s_1_Chapter_11-12-13-5_115
{
position:absolute;
top:380.5px;
left:2129.21px;
}
.s_1_Chapter_11-12-13-5_116
{
position:absolute;
top:380.5px;
left:2583.42px;
}
.s_1_Chapter_11-12-13-5_117
{
position:absolute;
top:380.5px;
left:3480.93px;
letter-spacing:-2.68px;
}
.s_1_Chapter_11-12-13-5_118
{
position:absolute;
top:380.5px;
left:3777.07px;
letter-spacing:-1.3px;
}
.s_1_Chapter_11-12-13-5_119
{
position:absolute;
top:380.5px;
left:4713.06px;
letter-spacing:-0.39px;
}
.s_1_Chapter_11-12-13-5_120
{
position:absolute;
top:380.5px;
left:5216.67px;
letter-spacing:-1.45px;
}
.s_1_Chapter_11-12-13-5_121
{
position:absolute;
top:380.5px;
left:6065.56px;
letter-spacing:-3.25px;
}
.s_1_Chapter_11-12-13-5_122
{
position:absolute;
top:380.5px;
left:6273.04px;
letter-spacing:-1px;
}
.s_1_Chapter_11-12-13-5_123
{
position:absolute;
top:780.5px;
left:396.85px;
letter-spacing:-1.4px;
}
.s_1_Chapter_11-12-13-5_124
{
position:absolute;
top:780.5px;
left:917.1px;
}
.s_1_Chapter_11-12-13-5_125
{
position:absolute;
top:780.5px;
left:1189.32px;
}
.s_1_Chapter_11-12-13-5_126
{
position:absolute;
top:780.5px;
left:1643.53px;
letter-spacing:-1.82px;
}
.s_1_Chapter_11-12-13-5_127
{
position:absolute;
top:780.5px;
left:2452.9px;
letter-spacing:-0.26px;
}
.s_1_Chapter_11-12-13-5_128
{
position:absolute;
top:780.5px;
left:3043.86px;
letter-spacing:-4.09px;
}
.s_1_Chapter_11-12-13-5_129
{
position:absolute;
top:780.5px;
left:3580.24px;
letter-spacing:-2.68px;
}
.s_1_Chapter_11-12-13-5_130
{
position:absolute;
top:780.5px;
left:3884.17px;
letter-spacing:-0.2px;
}
.s_1_Chapter_11-12-13-5_131
{
position:absolute;
top:780.5px;
left:5682.05px;
}
.s_1_Chapter_11-12-13-5_132
{
position:absolute;
top:-19.5px;
left:396.85px;
letter-spacing:-0.39px;
}
.s_1_Chapter_11-12-13-5_133
{
position:absolute;
top:-19.5px;
left:895.53px;
letter-spacing:-0.71px;
}
.s_1_Chapter_11-12-13-5_134
{
position:absolute;
top:-19.5px;
left:1443.86px;
letter-spacing:-3.25px;
}
.s_1_Chapter_11-12-13-5_135
{
position:absolute;
top:-19.5px;
left:1646.4px;
letter-spacing:-0.57px;
}
.s_1_Chapter_11-12-13-5_136
{
position:absolute;
top:-19.5px;
left:3075.86px;
letter-spacing:-0.88px;
}
.s_1_Chapter_11-12-13-5_137
{
position:absolute;
top:-19.5px;
left:4007.43px;
letter-spacing:-1px;
}
.s_1_Chapter_11-12-13-5_138
{
position:absolute;
top:-19.5px;
left:4694.07px;
}
.s_1_Chapter_11-12-13-5_139
{
position:absolute;
top:-19.5px;
left:5200.28px;
letter-spacing:-0.71px;
}
.s_1_Chapter_11-12-13-5_140
{
position:absolute;
top:-19.5px;
left:5744.2px;
}
.s_1_Chapter_11-12-13-5_141
{
position:absolute;
top:-19.5px;
left:6194.77px;
text-rendering:optimizeLegibility;
letter-spacing:-0.26px;
}
.s_1_Chapter_11-12-13-5_142
{
position:absolute;
top:380.5px;
left:396.85px;
letter-spacing:-0.52px;
}
.s_1_Chapter_11-12-13-5_143
{
position:absolute;
top:380.5px;
left:1334.14px;
}
.s_1_Chapter_11-12-13-5_144
{
position:absolute;
top:380.5px;
left:1647.69px;
}
.s_1_Chapter_11-12-13-5_145
{
position:absolute;
top:380.5px;
left:2012.46px;
letter-spacing:-0.78px;
}
.s_1_Chapter_11-12-13-5_146
{
position:absolute;
top:380.5px;
left:3085.46px;
letter-spacing:-3.38px;
}
.s_1_Chapter_11-12-13-5_147
{
position:absolute;
top:380.5px;
left:3431.52px;
}
.s_1_Chapter_11-12-13-5_148
{
position:absolute;
top:380.5px;
left:3885.73px;
letter-spacing:-0.19px;
}
.s_1_Chapter_11-12-13-5_149
{
position:absolute;
top:380.5px;
left:4705.49px;
letter-spacing:-0.54px;
}
.s_1_Chapter_11-12-13-5_150
{
position:absolute;
top:380.5px;
left:6200.99px;
letter-spacing:-2.6px;
}
.s_1_Chapter_11-12-13-5_151
{
position:absolute;
top:380.5px;
left:6606.32px;
letter-spacing:-1.49px;
}
.s_1_Chapter_11-12-13-5_152
{
position:absolute;
top:780.5px;
left:396.85px;
letter-spacing:-0.63px;
}
.s_1_Chapter_11-12-13-5_153
{
position:absolute;
top:780.5px;
left:1168.52px;
letter-spacing:-1.4px;
}
.s_1_Chapter_11-12-13-5_154
{
position:absolute;
top:780.5px;
left:1688.77px;
}
.s_1_Chapter_11-12-13-5_155
{
position:absolute;
top:780.5px;
left:1965.4px;
letter-spacing:-1.82px;
}
.s_1_Chapter_11-12-13-5_156
{
position:absolute;
top:780.5px;
left:2771.13px;
text-rendering:optimizeLegibility;
letter-spacing:-0.26px;
}
.s_1_Chapter_11-12-13-5_157
{
position:absolute;
top:780.5px;
left:3373.28px;
letter-spacing:-2.6px;
}
.s_1_Chapter_11-12-13-5_158
{
position:absolute;
top:780.5px;
left:3778.61px;
letter-spacing:-0.2px;
}
.s_1_Chapter_11-12-13-5_159
{
position:absolute;
top:780.5px;
left:5565.83px;
}
.s_1_Chapter_11-12-13-5_160
{
position:absolute;
top:-19.5px;
left:396.85px;
}
.s_1_Chapter_11-12-13-5_161
{
position:absolute;
top:-19.5px;
left:775.66px;
letter-spacing:-0.16px;
}
.s_1_Chapter_11-12-13-5_162
{
position:absolute;
top:-19.5px;
left:2009.6px;
letter-spacing:-0.85px;
}
.s_1_Chapter_11-12-13-5_163
{
position:absolute;
top:-19.5px;
left:2819.75px;
letter-spacing:-2.68px;
}
.s_1_Chapter_11-12-13-5_164
{
position:absolute;
top:-19.5px;
left:3119.26px;
}
.s_1_Chapter_11-12-13-5_165
{
position:absolute;
top:-19.5px;
left:3573.48px;
}
.s_1_Chapter_11-12-13-5_166
{
position:absolute;
top:-19.5px;
left:4361.01px;
letter-spacing:-0.32px;
}
.s_1_Chapter_11-12-13-5_167
{
position:absolute;
top:-19.5px;
left:5409.31px;
letter-spacing:-0.88px;
}
.s_1_Chapter_11-12-13-5_168
{
position:absolute;
top:380.5px;
left:396.85px;
}
.s_1_Chapter_11-12-13-5_169
{
position:absolute;
top:380.5px;
left:878.88px;
letter-spacing:-0.71px;
}
.s_1_Chapter_11-12-13-5_170
{
position:absolute;
top:380.5px;
left:1427.22px;
letter-spacing:-3.25px;
}
.s_1_Chapter_11-12-13-5_171
{
position:absolute;
top:380.5px;
left:1634.69px;
letter-spacing:-1px;
}
.s_1_Chapter_11-12-13-5_172
{
position:absolute;
top:380.5px;
left:2467.98px;
letter-spacing:-0.6px;
}
.s_1_Chapter_11-12-13-5_173
{
position:absolute;
top:380.5px;
left:3701.39px;
letter-spacing:-2.68px;
}
.s_1_Chapter_11-12-13-5_174
{
position:absolute;
top:380.5px;
left:4005.33px;
letter-spacing:-0.85px;
}
.s_1_Chapter_11-12-13-5_175
{
position:absolute;
top:380.5px;
left:4909.08px;
letter-spacing:-0.69px;
}
.s_1_Chapter_11-12-13-5_176
{
position:absolute;
top:380.5px;
left:5910.58px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-5_177
{
position:absolute;
top:780.5px;
left:396.85px;
letter-spacing:-2.03px;
}
.s_1_Chapter_11-12-13-5_178
{
position:absolute;
top:780.5px;
left:1027.86px;
letter-spacing:-3.9px;
}
.s_1_Chapter_11-12-13-5_179
{
position:absolute;
top:780.5px;
left:1716.08px;
}
.s_1_Chapter_11-12-13-5_180
{
position:absolute;
top:780.5px;
left:2049.65px;
letter-spacing:-1.49px;
}
.s_1_Chapter_11-12-13-5_181
{
position:absolute;
top:780.5px;
left:2508.03px;
}
.s_1_Chapter_11-12-13-5_182
{
position:absolute;
top:780.5px;
left:3334.03px;
}
.s_1_Chapter_11-12-13-5_183
{
position:absolute;
top:780.5px;
left:3647.58px;
}
.s_1_Chapter_11-12-13-5_184
{
position:absolute;
top:780.5px;
left:4007.67px;
}
.s_1_Chapter_11-12-13-5_185
{
position:absolute;
top:780.5px;
left:5351.6px;
letter-spacing:-2.6px;
}
.s_1_Chapter_11-12-13-5_186
{
position:absolute;
top:780.5px;
left:5756.93px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-5_187
{
position:absolute;
top:1180.5px;
left:396.85px;
}
.s_1_Chapter_11-12-13-5_188
{
position:absolute;
top:-19.5px;
left:396.85px;
letter-spacing:-0.39px;
}
.s_1_Chapter_11-12-13-5_189
{
position:absolute;
top:-19.5px;
left:895.53px;
letter-spacing:-0.71px;
}
.s_1_Chapter_11-12-13-5_190
{
position:absolute;
top:-19.5px;
left:1439.44px;
}
.s_1_Chapter_11-12-13-5_191
{
position:absolute;
top:-19.5px;
left:1890.01px;
text-rendering:optimizeLegibility;
letter-spacing:-0.26px;
}
.s_1_Chapter_11-12-13-5_192
{
position:absolute;
top:-19.5px;
left:2424.3px;
letter-spacing:-0.52px;
}
.s_1_Chapter_11-12-13-5_193
{
position:absolute;
top:-19.5px;
left:3366.01px;
letter-spacing:-0.95px;
}
.s_1_Chapter_11-12-13-5_194
{
position:absolute;
top:-19.5px;
left:4004.82px;
letter-spacing:-0.66px;
}
.s_1_Chapter_11-12-13-5_195
{
position:absolute;
top:-19.5px;
left:5027.39px;
letter-spacing:-2.68px;
}
.s_1_Chapter_11-12-13-5_196
{
position:absolute;
top:-19.5px;
left:5331.32px;
}
.s_1_Chapter_11-12-13-5_197
{
position:absolute;
top:-19.5px;
left:5691.42px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-5_198
{
position:absolute;
top:-19.5px;
left:6478.95px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-5_199
{
position:absolute;
top:380.5px;
left:396.85px;
letter-spacing:-1px;
}
.s_1_Chapter_11-12-13-5_200
{
position:absolute;
top:380.5px;
left:1038px;
letter-spacing:-0.2px;
}
.s_1_Chapter_11-12-13-5_201
{
position:absolute;
top:380.5px;
left:2825.21px;
letter-spacing:-0.39px;
}
.s_1_Chapter_11-12-13-5_202
{
position:absolute;
top:380.5px;
left:3328.83px;
}
.s_1_Chapter_11-12-13-5_203
{
position:absolute;
top:380.5px;
left:3965.82px;
letter-spacing:-2.25px;
}
.s_1_Chapter_11-12-13-5_204
{
position:absolute;
top:380.5px;
left:4764.53px;
letter-spacing:-0.41px;
}
.s_1_Chapter_11-12-13-5_205
{
position:absolute;
top:380.5px;
left:5845.35px;
}
.s_1_Chapter_11-12-13-5_206
{
position:absolute;
top:380.5px;
left:5916.06px;
}
.s_1_Chapter_11-12-13-5_207
{
position:absolute;
top:380.5px;
left:6188.28px;
}
.s_1_Chapter_11-12-13-5_208
{
position:absolute;
top:780.5px;
left:396.85px;
letter-spacing:-0.54px;
}
.s_1_Chapter_11-12-13-5_209
{
position:absolute;
top:780.5px;
left:1818.77px;
letter-spacing:-0.69px;
}
.s_1_Chapter_11-12-13-5_210
{
position:absolute;
top:780.5px;
left:3016.05px;
}
.s_1_Chapter_11-12-13-5_211
{
position:absolute;
top:780.5px;
left:3382.12px;
}
.s_1_Chapter_11-12-13-5_212
{
position:absolute;
top:780.5px;
left:3639.77px;
letter-spacing:-0.45px;
}
.s_1_Chapter_11-12-13-5_213
{
position:absolute;
top:780.5px;
left:4533.12px;
letter-spacing:-3.64px;
}
.s_1_Chapter_11-12-13-5_214
{
position:absolute;
top:780.5px;
left:5106.66px;
}
.s_1_Chapter_11-12-13-5_215
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.35px;
}
.s_1_Chapter_11-12-13-5_216
{
position:absolute;
top:-19.5px;
left:1434.4px;
letter-spacing:-1.36px;
}
.s_1_Chapter_11-12-13-5_217
{
position:absolute;
top:-19.5px;
left:3741.62px;
letter-spacing:-0.45px;
}
.s_1_Chapter_11-12-13-5_218
{
position:absolute;
top:-19.5px;
left:4566.85px;
letter-spacing:-1.3px;
}
.s_1_Chapter_11-12-13-5_219
{
position:absolute;
top:-19.5px;
left:5758.17px;
}
.s_1_Chapter_11-12-13-5_220
{
position:absolute;
top:-19.5px;
left:6342.38px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-5_221
{
position:absolute;
top:-19.5px;
left:7383.15px;
letter-spacing:0px;
}
.s_1_Chapter_11-12-13-5_222
{
position:absolute;
top:437.19px;
left:0px;
letter-spacing:-1.01px;
}
.s_1_Chapter_11-12-13-5_223
{
position:absolute;
top:437.19px;
left:1012.69px;
}
.s_1_Chapter_11-12-13-5_224
{
position:absolute;
top:437.19px;
left:3345.13px;
}
.s_1_Chapter_11-12-13-5_225
{
position:absolute;
top:437.19px;
left:4242.64px;
letter-spacing:-0.41px;
}
.s_1_Chapter_11-12-13-5_226
{
position:absolute;
top:437.19px;
left:5099.59px;
letter-spacing:-0.57px;
}

#text1 {
	position:absolute;
	top: 590px;
	left: 366px;
}
#text2 {
	position:absolute;
	top: 613px;
	left: 246px;
}
#text3 {
	position:absolute;
	top: 590px;
	left: 265px;
}
#text4 {
	position:absolute;
	top: 590px;
	left: 78px;
}
#text5 {
	position:absolute;
	top: 613px;
	left: 78px;
}
#box1 {
	position:absolute;
	top: 146px;
	left: 264px;
	width: 107px;
}
#box2 {
	position:absolute;
	top: 241px;
	left: 460px;
	width: 127px;
}
#box3 {
	position:absolute;
	top: 351px;
	left: 94px;
	width: 78px;
}
#box4 {
	position:absolute;
	top: 429px;
	left: 450px;
	width: 98px;
}
#box5 {
	position:absolute;
	top: 523px;
	left: 324px;
	width: 110px;
}
#box6 {
	position:absolute;
	top: 331px;
	left: 414px;
	width: 125px;
}
.p48_input_text1 {
	display: none;
	text-align: center;
	font-family: "Cabrito_Sans_Norm_Book";
	font-size: 13px;
	margin-top: 0px;
	line-height: 15px;
}
.page48_btn1 {
	position:absolute;
	top: 781px;
	left: 290px;
}
.text_p48 {
    font-family: "Cabrito_Sans_Norm_Book";
    font-weight: normal;
    font-style: normal;
    font-size: 13px;
    cursor: pointer;
    white-space : nowrap;
    line-height: 15px;
}
