.d_1_Chapter_15-16-4_1
{
position:absolute;
overflow:hidden;
left:0px;
top:0px;
transform:translate(0.00px,0.00px);
-webkit-transform:translate(0.00px,0.00px);
-ms-transform:translate(0.00px,0.00px);
-o-transform:translate(0.00px,0.00px);
-moz-transform:translate(0.00px,0.00px);
width:595.28px;
height:841.89px
}
.d_1_Chapter_15-16-4_2
{
width:560.18px;
height:401.47px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-4_3
{
width:9671.47px;
height:832px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-4_4
{
width:3064.84px;
height:288px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-4_5
{
width:9392.13px;
height:1414.2px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.65px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.65px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.65px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.65px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.65px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-4_6
{
width:1486.78px;
height:270.45px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-4_7
{
width:348.66px;
height:275.65px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-4_8
{
width:1724.38px;
height:198.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-4_9
{
width:348.66px;
height:275.65px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-4_10
{
width:2302.52px;
height:273.64px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-4_11
{
width:348.66px;
height:275.65px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-4_12
{
width:1854.65px;
height:228.85px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-4_13
{
width:348.66px;
height:275.65px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-4_14
{
width:1913.32px;
height:198.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-4_15
{
width:1464.44px;
height:298.56px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-4_16
{
width:1436.53px;
height:367.49px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-4_17
{
width:2174.83px;
height:261.16px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-4_18
{
width:2177.15px;
height:301.16px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-4_19
{
width:2179.23px;
height:261.16px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-4_20
{
width:2562.1px;
height:313.07px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-4_21
{
width:2748.8px;
height:261.16px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-4_22
{
width:9864.57px;
height:9089.76px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,1px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,1px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,1px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,1px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,1px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-4_23
{
width:2213.31px;
height:272.46px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-4_24
{
width:348.66px;
height:275.65px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-4_25
{
width:1724.38px;
height:198.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-4_26
{
width:348.66px;
height:275.65px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-4_27
{
width:348.66px;
height:275.65px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-4_28
{
width:2059.14px;
height:263.43px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-4_29
{
width:2281.09px;
height:316.03px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-4_30
{
width:348.66px;
height:275.65px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-4_31
{
position:absolute;
overflow:hidden;
left:0px;
top:0px;
transform:translate(595.28px,0.00px);
-webkit-transform:translate(595.28px,0.00px);
-ms-transform:translate(595.28px,0.00px);
-o-transform:translate(595.28px,0.00px);
-moz-transform:translate(595.28px,0.00px);
width:595.28px;
height:841.89px
}
.d_1_Chapter_15-16-4_32
{
width:560.18px;
height:401.47px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-4_33
{
width:7989.42px;
height:1398.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-4_34
{
width:10129.74px;
height:998.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.9px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-4_35
{
width:7200px;
height:1325.76px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-4_36
{
width:7503.28px;
height:1398.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-4_37
{
width:8481.04px;
height:1592.64px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-4_38
{
width:8135.28px;
height:1398.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-4_39
{
width:2264.84px;
height:288px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-4_40
{
width:7933.61px;
height:1398.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-4_41
{
width:8212.28px;
height:1398.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.s_1_Chapter_15-16-4_42
{
position:absolute;
top:41.44px;
left:134.15px;
}
.s_1_Chapter_15-16-4_43
{
position:absolute;
top:58.88px;
left:0px;
letter-spacing:-7.92px;
}
.s_1_Chapter_15-16-4_44
{
position:absolute;
top:213.6px;
left:305.76px;
}
.s_1_Chapter_15-16-4_45
{
position:absolute;
top:213.6px;
left:453.54px;
letter-spacing:-0.39px;
}
.s_1_Chapter_15-16-4_46
{
position:absolute;
top:213.6px;
left:918.94px;
letter-spacing:0px;
}
.s_1_Chapter_15-16-4_47
{
position:absolute;
top:213.6px;
left:1659.92px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_15-16-4_48
{
position:absolute;
top:213.6px;
left:2128.96px;
letter-spacing:-0.69px;
}
.s_1_Chapter_15-16-4_49
{
position:absolute;
top:213.6px;
left:3115.38px;
}
.s_1_Chapter_15-16-4_50
{
position:absolute;
top:213.6px;
left:3348.33px;
}
.s_1_Chapter_15-16-4_51
{
position:absolute;
top:213.6px;
left:3816.32px;
letter-spacing:-2.51px;
}
.s_1_Chapter_15-16-4_52
{
position:absolute;
top:213.6px;
left:4094.78px;
}
.s_1_Chapter_15-16-4_53
{
position:absolute;
top:213.6px;
left:4516.5px;
letter-spacing:-0.39px;
}
.s_1_Chapter_15-16-4_54
{
position:absolute;
top:213.6px;
left:5355.76px;
letter-spacing:0px;
}
.s_1_Chapter_15-16-4_55
{
position:absolute;
top:213.6px;
left:6523.4px;
letter-spacing:0px;
}
.s_1_Chapter_15-16-4_56
{
position:absolute;
top:213.6px;
left:6775.33px;
letter-spacing:0px;
}
.s_1_Chapter_15-16-4_57
{
position:absolute;
top:213.6px;
left:7196.01px;
letter-spacing:-0.37px;
}
.s_1_Chapter_15-16-4_58
{
position:absolute;
top:213.6px;
left:7952.59px;
letter-spacing:-0.52px;
}
.s_1_Chapter_15-16-4_59
{
position:absolute;
top:213.6px;
left:8719.07px;
letter-spacing:0px;
}
.s_1_Chapter_15-16-4_60
{
position:absolute;
top:613.6px;
left:453.54px;
letter-spacing:-0.19px;
}
.s_1_Chapter_15-16-4_61
{
position:absolute;
top:613.6px;
left:1345.59px;
}
.s_1_Chapter_15-16-4_62
{
position:absolute;
top:613.6px;
left:2086.58px;
}
.s_1_Chapter_15-16-4_63
{
position:absolute;
top:613.6px;
left:2850.96px;
}
.s_1_Chapter_15-16-4_64
{
position:absolute;
top:613.6px;
left:3141.38px;
}
.s_1_Chapter_15-16-4_65
{
position:absolute;
top:613.6px;
left:3563.09px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_15-16-4_66
{
position:absolute;
top:613.6px;
left:4149.9px;
letter-spacing:-1.92px;
}
.s_1_Chapter_15-16-4_67
{
position:absolute;
top:613.6px;
left:4701.1px;
letter-spacing:-2.03px;
}
.s_1_Chapter_15-16-4_68
{
position:absolute;
top:613.6px;
left:5283.75px;
letter-spacing:-0.39px;
}
.s_1_Chapter_15-16-4_69
{
position:absolute;
top:613.6px;
left:6164.62px;
letter-spacing:0px;
}
.s_1_Chapter_15-16-4_70
{
position:absolute;
top:-14.08px;
left:0px;
letter-spacing:-3.89px;
}
.s_1_Chapter_15-16-4_71
{
position:absolute;
top:-14.08px;
left:843.18px;
letter-spacing:-4.67px;
}
.s_1_Chapter_15-16-4_72
{
position:absolute;
top:-14.08px;
left:1635.81px;
letter-spacing:-3.89px;
}
.s_1_Chapter_15-16-4_73
{
position:absolute;
top:-21px;
left:0px;
letter-spacing:-2.57px;
}
.s_1_Chapter_15-16-4_74
{
position:absolute;
top:-21px;
left:775.04px;
letter-spacing:-2.89px;
}
.s_1_Chapter_15-16-4_75
{
position:absolute;
top:-21px;
left:1095.64px;
letter-spacing:-2.18px;
}
.s_1_Chapter_15-16-4_76
{
position:absolute;
top:-21px;
left:1737.67px;
letter-spacing:-1.09px;
}
.s_1_Chapter_15-16-4_77
{
position:absolute;
top:-21px;
left:2949.77px;
letter-spacing:-0.28px;
}
.s_1_Chapter_15-16-4_78
{
position:absolute;
top:-21px;
left:3663.2px;
letter-spacing:-1.89px;
}
.s_1_Chapter_15-16-4_79
{
position:absolute;
top:-21px;
left:4152.63px;
letter-spacing:-0.56px;
}
.s_1_Chapter_15-16-4_80
{
position:absolute;
top:-21px;
left:5065.98px;
letter-spacing:-3.64px;
}
.s_1_Chapter_15-16-4_81
{
position:absolute;
top:-21px;
left:5438.65px;
letter-spacing:-1.07px;
}
.s_1_Chapter_15-16-4_82
{
position:absolute;
top:-21px;
left:6097.48px;
}
.s_1_Chapter_15-16-4_83
{
position:absolute;
top:-21px;
left:6881.74px;
}
.s_1_Chapter_15-16-4_84
{
position:absolute;
top:-21px;
left:7860.33px;
letter-spacing:-1.4px;
}
.s_1_Chapter_15-16-4_85
{
position:absolute;
top:-21px;
left:8571.8px;
letter-spacing:-1.51px;
}
.s_1_Chapter_15-16-4_86
{
position:absolute;
top:379px;
left:0px;
}
.s_1_Chapter_15-16-4_87
{
position:absolute;
top:379px;
left:920.63px;
letter-spacing:-1.89px;
}
.s_1_Chapter_15-16-4_88
{
position:absolute;
top:379px;
left:1403.35px;
letter-spacing:-2.3px;
}
.s_1_Chapter_15-16-4_89
{
position:absolute;
top:379px;
left:2028.01px;
text-rendering:optimizeLegibility;
letter-spacing:-1.27px;
}
.s_1_Chapter_15-16-4_90
{
position:absolute;
top:379px;
left:3241.23px;
letter-spacing:-6.16px;
}
.s_1_Chapter_15-16-4_91
{
position:absolute;
top:379px;
left:3714.14px;
letter-spacing:-0.28px;
}
.s_1_Chapter_15-16-4_92
{
position:absolute;
top:379px;
left:4926.81px;
letter-spacing:-0.87px;
}
.s_1_Chapter_15-16-4_93
{
position:absolute;
top:379px;
left:5917.43px;
letter-spacing:-1.16px;
}
.s_1_Chapter_15-16-4_94
{
position:absolute;
top:379px;
left:6687.41px;
letter-spacing:-1.51px;
}
.s_1_Chapter_15-16-4_95
{
position:absolute;
top:379px;
left:7241.24px;
}
.s_1_Chapter_15-16-4_96
{
position:absolute;
top:379px;
left:8025.8px;
}
.s_1_Chapter_15-16-4_97
{
position:absolute;
top:379px;
left:8302.43px;
letter-spacing:-0.87px;
}
.s_1_Chapter_15-16-4_98
{
position:absolute;
top:779px;
left:0px;
letter-spacing:-4.09px;
}
.s_1_Chapter_15-16-4_99
{
position:absolute;
top:779px;
left:1297.5px;
}
.s_1_Chapter_15-16-4_100
{
position:absolute;
top:779px;
left:1847.97px;
letter-spacing:-1.24px;
}
.s_1_Chapter_15-16-4_101
{
position:absolute;
top:779px;
left:3501.91px;
letter-spacing:-1.51px;
}
.s_1_Chapter_15-16-4_102
{
position:absolute;
top:779px;
left:4055.74px;
}
.s_1_Chapter_15-16-4_103
{
position:absolute;
top:779px;
left:4840.29px;
}
.s_1_Chapter_15-16-4_104
{
position:absolute;
top:779px;
left:5116.93px;
letter-spacing:-0.73px;
}
.s_1_Chapter_15-16-4_105
{
position:absolute;
top:779px;
left:5990.79px;
}
.s_1_Chapter_15-16-4_106
{
position:absolute;
top:779px;
left:6558.9px;
letter-spacing:-0.34px;
}
.s_1_Chapter_15-16-4_107
{
position:absolute;
top:779px;
left:7801.25px;
}
.s_1_Chapter_15-16-4_108
{
position:absolute;
top:779px;
left:8410.8px;
}
.s_1_Chapter_15-16-4_109
{
position:absolute;
top:779px;
left:8901.63px;
}
.s_1_Chapter_15-16-4_110
{
position:absolute;
top:1179px;
left:0px;
letter-spacing:-1.51px;
}
.s_1_Chapter_15-16-4_111
{
position:absolute;
top:1179px;
left:553.83px;
}
.s_1_Chapter_15-16-4_112
{
position:absolute;
top:1179px;
left:1474.46px;
letter-spacing:-2.89px;
}
.s_1_Chapter_15-16-4_113
{
position:absolute;
top:1179px;
left:1793.38px;
letter-spacing:-1.88px;
}
.s_1_Chapter_15-16-4_114
{
position:absolute;
top:1179px;
left:2766.93px;
letter-spacing:-2.32px;
}
.s_1_Chapter_15-16-4_115
{
position:absolute;
top:1179px;
left:3739.92px;
letter-spacing:-1.91px;
}
.s_1_Chapter_15-16-4_116
{
position:absolute;
top:1179px;
left:4583.27px;
letter-spacing:-1.48px;
}
.s_1_Chapter_15-16-4_117
{
position:absolute;
top:1179px;
left:5498.02px;
}
.s_1_Chapter_15-16-4_118
{
position:absolute;
top:1179px;
left:6048.5px;
letter-spacing:-1.71px;
}
.s_1_Chapter_15-16-4_119
{
position:absolute;
top:1179px;
left:7164px;
}
.s_1_Chapter_15-16-4_120
{
position:absolute;
top:-19.5px;
left:262.14px;
letter-spacing:-0.3px;
}
.s_1_Chapter_15-16-4_121
{
position:absolute;
top:-19.5px;
left:144.3px;
}
.s_1_Chapter_15-16-4_122
{
position:absolute;
top:-19.5px;
left:344.14px;
letter-spacing:-0.22px;
}
.s_1_Chapter_15-16-4_123
{
position:absolute;
top:-19.5px;
left:104px;
}
.s_1_Chapter_15-16-4_124
{
position:absolute;
top:-19.5px;
left:588.63px;
letter-spacing:-1.3px;
}
.s_1_Chapter_15-16-4_125
{
position:absolute;
top:-19.5px;
left:1077.68px;
letter-spacing:-0.31px;
}
.s_1_Chapter_15-16-4_126
{
position:absolute;
top:-19.5px;
left:108.03px;
}
.s_1_Chapter_15-16-4_127
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.19px;
}
.s_1_Chapter_15-16-4_128
{
position:absolute;
top:-19.5px;
left:901.15px;
letter-spacing:-2.12px;
}
.s_1_Chapter_15-16-4_129
{
position:absolute;
top:-19.5px;
left:106.99px;
}
.s_1_Chapter_15-16-4_130
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-1.99px;
}
.s_1_Chapter_15-16-4_131
{
position:absolute;
top:-19.5px;
left:291.46px;
letter-spacing:-0.95px;
}
.s_1_Chapter_15-16-4_132
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-3.21px;
}
.s_1_Chapter_15-16-4_133
{
position:absolute;
top:-19.5px;
left:294.84px;
letter-spacing:-0.43px;
}
.s_1_Chapter_15-16-4_134
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-1.47px;
}
.s_1_Chapter_15-16-4_135
{
position:absolute;
top:-19.5px;
left:281.84px;
}
.s_1_Chapter_15-16-4_136
{
position:absolute;
top:-19.5px;
left:0px;
}
.s_1_Chapter_15-16-4_137
{
position:absolute;
top:-19.5px;
left:305.23px;
letter-spacing:-1.75px;
}
.s_1_Chapter_15-16-4_138
{
position:absolute;
top:-19.5px;
left:748.27px;
}
.s_1_Chapter_15-16-4_139
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-2.17px;
}
.s_1_Chapter_15-16-4_140
{
position:absolute;
top:-19.5px;
left:291.46px;
letter-spacing:-3.48px;
}
.s_1_Chapter_15-16-4_141
{
position:absolute;
top:-19.5px;
left:1302.84px;
letter-spacing:-0.39px;
}
.s_1_Chapter_15-16-4_142
{
position:absolute;
top:-19.5px;
left:0px;
}
.s_1_Chapter_15-16-4_143
{
position:absolute;
top:-19.5px;
left:304.72px;
letter-spacing:-1.2px;
}
.s_1_Chapter_15-16-4_144
{
position:absolute;
top:-19.5px;
left:943.27px;
}
.s_1_Chapter_15-16-4_145
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-2.43px;
}
.s_1_Chapter_15-16-4_146
{
position:absolute;
top:-19.5px;
left:292.78px;
letter-spacing:-3.9px;
}
.s_1_Chapter_15-16-4_147
{
position:absolute;
top:-19.5px;
left:517.43px;
letter-spacing:0px;
}
.s_1_Chapter_15-16-4_148
{
position:absolute;
top:-19.5px;
left:1297.7px;
}
.s_1_Chapter_15-16-4_149
{
position:absolute;
top:-19.5px;
left:1569.67px;
}
.s_1_Chapter_15-16-4_150
{
position:absolute;
top:-19.5px;
left:2023.64px;
letter-spacing:-0.58px;
}
.s_1_Chapter_15-16-4_151
{
position:absolute;
top:-19.5px;
left:0px;
}
.s_1_Chapter_15-16-4_152
{
position:absolute;
top:-19.5px;
left:246.21px;
}
.s_1_Chapter_15-16-4_153
{
position:absolute;
top:-19.5px;
left:291.3px;
}
.s_1_Chapter_15-16-4_154
{
position:absolute;
top:-19.5px;
left:1007.07px;
}
.s_1_Chapter_15-16-4_155
{
position:absolute;
top:-19.5px;
left:113.88px;
}
.s_1_Chapter_15-16-4_156
{
position:absolute;
top:-19.5px;
left:179.7px;
letter-spacing:-1.73px;
}
.s_1_Chapter_15-16-4_157
{
position:absolute;
top:-19.5px;
left:891.05px;
}
.s_1_Chapter_15-16-4_158
{
position:absolute;
top:-19.5px;
left:98.02px;
}
.s_1_Chapter_15-16-4_159
{
position:absolute;
top:-19.5px;
left:107.51px;
}
.s_1_Chapter_15-16-4_160
{
position:absolute;
top:-19.5px;
left:99.56px;
letter-spacing:-0.6px;
}
.s_1_Chapter_15-16-4_161
{
position:absolute;
top:-19.5px;
left:1502.77px;
}
.s_1_Chapter_15-16-4_162
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-3.75px;
}
.s_1_Chapter_15-16-4_163
{
position:absolute;
top:-19.5px;
left:847.33px;
letter-spacing:-1.3px;
}
.s_1_Chapter_15-16-4_164
{
position:absolute;
top:-19.5px;
left:1488.75px;
letter-spacing:-0.26px;
}
.s_1_Chapter_15-16-4_165
{
position:absolute;
top:-19.5px;
left:101.53px;
}
.s_1_Chapter_15-16-4_166
{
position:absolute;
top:41.44px;
left:134.15px;
}
.s_1_Chapter_15-16-4_167
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.3px;
}
.s_1_Chapter_15-16-4_168
{
position:absolute;
top:-19.5px;
left:771.41px;
letter-spacing:-0.45px;
}
.s_1_Chapter_15-16-4_169
{
position:absolute;
top:-19.5px;
left:1266.7px;
letter-spacing:-1.62px;
}
.s_1_Chapter_15-16-4_170
{
position:absolute;
top:-19.5px;
left:2413.03px;
letter-spacing:-2.41px;
}
.s_1_Chapter_15-16-4_171
{
position:absolute;
top:-19.5px;
left:3364.1px;
}
.s_1_Chapter_15-16-4_172
{
position:absolute;
top:-19.5px;
left:3616.56px;
}
.s_1_Chapter_15-16-4_173
{
position:absolute;
top:-19.5px;
left:4070.77px;
}
.s_1_Chapter_15-16-4_174
{
position:absolute;
top:-19.5px;
left:4860.37px;
letter-spacing:-0.31px;
}
.s_1_Chapter_15-16-4_175
{
position:absolute;
top:-19.5px;
left:6168.15px;
letter-spacing:-0.22px;
}
.s_1_Chapter_15-16-4_176
{
position:absolute;
top:380.5px;
left:0px;
letter-spacing:-2.51px;
}
.s_1_Chapter_15-16-4_177
{
position:absolute;
top:380.5px;
left:802.87px;
}
.s_1_Chapter_15-16-4_178
{
position:absolute;
top:380.5px;
left:1568.56px;
}
.s_1_Chapter_15-16-4_179
{
position:absolute;
top:380.5px;
left:2494.66px;
}
.s_1_Chapter_15-16-4_180
{
position:absolute;
top:380.5px;
left:2771.3px;
letter-spacing:-1.82px;
}
.s_1_Chapter_15-16-4_181
{
position:absolute;
top:380.5px;
left:3406.72px;
letter-spacing:-0.69px;
}
.s_1_Chapter_15-16-4_182
{
position:absolute;
top:380.5px;
left:3639.41px;
}
.s_1_Chapter_15-16-4_183
{
position:absolute;
top:380.5px;
left:3896.29px;
letter-spacing:-0.78px;
}
.s_1_Chapter_15-16-4_184
{
position:absolute;
top:380.5px;
left:4470.1px;
text-rendering:optimizeLegibility;
letter-spacing:-0.78px;
}
.s_1_Chapter_15-16-4_185
{
position:absolute;
top:380.5px;
left:5495.53px;
letter-spacing:-0.52px;
}
.s_1_Chapter_15-16-4_186
{
position:absolute;
top:380.5px;
left:6343.64px;
}
.s_1_Chapter_15-16-4_187
{
position:absolute;
top:380.5px;
left:6683.97px;
letter-spacing:-0.36px;
}
.s_1_Chapter_15-16-4_188
{
position:absolute;
top:780.5px;
left:0px;
letter-spacing:-4.22px;
}
.s_1_Chapter_15-16-4_189
{
position:absolute;
top:780.5px;
left:999.69px;
letter-spacing:-0.69px;
}
.s_1_Chapter_15-16-4_190
{
position:absolute;
top:780.5px;
left:1232.38px;
}
.s_1_Chapter_15-16-4_191
{
position:absolute;
top:780.5px;
left:1489.26px;
letter-spacing:-3.25px;
}
.s_1_Chapter_15-16-4_192
{
position:absolute;
top:780.5px;
left:1696.73px;
}
.s_1_Chapter_15-16-4_193
{
position:absolute;
top:780.5px;
left:2131.18px;
letter-spacing:-2.68px;
}
.s_1_Chapter_15-16-4_194
{
position:absolute;
top:780.5px;
left:2430.7px;
letter-spacing:-1.67px;
}
.s_1_Chapter_15-16-4_195
{
position:absolute;
top:780.5px;
left:3911.37px;
letter-spacing:-2.15px;
}
.s_1_Chapter_15-16-4_196
{
position:absolute;
top:780.5px;
left:4841.9px;
letter-spacing:-2.6px;
}
.s_1_Chapter_15-16-4_197
{
position:absolute;
top:780.5px;
left:5247.23px;
}
.s_1_Chapter_15-16-4_198
{
position:absolute;
top:780.5px;
left:6130.17px;
letter-spacing:0px;
}
.s_1_Chapter_15-16-4_199
{
position:absolute;
top:780.5px;
left:6636.91px;
letter-spacing:0px;
}
.s_1_Chapter_15-16-4_200
{
position:absolute;
top:1180.5px;
left:0px;
letter-spacing:-1.06px;
}
.s_1_Chapter_15-16-4_201
{
position:absolute;
top:1180.5px;
left:1291.93px;
}
.s_1_Chapter_15-16-4_202
{
position:absolute;
top:1180.5px;
left:1564.15px;
}
.s_1_Chapter_15-16-4_203
{
position:absolute;
top:1180.5px;
left:2010.56px;
}
.s_1_Chapter_15-16-4_204
{
position:absolute;
top:1180.5px;
left:3196.66px;
}
.s_1_Chapter_15-16-4_205
{
position:absolute;
top:1180.5px;
left:3707.81px;
letter-spacing:-0.11px;
}
.s_1_Chapter_15-16-4_206
{
position:absolute;
top:1180.5px;
left:5261.55px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_15-16-4_207
{
position:absolute;
top:1180.5px;
left:5763.08px;
letter-spacing:-1.24px;
}
.s_1_Chapter_15-16-4_208
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-1.89px;
}
.s_1_Chapter_15-16-4_209
{
position:absolute;
top:-19.5px;
left:901.41px;
letter-spacing:-0.78px;
}
.s_1_Chapter_15-16-4_210
{
position:absolute;
top:-19.5px;
left:1323.12px;
letter-spacing:-0.31px;
}
.s_1_Chapter_15-16-4_211
{
position:absolute;
top:-19.5px;
left:2514.43px;
letter-spacing:-2.38px;
}
.s_1_Chapter_15-16-4_212
{
position:absolute;
top:-19.5px;
left:3186px;
letter-spacing:-1.98px;
}
.s_1_Chapter_15-16-4_213
{
position:absolute;
top:-19.5px;
left:3739.02px;
}
.s_1_Chapter_15-16-4_214
{
position:absolute;
top:-19.5px;
left:4030.47px;
letter-spacing:-0.31px;
}
.s_1_Chapter_15-16-4_215
{
position:absolute;
top:-19.5px;
left:5169.77px;
letter-spacing:-0.62px;
}
.s_1_Chapter_15-16-4_216
{
position:absolute;
top:-19.5px;
left:6764.08px;
letter-spacing:0px;
}
.s_1_Chapter_15-16-4_217
{
position:absolute;
top:-19.5px;
left:7016.01px;
letter-spacing:0px;
}
.s_1_Chapter_15-16-4_218
{
position:absolute;
top:-19.5px;
left:7436.69px;
letter-spacing:-0.43px;
}
.s_1_Chapter_15-16-4_219
{
position:absolute;
top:-19.5px;
left:8132.43px;
letter-spacing:-2.51px;
}
.s_1_Chapter_15-16-4_220
{
position:absolute;
top:-19.5px;
left:8411.93px;
letter-spacing:0px;
}
.s_1_Chapter_15-16-4_221
{
position:absolute;
top:380.5px;
left:0px;
letter-spacing:-0.26px;
}
.s_1_Chapter_15-16-4_222
{
position:absolute;
top:380.5px;
left:718.11px;
}
.s_1_Chapter_15-16-4_223
{
position:absolute;
top:380.5px;
left:1566.74px;
}
.s_1_Chapter_15-16-4_224
{
position:absolute;
top:380.5px;
left:2329.82px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_15-16-4_225
{
position:absolute;
top:380.5px;
left:2979.81px;
}
.s_1_Chapter_15-16-4_226
{
position:absolute;
top:380.5px;
left:4767.81px;
letter-spacing:-0.3px;
}
.s_1_Chapter_15-16-4_227
{
position:absolute;
top:380.5px;
left:5957.55px;
letter-spacing:0px;
}
.s_1_Chapter_15-16-4_228
{
position:absolute;
top:380.5px;
left:6428.14px;
letter-spacing:-0.52px;
}
.s_1_Chapter_15-16-4_229
{
position:absolute;
top:380.5px;
left:7126.23px;
letter-spacing:-1.17px;
}
.s_1_Chapter_15-16-4_230
{
position:absolute;
top:380.5px;
left:7537.29px;
}
.s_1_Chapter_15-16-4_231
{
position:absolute;
top:380.5px;
left:7850.32px;
letter-spacing:-0.62px;
}
.s_1_Chapter_15-16-4_232
{
position:absolute;
top:380.5px;
left:8414.51px;
letter-spacing:0px;
}
.s_1_Chapter_15-16-4_233
{
position:absolute;
top:380.5px;
left:9124.3px;
letter-spacing:0px;
}
.s_1_Chapter_15-16-4_234
{
position:absolute;
top:380.5px;
left:9546.01px;
}
.s_1_Chapter_15-16-4_235
{
position:absolute;
top:780.5px;
left:0px;
}
.s_1_Chapter_15-16-4_236
{
position:absolute;
top:780.5px;
left:965.37px;
letter-spacing:-1.14px;
}
.s_1_Chapter_15-16-4_237
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-3.29px;
}
.s_1_Chapter_15-16-4_238
{
position:absolute;
top:-19.5px;
left:756.07px;
}
.s_1_Chapter_15-16-4_239
{
position:absolute;
top:-19.5px;
left:826.79px;
letter-spacing:-2.11px;
}
.s_1_Chapter_15-16-4_240
{
position:absolute;
top:-19.5px;
left:1906.82px;
}
.s_1_Chapter_15-16-4_241
{
position:absolute;
top:-19.5px;
left:2183.45px;
letter-spacing:-3.64px;
}
.s_1_Chapter_15-16-4_242
{
position:absolute;
top:-19.5px;
left:2755.18px;
}
.s_1_Chapter_15-16-4_243
{
position:absolute;
top:-19.5px;
left:3209.39px;
letter-spacing:-0.19px;
}
.s_1_Chapter_15-16-4_244
{
position:absolute;
top:-19.5px;
left:4021.36px;
letter-spacing:-1.62px;
}
.s_1_Chapter_15-16-4_245
{
position:absolute;
top:-19.5px;
left:5175.49px;
letter-spacing:0px;
}
.s_1_Chapter_15-16-4_246
{
position:absolute;
top:-19.5px;
left:5720.96px;
letter-spacing:-2.11px;
}
.s_1_Chapter_15-16-4_247
{
position:absolute;
top:380.5px;
left:0px;
letter-spacing:-0.62px;
}
.s_1_Chapter_15-16-4_248
{
position:absolute;
top:380.5px;
left:1168.16px;
letter-spacing:-0.52px;
}
.s_1_Chapter_15-16-4_249
{
position:absolute;
top:380.5px;
left:2016.27px;
}
.s_1_Chapter_15-16-4_250
{
position:absolute;
top:380.5px;
left:2356.6px;
letter-spacing:-4.9px;
}
.s_1_Chapter_15-16-4_251
{
position:absolute;
top:380.5px;
left:3165.71px;
}
.s_1_Chapter_15-16-4_252
{
position:absolute;
top:380.5px;
left:3711.18px;
letter-spacing:-2.11px;
}
.s_1_Chapter_15-16-4_253
{
position:absolute;
top:380.5px;
left:4725.95px;
letter-spacing:-0.85px;
}
.s_1_Chapter_15-16-4_254
{
position:absolute;
top:380.5px;
left:5627.36px;
}
.s_1_Chapter_15-16-4_255
{
position:absolute;
top:380.5px;
left:6081.57px;
}
.s_1_Chapter_15-16-4_256
{
position:absolute;
top:780.5px;
left:0px;
letter-spacing:-0.19px;
}
.s_1_Chapter_15-16-4_257
{
position:absolute;
top:780.5px;
left:819.76px;
}
.s_1_Chapter_15-16-4_258
{
position:absolute;
top:780.5px;
left:1330.92px;
letter-spacing:-0.11px;
}
.s_1_Chapter_15-16-4_259
{
position:absolute;
top:780.5px;
left:2888.29px;
letter-spacing:-0.32px;
}
.s_1_Chapter_15-16-4_260
{
position:absolute;
top:780.5px;
left:4506.76px;
}
.s_1_Chapter_15-16-4_261
{
position:absolute;
top:780.5px;
left:4815.9px;
letter-spacing:0px;
}
.s_1_Chapter_15-16-4_262
{
position:absolute;
top:780.5px;
left:5266.47px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_15-16-4_263
{
position:absolute;
top:780.5px;
left:5768px;
letter-spacing:-1.24px;
}
.s_1_Chapter_15-16-4_264
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-2.81px;
}
.s_1_Chapter_15-16-4_265
{
position:absolute;
top:-19.5px;
left:458.9px;
}
.s_1_Chapter_15-16-4_266
{
position:absolute;
top:-19.5px;
left:522.33px;
letter-spacing:-0.45px;
}
.s_1_Chapter_15-16-4_267
{
position:absolute;
top:-19.5px;
left:1025.43px;
letter-spacing:-0.11px;
}
.s_1_Chapter_15-16-4_268
{
position:absolute;
top:-19.5px;
left:2593.46px;
}
.s_1_Chapter_15-16-4_269
{
position:absolute;
top:-19.5px;
left:3380.99px;
}
.s_1_Chapter_15-16-4_270
{
position:absolute;
top:-19.5px;
left:3926.47px;
letter-spacing:-1.62px;
}
.s_1_Chapter_15-16-4_271
{
position:absolute;
top:-19.5px;
left:5072.8px;
letter-spacing:-2.41px;
}
.s_1_Chapter_15-16-4_272
{
position:absolute;
top:-19.5px;
left:6023.87px;
letter-spacing:-0.57px;
}
.s_1_Chapter_15-16-4_273
{
position:absolute;
top:380.5px;
left:0px;
}
.s_1_Chapter_15-16-4_274
{
position:absolute;
top:380.5px;
left:276.63px;
letter-spacing:-1.34px;
}
.s_1_Chapter_15-16-4_275
{
position:absolute;
top:380.5px;
left:1030.62px;
letter-spacing:-0.69px;
}
.s_1_Chapter_15-16-4_276
{
position:absolute;
top:380.5px;
left:1263.31px;
}
.s_1_Chapter_15-16-4_277
{
position:absolute;
top:380.5px;
left:1520.18px;
letter-spacing:-3.25px;
}
.s_1_Chapter_15-16-4_278
{
position:absolute;
top:380.5px;
left:1727.66px;
}
.s_1_Chapter_15-16-4_279
{
position:absolute;
top:380.5px;
left:2162.11px;
letter-spacing:-2.68px;
}
.s_1_Chapter_15-16-4_280
{
position:absolute;
top:380.5px;
left:2466.05px;
letter-spacing:-2.15px;
}
.s_1_Chapter_15-16-4_281
{
position:absolute;
top:380.5px;
left:3395.8px;
}
.s_1_Chapter_15-16-4_282
{
position:absolute;
top:380.5px;
left:3943.08px;
letter-spacing:-0.85px;
}
.s_1_Chapter_15-16-4_283
{
position:absolute;
top:380.5px;
left:4848.91px;
letter-spacing:-0.47px;
}
.s_1_Chapter_15-16-4_284
{
position:absolute;
top:380.5px;
left:5456.52px;
letter-spacing:0px;
}
.s_1_Chapter_15-16-4_285
{
position:absolute;
top:380.5px;
left:6339.46px;
letter-spacing:0px;
}
.s_1_Chapter_15-16-4_286
{
position:absolute;
top:780.5px;
left:0px;
}
.s_1_Chapter_15-16-4_287
{
position:absolute;
top:780.5px;
left:1127.34px;
letter-spacing:-1.06px;
}
.s_1_Chapter_15-16-4_288
{
position:absolute;
top:780.5px;
left:2419.27px;
letter-spacing:-2.68px;
}
.s_1_Chapter_15-16-4_289
{
position:absolute;
top:780.5px;
left:2723.21px;
letter-spacing:-0.98px;
}
.s_1_Chapter_15-16-4_290
{
position:absolute;
top:780.5px;
left:4357.03px;
}
.s_1_Chapter_15-16-4_291
{
position:absolute;
top:780.5px;
left:4633.66px;
letter-spacing:-0.28px;
}
.s_1_Chapter_15-16-4_292
{
position:absolute;
top:780.5px;
left:5990.58px;
}
.s_1_Chapter_15-16-4_293
{
position:absolute;
top:780.5px;
left:6444.79px;
letter-spacing:-0.41px;
}
.s_1_Chapter_15-16-4_294
{
position:absolute;
top:1180.5px;
left:0px;
letter-spacing:-0.97px;
}
.s_1_Chapter_15-16-4_295
{
position:absolute;
top:1180.5px;
left:880.34px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_15-16-4_296
{
position:absolute;
top:1180.5px;
left:1381.88px;
letter-spacing:-1.24px;
}
.s_1_Chapter_15-16-4_297
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.26px;
}
.s_1_Chapter_15-16-4_298
{
position:absolute;
top:-19.5px;
left:962.51px;
}
.s_1_Chapter_15-16-4_299
{
position:absolute;
top:-19.5px;
left:1459.36px;
letter-spacing:-1.88px;
}
.s_1_Chapter_15-16-4_300
{
position:absolute;
top:-19.5px;
left:2392.75px;
letter-spacing:-0.45px;
}
.s_1_Chapter_15-16-4_301
{
position:absolute;
top:-19.5px;
left:2895.85px;
letter-spacing:-0.32px;
}
.s_1_Chapter_15-16-4_302
{
position:absolute;
top:-19.5px;
left:3944.16px;
}
.s_1_Chapter_15-16-4_303
{
position:absolute;
top:-19.5px;
left:4489.63px;
letter-spacing:-2.41px;
}
.s_1_Chapter_15-16-4_304
{
position:absolute;
top:-19.5px;
left:5440.7px;
letter-spacing:-1.75px;
}
.s_1_Chapter_15-16-4_305
{
position:absolute;
top:-19.5px;
left:5895.17px;
letter-spacing:-0.74px;
}
.s_1_Chapter_15-16-4_306
{
position:absolute;
top:-19.5px;
left:6594.56px;
letter-spacing:-3.38px;
}
.s_1_Chapter_15-16-4_307
{
position:absolute;
top:-19.5px;
left:6940.61px;
}
.s_1_Chapter_15-16-4_308
{
position:absolute;
top:-19.5px;
left:7394.82px;
letter-spacing:0px;
}
.s_1_Chapter_15-16-4_309
{
position:absolute;
top:380.5px;
left:0px;
letter-spacing:-0.5px;
}
.s_1_Chapter_15-16-4_310
{
position:absolute;
top:380.5px;
left:1552.95px;
letter-spacing:-0.45px;
}
.s_1_Chapter_15-16-4_311
{
position:absolute;
top:380.5px;
left:2056.05px;
letter-spacing:-0.86px;
}
.s_1_Chapter_15-16-4_312
{
position:absolute;
top:380.5px;
left:3237.21px;
letter-spacing:-2.68px;
}
.s_1_Chapter_15-16-4_313
{
position:absolute;
top:380.5px;
left:3541.15px;
letter-spacing:-1.08px;
}
.s_1_Chapter_15-16-4_314
{
position:absolute;
top:380.5px;
left:4176.06px;
letter-spacing:-0.74px;
}
.s_1_Chapter_15-16-4_315
{
position:absolute;
top:380.5px;
left:4851.27px;
letter-spacing:0px;
}
.s_1_Chapter_15-16-4_316
{
position:absolute;
top:380.5px;
left:5575.61px;
letter-spacing:-2.15px;
}
.s_1_Chapter_15-16-4_317
{
position:absolute;
top:380.5px;
left:6509.78px;
}
.s_1_Chapter_15-16-4_318
{
position:absolute;
top:380.5px;
left:6817.36px;
letter-spacing:-3.25px;
}
.s_1_Chapter_15-16-4_319
{
position:absolute;
top:380.5px;
left:7024.83px;
letter-spacing:-2.11px;
}
.s_1_Chapter_15-16-4_320
{
position:absolute;
top:780.5px;
left:0px;
}
.s_1_Chapter_15-16-4_321
{
position:absolute;
top:780.5px;
left:276.63px;
letter-spacing:-1.43px;
}
.s_1_Chapter_15-16-4_322
{
position:absolute;
top:780.5px;
left:881.65px;
}
.s_1_Chapter_15-16-4_323
{
position:absolute;
top:780.5px;
left:1544.9px;
letter-spacing:-2.43px;
}
.s_1_Chapter_15-16-4_324
{
position:absolute;
top:780.5px;
left:2258.6px;
letter-spacing:-2.9px;
}
.s_1_Chapter_15-16-4_325
{
position:absolute;
top:780.5px;
left:2896.1px;
letter-spacing:-0.3px;
}
.s_1_Chapter_15-16-4_326
{
position:absolute;
top:780.5px;
left:3669.33px;
letter-spacing:-2.15px;
}
.s_1_Chapter_15-16-4_327
{
position:absolute;
top:780.5px;
left:4603.5px;
letter-spacing:-1.75px;
}
.s_1_Chapter_15-16-4_328
{
position:absolute;
top:780.5px;
left:5057.98px;
letter-spacing:-0.74px;
}
.s_1_Chapter_15-16-4_329
{
position:absolute;
top:780.5px;
left:5753.73px;
letter-spacing:-2.6px;
}
.s_1_Chapter_15-16-4_330
{
position:absolute;
top:780.5px;
left:6159.06px;
}
.s_1_Chapter_15-16-4_331
{
position:absolute;
top:780.5px;
left:6492.63px;
letter-spacing:0px;
}
.s_1_Chapter_15-16-4_332
{
position:absolute;
top:780.5px;
left:7805.87px;
letter-spacing:-2.6px;
}
.s_1_Chapter_15-16-4_333
{
position:absolute;
top:1180.5px;
left:0px;
}
.s_1_Chapter_15-16-4_334
{
position:absolute;
top:1180.5px;
left:635.95px;
letter-spacing:-1px;
}
.s_1_Chapter_15-16-4_335
{
position:absolute;
top:1180.5px;
left:1452.86px;
}
.s_1_Chapter_15-16-4_336
{
position:absolute;
top:1180.5px;
left:1964.01px;
}
.s_1_Chapter_15-16-4_337
{
position:absolute;
top:1180.5px;
left:3118.66px;
letter-spacing:-2.68px;
}
.s_1_Chapter_15-16-4_338
{
position:absolute;
top:1180.5px;
left:3418.18px;
}
.s_1_Chapter_15-16-4_339
{
position:absolute;
top:1180.5px;
left:3872.39px;
letter-spacing:-1.95px;
}
.s_1_Chapter_15-16-4_340
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.32px;
}
.s_1_Chapter_15-16-4_341
{
position:absolute;
top:-19.5px;
left:1057.67px;
letter-spacing:-0.45px;
}
.s_1_Chapter_15-16-4_342
{
position:absolute;
top:-19.5px;
left:1560.77px;
letter-spacing:-1.6px;
}
.s_1_Chapter_15-16-4_343
{
position:absolute;
top:-19.5px;
left:2636.64px;
letter-spacing:-2.82px;
}
.s_1_Chapter_15-16-4_344
{
position:absolute;
top:-19.5px;
left:3456.41px;
letter-spacing:-0.71px;
}
.s_1_Chapter_15-16-4_345
{
position:absolute;
top:-19.5px;
left:4004.75px;
letter-spacing:0px;
}
.s_1_Chapter_15-16-4_346
{
position:absolute;
top:-19.5px;
left:5419.64px;
}
.s_1_Chapter_15-16-4_347
{
position:absolute;
top:-19.5px;
left:5696.28px;
letter-spacing:0px;
}
.s_1_Chapter_15-16-4_348
{
position:absolute;
top:-19.5px;
left:6252.14px;
letter-spacing:0px;
}
.s_1_Chapter_15-16-4_349
{
position:absolute;
top:-19.5px;
left:6565.69px;
letter-spacing:-0.85px;
}
.s_1_Chapter_15-16-4_350
{
position:absolute;
top:-19.5px;
left:7467.1px;
}
.s_1_Chapter_15-16-4_351
{
position:absolute;
top:380.5px;
left:0px;
}
.s_1_Chapter_15-16-4_352
{
position:absolute;
top:380.5px;
left:1477.04px;
letter-spacing:-0.76px;
}
.s_1_Chapter_15-16-4_353
{
position:absolute;
top:380.5px;
left:3174.03px;
}
.s_1_Chapter_15-16-4_354
{
position:absolute;
top:380.5px;
left:3446.25px;
}
.s_1_Chapter_15-16-4_355
{
position:absolute;
top:380.5px;
left:3900.46px;
letter-spacing:-0.09px;
}
.s_1_Chapter_15-16-4_356
{
position:absolute;
top:380.5px;
left:6001.76px;
}
.s_1_Chapter_15-16-4_357
{
position:absolute;
top:380.5px;
left:6761.99px;
letter-spacing:-1.12px;
}
.s_1_Chapter_15-16-4_358
{
position:absolute;
top:780.5px;
left:0px;
letter-spacing:-0.45px;
}
.s_1_Chapter_15-16-4_359
{
position:absolute;
top:780.5px;
left:503.1px;
letter-spacing:-2.51px;
}
.s_1_Chapter_15-16-4_360
{
position:absolute;
top:780.5px;
left:1305.97px;
letter-spacing:-0.71px;
}
.s_1_Chapter_15-16-4_361
{
position:absolute;
top:780.5px;
left:1854.3px;
letter-spacing:-0.57px;
}
.s_1_Chapter_15-16-4_362
{
position:absolute;
top:780.5px;
left:2990.48px;
letter-spacing:-0.52px;
}
.s_1_Chapter_15-16-4_363
{
position:absolute;
top:780.5px;
left:3838.59px;
}
.s_1_Chapter_15-16-4_364
{
position:absolute;
top:780.5px;
left:4178.93px;
letter-spacing:-0.52px;
}
.s_1_Chapter_15-16-4_365
{
position:absolute;
top:780.5px;
left:5844.99px;
letter-spacing:-5.6px;
}
.s_1_Chapter_15-16-4_366
{
position:absolute;
top:-14.08px;
left:0px;
letter-spacing:-3.68px;
}
.s_1_Chapter_15-16-4_367
{
position:absolute;
top:-14.08px;
left:727.67px;
}
.s_1_Chapter_15-16-4_368
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.45px;
}
.s_1_Chapter_15-16-4_369
{
position:absolute;
top:-19.5px;
left:499.46px;
}
.s_1_Chapter_15-16-4_370
{
position:absolute;
top:-19.5px;
left:1452.34px;
letter-spacing:-1.57px;
}
.s_1_Chapter_15-16-4_371
{
position:absolute;
top:-19.5px;
left:3754.1px;
letter-spacing:-2.08px;
}
.s_1_Chapter_15-16-4_372
{
position:absolute;
top:-19.5px;
left:4346.11px;
letter-spacing:-1.63px;
}
.s_1_Chapter_15-16-4_373
{
position:absolute;
top:-19.5px;
left:5204.1px;
letter-spacing:-0.57px;
}
.s_1_Chapter_15-16-4_374
{
position:absolute;
top:-19.5px;
left:5843.17px;
letter-spacing:0px;
}
.s_1_Chapter_15-16-4_375
{
position:absolute;
top:-19.5px;
left:6458.06px;
letter-spacing:0px;
}
.s_1_Chapter_15-16-4_376
{
position:absolute;
top:380.5px;
left:0px;
text-rendering:optimizeLegibility;
letter-spacing:-1.3px;
}
.s_1_Chapter_15-16-4_377
{
position:absolute;
top:380.5px;
left:1246.43px;
letter-spacing:-0.39px;
}
.s_1_Chapter_15-16-4_378
{
position:absolute;
top:380.5px;
left:2341.27px;
}
.s_1_Chapter_15-16-4_379
{
position:absolute;
top:380.5px;
left:3331.34px;
}
.s_1_Chapter_15-16-4_380
{
position:absolute;
top:380.5px;
left:3842.49px;
}
.s_1_Chapter_15-16-4_381
{
position:absolute;
top:380.5px;
left:4605.06px;
}
.s_1_Chapter_15-16-4_382
{
position:absolute;
top:380.5px;
left:4861.93px;
}
.s_1_Chapter_15-16-4_383
{
position:absolute;
top:380.5px;
left:5526.48px;
letter-spacing:-0.39px;
}
.s_1_Chapter_15-16-4_384
{
position:absolute;
top:380.5px;
left:6219.63px;
letter-spacing:-0.58px;
}
.s_1_Chapter_15-16-4_385
{
position:absolute;
top:380.5px;
left:6676.96px;
letter-spacing:-2.55px;
}
.s_1_Chapter_15-16-4_386
{
position:absolute;
top:780.5px;
left:0px;
letter-spacing:-0.42px;
}
.s_1_Chapter_15-16-4_387
{
position:absolute;
top:780.5px;
left:681.71px;
letter-spacing:-0.71px;
}
.s_1_Chapter_15-16-4_388
{
position:absolute;
top:780.5px;
left:1225.63px;
}
.s_1_Chapter_15-16-4_389
{
position:absolute;
top:780.5px;
left:1679.84px;
}
.s_1_Chapter_15-16-4_390
{
position:absolute;
top:780.5px;
left:2809.26px;
}
.s_1_Chapter_15-16-4_391
{
position:absolute;
top:780.5px;
left:3164.94px;
letter-spacing:-0.63px;
}
.s_1_Chapter_15-16-4_392
{
position:absolute;
top:780.5px;
left:4115.49px;
}
.s_1_Chapter_15-16-4_393
{
position:absolute;
top:780.5px;
left:4429.04px;
letter-spacing:-2.78px;
}
.s_1_Chapter_15-16-4_394
{
position:absolute;
top:780.5px;
left:5323.95px;
letter-spacing:-3.38px;
}
.s_1_Chapter_15-16-4_395
{
position:absolute;
top:780.5px;
left:5674.43px;
letter-spacing:-0.85px;
}
.s_1_Chapter_15-16-4_396
{
position:absolute;
top:780.5px;
left:6500.44px;
letter-spacing:0px;
}
.s_1_Chapter_15-16-4_397
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.58px;
}
.s_1_Chapter_15-16-4_398
{
position:absolute;
top:-19.5px;
left:936.77px;
letter-spacing:-1.88px;
}
.s_1_Chapter_15-16-4_399
{
position:absolute;
top:-19.5px;
left:1870.16px;
letter-spacing:-0.45px;
}
.s_1_Chapter_15-16-4_400
{
position:absolute;
top:-19.5px;
left:2373.26px;
letter-spacing:-0.78px;
}
.s_1_Chapter_15-16-4_401
{
position:absolute;
top:-19.5px;
left:3394.52px;
letter-spacing:-2.41px;
}
.s_1_Chapter_15-16-4_402
{
position:absolute;
top:-19.5px;
left:4345.59px;
}
.s_1_Chapter_15-16-4_403
{
position:absolute;
top:-19.5px;
left:4598.05px;
}
.s_1_Chapter_15-16-4_404
{
position:absolute;
top:-19.5px;
left:5052.26px;
letter-spacing:0px;
}
.s_1_Chapter_15-16-4_405
{
position:absolute;
top:-19.5px;
left:5846.8px;
letter-spacing:-1.65px;
}
.s_1_Chapter_15-16-4_406
{
position:absolute;
top:-19.5px;
left:6567.77px;
}
.s_1_Chapter_15-16-4_407
{
position:absolute;
top:-19.5px;
left:6839.98px;
}
.s_1_Chapter_15-16-4_408
{
position:absolute;
top:-19.5px;
left:7294.2px;
letter-spacing:0px;
}
.s_1_Chapter_15-16-4_409
{
position:absolute;
top:380.5px;
left:0px;
text-rendering:optimizeLegibility;
}
.s_1_Chapter_15-16-4_410
{
position:absolute;
top:380.5px;
left:501.53px;
letter-spacing:-1.12px;
}
.s_1_Chapter_15-16-4_411
{
position:absolute;
top:380.5px;
left:1581.81px;
letter-spacing:-2.34px;
}
.s_1_Chapter_15-16-4_412
{
position:absolute;
top:380.5px;
left:2214.65px;
}
.s_1_Chapter_15-16-4_413
{
position:absolute;
top:380.5px;
left:3140.74px;
}
.s_1_Chapter_15-16-4_414
{
position:absolute;
top:380.5px;
left:3417.38px;
}
.s_1_Chapter_15-16-4_415
{
position:absolute;
top:380.5px;
left:3964.4px;
}
.s_1_Chapter_15-16-4_416
{
position:absolute;
top:380.5px;
left:4470.62px;
letter-spacing:-2.03px;
}
.s_1_Chapter_15-16-4_417
{
position:absolute;
top:380.5px;
left:5133.35px;
letter-spacing:-0.62px;
}
.s_1_Chapter_15-16-4_418
{
position:absolute;
top:380.5px;
left:6019.42px;
letter-spacing:0px;
}
.s_1_Chapter_15-16-4_419
{
position:absolute;
top:380.5px;
left:6775.48px;
}
.s_1_Chapter_15-16-4_420
{
position:absolute;
top:380.5px;
left:7229.69px;
letter-spacing:-1.6px;
}
.s_1_Chapter_15-16-4_421
{
position:absolute;
top:780.5px;
left:0px;
letter-spacing:-5.66px;
}
.s_1_Chapter_15-16-4_422
{
position:absolute;
top:780.5px;
left:1035.31px;
letter-spacing:-0.45px;
}
.s_1_Chapter_15-16-4_423
{
position:absolute;
top:780.5px;
left:1538.4px;
letter-spacing:-2.15px;
}
.s_1_Chapter_15-16-4_424
{
position:absolute;
top:780.5px;
left:2472.57px;
letter-spacing:-0.85px;
}
.s_1_Chapter_15-16-4_425
{
position:absolute;
top:780.5px;
left:3373.98px;
}
.s_1_Chapter_15-16-4_426
{
position:absolute;
top:780.5px;
left:3828.19px;
}
.s_1_Chapter_15-16-4_427
{
position:absolute;
top:780.5px;
left:4711.13px;
letter-spacing:0px;
}
.s_1_Chapter_15-16-4_428
{
position:absolute;
top:780.5px;
left:5217.86px;
letter-spacing:0px;
}
.s_1_Chapter_15-16-4_429
{
position:absolute;
top:780.5px;
left:6345.2px;
letter-spacing:-1.06px;
}
.s_1_Chapter_15-16-4_430
{
position:absolute;
top:780.5px;
left:7637.14px;
letter-spacing:-2.68px;
}
.s_1_Chapter_15-16-4_431
{
position:absolute;
top:1180.5px;
left:0px;
letter-spacing:-0.98px;
}
.s_1_Chapter_15-16-4_432
{
position:absolute;
top:1180.5px;
left:1633.82px;
}
.s_1_Chapter_15-16-4_433
{
position:absolute;
top:1180.5px;
left:1910.45px;
letter-spacing:-0.31px;
}

#r1{
	position: absolute;
	top: 122px;
	left: 218px;
}
#r2{
	position: absolute;
	top: 187px;
	left: 218px;
}
#r3{
	position: absolute;
	top: 252px;
	left: 218px;
}
#r4{
	position: absolute;
	top: 318px;
	left: 218px;
}
#r5{
	position: absolute;
	top: 383px;
	left: 218px;
}
#r6{
	position: absolute;
	top: 448px;
	left: 218px;
}
#r7{
	position: absolute;
	top: 513px;
	left: 218px;
}
#r8{
	position: absolute;
	top: 577px;
	left: 218px;
}

#l1{
	position: absolute;
	top: 107px;
	left: 54px;
}
#l2{
	position: absolute;
	top: 99px;
	left: 429px;
}
#l3{
	position: absolute;
	top: 236px;
	left: 54px;
}
#l4{
	position: absolute;
	top: 238px;
	left: 429px;
}
#l5{
	position: absolute;
	top: 363px;
	left: 54px;
}
#l6{
	position: absolute;
	top: 374px;
	left: 429px;
}
#l7{
	position: absolute;
	top: 491px;
	left: 54px;
}
#l8{
	position: absolute;
	top: 511px;
	left: 429px;
}
.match58 {
	height: 494px;
	display:none;
	width: 391px;
}
.match_image1_p58{
	position: absolute;
	top: 99px;
	left: 54px;
	    z-index: 9999;
}
.page58_btn1 {
	position:absolute;
	top: 780px;
	left: 273px;
}
