.d_1_Chapter_15-16-1_1
{position:absolute;overflow:hidden;left: -297.36px;top:0px;transform:translate(595.28px,0.00px);-webkit-transform:translate(595.28px,0.00px);-ms-transform:translate(595.28px,0.00px);-o-transform:translate(595.28px,0.00px);-moz-transform:translate(595.28px,0.00px);width:595.28px;height:841.89px;}
.d_1_Chapter_15-16-1_2
{
width:560.18px;
height:401.47px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,3.51px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-1_3
{
width:9671.47px;
height:832px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-1_4
{
width:8108.1px;
height:997.12px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,10.86px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-1_5
{
width:4320.94px;
height:1867.98px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-1_6
{
width:3834.89px;
height:2598.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-1_7
{
width:6479.69px;
height:1478.35px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-1_8
{
width:4320.94px;
height:1798.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-1_9
{
width:3576.85px;
height:2602.2px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-1_10
{
width:4320.94px;
height:1398.9px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-1_11
{
width:9245.69px;
height:897.67px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-1_12
{
width:524.41px;
height:253.2px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-1_13
{
width:3718.46px;
height:3228.75px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-1_14
{
width:524.41px;
height:253.2px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-1_15
{
width:524.41px;
height:253.2px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-1_16
{
width:524.41px;
height:253.2px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-1_17
{
width:524.41px;
height:253.2px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-1_18
{
width:524.41px;
height:253.2px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.d_1_Chapter_15-16-1_19
{
width:524.41px;
height:253.2px;
position:absolute;
top:0px;
left:0px;
transform-origin: 0% 0%;
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-webkit-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-ms-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-o-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
-moz-transform: translate(0px,4.46px) rotate(0deg) scale(0.05);
}
.s_1_Chapter_15-16-1_20
{
position:absolute;
top:41.44px;
left:134.15px;
}
.s_1_Chapter_15-16-1_21
{
position:absolute;
top:58.88px;
left:0px;
}
.s_1_Chapter_15-16-1_22
{
position:absolute;
top:213.6px;
left:380.63px;
}
.s_1_Chapter_15-16-1_23
{
position:absolute;
top:213.6px;
left:453.54px;
letter-spacing:-0.57px;
}
.s_1_Chapter_15-16-1_24
{
position:absolute;
top:213.6px;
left:1075.46px;
letter-spacing:0px;
}
.s_1_Chapter_15-16-1_25
{
position:absolute;
top:213.6px;
left:1497.17px;
}
.s_1_Chapter_15-16-1_26
{
position:absolute;
top:213.6px;
left:2120.9px;
}
.s_1_Chapter_15-16-1_27
{
position:absolute;
top:213.6px;
left:2412.35px;
letter-spacing:-0.69px;
}
.s_1_Chapter_15-16-1_28
{
position:absolute;
top:213.6px;
left:3323.9px;
}
.s_1_Chapter_15-16-1_29
{
position:absolute;
top:213.6px;
left:3981.43px;
letter-spacing:-0.19px;
}
.s_1_Chapter_15-16-1_30
{
position:absolute;
top:213.6px;
left:4873.48px;
letter-spacing:0px;
}
.s_1_Chapter_15-16-1_31
{
position:absolute;
top:213.6px;
left:5613.43px;
letter-spacing:0px;
}
.s_1_Chapter_15-16-1_32
{
position:absolute;
top:213.6px;
left:6538.75px;
letter-spacing:-1.47px;
}
.s_1_Chapter_15-16-1_33
{
position:absolute;
top:213.6px;
left:7215.26px;
letter-spacing:0px;
}
.s_1_Chapter_15-16-1_34
{
position:absolute;
top:213.6px;
left:7636.97px;
letter-spacing:-0.39px;
}
.s_1_Chapter_15-16-1_35
{
position:absolute;
top:213.6px;
left:8496.52px;
letter-spacing:-1.34px;
}
.s_1_Chapter_15-16-1_36
{
position:absolute;
top:213.6px;
left:9367.77px;
letter-spacing:0px;
}
.s_1_Chapter_15-16-1_37
{
position:absolute;
top:613.6px;
left:453.54px;
}
.s_1_Chapter_15-16-1_38
{
position:absolute;
top:613.6px;
left:875.26px;
}
.s_1_Chapter_15-16-1_39
{
position:absolute;
top:613.6px;
left:1576.21px;
letter-spacing:-0.35px;
}
.s_1_Chapter_15-16-1_40
{
position:absolute;
top:-26.96px;
left:0px;
letter-spacing:20.63px;
transform-origin: 0% 759.55px;
-webkit-transform-origin: 0% 759.55px;
-ms-transform-origin: 0% 759.55px;
-o-transform-origin: 0% 759.55px;
-moz-transform-origin: 0% 759.55px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Chapter_15-16-1_41
{
position:absolute;
top:-26.96px;
left:1207.42px;
letter-spacing:24.06px;
transform-origin: 0% 759.55px;
-webkit-transform-origin: 0% 759.55px;
-ms-transform-origin: 0% 759.55px;
-o-transform-origin: 0% 759.55px;
-moz-transform-origin: 0% 759.55px;
transform:matrix(0.84,0,0,1,0,0);
-webkit-transform:matrix(0.84,0,0,1,0,0);
-ms-transform:matrix(0.84,0,0,1,0,0);
-o-transform:matrix(0.84,0,0,1,0,0);
-moz-transform:matrix(0.84,0,0,1,0,0);
}
.s_1_Chapter_15-16-1_42
{
position:absolute;
top:-19.5px;
left:1084.97px;
letter-spacing:-0.95px;
}
.s_1_Chapter_15-16-1_43
{
position:absolute;
top:-19.5px;
left:1476.01px;
}
.s_1_Chapter_15-16-1_44
{
position:absolute;
top:-19.5px;
left:1728.46px;
}
.s_1_Chapter_15-16-1_45
{
position:absolute;
top:-19.5px;
left:2182.67px;
letter-spacing:-0.85px;
}
.s_1_Chapter_15-16-1_46
{
position:absolute;
top:-19.5px;
left:3030px;
letter-spacing:-2.68px;
}
.s_1_Chapter_15-16-1_47
{
position:absolute;
top:380.5px;
left:1084.97px;
letter-spacing:-0.13px;
}
.s_1_Chapter_15-16-1_48
{
position:absolute;
top:380.5px;
left:2431.75px;
letter-spacing:-1.82px;
}
.s_1_Chapter_15-16-1_49
{
position:absolute;
top:380.5px;
left:2884.92px;
letter-spacing:-0.88px;
}
.s_1_Chapter_15-16-1_50
{
position:absolute;
top:380.5px;
left:3425.97px;
letter-spacing:-1.13px;
}
.s_1_Chapter_15-16-1_51
{
position:absolute;
top:780.5px;
left:1084.97px;
}
.s_1_Chapter_15-16-1_52
{
position:absolute;
top:780.5px;
left:2320.74px;
letter-spacing:-0.39px;
}
.s_1_Chapter_15-16-1_53
{
position:absolute;
top:780.5px;
left:2889.35px;
letter-spacing:-0.26px;
}
.s_1_Chapter_15-16-1_54
{
position:absolute;
top:780.5px;
left:3593.94px;
}
.s_1_Chapter_15-16-1_55
{
position:absolute;
top:1180.5px;
left:1084.97px;
}
.s_1_Chapter_15-16-1_56
{
position:absolute;
top:1180.5px;
left:1539.18px;
}
.s_1_Chapter_15-16-1_57
{
position:absolute;
top:1180.5px;
left:2039.41px;
letter-spacing:-2.25px;
}
.s_1_Chapter_15-16-1_58
{
position:absolute;
top:1180.5px;
left:2823.56px;
}
.s_1_Chapter_15-16-1_59
{
position:absolute;
top:1180.5px;
left:2957.98px;
}
.s_1_Chapter_15-16-1_60
{
position:absolute;
top:1180.5px;
left:3469.13px;
letter-spacing:-1.71px;
}
.s_1_Chapter_15-16-1_61
{
position:absolute;
top:1580.5px;
left:1084.97px;
letter-spacing:-0.16px;
}
.s_1_Chapter_15-16-1_62
{
position:absolute;
top:1580.5px;
left:2191.52px;
}
.s_1_Chapter_15-16-1_63
{
position:absolute;
top:-19.5px;
left:794.68px;
letter-spacing:-0.52px;
}
.s_1_Chapter_15-16-1_64
{
position:absolute;
top:-19.5px;
left:1676.85px;
letter-spacing:-2.6px;
}
.s_1_Chapter_15-16-1_65
{
position:absolute;
top:-19.5px;
left:2082.18px;
}
.s_1_Chapter_15-16-1_66
{
position:absolute;
top:-19.5px;
left:2480.23px;
letter-spacing:-0.62px;
}
.s_1_Chapter_15-16-1_67
{
position:absolute;
top:-19.5px;
left:3139.84px;
}
.s_1_Chapter_15-16-1_68
{
position:absolute;
top:380.5px;
left:794.68px;
letter-spacing:-0.19px;
}
.s_1_Chapter_15-16-1_69
{
position:absolute;
top:380.5px;
left:1728.58px;
}
.s_1_Chapter_15-16-1_70
{
position:absolute;
top:380.5px;
left:2516.11px;
letter-spacing:-0.74px;
}
.s_1_Chapter_15-16-1_71
{
position:absolute;
top:780.5px;
left:794.68px;
}
.s_1_Chapter_15-16-1_72
{
position:absolute;
top:780.5px;
left:1155.29px;
}
.s_1_Chapter_15-16-1_73
{
position:absolute;
top:780.5px;
left:1636.8px;
}
.s_1_Chapter_15-16-1_74
{
position:absolute;
top:780.5px;
left:2559px;
letter-spacing:-1px;
}
.s_1_Chapter_15-16-1_75
{
position:absolute;
top:780.5px;
left:3462.75px;
}
.s_1_Chapter_15-16-1_76
{
position:absolute;
top:1180.5px;
left:794.68px;
letter-spacing:-0.63px;
}
.s_1_Chapter_15-16-1_77
{
position:absolute;
top:1180.5px;
left:1619.12px;
}
.s_1_Chapter_15-16-1_78
{
position:absolute;
top:1180.5px;
left:2404.57px;
}
.s_1_Chapter_15-16-1_79
{
position:absolute;
top:1180.5px;
left:2770.64px;
letter-spacing:-0.78px;
}
.s_1_Chapter_15-16-1_80
{
position:absolute;
top:1580.5px;
left:794.68px;
}
.s_1_Chapter_15-16-1_81
{
position:absolute;
top:1580.5px;
left:1305.83px;
letter-spacing:-1.28px;
}
.s_1_Chapter_15-16-1_82
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.95px;
}
.s_1_Chapter_15-16-1_83
{
position:absolute;
top:-19.5px;
left:391.04px;
}
.s_1_Chapter_15-16-1_84
{
position:absolute;
top:-19.5px;
left:647.91px;
}
.s_1_Chapter_15-16-1_85
{
position:absolute;
top:-19.5px;
left:1008px;
}
.s_1_Chapter_15-16-1_86
{
position:absolute;
top:-19.5px;
left:1795.53px;
}
.s_1_Chapter_15-16-1_87
{
position:absolute;
top:-19.5px;
left:2920.53px;
}
.s_1_Chapter_15-16-1_88
{
position:absolute;
top:-19.5px;
left:3427.27px;
}
.s_1_Chapter_15-16-1_89
{
position:absolute;
top:-19.5px;
left:3881.48px;
letter-spacing:-0.85px;
}
.s_1_Chapter_15-16-1_90
{
position:absolute;
top:-19.5px;
left:4728.8px;
letter-spacing:-2.68px;
}
.s_1_Chapter_15-16-1_91
{
position:absolute;
top:380.5px;
left:0px;
letter-spacing:-0.45px;
}
.s_1_Chapter_15-16-1_92
{
position:absolute;
top:380.5px;
left:503.1px;
letter-spacing:-1.52px;
}
.s_1_Chapter_15-16-1_93
{
position:absolute;
top:380.5px;
left:1237.32px;
}
.s_1_Chapter_15-16-1_94
{
position:absolute;
top:380.5px;
left:2024.85px;
letter-spacing:-1.21px;
}
.s_1_Chapter_15-16-1_95
{
position:absolute;
top:380.5px;
left:2759.35px;
}
.s_1_Chapter_15-16-1_96
{
position:absolute;
top:380.5px;
left:3306.63px;
}
.s_1_Chapter_15-16-1_97
{
position:absolute;
top:380.5px;
left:4230.4px;
}
.s_1_Chapter_15-16-1_98
{
position:absolute;
top:380.5px;
left:4684.61px;
letter-spacing:-0.26px;
}
.s_1_Chapter_15-16-1_99
{
position:absolute;
top:380.5px;
left:6269.81px;
}
.s_1_Chapter_15-16-1_100
{
position:absolute;
top:780.5px;
left:0px;
}
.s_1_Chapter_15-16-1_101
{
position:absolute;
top:780.5px;
left:272.22px;
}
.s_1_Chapter_15-16-1_102
{
position:absolute;
top:780.5px;
left:726.43px;
letter-spacing:-0.55px;
}
.s_1_Chapter_15-16-1_103
{
position:absolute;
top:780.5px;
left:1679.05px;
letter-spacing:-2.68px;
}
.s_1_Chapter_15-16-1_104
{
position:absolute;
top:780.5px;
left:1978.57px;
}
.s_1_Chapter_15-16-1_105
{
position:absolute;
top:780.5px;
left:2432.78px;
}
.s_1_Chapter_15-16-1_106
{
position:absolute;
top:780.5px;
left:3220.31px;
letter-spacing:-0.22px;
}
.s_1_Chapter_15-16-1_107
{
position:absolute;
top:780.5px;
left:4946.43px;
letter-spacing:-0.66px;
}
.s_1_Chapter_15-16-1_108
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.95px;
}
.s_1_Chapter_15-16-1_109
{
position:absolute;
top:-19.5px;
left:391.04px;
}
.s_1_Chapter_15-16-1_110
{
position:absolute;
top:-19.5px;
left:644.27px;
}
.s_1_Chapter_15-16-1_111
{
position:absolute;
top:-19.5px;
left:1593.52px;
letter-spacing:-2.6px;
}
.s_1_Chapter_15-16-1_112
{
position:absolute;
top:-19.5px;
left:1998.85px;
}
.s_1_Chapter_15-16-1_113
{
position:absolute;
top:380.5px;
left:0px;
letter-spacing:-0.74px;
}
.s_1_Chapter_15-16-1_114
{
position:absolute;
top:380.5px;
left:698.09px;
letter-spacing:-3.9px;
}
.s_1_Chapter_15-16-1_115
{
position:absolute;
top:380.5px;
left:922.98px;
letter-spacing:-0.17px;
}
.s_1_Chapter_15-16-1_116
{
position:absolute;
top:380.5px;
left:1933.85px;
letter-spacing:-1.39px;
}
.s_1_Chapter_15-16-1_117
{
position:absolute;
top:380.5px;
left:2379.74px;
}
.s_1_Chapter_15-16-1_118
{
position:absolute;
top:380.5px;
left:2511.55px;
letter-spacing:-0.95px;
}
.s_1_Chapter_15-16-1_119
{
position:absolute;
top:780.5px;
left:0px;
}
.s_1_Chapter_15-16-1_120
{
position:absolute;
top:780.5px;
left:486.45px;
}
.s_1_Chapter_15-16-1_121
{
position:absolute;
top:780.5px;
left:1035.82px;
}
.s_1_Chapter_15-16-1_122
{
position:absolute;
top:780.5px;
left:1690.49px;
letter-spacing:-1.88px;
}
.s_1_Chapter_15-16-1_123
{
position:absolute;
top:1180.5px;
left:0px;
}
.s_1_Chapter_15-16-1_124
{
position:absolute;
top:1180.5px;
left:454.21px;
letter-spacing:-1.6px;
}
.s_1_Chapter_15-16-1_125
{
position:absolute;
top:1180.5px;
left:1329.1px;
letter-spacing:-0.31px;
}
.s_1_Chapter_15-16-1_126
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.39px;
}
.s_1_Chapter_15-16-1_127
{
position:absolute;
top:-19.5px;
left:503.62px;
}
.s_1_Chapter_15-16-1_128
{
position:absolute;
top:-19.5px;
left:760.49px;
}
.s_1_Chapter_15-16-1_129
{
position:absolute;
top:-19.5px;
left:1345.22px;
letter-spacing:-0.52px;
}
.s_1_Chapter_15-16-1_130
{
position:absolute;
top:380.5px;
left:0px;
letter-spacing:-2.6px;
}
.s_1_Chapter_15-16-1_131
{
position:absolute;
top:380.5px;
left:405.33px;
letter-spacing:-1.49px;
}
.s_1_Chapter_15-16-1_132
{
position:absolute;
top:380.5px;
left:863.7px;
letter-spacing:-0.63px;
}
.s_1_Chapter_15-16-1_133
{
position:absolute;
top:780.5px;
left:0px;
letter-spacing:-0.45px;
}
.s_1_Chapter_15-16-1_134
{
position:absolute;
top:780.5px;
left:503.1px;
letter-spacing:-0.39px;
}
.s_1_Chapter_15-16-1_135
{
position:absolute;
top:780.5px;
left:1060.79px;
letter-spacing:-2.68px;
}
.s_1_Chapter_15-16-1_136
{
position:absolute;
top:780.5px;
left:1364.73px;
letter-spacing:-0.26px;
}
.s_1_Chapter_15-16-1_137
{
position:absolute;
top:1180.5px;
left:0px;
letter-spacing:-0.3px;
}
.s_1_Chapter_15-16-1_138
{
position:absolute;
top:1180.5px;
left:771.41px;
}
.s_1_Chapter_15-16-1_139
{
position:absolute;
top:1180.5px;
left:838.49px;
letter-spacing:-2.6px;
}
.s_1_Chapter_15-16-1_140
{
position:absolute;
top:1180.5px;
left:1238.88px;
}
.s_1_Chapter_15-16-1_141
{
position:absolute;
top:1580.5px;
left:0px;
}
.s_1_Chapter_15-16-1_142
{
position:absolute;
top:1580.5px;
left:482.03px;
letter-spacing:-0.78px;
}
.s_1_Chapter_15-16-1_143
{
position:absolute;
top:1580.5px;
left:1051.43px;
}
.s_1_Chapter_15-16-1_144
{
position:absolute;
top:1580.5px;
left:1505.64px;
letter-spacing:-0.71px;
}
.s_1_Chapter_15-16-1_145
{
position:absolute;
top:1980.5px;
left:0px;
letter-spacing:-2.15px;
}
.s_1_Chapter_15-16-1_146
{
position:absolute;
top:1980.5px;
left:891.01px;
letter-spacing:-0.71px;
}
.s_1_Chapter_15-16-1_147
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.95px;
}
.s_1_Chapter_15-16-1_148
{
position:absolute;
top:-19.5px;
left:391.04px;
}
.s_1_Chapter_15-16-1_149
{
position:absolute;
top:-19.5px;
left:877.49px;
}
.s_1_Chapter_15-16-1_150
{
position:absolute;
top:-19.5px;
left:1532.16px;
letter-spacing:-1.88px;
}
.s_1_Chapter_15-16-1_151
{
position:absolute;
top:380.5px;
left:0px;
}
.s_1_Chapter_15-16-1_152
{
position:absolute;
top:380.5px;
left:454.21px;
letter-spacing:-0.71px;
}
.s_1_Chapter_15-16-1_153
{
position:absolute;
top:380.5px;
left:1043.37px;
letter-spacing:-2.15px;
}
.s_1_Chapter_15-16-1_154
{
position:absolute;
top:380.5px;
left:1934.38px;
letter-spacing:-0.82px;
}
.s_1_Chapter_15-16-1_155
{
position:absolute;
top:780.5px;
left:0px;
letter-spacing:-2.6px;
}
.s_1_Chapter_15-16-1_156
{
position:absolute;
top:780.5px;
left:405.33px;
}
.s_1_Chapter_15-16-1_157
{
position:absolute;
top:780.5px;
left:804.68px;
text-rendering:optimizeLegibility;
letter-spacing:-0.26px;
}
.s_1_Chapter_15-16-1_158
{
position:absolute;
top:780.5px;
left:1343.91px;
letter-spacing:-0.63px;
}
.s_1_Chapter_15-16-1_159
{
position:absolute;
top:780.5px;
left:2105.7px;
letter-spacing:-0.45px;
}
.s_1_Chapter_15-16-1_160
{
position:absolute;
top:1180.5px;
left:0px;
letter-spacing:-0.35px;
}
.s_1_Chapter_15-16-1_161
{
position:absolute;
top:1180.5px;
left:739.69px;
letter-spacing:-1px;
}
.s_1_Chapter_15-16-1_162
{
position:absolute;
top:1180.5px;
left:1406.58px;
}
.s_1_Chapter_15-16-1_163
{
position:absolute;
top:1180.5px;
left:1683.21px;
letter-spacing:-0.65px;
}
.s_1_Chapter_15-16-1_164
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-1.99px;
}
.s_1_Chapter_15-16-1_165
{
position:absolute;
top:-19.5px;
left:291.46px;
letter-spacing:-1.1px;
}
.s_1_Chapter_15-16-1_166
{
position:absolute;
top:-19.5px;
left:1297.9px;
letter-spacing:-0.31px;
}
.s_1_Chapter_15-16-1_167
{
position:absolute;
top:-19.5px;
left:2869.57px;
letter-spacing:-3.21px;
}
.s_1_Chapter_15-16-1_168
{
position:absolute;
top:-19.5px;
left:3164.41px;
}
.s_1_Chapter_15-16-1_169
{
position:absolute;
top:-19.5px;
left:4074.66px;
letter-spacing:-0.22px;
}
.s_1_Chapter_15-16-1_170
{
position:absolute;
top:-19.5px;
left:5691.07px;
letter-spacing:-1.47px;
}
.s_1_Chapter_15-16-1_171
{
position:absolute;
top:-19.5px;
left:5965.1px;
letter-spacing:-0.71px;
}
.s_1_Chapter_15-16-1_172
{
position:absolute;
top:-19.5px;
left:6921.11px;
letter-spacing:-1.97px;
}
.s_1_Chapter_15-16-1_173
{
position:absolute;
top:437.19px;
left:0px;
}
.s_1_Chapter_15-16-1_174
{
position:absolute;
top:437.19px;
left:305.23px;
letter-spacing:-0.22px;
}
.s_1_Chapter_15-16-1_175
{
position:absolute;
top:437.19px;
left:1133.33px;
letter-spacing:-1.85px;
}
.s_1_Chapter_15-16-1_176
{
position:absolute;
top:437.19px;
left:2318.14px;
letter-spacing:-2.17px;
}
.s_1_Chapter_15-16-1_177
{
position:absolute;
top:437.19px;
left:2601.54px;
}
.s_1_Chapter_15-16-1_178
{
position:absolute;
top:437.19px;
left:3489.16px;
}
.s_1_Chapter_15-16-1_179
{
position:absolute;
top:437.19px;
left:4273.58px;
}
.s_1_Chapter_15-16-1_180
{
position:absolute;
top:437.19px;
left:4511.99px;
letter-spacing:0px;
}
.s_1_Chapter_15-16-1_181
{
position:absolute;
top:437.19px;
left:5735.01px;
letter-spacing:-3.7px;
}
.s_1_Chapter_15-16-1_182
{
position:absolute;
top:437.19px;
left:6433.37px;
letter-spacing:0px;
}
.s_1_Chapter_15-16-1_183
{
position:absolute;
top:437.19px;
left:6730.29px;
letter-spacing:-1.71px;
}
.s_1_Chapter_15-16-1_184
{
position:absolute;
top:437.19px;
left:7605.17px;
letter-spacing:-0.31px;
}
.s_1_Chapter_15-16-1_185
{
position:absolute;
top:-19.5px;
left:203.32px;
letter-spacing:-1.69px;
}
.s_1_Chapter_15-16-1_186
{
position:absolute;
top:-19.5px;
left:0px;
letter-spacing:-0.95px;
}
.s_1_Chapter_15-16-1_187
{
position:absolute;
top:-19.5px;
left:391.04px;
}
.s_1_Chapter_15-16-1_188
{
position:absolute;
top:-19.5px;
left:643.49px;
}
.s_1_Chapter_15-16-1_189
{
position:absolute;
top:-19.5px;
left:1097.7px;
letter-spacing:-0.85px;
}
.s_1_Chapter_15-16-1_190
{
position:absolute;
top:-19.5px;
left:1945.03px;
letter-spacing:-2.68px;
}
.s_1_Chapter_15-16-1_191
{
position:absolute;
top:-19.5px;
left:2248.96px;
letter-spacing:-1.04px;
}
.s_1_Chapter_15-16-1_192
{
position:absolute;
top:320.5px;
left:0px;
}
.s_1_Chapter_15-16-1_193
{
position:absolute;
top:320.5px;
left:1631.74px;
}
.s_1_Chapter_15-16-1_194
{
position:absolute;
top:320.5px;
left:2405.74px;
letter-spacing:-1.82px;
}
.s_1_Chapter_15-16-1_195
{
position:absolute;
top:320.5px;
left:2858.92px;
letter-spacing:-0.45px;
}
.s_1_Chapter_15-16-1_196
{
position:absolute;
top:660.5px;
left:0px;
letter-spacing:-0.72px;
}
.s_1_Chapter_15-16-1_197
{
position:absolute;
top:660.5px;
left:1043.1px;
letter-spacing:-0.58px;
}
.s_1_Chapter_15-16-1_198
{
position:absolute;
top:660.5px;
left:2746.86px;
letter-spacing:-0.45px;
}
.s_1_Chapter_15-16-1_199
{
position:absolute;
top:1000.5px;
left:0px;
letter-spacing:-0.67px;
}
.s_1_Chapter_15-16-1_200
{
position:absolute;
top:1000.5px;
left:1011.13px;
}
.s_1_Chapter_15-16-1_201
{
position:absolute;
top:1000.5px;
left:1628.88px;
}
.s_1_Chapter_15-16-1_202
{
position:absolute;
top:1000.5px;
left:1763.3px;
}
.s_1_Chapter_15-16-1_203
{
position:absolute;
top:1000.5px;
left:2274.45px;
letter-spacing:-1.17px;
}
.s_1_Chapter_15-16-1_204
{
position:absolute;
top:1000.5px;
left:3020.64px;
}
.s_1_Chapter_15-16-1_205
{
position:absolute;
top:1340.5px;
left:0px;
letter-spacing:-0.63px;
}
.s_1_Chapter_15-16-1_206
{
position:absolute;
top:1340.5px;
left:761.79px;
letter-spacing:-0.45px;
}
.s_1_Chapter_15-16-1_207
{
position:absolute;
top:1340.5px;
left:1264.88px;
letter-spacing:-1.62px;
}
.s_1_Chapter_15-16-1_208
{
position:absolute;
top:1340.5px;
left:1760.7px;
letter-spacing:-2.68px;
}
.s_1_Chapter_15-16-1_209
{
position:absolute;
top:1340.5px;
left:2064.63px;
letter-spacing:-0.65px;
}
.s_1_Chapter_15-16-1_210
{
position:absolute;
top:1680.5px;
left:0px;
letter-spacing:-0.71px;
}
.s_1_Chapter_15-16-1_211
{
position:absolute;
top:1680.5px;
left:548.33px;
}
.s_1_Chapter_15-16-1_212
{
position:absolute;
top:1680.5px;
left:1873.02px;
letter-spacing:-2.6px;
}
.s_1_Chapter_15-16-1_213
{
position:absolute;
top:1680.5px;
left:2273.93px;
}
.s_1_Chapter_15-16-1_214
{
position:absolute;
top:2020.5px;
left:0px;
letter-spacing:-0.71px;
}
.s_1_Chapter_15-16-1_215
{
position:absolute;
top:2020.5px;
left:589.16px;
letter-spacing:-2.15px;
}
.s_1_Chapter_15-16-1_216
{
position:absolute;
top:2020.5px;
left:1480.17px;
letter-spacing:-0.82px;
}
.s_1_Chapter_15-16-1_217
{
position:absolute;
top:2020.5px;
left:2130.68px;
}
.s_1_Chapter_15-16-1_218
{
position:absolute;
top:2020.5px;
left:2407.31px;
letter-spacing:-0.78px;
}
.s_1_Chapter_15-16-1_219
{
position:absolute;
top:-19.5px;
left:163.41px;
letter-spacing:-2.08px;
}
.s_1_Chapter_15-16-1_220
{
position:absolute;
top:-19.5px;
left:166.92px;
letter-spacing:-2.08px;
}
.s_1_Chapter_15-16-1_221
{
position:absolute;
top:-19.5px;
left:165.36px;
}
.s_1_Chapter_15-16-1_222
{
position:absolute;
top:-19.5px;
left:165.62px;
letter-spacing:-1.3px;
}
.s_1_Chapter_15-16-1_223
{
position:absolute;
top:-19.5px;
left:160.94px;
letter-spacing:-2.08px;
}
.s_1_Chapter_15-16-1_224
{
position:absolute;
top:-19.5px;
left:182.13px;
letter-spacing:-10.92px;
}

.page53_position1 {
	position:absolute;
	top: 283px;
	left: 258px;
	/*border: 1px solid red;*/
}
.page53_position2 {
	position:absolute;
	top: 278px;
	left: 470px;
	/*border: 1px solid red;*/
}
.page53_position3 {
	position:absolute;
	top: 423px;
	left: 302px;
	/*border: 1px solid red;*/
}
.page53_position4 {
	position:absolute;
	top: 438px;
	left: 463px;
	/*border: 1px solid red;*/
}
.page53_position5 {
	position:absolute;
	top: 574px;
	left: 258px;
	/*border: 1px solid red;*/
}
.page53_position6 {
	position:absolute;
	top: 568px;
	left: 461px;
	/*border: 1px solid red;*/
}
.page53_position7 {
	position:absolute;
	top: 677px;
	left: 431px;
	/*border: 1px solid red;*/
}
.page53_btn1 {
	position:absolute;
	top: 780px;
	left: 332px;
}
.page53_btn2 {
	position:absolute;
	top: 780px;
	left: 275px;
}
